Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @veblush, @gnossen, @apolcyn, @markdroth, @ctiller, @drfloob, @sergiitk, @XuanWang-Amos

[export] Code for testing copybara config. This should not be submitted.
  include/grpc/support/log.h
Owners: none

[OTel] Generate pkg-config file for grpcpp_otel_plugin (#36686) (#36721)
  CMakeLists.txt
  examples/cpp/otel/Makefile
  examples/cpp/otel/greeter_callback_client.cc
  examples/cpp/otel/ostream/BUILD
  examples/cpp/otel/ostream/CMakeLists.txt
  examples/cpp/otel/ostream/Makefile
  examples/cpp/otel/ostream/greeter_callback_client.cc
  examples/cpp/otel/ostream/greeter_callback_server.cc
  examples/cpp/otel/util.cc
  examples/cpp/otel/util.h
  templates/CMakeLists.txt.template
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
Owners: none

Added deprecation warning for future unsupported Python version
  src/python/grpcio/grpc/__init__.py
Owners: none

x
  src/core/lib/resource_quota/arena.cc
  src/core/lib/resource_quota/arena.h
  src/core/lib/resource_quota/memory_quota.cc
  test/core/resource_quota/arena_test.cc
Owners: none

x
  src/core/lib/resource_quota/arena.h
Owners: none

Automated change: Fix sanity tests
  src/core/lib/resource_quota/arena.cc
  test/core/resource_quota/arena_test.cc
Owners: none

x
  src/core/client_channel/client_channel_filter.cc
  src/core/lib/channel/context.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
Owners: @markdroth

x
  src/core/lib/channel/context.h
Owners: none

Testing copybara configs. Dont submit this
  include/grpc/support/log.h
Owners: none

Update chttp2_server.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
Owners: none

x
  src/core/client_channel/client_channel_filter.cc
  src/core/client_channel/client_channel_filter.h
  src/core/client_channel/load_balanced_call_destination.cc
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/channel/context.h
  src/core/lib/surface/call.cc
  src/core/server/server_call_tracer_filter.cc
  src/core/telemetry/call_tracer.cc
  src/core/telemetry/call_tracer.h
  src/core/telemetry/metrics.cc
  src/core/telemetry/metrics.h
Owners: @markdroth, @ctiller

x
  src/core/lib/channel/context.h
Owners: none

x
  src/core/client_channel/client_channel.cc
  src/core/client_channel/client_channel_filter.cc
  src/core/client_channel/client_channel_internal.h
  src/core/client_channel/retry_filter.cc
  src/core/client_channel/retry_filter.h
  src/core/client_channel/retry_filter_legacy_call_data.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/ext/filters/rbac/rbac_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/lib/channel/context.h
  src/core/lib/resource_quota/arena.h
  src/core/resolver/xds/xds_resolver.cc
  src/core/server/server_config_selector_filter.cc
  src/core/service_config/service_config_call_data.h
  src/core/service_config/service_config_channel_arg_filter.cc
Owners: @markdroth

x
  src/core/lib/channel/context.h
  src/core/load_balancing/lb_policy.h
Owners: @markdroth

x
  src/core/BUILD
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_provider.h
  src/core/lib/channel/context.h
  src/cpp/server/server_context.cc
Owners: none

gen_proj
  CMakeLists.txt
  build_autogenerated.yaml
Owners: none

.github/CODEOWNERS:

/bazel/** @veblush @gnossen
/bazel/experiments.yaml
/cmake/** @veblush @apolcyn
/src/core/client_channel/** @markdroth
/src/core/ext/transport/chttp2/transport/** @ctiller
/src/core/load_balancing/** @markdroth
/src/core/resolver/** @markdroth
/src/core/server/xds* @markdroth
/src/core/service_config/** @markdroth
/src/core/xds/** @markdroth
/tools/dockerfile/** @drfloob @apolcyn @gnossen
/tools/run_tests/xds_k8s_test_driver/** @sergiitk @XuanWang-Amos @gnossen
