Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn, @ctiller, @sergiitk, @XuanWang-Amos

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @a11r
/bazel/** @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/src/core/ext/transport/chttp2/transport/** @ctiller
/src/core/ext/xds/** @markdroth
/src/core/lib/resolver/** @markdroth
/src/core/lib/service_config/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn
/tools/run_tests/xds_k8s_test_driver/** @sergiitk @XuanWang-Amos @gnossen

move connectivity state to SubchannelEntry
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

fix build
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Update protoc.py for the error pkg_resources deprecated in grpc_tools/protoc.py
  tools/distrib/python/grpcio_tools/grpc_tools/protoc.py
Owners: none

Fix requirements
  tools/distrib/python/grpcio_tools/setup.py
Owners: none

Performance: allow to configure BigQuery project
  tools/run_tests/performance/bq_upload_result.py
Owners: none

Fixes missing include for promise_like.h
  src/core/lib/promise/detail/promise_like.h
Owners: none

Replace include of promise_like.h with abseil defined implementation
  src/core/lib/promise/detail/promise_like.h
Owners: none

Update README.md
  src/php/README.md
Owners: none

Fixed the bazel distrib tests with Bazel 7
  test/distrib/bazel/cpp/.bazelrc
  test/distrib/bazel/python/.bazelrc
  test/distrib/bazel/python_second_test_repo/.bazelrc
Owners: none

Added bzlmod to the doc
  BUILDING.md
  doc/bazel_support.md
  templates/doc/bazel_support.md.template
Owners: none

Fixed bazel tests for 7 (#35390)
  BUILDING.md
  doc/bazel_support.md
  templates/doc/bazel_support.md.template
  test/distrib/bazel/cpp/.bazelrc
  test/distrib/bazel/python/.bazelrc
  test/distrib/bazel/python_second_test_repo/.bazelrc
Owners: none

[EventEngine] Improve PosixEventEngine::ConnectInternal error handling (#35356)
  src/core/lib/event_engine/posix_engine/posix_engine.cc
Owners: none

Refactor
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Owners: none

fix code such that tests actually pass
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

add lock annotations
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

a bit of cleanup
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

clang-format
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

remove unnecessary declaration
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Fix _dockerized_genrule
  tools/bazelify_tests/build_defs.bzl
Owners: none

move policy ref back to subchannel wrapper to fix edge cases
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Disable distribtest_python with Bazel 7
  tools/bazelify_tests/test/bazel_distribtests.bzl
Owners: none

fixup: init reading the ADS stream in LRS
  src/core/ext/xds/xds_client.cc
Owners: @markdroth

fixup: only read for current call.
  src/core/ext/xds/xds_client.cc
Owners: @markdroth

Fix sanity test
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Owners: none

use raw pointer instead of weak ref
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Remove unnecessary comments
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Owners: none

don't need an atomic for connectivity state
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

fixup: code review comments
  src/core/ext/xds/xds_transport_grpc.cc
  test/core/xds/BUILD
  test/core/xds/xds_client_fuzzer.cc
  test/core/xds/xds_client_test.cc
  test/core/xds/xds_transport_fake.cc
  test/core/xds/xds_transport_fake.h
Owners: @markdroth

Automated change: Fix sanity tests
  test/core/xds/xds_transport_fake.h
Owners: none

Update README.md
  src/php/README.md
Owners: none

[SSA] improve lifetime management of subchannel map (#35379)
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Read roots.pem from any bundle.
  src/objective-c/GRPCClient/private/GRPCCore/GRPCSecureChannelFactory.mm
Owners: none

Fix Bazel 7 build (more) (#35392)
  tools/bazelify_tests/build_defs.bzl
  tools/bazelify_tests/test/bazel_distribtests.bzl
Owners: none

[xDS] read connection idle timeout from CDS resource
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/http_protocol_options.proto
  src/proto/grpc/testing/xds/v3/protocol.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/xds/BUILD
  test/core/xds/xds_cluster_resource_type_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Owners: @markdroth

upb codegen
  BUILD
  src/core/ext/upb-gen/envoy/extensions/upstreams/http/v3/http_protocol_options.upb.h
  src/core/ext/upb-gen/envoy/extensions/upstreams/http/v3/http_protocol_options.upb_minitable.c
  src/core/ext/upb-gen/envoy/extensions/upstreams/http/v3/http_protocol_options.upb_minitable.h
  src/core/ext/upbdefs-gen/envoy/extensions/upstreams/http/v3/http_protocol_options.upbdefs.c
  src/core/ext/upbdefs-gen/envoy/extensions/upstreams/http/v3/http_protocol_options.upbdefs.h
Owners: none

track last used time
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

[EventEngine] Adjust visibility of event_engine_base_hdrs and //src/core:useful targets
  BUILD
  bazel/grpc_build_system.bzl
  src/core/BUILD
Owners: @jtattermusch, @veblush, @gnossen

fixup: code review comments
  test/core/xds/xds_client_fuzzer.cc
  test/core/xds/xds_client_test.cc
  test/core/xds/xds_transport_fake.cc
  test/core/xds/xds_transport_fake.h
Owners: none

fix
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/lib/promise/status_flag.h
  src/core/lib/promise/try_join.h
  src/core/lib/surface/server.cc
  src/core/lib/transport/transport.cc
  test/core/promise/try_join_test.cc
Owners: none

fixup: code review comments
  test/core/xds/xds_client_fuzzer.cc
  test/core/xds/xds_transport_fake.cc
  test/core/xds/xds_transport_fake.h
Owners: none
