Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn

Second attempt: XdsClient: refactor transport code to make it injectable (#30225)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/ext/xds/xds_transport.h
  src/core/ext/xds/xds_transport_grpc.cc
  src/core/ext/xds/xds_transport_grpc.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Owners: @markdroth

Automated change: Fix sanity tests
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/event_engine/default_event_engine_factory.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Owners: none

gtestify test/core/security (#30199)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/security/BUILD
  test/core/security/alts_security_connector_test.cc
  test/core/security/auth_context_test.cc
  test/core/security/check_gcp_environment_linux_test.cc
  test/core/security/check_gcp_environment_windows_test.cc
  test/core/security/grpc_alts_credentials_options_test.cc
  test/core/security/json_token_test.cc
  test/core/security/jwt_verifier_test.cc
  test/core/security/secure_endpoint_test.cc
  test/core/security/security_connector_test.cc
  test/core/security/ssl_credentials_test.cc
  tools/run_tests/generated/tests.json
Owners: none

Revert "[build] Automate deps for grpc_base (#29995)" (#30234)
  BUILD
Owners: none

gtestify test/core/security (#30199)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/handshake/BUILD
  test/core/handshake/client_ssl.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/handshake/server_ssl.cc
  tools/run_tests/generated/tests.json
Owners: none

Fix
  test/core/handshake/client_ssl.cc
Owners: none

fix
  BUILD
Owners: none

Automated change: Fix sanity tests
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_transport_grpc.cc
  src/core/ext/xds/xds_transport_grpc.h
  src/core/lib/security/transport/client_auth_filter.cc
Owners: @markdroth

xds interop: Afinity tests supported in C++ after 1.48
  tools/run_tests/xds_k8s_test_driver/tests/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/affinity_test.py
Owners: none

Changed num_threads
  test/cpp/end2end/thread_stress_test.cc
Owners: none

outlier detection: improve trace logging
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
Owners: @markdroth

fix
  src/core/lib/channel/channel_args.cc
Owners: none

Automated change: Fix sanity tests
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
Owners: @markdroth

ObjC: Optional support skip methods with types without prefixes.
  src/compiler/objective_c_generator.cc
  src/compiler/objective_c_generator_helpers.h
Owners: none

Automated change: Fix sanity tests
  src/core/lib/security/transport/client_auth_filter.cc
Owners: none

client_lb_end2end_test: fix flake in RoundRobin.SingleReconnect test (#30229)
  test/cpp/end2end/client_lb_end2end_test.cc
Owners: none

Revert "Reland: Add SRV and TXT record lookup methods to the iomgr API (#30206)"
  BUILD
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/surface/server_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/resolve_localhost_ip46.cc
Owners: @markdroth

Include an invalid config to custom LB test
  tools/run_tests/xds_k8s_test_driver/tests/custom_lb_test.py
Owners: none

fix
  src/core/lib/security/transport/client_auth_filter.cc
Owners: none

gtestify test/core/handshake (#30207)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/handshake/BUILD
  test/core/handshake/client_ssl.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/handshake/server_ssl.cc
  tools/run_tests/generated/tests.json
Owners: none

temporarily disable failover test
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Owners: none

outlier detection: improve trace logging (#30239)
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
Owners: @markdroth

Include an invalid config to custom LB test (#30236)
  tools/run_tests/xds_k8s_test_driver/tests/custom_lb_test.py
Owners: none

Fix the import, allow CPP and Node to run
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Owners: none

xds interop test: temporarily disable failover test (#30243)
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Owners: none

Automated change: Fix sanity tests
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
Owners: @markdroth

test
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/executor/mpmcqueue.cc
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/executor/threadpool.cc
  src/core/lib/iomgr/executor/threadpool.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/BUILD
  test/core/iomgr/mpmcqueue_test.cc
  test/core/iomgr/threadpool_test.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_threadpool.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Owners: none

Revert "Reland: Add SRV and TXT record lookup methods to the iomgr PAI (#30242)
  BUILD
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/surface/server_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/resolve_localhost_ip46.cc
Owners: @markdroth

Minor changes for review
  test/core/memory_usage/memory_usage_test.cc
  tools/profiling/memory/memory_diff.py
Owners: none

build fix
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
Owners: none

Revert "Revert "Reland: Add SRV and TXT record lookup methods to the iomgr PAI (#30242)"
  BUILD
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/surface/server_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/resolve_localhost_ip46.cc
Owners: @markdroth

release lock before unreffing
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
Owners: @markdroth

fix build
  BUILD
Owners: none

Automated change: Fix sanity tests
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
Owners: none

Allow Gradle to use more memory when building Java interop
  templates/tools/dockerfile/java_build_interop.sh.include
  tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh
Owners: @jtattermusch, @apolcyn

ring hash: fix picker propagation bug in xds_cluster_manager policy (#29959)
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Owners: @markdroth

Increase QPS, use just one method
  tools/run_tests/xds_k8s_test_driver/tests/outlier_detection_test.py
Owners: none

[iomgr] Remove executor/...
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/executor/mpmcqueue.cc
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/executor/threadpool.cc
  src/core/lib/iomgr/executor/threadpool.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/BUILD
  test/core/iomgr/mpmcqueue_test.cc
  test/core/iomgr/threadpool_test.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_threadpool.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Owners: none

x
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
Owners: none

fix missing dep
  BUILD
Owners: none

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @a11r
/bazel/** @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/src/core/ext/xds/** @markdroth
/src/core/lib/resolver/** @markdroth
/src/core/lib/service_config/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn
