Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @nicolasnoble, @a11r, @dgquintas, @vjpai, @jtattermusch, @mehrdada, @AspirinSJL, @ncteisen, @apolcyn

Add channel arg control for user agent
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/http/server/http_server_filter.cc
  test/core/end2end/tests/workaround_cronet_compression.cc
  test/cpp/end2end/end2end_test.cc
Owners: none

Surface user agent by default
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/http/server/http_server_filter.cc
  test/core/end2end/tests/workaround_cronet_compression.cc
  test/cpp/end2end/end2end_test.cc
Owners: none

Revert to use two ref
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_index.cc
Owners: @markdroth, @dgquintas, @AspirinSJL

Don't run a couple of unit tests under c-ares because they rely on an available external name server
  test/core/iomgr/resolve_address_test.cc
Owners: none

Fix leak when reading env variable
  test/core/iomgr/resolve_address_test.cc
Owners: none

WIP. Handling error conditions such as duplicate metadata, metadata size limit, and default count. Clang tidy.
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
Owners: none

exclude less tests from qps
  test/cpp/qps/qps_benchmark_script.bzl
  tools/internal_ci/linux/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_tsan_on_foundry.sh
Owners: none

Fix internal_data to be the same size as the new grpc_linked_mdelem
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/transport/metadata_batch.cc
  test/core/end2end/tests/authority_not_supported.cc
  test/core/end2end/tests/binary_metadata.cc
  test/core/end2end/tests/simple_cacheable_request.cc
  test/core/end2end/tests/simple_metadata.cc
  test/core/end2end/tests/trailing_metadata.cc
Owners: none

Fix assertion in debugging code
  src/core/lib/transport/metadata_batch.cc
Owners: none

Rename function to suffix it with _locked
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Owners: @markdroth, @dgquintas, @AspirinSJL

naming bugfix
  test/cpp/qps/qps_benchmark_script.bzl
Owners: none

Fix subchannel key comparison if forcing creation
  src/core/ext/filters/client_channel/subchannel_index.cc
Owners: @markdroth, @dgquintas, @AspirinSJL

flipped script argument order
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
Owners: none

Initialize bool
  test/cpp/end2end/client_callback_end2end_test.cc
Owners: none

Provide a generic client-side unary callback API
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/channel.h
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/support/client_callback.h
  src/core/lib/surface/completion_queue.cc
  src/cpp/client/channel_cc.cc
  src/cpp/client/generic_stub.cc
  src/cpp/common/callback_common.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_callback_end2end_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Owners: none

regen projects
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Owners: none

Address reviewer and clang-tidy comments
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/support/client_callback.h
  src/cpp/client/channel_cc.cc
  src/cpp/client/generic_stub.cc
  src/cpp/common/callback_common.cc
Owners: none

Add support for reading channel args
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
Owners: none

Add template-friendly Request function in generated WithAsyncMethod classes
  src/compiler/cpp_generator.cc
Owners: none

Fix test
  test/cpp/end2end/client_lb_end2end_test.cc
Owners: none

Fix tsan
  src/core/ext/filters/client_channel/subchannel_index.cc
Owners: @markdroth, @dgquintas, @AspirinSJL

Zero out md_index when linked_mdelem is created to fix bug
  src/core/lib/surface/call.cc
Owners: none

Zero out linked_mdelem when created in test
  test/core/transport/chttp2/hpack_encoder_test.cc
Owners: none

simplified argument packing
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
Owners: none

use finally instead of catch-throw
  src/csharp/Grpc.Core/Internal/AsyncCall.cs
Owners: none

address review comments
  src/csharp/Grpc.Core/ServerCredentials.cs
  src/csharp/Grpc.IntegrationTesting/SslCredentialsTest.cs
Owners: none

Fix subchannel key comparison
  src/core/ext/filters/client_channel/subchannel_index.cc
  src/core/ext/filters/client_channel/subchannel_index.h
Owners: @markdroth, @dgquintas, @AspirinSJL

fix interop docker build
  templates/tools/dockerfile/interoptest/grpc_interop_dart/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_dart/Dockerfile
Owners: @jtattermusch, @mehrdada, @nicolasnoble

Fix subchannel key comparison
  src/core/ext/filters/client_channel/subchannel_index.cc
  src/core/ext/filters/client_channel/subchannel_index.h
Owners: @markdroth, @dgquintas, @AspirinSJL

reviewer feedback
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/surface/call.cc
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_test.cc
Owners: @markdroth, @dgquintas, @AspirinSJL

reviewer feedback
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  test/core/channel/channelz_test.cc
  test/core/end2end/tests/channelz.cc
Owners: none

reviewer feedback
  src/cpp/server/channelz/channelz_service.cc
  test/cpp/end2end/channelz_service_test.cc
Owners: none

Be cautious and wait for possible error causing callbacks before we treat trailing metadata
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
Owners: none

Also initialize closures again
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
Owners: none

WIP. Setting md_index to 0 on grpc_linked_mdelem creation
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata_batch.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
Owners: none

Clang tidy
  src/core/lib/transport/metadata_batch.cc
Owners: none

Fix objective c unit test and debugging functions
  src/core/lib/transport/transport_op_string.cc
  src/objective-c/tests/CronetUnitTests/CronetUnitTests.m
Owners: none

Clang tidy
  src/core/lib/transport/transport_op_string.cc
Owners: none

Fix mdelem tracing
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Owners: none

Clang tidy
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Owners: none

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @nicolasnoble @a11r
/bazel/** @nicolasnoble @dgquintas @a11r @vjpai
/cmake/** @jtattermusch @nicolasnoble @mehrdada
/src/core/ext/filters/client_channel/** @markdroth @dgquintas @AspirinSJL
/tools/dockerfile/** @jtattermusch @mehrdada @nicolasnoble
/tools/run_tests/performance/** @ncteisen @apolcyn @jtattermusch
