Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn, @ctiller, @sergiitk, @XuanWang-Amos

[OTel] Experimental API for metrics (#35348)
  BUILD
  include/grpcpp/ext/csm_observability.h
  include/grpcpp/ext/otel_plugin.h
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/key_value_iterable.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/csm/BUILD
  test/cpp/ext/csm/metadata_exchange_test.cc
  test/cpp/ext/otel/otel_plugin_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/ext/otel/otel_test_library.h
  test/cpp/interop/observability_client.cc
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Owners: none

[xDS] Delay ADS read when watchers need time (#34942)
  BUILD
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_resource_type_impl.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/ext/xds/xds_transport.h
  src/core/ext/xds/xds_transport_grpc.cc
  src/core/ext/xds/xds_transport_grpc.h
  test/core/xds/xds_client_fuzzer.cc
  test/core/xds/xds_client_test.cc
  test/core/xds/xds_transport_fake.cc
  test/core/xds/xds_transport_fake.h
Owners: @markdroth

started working on tests
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/lib/transport/connectivity_state.h
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Owners: @markdroth

[promises] Deal with promise endpoint deletion whilst read/write is in progress
  src/core/BUILD
  src/core/lib/transport/promise_endpoint.cc
  src/core/lib/transport/promise_endpoint.h
  test/core/transport/promise_endpoint_test.cc
  tools/distrib/fix_build_deps.py
Owners: none

[ssl]: Decrease log level when common name or subject name are not found.
  src/core/tsi/ssl_transport_security.cc
Owners: none

finished tests
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Owners: @markdroth

clang-format
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Owners: @markdroth

fixes
  src/core/lib/transport/promise_endpoint.cc
  src/core/lib/transport/promise_endpoint.h
Owners: none

undo unnecessary change
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
Owners: @markdroth

clang-format
  src/core/ext/filters/client_channel/resolver/xds/xds_dependency_manager.cc
Owners: @markdroth

backward compat story for aggregate clusters
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
Owners: @markdroth

minor tracing improvements
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Allow overwriting grpc_library in python_rules.bzl
  bazel/python_rules.bzl
Owners: @jtattermusch, @veblush, @gnossen

1999
  src/core/lib/promise/party.cc
  src/core/lib/promise/party.h
  test/core/promise/party_test.cc
Owners: none

Fix more broken versioning
  tools/distrib/python/grpcio_tools/grpc_tools/protoc.py
Owners: none

[promises] Deal with promise endpoint deletion whilst read/write is in progress (#35409)
  src/core/BUILD
  src/core/lib/transport/promise_endpoint.cc
  src/core/lib/transport/promise_endpoint.h
  test/core/transport/promise_endpoint_test.cc
  tools/distrib/fix_build_deps.py
Owners: none

fix-test
  test/core/promise/party_test.cc
Owners: none

comment
  test/core/promise/party_test.cc
Owners: none

comment
  src/core/lib/promise/party.h
Owners: none

rename
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_filter.h
Owners: none

x
  bazel/experiments.bzl
  src/core/BUILD
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_filter.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
Owners: @jtattermusch, @veblush, @gnossen

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @a11r
/bazel/** @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/src/core/ext/transport/chttp2/transport/** @ctiller
/src/core/ext/xds/** @markdroth
/src/core/lib/resolver/** @markdroth
/src/core/lib/service_config/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn
/tools/run_tests/xds_k8s_test_driver/** @sergiitk @XuanWang-Amos @gnossen
