Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @nicolasnoble, @a11r, @dgquintas, @vjpai, @jtattermusch, @matt-kwong, @ncteisen

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @nicolasnoble @a11r
/bazel/** @nicolasnoble @dgquintas @a11r @vjpai
/cmake/** @jtattermusch @nicolasnoble @matt-kwong
/src/core/ext/filters/client_channel/** @markdroth @dgquintas @a11r
/tools/dockerfile/** @jtattermusch @matt-kwong @nicolasnoble
/tools/run_tests/performance/** @ncteisen @matt-kwong @jtattermusch

Let cronet use grpc_cronet_registry_plugin
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-Core.podspec
  src/objective-c/tests/Podfile
  templates/gRPC-Core.podspec.template
  tools/run_tests/generated/sources_and_headers.json
Owners: none

Changes \#if forward_declare <forward_decl> \#else <class_imports> \#end in .h files to <forward_decl> \#if <class_imports>
  src/compiler/objective_c_plugin.cc
Owners: none

longer timeout for protoc artifacts on macos
  tools/run_tests/artifacts/artifact_targets.py
Owners: none

Desneak client unary call, avoid Hyrum's Law (used for 1-thread simplicity)
  include/grpcpp/impl/codegen/async_unary_call.h
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/nonblocking_test.cc
  test/cpp/microbenchmarks/bm_fullstack_trickle.cc
  test/cpp/microbenchmarks/fullstack_unary_ping_pong.h
  test/cpp/performance/writes_per_rpc_test.cc
Owners: none

Add config files for linux_extra artifacts
  tools/internal_ci/linux/grpc_build_artifacts_extra.cfg
  tools/internal_ci/linux/grpc_build_artifacts_extra.sh
Owners: none

Explicitly specify: no tag -> no promise of work
  include/grpcpp/impl/codegen/async_unary_call.h
  include/grpcpp/impl/codegen/completion_queue.h
Owners: none

Revert "Disabled the json_run_localhost:*_low_thread_count family of tests"
  test/cpp/qps/gen_build_yaml.py
  tools/run_tests/generated/tests.json
Owners: none

regenerate projects
  tools/run_tests/generated/tests.json
Owners: none

[grpc] Add SSL session client cache support
  BUILD
  build.yaml
  include/grpc/grpc_security.h
  include/grpc/grpc_security_constants.h
  include/grpc/impl/codegen/grpc_types.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/tsi/ssl/session_cache/ssl_session.h
  src/core/tsi/ssl/session_cache/ssl_session_boringssl.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/core/tsi/ssl/session_cache/ssl_session_openssl.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/python/grpcio_tests/tests/unit/_auth_context_test.py
  test/core/end2end/BUILD
  test/core/end2end/h2_ssl_session_reuse_test.cc
  test/core/tsi/BUILD
  test/core/tsi/ssl_session_cache_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Owners: none

regenerate projects
  CMakeLists.txt
  Makefile
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Owners: none

Let cronet use grpc_cronet_registry_plugin
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-Core.podspec
  src/core/plugin_registry/grpc_cronet_plugin_registry.cc
  src/objective-c/tests/Podfile
  templates/gRPC-Core.podspec.template
  tools/run_tests/generated/sources_and_headers.json
Owners: none

Fix flow control bug
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Owners: none

Add message size filter and deadline filter plugins
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-Core.podspec
  src/core/plugin_registry/grpc_cronet_plugin_registry.cc
  tools/run_tests/generated/sources_and_headers.json
Owners: none

load default root certificates only once
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init.h
  src/core/lib/surface/init_secure.cc
  src/core/lib/surface/init_unsecure.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/security/security_connector_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Owners: none

Add implicit conversion operators for compression alg and level
  include/grpcpp/impl/codegen/compression.h
Owners: none

Revert "Verify early OK behavior"
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_compression_test.py
  src/python/grpcio_tests/tests/unit/_early_ok_test.py
  src/python/grpcio_tests/tests/unit/_metadata_code_details_test.py
  src/python/grpcio_tests/tests/unit/_metadata_test.py
  src/python/grpcio_tests/tests/unit/_resource_exhausted_test.py
  summerofcode/ideas.md
Owners: none

server() fills public API role formerly filled by duplicate c_server()
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/server.h
Owners: none

Re-enable some tests for the Node Pure JS interop client
  tools/run_tests/run_interop_tests.py
Owners: none

Use same queue for batch ops and for shutdown in h2_ssl_cert_test
  test/core/end2end/h2_ssl_cert_test.cc
Owners: none

Remove unnecessary comment
  test/core/end2end/h2_ssl_cert_test.cc
Owners: none

Add address sorting submodule for use in c-ares wrapper
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build.yaml
  config.m4
  config.w32
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/python/grpcio/grpc_core_dependencies.py
  templates/CMakeLists.txt.template
  templates/Makefile.template
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/generate_resolver_component_tests.bzl
  third_party/address_sorting/BUILD
  third_party/address_sorting/LICENSE
  third_party/address_sorting/address_sorting.c
  third_party/address_sorting/address_sorting.h
  third_party/address_sorting/address_sorting_internal.h
  third_party/address_sorting/address_sorting_posix.c
  third_party/address_sorting/address_sorting_windows.c
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Owners: @nicolasnoble, @dgquintas, @a11r, @vjpai, @markdroth, @jtattermusch, @matt-kwong

Remove unnecessary header inclusion from address sorting's public header
  third_party/address_sorting/address_sorting.h
  third_party/address_sorting/address_sorting_internal.h
Owners: none

Reorganize cmake rules for address sorting; also fix merge conflict
  CMakeLists.txt
  cmake/address_sorting.cmake
  templates/CMakeLists.txt.template
  test/cpp/naming/address_sorting_test.cc
Owners: @jtattermusch, @nicolasnoble, @matt-kwong

Put address_sorting's public header under its own directory. Also add test_only to sort function used in test.
  Makefile
  build.yaml
  cmake/address_sorting.cmake
  grpc.gemspec
  package.xml
  setup.py
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  templates/Makefile.template
  test/cpp/naming/address_sorting_test.cc
  third_party/address_sorting/BUILD
  third_party/address_sorting/address_sorting_internal.h
  third_party/address_sorting/include/address_sorting/address_sorting.h
  tools/run_tests/generated/sources_and_headers.json
Owners: @jtattermusch, @nicolasnoble, @matt-kwong, @markdroth, @dgquintas, @a11r

Stop relying on certain ipv6 macros. Also bazel build updates.
  bazel/grpc_build_system.bzl
  test/cpp/naming/address_sorting_test.cc
  third_party/address_sorting/address_sorting.bzl
  third_party/address_sorting/address_sorting.c
  third_party/address_sorting/address_sorting_internal.h
Owners: @nicolasnoble, @dgquintas, @a11r, @vjpai

Regenerate projects after rebasing
  CMakeLists.txt
Owners: none

fix resolver_component_tests_runner test in gcc_musl
  templates/tools/dockerfile/test/cxx_alpine_x64/Dockerfile.template
  tools/dockerfile/test/cxx_alpine_x64/Dockerfile
Owners: @jtattermusch, @matt-kwong, @nicolasnoble

fix C# connectivity watcher shutdown race
  src/csharp/Grpc.Core/Channel.cs
Owners: none

fix a test
  src/csharp/Grpc.Core/Channel.cs
Owners: none

Add test result uploading for RBE builds
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/run_tests/python_utils/upload_rbe_results.py
Owners: none
