Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @nicolasnoble, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn

Simplify Object and improve Health type
  testctrl/svc/orch/health.go
  testctrl/svc/orch/monitor.go
  testctrl/svc/orch/monitor_test.go
  testctrl/svc/orch/object.go
  testctrl/svc/orch/object_test.go
  testctrl/svc/orch/test/container_statuses.go
  testctrl/svc/orch/test/pod.go
Owners: none

Add mutability to the MetadataType
  src/python/grpcio/grpc/experimental/aio/_metadata.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_metadata_test.py
Owners: none

[aio] Metadata type: Fix tests & __repr__
  src/python/grpcio/grpc/experimental/aio/_metadata.py
  src/python/grpcio_tests/tests/unit/_metadata_test.py
Owners: none

[issue21953] Move tests to the aio part
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_metadata_test.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_metadata_test.py
Owners: none

[issue21953] Fix typing in Metadata class definitions
  src/python/grpcio/grpc/experimental/aio/_metadata.py
Owners: none

Apply PR feedback
  src/python/grpcio/grpc/experimental/aio/_metadata.py
  src/python/grpcio_tests/tests/unit/_metadata_test.py
Owners: none

Initial modelling of the metadata abstraction
  src/python/grpcio/grpc/experimental/aio/_metadata.py
  src/python/grpcio_tests/tests/unit/_metadata_test.py
Owners: none

Moved k[Min/Max]FrameSize variables to header file.
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Owners: none

clang-tidy
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/lrs.cc
Owners: @markdroth

revert unnecessary change
  src/core/ext/filters/client_channel/lb_policy/xds/xds.h
Owners: @markdroth

xds: NACK EDS update with sparse priorities
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

update new code to use new upb map API
  src/core/ext/filters/client_channel/xds/xds_api.cc
Owners: @markdroth

Fix repo manager assignments
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Owners: none

[issue21953] Fix import in test
  src/python/grpcio_tests/tests_aio/unit/_metadata_test.py
Owners: none

Add requirements.txt
  examples/python/xds/README.md
  examples/python/xds/requirements.txt
  examples/python/xds/server.py
Owners: none

update service config parsing as per recent spec change
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/service_config.h
  src/core/lib/slice/slice_internal.h
  test/core/client_channel/service_config_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
Owners: @markdroth

Add experimental docker image for benchmark driver
  testctrl/kubernetes/images/driver/Dockerfile
  testctrl/kubernetes/images/driver/run.sh
Owners: none

Pass repo manager duty to nicolasnoble.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Owners: none

remove duplicate line from bad merge
  src/core/ext/filters/client_channel/service_config.cc
Owners: @markdroth

Added "grpc" to pkg-config --libs
  examples/cpp/helloworld/Makefile
Owners: none

fix clang-format issue
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
Owners: none

Downgrade info logs to debug
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Owners: none

Upgrade the server stop log to warning
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Owners: none

Remove all std::mem_fn and std::bind from service definitions and setup
  include/grpcpp/impl/codegen/method_handler_impl.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Owners: none

Eliminates suspicious exceptions in test logs
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_tests/tests_aio/interop/local_interop_test.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/client_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/close_channel_test.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
  src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py
Owners: none

Add env variables to kubernetes specs
  testctrl/svc/orch/spec_builder.go
  testctrl/svc/orch/spec_builder_test.go
  testctrl/svc/types/component.go
Owners: none

Add scenario parsing to/from json
  testctrl/cmd/orchtest/main.go
  testctrl/svc/orch/spec_builder.go
Owners: none

Corrected method name.
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Owners: none

Remove broken link in README.md
  testctrl/README.md
Owners: none

Fix typo
  include/grpcpp/impl/codegen/sync_stream_impl.h
Owners: none

Add Apache-2.0 headers and fix format issues
  testctrl/auth/auth.go
  testctrl/cmd/orchtest/main.go
  testctrl/cmd/svc/main.go
  testctrl/proto/build.sh
  testctrl/svc/orch/controller.go
  testctrl/svc/orch/health.go
  testctrl/svc/orch/monitor.go
  testctrl/svc/orch/monitor_test.go
  testctrl/svc/orch/object.go
  testctrl/svc/orch/object_test.go
  testctrl/svc/orch/spec_builder.go
  testctrl/svc/orch/spec_builder_test.go
  testctrl/svc/orch/test/container_statuses.go
  testctrl/svc/orch/test/pod.go
  testctrl/svc/types/component.go
  testctrl/svc/types/component_test.go
  testctrl/svc/types/doc.go
  testctrl/svc/types/event.go
  testctrl/svc/types/event_test.go
  testctrl/svc/types/resource_namer.go
  testctrl/svc/types/session.go
  testctrl/svc/types/session_test.go
  testctrl/svc/types/test/component_builder.go
  testctrl/svc/types/test/session_builder.go
  testctrl/svc/version.go
Owners: none

Reviewer comments
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/subchannel.h
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
Owners: @markdroth

Added grpc-kotlin interop test
  src/python/grpcio/grpc/_grpcio_metadata.py
  tools/dockerfile/interoptest/grpc_interop_kotlin/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_kotlin/build_interop.sh
  tools/run_tests/run_interop_tests.py
Owners: @jtattermusch, @apolcyn, @nicolasnoble

Improve readability and fix wording
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
Owners: none

Fixed memory leak.
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Owners: none

Reviewer comments
  src/core/ext/filters/client_channel/subchannel.h
Owners: @markdroth

fixed the scripts / dockerfile
  templates/tools/dockerfile/kotlin_build_interop.sh.include
  tools/run_tests/dockerize/build_interop_image.sh
Owners: none

Merge pull request #22468 from markdroth/xds_eds_priority_validation
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

Add controller implementation
  testctrl/svc/orch/controller.go
  testctrl/svc/orch/object.go
  testctrl/svc/orch/spec_builder.go
  testctrl/svc/types/component.go
Owners: none

xds: Add tests showing that we do not use localities with no endpoints.
  test/cpp/end2end/xds_end2end_test.cc
Owners: none

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @nicolasnoble @a11r
/bazel/** @nicolasnoble @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @nicolasnoble @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn @nicolasnoble
