Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn, @ctiller, @sergiitk, @XuanWang-Amos

fix error in conflict resolve, run clang format
  src/core/ext/transport/binder/transport/binder_transport.cc
Owners: none

[OTel] Update OTel Bazel dep to v1.13.0 (#35352)
  bazel/grpc_deps.bzl
Owners: @jtattermusch, @veblush, @gnossen

one more conflict resolution error
  src/core/ext/transport/binder/transport/binder_transport.cc
Owners: none

Automated change: Fix sanity tests
  src/cpp/client/cronet_credentials.cc
Owners: none

Automated change: Fix sanity tests
  test/core/end2end/h2_ssl_cert_test.cc
Owners: none

[export] [OTel] Update OTel Bazel dep to v1.13.0 (#35352)
  bazel/grpc_deps.bzl
Owners: @jtattermusch, @veblush, @gnossen

update variable names in the test too
  test/core/transport/binder/binder_transport_test.cc
Owners: none

[export] Google-internal change.
  include/grpc/support/atm_gcc_atomic.h
  include/grpc/support/atm_gcc_sync.h
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.h
  src/core/lib/iomgr/timer_generic.h
Owners: none

tidy
  test/core/transport/binder/binder_transport_test.cc
Owners: none

really update var names in test
  test/core/transport/binder/binder_transport_test.cc
Owners: none

[export] rs_bindings_from_cc: Prefix target names starting with a digit with 'n'.
  include/grpc/support/atm_gcc_atomic.h
  include/grpc/support/atm_gcc_sync.h
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.h
  src/core/lib/iomgr/timer_generic.h
Owners: none

[Python run_test] Support Python3.12 (#35325)
  templates/tools/dockerfile/compile_python_312.include
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/test/python_debian11_default_x64.current_version
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/run_tests.py
Owners: @jtattermusch, @apolcyn

fixup: let go of the ref
  src/core/ext/xds/xds_transport_grpc.cc
Owners: @markdroth

almost worked
  test/core/util/BUILD
  test/core/util/fake_stats_plugin.cc
  test/core/util/fake_stats_plugin.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
Owners: none

remove MockClientCallTracer
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
Owners: none

[tls] Fix incorrect use of certificate verification callbacks
  src/core/tsi/ssl_transport_security.cc
Owners: none

[Deps] Update protobuf & upb to 3.25.1 (#35315)
  bazel/grpc_deps.bzl
  build_handwritten.yaml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  third_party/README.md
  third_party/protobuf.patch
  third_party/upb/.bazelci/presubmit.yml
  third_party/upb/.bazelignore
  third_party/upb/.bazelrc
  third_party/upb/.clang-format
  third_party/upb/.github/actions/setup-bazel-cache/action.yml
  third_party/upb/.github/workflows/bazel_tests.yml
  third_party/upb/.github/workflows/clang_format.yml
  third_party/upb/.github/workflows/generate_files.yml
  third_party/upb/.github/workflows/mergeable.yml
  third_party/upb/.github/workflows/python_tests.yml
  third_party/upb/.gitignore
  third_party/upb/upb/reflection/def_pool.h
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/protoc_lib_deps.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/run_tests/sanity/check_submodules.sh
Owners: @jtattermusch, @veblush, @gnossen

Changes based on comments
  src/python/grpcio_observability/grpc_observability/_open_telemetry_plugin.py
  src/python/grpcio_observability/setup.py
Owners: none

[CSM] Add support for GCE resources
  src/cpp/ext/csm/metadata_exchange.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
Owners: none

works now
  test/core/util/fake_stats_plugin.cc
  test/core/util/fake_stats_plugin.h
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
Owners: none

feedback
  test/core/util/fake_stats_plugin.cc
Owners: none

upgrade build_bazel_rules_apple to 2.0.0, build_bazel_apple_support to 1.3.2
  bazel/grpc_deps.bzl
Owners: @jtattermusch, @veblush, @gnossen

remove empty java WORKSPACE file
  src/core/ext/transport/binder/java/WORKSPACE
Owners: none

Prepared for Bazel 7
  .gitignore
  WORKSPACE
  bazel/grpc_deps.bzl
  test/cpp/naming/BUILD
  tools/bazel.rc
  tools/run_tests/sanity/check_bazel_workspace.py
  tools/run_tests/sanity/check_submodules.sh
Owners: @jtattermusch, @veblush, @gnossen

Fix buildifier
  bazel/grpc_deps.bzl
Owners: @jtattermusch, @veblush, @gnossen

[EventEngine] Add a grpc_take_wrapped_event_engine_endpoint helper method to the shim layer.
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
  src/core/lib/iomgr/event_engine_shims/endpoint.h
Owners: none

Better error message for check_bazel_workspace.py
  tools/run_tests/sanity/check_bazel_workspace.py
Owners: none

Fix
  tools/run_tests/sanity/check_bazel_workspace.py
Owners: none

[Tool] Better error message for check_bazel_workspace.py (#35375)
  tools/run_tests/sanity/check_bazel_workspace.py
Owners: none

[Python AIO] Raise resource_exhausted error in case of concurrent RPC limit exceeded
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Owners: none

Add java patches 1.58.1 and 1.60.1 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Owners: none

[Build] Prepared for Bazel 7 (#35374)
  .gitignore
  WORKSPACE
  bazel/grpc_deps.bzl
  test/cpp/naming/BUILD
  tools/bazel.rc
  tools/run_tests/sanity/check_bazel_workspace.py
  tools/run_tests/sanity/check_submodules.sh
Owners: @jtattermusch, @veblush, @gnossen

Added/Enabled Bazel 7
  WORKSPACE
  bazel/supported_versions.txt
  bazel/update_mirror.sh
  doc/bazel_support.md
  src/core/BUILD
  tools/bazelify_tests/test/supported_bazel_versions.bzl
Owners: @jtattermusch, @veblush, @gnossen

Fix buildifier
  src/core/BUILD
Owners: none

[Tool] Added Bazel 7 basic support (#35362)
  WORKSPACE
  bazel/supported_versions.txt
  bazel/update_mirror.sh
  doc/bazel_support.md
  src/core/BUILD
  tools/bazelify_tests/test/supported_bazel_versions.bzl
Owners: @jtattermusch, @veblush, @gnossen

Refactor test
  src/python/grpcio_observability/grpc_observability/_open_telemetry_plugin.py
  src/python/grpcio_tests/tests/observability/_open_telemetry_observability_test.py
Owners: none

[SSA] fix race condition
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Automated change: Fix sanity tests
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

fix build
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

grab lock where needed
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @a11r
/bazel/** @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/src/core/ext/transport/chttp2/transport/** @ctiller
/src/core/ext/xds/** @markdroth
/src/core/lib/resolver/** @markdroth
/src/core/lib/service_config/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn
/tools/run_tests/xds_k8s_test_driver/** @sergiitk @XuanWang-Amos @gnossen
