Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @nicolasnoble, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @nicolasnoble @a11r
/bazel/** @nicolasnoble @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @nicolasnoble @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn @nicolasnoble

checkout grpc-kotlin in interop prepare script
  tools/internal_ci/helper_scripts/prepare_build_interop_rc
Owners: none

speedup ssl_transport_security_test also on Mac
  test/core/tsi/ssl_transport_security_test.cc
Owners: none

also upload className in upload_rbe_results.py
  tools/run_tests/python_utils/upload_rbe_results.py
Owners: none

Fix debug assert failed on Windows
  src/compiler/python_generator_helpers.h
Owners: none

Merge pull request #22502 from markdroth/xds_drop_all_fix
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

Merge pull request #22426 from grpc/python_xds_client_verbosity
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Owners: none

code review changes
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/lrs.cc
Owners: @markdroth

fix a bug from merging master and some idleness problems
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

Use a more compressable client message
  examples/cpp/compression/greeter_client.cc
Owners: none

Remove forced immutability through getters
  testctrl/svc/orch/controller.go
  testctrl/svc/orch/monitor_test.go
  testctrl/svc/orch/object.go
  testctrl/svc/orch/object_test.go
  testctrl/svc/orch/spec_builder.go
  testctrl/svc/orch/spec_builder_test.go
  testctrl/svc/types/component.go
  testctrl/svc/types/session.go
  testctrl/svc/types/session_test.go
  testctrl/svc/types/test/component_builder.go
  testctrl/svc/types/test/session_builder.go
Owners: none

Reduce number of callback requests registered and enable per-method minimum
  include/grpcpp/server_impl.h
  src/cpp/server/server_cc.cc
Owners: none

Addressing code review comments.
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

Second attempt: grpclb stabilization
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_channel_secure.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/end2end/goaway_server_test.cc
  test/cpp/client/BUILD
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/naming/resolver_component_test.cc
  tools/distrib/check_include_guards.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Owners: @markdroth

Document that AddMultipleHolds argument must be positive
  include/grpcpp/impl/codegen/client_callback_impl.h
Owners: none

Report RPC failures to LB recv_trailing_metadata callbacks.
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

Do a debug-check of API use
  include/grpcpp/impl/codegen/client_callback_impl.h
Owners: none

Include request object in c-ares address sorting trace logs
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  test/cpp/naming/resolver_component_tests_runner.py
Owners: @markdroth

Fix wrong version in gRPCConfigVersion.cmake and grpc++*.pc
  CMakeLists.txt
  templates/CMakeLists.txt.template
Owners: none

Add --path_to_server_binary arg for prebuilt images
  tools/run_tests/run_xds_tests.py
Owners: none

fix race condition when unref handshaker
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
Owners: none

Improve bazel RBE documentation
  tools/remote_build/README.md
Owners: none

Prevent client code from linking with an incompatible gRPC library
  include/grpc/impl/codegen/sync_posix.h
  include/grpcpp/create_channel.h
  include/grpcpp/create_channel_impl.h
  src/core/lib/iomgr/call_combiner.h
  src/cpp/client/create_channel.cc
Owners: none

Fix flakiness in grpclb_end2end_test ReresolveDeadBalancer test case.
  test/cpp/end2end/grpclb_end2end_test.cc
Owners: none

Merge pull request #22525 from markdroth/xds_lrs_fix
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

Fix flakiness in grpclb SingleBalancerWithClientLoadReportingTest.Vanilla test.
  test/cpp/end2end/grpclb_end2end_test.cc
Owners: none

update template
  templates/test/cpp/naming/resolver_component_tests_defs.include
Owners: none

Fix link error in address sorting test
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/cpp/naming/address_sorting_test.cc
Owners: @markdroth

Use prebuilt server image in xds kokokoro job
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Owners: none

to revert: run on kokoro
  tools/internal_ci/linux/grpc_python_bazel_test.cfg
Owners: none

Remove docker, and update scripts
  src/objective-c/BoringSSL-GRPC.podspec
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  tools/distrib/check_boringssl_prefix_symbol.sh
  tools/distrib/generate_boringssl_prefix_header.sh
  tools/distrib/upgrade_boringssl_objc.sh
  tools/dockerfile/grpc_objc/generate_boringssl_prefix_header/Dockerfile
  tools/dockerfile/grpc_objc/generate_boringssl_prefix_header/generate_boringssl_prefix_header.sh
  tools/dockerfile/test/sanity/Dockerfile
Owners: @jtattermusch, @apolcyn, @nicolasnoble

Remove .gz.b64
  src/boringssl/boringssl_prefix_symbols.h
  src/boringssl/boringssl_prefix_symbols.h.gz.b64
Owners: none

Restore inadvertent change
  tools/dockerfile/test/sanity/Dockerfile
Owners: @jtattermusch, @apolcyn, @nicolasnoble

Revert "to revert: run on kokoro"
  tools/internal_ci/linux/grpc_python_bazel_test.cfg
Owners: none

Cast metadata to tuple
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
Owners: none

Add two more metadata tests
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
Owners: none

Cast the complete queue to sub class to avoid AttributeError
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
Owners: none

Make sanity tests happy
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
Owners: none

Annotate metadata variable as Tuple instead of Sequence
  src/python/grpcio/grpc/experimental/aio/_call.py
Owners: none

remove hardcoded test credentials
  test/core/end2end/BUILD
  test/core/end2end/h2_ssl_session_reuse_test.cc
Owners: none

Add version check for Python 3.6 to simple stubs
  src/python/grpcio/grpc/experimental/__init__.py
Owners: none
