Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn, @ctiller, @sergiitk, @XuanWang-Amos

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @a11r
/bazel/** @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/src/core/ext/transport/chttp2/transport/** @ctiller
/src/core/ext/xds/** @markdroth
/src/core/lib/resolver/** @markdroth
/src/core/lib/service_config/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn
/tools/run_tests/xds_k8s_test_driver/** @sergiitk @XuanWang-Amos @gnossen

[OTel] Update OTel Bazel dep to v1.13.0 (#35352)
  bazel/grpc_deps.bzl
Owners: @jtattermusch, @veblush, @gnossen

Fixed bazel tests for 7 (#35390)
  BUILDING.md
  doc/bazel_support.md
  templates/doc/bazel_support.md.template
  test/distrib/bazel/cpp/.bazelrc
  test/distrib/bazel/python/.bazelrc
  test/distrib/bazel/python_second_test_repo/.bazelrc
Owners: none

[Python run_test] Support Python3.12 (#35325)
  templates/tools/dockerfile/compile_python_312.include
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/test/python_debian11_default_x64.current_version
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/run_tests.py
Owners: @jtattermusch, @apolcyn

[interop] Add v1.60.1 release of grpc-go to interop matrix (#35346)
  tools/interop_matrix/client_matrix.py
Owners: none

[EventEngine] Add a grpc_take_wrapped_event_engine_endpoint helper method to the shim layer.
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
  src/core/lib/iomgr/event_engine_shims/endpoint.h
Owners: none

[Tool] Better error message for check_bazel_workspace.py (#35375)
  tools/run_tests/sanity/check_bazel_workspace.py
Owners: none

[SSA] improve lifetime management of subchannel map (#35379)
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

[ci/cd] Hash-pin GitHub Actions, set up dependabot to keep them updated (#34930)
  .github/dependabot.yml
  .github/workflows/pr-auto-fix.yaml
  .github/workflows/pr-auto-tag.yaml
  .github/workflows/psm-interop.yaml
Owners: none

binder: rename gbs to stream and gbt to transport (#35357)
  src/core/ext/transport/binder/transport/binder_stream.h
  src/core/ext/transport/binder/transport/binder_transport.cc
Owners: none

[examples] Fix csm greeter client (#35355)
  examples/cpp/csm/csm_greeter_client.cc
Owners: none

[EventEngine] Improve PosixEventEngine::ConnectInternal error handling (#35356)
  src/core/lib/event_engine/posix_engine/posix_engine.cc
Owners: none

[Deps] Update protobuf & upb to 3.25.1 (#35315)
  bazel/grpc_deps.bzl
  build_handwritten.yaml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  third_party/README.md
  third_party/protobuf.patch
  third_party/upb/.bazelci/presubmit.yml
  third_party/upb/.bazelignore
  third_party/upb/.bazelrc
  third_party/upb/.clang-format
  third_party/upb/.github/actions/setup-bazel-cache/action.yml
  third_party/upb/.github/workflows/bazel_tests.yml
  third_party/upb/.github/workflows/clang_format.yml
  third_party/upb/.github/workflows/generate_files.yml
  third_party/upb/.github/workflows/mergeable.yml
  third_party/upb/.github/workflows/python_tests.yml
  third_party/upb/.gitignore
  third_party/upb/upb/reflection/def_pool.h
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/protoc_lib_deps.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/run_tests/sanity/check_submodules.sh
Owners: @jtattermusch, @veblush, @gnossen

[Build] Prepared for Bazel 7 (#35374)
  .gitignore
  WORKSPACE
  bazel/grpc_deps.bzl
  test/cpp/naming/BUILD
  tools/bazel.rc
  tools/run_tests/sanity/check_bazel_workspace.py
  tools/run_tests/sanity/check_submodules.sh
Owners: @jtattermusch, @veblush, @gnossen

[Tool] Added Bazel 7 basic support (#35362)
  WORKSPACE
  bazel/supported_versions.txt
  bazel/update_mirror.sh
  doc/bazel_support.md
  src/core/BUILD
  tools/bazelify_tests/test/supported_bazel_versions.bzl
Owners: @jtattermusch, @veblush, @gnossen

Fix Bazel 7 build (more) (#35392)
  tools/bazelify_tests/build_defs.bzl
  tools/bazelify_tests/test/bazel_distribtests.bzl
Owners: none

[EventEngine] Adjust visibility of event_engine_base_hdrs and //src/core:useful targets
  BUILD
  bazel/grpc_build_system.bzl
  src/core/BUILD
Owners: @jtattermusch, @veblush, @gnossen

review
  src/core/lib/promise/status_flag.h
  src/core/lib/surface/wait_for_cq_end_op.h
  test/core/promise/try_seq_test.cc
Owners: none

comment
  src/core/lib/channel/connected_channel.cc
  src/core/lib/surface/call.h
Owners: none

Automated change: Fix sanity tests
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chaotic_good/client_transport.h
Owners: none

WIP -- revamp subchannel ownership
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

Reviewer comments
  include/grpcpp/ext/otel_plugin.h
Owners: none

fix
  src/core/lib/surface/call.cc
Owners: none

Testing out static constexpr absl::string_view in header
  include/grpcpp/ext/otel_plugin.h
  src/cpp/ext/otel/otel_plugin.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
Owners: none

tests passing
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

add copyright
  src/proto/grpc/testing/xds/v3/http_protocol_options.proto
Owners: none

clang-format
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
Owners: @markdroth

implement timer to unref idle owned subchannels
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

x
  src/core/lib/surface/call.cc
Owners: none

Replace metric name functions with just string constants
  include/grpcpp/ext/otel_plugin.h
  src/cpp/ext/otel/otel_plugin.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
  test/cpp/ext/otel/otel_plugin_test.cc
Owners: none

Reviwer comments
  include/grpcpp/ext/otel_plugin.h
Owners: none

[call-v3] initial surface call integration (#35312)
  BUILD
  CMakeLists.txt
  Package.swift
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/latch.h
  src/core/lib/promise/status_flag.h
  src/core/lib/promise/try_join.h
  src/core/lib/promise/try_seq.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/surface/wait_for_cq_end_op.h
  src/core/lib/transport/transport.h
  test/core/promise/status_flag_test.cc
  test/core/promise/try_join_test.cc
  test/core/promise/try_seq_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Owners: none

x
  src/core/lib/promise/party.h
Owners: none

[export] Internal Code Change
  test/core/event_engine/cf/BUILD
Owners: none

php: skip epoll1 test on darwin
  src/php/ext/grpc/tests/grpc-set-ini.phpt
Owners: none

[export] Internal Code Change
  src/cpp/ext/gcp/BUILD
Owners: none

Use absl::string_view instead of self-implemented grpc::string_ref
  include/grpcpp/support/string_ref.h
Owners: none

Read roots.pem from any bundle.
  src/objective-c/GRPCClient/private/GRPCCore/GRPCSecureChannelFactory.mm
Owners: none

small fixes
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

fix subchannel orphan code
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth

clang-format
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Owners: @markdroth
