Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @nicolasnoble, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @nicolasnoble @a11r
/bazel/** @nicolasnoble @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @nicolasnoble @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn @nicolasnoble

Add version check for Python 3.6 to simple stubs
  src/python/grpcio/grpc/experimental/__init__.py
Owners: none

Add 3.5 as default interpreter version
  tools/run_tests/run_tests.py
Owners: none

Revert "Add 3.5 as default interpreter version"
  tools/run_tests/run_tests.py
Owners: none

temporarily disable node tests
  tools/run_tests/helper_scripts/run_grpc-node.sh
Owners: none

Revert "Merge pull request #19693 from apolcyn/control_plane_creds"
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/lib/security/credentials/credentials.cc
  src/core/lib/security/credentials/credentials.h
  src/core/lib/surface/init_secure.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/security/BUILD
  test/core/security/alts_credentials_fuzzer.cc
  test/core/security/control_plane_credentials_test.cc
  test/core/slice/percent_decode_fuzzer.cc
  test/core/slice/percent_encode_fuzzer.cc
  tools/run_tests/generated/tests.json
Owners: none

Modify tests accordingly
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
Owners: none

explicitly cast decltype(msg.ByteSizeLong()) -> int
  include/grpcpp/impl/codegen/proto_utils.h
Owners: none

Fix compression fuzzers.
  test/core/compression/message_compress_fuzzer.cc
  test/core/compression/message_decompress_fuzzer.cc
  test/core/compression/stream_compression_fuzzer.cc
  test/core/compression/stream_decompression_fuzzer.cc
Owners: none

Mark completion_queue_threading_test flaky
  test/core/surface/BUILD
Owners: none

build_projects
  Makefile
  build_autogenerated.yaml
  tools/run_tests/generated/tests.json
Owners: none

Removing obsolete comment.
  tools/bazel.rc
Owners: none

Modify tests accordingly
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
Owners: none

Addressing code review changes (before writing new test)
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
Owners: @markdroth

Update pip before installing grpcio
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/run_tests/helper_scripts/prep_xds.sh
Owners: none

Fix all_the_cpythons. Add 3.5 to defaults
  templates/tools/dockerfile/test/python_stretch_default_x64/Dockerfile.template
  tools/dockerfile/test/python_stretch_default_x64/Dockerfile
  tools/run_tests/run_tests.py
Owners: @jtattermusch, @apolcyn, @nicolasnoble

Make skipIf stricter
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
Owners: none

Regenerate projects
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Owners: none

Add --bootstrap_file to run_xds_tests.py
  tools/run_tests/run_xds_tests.py
Owners: none

Merge pull request #22560 from ericgribkoff/update_pip
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/run_tests/helper_scripts/prep_xds.sh
Owners: none

Fix BoringSSL-GRPC template
  src/objective-c/BoringSSL-GRPC.podspec
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Owners: none

Upgrade BoringSSL commit number
  src/objective-c/BoringSSL-GRPC.podspec
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Owners: none

Add param to echo captured client output in logs
  tools/run_tests/run_xds_tests.py
Owners: none

C++ize message compress filter
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
Owners: none

Some notes on new filter implementation
  src/core/lib/channel/channel_stack.h
Owners: none

cleanup gen_build_yaml.py for end2end tests
  test/core/end2end/README
  test/core/end2end/gen_build_yaml.py
  tools/buildgen/generate_build_additions.sh
Owners: none

add a bug reference
  test/core/surface/BUILD
Owners: none

Test rework to test matching/mismatching of rules and reaching the correct cluster (backend).
  test/cpp/end2end/xds_end2end_test.cc
Owners: none

Revert "Second attempt: grpclb stabilization"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_channel_secure.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/end2end/goaway_server_test.cc
  test/cpp/client/BUILD
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/naming/resolver_component_test.cc
  tools/distrib/check_include_guards.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Owners: @markdroth

Move decompression into gRPC Core
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/grpc_types.h
  package.xml
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/http/message_decompress/message_decompress_filter.cc
  src/core/ext/filters/http/message_decompress/message_decompress_filter.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Owners: none

Pass decompression errors to status
  src/core/ext/filters/http/message_decompress/message_decompress_filter.cc
Owners: none

Fix indentation
  tools/run_tests/run_xds_tests.py
Owners: none

Fixing broken test: adjusting to new logic
  test/cpp/end2end/xds_end2end_test.cc
Owners: none

Accepts normal iterable of request messages
  src/python/grpcio/grpc/experimental/aio/_base_channel.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_typing.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
Owners: none

Make pylint happy
  src/python/grpcio/grpc/experimental/aio/_base_channel.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
Owners: none
