Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @nicolasnoble, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn

Aesthetic improvements to log statements
  testctrl/svc/orch/controller.go
Owners: none

[ImproveTLS] add comments for C core args
  include/grpc/grpc_security.h
Owners: none

Add an API to create a blackholed address range within linux RBE tests
  WORKSPACE
  bazel/grpc_build_system.bzl
  test/core/util/BUILD
  test/core/util/blackhole_addresses.h
  test/core/util/blackhole_addresses_linux.cc
  test/core/util/blackhole_addresses_non_linux.cc
  test/core/util/run_with_poller.sh
  test/cpp/client/BUILD
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  tools/remote_build/rbe_common.bazelrc
Owners: @nicolasnoble, @jtattermusch, @veblush, @gnossen

added kotlin to server test too
  tools/run_tests/run_interop_tests.py
Owners: none

Fix buildifier
  bazel/grpc_build_system.bzl
Owners: @nicolasnoble, @jtattermusch, @veblush, @gnossen

regenerate projects
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
Owners: none

avoid windows
  bazel/grpc_build_system.bzl
Owners: @nicolasnoble, @jtattermusch, @veblush, @gnossen

fix bazel issue
  bazel/grpc_build_system.bzl
Owners: @nicolasnoble, @jtattermusch, @veblush, @gnossen

fix buildifer
  bazel/grpc_build_system.bzl
  test/cpp/client/BUILD
Owners: @nicolasnoble, @jtattermusch, @veblush, @gnossen

regenerate projects
  CMakeLists.txt
  build_autogenerated.yaml
  tools/run_tests/generated/tests.json
Owners: none

cmake: add separate export for plugin targets
  cmake/gRPCConfig.cmake.in
  templates/CMakeLists.txt.template
Owners: @jtattermusch, @nicolasnoble, @apolcyn

regenerate projects
  CMakeLists.txt
Owners: none

avoid too long test names on RBE Windows
  test/core/end2end/generate_tests.bzl
Owners: none

fix ssl_transport_security_test on x86
  test/core/tsi/ssl_transport_security_test.cc
Owners: none

minor cleanups in xds_end2end_test
  test/cpp/end2end/xds_end2end_test.cc
Owners: none

Reduce resource requirements for some test runs
  tools/run_tests/run_xds_tests.py
Owners: none

typo
  tools/run_tests/run_xds_tests.py
Owners: none

another version of comments
  include/grpc/grpc_security.h
Owners: none

Add pod anti-affinities and node selectors
  testctrl/svc/orch/controller.go
  testctrl/svc/orch/spec_builder.go
Owners: none

Remove deployment builder methods and improve docs
  testctrl/svc/orch/controller.go
  testctrl/svc/orch/spec_builder.go
Owners: none

Properly set thread-local variable indicating nonblocking test
  test/cpp/end2end/nonblocking_test.cc
Owners: none

Remove obsolete test of DeploymentSpec in SpecBuilder
  testctrl/svc/orch/spec_builder_test.go
Owners: none

Remove Component replicas
  testctrl/cmd/orchtest/main.go
  testctrl/proto/scheduling/v1/scheduling_service.pb.go
  testctrl/proto/scheduling/v1/scheduling_service.proto
  testctrl/svc/types/component.go
  testctrl/svc/types/test/component_builder.go
Owners: none

xds: don't report TRANSIENT_FAILURE when we're told to drop all
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Owners: @markdroth

Fix typo
  include/grpcpp/impl/codegen/sync_stream_impl.h
Owners: none

Improve readability and fix wording
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
Owners: none

Eliminates suspicious exceptions in test logs
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_tests/tests_aio/interop/local_interop_test.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/client_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/close_channel_test.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
  src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py
Owners: none

xds: Add tests showing that we do not use localities with no endpoints.
  test/cpp/end2end/xds_end2end_test.cc
Owners: none

Remove all std::mem_fn and std::bind from service definitions and setup
  include/grpcpp/impl/codegen/method_handler_impl.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Owners: none

minor update to fix msbuild condition to correct syntax
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Owners: none

Properly set thread-local variable indicating nonblocking test
  test/cpp/end2end/nonblocking_test.cc
Owners: none

minor cleanups in xds_end2end_test
  test/cpp/end2end/xds_end2end_test.cc
Owners: none

yapf
  tools/run_tests/run_xds_tests.py
Owners: none

fix format, exit(1) if any failures
  tools/run_tests/run_xds_tests.py
Owners: none

Add add_done_callback to the ServicerContext class
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_base_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/done_callback_test.py
Owners: none

fix duplicate logs
  tools/run_tests/run_xds_tests.py
Owners: none

Merge pull request #22501 from ericgribkoff/num_vm_flag
  tools/run_tests/run_xds_tests.py
Owners: none

Merge pull request #22470 from ericgribkoff/log_exception
  tools/run_tests/run_xds_tests.py
Owners: none

yapf format code
  tools/run_tests/run_interop_tests.py
Owners: none

regenerate _grpcio_metadata.py
  src/python/grpcio/grpc/_grpcio_metadata.py
Owners: none

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @nicolasnoble @a11r
/bazel/** @nicolasnoble @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @nicolasnoble @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn @nicolasnoble
