Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @a11r, @jtattermusch, @veblush, @gnossen, @apolcyn

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @a11r
/bazel/** @jtattermusch @veblush @gnossen
/cmake/** @jtattermusch @apolcyn
/src/core/ext/filters/client_channel/** @markdroth
/src/core/ext/xds/** @markdroth
/src/core/lib/resolver/** @markdroth
/src/core/lib/service_config/** @markdroth
/tools/dockerfile/** @jtattermusch @apolcyn

fix missing dep (#30251)
  BUILD
Owners: none

ring hash: fix picker propagation bug in xds_cluster_manager policy (#29959) (#30241)
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Owners: @markdroth

XdsClient: convert timers to use EE API (#30189)
  BUILD
  src/core/ext/xds/xds_client.cc
Owners: @markdroth

ObjC: Optional support skip methods with types without prefixes. (#30174)
  src/compiler/objective_c_generator.cc
  src/compiler/objective_c_generator_helpers.h
Owners: none

fix
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/event_engine/event_engine.cc
  src/php/bin/run_tests.sh
Owners: @markdroth

Allow Gradle to use more memory when building Java interop (#30249)
  templates/tools/dockerfile/java_build_interop.sh.include
  tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh
Owners: @jtattermusch, @apolcyn

x
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channel_args.h
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/transport/chttp2/context_list_test.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Owners: none

reland AnyInvocable
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/event_engine/event_engine.h
  package.xml
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.h
  src/core/lib/event_engine/iomgr_engine/thread_pool.cc
  src/core/lib/event_engine/iomgr_engine/thread_pool.h
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/test_suite/oracle_event_engine_posix.cc
  test/core/event_engine/test_suite/oracle_event_engine_posix.h
  tools/distrib/fix_build_deps.py
Owners: none

Automated change: Fix sanity tests
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
Owners: none

Format code
  tools/run_tests/xds_k8s_test_driver/tests/outlier_detection_test.py
Owners: none

ring hash: fix picker propagation bug in xds_cluster_manager policy (#29959)
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Owners: @markdroth

fixing windows build issue due to improper header file include
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/iomgr/socket_utils_posix.cc
Owners: none

add unit test
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  test/core/client_channel/BUILD
  test/core/client_channel/client_channel_test.cc
  tools/run_tests/generated/tests.json
Owners: @markdroth

add autodeps tag
  BUILD
Owners: none

Changed secure description
  test/core/memory_usage/memory_usage_test.cc
Owners: none

Use AnyInvocable in EventEngine APIs (#30220)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/event_engine/event_engine.h
  package.xml
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.h
  src/core/lib/event_engine/iomgr_engine/thread_pool.cc
  src/core/lib/event_engine/iomgr_engine/thread_pool.h
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/test_suite/oracle_event_engine_posix.cc
  test/core/event_engine/test_suite/oracle_event_engine_posix.h
  tools/distrib/fix_build_deps.py
Owners: none

fix macOS build issues
  BUILD
  src/core/lib/event_engine/iomgr_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_eventfd.cc
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_pipe.cc
Owners: none

Automated change: Fix sanity tests
  test/core/client_channel/BUILD
Owners: none

Automated change: Fix sanity tests
  src/core/lib/gprpp/work_serializer.cc
Owners: none

ring hash: fix picker propagation bug in xds_cluster_manager policy (#29959) (#30254)
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Owners: @markdroth

priority and ring_hash LBs: fix interactions when using ring_hash under priority (#29332)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
Owners: @markdroth

[ios] Fix build (#30248)
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
Owners: none

fix
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
Owners: none

Automated change: Fix sanity tests
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/end2end/BUILD
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/core/transport/chttp2/streams_not_seen_test.cc
  tools/run_tests/generated/tests.json
Owners: none

updated SymbolTable to DefPool (#30247)
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.h
  test/core/xds/xds_lb_policy_registry_test.cc
  third_party/upb/upb/def.hpp
  third_party/upb/upb/fuzz/file_descriptor_parsenew_fuzzer.cc
Owners: @markdroth

fix
  test/cpp/performance/writes_per_rpc_test.cc
Owners: none

fix
  test/core/end2end/cq_verifier.cc
  test/core/end2end/cq_verifier.h
Owners: none

[chttp2] use new channel args type (#30252)
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/channel/channel_args.h
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/transport/chttp2/context_list_test.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Owners: none

dead code
  test/core/end2end/cq_verifier_internal.h
  test/core/end2end/cq_verifier_native.cc
Owners: none

strength reduction
  test/core/end2end/cq_verifier.cc
Owners: none

dead code
  test/core/end2end/cq_verifier.cc
Owners: none

Changed flag configuration for clarity
  test/core/memory_usage/memory_usage_test.cc
Owners: none

Add invalid PayloadConfig logging to QPS test
  test/cpp/qps/client.h
Owners: none

fix
  CMakeLists.txt
  templates/CMakeLists.txt.template
  test/core/end2end/cq_verifier.cc
  test/core/end2end/cq_verifier.h
Owners: none

flip conditions
  test/cpp/qps/client.h
Owners: none

when search/replace goes wrong
  src/objective-c/tests/CronetTests/CronetUnitTests.mm
Owners: none

review feedback
  test/core/end2end/cq_verifier.cc
Owners: none

review feedback
  test/core/end2end/cq_verifier.h
Owners: none

Revert "[chttp2] use new channel args type (#30252)"
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/channel/channel_args.h
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/transport/chttp2/context_list_test.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Owners: none

priority and ring_hash LBs: fix interactions when using ring_hash under priority (#29332) (#30253)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
Owners: @markdroth
