Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @markdroth, @nicolasnoble, @ctiller, @dgquintas, @ncteisen, @matt-kwong

.github/CODEOWNERS:

# Auto-generated by the tools/mkowners/mkowners.py tool
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @markdroth @nicolasnoble @ctiller
/bazel/** @nicolasnoble @dgquintas @ctiller
/src/core/ext/filters/client_channel/** @markdroth @dgquintas @ctiller
/tools/run_tests/performance/** @ncteisen @matt-kwong @ctiller

Typo
  bazel/grpc_build_system.bzl
Owners: @nicolasnoble, @dgquintas, @ctiller

Catch exceptions from sync method handlers without crashing server
  CMakeLists.txt
  Makefile
  build.yaml
  include/grpc++/impl/codegen/method_handler_impl.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/exception_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Owners: none

uses_polling shouldn't be false for this test
  build.yaml
  tools/run_tests/generated/tests.json
Owners: none

Use appropriate preprocessor guards to allow building without exceptions
  BUILD
  bazel/grpc_build_system.bzl
  include/grpc++/impl/codegen/method_handler_impl.h
  include/grpc/impl/codegen/port_platform.h
  test/cpp/end2end/exception_test.cc
Owners: @nicolasnoble, @dgquintas, @ctiller

Tag new #else and #endif blocks with comments
  include/grpc++/impl/codegen/method_handler_impl.h
  include/grpc/impl/codegen/port_platform.h
Owners: none

Comment on cpp guard
  test/cpp/end2end/exception_test.cc
Owners: none

Add portability tests on Linux to make sure that build with -fno-exceptions continues to work
  Makefile
  build.yaml
  tools/run_tests/generated/configs.json
  tools/run_tests/run_tests_matrix.py
Owners: none

Initialize last sent ping time
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/writing.cc
Owners: none

Bug fix, use the last_sent ping time for next send
  src/core/ext/transport/chttp2/transport/writing.cc
Owners: none

Split setter in test
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  test/cpp/end2end/grpclb_end2end_test.cc
Owners: @markdroth, @dgquintas, @ctiller

Unify the timer callback bools
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Owners: @markdroth, @dgquintas, @ctiller

Remove garbage file doc/md
  doc/md
Owners: none

As per review
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Owners: @markdroth, @dgquintas, @ctiller

do not throw and eat exceptions in C# connectivity watcher
  src/csharp/Grpc.Core/Channel.cs
Owners: none

Simplify LB policy refcounting.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.cc
Owners: @markdroth, @dgquintas, @ctiller

Address review feedback; stop using result of 'what'
  include/grpc++/impl/codegen/method_handler_impl.h
  test/cpp/end2end/exception_test.cc
Owners: none

Add missing build dep.
  BUILD
Owners: none

Add alternate ctors that accept DebugOnlyTraceFlag.
  src/core/lib/support/orphanable.h
  src/core/lib/support/ref_counted.h
Owners: none

Attempt to fix build.
  src/core/lib/support/orphanable.h
  src/core/lib/support/ref_counted.h
Owners: none

Attempt to fix build again.
  src/core/lib/support/orphanable.h
  src/core/lib/support/ref_counted.h
Owners: none

Add missing virtual dtor for ResolverFactory.
  src/core/ext/filters/client_channel/resolver_factory.h
Owners: @markdroth, @dgquintas, @ctiller

Add missing build deps.
  BUILD
Owners: none

PR comments
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/support/ref_counted.h
Owners: @markdroth, @dgquintas, @ctiller

Defer creation of client load report
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Owners: @markdroth, @dgquintas, @ctiller

Fix service configs in c-ares tests
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/private_dns_zone_init.sh
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.sh
  test/cpp/naming/resolver_gce_integration_tests_runner.sh
  test/cpp/naming/resolver_test_record_groups.yaml
  test/cpp/naming/service_config_utils.py
  test/cpp/naming/service_configs/_grpc_config.ipv4-config-causing-fallback-to-tcp.json
  test/cpp/naming/service_configs/_grpc_config.ipv4-config-with-percentages.json
  test/cpp/naming/service_configs/_grpc_config.ipv4-cpp-config-has-zero-percentage.json
  test/cpp/naming/service_configs/_grpc_config.ipv4-no-config-for-cpp.json
  test/cpp/naming/service_configs/_grpc_config.ipv4-no-srv-simple-service-config.json
  test/cpp/naming/service_configs/_grpc_config.ipv4-second-language-is-cpp.json
  test/cpp/naming/service_configs/_grpc_config.srv-ipv4-simple-service-config.json
  test/cpp/naming/test_dns_server.py
Owners: none

Restart LB call immediately in LB call updating
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Owners: @markdroth, @dgquintas, @ctiller

Bump the test records version to 10
  test/cpp/naming/create_private_dns_zone.sh
  test/cpp/naming/private_dns_zone_init.sh
  test/cpp/naming/resolver_component_tests_runner.sh
  test/cpp/naming/resolver_gce_integration_tests_runner.sh
  test/cpp/naming/resolver_test_record_groups.yaml
Owners: none

reintroduce check_sources_and_headers optimization
  tools/run_tests/sanity/check_sources_and_headers.py
Owners: none

Update tests.
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/grpclb/grpclb_test.cc
Owners: none

clang-format
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolver_factory.h
  src/core/ext/filters/client_channel/resolver_registry.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/lib/support/abstract.h
  test/cpp/naming/resolver_component_test.cc
Owners: @markdroth, @dgquintas, @ctiller

generate_projects.sh
  CMakeLists.txt
Owners: none

Code review change.
  test/core/support/vector_test.cc
Owners: none

Fix resolver_component_test.
  test/cpp/naming/resolver_component_test.cc
Owners: none
