Repository grpc/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @veblush, @apolcyn, @markdroth, @ctiller, @drfloob, @sergiitk

.github/CODEOWNERS:

/bazel/** @veblush
/bazel/experiments.yaml
/bazel/rollouts.yaml
/cmake/** @veblush @apolcyn
/src/core/client_channel/** @markdroth
/src/core/ext/transport/chttp2/transport/** @ctiller
/src/core/load_balancing/** @markdroth
/src/core/resolver/** @markdroth
/src/core/server/xds* @markdroth
/src/core/service_config/** @markdroth
/src/core/xds/** @markdroth
/tools/dockerfile/** @drfloob @apolcyn
/tools/dockerfile/**/*python* @sergiitk

fix
  BUILD
Owners: none

rename functions
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pyx
Owners: none

Revert "rename functions"
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pyx
Owners: none

fix
  src/core/filter/fused_filters.cc
Owners: none

[sanity] Fix more (#39902)
  src/core/ext/transport/chaotic_good/data_endpoints.cc
Owners: none

Update artifacts branch
  .source-revision
Owners: none

[tools] Make port server gracefully degrade if IPv6 is not available
  .gitignore
  tools/run_tests/python_utils/port_server.py
Owners: none

fixup: Update .gitignore
  .gitignore
Owners: none

Update port_server.py
  tools/run_tests/python_utils/port_server.py
Owners: none

Use GRPC_DO_NOT_INSTANTIATE_POSIX_POLLER and simplify bg run check
  src/core/client_channel/backup_poller.cc
Owners: @markdroth

x
  src/core/ext/transport/chaotic_good/tcp_frame_transport.h
  src/core/lib/promise/party.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/test_util/postmortem_emit.cc
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/tcp_frame_transport_test.cc
Owners: none

x
  src/core/lib/promise/party.cc
Owners: none

fixup: reformat
  tools/run_tests/python_utils/port_server.py
Owners: none

add postmortem check to windows ares. run RBE on ares test only
  src/core/lib/event_engine/windows/grpc_polled_fd_windows.cc
  tools/internal_ci/windows/bazel_rbe.bat
Owners: none

20 runs
  tools/internal_ci/windows/bazel_rbe.bat
Owners: none

x
  src/core/ext/transport/chaotic_good/data_endpoints.cc
Owners: none

clang-format
  include/grpc/event_engine/event_engine.h
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/traced_buffer_list.h
Owners: none

revert changes
  include/grpc/event_engine/event_engine.h
  src/core/BUILD
  src/core/handshaker/security/secure_endpoint.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/transport/util/mock_promise_endpoint.h
Owners: none

x
  test/core/transport/chaotic_good/tcp_frame_transport_test.cc
Owners: none

x
  src/core/ext/transport/chaotic_good/data_endpoints.cc
Owners: none

x
  test/core/transport/chaotic_good/tcp_frame_transport_test.cc
Owners: none

address comments
  grpc-style-config.toml
  pytype.toml
  tools/distrib/black_code.sh
  tools/distrib/check_pytype_updated.sh
  tools/distrib/isort_code.sh
Owners: none

remove output from grpc-stype-config.toml
  grpc-style-config.toml
Owners: none

removed unwated jobs
  tools/distrib/check_pytype_updated.sh
Owners: none

[chaotic-good] Fix race condition in scheduler wakeups (#39914)
  src/core/ext/transport/chaotic_good/data_endpoints.cc
Owners: none

Update artifacts branch
  .source-revision
Owners: none

[chaotic-good] Various fixes for tcp_frame_transport_test (#39913)
  src/core/ext/transport/chaotic_good/tcp_frame_transport.h
  src/core/lib/promise/party.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/test_util/postmortem_emit.cc
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/tcp_frame_transport_test.cc
Owners: none

Update artifacts branch
  .source-revision
Owners: none

x
  CMakeLists.txt
  build_autogenerated.yaml
Owners: none

[test] only run one test to deflake
  test/cpp/end2end/server_load_reporting_end2end_test.cc
Owners: none

[CI] New docker build test (#39890)
  tools/dockerfile/push_testing_images.sh
  tools/internal_ci/linux/arm64/grpc_docker_build.cfg
  tools/internal_ci/linux/grpc_docker_build.cfg
  tools/internal_ci/linux/grpc_docker_build.sh
Owners: @drfloob, @apolcyn

Update artifacts branch
  .source-revision
Owners: none

[channelz-v2] Add PropertyList proto (#39872)
  BUILD
  src/core/ext/upb-gen/src/proto/grpc/channelz/v2/property_list.upb.h
  src/core/ext/upb-gen/src/proto/grpc/channelz/v2/property_list.upb_minitable.c
  src/core/ext/upb-gen/src/proto/grpc/channelz/v2/property_list.upb_minitable.h
  src/core/ext/upbdefs-gen/src/proto/grpc/channelz/v2/property_list.upbdefs.c
  src/core/ext/upbdefs-gen/src/proto/grpc/channelz/v2/property_list.upbdefs.h
  src/proto/grpc/channelz/v2/BUILD
  src/proto/grpc/channelz/v2/property_list.proto
Owners: none

Update artifacts branch
  .source-revision
Owners: none

[PH2]
  src/core/ext/transport/chttp2/transport/http2_client_transport.cc
Owners: @ctiller

[API] add new API to create channel from fd or endpoint that supports secure credentials (#39400)
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/create_channel_from_endpoint.h
  include/grpc/grpc_posix.h
  include/grpc/module.modulemap
  include/grpcpp/create_channel_posix.h
  include/grpcpp/security/credentials.h
  package.xml
  src/core/BUILD
  src/core/client_channel/subchannel.cc
  src/core/client_channel/subchannel.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/handshaker/tcp_connect/tcp_connect_handshaker.cc
  src/core/lib/event_engine/endpoint_channel_arg_wrapper.cc
  src/core/lib/event_engine/endpoint_channel_arg_wrapper.h
  src/core/lib/surface/channel_create.cc
  src/core/lib/surface/channel_create.h
  src/cpp/client/create_channel_posix.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/end2end_posix_config.cc
  test/core/end2end/fixtures/h2_ssl_tls_common.h
  test/core/end2end/fixtures/secure_fixture.h
  test/core/end2end/grpc_core_end2end_test.bzl
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Owners: @markdroth

Update artifacts branch
  .source-revision
Owners: none

[PH2] Implemeting PerformOp for PH2 (#39906)
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/http2_client_transport.cc
  src/core/ext/transport/chttp2/transport/http2_client_transport.h
Owners: @ctiller

Update artifacts branch
  .source-revision
Owners: none
