Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

Moving to v1.41.1
  tools/interop_matrix/client_matrix.py
Labels: none

Upgrade Abseil to LTS 20210324, Patch 2 (#27811)
  bazel/grpc_deps.bzl
  tools/run_tests/sanity/check_submodules.sh
Labels: none

C++ify channel_stack_builder_test (#27789)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/channel/BUILD
  test/core/channel/channel_stack_builder_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

tests
  src/core/lib/slice/slice.h
  test/core/slice/slice_test.cc
Labels: lang/core

OpenCensusCallTracer: Move context generation to StartTransportStreamOpBatch (#27523) (#27812)
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/client_filter.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++

Disable grpc_status_test for sync stack in Python2 (#27374)
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/status/_grpc_status_test.py
Labels: none

Automated change: Fix sanity tests
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/slice/slice.h
  test/core/slice/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/core

Disable grpc_status_test for sync stack in Python2 (#27374) (#27822)
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/status/_grpc_status_test.py
Labels: none

Initialize all fields in default constructor
  src/core/lib/transport/parsed_metadata.h
Labels: lang/core

Support generic_xds_config in GCE/GKE frameworks and Python tests (#27796)
  src/python/grpcio_tests/tests/csds/test_csds.py
  tools/run_tests/run_xds_tests.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: none

memory_quota_stress_test requires 64-bit
  test/core/resource_quota/memory_quota_stress_test.cc
Labels: lang/core

clang-fmt
  test/core/resource_quota/memory_quota_stress_test.cc
Labels: lang/core

more-tests
  src/core/lib/slice/slice.h
  test/core/slice/slice_test.cc
Labels: lang/core

clarity
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

formatting
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/grpc_authorization_policy_provider.h
  src/core/lib/security/authorization/rbac_translator.cc
  src/core/lib/security/authorization/rbac_translator.h
  test/core/security/grpc_authorization_policy_provider_test.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

Update RDS parsing for use on servers (#27715)
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

memory_quota_stress_test requires 64-bit (#27824)
  test/core/resource_quota/memory_quota_stress_test.cc
Labels: lang/core

comments
  src/core/lib/slice/slice.h
Labels: lang/core

fixes
  test/core/util/port_server_client.cc
Labels: lang/core

try fix aws c++ bazel tests
  tools/internal_ci/linux/aws/grpc_bazel_test_c_cpp_aarch64.sh
Labels: none

comments
  src/core/lib/slice/slice.h
Labels: lang/core

fixes
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

comment-updates
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

fix
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/api_listener_test.py
Labels: none

mesh certificate command
  tools/run_tests/xds_k8s_test_driver/README.md
Labels: none

ruby: support "arm64-darwin" platform native gem
  Rakefile
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
Labels: none

formatting
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

try fix aws c++ bazel tests (#27827)
  tools/internal_ci/linux/aws/grpc_bazel_test_c_cpp_aarch64.sh
Labels: none

fixes
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/lib/surface/call.cc
Labels: lang/core

spam
  src/core/lib/surface/call.cc
Labels: lang/core

doc, xds_k8s_tests: fix command --enable-mesh-certificates doc
  tools/run_tests/xds_k8s_test_driver/README.md
Labels: none

don't use inline for JSON helper functions
  src/core/lib/json/json_util.h
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/surface/call.cc
Labels: lang/core

change CSDS to populate new generic_xds_configs field (#27794)
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/proto/grpc/testing/xds/v3/csds.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

remove ErrorVectorType template parameter, which is no longer needed
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
Labels: lang/core

go back to inlining the variants of ExtractJsonType()
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
Labels: lang/core

move transport size into transport!
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

added perf_counters.cc manually since the script didn't work
  grpc.gyp
Labels: none

switch to official protobuf podspec
  src/cpp/Protobuf-C++.podspec
  test/cpp/ios/Podfile
Labels: lang/c++

podfile cleanup and add core test to script to run
  gRPC-Core.podspec
  src/objective-c/tests/CoreTests/Podfile
  src/objective-c/tests/CoreTests/build_and_run_tests.sh
  src/objective-c/tests/CoreTests/build_tests.sh
  src/objective-c/tests/CoreTests/verbose_time.sh
  templates/gRPC-Core.podspec.template
  tools/run_tests/run_tests.py
Labels: none
