Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

update build_handwritten.yaml
  build_handwritten.yaml
Labels: none

regenerate projects
  grpc.gemspec
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
Labels: none

DO NOT MERGE: monkey-patch RC protobuf version in grpc.gemspec
  grpc.gemspec
Labels: none

update .bazelignore file for new xds proto repo
  .bazelignore
Labels: none

update by review
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Labels: lang/core

clang-format
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

allow connectivity state watching to work on lame channels (#27747)
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  test/core/surface/lame_client_test.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/core, lang/c++

Address review comments
  src/python/grpcio/grpc/aio/_interceptor.py
Labels: none

Add EventEngine::CancelConnect
  include/grpc/event_engine/event_engine.h
  src/core/lib/iomgr/event_engine/endpoint.cc
Labels: lang/core

better
  test/core/end2end/generate_tests.bzl
Labels: lang/core

Replace absl::Random with std::random in EventEngine test suite
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core

WIP
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/aio/_base_server.py
Labels: none

fixes
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/endpoint_cfstream.h
  src/core/lib/iomgr/tcp_server_windows.cc
Labels: lang/core

Revert "allow connectivity state watching to work on lame channels (#27747)"
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  test/core/surface/lame_client_test.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/core, lang/c++

remove unneeded dep
  test/core/event_engine/BUILD
Labels: lang/core

add win32 dependencies to setup.py
  setup.py
Labels: none

Zalloc or C++ new for structs (#27739)
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/lib/iomgr/executor/mpmcqueue.cc
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/tsi/alts/frame_protector/alts_frame_protector.cc
  src/core/tsi/alts/frame_protector/frame_handler.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/ssl_transport_security.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/iomgr/mpmcqueue_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/tsi/ssl_transport_security_test.cc
  test/core/tsi/transport_security_test_lib.cc
  test/core/util/cmdline.cc
  test/core/util/subprocess_posix.cc
Labels: lang/core

Reviewer comments
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

handle grpc_server_add_insecure_channel_from_fd() and grpc_insecure_channel_create_from_fd()
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc.h
  include/grpc/grpc_posix.h
  include/grpc/module.modulemap
  package.xml
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/insecure/README.md
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/insecure/README.md
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/server/secure/server_secure_chttp2.cc
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/insecure/insecure_credentials.cc
  src/cpp/client/create_channel_posix.cc
  src/cpp/server/server_posix.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fixtures/h2_fd.cc
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, lang/c++

[Aio] Add add_done_callback method to aio server
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/done_callback_test.py
Labels: none

Automated change: Fix sanity tests
  src/core/ext/xds/xds_api.cc
Labels: lang/core

[Aio] Correct the typing of input Metadata
  src/python/grpcio/grpc/aio/_base_channel.py
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio/grpc/aio/_typing.py
Labels: none

fix build error in h2_fd.cc
  test/core/end2end/fixtures/h2_fd.cc
Labels: lang/core

Address leak when using request stream interceptors (#25449) (#27571)
  src/python/grpcio/grpc/aio/_interceptor.py
Labels: none

Replace absl::Random with std::random in EventEngine test suite (#27765)
  test/core/event_engine/BUILD
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core

Mark security_connector channel arg internal (#27760)
  src/core/lib/security/security_connector/security_connector.h
Labels: lang/core

fix type comparison
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
Labels: lang/core

remove slice buffer from memory_allocator.h
  include/grpc/event_engine/memory_allocator.h
Labels: lang/core

remove grpc_posix.h import
  src/core/ext/transport/binder/client/channel_create.cc
Labels: lang/core

review feedback
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

Automated change: Fix sanity tests
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core

new slice api
  src/core/lib/slice/slice.h
Labels: lang/core

Revert "remove slice buffer from memory_allocator.h"
  include/grpc/event_engine/memory_allocator.h
Labels: lang/core

ugh
  include/grpc/event_engine/memory_allocator.h
Labels: lang/core

clang-tidy fix
  src/core/ext/transport/binder/client/endpoint_binder_pool.cc
Labels: lang/core

Regenerate projects.
  CMakeLists.txt
  build_autogenerated.yaml
  tools/run_tests/generated/tests.json
Labels: none

Add endpoint binder pool for client channel creation
  BUILD
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
  src/core/ext/transport/binder/client/endpoint_binder_pool.cc
  src/core/ext/transport/binder/client/endpoint_binder_pool.h
  src/core/ext/transport/binder/client/jni_utils.cc
  src/core/ext/transport/binder/client/jni_utils.h
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/BUILD
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/GrpcBinderConnection.java
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/NativeConnectionHelper.java
  test/core/transport/binder/BUILD
  test/core/transport/binder/endpoint_binder_pool_test.cc
Labels: lang/core

Java style fix
  src/core/ext/transport/binder/client/endpoint_binder_pool.cc
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/GrpcBinderConnection.java
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/NativeConnectionHelper.java
Labels: lang/core

commit after sync
  tools/interop_matrix/client_matrix.py
Labels: none

Fix rvm ruby install failure
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: none

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
