Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#, disposition/Needs Internal Changes

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**
- src/compiler/node*

lang/ObjC:
- examples/objective-c/**
- src/compiler/objective_c*
- src/objective-c/**

lang/php:
- examples/php/**
- src/compiler/php*
- src/php/**

lang/python:
- bazel/python_rules.bzl
- examples/python/**
- requirements.bazel.txt
- src/compiler/python*
- any:
  - src/python/**
  - "!src/python/grpcio/grpc_core_dependencies.py"

lang/ruby:
- examples/ruby/**
- src/compiler/ruby*
- src/ruby/**

"lang/C#":
- src/compiler/csharp*
- src/csharp/**

"disposition/Needs Internal Changes":
- src/core/lib/event_engine/windows/**
- src/core/lib/gpr/windows/**
- src/core/lib/gprpp/windows/**
- test/core/event_engine/windows/**

Added bazel tests
  test/csharp/codegen/BUILD
  test/csharp/codegen/basenamespace/proto/namespacetest.proto
  test/csharp/codegen/csharp_codegen_base_namespace_test.sh
Labels: none

[Audit Logging] Logger and factory APIs in C-Core and C++. (#32750)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_audit_logging.h
  include/grpc/module.modulemap
  include/grpcpp/security/audit_logging.h
  package.xml
  src/core/BUILD
  src/core/lib/security/authorization/audit_logging.cc
  src/core/lib/security/authorization/audit_logging.h
  test/core/security/BUILD
  test/core/security/grpc_audit_logging_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

remove previous rbac ctor
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  test/core/security/grpc_authorization_engine_test.cc
Labels: lang/core

fix cfstream & clean up fork handlers
  src/core/lib/event_engine/cf_engine/cf_engine.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
Labels: lang/core

[lb] Stateful affinity test
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_override_host_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++

wip
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
Labels: lang/core

[lb] Stateful affinity test
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_override_host_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++

[WRR] Remove env var guard for WRR policy (#32936)
  build_autogenerated.yaml
  doc/grpc_xds_features.md
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/ext/xds/xds_lb_policy_registry.cc
  test/core/client_channel/lb_policy/weighted_round_robin_config_test.cc
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/xds/BUILD
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/core, lang/c++

[WRR] Remove env var guard for WRR policy (#32936)
  build_autogenerated.yaml
  doc/grpc_xds_features.md
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/ext/xds/xds_lb_policy_registry.cc
  test/core/client_channel/lb_policy/weighted_round_robin_config_test.cc
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/xds/BUILD
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/core, lang/c++

wip
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

fixup: clang tidy
  test/cpp/end2end/xds/xds_cluster_override_host_end2end_test.cc
Labels: lang/c++

update comment on name
  src/core/lib/security/authorization/rbac_policy.h
Labels: lang/core

[test] Re-land: Enable EventEngine experiments for Posix end2end tests.
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.yaml
  test/core/end2end/BUILD
  test/core/end2end/end2end_test_main.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/end2end_tests.h
Labels: lang/core

Address review feedback
  tools/run_tests/xds_k8s_test_driver/bin/lib/common.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_server_runner.py
Labels: none

generate_projects
  CMakeLists.txt
  build_autogenerated.yaml
Labels: none

[Backport-1.55] [WRR] Remove env var guard for WRR policy (#32946)
  build_autogenerated.yaml
  doc/grpc_xds_features.md
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/ext/xds/xds_lb_policy_registry.cc
  test/core/client_channel/lb_policy/weighted_round_robin_config_test.cc
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/xds/BUILD
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/core, lang/c++

[csharp proto plugin] Apply Obsolete attribute to deprecated services and methods in C# generated code (#32414)
  src/compiler/csharp_generator.cc
  test/csharp/codegen/BUILD
  test/csharp/codegen/csharp_codegen_deprecated_test.sh
  test/csharp/codegen/deprecated/proto/depmethod.proto
  test/csharp/codegen/deprecated/proto/depnothing.proto
  test/csharp/codegen/deprecated/proto/depservice.proto
  test/csharp/codegen/simple/expected/HelloworldGrpc.cs
Labels: lang/C#

hack around win issues for the sake of posix testing
  test/core/end2end/end2end_tests.cc
Labels: lang/core

fixup: code review comments
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/lib/gprpp/unique_type_name.h
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

[PSM Interop] Various improvements to the helper scripts (#32745)
  tools/run_tests/xds_k8s_test_driver/bin/cleanup_cluster.sh
  tools/run_tests/xds_k8s_test_driver/bin/lib/__init__.py
  tools/run_tests/xds_k8s_test_driver/bin/lib/common.py
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_ping_pong.py
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_client_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_server_runner.py
Labels: none

fixup: IWYU
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

[Kokoro] Increase arm64 test timeout
  tools/internal_ci/linux/arm64/grpc_bazel_test_c_cpp.cfg
Labels: none

fixup: wip
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

fixup: IWYU
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

event_engine_client_channel_resolver fix
  src/core/ext/filters/client_channel/resolver/dns/event_engine/event_engine_client_channel_resolver.cc
Labels: lang/core

grpc_ares_wrapper fix
  src/core/lib/event_engine/grpc_ares_wrapper.cc
  src/core/lib/event_engine/grpc_ares_wrapper.h
Labels: lang/core

test/cpp/naming changes to enable event_engine_dns experiment
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
Labels: lang/c++

Automated change: Fix sanity tests
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

Strip `bool_flag` in fix_build_deps.py. `config_setting` is already stripped, so the flag by definition won't be used anyways.
  tools/distrib/fix_build_deps.py
Labels: none

[Kokoro] Increase arm64 test timeout (#32950)
  tools/internal_ci/linux/arm64/grpc_bazel_test_c_cpp.cfg
Labels: none

fix some edge cases exposed by tests
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
Labels: lang/core

move access errors_ under on_resolved_mu_
  src/core/ext/filters/client_channel/resolver/dns/event_engine/event_engine_client_channel_resolver.cc
  src/core/lib/event_engine/grpc_ares_wrapper.cc
Labels: lang/core

Temporarily cap cpu_utilization at 100%
  src/cpp/server/backend_metric_recorder.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
Labels: lang/c++

address comments
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

add assertion on second parsing
  src/core/lib/security/authorization/rbac_translator.cc
Labels: lang/core

misc
  src/core/lib/security/authorization/rbac_translator.cc
Labels: lang/core

typo
  src/core/lib/security/authorization/rbac_translator.cc
Labels: lang/core

iwyu
  src/core/lib/security/authorization/rbac_translator.cc
Labels: lang/core

one way of fixing this
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/dns/event_engine/event_engine_client_channel_resolver.cc
Labels: lang/core

Fix vsock for event_engine
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.cc
Labels: lang/core
