Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

Fix format
  setup.py
  src/python/grpcio_tests/setup.py
Labels: lang/python

Document outlier detection feature support
  doc/grpc_xds_features.md
Labels: none

Bump xds cleanup job timeout from 2h to 4h
  tools/internal_ci/linux/grpc_xds_resource_cleanup.cfg
Labels: none

full listener impl and test
  BUILD
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener.cc
  src/core/lib/event_engine/posix_engine/posix_engine_listener.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.h
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  test/core/event_engine/posix/posix_engine_listener_utils_test.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/server_test.cc
Labels: lang/core

update
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
Labels: lang/core

interop_matrix: Add Java 1.50.0
  tools/interop_matrix/client_matrix.py
Labels: none

Remove `include/grpcpp/impl/codegen/serialization_traits.h` (#31278)
  include/grpcpp/impl/codegen/serialization_traits.h
  include/grpcpp/impl/serialization_traits.h
Labels: lang/c++

Remove `include/grpcpp/impl/codegen/server_callback.h` (#31280)
  include/grpcpp/ext/server_load_reporting.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/server_context.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++

xDS: NACK EDS resources with duplicate addresses (#31321)
  src/core/ext/xds/xds_endpoint.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
Labels: lang/core, lang/c++

xDS Interop: require Python 3.7 (#31323)
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: none

xDS Interop: update default prefix in the cleanup script (#31325)
  tools/internal_ci/linux/grpc_xds_resource_cleanup.cfg
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
Labels: none

WIP
  test/core/xds/BUILD
  test/core/xds/xds_listener_resource_type_test.cc
Labels: lang/core

remove now-unused v2 proto files
  CMakeLists.txt
  build_autogenerated.yaml
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/ads_for_test.proto
  src/proto/grpc/testing/xds/cds_for_test.proto
  src/proto/grpc/testing/xds/eds_for_test.proto
  src/proto/grpc/testing/xds/lds_rds_for_test.proto
  src/proto/grpc/testing/xds/lrs_for_test.proto
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/core, lang/c++

Remove `include/grpcpp/impl/codegen/server_callback.h` (#31279)
  include/grpcpp/ext/orca_service.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/support/server_callback.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++

fix from merge
  test/core/xds/xds_endpoint_resource_type_test.cc
Labels: lang/core

Correct outlier detection core version to 1.51
  doc/grpc_xds_features.md
Labels: none

[Python][Remove Six] Remove Six dependency part II (#31309)
  src/python/grpcio/commands.py
  src/python/grpcio_tests/tests/_result.py
  src/python/grpcio_tests/tests/_runner.py
  src/python/grpcio_tests/tests/_sanity/_sanity_test.py
  src/python/grpcio_tests/tests/csds/test_csds.py
  src/python/grpcio_tests/tests/fork/_fork_interop_test.py
  src/python/grpcio_tests/tests/fork/methods.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
  src/python/grpcio_tests/tests/protoc_plugin/_split_definitions_test.py
  src/python/grpcio_tests/tests/protoc_plugin/beta_python_plugin_test.py
  src/python/grpcio_tests/tests/qps/benchmark_client.py
  src/python/grpcio_tests/tests/stress/client.py
  src/python/grpcio_tests/tests/unit/_contextvars_propagation_test.py
  src/python/grpcio_tests/tests/unit/_credentials_test.py
  src/python/grpcio_tests/tests/unit/_logging_test.py
  src/python/grpcio_tests/tests/unit/_metadata_flags_test.py
  src/python/grpcio_tests/tests/unit/_server_shutdown_scenarios.py
  src/python/grpcio_tests/tests/unit/framework/common/test_control.py
Labels: lang/python

proto for control of fake control plane during interop testing
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/xds_test_config_service.proto
Labels: lang/core

fix
  test/core/event_engine/test_suite/server_test.cc
Labels: lang/core

ci fix
  test/core/end2end/generate_tests.bzl
Labels: lang/core

GcpObservability: Add experimental public target
  BUILD
  bazel/grpc_build_system.bzl
  include/grpcpp/ext/gcp_observability.h
  src/cpp/ext/gcp/BUILD
  src/cpp/ext/gcp/observability.cc
  test/cpp/ext/gcp/BUILD
  test/cpp/ext/gcp/observability_test.cc
  tools/distrib/fix_build_deps.py
Labels: lang/c++

Test import six
  bazel/grpc_python_deps.bzl
  src/python/grpcio/grpc/__init__.py
Labels: lang/python

[Python][Remove Six] Remove Six from requirements
  requirements.bazel.txt
  requirements.txt
  setup.py
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/setup.py
Labels: lang/python

Yapf and IWYU
  src/cpp/ext/gcp/observability.cc
  tools/distrib/fix_build_deps.py
Labels: lang/c++

handle failed sends
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core

Try remove six
  bazel/grpc_python_deps.bzl
  examples/python/cancellation/BUILD.bazel
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/tests/csds/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/unit/BUILD.bazel
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: lang/python

Add some logs
  src/python/grpcio/grpc/__init__.py
Labels: lang/python

more error handling
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core

OpenCensus: Move measure and view declarations to include file
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/grpc_plugin.h
Labels: lang/c++

Move CensusContext class too
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/context.h
Labels: lang/c++

Fix IWYU
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/context.cc
  src/cpp/ext/filters/census/context.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/filters/census/measures.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/census/server_filter.cc
  src/cpp/ext/filters/census/server_filter.h
  src/cpp/ext/filters/census/views.cc
Labels: lang/c++

more stuff
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core

remove unnecessary conversion
  src/core/lib/iomgr/error.cc
Labels: lang/core

hackity hack hack
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core

[resource_quota] Flag flip periodic reclamation (#31326)
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

fixes
  src/core/lib/channel/promise_based_filter.cc
  test/core/end2end/tests/max_message_length.cc
Labels: lang/core

progress
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core

DO NOT MERGE debug info for GetReceivedStatusOnClient
  src/csharp/Grpc.Core/Internal/BatchContextSafeHandle.cs
Labels: lang/C#

xDS: refactor code for handling xDS extensions and add tests (#31295)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_lb_policy_registry.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/lib/gprpp/validation_errors.h
  test/core/xds/BUILD
  test/core/xds/xds_common_types_test.cc
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/end2end/xds/no_op_http_filter.h
Labels: lang/core, lang/c++

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**

lang/ObjC:
- examples/objective-c/**
- src/objective-c/**

lang/php:
- examples/php/**
- src/php/**

lang/python:
- examples/python/**
- src/python/**

lang/ruby:
- examples/ruby/**
- src/ruby/**

"lang/C#":
- src/csharp/**
