Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/ruby, lang/C#

.github/labeler.yml:

lang/core:
  - changed-files:
      - any-glob-to-any-file:
          - src/abseil-cpp/**
          - src/boringssl/**
          - src/c-ares/**
          - src/core/**
          - src/proto/**
          - src/re2/**
          - src/upb/**
          - src/zlib/**
          - include/grpc/**
          - test/core/**
          - tools/codegen/core/**
lang/c++:
  - changed-files:
      - any-glob-to-any-file:
          - examples/cpp/**
          - src/cpp/**
          - include/grpc++/**
          - include/grpcpp/**
          - test/cpp/**
area/infra:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
lang/node:
  - changed-files:
      - any-glob-to-any-file:
          - examples/node/**
          - src/compiler/node*
lang/ObjC:
  - changed-files:
      - any-glob-to-any-file:
          - examples/objective-c/**
          - src/compiler/objective_c*
          - src/objective-c/**
lang/php:
  - changed-files:
      - any-glob-to-any-file:
          - examples/php/**
          - src/compiler/php*
          - src/php/**
lang/python:
  - changed-files:
      - any-glob-to-any-file:
          - bazel/python_rules.bzl
          - examples/python/**
          - requirements.bazel.txt
          - src/compiler/python*
      - all-globs-to-any-file:
          - src/python/**
          - '!src/python/grpcio/grpc_core_dependencies.py'
          - '!src/python/grpcio_observability/observability_lib_deps.py'
lang/ruby:
  - changed-files:
      - any-glob-to-any-file:
          - examples/ruby/**
          - src/compiler/ruby*
          - src/ruby/**
'lang/C#':
  - changed-files:
      - any-glob-to-any-file:
          - src/compiler/csharp*
          - src/csharp/**

fix sanity
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
Labels: lang/core

[promise] add optional is_acceptable callback to Observable
  src/core/lib/promise/observable.h
  test/core/promise/observable_test.cc
Labels: lang/core

add 1.61 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: none

handle wait_for_ready
  src/core/client_channel/client_channel.cc
Labels: lang/core

a little more work on client initial metadata propagation
  src/core/client_channel/client_channel.cc
  src/core/client_channel/client_channel.h
  src/core/lib/transport/call_destination.h
Labels: lang/core

use a separate method for is_acceptable
  src/core/lib/promise/observable.h
  test/core/promise/observable_test.cc
Labels: lang/core

[Python O11y] Remove exporter from public API and refactor tests
  src/python/grpcio_observability/grpc_observability/_open_telemetry_observability.py
  src/python/grpcio_observability/grpc_observability/_open_telemetry_plugin.py
  src/python/grpcio_tests/tests/observability/BUILD.bazel
  src/python/grpcio_tests/tests/observability/_observability_test.py
  src/python/grpcio_tests/tests/observability/_open_telemetry_observability_test.py
  src/python/grpcio_tests/tests/tests.json
Labels: none

[otel] Add example
  examples/cpp/otel/BUILD
  examples/cpp/otel/README.md
  examples/cpp/otel/greeter_callback_client.cc
  examples/cpp/otel/greeter_callback_server.cc
Labels: lang/c++

x
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/transport.h
Labels: lang/core

more WIP on call setup
  src/core/client_channel/client_channel.cc
  src/core/client_channel/client_channel.h
Labels: lang/core

Fix pylint
  src/python/grpcio_observability/grpc_observability/_open_telemetry_observability.py
Labels: none

x
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
Labels: lang/core

[tls] Add set min/max TLS version APIs to TLS credentials APIs. (#34861)
  grpc.def
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/cpp/common/tls_credentials_options.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/grpc_tls_credentials_options_test.cc
  test/cpp/client/credentials_test.cc
  test/cpp/server/credentials_test.cc
Labels: lang/core, lang/c++, lang/ruby

OnServerTrailingMetadata
  src/core/lib/transport/call_filters.h
  test/core/transport/call_filters_test.cc
Labels: lang/core

Updated utf8_range to 25.1
  third_party/utf8_range/.github/workflows/bazel_tests.yml
  third_party/utf8_range/BUILD.bazel
  third_party/utf8_range/CMakeLists.txt
  third_party/utf8_range/cmake/utf8_range.pc.cmake
  third_party/utf8_range/utf8_validity.cc
Labels: none

Remove registered_methods_map experiment (#35673)
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core

Fix enum comparison not working in tls_credentials.cc.
  src/core/lib/security/credentials/tls/tls_credentials.cc
Labels: lang/core

update experiment defn
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  test/core/experiments/experiments_test.cc
  test/core/experiments/fixtures/experiments.cc
  test/core/experiments/fixtures/experiments.h
Labels: lang/core

[examples] Update SSA example
  examples/cpp/csm/Dockerfile.client
  examples/cpp/csm/README.md
  examples/cpp/csm/csm_greeter_client.cc
Labels: lang/c++

Massaged tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: none

[release] Add 1.61 to interop matrix (#35790)
  tools/interop_matrix/client_matrix.py
Labels: none

Fix memory leak in some unit tests.
  test/core/security/grpc_tls_credentials_options_test.cc
  test/cpp/client/credentials_test.cc
  test/cpp/server/credentials_test.cc
Labels: lang/core, lang/c++

Fix heap-use-after-free.
  test/cpp/client/credentials_test.cc
  test/cpp/server/credentials_test.cc
Labels: lang/c++

getting organized
  src/core/client_channel/client_channel.cc
  src/core/client_channel/client_channel.h
Labels: lang/core

Fix secure_server_credentials.cc.
  src/cpp/server/secure_server_credentials.cc
Labels: lang/c++

[export] Use xdstp for LDS in google-c2p resolver
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core

Fix dep in credentials_test.cc
  test/cpp/client/credentials_test.cc
  test/cpp/server/credentials_test.cc
Labels: lang/c++
