Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

Revert "Add metadata specialization for te: trailers (#27714)"
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

Format
  src/python/grpcio_tests/tests/admin/test_admin.py
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
  src/python/grpcio_tests/tests/csds/test_csds.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/interop/_insecure_intraop_test.py
  src/python/grpcio_tests/tests/interop/_secure_intraop_test.py
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
Labels: none

Revert "Add metadata specialization for te: trailers (#27714)" (#27779)
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

Add (void) to function calls returning absl::Status (#27761)
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/core/lib/iomgr/tcp_client_custom.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_client_windows.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/security/authorization/sdk_server_authz_filter.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/server.cc
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/channel/channel_stack_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/iomgr/error_test.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/core, lang/c++

fix mingw linker libs
  CMakeLists.txt
  Makefile
  templates/CMakeLists.txt.template
  templates/Makefile.template
  tools/run_tests/helper_scripts/build_php.sh
  tools/run_tests/python_utils/jobset.py
Labels: none

debug libuv build failure on php
  src/libuv/src/unix/proctitle.c
  third_party/libuv.BUILD
  tools/run_tests/helper_scripts/build_php.sh
Labels: none

remove debug code that breaks some platforms (no `nm`)
  tools/run_tests/helper_scripts/build_php.sh
Labels: none

Fix API fuzzer bugs (#27753)
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/end2end/fuzzers/api_fuzzer_corpus/create_connection.textproto
Labels: lang/core

Added bazel-integrated upb code-gen
  BUILD
  bazel/grpc_build_system.bzl
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/altscontext.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/altscontext.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/handshaker.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/handshaker.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/transport_security_common.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/transport_security_common.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/health/v1/health.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/health/v1/health.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lb/v1/load_balancer.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lb/v1/load_balancer.upbdefs.h
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_for_bazel.py
Labels: lang/core

Revert "Revert "Add metadata specialization for te: trailers (#27714)" (#27779)"
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

safer register call
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
Labels: lang/core

fixing code review comments
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

fixfixfix
  src/core/lib/gpr/tls.h
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

xxx
  src/core/lib/iomgr/endpoint_cfstream.cc
Labels: lang/core

Add resolver for binder transport URI scheme
  BUILD
  src/core/ext/filters/client_channel/resolver/binder/README.md
  src/core/ext/filters/client_channel/resolver/binder/binder_resolver.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/BUILD
  test/core/client_channel/resolvers/binder_resolver_test.cc
Labels: lang/core

add missing ref
  src/core/ext/filters/client_channel/retry_throttle.cc
Labels: lang/core

Speed up runs of tests under //test/cpp/qps (#27600)
  test/cpp/qps/driver.cc
  test/cpp/qps/inproc_sync_unary_ping_pong_test.cc
  test/cpp/qps/json_run_localhost_scenarios.bzl
  test/cpp/qps/qps_json_driver_scenarios.bzl
  test/cpp/qps/qps_openloop_test.cc
  test/cpp/qps/scenario_generator_helper.py
  test/cpp/qps/secure_sync_unary_ping_pong_test.cc
  test/cpp/qps/worker.cc
Labels: lang/c++

Address review comments
  src/core/ext/filters/client_channel/resolver/binder/binder_resolver.cc
  test/core/client_channel/resolvers/binder_resolver_test.cc
Labels: lang/core

Regenerate projects.
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: none

Use memcpy instead of strcpy to avoid copy
  src/core/ext/filters/client_channel/resolver/binder/binder_resolver.cc
Labels: lang/core

minor change
  include/grpcpp/security/tls_certificate_verifier.h
  src/cpp/common/tls_certificate_verifier.cc
  src/cpp/common/tls_credentials_options_util.cc
Labels: lang/c++

Second attempt: RLS LB policy (#27748)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

Reland te: trailers metadata stuff (#27781)
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

Migrate remaining tests with protobuf dep to Python 3 only (#27776)
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/namespaced/upper/example/BUILD
  src/python/grpcio_tests/tests/admin/BUILD.bazel
  src/python/grpcio_tests/tests/admin/test_admin.py
  src/python/grpcio_tests/tests/channelz/BUILD.bazel
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
  src/python/grpcio_tests/tests/csds/BUILD.bazel
  src/python/grpcio_tests/tests/csds/test_csds.py
  src/python/grpcio_tests/tests/health_check/BUILD.bazel
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/_insecure_intraop_test.py
  src/python/grpcio_tests/tests/interop/_secure_intraop_test.py
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
Labels: none

Remove unnecessary usage of AVL (#27666)
  src/core/ext/filters/client_channel/retry_throttle.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
Labels: lang/core

add reset
  include/grpc/event_engine/memory_allocator.h
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core

debug ruby
  templates/src/ruby/ext/grpc/extconf.rb.template
  tools/run_tests/python_utils/jobset.py
Labels: none

actually debug ruby
  src/ruby/ext/grpc/extconf.rb
Labels: none

Revert "Reland te: trailers metadata stuff (#27781)"
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

Revert "Reland te: trailers metadata stuff (#27781)" (#27784)
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

ruby env wants a string, probably?
  src/ruby/ext/grpc/extconf.rb
  templates/src/ruby/ext/grpc/extconf.rb.template
Labels: none

review feedback
  src/core/lib/resource_quota/api.cc
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/resource_quota.cc
  src/core/lib/resource_quota/resource_quota.h
Labels: lang/core

fix
  src/core/lib/resource_quota/resource_quota.h
Labels: lang/core

fix
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/lib/resource_quota/api.cc
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  test/core/http/httpcli_test.cc
  test/core/http/httpscli_test.cc
Labels: lang/core

Revert "Revert "Reland te: trailers metadata stuff (#27781)" (#27784)"
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

Add initial changes for gevent
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio_tests/tests/unit/_rpc_part_1_test.py
  src/python/grpcio_tests/tests/unit/_rpc_test_helpers.py
Labels: none

fix iOS build using Denny's libuv exclusion logic
  gRPC-Core.podspec
  templates/gRPC-Core.podspec.template
Labels: none

in which i admit defeat for this round
  src/core/ext/transport/inproc/inproc_transport.cc
Labels: lang/core

Wait for in-flight requests to complete during shutdown (#27718)
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
Labels: lang/core

more ruby & iOS debug attempts
  Makefile
  src/objective-c/Libuv-gRPC.podspec
  templates/Makefile.template
  templates/src/objective-c/Libuv-gRPC.podspec.template
Labels: none

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
