Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#, disposition/Needs Internal Changes

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**
- src/compiler/node*

lang/ObjC:
- examples/objective-c/**
- src/compiler/objective_c*
- src/objective-c/**

lang/php:
- examples/php/**
- src/compiler/php*
- src/php/**

lang/python:
- bazel/python_rules.bzl
- examples/python/**
- requirements.bazel.txt
- src/compiler/python*
- any:
  - src/python/**
  - "!src/python/grpcio/grpc_core_dependencies.py"

lang/ruby:
- examples/ruby/**
- src/compiler/ruby*
- src/ruby/**

"lang/C#":
- src/compiler/csharp*
- src/csharp/**

"disposition/Needs Internal Changes":
- src/core/lib/event_engine/windows/**
- src/core/lib/gpr/windows/**
- src/core/lib/gprpp/windows/**
- test/core/event_engine/windows/**

Add ResolvedAddressIsVSock
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.cc
  src/core/lib/event_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/tcp_socket_utils.h
Labels: lang/core

Fix unused params
  test/core/address_utils/parse_address_test.cc
Labels: lang/core

[build] Add Bazel user-defined build setting for `grpc_no_rls`. (#32930)
  BUILD
  tools/distrib/fix_build_deps.py
Labels: none

Guard code
  src/core/lib/address_utils/parse_address.cc
  src/core/lib/address_utils/sockaddr_utils.cc
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/tcp_socket_utils.cc
  src/core/lib/iomgr/sockaddr_posix.h
  src/core/lib/iomgr/vsock.cc
  test/core/address_utils/parse_address_test.cc
  test/core/address_utils/sockaddr_utils_test.cc
  test/core/event_engine/tcp_socket_utils_test.cc
Labels: lang/core

some fixes
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/tcp_socket_utils.cc
  src/core/lib/iomgr/vsock.cc
  test/core/address_utils/parse_address_test.cc
  test/core/event_engine/tcp_socket_utils_test.cc
Labels: lang/core

[PSM Interop] Minor fixes to the bin/cleanup_cluster.sh helper
  tools/run_tests/xds_k8s_test_driver/bin/cleanup_cluster.sh
Labels: none

xDS: Accept cpu_utilization over 100%
  include/grpcpp/ext/server_metric_recorder.h
  src/cpp/server/backend_metric_recorder.cc
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/xds_wrr_end2end_test.cc
Labels: lang/core, lang/c++

comments updated
  include/grpcpp/ext/server_metric_recorder.h
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
Labels: lang/core, lang/c++

clang format
  src/cpp/server/backend_metric_recorder.cc
Labels: lang/c++

[Fix fuzzer error] Memory address points to zero page. (#32894)
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/frame_fuzzer.cc
Labels: lang/core

Fix format of BUILD file
  test/csharp/codegen/BUILD
Labels: none

[CSHARP] Add base_namespace experimental option to C# plugin (#32636)
  src/compiler/csharp_generator_helpers.h
  src/compiler/csharp_plugin.cc
  src/csharp/BUILD-INTEGRATION.md
  test/csharp/codegen/BUILD
  test/csharp/codegen/basenamespace/proto/namespacetest.proto
  test/csharp/codegen/csharp_codegen_base_namespace_test.sh
Labels: lang/C#

Bump clang6 to clang7
  src/cpp/README.md
  templates/tools/dockerfile/test/cxx_clang_7_x64/Dockerfile.template
  tools/dockerfile/test/cxx_clang_7_x64.current_version
  tools/dockerfile/test/cxx_clang_7_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/c++

[test] Re-land: Enable EventEngine experiments for Posix end2end tests (#32948)
  CMakeLists.txt
  bazel/experiments.bzl
  build_autogenerated.yaml
  src/core/lib/experiments/experiments.yaml
  test/core/end2end/BUILD
  test/core/end2end/end2end_test_main.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/end2end_tests.h
Labels: lang/core

address comments
  src/core/lib/security/authorization/rbac_policy.h
  test/core/security/rbac_translator_test.cc
Labels: lang/core

address comments
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

empty audit logging options
  test/core/security/rbac_translator_test.cc
Labels: lang/core

[fuzzing] Client channel resolver fuzzer
  test/core/event_engine/util/aborting_event_engine.h
  test/core/ext/filters/event_engine_client_channel_resolver/BUILD
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_ops.proto
Labels: lang/core

squelch?
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
Labels: lang/core

add empty corpus folder
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer_corpus/empty
Labels: lang/core

Revert "[CSHARP] Add base_namespace experimental option to C# plugin (#32636)"
  src/compiler/csharp_generator_helpers.h
  src/compiler/csharp_plugin.cc
  src/csharp/BUILD-INTEGRATION.md
  test/csharp/codegen/BUILD
  test/csharp/codegen/basenamespace/proto/namespacetest.proto
  test/csharp/codegen/csharp_codegen_base_namespace_test.sh
Labels: lang/C#

dedup include
  test/core/security/rbac_translator_test.cc
Labels: lang/core

Revert "[CSHARP] Add base_namespace experimental option to C# plugin" (#32957)
  src/compiler/csharp_generator_helpers.h
  src/compiler/csharp_plugin.cc
  src/csharp/BUILD-INTEGRATION.md
  test/csharp/codegen/BUILD
  test/csharp/codegen/basenamespace/proto/namespacetest.proto
  test/csharp/codegen/csharp_codegen_base_namespace_test.sh
Labels: lang/C#

fixup: checkpoint
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/cluster_lb_data.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

copyright
  test/core/ext/filters/event_engine_client_channel_resolver/BUILD
Labels: lang/core

[PSM Interop] Minor fixes to the `bin/cleanup_cluster.sh` helper (#32953)
  tools/run_tests/xds_k8s_test_driver/bin/cleanup_cluster.sh
Labels: none

reject unknown fields
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

fixup: milestone
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/cluster_lb_data.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

fixup: utility method
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

fixup: can lock cluster config
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
Labels: lang/core

Sorted
  src/cpp/README.md
Labels: lang/c++

Sorted (#32962)
  src/cpp/README.md
Labels: lang/c++

Automated change: Fix sanity tests
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

Updated supported platforms in src/cpp/README.md
  src/cpp/README.md
Labels: lang/c++

comments addressed.
  include/grpcpp/ext/call_metric_recorder.h
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++

fix: change confusing error message
  src/core/lib/iomgr/socket_utils_common_posix.cc
Labels: lang/core

fix: change confusing error message
  src/core/lib/iomgr/socket_utils_common_posix.cc
Labels: lang/core

iwyu
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
Labels: lang/core

[test] Disable end2end tests for the EventEngine listener experiment
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

Ugh copybara
  third_party/README.md
Labels: none
