Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

Move `ExecCtx` function implementations to .cc file
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/exec_ctx.h
Labels: lang/core

adding api_fuzzer changes
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/util/passthru_endpoint.cc
  test/core/util/passthru_endpoint.h
Labels: lang/core

throw a TimeoutException instead of an Exception so it's easier to catch the error in tests
  src/python/grpcio_testing/grpc_testing/_channel/_channel_state.py
Labels: none

Update bazel dependencies and generate projects
  bazel/grpc_deps.bzl
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  tools/run_tests/sanity/check_submodules.sh
Labels: none

XdsChannelStackModifier class (#27744)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/xds_channel_stack_modifier.cc
  src/core/ext/xds/xds_channel_stack_modifier.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/xds/BUILD
  test/core/xds/xds_channel_stack_modifier_test.cc
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

OpenCensusCallTracer: Move context generation to StartTransportStreamOpBatch (#27523)
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/client_filter.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++

OpenCensusCallTracer: Move context generation to StartTransportStreamOpBatch (#27523)
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/client_filter.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++

resolving comments
  src/core/tsi/ssl_transport_security.cc
  test/core/security/security_connector_test.cc
Labels: lang/core

resolving comment
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core

update subject check in test
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core

refactor version map
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

using gpr_once_init()
  src/core/ext/xds/xds_client.cc
Labels: lang/core

change of key
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Fix headermatcher
  src/core/lib/matchers/matchers.cc
  test/core/security/matchers_test.cc
Labels: lang/core

fixing more keys
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

fixing more keys
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Support for metadata
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/authorization/matchers.h
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  test/core/security/authorization_matchers_test.cc
Labels: lang/core

updated all necessary keys
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Clean up
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Add a class for generating readable connection id for binder
  BUILD
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/connection_id_generator.cc
  src/core/ext/transport/binder/client/connection_id_generator.h
Labels: lang/core

Regenerate projects.
  CMakeLists.txt
  build_autogenerated.yaml
Labels: none

Add a class for generating readable connection id for binder (#27771)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/connection_id_generator.cc
  src/core/ext/transport/binder/client/connection_id_generator.h
Labels: lang/core

Support incomplete CSDS config dump
  src/python/grpcio_tests/tests/csds/test_csds.py
  tools/run_tests/run_xds_tests.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: none

[Aio] Allow sequential types for server interceptors
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Labels: none

set libuv dep to Nico's patch (testing)
  bazel/grpc_deps.bzl
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Repomrg -> @yashykt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: area/infra

Attempt fix to buildifier invocation
  tools/distrib/buildifier_format_code.sh
  tools/run_tests/sanity/check_buildifier.sh
Labels: none

Add missing copyright
  src/python/grpcio_tests/tests/unit/_cython/BUILD.bazel
Labels: none

Repomrg -> @yashykt (#27795)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: area/infra

WIP. Run completion_queue_next in a threadpool
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
Labels: none

Revert podspec changes
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: none

convert to gtest
  test/core/slice/BUILD
  test/core/slice/slice_test.cc
Labels: lang/core

clean
  src/core/lib/slice/slice.h
Labels: lang/core

Reviewer comments
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

Reviewer comments
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

adding api fuzzer changes
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/call-complete
  test/core/util/passthru_endpoint.cc
  test/core/util/passthru_endpoint.h
Labels: lang/core

fixes
  test/core/slice/slice_test.cc
Labels: lang/core

Reviewer comments
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

[Aio] Allow sequential types for server interceptors (#27818)
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Labels: none

updating some typos
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core
