Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

Added Zalloc
  src/core/ext/filters/client_channel/backup_poller.cc
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/gprpp/memory.h
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/transport/transport.cc
Labels: lang/core

review feedback
  BUILD
  src/core/lib/resource_quota/memory_quota.cc
Labels: lang/core

Automated change: Fix sanity tests
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/resource_quota/memory_quota.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

Update by review
  src/core/lib/gprpp/memory.h
Labels: lang/core

Update bazel version to 4.2.1 in binder_transport_apk docker image (#27721)
  tools/dockerfile/test/binder_transport_apk/Dockerfile
Labels: none

Added operator<
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

logging improvements
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: lang/core, lang/c++

fixes
  src/core/lib/http/httpcli.cc
  test/core/util/port_server_client.cc
Labels: lang/core

query parameters
  src/core/ext/xds/xds_client.cc
Labels: lang/core

infrastructure for switching core end2end tests to gtest
  templates/test/core/end2end/end2end_defs.include
  templates/test/core/end2end/end2end_nosec_tests.cc.template
  templates/test/core/end2end/end2end_tests.cc.template
  test/core/end2end/BUILD
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/end2end_tests.h
  test/core/end2end/fixtures/h2_census.cc
  test/core/end2end/gen_build_yaml.py
  test/core/end2end/generate_tests.bzl
Labels: lang/core

regenerate projects
  CMakeLists.txt
  build_autogenerated.yaml
  tools/run_tests/generated/tests.json
Labels: none

DO NOT MERGE: try switch all fixtures to gtest
  test/core/end2end/fixtures/h2_compress.cc
  test/core/end2end/fixtures/h2_fakesec.cc
  test/core/end2end/fixtures/h2_fd.cc
  test/core/end2end/fixtures/h2_full+pipe.cc
  test/core/end2end/fixtures/h2_full+trace.cc
  test/core/end2end/fixtures/h2_full.cc
  test/core/end2end/fixtures/h2_http_proxy.cc
  test/core/end2end/fixtures/h2_insecure.cc
  test/core/end2end/fixtures/h2_local_ipv4.cc
  test/core/end2end/fixtures/h2_local_ipv6.cc
  test/core/end2end/fixtures/h2_local_uds.cc
  test/core/end2end/fixtures/h2_oauth2.cc
  test/core/end2end/fixtures/h2_proxy.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fixtures/h2_ssl.cc
  test/core/end2end/fixtures/h2_ssl_cred_reload.cc
  test/core/end2end/fixtures/h2_ssl_proxy.cc
  test/core/end2end/fixtures/h2_tls.cc
  test/core/end2end/fixtures/h2_uds.cc
  test/core/end2end/fixtures/inproc.cc
Labels: lang/core

DO NOT MERGE: overcame tracer flag loop in nosec
  src/core/lib/debug/trace.cc
Labels: lang/core

set tests as large
  test/core/end2end/generate_tests.bzl
Labels: lang/core

avoid hang in nosec test due to grpc and grpc_unsecure ODR glb
  test/core/end2end/generate_tests.bzl
Labels: lang/core

DO NOT MERGE: temporarily deactivate ping test
  test/core/end2end/tests/ping.cc
Labels: lang/core

Revert "DO NOT MERGE: overcame tracer flag loop in nosec"
  src/core/lib/debug/trace.cc
Labels: lang/core

regenerate projects
  CMakeLists.txt
  build_autogenerated.yaml
  tools/run_tests/generated/tests.json
Labels: none

Fixing unreffing
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

fixing code review comments.
  src/core/ext/xds/xds_client.cc
Labels: lang/core

use size_t in configs
  templates/test/core/end2end/end2end_defs.include
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
Labels: lang/core

Fixing code review comments
  src/core/ext/xds/xds_client.cc
Labels: lang/core

fix for import of RLS LB policy
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

fix for import of RLS LB policy (#27736)
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

bug fix
  src/core/lib/resource_quota/api.cc
Labels: lang/core

Make hpack tracing available in opt builds also (#27728)
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: lang/core, lang/c++

inproc fixes
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

Automated change: Fix sanity tests
  src/core/ext/transport/inproc/inproc_transport.cc
Labels: lang/core

Add more libuv files to our build (incomplete)
  Makefile
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/libuv/src/random.c
  src/libuv/src/unix/darwin-stub.h
  src/libuv/src/unix/epoll.c
  src/libuv/src/unix/random-devurandom.c
  src/libuv/src/unix/random-getentropy.c
  src/libuv/src/unix/random-getrandom.c
  src/libuv/src/unix/random-sysctl-linux.c
  src/python/grpcio/grpc_core_dependencies.py
  third_party/libuv.BUILD
Labels: none

Fix by review
  src/core/lib/transport/transport.cc
Labels: lang/core

temporarily remove libuv's sysinfo-loadavg.c (only for MSYS/Cygwin)
  Makefile
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/libuv/src/unix/sysinfo-loadavg.c
  src/python/grpcio/grpc_core_dependencies.py
  third_party/libuv.BUILD
Labels: none

update sdk_authz_end2end_test
  test/cpp/end2end/sdk_authz_end2end_test.cc
Labels: lang/c++

upgrade docker images (#27705)
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/i386/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php8/Dockerfile
  templates/src/php/docker/grpc-ext/Dockerfile.template
  templates/src/php/docker/grpc-src/Dockerfile.template
  templates/src/php/docker/i386/Dockerfile.template
  templates/src/php/docker/php-future/Dockerfile.template
  templates/src/php/docker/php-src/Dockerfile.template
  templates/src/php/docker/php-zts/Dockerfile.template
  templates/src/php/docker/php8/Dockerfile.template
Labels: none

libuv headers with headers, sources with sources
  src/libuv/src/heap-inl.h
  src/libuv/src/idna.h
  src/libuv/src/queue.h
  src/libuv/src/strscpy.h
  src/libuv/src/uv-common.h
  third_party/libuv.BUILD
Labels: none

to verify c-core fix PR#27205
  src/php/tests/generated_code/AbstractGeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeWithCallbackTest.php
  src/php/tests/generated_code/math_server.php
Labels: none

convert cronet encode path
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

Revert "fix for import of RLS LB policy (#27736)"
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

Revert "RLS LB policy (#27352)"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

Reviewer comments
  test/core/server_config_selector/server_config_selector_test.cc
Labels: lang/core

Use CLH reference format to backend service
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
