Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

Expose experimental binder transport API
  BUILD
  examples/android/binder/java/io/grpc/binder/cpp/exampleclient/native.cc
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/native.cc
  include/grpcpp/create_channel_binder.h
  include/grpcpp/security/binder_credentials.h
  include/grpcpp/security/binder_security_policy.h
  src/core/ext/transport/binder/client/binder_connector.cc
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
  src/core/ext/transport/binder/client/channel_create_impl.h
  src/core/ext/transport/binder/client/security_policy_setting.h
  src/core/ext/transport/binder/security_policy/binder_security_policy.cc
  src/core/ext/transport/binder/security_policy/internal_only_security_policy.cc
  src/core/ext/transport/binder/security_policy/untrusted_security_policy.cc
  src/core/ext/transport/binder/server/binder_server.h
  src/core/ext/transport/binder/server/binder_server_credentials.cc
  src/core/ext/transport/binder/transport/binder_transport.h
  src/core/ext/transport/binder/wire_format/wire_reader_impl.h
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/binder/end2end/binder_server_test.cc
  test/core/transport/binder/end2end/testing_channel_create.cc
  test/core/transport/binder/wire_reader_test.cc
Labels: lang/core, lang/c++

Add grpc++_binder to grpc++_internal
  BUILD
Labels: none

Regenerate projects.
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: none

Update basic template to match examples. (#27856)
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
Labels: none

hotfix for low java throughput
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: none

set threads_per_cq=2 for C++ unconstrained scenarios for best throughput and lower variance
  test/cpp/qps/json_run_localhost_scenarios.bzl
  test/cpp/qps/qps_json_driver_scenarios.bzl
  tools/run_tests/performance/scenario_config.py
Labels: lang/c++

don't create duplicate ExecCtx when creating GoogleDefaultCreds for xDS
  src/core/ext/xds/xds_bootstrap.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.h
  tools/run_tests/sanity/core_banned_functions.py
Labels: lang/core

[objc] GRPCMetadataDictionary convenient typedef (#27845)
  src/objective-c/GRPCClient/GRPCCallOptions.h
  src/objective-c/GRPCClient/GRPCCallOptions.m
  src/objective-c/GRPCClient/GRPCTypes.h
Labels: none

fix
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

Rename crashy-crash-pants to crash-on-unknown-compression-algorithm
  test/core/end2end/fuzzers/api_fuzzer_corpus/crash-on-unknown-compression-algorithm
Labels: lang/core

Initialize all fields in default constructor (#27823)
  src/core/lib/transport/parsed_metadata.h
Labels: lang/core

Revert "fix mobile builds to properly exclude xDS (#27855)"
  BUILD
Labels: none

Revert "don't build RLS on mobile (#27838)"
  BUILD
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/client_channel/BUILD
  test/cpp/end2end/BUILD
Labels: lang/core, lang/c++

Revert "[objc] GRPCMetadataDictionary convenient typedef (#27845)"
  src/objective-c/GRPCClient/GRPCCallOptions.h
  src/objective-c/GRPCClient/GRPCCallOptions.m
  src/objective-c/GRPCClient/GRPCTypes.h
Labels: none

revert changes to not build RLS on mobile (#27875)
  BUILD
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/client_channel/BUILD
  test/cpp/end2end/BUILD
Labels: lang/core, lang/c++

Revert "revert changes to not build RLS on mobile (#27875)"
  BUILD
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/client_channel/BUILD
  test/cpp/end2end/BUILD
Labels: lang/core, lang/c++

Give up on one vtable per type per process (#27865)
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

Revert "[objc] GRPCMetadataDictionary convenient typedef (#27845)" (#27877)
  src/objective-c/GRPCClient/GRPCCallOptions.h
  src/objective-c/GRPCClient/GRPCCallOptions.m
  src/objective-c/GRPCClient/GRPCTypes.h
Labels: none

new approach using multiple select() calls
  BUILD
  bazel/grpc_build_system.bzl
Labels: none

Fix assert on unknown compression algorithm (#27835)
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/crash-on-unknown-compression-algorithm
Labels: lang/core

using std::function
  src/core/ext/xds/xds_api.cc
Labels: lang/core

label bloat
  tools/profiling/bloat/bloat_diff.py
  tools/run_tests/python_utils/check_on_pr.py
Labels: none

add test cases
  test/core/iomgr/resolve_address_test.cc
Labels: lang/core

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
