Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

minor fixes
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
Labels: lang/core

moving some code around
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
Labels: lang/core

PHP libs+=psapi; Finduv.cmake logging?
  Makefile
  cmake/modules/Finduv.cmake
  templates/Makefile.template
Labels: none

Add grpc-java 1.41.0 to client_matrix.py (#27447)
  tools/interop_matrix/client_matrix.py
Labels: none

update parameter change (#27713)
  tools/distrib/run_clang_tidy.py
Labels: none

Fix Python Interop (#27620) (#27703)
  templates/tools/dockerfile/apt_get_basic_bullseye.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_build_interop.sh.include
  templates/tools/dockerfile/python_bullseye.include
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: none

fix sanity
  BUILD
  src/core/ext/filters/client_channel/backend_metric.cc
Labels: lang/core

Update by review
  src/core/lib/http/httpcli.cc
  test/core/security/credentials_test.cc
Labels: lang/core

credential tests request_metadata_state struct
  test/core/security/credentials_test.cc
Labels: lang/core

more c++ify
  src/core/lib/http/httpcli.cc
  test/core/security/credentials_test.cc
Labels: lang/core

fix asan error
  test/core/security/credentials_test.cc
Labels: lang/core

httpcli.request
  src/core/lib/http/httpcli.cc
Labels: lang/core

update by review
  src/core/lib/http/httpcli.cc
  test/core/security/credentials_test.cc
Labels: lang/core

Update by review 2
  test/core/security/credentials_test.cc
Labels: lang/core

bump to libuv v1.42 to get msys fix (landed in v1.38)
  bazel/grpc_deps.bzl
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Add metadata specialization for te: trailers
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core

Run sanitize after upgrading libuv. New files.
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/libuv/gen_build_yaml.py
Labels: none

revert the changes and update the tests
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  test/core/security/tls_security_connector_test.cc
Labels: lang/core

remove the evidence
  src/core/ext/filters/http/client/http_client_filter.cc
Labels: lang/core

Update RDS parsing for use on servers
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

fixing code review comments
  src/core/ext/xds/xds_client.cc
Labels: lang/core

update microbenchmarks
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++

ServerConfigSelector, provider and filter
  BUILD
  src/core/ext/filters/server_config_selector/server_config_selector.cc
  src/core/ext/filters/server_config_selector/server_config_selector.h
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/ext/filters/server_config_selector/server_config_selector_filter.h
  src/core/ext/service_config/service_config_call_data.h
Labels: lang/core

Unused variable
  src/core/ext/xds/xds_api.h
Labels: lang/core

ugh
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: lang/c++

code review comments fixing
  src/core/ext/xds/xds_client.cc
Labels: lang/core

cleanup copy code
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

fix asan detected leak
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

Wait for in-flight requests to complete during shutdown
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
Labels: lang/core

Automated change: Fix sanity tests
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/lib/transport/metadata_batch.cc
Labels: lang/core

Remove obsolete binder transport interfaces
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
Labels: lang/core

Update bazel version to 4.2.1 in binder_transport_apk docker image
  tools/dockerfile/test/binder_transport_apk/Dockerfile
Labels: none

Update third_party/protobuf
  bazel/grpc_deps.bzl
  third_party/protobuf.patch
  tools/run_tests/sanity/check_submodules.sh
Labels: none

run tools/distrib/python/make_grpcio_tools.py
  tools/distrib/python/grpcio_tools/protoc_lib_deps.py
Labels: none

regenerate protos for csharp, ruby, php
  src/ruby/pb/src/proto/grpc/testing/test_pb.rb
  src/ruby/qps/src/proto/grpc/testing/benchmark_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/control_pb.rb
  src/ruby/qps/src/proto/grpc/testing/report_qps_scenario_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/stats_pb.rb
  src/ruby/qps/src/proto/grpc/testing/worker_service_pb.rb
Labels: none

update Protobuf-C++.podspec
  src/cpp/Protobuf-C++.podspec
Labels: lang/c++

update build_handwritten.yaml
  build_handwritten.yaml
Labels: none

regenerate projects
  grpc.gemspec
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
Labels: none

add upper limit for cacheSizeBytes
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
Labels: lang/core

Revert "start splitting up xds_end2end_test (#27702)"
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
  test/cpp/end2end/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++
