Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

Make Kokoro store **/githhub/grpc/runner/** files for e2e performance (#27854)
  tools/internal_ci/linux/grpc_e2e_performance_gke.cfg
  tools/internal_ci/linux/grpc_e2e_performance_v2.cfg
Labels: none

more cmake fixes ... fixing one build breaks another
  CMakeLists.txt
  cmake/libuv.cmake
  templates/CMakeLists.txt.template
Labels: none

Upgrade abseil-pod to 1.20210324.2
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: none

XdsClient: fix resource timeout behavior
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

Automated change: Fix sanity tests
  tools/profiling/bloat/bloat_diff.py
Labels: none

Automated change: Fix sanity tests
  BUILD
Labels: none

code review comments
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  test/cpp/end2end/BUILD
Labels: lang/core, lang/c++

fix changes to unit tests
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/goaway_server_test.cc
Labels: lang/core

Use snake case instead of camel case for dumpped config
  tools/run_tests/run_xds_tests.py
Labels: none

fix windows compilation
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
Labels: lang/core

fix api fuzzer build
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

[objc] GRPCMetadataDictionary convenient typedef
  src/objective-c/GRPCClient/GRPCCallOptions.h
  src/objective-c/GRPCClient/GRPCCallOptions.m
  src/objective-c/GRPCClient/GRPCTypes.h
Labels: none

Fix clang-tidy
  grpc.gyp
  src/core/ext/xds/xds_routing.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/surface/server.h
Labels: lang/core

Restructure
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core

clang-tidy
  src/core/ext/xds/xds_routing.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core

Automated change: Fix sanity tests
  grpc.gyp
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core

fix mobile builds to properly exclude xDS (#27855)
  BUILD
Labels: none

fixing code review comments
  src/core/ext/xds/xds_client.cc
Labels: lang/core

CI TESTS ARE GREEN! (small sanity check cleanup)
  templates/CMakeLists.txt.template
Labels: none

Update iwyu.sh
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: none

Use snake case instead of camel case for dumpped config (#27862)
  tools/run_tests/run_xds_tests.py
Labels: none

small cleanup
  src/core/ext/xds/xds_client.h
Labels: lang/core

fixing deadlock
  src/core/ext/xds/xds_client.cc
Labels: lang/core

cleanup
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Clean up
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Init grpc_completion_queue_attributes::cq_shutdown_cb
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
Labels: none

clean up
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Fill in documented but missing function
  include/grpc/grpc_security.h
  src/core/lib/security/security_connector/ssl_utils.cc
Labels: lang/core

Give up on one vtable per type per process
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

fix
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
Labels: none

fix
  BUILD
Labels: none

Automated change: Fix sanity tests
  BUILD
Labels: none

remove obsolete locked suffixes
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
Labels: lang/core

Add comment about mu lifetime
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
Labels: lang/core

fix readable/writable error refcounts
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
Labels: lang/core

updating api_fuzzer and corpus entries
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/call-complete
  test/core/end2end/fuzzers/api_fuzzer_corpus/call-complete-streaming
  test/core/end2end/fuzzers/api_fuzzer_corpus/call-complete-unary
Labels: lang/core

refactor ParseResourceName
  src/core/ext/xds/xds_api.cc
Labels: lang/core

remove grpc_httpcli_context
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
Labels: lang/core

remove usage of grpc_httpcli_context
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.h
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  test/core/http/httpcli_test.cc
  test/core/http/httpscli_test.cc
  test/core/util/port_server_client.cc
Labels: lang/core

format code, fix tests
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  test/core/util/port_server_client.cc
Labels: lang/core
