Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

Fix thread safety analysis warning from new Clang version (#31306)
  src/core/tsi/ssl/key_logging/ssl_key_logging.cc
Labels: lang/core

xDS RBAC: remove env var protection (#31348)
  build_autogenerated.yaml
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

outlier detection: add basic unit test (#31346)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

[Remove Six] Remove dependency on six (#31340)
  bazel/grpc_python_deps.bzl
  examples/python/cancellation/BUILD.bazel
  requirements.bazel.txt
  requirements.txt
  setup.py
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/csds/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/unit/BUILD.bazel
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: lang/python

core tests: absl::make_unique -> std::make_unique (#31361)
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/event_engine/posix/posix_endpoint_test.cc
Labels: lang/core

Remove installaton of go 1.17 in the CI jobs.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
  tools/internal_ci/linux/grpc_psm_performance_gke_experiment.sh
Labels: none

[Python][Remove enum34] Remove enum34
  bazel/grpc_python_deps.bzl
  requirements.bazel.txt
  setup.py
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
Labels: lang/python

[Python][Remove futures] Remove futures
  bazel/grpc_python_deps.bzl
  examples/python/cancellation/BUILD.bazel
  examples/python/errors/BUILD.bazel
  examples/python/multiprocessing/BUILD
  requirements.bazel.txt
  setup.py
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio_tests/setup.py
  tools/distrib/format_bazel.sh
Labels: lang/python

Remove debug log
  src/python/grpcio/grpc/__init__.py
Labels: lang/python

Remove installaton of go 1.17 in the CI jobs. (#31379)
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
  tools/internal_ci/linux/grpc_psm_performance_gke_experiment.sh
Labels: none

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**

lang/ObjC:
- examples/objective-c/**
- src/objective-c/**

lang/php:
- examples/php/**
- src/php/**

lang/python:
- examples/python/**
- src/python/**

lang/ruby:
- examples/ruby/**
- src/ruby/**

"lang/C#":
- src/csharp/**
