Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

xds-k8s tests: Use test driver from master branch (#27462)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: none

Add missing quatation marks.
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
Labels: none

xds-k8s tests: Use test driver from master branch (#27462)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: none

xds_k8s tests: Fix xlang install script sourcing. (#27658)
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
Labels: none

fixes
  src/core/lib/resource_quota/api.cc
  test/core/transport/chttp2/context_list_test.cc
Labels: lang/core

Revert "Revert "Revert "Revert "Revert "File watcher authorization policy provider implementation"" (#27605)" (#27644)" (#27645)"
  BUILD
  grpc.def
  include/grpc/grpc_security.h
  include/grpcpp/security/authorization_policy_provider.h
  src/core/lib/security/authorization/authorization_policy_provider.h
  src/core/lib/security/authorization/grpc_authorization_engine.h
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/grpc_authorization_policy_provider.h
  src/cpp/server/authorization_policy_provider.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/tests/sdk_authz.cc
  test/core/security/BUILD
  test/core/security/authorization/test_policies/BUILD
  test/core/security/authorization/test_policies/invalid_policy.json
  test/core/security/authorization/test_policies/valid_policy_1.json
  test/core/security/authorization/test_policies/valid_policy_2.json
  test/core/security/grpc_authorization_policy_provider_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/sdk_authz_end2end_test.cc
  test/cpp/server/BUILD
  test/cpp/server/authorization_policy_provider_test.cc
Labels: lang/core, lang/c++

windows-fix
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/iomgr/tcp_windows.h
Labels: lang/core

PHP: fix ChannelCredentials\createSsl parameter phpdocs to optional and default null (#27283)
  src/php/ext/grpc/channel_credentials.c
Labels: none

add select and select_deps to grpc_unsecure target
  BUILD
Labels: none

move test xDS server to its own library
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++

fixes
  src/core/lib/iomgr/endpoint_pair_posix.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
Labels: lang/core, lang/c++

grpc_server_config_fetcher: Cleanup StartWatch - remove unnecessary args (#27663)
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/surface/server.h
Labels: lang/core

update rls.proto
  src/proto/grpc/lookup/v1/rls.proto
Labels: none

Reviewer comments
  BUILD
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/fault_injection/service_config_parser.cc
  src/core/ext/filters/fault_injection/service_config_parser.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/xds/xds_client.cc
Labels: lang/core

attempt to solve darwin build problems
  third_party/libuv.BUILD
Labels: none

fixes
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/iomgr/endpoint_pair_posix.cc
Labels: lang/core

Reviewer comments
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
Labels: lang/core

change RLS config parser test to support GRPC_ERROR_IS_ABSEIL_STATUS
  test/core/client_channel/rls_lb_config_parser_test.cc
Labels: lang/core

Automated change: Fix sanity tests
  src/core/ext/service_config/service_config.h
  src/core/ext/service_config/service_config_call_data.h
  src/core/ext/service_config/service_config_parser.h
Labels: lang/core

Add grpc init and shutdown to test
  test/cpp/server/authorization_policy_provider_test.cc
Labels: lang/c++

attempt to fix windows build issues
  third_party/libuv.BUILD
Labels: none

Bump version to v1.41.1
  BUILD
  build_handwritten.yaml
Labels: none

Regenerate projects
  CMakeLists.txt
  Makefile
  _metadata.py
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++

switch to new location of TypedStruct and ORCA protos
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/upb-generated/udpa/data/orca/v1/orca_load_report.upb.c
  src/core/ext/upb-generated/udpa/data/orca/v1/orca_load_report.upb.h
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.h
  src/core/ext/upb-generated/xds/data/orca/v3/orca_load_report.upb.c
  src/core/ext/upb-generated/xds/data/orca/v3/orca_load_report.upb.h
  src/core/ext/upb-generated/xds/type/v3/typed_struct.upb.c
  src/core/ext/upb-generated/xds/type/v3/typed_struct.upb.h
  src/core/ext/upbdefs-generated/udpa/data/orca/v1/orca_load_report.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/data/orca/v1/orca_load_report.upbdefs.h
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.h
  src/core/ext/upbdefs-generated/xds/data/orca/v3/orca_load_report.upbdefs.c
  src/core/ext/upbdefs-generated/xds/data/orca/v3/orca_load_report.upbdefs.h
  src/core/ext/upbdefs-generated/xds/type/v3/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/xds/type/v3/typed_struct.upbdefs.h
  src/core/ext/xds/xds_api.cc
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/orca_load_report_for_test.proto
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, lang/c++

Fix pytype missing bz2 lib error (#26638) (#27690)
  templates/tools/dockerfile/python_debian11.include
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/test/sanity/Dockerfile
Labels: none

Fix pytype missing bz2 lib error (#26638) (#27693)
  templates/tools/dockerfile/python_debian11.include
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/test/sanity/Dockerfile
Labels: none

Remove old backwards compatibility cronet compression workaround code
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.h
  src/core/ext/filters/workarounds/workaround_utils.cc
  src/core/ext/filters/workarounds/workaround_utils.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/fixtures/h2_full+workarounds.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/workaround_cronet_compression.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

update upb codegen
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
Labels: lang/core

code review changes
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/core, lang/c++

Reviewer comments
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy_factory.h
Labels: lang/core

update check_bad_dependencies script to pass in grpc_no_xds define
  tools/run_tests/sanity/check_bad_dependencies.sh
Labels: none

Upgrade libuv to v1.37.0 (#27684)
  bazel/grpc_deps.bzl
  templates/tools/dockerfile/libuv_install.include
  templates/tools/dockerfile/test/cxx_jessie_x64/Dockerfile.template
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/run_tests/sanity/check_submodules.sh
Labels: none

yapf & isort
  setup.py
  tools/buildgen/generate_libuv_source_wrappers.py
Labels: none

remove authorization_policy_provider_null_vtable.cc and its dependency in grpc_unsecure
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  grpc.gyp
  src/core/lib/security/authorization/authorization_policy_provider_null_vtable.cc
Labels: lang/core

Fix Python Interop (#27620)
  templates/tools/dockerfile/apt_get_basic_bullseye.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_build_interop.sh.include
  templates/tools/dockerfile/python_bullseye.include
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: none

move xds_end2end_test to xds subdir, and refactor CountedService
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

Fix Python Interop (#27620)
  templates/tools/dockerfile/apt_get_basic_bullseye.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_build_interop.sh.include
  templates/tools/dockerfile/python_bullseye.include
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: none

Add third_party/libuv *.[c,h] to includes
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/libuv/gen_build_yaml.py
Labels: none

fix
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/c++

add TODO
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
