Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

ServerConfigSelector, provider and filter (#27717)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/server_config_selector/server_config_selector.cc
  src/core/ext/filters/server_config_selector/server_config_selector.h
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/ext/filters/server_config_selector/server_config_selector_filter.h
  src/core/ext/service_config/service_config_call_data.h
  test/core/server_config_selector/BUILD
  test/core/server_config_selector/server_config_selector_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

[objc] Libuv pod patch to build for latest stable 1.42.0
  src/objective-c/Libuv-gRPC.podspec
  templates/src/objective-c/Libuv-gRPC.podspec.template
Labels: none

Try cleaning things up
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

to verify c-core fix PR#27205 (#27248)
  src/php/tests/generated_code/AbstractGeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeWithCallbackTest.php
  src/php/tests/generated_code/math_server.php
Labels: none

Agh
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

fixes
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
Labels: lang/core

const T& instead T
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
Labels: lang/core

allow connectivity state watching to work on lame channels
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/core, lang/c++

Revert "Revert RLS LB policy (#27738)"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

Fix Python Interop (#27620) (#27703)
  templates/tools/dockerfile/apt_get_basic_bullseye.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_build_interop.sh.include
  templates/tools/dockerfile/python_bullseye.include
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: none

[objc] Remove pre install header search path patch in core test (#27741)
  src/objective-c/tests/CoreTests/Podfile
Labels: none

[objc] nsstring formatting fix for error.code
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: none

clang-tidy
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core

const T& instead T (#27746)
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
Labels: lang/core

Fix Python Interop (#27620) (#27703) (#27749)
  templates/tools/dockerfile/apt_get_basic_bullseye.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_build_interop.sh.include
  templates/tools/dockerfile/python_bullseye.include
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: none

remove useless tests
  test/core/security/tls_security_connector_test.cc
Labels: lang/core

fixes
  src/core/lib/surface/call.cc
Labels: lang/core

Add Tests for the cmp() functions in Tls*SecurityConnector (#27672)
  test/core/security/tls_security_connector_test.cc
Labels: lang/core

custom verification proposed C core changes
  BUILD
  include/grpc/grpc_security.h
  include/grpc/grpc_security_constants.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/credentials/xds/xds_credentials.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  test/core/end2end/fixtures/h2_tls.cc
  test/core/security/BUILD
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
Labels: lang/core

change the test async verifier to a thread loop
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  test/core/end2end/fixtures/h2_tls.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
Labels: lang/core

add more tests
  src/cpp/common/tls_certificate_verifier.cc
  test/cpp/client/BUILD
  test/cpp/client/credentials_test.cc
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/server/BUILD
  test/cpp/server/credentials_test.cc
  test/cpp/util/tls_test_utils.cc
Labels: lang/c++

add C++ implementations
  BUILD
  include/grpcpp/security/tls_certificate_verifier.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/common/tls_certificate_verifier.cc
  src/cpp/common/tls_credentials_options.cc
  src/cpp/common/tls_credentials_options_util.h
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
Labels: lang/core, lang/c++

change the structure
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  test/core/end2end/fixtures/h2_tls.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
Labels: lang/core

add more SAN fields
  include/grpc/grpc_security.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
Labels: lang/core

add more cpp tests
  include/grpcpp/security/tls_certificate_verifier.h
  src/cpp/common/tls_certificate_verifier.cc
  test/cpp/security/BUILD
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/util/BUILD
  test/cpp/util/tls_test_utils.cc
  test/cpp/util/tls_test_utils.h
Labels: lang/c++

save work
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/common/tls_certificate_verifier.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/util/tls_test_utils.cc
Labels: lang/core, lang/c++

latest changes
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
Labels: lang/core

change the test structure
  include/grpcpp/security/tls_certificate_verifier.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/common/tls_certificate_verifier.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/util/tls_utils.cc
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/util/tls_test_utils.cc
  test/cpp/util/tls_test_utils.h
Labels: lang/core, lang/c++

add comments for C++ code
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/cpp/common/tls_certificate_verifier.cc
Labels: lang/core, lang/c++

debug TSAN failures
  BUILD
  src/core/lib/security/credentials/tls/tls_credentials.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
  test/cpp/util/tls_test_utils.cc
Labels: lang/core, lang/c++

debug Windows failure
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/security/BUILD
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/server/credentials_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++

extra debug try
  test/cpp/security/tls_certificate_verifier_test.cc
Labels: lang/c++

add more
  test/cpp/security/tls_certificate_verifier_test.cc
Labels: lang/c++

debug attempt 1
  test/cpp/security/tls_certificate_verifier_test.cc
Labels: lang/c++

add more debugging messages
  test/cpp/security/tls_certificate_verifier_test.cc
Labels: lang/c++

fix the latest comments
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
  test/cpp/util/tls_test_utils.h
Labels: lang/core, lang/c++

fix styling issue
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/common/tls_certificate_verifier.cc
  test/core/end2end/fixtures/h2_tls.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
  test/cpp/client/credentials_test.cc
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/server/credentials_test.cc
  test/cpp/util/tls_test_utils.cc
  test/cpp/util/tls_test_utils.h
Labels: lang/core, lang/c++

add back the core tests
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
Labels: lang/core

fix build errors
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/core/lib/security/credentials/xds/xds_credentials.cc
Labels: lang/core

debug the macOS test
  src/cpp/common/tls_credentials_options.cc
  test/cpp/security/tls_certificate_verifier_test.cc
Labels: lang/c++

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
