Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

fix-asan
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
Labels: lang/core

remove <thread> dependency
  src/core/lib/event_engine/uv/libuv_event_engine.cc
  src/core/lib/event_engine/uv/libuv_event_engine.h
Labels: lang/core

fix libuv dep hash
  bazel/grpc_deps.bzl
Labels: none

[Backport][v1.40.x] xds-k8s tests: Use test driver from master branch (#27694)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: none

fix ruby build failure
  grpc.def
  include/grpc/grpc_security.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
Labels: lang/core

fix race on EventEngine destruction
  bazel/grpc_deps.bzl
  src/core/lib/event_engine/uv/libuv_event_engine.cc
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core

banned
  src/core/lib/iomgr/tcp_custom.cc
  tools/run_tests/sanity/core_banned_functions.py
Labels: lang/core

Join UV on EventEngine destruction
  src/core/lib/event_engine/uv/libuv_event_engine.cc
Labels: lang/core

add header
  test/cpp/server/authorization_policy_provider_test.cc
Labels: lang/c++

fixing code review comments.
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

Remove redundent toolchain registrations in WORKSPACE (#27674)
  WORKSPACE
Labels: none

fix sanity
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

fix libuv dep hash (#27704)
  bazel/grpc_deps.bzl
Labels: none

Add missing quatation marks.
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
Labels: none

xds-k8s tests: Use test driver from master branch (#27462)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: none

update build files
  bazel/grpc_deps.bzl
  src/objective-c/BoringSSL-GRPC.podspec
  tools/run_tests/sanity/check_submodules.sh
Labels: none

generate boringssl prefix headers
  src/boringssl/boringssl_prefix_symbols.h
  src/objective-c/BoringSSL-GRPC.podspec
Labels: none

update podspecs
  gRPC-Core.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: none

Add missing quatation marks.
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
Labels: none

xds-k8s tests: Use test driver from master branch (#27462)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: none

fix include path
  test/core/client_channel/rls_lb_config_parser_test.cc
Labels: lang/core

[Backport][v1.41.x] xds-k8s tests: Use test driver from master branch (#27695)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: none

[Backport][v1.37.x] xds-k8s tests: Use test driver from master branch (#27681)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: none

[Backport][v1.38.x] xds-k8s tests: Use test driver from master branch (#27691)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: none

[Backport][v1.39.x] xds-k8s tests: Use test driver from master branch (#27692)
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
Labels: none

upgrade protobuf to 3.18.1
  bazel/grpc_deps.bzl
  build_handwritten.yaml
  grpc.gemspec
  src/cpp/Protobuf-C++.podspec
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/ruby/pb/src/proto/grpc/testing/test_pb.rb
  src/ruby/qps/src/proto/grpc/testing/benchmark_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/control_pb.rb
  src/ruby/qps/src/proto/grpc/testing/report_qps_scenario_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/stats_pb.rb
  src/ruby/qps/src/proto/grpc/testing/worker_service_pb.rb
  third_party/protobuf.patch
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/protoc_lib_deps.py
  tools/run_tests/sanity/check_submodules.sh
Labels: lang/c++

Add CRL Enabled Credentials to test folder (#27678)
  test/core/tsi/test_creds/crl_data/15e5c67a.0
  test/core/tsi/test_creds/crl_data/26fefe27.0
  test/core/tsi/test_creds/crl_data/BUILD
  test/core/tsi/test_creds/crl_data/README
  test/core/tsi/test_creds/crl_data/ab06acdd.0
  test/core/tsi/test_creds/crl_data/ab06acdd.r0
  test/core/tsi/test_creds/crl_data/ca-openssl.cnf
  test/core/tsi/test_creds/crl_data/ca.key
  test/core/tsi/test_creds/crl_data/ca.pem
  test/core/tsi/test_creds/crl_data/current.crl
  test/core/tsi/test_creds/crl_data/demoCA/crlnumber
  test/core/tsi/test_creds/crl_data/demoCA/crlnumber.old
  test/core/tsi/test_creds/crl_data/demoCA/index.txt
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.old
  test/core/tsi/test_creds/crl_data/revoked.key
  test/core/tsi/test_creds/crl_data/revoked.pem
  test/core/tsi/test_creds/crl_data/valid.key
  test/core/tsi/test_creds/crl_data/valid.pem
Labels: lang/core

grpclb: implement subchannel caching (#27657)
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.h
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/core, lang/c++

banned
  src/core/lib/iomgr/tcp_custom.cc
Labels: lang/core

update parameter change
  tools/distrib/run_clang_tidy.py
Labels: none

start splitting up xds_end2end_test (#27702)
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

fixes
  src/core/lib/resource_quota/api.cc
Labels: lang/core

python msvc fixes (?)
  setup.py
Labels: none

clang-tidy-fix
  include/grpc/event_engine/memory_request.h
Labels: lang/core

add env var guard
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/core, lang/c++

Add proper PHP includes for libuv
  config.m4
  templates/config.m4.template
Labels: none

avoid duplication of CountedService
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

updating files as per review comments
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  src/core/tsi/ssl/key_logging/ssl_key_logging.cc
  src/core/tsi/ssl/key_logging/ssl_key_logging.h
  src/core/tsi/ssl_transport_security.cc
  src/cpp/common/tls_credentials_options.cc
  test/cpp/end2end/tls_key_export_test.cc
Labels: lang/core, lang/c++

Automated change: Fix sanity tests
  include/grpc/event_engine/memory_request.h
Labels: lang/core

generate_projects
  build_autogenerated.yaml
Labels: none
