Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#, disposition/Needs Internal Changes

[Doc] Wake-up Copybara (#32969)
  third_party/README.md
Labels: none

fixup: more const
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

Add third_party logger config conversion in xDS audit logger registry.
  src/core/BUILD
  src/core/ext/xds/xds_audit_logger_registry.cc
  test/core/xds/BUILD
  test/core/xds/xds_audit_logger_registry_test.cc
Labels: lang/core

Automated change: Fix sanity tests
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/xds_audit_logger_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/xds/xds_audit_logger_registry_test.cc
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

[test] Disable end2end tests for the EventEngine listener experiment (#32968)
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

[xds lb] Pass cluster data to stateful session filter
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
Labels: lang/core

wip
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

fixup: IWYU
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

return empty json on error
  src/core/ext/xds/xds_audit_logger_registry.cc
Labels: lang/core

fixup: unused parameter, clang tidy, merge issue
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
Labels: lang/core

[Doc] Updated supported platforms in src/cpp/README.md (#32960)
  src/cpp/README.md
Labels: lang/c++

Automated change: Fix sanity tests
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/cluster_lb_data.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

[Binder Transport] Flush ExecCtx in e2e test
  test/core/transport/binder/end2end/end2end_binder_transport_test.cc
Labels: lang/core

different approach
  test/core/gprpp/examine_stack_test.cc
Labels: lang/core

third_party/xds updated
  CMakeLists.txt
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  tools/run_tests/sanity/check_submodules.sh
Labels: none

[examine-stack] Try to unblock Ubuntu 20.04 (#32975)
  test/core/gprpp/examine_stack_test.cc
Labels: lang/core

don't annotate call attempt tracer
  src/cpp/ext/filters/census/client_filter.cc
Labels: lang/c++

formatting
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++

pass filter name to generate server config
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  src/core/ext/xds/xds_http_stateful_session_filter.h
  src/core/ext/xds/xds_routing.cc
  test/core/xds/xds_http_filters_test.cc
Labels: lang/core

fixup: code review comments
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_internal.h
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

remove unused identifier
  src/core/ext/xds/xds_http_filters.h
Labels: lang/core

[test-infra] Switch RBE linux build to a new custom image rbe_ubuntu2004. (#32748)
  templates/tools/dockerfile/test/rbe_ubuntu2004/Dockerfile.template
  third_party/toolchains/BUILD
  third_party/toolchains/README.md
  third_party/toolchains/generate_linux_rbe_configs.sh
  third_party/toolchains/rbe_ubuntu1804/cc/module.modulemap
  third_party/toolchains/rbe_ubuntu2004/LICENSE
  third_party/toolchains/rbe_ubuntu2004/cc/BUILD
  third_party/toolchains/rbe_ubuntu2004/cc/WORKSPACE
  third_party/toolchains/rbe_ubuntu2004/cc/armeabi_cc_toolchain_config.bzl
  third_party/toolchains/rbe_ubuntu2004/cc/builtin_include_directory_paths
  third_party/toolchains/rbe_ubuntu2004/cc/cc_toolchain_config.bzl
  third_party/toolchains/rbe_ubuntu2004/cc/cc_wrapper.sh
  third_party/toolchains/rbe_ubuntu2004/cc/module.modulemap
  third_party/toolchains/rbe_ubuntu2004/cc/tools/cpp/empty.cc
  third_party/toolchains/rbe_ubuntu2004/config/BUILD
  tools/dockerfile/test/rbe_ubuntu2004.current_version
  tools/dockerfile/test/rbe_ubuntu2004/Dockerfile
  tools/remote_build/linux.bazelrc
Labels: none

Automated change: Fix sanity tests
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_internal.h
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/lib/service_config/service_config_call_data.h
Labels: lang/core

add callattempttracer back in
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++

fixup: fixed test and comments
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Labels: lang/core

address PR comments
  test/core/xds/xds_http_filters_test.cc
Labels: lang/core

fixup: review comments
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Labels: lang/core

fixup
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Labels: lang/core

Small fixes
  bazel/_run_time_type_check_main.py
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/reflection/_reflection_client_test.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: lang/python

python3
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/utils/dns_resolver.py
  test/cpp/naming/utils/dns_server.py
  test/cpp/naming/utils/run_dns_server_for_lb_interop_tests.py
  test/cpp/naming/utils/tcp_connect.py
Labels: lang/c++

[xDS] pass HTTP filter name to `GenerateServiceConfig()` method. (#32976)
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  src/core/ext/xds/xds_http_stateful_session_filter.h
  src/core/ext/xds/xds_routing.cc
  test/core/xds/xds_http_filters_test.cc
Labels: lang/core

fixup: clang tidy
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
Labels: lang/core

comment addressed.
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++

Fix some bugs
  setup.cfg
  src/python/grpcio/grpc/_utilities.py
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: lang/python

clean up boolean API
  src/core/ext/xds/xds_api.cc
  src/core/lib/json/json.h
  src/core/lib/json/json_object_loader.cc
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_writer.cc
  test/core/channel/channelz_test.cc
  test/core/json/json_test.cc
Labels: lang/core

iwyu
  src/core/ext/xds/xds_http_rbac_filter.cc
Labels: lang/core

fix unused param error
  src/core/lib/json/json.h
Labels: lang/core

Bump the version to 1.54.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

Add mypy and fix types in grpcio_testing
  setup.cfg
  src/python/grpcio_testing/grpc_testing/_channel/_channel_rpc.py
  src/python/grpcio_testing/grpc_testing/_channel/_invocation.py
  src/python/grpcio_testing/grpc_testing/_channel/_rpc_state.py
  src/python/grpcio_testing/grpc_testing/_server/_handler.py
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
  src/python/grpcio_testing/grpc_testing/_server/_server.py
  src/python/grpcio_testing/grpc_testing/_server/_servicer_context.py
  src/python/grpcio_testing/grpc_testing/_time.py
Labels: lang/python

Add tools/distrib/check_mypy.sh
  tools/distrib/check_mypy.sh
Labels: none

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**
- src/compiler/node*

lang/ObjC:
- examples/objective-c/**
- src/compiler/objective_c*
- src/objective-c/**

lang/php:
- examples/php/**
- src/compiler/php*
- src/php/**

lang/python:
- bazel/python_rules.bzl
- examples/python/**
- requirements.bazel.txt
- src/compiler/python*
- any:
  - src/python/**
  - "!src/python/grpcio/grpc_core_dependencies.py"

lang/ruby:
- examples/ruby/**
- src/compiler/ruby*
- src/ruby/**

"lang/C#":
- src/compiler/csharp*
- src/csharp/**

"disposition/Needs Internal Changes":
- src/core/lib/event_engine/windows/**
- src/core/lib/gpr/windows/**
- src/core/lib/gprpp/windows/**
- test/core/event_engine/windows/**
