Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

Correct the field name
  src/python/grpcio_tests/tests/csds/test_csds.py
  tools/run_tests/run_xds_tests.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: none

exclude libuv files from gRPC-C++.podspec
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: none

Address comments
  src/python/grpcio_tests/tests/csds/test_csds.py
  tools/run_tests/run_xds_tests.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: none

detect unknown fields
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

Rewrite py_proto_library to track dependencies correctly.
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
Labels: none

Propagate Python dependencies of py_grpc_library rules to consumers.
  bazel/python_rules.bzl
Labels: none

Add test coverage for aspect-based py_proto_library.
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/import_from_proto_library_package.py
  bazel/test/python_test_repo/import_from_this_package.py
  bazel/test/python_test_repo/in_subpackage/BUILD
  bazel/test/python_test_repo/in_subpackage/subpackage.proto
  bazel/test/python_test_repo/transitive_proto_dep.py
Labels: none

Fix sanity
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/xds/xds_channel_stack_modifier_test.cc
Labels: lang/core

fix
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core

Fix race around shutdown & kicker_ usage
  src/core/lib/event_engine/uv/libuv_event_engine.cc
  src/core/lib/event_engine/uv/libuv_event_engine.h
Labels: lang/core

Use Promises instead of Mutexen for consistency
  src/core/lib/event_engine/uv/libuv_event_engine.cc
  src/core/lib/event_engine/uv/libuv_event_engine.h
Labels: lang/core

refinement
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/gprpp/table.h
  src/core/lib/slice/slice.h
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/transport_op_string.cc
Labels: lang/core

Fix test
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

Fix memory leak - destroy builder
  test/core/xds/xds_channel_stack_modifier_test.cc
Labels: lang/core

upgrade protobuf to 3.18.1 (automatically generated) (#27722)
  bazel/grpc_deps.bzl
  build_handwritten.yaml
  grpc.gemspec
  src/cpp/Protobuf-C++.podspec
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/ruby/pb/src/proto/grpc/testing/test_pb.rb
  src/ruby/qps/src/proto/grpc/testing/benchmark_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/control_pb.rb
  src/ruby/qps/src/proto/grpc/testing/report_qps_scenario_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/stats_pb.rb
  src/ruby/qps/src/proto/grpc/testing/worker_service_pb.rb
  third_party/protobuf.patch
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/protoc_lib_deps.py
  tools/run_tests/sanity/check_submodules.sh
Labels: lang/c++

Added bazel-integrated upb code-gen
  BUILD
  bazel/grpc_build_system.bzl
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/altscontext.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/altscontext.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/handshaker.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/handshaker.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/transport_security_common.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/transport_security_common.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/health/v1/health.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/health/v1/health.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lb/v1/load_balancer.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lb/v1/load_balancer.upbdefs.h
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_for_bazel.py
Labels: lang/core

xds/interop: Authz principal present is now working more, but not entirely
  tools/run_tests/xds_k8s_test_driver/tests/authz_test.py
Labels: none

fix tvos build
  src/ruby/ext/grpc/extconf.rb
  templates/src/ruby/ext/grpc/extconf.rb.template
  third_party/libuv.BUILD
  tools/buildgen/generate_libuv_source_wrappers.py
Labels: none

Update by review
  BUILD
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/proto/grpc/lookup/v1/BUILD
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_for_bazel.py
Labels: lang/core

Fixing type check
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

yapf
  tools/run_tests/xds_k8s_test_driver/tests/authz_test.py
Labels: none

Add Aspects to Bazel py_proto_library and py_grpc_library Rules (#27275)
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/dummy_plugin.py
  bazel/test/python_test_repo/import_from_proto_library_package.py
  bazel/test/python_test_repo/import_from_this_package.py
  bazel/test/python_test_repo/in_subpackage/BUILD
  bazel/test/python_test_repo/in_subpackage/subpackage.proto
  bazel/test/python_test_repo/transitive_proto_dep.py
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
Labels: none

Add new CSDS support to the regular K8s testcases
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: none

libuv is not project `uv` in cmake =/
  cmake/libuv.cmake
  cmake/modules/Finduv.cmake
Labels: none

fix (#27798)
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core

Revert "Add Aspects to Bazel py_proto_library and py_grpc_library Rules (#27275)"
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/dummy_plugin.py
  bazel/test/python_test_repo/import_from_proto_library_package.py
  bazel/test/python_test_repo/import_from_this_package.py
  bazel/test/python_test_repo/in_subpackage/BUILD
  bazel/test/python_test_repo/in_subpackage/subpackage.proto
  bazel/test/python_test_repo/transitive_proto_dep.py
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
Labels: none

xds/interop: Authz principal present is now working more, but not entirely (#27799)
  tools/run_tests/xds_k8s_test_driver/tests/authz_test.py
Labels: none

MetadataCredentialsPluginWrapper: Create thread pool only if needed (#27791)
  src/cpp/client/secure_credentials.cc
Labels: lang/c++

Revert "Add Aspects to Bazel py_proto_library and py_grpc_library Rules (#27275)" (#27805)
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/dummy_plugin.py
  bazel/test/python_test_repo/import_from_proto_library_package.py
  bazel/test/python_test_repo/import_from_this_package.py
  bazel/test/python_test_repo/in_subpackage/BUILD
  bazel/test/python_test_repo/in_subpackage/subpackage.proto
  bazel/test/python_test_repo/transitive_proto_dep.py
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
Labels: none

Revert "Revert "Add Aspects to Bazel py_proto_library and py_grpc_library Rules (#27275)" (#27805)"
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/dummy_plugin.py
  bazel/test/python_test_repo/import_from_proto_library_package.py
  bazel/test/python_test_repo/import_from_this_package.py
  bazel/test/python_test_repo/in_subpackage/BUILD
  bazel/test/python_test_repo/in_subpackage/subpackage.proto
  bazel/test/python_test_repo/transitive_proto_dep.py
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
Labels: none

Remove unused symbol
  bazel/python_rules.bzl
Labels: none

target, not library
  cmake/libuv.cmake
Labels: none

Don't build xds_channel_stack_modifier_test on non-bazel build systems due to census dependency
  CMakeLists.txt
  build_autogenerated.yaml
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/run_tests/generated/tests.json
Labels: none

more cmake fixes
  CMakeLists.txt
  cmake/libuv.cmake
  cmake/modules/Findlibuv.cmake
  templates/CMakeLists.txt.template
Labels: none

compiles
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/lib/slice/slice.h
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/parsed_metadata_test.cc
Labels: lang/core

Automated change: Fix sanity tests
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/lib/slice/slice.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

Reland #27275 (#27806)
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/dummy_plugin.py
  bazel/test/python_test_repo/import_from_proto_library_package.py
  bazel/test/python_test_repo/import_from_this_package.py
  bazel/test/python_test_repo/in_subpackage/BUILD
  bazel/test/python_test_repo/in_subpackage/subpackage.proto
  bazel/test/python_test_repo/transitive_proto_dep.py
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
Labels: none

Use strict buildifier by default
  tools/distrib/buildifier_format_code.sh
  tools/distrib/buildifier_format_code_strict.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: none

Whoops. That file does not exist
  tools/distrib/buildifier_format_code.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: none

better impl
  src/core/lib/slice/slice.h
Labels: lang/core
