Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

cmake external project name uv->libuv
  examples/cpp/helloworld/cmake_externalproject/CMakeLists.txt
Labels: none

Extend the Windows Python test timeout to 3hr (#27843)
  tools/internal_ci/windows/grpc_basictests_python.cfg
  tools/run_tests/run_tests.py
Labels: none

fix find_package
  examples/cpp/helloworld/cmake_externalproject/CMakeLists.txt
Labels: none

XdsChannelStackModifierTest cleanup (#27833)
  test/core/xds/xds_channel_stack_modifier_test.cc
Labels: lang/core

subscribed_resources now 2 levels
  src/core/ext/xds/xds_client.cc
Labels: lang/core

include libuv from non-system paths
  src/core/lib/event_engine/uv/libuv_event_engine.cc
  src/core/lib/event_engine/uv/libuv_event_engine.h
Labels: lang/core

don't build RLS on mobile (#27838)
  BUILD
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/client_channel/BUILD
  test/cpp/end2end/BUILD
Labels: lang/core, lang/c++

minimize binary code size from json_util library (#27829)
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
Labels: lang/core

provide more slack in RLS end2end tests (#27842)
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

Remove condition that I dont remember why it exists (#27836)
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/validator-fail
Labels: lang/core

cmake fix for externalproject helloworld
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  cmake/libuv.cmake
  examples/cpp/helloworld/cmake_externalproject/CMakeLists.txt
  grpc.gyp
Labels: none

Automated change: Fix sanity tests
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/resolved_address.h
  src/core/lib/resolver/resolver.h
  src/core/lib/resolver/resolver_factory.h
  src/core/lib/resolver/resolver_registry.h
  src/core/lib/resolver/server_address.h
  src/core/lib/service_config/service_config.h
  src/core/lib/service_config/service_config_call_data.h
  src/core/lib/service_config/service_config_parser.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

Regenerate projects.
  CMakeLists.txt
  build_autogenerated.yaml
Labels: none

[BinderTransport] Create client channel instead of direct channel
  BUILD
  examples/android/binder/java/io/grpc/binder/cpp/exampleclient/native.cc
  src/core/ext/transport/binder/client/binder_connector.cc
  src/core/ext/transport/binder/client/binder_connector.h
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
  src/core/ext/transport/binder/client/channel_create_impl.cc
  src/core/ext/transport/binder/client/channel_create_impl.h
  src/core/ext/transport/binder/client/security_policy_setting.cc
  src/core/ext/transport/binder/client/security_policy_setting.h
  test/core/transport/binder/end2end/binder_server_test.cc
Labels: lang/core

Using absl::string_view as much as possible
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

[BinderTransport] Create client channel instead of direct channel (#27790)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  examples/android/binder/java/io/grpc/binder/cpp/exampleclient/native.cc
  src/core/ext/transport/binder/client/binder_connector.cc
  src/core/ext/transport/binder/client/binder_connector.h
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
  src/core/ext/transport/binder/client/channel_create_impl.cc
  src/core/ext/transport/binder/client/channel_create_impl.h
  src/core/ext/transport/binder/client/security_policy_setting.cc
  src/core/ext/transport/binder/client/security_policy_setting.h
  test/core/transport/binder/end2end/binder_server_test.cc
Labels: lang/core

moved version map to the right place.
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

clean up
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Reviewer comments
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_routing.cc
  src/core/ext/xds/xds_routing.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/ext/xds/xds_server_config_fetcher.h
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

switch back to 1 thread per cq for C++ unconstrained benchmarks
  tools/run_tests/performance/scenario_config.py
Labels: none

regenerate unit test scenarios for bazel
  test/cpp/qps/json_run_localhost_scenarios.bzl
  test/cpp/qps/qps_json_driver_scenarios.bzl
Labels: lang/c++

Fix RDS resource deletion updates
  src/core/ext/xds/xds_client.cc
Labels: lang/core

upgrade bloaty
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Fix resource timeout issue
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
Labels: lang/core, lang/c++

ruby: support "arm64-darwin" platform native gem (#25992)
  Rakefile
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
Labels: none

Cleanup
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds/xds_server.cc
Labels: lang/core, lang/c++

more bazel and cmake fixes
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  cmake/libuv.cmake
  grpc.gyp
  templates/CMakeLists.txt.template
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Make Kokoro store **/githhub/grpc/runner/** files for e2e performance
  tools/internal_ci/linux/grpc_e2e_performance_gke.cfg
  tools/internal_ci/linux/grpc_e2e_performance_v2.cfg
Labels: none

remove DNSubmit
  cmake/libuv.cmake
Labels: none

fix mobile builds to properly exclude xDS
  BUILD
Labels: none

Update check_submodules.sh
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Update basic template to match examples.
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
Labels: none

Update by review
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_from_bazel_xml.py
Labels: lang/core

Fix memory leak in get code (#27834)
  src/core/ext/filters/http/client/http_client_filter.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/get-leak
Labels: lang/core

Replace work serializer with a mutex in c-ares resolver
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/goaway_server_test.cc
Labels: lang/core

First pass IWYU tooling
  .gitignore
  BUILD
  src/core/lib/promise/activity.cc
  src/core/lib/promise/activity.h
  src/core/lib/promise/context.h
  src/core/lib/promise/detail/basic_join.h
  src/core/lib/promise/detail/basic_seq.h
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/detail/promise_like.h
  src/core/lib/promise/detail/status.h
  src/core/lib/promise/exec_ctx_wakeup_scheduler.h
  src/core/lib/promise/for_each.h
  src/core/lib/promise/if.h
  src/core/lib/promise/intra_activity_waiter.h
  src/core/lib/promise/join.h
  src/core/lib/promise/loop.h
  src/core/lib/promise/map.h
  src/core/lib/promise/observable.h
  src/core/lib/promise/pipe.h
  src/core/lib/promise/poll.h
  src/core/lib/promise/promise.h
  src/core/lib/promise/race.h
  src/core/lib/promise/seq.h
  src/core/lib/promise/try_join.h
  src/core/lib/promise/try_seq.h
  src/core/lib/promise/wait_set.h
  templates/tools/dockerfile/grpc_iwyu/Dockerfile.template
  tools/distrib/iwyu.sh
  tools/dockerfile/grpc_iwyu/Dockerfile
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core

fixed constructing of resource name for the request
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

fix
  tools/profiling/bloat/bloat_diff.py
Labels: none

remove mutex annotations since they can't be properly analyzed with current code
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
Labels: lang/core

fix
  templates/tools/dockerfile/grpc_iwyu/Dockerfile.template
Labels: none

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
