Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

I am an idiot
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

*internal screaming*
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

fixes
  include/grpc/event_engine/memory_allocator.h
  src/core/lib/iomgr/endpoint_pair_windows.cc
  src/core/lib/resource_quota/api.cc
Labels: lang/core

Added a safe Zalloc (#27731)
  src/core/ext/filters/client_channel/backup_poller.cc
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/gprpp/memory.h
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/transport/transport.cc
Labels: lang/core

Try project number
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

Revert RLS LB policy (#27738)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

Why is this all awful
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

Go back to trying project name
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: none

Catch InteralError in _write
  src/python/grpcio/grpc/aio/_call.py
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: none

[objc] Remove pre install header search path patch in core test
  src/objective-c/tests/CoreTests/Podfile
Labels: none

PHP: fix ChannelCredentials\createSsl parameter phpdocs to optional and default null (#27283)
  src/php/ext/grpc/channel_credentials.c
Labels: none

Upgrade re2 to fix broken template on gcc-11. (#27511)
  bazel/grpc_deps.bzl
  tools/run_tests/sanity/check_submodules.sh
Labels: none

cmake: revert db88fb0ee826e73323e06ac6166ac038ee71f6a (#27626)
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: none

Remove redundent toolchain registrations in WORKSPACE (#27674)
  WORKSPACE
Labels: none

fix libuv dep hash (#27704)
  bazel/grpc_deps.bzl
Labels: none

Upgrade libuv to v1.37.0 (#27684)
  bazel/grpc_deps.bzl
  templates/tools/dockerfile/libuv_install.include
  templates/tools/dockerfile/test/cxx_jessie_x64/Dockerfile.template
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Add CRL Enabled Credentials to test folder (#27678)
  test/core/tsi/test_creds/crl_data/15e5c67a.0
  test/core/tsi/test_creds/crl_data/26fefe27.0
  test/core/tsi/test_creds/crl_data/BUILD
  test/core/tsi/test_creds/crl_data/README
  test/core/tsi/test_creds/crl_data/ab06acdd.0
  test/core/tsi/test_creds/crl_data/ab06acdd.r0
  test/core/tsi/test_creds/crl_data/ca-openssl.cnf
  test/core/tsi/test_creds/crl_data/ca.key
  test/core/tsi/test_creds/crl_data/ca.pem
  test/core/tsi/test_creds/crl_data/current.crl
  test/core/tsi/test_creds/crl_data/demoCA/crlnumber
  test/core/tsi/test_creds/crl_data/demoCA/crlnumber.old
  test/core/tsi/test_creds/crl_data/demoCA/index.txt
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.old
  test/core/tsi/test_creds/crl_data/revoked.key
  test/core/tsi/test_creds/crl_data/revoked.pem
  test/core/tsi/test_creds/crl_data/valid.key
  test/core/tsi/test_creds/crl_data/valid.pem
Labels: lang/core

grpc_server_config_fetcher: Cleanup StartWatch - remove unnecessary args (#27663)
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/surface/server.h
Labels: lang/core

Boringssl upgrade (#27710)
  bazel/grpc_deps.bzl
  gRPC-Core.podspec
  src/boringssl/boringssl_prefix_symbols.h
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  tools/run_tests/sanity/check_submodules.sh
Labels: none

switch to new location of TypedStruct and ORCA protos (#27700)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/upb-generated/udpa/data/orca/v1/orca_load_report.upb.c
  src/core/ext/upb-generated/udpa/data/orca/v1/orca_load_report.upb.h
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.h
  src/core/ext/upb-generated/xds/data/orca/v3/orca_load_report.upb.c
  src/core/ext/upb-generated/xds/data/orca/v3/orca_load_report.upb.h
  src/core/ext/upb-generated/xds/type/v3/typed_struct.upb.c
  src/core/ext/upb-generated/xds/type/v3/typed_struct.upb.h
  src/core/ext/upbdefs-generated/udpa/data/orca/v1/orca_load_report.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/data/orca/v1/orca_load_report.upbdefs.h
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.h
  src/core/ext/upbdefs-generated/xds/data/orca/v3/orca_load_report.upbdefs.c
  src/core/ext/upbdefs-generated/xds/data/orca/v3/orca_load_report.upbdefs.h
  src/core/ext/upbdefs-generated/xds/type/v3/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/xds/type/v3/typed_struct.upbdefs.h
  src/core/ext/xds/xds_api.cc
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/orca_load_report_for_test.proto
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, lang/c++

Revert "start splitting up xds_end2end_test (#27702)" (#27725)
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
  test/cpp/end2end/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++

update parameter change (#27713)
  tools/distrib/run_clang_tidy.py
Labels: none

start splitting up xds_end2end_test (#27702)
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

grpclb: implement subchannel caching (#27657)
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.h
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/core, lang/c++

Add grpc-java 1.41.0 to client_matrix.py (#27447)
  tools/interop_matrix/client_matrix.py
Labels: none

C++ struct-ify httpcli/internal_request and credential_test/request_metadata_state (#27618)
  src/core/lib/http/httpcli.cc
  test/core/security/credentials_test.cc
Labels: lang/core

Update bazel version to 4.2.1 in binder_transport_apk docker image (#27721)
  tools/dockerfile/test/binder_transport_apk/Dockerfile
Labels: none

Revert "Revert "start splitting up xds_end2end_test (#27702)" (#27725)" (#27726)
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

Add support for Workforce pool credentials (#27583)
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.h
  test/core/security/credentials_test.cc
Labels: lang/core

RLS LB policy (#27352)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

Add absl::Status support to lockfree_event & call_combiner (#27362)
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
  src/core/lib/iomgr/call_combiner.cc
  src/core/lib/iomgr/lockfree_event.cc
  test/core/gprpp/status_helper_test.cc
Labels: lang/core

Remove old backwards compatibility cronet compression workaround code (#27701)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.h
  src/core/ext/filters/workarounds/workaround_utils.cc
  src/core/ext/filters/workarounds/workaround_utils.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/fixtures/h2_full+workarounds.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/workaround_cronet_compression.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

Make hpack tracing available in opt builds also (#27728)
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: lang/core, lang/c++

upgrade docker images (#27705)
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/i386/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php8/Dockerfile
  templates/src/php/docker/grpc-ext/Dockerfile.template
  templates/src/php/docker/grpc-src/Dockerfile.template
  templates/src/php/docker/i386/Dockerfile.template
  templates/src/php/docker/php-future/Dockerfile.template
  templates/src/php/docker/php-src/Dockerfile.template
  templates/src/php/docker/php-zts/Dockerfile.template
  templates/src/php/docker/php8/Dockerfile.template
Labels: none

fix for import of RLS LB policy (#27736)
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

fix of GRPCClientTests testTimeoutBackoff2 test failure #29
  src/objective-c/tests/UnitTests/GRPCClientTests.m
Labels: none

[objc] Exclude libuv build source from c-core
  templates/gRPC-Core.podspec.template
Labels: none

ChannelStackModifier class
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/surface/channel.cc
  test/core/channel/BUILD
  test/core/channel/channel_stack_builder_test.cc
Labels: lang/core

Regenerate projects
  CMakeLists.txt
  build_autogenerated.yaml
  tools/run_tests/generated/tests.json
Labels: none

Catch InteralError in _write (#27240)
  src/python/grpcio/grpc/aio/_call.py
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: none

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
