Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

address remaining comments
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_client.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/plugin_registry/grpc_plugin_registry_extra.cc
  src/core/plugin_registry/grpc_plugin_registry_noextra.cc
  src/core/tsi/alts/handshaker/alts_shared_resource.cc
  src/cpp/client/insecure_credentials.cc
  src/cpp/client/secure_credentials.cc
  src/csharp/ext/grpc_csharp_ext.c
  src/objective-c/GRPCClient/private/GRPCCore/GRPCInsecureChannelFactory.m
  src/objective-c/GRPCClient/private/GRPCCore/GRPCSecureChannelFactory.m
  src/php/ext/grpc/channel.c
  src/php/ext/grpc/php_grpc.c
  src/ruby/ext/grpc/rb_channel.c
  test/cpp/end2end/channelz_service_test.cc
Labels: lang/core, lang/c++

check for empty rule array in SDK
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

add proctitle back to macOS. Will be problematic for other unixen
  src/objective-c/Libuv-gRPC.podspec
  templates/src/objective-c/Libuv-gRPC.podspec.template
  third_party/libuv.BUILD
Labels: none

fix proctitle include for mac
  src/libuv/src/unix/proctitle.c
  third_party/libuv.BUILD
  tools/buildgen/generate_libuv_source_wrappers.py
Labels: none

add missing dependency for grpc_lb_rls_policy
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  grpc.gyp
Labels: none

Reland te:trailers metadata change with fixes (#27785)
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

Alphabetize ci_gitCommits_go, ci_gitCommits_java
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: none

Add commit references to grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: none

tweaks
  src/core/lib/slice/slice.h
Labels: lang/core

generate_projects
  Makefile
  config.m4
  config.w32
  gRPC-C++.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
Labels: none

py format
  tools/buildgen/generate_libuv_source_wrappers.py
Labels: none

Add commit references for Java and Go (#27783)
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: none

attempt iOS fix (remove libuv headers from public set)
  gRPC-Core.podspec
  templates/gRPC-Core.podspec.template
Labels: none

Reviewer comments
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

Verify vtable before using pointer
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
Labels: lang/core

refinement
  BUILD
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_refcount_base.h
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  test/core/end2end/fuzzers/hpack.dictionary
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core

Add resolver for binder transport URI scheme (#27529)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/binder/README.md
  src/core/ext/filters/client_channel/resolver/binder/binder_resolver.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/BUILD
  test/core/client_channel/resolvers/binder_resolver_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core

detect unknown fields
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/grpc_authorization_policy_provider.h
  src/core/lib/security/authorization/rbac_translator.cc
  src/core/lib/security/authorization/rbac_translator.h
  test/core/security/rbac_translator_test.cc
Labels: lang/core

Code review comments
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

Reviewer comments
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

add ALIAS for library grpc++
  CMakeLists.txt
Labels: none

C++ify channel_stack_builder_test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/channel/BUILD
  test/core/channel/channel_stack_builder_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

MetadataCredentialsPluginWrapper: Create thread pool only if needed
  src/cpp/client/secure_credentials.cc
Labels: lang/c++

Use CoreConfiguration for inserting xDS HTTP filters
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/xds_channel_stack_modifier.cc
  src/core/ext/xds/xds_channel_stack_modifier.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/surface/channel.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/channel/BUILD
  test/core/channel/channel_stack_builder_test.cc
  test/cpp/xds/BUILD
  test/cpp/xds/xds_channel_stack_modifier_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

Move most py_proto_library macro contents into rule.
  bazel/python_rules.bzl
Labels: none

Move most py_grpc_library macro contents into rule.
  bazel/python_rules.bzl
Labels: none

change CSDS to populate new generic_xds_configs field
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/proto/grpc/testing/xds/v3/csds.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

New lines
  src/core/ext/xds/xds_channel_stack_modifier.h
  test/cpp/xds/xds_channel_stack_modifier_test.cc
Labels: lang/core, lang/c++

clang-tidy
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

fix typo
  test/cpp/microbenchmarks/bm_threadpool.cc
Labels: lang/c++

Make Finduv.cmake errors noisier
  cmake/modules/Finduv.cmake
Labels: none

update third_party/benchmark and check_submodules.sh
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Move test to test/core/xds
  test/core/xds/BUILD
  test/core/xds/xds_channel_stack_modifier_test.cc
  test/cpp/xds/BUILD
Labels: lang/core, lang/c++

Repomrg -> @yashykt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: area/infra

Support generic_xds_config in GCE/GKE frameworks and Python tests
  src/python/grpcio_tests/tests/csds/test_csds.py
  tools/run_tests/run_xds_tests.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: none

Reviewer comments
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

[objc] Patch protobuf podspec for 3.18.1 update
  src/cpp/Protobuf-C++.podspec
Labels: lang/c++

Add comment for placement of filter stack
  src/core/ext/xds/xds_channel_stack_modifier.cc
Labels: lang/core

Remove support for additional plugins.
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/dummy_plugin.py
Labels: none
