Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**

lang/ObjC:
- examples/objective-c/**
- src/objective-c/**

lang/php:
- examples/php/**
- src/php/**

lang/python:
- examples/python/**
- src/python/**

lang/ruby:
- examples/ruby/**
- src/ruby/**

"lang/C#":
- src/csharp/**

[cleanup] Remove unused end2end feature flags
  test/core/end2end/end2end_tests.h
  test/core/end2end/tests/resource_quota_server.cc
Labels: lang/core

append entries into SSL key log file
  src/core/tsi/ssl/key_logging/ssl_key_logging.cc
Labels: lang/core

remove some ifdefs
  src/core/lib/event_engine/posix_engine/posix_engine.cc
Labels: lang/core

php8.2rc4
  src/php/docker/php8.2/Dockerfile
Labels: lang/php

[flaky] Platform specific hack time?
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core

comment
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core

[experiments] Enable tcp_read_chunks by default
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

[tcp] Fix bug in min_progress_size reads
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core

only debug
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

fix tsan issue in bm_event_engine_run
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_event_engine_run.cc
Labels: lang/c++

Automated change: Fix sanity tests
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core

sanity
  src/core/lib/event_engine/posix_engine/posix_engine.h
Labels: lang/core

sanity
  test/core/event_engine/posix/posix_event_engine_connect_test.cc
Labels: lang/core

build issue
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.h
Labels: lang/core

fix #26548 - Proxy settings ignored if credentials contain @ character
  src/core/ext/filters/client_channel/http_proxy.cc
  test/core/client_channel/http_proxy_mapper_test.cc
Labels: lang/core

compile fix
  test/core/promise/try_concurrently_test.cc
Labels: lang/core

regenerate_projects
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/python

fix clobbering
  test/core/end2end/fixtures/h2_compress.cc
Labels: lang/core

Move insecure compose validation into Channel
  src/csharp/Grpc.Core.Api/ChannelCredentials.cs
  src/csharp/Grpc.Core.Tests/ChannelCredentialsTest.cs
  src/csharp/Grpc.Core.Tests/ChannelTest.cs
  src/csharp/Grpc.Core/Internal/DefaultChannelCredentialsConfigurator.cs
Labels: lang/C#

[flaky] Platform specific hack time? (#31373)
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core

iwyu
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/event_engine/posix/posix_endpoint_test.cc
Labels: lang/core

[build] Add exec_ctx visibility (#31330)
  BUILD
  bazel/grpc_build_system.bzl
Labels: none

outlier detection: add basic unit test (#31346)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

xDS RBAC: remove env var protection (#31348)
  build_autogenerated.yaml
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

Fix thread safety analysis warning from new Clang version (#31306)
  src/core/tsi/ssl/key_logging/ssl_key_logging.cc
Labels: lang/core

Add a quiesce to threadpool
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/thread_pool.cc
  src/core/lib/event_engine/thread_pool.h
  src/core/lib/event_engine/windows/windows_engine.cc
  test/core/event_engine/thread_pool_test.cc
  test/core/event_engine/windows/iocp_test.cc
  test/core/event_engine/windows/win_socket_test.cc
Labels: lang/core

fix
  test/core/event_engine/thread_pool_test.cc
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/event_engine/thread_pool.cc
Labels: lang/core

Document outlier detection feature support (#31332)
  doc/grpc_xds_features.md
Labels: none

Remove `include/grpcpp/impl/codegen/server_interceptor.h` (#31281)
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/server_builder.h
  include/grpcpp/support/server_interceptor.h
Labels: lang/c++

[Remove Six] Remove dependency on six (#31340)
  bazel/grpc_python_deps.bzl
  examples/python/cancellation/BUILD.bazel
  requirements.bazel.txt
  requirements.txt
  setup.py
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/csds/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/unit/BUILD.bazel
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: lang/python

core tests: absl::make_unique -> std::make_unique (#31361)
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/event_engine/posix/posix_endpoint_test.cc
Labels: lang/core

[resource_quota] Flag flip periodic reclamation (#31326)
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

[flaky] Platform specific hack time? (#31373)
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core

[build] Add exec_ctx visibility (#31330)
  BUILD
  bazel/grpc_build_system.bzl
Labels: none

reduce test size (#31345)
  test/cpp/microbenchmarks/BUILD
Labels: lang/c++

xDS: refactor code for handling xDS extensions and add tests (#31295)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_lb_policy_registry.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/lib/gprpp/validation_errors.h
  test/core/xds/BUILD
  test/core/xds/xds_common_types_test.cc
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/end2end/xds/no_op_http_filter.h
Labels: lang/core, lang/c++

OpenCensusTest: Fix flakiness (#31349)
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++

Document outlier detection feature support (#31332)
  doc/grpc_xds_features.md
Labels: none

Remove `include/grpcpp/impl/codegen/server_interceptor.h` (#31281)
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/server_builder.h
  include/grpcpp/support/server_interceptor.h
Labels: lang/c++
