Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

downgrade Xcode project version
  src/objective-c/tests/CoreTests/CoreTests.xcodeproj/project.pbxproj
Labels: none

Add xDS Docker image building mechanism for all lang+version
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/BUILD.bazel
  tools/internal_ci/linux/grpc_update_xds_docker_images.cfg
  tools/internal_ci/linux/grpc_update_xds_docker_images.sh
  tools/run_tests/dockerize/xds/BUILD.bazel
  tools/run_tests/dockerize/xds/cloudbuild.yaml
  tools/run_tests/dockerize/xds/java/Dockerfile.client
  tools/run_tests/dockerize/xds/java/Dockerfile.server
  tools/run_tests/dockerize/xds/php/Dockerfile.client
  tools/run_tests/dockerize/xds/ruby/Dockerfile.client
  tools/run_tests/dockerize/xds/update_xds_image.sh
Labels: none

downgrade IPHONEOS_DEPLOYMENT_TARGET version
  src/objective-c/tests/CoreTests/CoreTests.xcodeproj/project.pbxproj
Labels: none

Add a README.md
  tools/run_tests/dockerize/xds/README.md
Labels: none

use absl::string_view instead of std::string
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
Labels: lang/core

nope, go back to non-inlining ExtractJsonType()
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
Labels: lang/core

clang-format
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
Labels: lang/core

Revert "nope, go back to non-inlining ExtractJsonType()"
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
Labels: lang/core

removing key log format from tls session key log config and converting it to a simple string
  include/grpc/grpc_security.h
  include/grpc/grpc_security_constants.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  src/core/tsi/ssl/key_logging/ssl_key_logging.cc
  src/core/tsi/ssl/key_logging/ssl_key_logging.h
  src/core/tsi/ssl_transport_security.cc
  src/cpp/common/tls_credentials_options.cc
  test/cpp/end2end/tls_key_export_test.cc
Labels: lang/core, lang/c++

[ios] rls_end2end_test fix
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

Port changes from #27388
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/ext/xds/xds_server_config_fetcher.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, lang/c++

grpc_server_config_fetcher cleanup
  src/core/lib/surface/server.h
Labels: lang/core

XdsChannelStackModifierTest cleanup
  test/core/xds/xds_channel_stack_modifier_test.cc
Labels: lang/core

Fix memory leak in get code
  src/core/ext/filters/http/client/http_client_filter.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/get-leak
Labels: lang/core

Fix assert on unknown compression algorithm
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/crashy-crash-pants
Labels: lang/core

Remove condition that I dont remember why it exists
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/validator-fail
Labels: lang/core

fixing code review comments
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

avoid illegal shift
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/shifty-mcshifter
Labels: lang/core

fix
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
Labels: lang/core

mebbefix
  src/core/lib/transport/parsed_metadata.h
Labels: lang/core

don't build RLS on mobile
  BUILD
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/client_channel/BUILD
  test/cpp/end2end/BUILD
Labels: lang/core, lang/c++

Upgrade benchmark to 1.6.0 and remove previous hacks. (#27778)
  bazel/grpc_deps.bzl
  grpc.gyp
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
  test/cpp/microbenchmarks/bm_threadpool.cc
  test/cpp/util/test_config.h
  tools/run_tests/sanity/check_submodules.sh
Labels: lang/c++

Fix two issues with the test framework and new CSDS
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: none

fixing code review comments
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

libuv with patches from libuv PRs #3340 and #3343
  .gitmodules
  bazel/grpc_deps.bzl
  tools/run_tests/sanity/check_submodules.sh
Labels: none

Update by review
  BUILD
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/proto/grpc/lookup/v1/BUILD
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_for_bazel.py
Labels: lang/core

Added bazel-integrated upb code-gen
  BUILD
  bazel/grpc_build_system.bzl
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/altscontext.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/altscontext.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/handshaker.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/handshaker.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/transport_security_common.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/gcp/transport_security_common.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/health/v1/health.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/health/v1/health.upbdefs.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lb/v1/load_balancer.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lb/v1/load_balancer.upbdefs.h
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_for_bazel.py
Labels: lang/core

fix type
  src/core/lib/transport/parsed_metadata.h
Labels: lang/core

Use ResourceName
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

Ruby 3 compatibility in tests
  src/ruby/spec/generic/server_interceptors_spec.rb
  src/ruby/spec/user_agent_spec.rb
Labels: none

provide more slack in RLS end2end tests
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++

buildifier
  BUILD
Labels: none

move service config
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/retry_service_config.h
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/fault_injection/service_config_parser.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/ext/filters/server_config_selector/server_config_selector.h
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/lib/service_config/service_config.cc
  src/core/lib/service_config/service_config.h
  src/core/lib/service_config/service_config_call_data.h
  src/core/lib/service_config/service_config_parser.cc
  src/core/lib/service_config/service_config_parser.h
  src/cpp/common/validate_service_config.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/client_channel/service_config_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, lang/c++

fix build rules to avoid "Illegal ambiguous match" bazel error
  BUILD
Labels: none

service config should not depend on grpc_base
  BUILD
Labels: none

Extend the Windows Python test timeout to 3hr
  tools/internal_ci/windows/grpc_basictests_python.cfg
  tools/run_tests/run_tests.py
Labels: none

code review changes
  test/cpp/end2end/BUILD
Labels: lang/c++

Fix two issues with the test framework and new CSDS (#27840)
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: none

Remove uses of `incompatible_use_toolchain_transition` now that it is enabled by default in Bazel 5.0.
  third_party/upb/bazel/upb_proto_library.bzl
Labels: none

grpc_server_config_fetcher cleanup (#27832)
  src/core/lib/surface/server.h
Labels: lang/core

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
