Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

OpenCensusTest: Fix flakiness
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++

add another test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/xds/BUILD
  test/core/xds/xds_listener_resource_type_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

fix sanity
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

Xds Features Doc: Add version for RBAC support for C++ and Python
  doc/grpc_xds_features.md
Labels: none

Remove six in python bazel test
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: none

Clean up
  src/python/grpcio/grpc/__init__.py
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: lang/python

first pass of client-side validation, except for HTTP filter configs
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/xds/BUILD
  test/core/xds/xds_listener_resource_type_test.cc
Labels: lang/core

minor cleanup and TODO
  src/core/ext/xds/xds_http_filters.cc
Labels: lang/core

[Python][Remove enum34] Remove enum34
  bazel/grpc_python_deps.bzl
  requirements.bazel.txt
  setup.py
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
Labels: lang/python

OpenCensusTest: Fix flakiness (#31349)
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++

ruby: remove tests that try to assert a certain behabior after forking incorrectly
  src/ruby/spec/channel_spec.rb
Labels: lang/ruby

[Python][Remove futures] Remove futures
  bazel/grpc_python_deps.bzl
  examples/python/cancellation/BUILD.bazel
  examples/python/errors/BUILD.bazel
  examples/python/multiprocessing/BUILD
  requirements.bazel.txt
  setup.py
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio_tests/setup.py
  tools/distrib/format_bazel.sh
Labels: lang/python

clean up HTTP filter registration
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_listener.cc
Labels: lang/core

fix
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core

fix
  src/core/lib/experiments/config.cc
  test/core/event_engine/posix/BUILD
  test/core/event_engine/posix/posix_event_engine_connect_test.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/posix_event_engine_test.cc
Labels: lang/core

fix
  src/core/lib/experiments/config.cc
Labels: lang/core

fix
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.h
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.h
  test/core/event_engine/posix/posix_engine_listener_utils_test.cc
Labels: lang/core

tune
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/promise/try_concurrently.h
Labels: lang/core

unify compress/decompress
  BUILD
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/http/message_compress/compression_filter.h
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.h
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.h
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: lang/core, lang/c++

style fixes
  src/objective-c/tests/BUILD
  src/objective-c/tests/tvtests_build_test.sh
Labels: lang/ObjC

Remove `include/grpcpp/impl/codegen/create_auth_context.h`
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/client_context.h
  include/grpcpp/create_auth_context.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++

cleanup grpc_sample_fuzzers job
  tools/internal_ci/linux/pull_request/grpc_sample_fuzzers.cfg
Labels: none

fixes
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/promise/try_concurrently.h
Labels: lang/core

core tests: absl::make_unique -> std::make_unique
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/event_engine/posix/posix_endpoint_test.cc
Labels: lang/core

send_message/send_trailing_metadata ordering
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core

cleanup loop
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/http/message_compress/compression_filter.h
Labels: lang/core

SerializationTraits: Remove unnecessary 2nd template parameter
  include/grpcpp/impl/codegen/call_op_set.h
  test/cpp/util/byte_buffer_test.cc
Labels: lang/c++

Revert "upgrade rules_apple and apple_support bazel deps (#30896)"
  bazel/grpc_deps.bzl
Labels: none

Revert "upgrade rules_apple and apple_support bazel deps (#30896)" (#31364)
  bazel/grpc_deps.bzl
Labels: none

Revert "upgrade rules_apple and apple_support bazel deps (#30896)"
  bazel/grpc_deps.bzl
Labels: none

1.50.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

remove minimal stack bits
  test/core/end2end/tests/max_message_length.cc
Labels: lang/core

1.50.1 (#31365)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

Add go v1.50.1 to the interop matrix
  tools/interop_matrix/client_matrix.py
Labels: none

better error generation
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/surface/server.cc
Labels: lang/core

fix-build
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/http/http_filters_plugin.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, lang/python

Automated change: Fix sanity tests
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/http/message_compress/compression_filter.h
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/surface/server.cc
Labels: lang/core

cancellation of recv message for forwarded receives
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core

fix
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core

[cleanup] Remove unused test
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  test/core/end2end/end2end_tests.cc
  test/core/end2end/end2end_tests.h
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/bad_hostname.cc
Labels: lang/core

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**

lang/ObjC:
- examples/objective-c/**
- src/objective-c/**

lang/php:
- examples/php/**
- src/php/**

lang/python:
- examples/python/**
- src/python/**

lang/ruby:
- examples/ruby/**
- src/ruby/**

"lang/C#":
- src/csharp/**
