Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

storage-classes
  src/core/lib/slice/slice.h
Labels: lang/core

Add (void) to function calls returning absl::Status
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/tcp_client_custom.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/security/authorization/sdk_server_authz_filter.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/server.cc
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/channel/channel_stack_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/iomgr/error_test.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/core, lang/c++

Update by review
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/channel/channel_stack_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/core, lang/c++

Fix compile errors
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/channel/channel_stack_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/tests/filter_status_code.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/core, lang/c++

Update for non-linux code
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/core/lib/iomgr/tcp_client_windows.cc
  src/core/lib/iomgr/tcp_windows.cc
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/slice/slice.h
Labels: lang/core

update .bazelignore file for new xds proto repo (#27763)
  .bazelignore
Labels: none

ruby: build native Darwin gems using rake-compiler-dock (#25794)
  Rakefile
  grpc.gemspec
  src/ruby/ext/grpc/extconf.rb
  templates/grpc.gemspec.template
  templates/src/ruby/ext/grpc/extconf.rb.template
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
Labels: none

Add endpoint binder pool for client channel creation (#27755)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
  src/core/ext/transport/binder/client/endpoint_binder_pool.cc
  src/core/ext/transport/binder/client/endpoint_binder_pool.h
  src/core/ext/transport/binder/client/jni_utils.cc
  src/core/ext/transport/binder/client/jni_utils.h
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/BUILD
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/GrpcBinderConnection.java
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/NativeConnectionHelper.java
  test/core/transport/binder/BUILD
  test/core/transport/binder/endpoint_binder_pool_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

adhoc scripts for running GKE benchmarks
  run_adhoc_performance_build_images.sh
  run_adhoc_performance_configure_and_run.sh
Labels: none

Implemented abort_with_status in ServicerContext
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
  src/python/grpcio_testing/grpc_testing/_server/_servicer_context.py
Labels: none

xds_end2end_test: allow setting Listener to use in SetRouteConfiguration() (#27756)
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

Revert "allow connectivity state watching to work on lame channels (#27747)" (#27766)
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  test/core/surface/lame_client_test.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/core, lang/c++

Revert "Revert "allow connectivity state watching to work on lame channels (#27747)" (#27766)"
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  test/core/surface/lame_client_test.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/core, lang/c++

add back GRPC_NO_XDS macro
  src/core/plugin_registry/grpc_plugin_registry_extra.cc
Labels: lang/core

fix libuv build file glob (-docs, -test)
  Makefile
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/libuv/gen_build_yaml.py
Labels: none

[objc] Exclude libuv build source from c-core
  templates/gRPC-Core.podspec.template
Labels: none

podfile cleanup and add core test to script to run
  gRPC-Core.podspec
  src/objective-c/tests/CoreTests/Podfile
  src/objective-c/tests/CoreTests/build_and_run_tests.sh
  src/objective-c/tests/CoreTests/build_tests.sh
  src/objective-c/tests/CoreTests/verbose_time.sh
  templates/gRPC-Core.podspec.template
  tools/run_tests/run_tests.py
Labels: none

fix
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/api_listener_test.py
Labels: none

patch before ut
  Makefile
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
Labels: none

unit test
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/objective-c/Libuv-gRPC.podspec
  src/objective-c/tests/CoreTests/CoreTests.xcodeproj/project.pbxproj
  src/objective-c/tests/CoreTests/CoreTests/EventEngineTimerTests.mm
  src/objective-c/tests/CoreTests/Podfile
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/Libuv-gRPC.podspec.template
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: none

change after adding ut, by running generate_projects.sh
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
Labels: none

[Aio] Correct the typing of input Metadata (#27768)
  src/python/grpcio/grpc/aio/_base_channel.py
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio/grpc/aio/_typing.py
Labels: none

#fixtests
  test/core/end2end/generate_tests.bzl
Labels: lang/core

Allow >20 public methods on the ServicerContext class
  src/python/grpcio/grpc/aio/_base_server.py
Labels: none

pthread tls fixes
  src/core/lib/gpr/tls.h
  src/core/lib/promise/activity.cc
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/gpr/tls.h
Labels: lang/core

[Aio] Add add_done_callback/done/cancelled methods to ServicerContext (#27767)
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/done_callback_test.py
Labels: none

Add commit references for Java and Go
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: none

Fix rvm ruby install failure (#27769)
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: none

Migrate remaining tests with protobuf dep to Python 3 only
  src/python/grpcio_tests/tests/admin/BUILD.bazel
  src/python/grpcio_tests/tests/admin/test_admin.py
  src/python/grpcio_tests/tests/channelz/BUILD.bazel
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
  src/python/grpcio_tests/tests/csds/BUILD.bazel
  src/python/grpcio_tests/tests/csds/test_csds.py
  src/python/grpcio_tests/tests/health_check/BUILD.bazel
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/_insecure_intraop_test.py
  src/python/grpcio_tests/tests/interop/_secure_intraop_test.py
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
Labels: none

Upgrade benchmark to 1.6.0 and remove hacks.
  bazel/grpc_deps.bzl
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
  test/cpp/microbenchmarks/bm_threadpool.cc
  test/cpp/util/test_config.h
Labels: lang/c++

Fix tests
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

fixing code review comments
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Add locks
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

Revert "Revert "allow connectivity state watching to work on lame channels (#27747)" (#27766)" (#27774)
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  test/core/surface/lame_client_test.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/core, lang/c++

Update api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

Move Bazel Python repo tests off of Python 2
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/namespaced/upper/example/BUILD
Labels: none

code review comments
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

Add metadata specialization for te: trailers (#27714)
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/core, lang/c++

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
