Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

fix build
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
Labels: lang/core

Revert "start splitting up xds_end2end_test (#27702)" (#27725)
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
  test/cpp/end2end/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++

fixing code review comments
  src/core/ext/xds/xds_client.cc
Labels: lang/core

Revert "Revert "start splitting up xds_end2end_test (#27702)" (#27725)"
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

append
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

Fix sanity test
  test/core/security/credentials_test.cc
Labels: lang/core

binder
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core

Boringssl upgrade (#27710)
  bazel/grpc_deps.bzl
  gRPC-Core.podspec
  src/boringssl/boringssl_prefix_symbols.h
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  tools/run_tests/sanity/check_submodules.sh
Labels: none

switch to new location of TypedStruct and ORCA protos (#27700)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/upb-generated/udpa/data/orca/v1/orca_load_report.upb.c
  src/core/ext/upb-generated/udpa/data/orca/v1/orca_load_report.upb.h
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.h
  src/core/ext/upb-generated/xds/data/orca/v3/orca_load_report.upb.c
  src/core/ext/upb-generated/xds/data/orca/v3/orca_load_report.upb.h
  src/core/ext/upb-generated/xds/type/v3/typed_struct.upb.c
  src/core/ext/upb-generated/xds/type/v3/typed_struct.upb.h
  src/core/ext/upbdefs-generated/udpa/data/orca/v1/orca_load_report.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/data/orca/v1/orca_load_report.upbdefs.h
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.h
  src/core/ext/upbdefs-generated/xds/data/orca/v3/orca_load_report.upbdefs.c
  src/core/ext/upbdefs-generated/xds/data/orca/v3/orca_load_report.upbdefs.h
  src/core/ext/upbdefs-generated/xds/type/v3/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/xds/type/v3/typed_struct.upbdefs.h
  src/core/ext/xds/xds_api.cc
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/orca_load_report_for_test.proto
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, lang/c++

Remove old backwards compatibility cronet compression workaround code (#27701)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.h
  src/core/ext/filters/workarounds/workaround_utils.cc
  src/core/ext/filters/workarounds/workaround_utils.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/fixtures/h2_full+workarounds.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/workaround_cronet_compression.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

fix-cronet
  src/core/ext/transport/cronet/client/secure/cronet_channel_create.cc
Labels: lang/core

code review fix
  src/core/ext/xds/xds_client.cc
Labels: lang/core

fix-cronet
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core

Reviewer comments
  BUILD
  src/core/ext/filters/server_config_selector/server_config_selector.h
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
Labels: lang/core

Revert "Revert "start splitting up xds_end2end_test (#27702)" (#27725)" (#27726)
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

Empty principals checks for authenticated connection
  BUILD
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/authorization/matchers.h
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/authorization_matchers_test.cc
  test/core/security/matchers_test.cc
  test/core/security/rbac_translator_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/sdk_authz_end2end_test.cc
Labels: lang/core, lang/c++

Reviewer comments
  BUILD
Labels: none

review feedback
  src/core/ext/filters/client_channel/retry_throttle.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
Labels: lang/core

adding helper methods
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

refector: extract batch and metadata array
  build_handwritten.yaml
  config.m4
  config.w32
  package.xml
  src/php/ext/grpc/batch.c
  src/php/ext/grpc/batch.h
  src/php/ext/grpc/call.c
  src/php/ext/grpc/call.h
  src/php/ext/grpc/call_credentials.c
  src/php/ext/grpc/config.m4
  src/php/ext/grpc/metadata_array.c
  src/php/ext/grpc/metadata_array.h
Labels: none

refector: extract batch and metadata array
  build_handwritten.yaml
  config.m4
  config.w32
  package.xml
  src/php/ext/grpc/batch.c
  src/php/ext/grpc/batch.h
  src/php/ext/grpc/call.c
  src/php/ext/grpc/call.h
  src/php/ext/grpc/call_credentials.c
  src/php/ext/grpc/config.m4
  src/php/ext/grpc/metadata_array.c
  src/php/ext/grpc/metadata_array.h
Labels: none

Fix CI issues
  src/core/lib/security/credentials/external/external_account_credentials.cc
  test/core/security/credentials_test.cc
Labels: lang/core

C++ struct-ify httpcli/internal_request and credential_test/request_metadata_state (#27618)
  src/core/lib/http/httpcli.cc
  test/core/security/credentials_test.cc
Labels: lang/core

fix sanity check
  BUILD
  src/core/lib/security/authorization/rbac_policy.cc
  test/cpp/end2end/sdk_authz_end2end_test.cc
Labels: lang/core, lang/c++

RLS LB policy (#27352)
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, lang/c++

Add absl::Status support to lockfree_event & call_combiner (#27362)
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
  src/core/lib/iomgr/call_combiner.cc
  src/core/lib/iomgr/lockfree_event.cc
  test/core/gprpp/status_helper_test.cc
Labels: lang/core

clang-format
  src/core/lib/security/authorization/rbac_policy.cc
Labels: lang/core

Make hpack tracing available in opt builds also
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
Labels: lang/core

bump android version (dropping support for KitKat)
  src/csharp/experimental/build_native_ext_for_android.sh
Labels: none

Android version >= 21 everywhere
  examples/android/helloworld/app/build.gradle
  examples/csharp/HelloworldUnity/ProjectSettings/ProjectSettings.asset
  src/android/test/interop/app/build.gradle
Labels: none

code review comment fixing
  src/core/ext/xds/xds_client.cc
Labels: lang/core

upgrade docker images
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/i386/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php8/Dockerfile
  templates/src/php/docker/grpc-ext/Dockerfile.template
  templates/src/php/docker/grpc-src/Dockerfile.template
  templates/src/php/docker/i386/Dockerfile.template
  templates/src/php/docker/php-future/Dockerfile.template
  templates/src/php/docker/php-src/Dockerfile.template
  templates/src/php/docker/php-zts/Dockerfile.template
  templates/src/php/docker/php8/Dockerfile.template
Labels: none

fixing code review comments
  src/core/ext/xds/xds_client.cc
Labels: lang/core

php async client
  src/php/ext/grpc/call.c
  src/php/ext/grpc/call.h
  src/php/ext/grpc/completion_queue.c
  src/php/ext/grpc/completion_queue.h
  src/php/ext/grpc/php_grpc.c
  src/php/lib/Grpc/AbstractCall.php
  src/php/lib/Grpc/BaseStub.php
  src/php/lib/Grpc/BidiStreamingCall.php
  src/php/lib/Grpc/ClientStreamingCall.php
  src/php/lib/Grpc/ServerStreamingCall.php
  src/php/lib/Grpc/UnaryCall.php
  src/php/tests/generated_code/async_math_client.php
  src/php/tests/generated_code/math_client.php
Labels: none

Add some tests
  test/core/server_config_selector/BUILD
  test/core/server_config_selector/server_config_selector_test.cc
Labels: lang/core

Fix include guards
  src/core/ext/filters/server_config_selector/server_config_selector.h
Labels: lang/core

Add support for Workforce pool credentials (#27583)
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.h
  test/core/security/credentials_test.cc
Labels: lang/core

Regenerate projects and fix sanity check
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  test/core/server_config_selector/server_config_selector_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

fixing according to code review comments
  src/core/ext/xds/xds_client.cc
Labels: lang/core

review feedback
  include/grpc/event_engine/memory_allocator.h
  include/grpc/event_engine/memory_request.h
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/lib/http/httpcli.h
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/resource_quota/api.cc
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  src/core/lib/resource_quota/resource_quota.cc
  src/core/lib/resource_quota/resource_quota.h
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  test/core/http/httpcli_test.cc
  test/core/http/httpscli_test.cc
  test/core/resource_quota/memory_quota_fuzzer.cc
  test/core/resource_quota/memory_quota_stress_test.cc
  test/core/resource_quota/memory_quota_test.cc
  test/core/resource_quota/resource_quota_test.cc
  test/core/util/port_server_client.cc
Labels: lang/core
