Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

add back another test
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/security/BUILD
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/server/credentials_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++

adding debugging messages
  include/grpcpp/security/tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/cpp/common/tls_certificate_verifier.cc
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/util/tls_test_utils.h
Labels: lang/core, lang/c++

fix the xds test
  include/grpcpp/security/tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/credentials/xds/xds_credentials.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

add build generated tests
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core

remove async verfier in grpc_tls_certificate_verifier_test
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
Labels: lang/core

debug attempt 2
  include/grpcpp/security/tls_certificate_verifier.h
Labels: lang/c++

attempt 2
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  test/cpp/security/tls_certificate_verifier_test.cc
Labels: lang/core, lang/c++

remove loggings and unecessary code
  include/grpcpp/security/tls_certificate_verifier.h
  src/cpp/common/tls_certificate_verifier.cc
  test/cpp/security/tls_certificate_verifier_test.cc
  test/cpp/util/tls_test_utils.h
Labels: lang/c++

formatting
  include/grpcpp/security/tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/cpp/common/tls_certificate_verifier.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
Labels: lang/core, lang/c++

add GrpcLibraryInitializer
  include/grpcpp/security/tls_certificate_verifier.h
  src/cpp/common/tls_certificate_verifier.cc
Labels: lang/c++

add the check_call_host as an option field
  Makefile
  config.m4
  config.w32
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_credentials_options.h
  package.xml
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/xds/xds_credentials.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/common/tls_credentials_options.cc
  src/objective-c/BoringSSL-GRPC.podspec
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fixtures/h2_tls.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/client/credentials_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

fix other comments
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_certificate_verifier.h
  package.xml
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/cpp/common/tls_certificate_verifier.cc
  src/objective-c/BoringSSL-GRPC.podspec
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/tls_security_connector_test.cc
Labels: lang/core, lang/c++

Wait for in-flight requests to complete during shutdown
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
Labels: lang/core

Add must-use-value and locks-required annotations
  src/core/lib/surface/server.h
Labels: lang/core

ruby: use squiggly heredoc for rake-compiler-dock commands
  Rakefile
  src/ruby/ext/grpc/extconf.rb
  templates/src/ruby/ext/grpc/extconf.rb.template
Labels: none

ruby: clean .{bundle,so} from src/ruby/lib when building native gems
  Rakefile
Labels: none

ruby: use `bundler exec` when building native gems
  Rakefile
Labels: none

ruby: extract linux and darwin RUBY_PLATFORM checks into variables
  src/ruby/ext/grpc/extconf.rb
  templates/src/ruby/ext/grpc/extconf.rb.template
Labels: none

ruby: add "x86_64-darwin" platform gem
  Rakefile
  src/ruby/ext/grpc/extconf.rb
  templates/src/ruby/ext/grpc/extconf.rb.template
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
Labels: none

ruby: rely on rake-compiler-dock v1.1.0 to set no_native correctly
  Rakefile
  grpc.gemspec
  templates/grpc.gemspec.template
Labels: none

remove apache comment in new BUILD file
  src/objective-c/BoringSSL-GRPC.podspec
  test/cpp/security/BUILD
Labels: lang/c++

remove move
  src/core/lib/security/credentials/composite/composite_credentials.cc
Labels: lang/core

add test case
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-4953856886308864
Labels: lang/core

taking care of warning
  src/core/ext/xds/xds_client.cc
Labels: lang/core

fixing code review comments.
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

code review comments
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

Mark channel credentials channel arg as internal
  src/core/lib/security/credentials/credentials.h
Labels: lang/core

add reproducer
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-5212802075197440
Labels: lang/core

compile fix
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channel_stack_builder.cc
Labels: lang/core

api-fuzzer fixes, and a test case to verify
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/create_connection.textproto
Labels: lang/core

squelch
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

api-fuzzer full request works again
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/end2end/fuzzers/api_fuzzer_corpus/create_connection.textproto
Labels: lang/core

fixes
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

fixing code review comments
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client.cc
Labels: lang/core

x
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core

Don't leave pending tasks on the asyncio queue
  src/python/grpcio/grpc/aio/_interceptor.py
Labels: none

Address 'leaking' Futures from cygrpc
  src/python/grpcio/grpc/aio/_interceptor.py
Labels: none

Fixed invalid resource watcher case
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: lang/core

Remove obsolete binder transport interfaces (#27720)
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
Labels: lang/core

Move binder targets into a single target in top-level BUILD file
  BUILD
  examples/android/binder/java/io/grpc/binder/cpp/exampleclient/BUILD
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/BUILD
  src/core/ext/transport/binder/client/BUILD
  src/core/ext/transport/binder/security_policy/BUILD
  src/core/ext/transport/binder/server/BUILD
  src/core/ext/transport/binder/transport/BUILD
  src/core/ext/transport/binder/utils/BUILD
  src/core/ext/transport/binder/wire_format/BUILD
  test/core/transport/binder/BUILD
  test/core/transport/binder/end2end/BUILD
Labels: lang/core

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**
