Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

clang-format
  src/core/ext/xds/xds_listener.cc
Labels: lang/core

iwyu
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_lb_policy_registry.cc
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_lb_policy_registry_test.cc
Labels: lang/core

reduce test size
  test/cpp/microbenchmarks/BUILD
Labels: lang/c++

Try it!
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
Labels: lang/core

Removed grpc_error_std_string
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
Labels: lang/core

outlier detection: add basic unit test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

fix
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  test/core/event_engine/test_suite/BUILD
Labels: lang/core

More
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
  src/core/lib/iomgr/load_file.cc
  src/core/lib/security/transport/tsi_error.cc
Labels: lang/core

fix typo
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++

comments
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.h
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.h
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.cc
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  test/core/event_engine/posix/event_poller_posix_test.cc
  test/core/event_engine/posix/posix_endpoint_test.cc
Labels: lang/core

use absl::variant for listener type
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core

Automated change: Fix sanity tests
  src/core/ext/filters/http/message_compress/message_compress_filter.h
  src/core/ext/filters/http/message_compress/message_decompress_filter.h
Labels: lang/core

add experiments flag
  BUILD
  bazel/experiments.bzl
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

use absl::variant for RDS name vs. inline RouteConfig
  BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core

iwyu
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
Labels: lang/core

capture metadata from promise to recieve up
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core

spacing
  src/core/ext/filters/http/message_compress/message_compress_filter.h
  src/core/ext/filters/http/message_compress/message_decompress_filter.h
Labels: lang/core

fix
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
Labels: lang/core

newline
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

newline
  src/core/lib/experiments/experiments.yaml
Labels: lang/core

Fixed code formatting.
  src/compiler/csharp_generator.cc
Labels: none

first passing test
  test/core/xds/xds_listener_resource_type_test.cc
Labels: lang/core

reduce test size (#31345)
  test/cpp/microbenchmarks/BUILD
Labels: lang/c++

Reviewer comments
  bazel/grpc_build_system.bzl
  src/core/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/core

Remove unnecessary blank line
  tools/distrib/fix_build_deps.py
Labels: none

Remove unnecessary visibility exception for event_engine_common
  bazel/grpc_build_system.bzl
  src/core/BUILD
Labels: lang/core

Test change docker file
  tools/dockerfile/test/bazel/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: none

debug,fix
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/iomgr/call_combiner.h
  src/core/lib/promise/try_concurrently.h
Labels: lang/core

not-used
  src/core/lib/iomgr/call_combiner.h
Labels: lang/core

try TvTests with bazel
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
Labels: none

remove tvos-test-basictests from run_tests.py
  tools/run_tests/run_tests.py
Labels: none

add a build-only test for TvTests
  src/objective-c/tests/BUILD
  src/objective-c/tests/tvtests_build_test.sh
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
Labels: lang/ObjC

adding more tests
  src/core/ext/xds/xds_listener.cc
  test/core/xds/xds_listener_resource_type_test.cc
Labels: lang/core

fix bug
  tools/dockerfile/test/bazel/Dockerfile
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: none

iwyu
  src/core/lib/event_engine/posix_engine/posix_engine.h
Labels: lang/core

Add -y flag to uninstall
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: none

xDS RBAC: remove env var protection
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, lang/c++

fix
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core

fix federation server test
  test/cpp/end2end/xds/xds_core_end2end_test.cc
Labels: lang/c++

Move to docker script
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: none

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**

lang/ObjC:
- examples/objective-c/**
- src/objective-c/**

lang/php:
- examples/php/**
- src/php/**

lang/python:
- examples/python/**
- src/python/**

lang/ruby:
- examples/ruby/**
- src/ruby/**

"lang/C#":
- src/csharp/**
