Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#, disposition/Needs Internal Changes

[core] Expand core attributes to hold values of any type (#32835)
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_internal.h
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  src/core/lib/service_config/service_config_call_data.h
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Labels: lang/core

[xDS] Accept cpu_utilization over 100% (#32954)
  CMakeLists.txt
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/server_metric_recorder.h
  src/cpp/server/backend_metric_recorder.cc
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/xds_wrr_end2end_test.cc
  tools/run_tests/sanity/check_submodules.sh
Labels: lang/core, lang/c++

[Build] Bump the version to 1.54.1 (#32980)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#

Include Rust in known implementations of server reflection
  doc/server-reflection.md
Labels: none

[xDS] Accept cpu_utilization over 100% (#32954)
  CMakeLists.txt
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/server_metric_recorder.h
  src/cpp/server/backend_metric_recorder.cc
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/xds_wrr_end2end_test.cc
  tools/run_tests/sanity/check_submodules.sh
Labels: lang/core, lang/c++

[xDS] Backport to v1.55.x: Accept cpu_utilization over 100% (#32982)
  CMakeLists.txt
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/server_metric_recorder.h
  src/cpp/server/backend_metric_recorder.cc
  src/proto/grpc/testing/xds/v3/orca_load_report.proto
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/xds_wrr_end2end_test.cc
  tools/run_tests/sanity/check_submodules.sh
Labels: lang/core, lang/c++

address PR comments
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

[Python O11Y] Draft
  BUILD
  requirements.bazel.txt
  setup.cfg
  src/cpp/ext/gcp/BUILD
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/observability.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio/grpc/_observability.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio_observability/.gitignore
  src/python/grpcio_observability/grpc_observability/BUILD.bazel
  src/python/grpcio_observability/grpc_observability/__init__.py
  src/python/grpcio_observability/grpc_observability/_cyobservability.pxd
  src/python/grpcio_observability/grpc_observability/_cyobservability.pyx
  src/python/grpcio_observability/grpc_observability/_observability.py
  src/python/grpcio_observability/grpc_observability/constants.h
  src/python/grpcio_observability/grpc_observability/observability_main.cc
  src/python/grpcio_observability/grpc_observability/observability_main.h
  src/python/grpcio_tests/tests/observability/BUILD.bazel
  src/python/grpcio_tests/tests/observability/_observability_test.py
  tools/distrib/pylint_code.sh
Labels: lang/c++, lang/python

Refactors
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/observability.pyx.pxi
  src/python/grpcio/grpc/_observability.py
  src/python/grpcio_observability/grpc_observability/BUILD.bazel
  src/python/grpcio_observability/grpc_observability/_cyobservability.pyx
  src/python/grpcio_observability/grpc_observability/_observability.py
  src/python/grpcio_observability/grpc_observability/constants.h
  src/python/grpcio_tests/tests/observability/BUILD.bazel
  src/python/grpcio_tests/tests/observability/_observability_test.py
Labels: lang/python

[xds lb] Pass cluster data to the stateful session filter
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
Labels: lang/core

[google-c2p resolver] ignore xDS resource deletion
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core

use new Json APIs
  src/core/lib/security/authorization/rbac_translator.cc
Labels: lang/core

fix test
  test/core/security/grpc_authorization_engine_test.cc
Labels: lang/core

Type check src/python/grpcio_tests/tests_aio
  setup.cfg
  src/python/grpcio_tests/tests_aio/benchmark/benchmark_client.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
Labels: lang/python

Type check for the rest of ancillary packages
  setup.cfg
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_health_checking/grpc_health/v1/_async.py
  src/python/grpcio_health_checking/grpc_health/v1/health.py
Labels: lang/python

Automated change: Fix sanity tests
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
Labels: lang/core

fixup: rid of "friend"
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

fixup: format
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
Labels: lang/core

[google-c2p resolver] ignore xDS resource deletion (#32984)
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core

Type check for the rest of files and enable mypy in sanity tests
  setup.cfg
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_auth.py
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_interceptor.py
  src/python/grpcio/grpc/_runtime_protos.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/_utilities.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_testing/grpc_testing/_server/_handler.py
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
  src/python/grpcio_tests/tests_aio/benchmark/benchmark_client.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
  tools/distrib/check_mypy.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/python

fixup: iwyu
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
Labels: lang/core

Fixup: sanity check
  src/core/BUILD
Labels: lang/core

[google-c2p resolver] ignore xDS resource deletion (#32984)
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core

address PR comments
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  src/core/lib/security/authorization/rbac_translator.cc
Labels: lang/core

[example] Eliminate warning when building helloworld. (#32884)
  examples/cpp/cmake/common.cmake
Labels: lang/c++

Added missing gRPC_BUILD_CODEGEN
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: none

[JSON] make API public but experimental
  BUILD
  include/grpc/support/json.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/json/json.h
  src/core/lib/security/credentials/jwt/json_token.cc
Labels: lang/core

fixup: iwyu
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

Removed gRPC_PROTOBUF_PACKAGE_TYPE, supporting config only
  CMakeLists.txt
  cmake/protobuf.cmake
  examples/cpp/helloworld/cmake_externalproject/CMakeLists.txt
  templates/CMakeLists.txt.template
  test/distrib/cpp/run_distrib_test_cmake.bat
  test/distrib/cpp/run_distrib_test_cmake.sh
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
Labels: lang/c++

fix build
  test/cpp/util/channel_trace_proto_helper.cc
Labels: lang/c++

iwyu
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
Labels: lang/core

Fix more type issues
  setup.cfg
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_interceptor.py
  src/python/grpcio/grpc/_runtime_protos.py
  src/python/grpcio/grpc/_typing.py
  src/python/grpcio/grpc/_utilities.py
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_testing/grpc_testing/__init__.py
  src/python/grpcio_testing/grpc_testing/_channel/_rpc_state.py
  src/python/grpcio_testing/grpc_testing/_server/__init__.py
  src/python/grpcio_testing/grpc_testing/_server/_handler.py
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
  src/python/grpcio_testing/grpc_testing/_server/_server.py
  src/python/grpcio_testing/grpc_testing/_server/_server_rpc.py
  src/python/grpcio_testing/grpc_testing/_server/_servicer_context.py
  src/python/grpcio_testing/grpc_testing/_time.py
  src/python/grpcio_tests/tests_aio/benchmark/benchmark_client.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/unit/_common.py
  src/python/grpcio_tests/tests_aio/unit/_test_base.py
  src/python/grpcio_tests/tests_aio/unit/channel_ready_test.py
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: lang/python

another build fix
  test/core/json/fuzzer.cc
Labels: lang/core

Fix sanity
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_typing.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_health_checking/grpc_health/v1/_async.py
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
Labels: lang/python

Automated change: Fix sanity tests
  src/core/BUILD
Labels: lang/core

Fix Pytype
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/experimental/__init__.py
Labels: lang/python

[xds resolver] simplify storage of cluster name in ClusterState object
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

Fix sanity
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_testing/grpc_testing/_server/_handler.py
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
Labels: lang/python

review
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/dns/event_engine/event_engine_client_channel_resolver.cc
  src/core/lib/event_engine/grpc_ares_wrapper.cc
  src/core/lib/event_engine/grpc_ares_wrapper.h
  src/core/lib/event_engine/grpc_polled_fd.h
  src/core/lib/event_engine/posix_engine/grpc_polled_fd_posix.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  test/core/event_engine/posix/lock_free_event_test.cc
  test/core/event_engine/test_suite/tests/dns_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
Labels: lang/core, lang/c++

[Audit Logging] Authz policy support for audit logging (#32944)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/core/security/grpc_authorization_engine_test.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**
- src/compiler/node*

lang/ObjC:
- examples/objective-c/**
- src/compiler/objective_c*
- src/objective-c/**

lang/php:
- examples/php/**
- src/compiler/php*
- src/php/**

lang/python:
- bazel/python_rules.bzl
- examples/python/**
- requirements.bazel.txt
- src/compiler/python*
- any:
  - src/python/**
  - "!src/python/grpcio/grpc_core_dependencies.py"

lang/ruby:
- examples/ruby/**
- src/compiler/ruby*
- src/ruby/**

"lang/C#":
- src/compiler/csharp*
- src/csharp/**

"disposition/Needs Internal Changes":
- src/core/lib/event_engine/windows/**
- src/core/lib/gpr/windows/**
- src/core/lib/gprpp/windows/**
- test/core/event_engine/windows/**
