Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra, lang/node, lang/ObjC, lang/php, lang/python, lang/ruby, lang/C#, disposition/Needs Internal Changes

.github/labeler.yml:

lang/core:
- src/abseil-cpp/**
- src/boringssl/**
- src/c-ares/**
- src/core/**
- src/proto/**
- src/re2/**
- src/upb/**
- src/zlib/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- examples/cpp/**
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

lang/node:
- examples/node/**
- src/compiler/node*

lang/ObjC:
- examples/objective-c/**
- src/compiler/objective_c*
- src/objective-c/**

lang/php:
- examples/php/**
- src/compiler/php*
- src/php/**

lang/python:
- bazel/python_rules.bzl
- examples/python/**
- requirements.bazel.txt
- src/compiler/python*
- any:
  - src/python/**
  - "!src/python/grpcio/grpc_core_dependencies.py"

lang/ruby:
- examples/ruby/**
- src/compiler/ruby*
- src/ruby/**

"lang/C#":
- src/compiler/csharp*
- src/csharp/**

"disposition/Needs Internal Changes":
- src/core/lib/event_engine/windows/**
- src/core/lib/gpr/windows/**
- src/core/lib/gprpp/windows/**
- test/core/event_engine/windows/**

fix typo
  src/core/lib/event_engine/poller.h
Labels: lang/core

shutdown error_closure_
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
Labels: lang/core

[google-c2p resolver] backport to 1.55: ignore xDS resource deletion (#32985)
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core

[typo] Fix typo in poller.h (#32990)
  src/core/lib/event_engine/poller.h
Labels: lang/core

[xDS] support StringMatch for header matching in RouteConfig
  src/core/ext/xds/xds_route_config.cc
  src/core/lib/matchers/matchers.cc
  src/core/lib/matchers/matchers.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/route.proto
  test/core/security/matchers_test.cc
  test/core/xds/xds_route_config_resource_type_test.cc
Labels: lang/core

move matchers_test to a more appropriate directory
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/matchers/BUILD
  test/core/matchers/matchers_test.cc
  test/core/security/BUILD
Labels: lang/core

[fix] SetShutdown error_closure_ properly (#32991)
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
Labels: lang/core

[Tracing] Add a CanTrackErrors method to posix EE interface to allow RPC tracing with supportive endpoints
  src/core/lib/event_engine/posix.h
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
Labels: lang/core

Codegen
  CMakeLists.txt
Labels: none

cmake-deps-private
  templates/CMakeLists.txt.template
Labels: none

Added for Android
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: none

Hiding ares.h from header files
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/iomgr/resolve_address_test.cc
Labels: lang/core

Fix typeguard errors
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_typing.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_tests/tests/unit/_abort_test.py
  src/python/grpcio_tests/tests/unit/_server_test.py
Labels: lang/python

audit logging in authz engine
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/security/authorization/grpc_authorization_engine.cc
  src/core/lib/security/authorization/grpc_authorization_engine.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/grpc_authorization_engine_test.cc
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/security/authorization/grpc_authorization_engine.cc
  test/core/security/grpc_authorization_engine_test.cc
Labels: lang/core

misc
  BUILD
  src/core/lib/security/authorization/grpc_authorization_engine.cc
  src/core/lib/security/authorization/grpc_authorization_engine.h
Labels: lang/core

remove unused identifier
  test/core/security/grpc_authorization_engine_test.cc
Labels: lang/core

[channelz] Save some memory probably
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  test/core/channel/channelz_test.cc
Labels: lang/core

fix msan
  src/core/lib/security/authorization/rbac_policy.cc
Labels: lang/core

server can be per cpu
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
Labels: lang/core

initialize audit condition
  src/core/lib/security/authorization/grpc_authorization_engine.h
Labels: lang/core

fix
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  test/core/channel/channelz_registry_test.cc
  test/core/channel/channelz_test.cc
Labels: lang/core

fix
  BUILD
Labels: none

fix msan in xds
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/lib/security/authorization/grpc_authorization_engine.cc
Labels: lang/core

clang format
  src/core/lib/security/authorization/grpc_authorization_engine.cc
Labels: lang/core

move using decl
  src/core/lib/security/authorization/grpc_authorization_engine.cc
  src/core/lib/security/authorization/grpc_authorization_engine.h
Labels: lang/core

review: dns_test
  test/core/event_engine/test_suite/tests/dns_test.cc
Labels: lang/core

moar review
  src/core/BUILD
  src/core/lib/event_engine/grpc_ares_wrapper.cc
Labels: lang/core

cleanup
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/dns/event_engine/event_engine_client_channel_resolver.cc
  src/core/lib/event_engine/grpc_ares_wrapper.cc
  src/core/lib/event_engine/grpc_ares_wrapper.h
  src/core/lib/event_engine/grpc_polled_fd.h
  src/core/lib/event_engine/posix_engine/grpc_polled_fd_posix.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  test/core/event_engine/posix/lock_free_event_test.cc
  test/core/event_engine/test_suite/tests/dns_test.cc
Labels: lang/core

review
  src/core/lib/event_engine/grpc_ares_wrapper.h
Labels: lang/core

[channelz] Save some memory per channel (#32996)
  BUILD
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  test/core/channel/channelz_registry_test.cc
  test/core/channel/channelz_test.cc
Labels: lang/core

comment
  test/core/event_engine/test_suite/tests/dns_test.cc
Labels: lang/core

refactor: update message
  src/core/lib/iomgr/socket_utils_common_posix.cc
Labels: lang/core

GenericSerialize avoid byte size recalculation
  include/grpcpp/impl/proto_utils.h
Labels: lang/c++

Automated change: Fix sanity tests
  src/core/ext/xds/xds_route_config.cc
  src/core/lib/matchers/matchers.cc
  test/core/matchers/matchers_test.cc
  test/core/xds/xds_route_config_resource_type_test.cc
Labels: lang/core

fix package name
  test/core/matchers/BUILD
Labels: lang/core

[xds resolver] simplify storage of cluster name in ClusterState object (#32989)
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core

fix include in grpc_audit_logging.h
  include/grpc/grpc_audit_logging.h
Labels: lang/core

fix more build breakage
  test/cpp/util/channelz_sampler.cc
Labels: lang/c++

[Build] Added missing gRPC_BUILD_CODEGEN (#32986)
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: none
