Repository grpc/grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/grpc/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

Regenerate projects
  CMakeLists.txt
  build_autogenerated.yaml
Labels: none

Restore the reset
  src/core/ext/xds/xds_client.cc
Labels: lang/core

cap number of client channels for qps tests
  test/cpp/qps/scenario_generator_helper.py
Labels: lang/c++

initial attempts to speedup qps tests
  test/cpp/qps/inproc_sync_unary_ping_pong_test.cc
  test/cpp/qps/qps_openloop_test.cc
  test/cpp/qps/secure_sync_unary_ping_pong_test.cc
Labels: lang/c++

add a todo for driver.cc
  test/cpp/qps/driver.cc
Labels: lang/c++

make json_run_localhost finish without up to 5 sec lag
  test/cpp/qps/worker.cc
Labels: lang/c++

regenerate scenarios
  test/cpp/qps/json_run_localhost_scenarios.bzl
  test/cpp/qps/qps_json_driver_scenarios.bzl
Labels: lang/c++

adjust max channel count for streaming_from_server
  test/cpp/qps/scenario_generator_helper.py
Labels: lang/c++

regenerate bazel qps scenarios
  test/cpp/qps/json_run_localhost_scenarios.bzl
  test/cpp/qps/qps_json_driver_scenarios.bzl
Labels: lang/c++

Consolidate binder targets into a single target in top-level BUILD file (#27719)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  examples/android/binder/java/io/grpc/binder/cpp/exampleclient/BUILD
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/BUILD
  src/core/ext/transport/binder/client/BUILD
  src/core/ext/transport/binder/security_policy/BUILD
  src/core/ext/transport/binder/server/BUILD
  src/core/ext/transport/binder/transport/BUILD
  src/core/ext/transport/binder/utils/BUILD
  src/core/ext/transport/binder/wire_format/BUILD
  test/core/transport/binder/BUILD
  test/core/transport/binder/end2end/BUILD
Labels: lang/core

xds_end2end_test: allow setting Listener to use in SetRouteConfiguration()
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++

fix build
  src/core/ext/filters/client_channel/channel_connectivity.cc
Labels: lang/core

fix lame_client_test
  test/core/surface/lame_client_test.cc
Labels: lang/core

Update to all hosts
  examples/python/xds/server.py
Labels: none

Switch Python xDS Example Server to Listen on IPV4 Only (#27679)
  examples/python/xds/server.py
Labels: none

exclude megabyte size payloads from 1byte tests
  test/core/end2end/generate_tests.bzl
Labels: lang/core

Switch Python xDS Example Server to Listen on IPV4 Only (#27679)
  examples/python/xds/server.py
Labels: none

windows fix
  src/core/lib/iomgr/endpoint_pair_windows.cc
Labels: lang/core

fix of GRPCClientTests testTimeoutBackoff2 test failure #29 (#27742)
  src/objective-c/tests/UnitTests/GRPCClientTests.m
Labels: none

[objc] nsstring formatting fix for error.code (#27750)
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: none

Mark channel credentials channel arg as internal (#27752)
  src/core/lib/security/credentials/credentials.h
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-5212802075197440
Labels: lang/core

Remove errant std::move in creds code (#27751)
  src/core/lib/security/credentials/composite/composite_credentials.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-4953856886308864
Labels: lang/core

Switch Python xDS Example Server to Listen on IPV4 Only (#27679) (#27758)
  examples/python/xds/server.py
Labels: none

start moving ios
  src/core/lib/iomgr/tcp_client_cfstream.cc
Labels: lang/core

[objc] iOS libuv timer unit test coverage
  src/objective-c/tests/CoreTests/CoreTests/EventEngineTimerTests.mm
Labels: none

To Zalloc or new
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/lib/iomgr/executor/mpmcqueue.cc
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/tsi/alts/frame_protector/alts_frame_protector.cc
  src/core/tsi/alts/frame_protector/frame_handler.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/ssl_transport_security.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/iomgr/mpmcqueue_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/tsi/ssl_transport_security_test.cc
  test/core/tsi/transport_security_test_lib.cc
  test/core/util/cmdline.cc
  test/core/util/subprocess_posix.cc
Labels: lang/core

add grpc_plugin_registry_extra.cc and grpc_pluing_registry_noextra.cc
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_plugin_registry_extra.cc
  src/core/plugin_registry/grpc_plugin_registry_noextra.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/sanity/check_bad_dependencies.sh
Labels: lang/core

keep moving windows
  src/core/lib/iomgr/tcp_client_windows.cc
Labels: lang/core

attempt to fix mingw build
  templates/Makefile.template
Labels: none

Change repo manager to drfloob
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: area/infra

Mark security_connector channel arg internal
  src/core/lib/security/security_connector/security_connector.h
Labels: lang/core

remove illegal terms
  test/core/security/credentials_test.cc
Labels: lang/core

Test on empty principal
  src/core/lib/security/authorization/sdk_server_authz_filter.cc
  test/core/security/authorization_matchers_test.cc
Labels: lang/core

Get windows compilation working.
  src/core/lib/iomgr/tcp_server_windows.cc
Labels: lang/core

RBAC Authorization Engine updates based on A41 proposal
  src/core/lib/security/authorization/matchers.cc
  test/core/security/authorization_matchers_test.cc
Labels: lang/core

Automated change: Fix sanity tests
  src/core/lib/iomgr/tcp_server_windows.cc
Labels: lang/core

Update third_party/protobuf
  bazel/grpc_deps.bzl
  third_party/protobuf.patch
  tools/run_tests/sanity/check_submodules.sh
Labels: none

run tools/distrib/python/make_grpcio_tools.py
  tools/distrib/python/grpcio_tools/protoc_lib_deps.py
Labels: none

regenerate protos for csharp, ruby, php
  src/csharp/Grpc.Examples/Math.cs
  src/csharp/Grpc.HealthCheck/Health.cs
  src/csharp/Grpc.IntegrationTesting/Control.cs
  src/csharp/Grpc.IntegrationTesting/CoreStats/Stats.cs
  src/csharp/Grpc.IntegrationTesting/EchoMessages.cs
  src/csharp/Grpc.IntegrationTesting/Empty.cs
  src/csharp/Grpc.IntegrationTesting/Messages.cs
  src/csharp/Grpc.IntegrationTesting/Metrics.cs
  src/csharp/Grpc.IntegrationTesting/Payloads.cs
  src/csharp/Grpc.IntegrationTesting/Stats.cs
  src/csharp/Grpc.Reflection/Reflection.cs
  src/php/tests/interop/Grpc/Testing/ResponseParameters.php
  src/php/tests/interop/Grpc/Testing/SimpleRequest.php
  src/php/tests/interop/Grpc/Testing/SimpleResponse.php
  src/php/tests/interop/Grpc/Testing/StreamingInputCallRequest.php
  src/php/tests/interop/Grpc/Testing/StreamingOutputCallRequest.php
  src/php/tests/interop/Grpc/Testing/StreamingOutputCallResponse.php
  src/ruby/pb/src/proto/grpc/testing/test_pb.rb
  src/ruby/qps/src/proto/grpc/testing/benchmark_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/control_pb.rb
  src/ruby/qps/src/proto/grpc/testing/report_qps_scenario_service_pb.rb
  src/ruby/qps/src/proto/grpc/testing/stats_pb.rb
  src/ruby/qps/src/proto/grpc/testing/worker_service_pb.rb
Labels: none

update Protobuf-C++.podspec
  src/cpp/Protobuf-C++.podspec
Labels: lang/c++
