Repository grpc/grpc, pull requests merged in 2018-10, with the labels that each got.

#16731 build.yaml cleanup: legacy visual studio fields
  build.yaml
  grpc.gyp
  templates/README.md
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++, release notes: no

#16738 Add documentation for running microbenchmarks with internal tooling
  test/cpp/microbenchmarks/bm_fullstack_unary_ping_pong.cc
Labels: release notes: no

#16746 Upgrade CommandLineParser to 2.3.0
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/Grpc.Microbenchmarks/Grpc.Microbenchmarks.csproj
Labels: lang/C#, release notes: no

#16747 Fix and polish artifact dockerfiles (and make them buildable again)
  tools/dockerfile/grpc_artifact_linux_x64/Dockerfile
  tools/dockerfile/grpc_artifact_linux_x86/Dockerfile
Labels: lang/all wrapped languages, release notes: no

#16657 Document that set_deadline() uses absolute time.
  include/grpcpp/impl/codegen/client_context.h
Labels: release notes: no

#16743 change var name to be consistent with others
  src/ruby/pb/test/client.rb
Labels: lang/ruby, release notes: no

#16752 cmake: prevent C core from depending on libstdc++
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#16751 Fix the unused result error in client_channel_stress_test.cc.
  test/cpp/client/client_channel_stress_test.cc
Labels: release notes: no

#16695 Create and pass pollset_set to ALTS TSI handshaker
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker_factory.cc
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/channel/handshaker_registry.cc
  src/core/lib/channel/handshaker_registry.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/alts_security_connector.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: release notes: no

#16716 Create interfaces and initial plumbing for interception API
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/create_channel.h
  include/grpcpp/create_channel_posix.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/security/credentials.h
  include/grpcpp/server.h
  src/cpp/client/channel_cc.cc
  src/cpp/client/create_channel.cc
  src/cpp/client/create_channel_internal.cc
  src/cpp/client/create_channel_internal.h
  src/cpp/client/create_channel_posix.cc
  src/cpp/client/cronet_credentials.cc
  src/cpp/client/insecure_credentials.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/client/secure_credentials.h
  src/cpp/server/server_cc.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#16742 Fix inverted logic for --call_creds=none.
  test/cpp/util/cli_credentials.cc
Labels: lang/c++, release notes: no

#16768 Fix the unknown argument issue in resolve_address_test.cc.
  test/core/iomgr/resolve_address_test.cc
Labels: release notes: no

#16762 Update README.md ordered list spacing
  src/csharp/experimental/README.md
Labels: area/documentation, lang/C#, release notes: no

#16774 Fix Channelz Defaults and Initialization
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channelz.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/server.cc
Labels: area/channelz, kind/enhancement, lang/core, release notes: no

#16785 Mention TROUBLESHOOTING.md in issue template
  .github/ISSUE_TEMPLATE.md
Labels: lang/all wrapped languages, release notes: no

#16783 Add script for automatic generation of C# reference docs
  src/csharp/doc/README.md
  src/csharp/doc/generate_reference_docs.sh
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: no

#16756 C#: ChannelOption improvements
  src/csharp/Grpc.Core/ChannelOptions.cs
Labels: lang/C#, release notes: yes

#16789 Adjust server_auth_filter location.
  src/core/lib/surface/init_secure.cc
Labels: lang/core, release notes: no

#16791 Revert "Create and pass pollset_set to ALTS TSI handshaker"
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker_factory.cc
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/channel/handshaker_registry.cc
  src/core/lib/channel/handshaker_registry.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/alts_security_connector.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: area/core, priority/P0/RELEASE BLOCKER, release notes: no

#16765 Shard Channelz Stats by CPU
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/iomgr/exec_ctx.h
  test/core/channel/channelz_test.cc
Labels: area/channelz, area/performance, kind/enhancement, lang/core, release notes: no

#16767 Limit Channel Trace by Memory
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.h
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/server.cc
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_test.cc
  test/core/end2end/tests/channelz.cc
  test/cpp/end2end/channelz_service_test.cc
Labels: area/channelz, kind/enhancement, lang/core, release notes: no

#16777 build assembly-optimized grpc_csharp_ext with cmake
  CMakeLists.txt
  doc/ssl-performance.md
  src/csharp/Grpc.Core/NativeDeps.Linux.csproj.include
  src/csharp/Grpc.Core/NativeDeps.Mac.csproj.include
  templates/CMakeLists.txt.template
  templates/tools/dockerfile/csharp_deps.include
  tools/dockerfile/grpc_artifact_linux_x64/Dockerfile
  tools/dockerfile/grpc_artifact_linux_x86/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/test/csharp_jessie_x64/Dockerfile
  tools/dockerfile/test/multilang_jessie_x64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_csharp.sh
  tools/run_tests/helper_scripts/pre_build_csharp.sh
  tools/run_tests/performance/build_performance.sh
  tools/run_tests/run_tests.py
Labels: lang/C#, release notes: yes

#16714 Core infrastructure for timer manager debug
  src/core/lib/gpr/sync_posix.cc
  src/core/lib/iomgr/timer_manager.cc
Labels: lang/core, release notes: no

#16552 Expose certificate request type in SslServerCredentials
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/Grpc.Core/Internal/ServerCredentialsSafeHandle.cs
  src/csharp/Grpc.Core/ServerCredentials.cs
  src/csharp/Grpc.IntegrationTesting/SslCredentialsTest.cs
  src/csharp/ext/grpc_csharp_ext.c
  templates/src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs.template
Labels: lang/C#, release notes: yes

#16764 Keepalive watchdog firing should return status UNAVAILABLE
  doc/statuscodes.md
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/objective-c/tests/InteropTests.m
  test/core/end2end/tests/keepalive_timeout.cc
Labels: area/core, lang/core, release notes: yes

#16335 Add Bazel targets for Python unit tests
  src/python/grpcio_tests/tests/testing/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_cython/BUILD.bazel
  src/python/grpcio_tests/tests/unit/beta/BUILD.bazel
  src/python/grpcio_tests/tests/unit/credentials/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/common/BUILD.bazel
Labels: infra/Bazel, kind/enhancement, lang/Python, priority/P2, release notes: no

#16754 fix *_unsecure.pc files
  Makefile
  templates/Makefile.template
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: yes

#16803 Upmerge from v1.15.x branch
  BUILD
Labels: release notes: no

#16593 Ruby: remove duplicated `Unimplemented` error definition
  src/ruby/lib/grpc/errors.rb
Labels: lang/ruby, release notes: no

#16750 Clean some timer code
  src/core/lib/iomgr/timer_generic.cc
  src/core/lib/iomgr/timer_heap.cc
  src/core/lib/iomgr/timer_heap.h
  src/core/lib/iomgr/timer_manager.cc
  src/core/lib/iomgr/timer_manager.h
Labels: release notes: no

#16806 Fix google-api-python-client installation in dockerfiles
  templates/tools/dockerfile/gcp_api_libraries.include
  tools/dockerfile/test/csharp_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1710_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/multilang_jessie_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/python_jessie_x64/Dockerfile
  tools/dockerfile/test/python_pyenv_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#16797 Fix the test failure with callback-based polling.
  test/core/transport/chttp2/settings_timeout_test.cc
Labels: release notes: no

#16810 Bump version to v1.16.0-pre1 and regenerate projects
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16811 Bump to version v1.17.0-dev in master and regenerate projects
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#16788 Add Compaction to Channelz Registry
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/gprpp/inlined_vector.h
  test/core/channel/channelz_registry_test.cc
  test/core/gprpp/inlined_vector_test.cc
Labels: area/channelz, kind/enhancement, lang/core, release notes: no

#16760 Channelz Part 8: Get Server Sockets
  grpc.def
  include/grpc/grpc.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/bad_client/bad_client.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/tests/channelz.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: area/channelz, kind/enhancement, lang/core, release notes: no

#16758 Channelz Part 7: Server Listening Socket Support
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/server/channelz/channelz_service.cc
Labels: area/channelz, kind/enhancement, lang/core, release notes: no

#16761 Channelz++ Part 5: GetServerSockets Support
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/channelz/channelz_service.h
  test/cpp/end2end/channelz_service_test.cc
Labels: area/channelz, kind/enhancement, lang/c++, release notes: no

#16800 Make link_head consistent with link_tail.
  src/core/lib/transport/metadata_batch.cc
Labels: release notes: no

#16780 use Ninja to build grpc_csharp_ext windows artifact
  doc/ssl-performance.md
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_csharp.bat
  tools/run_tests/helper_scripts/pre_build_csharp.bat
Labels: lang/C#, release notes: yes

#16812 Bazel rules for Python grpcio_health_checking
  WORKSPACE
  src/proto/grpc/health/v1/BUILD
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_tests/tests/health_check/BUILD.bazel
Labels: infra/Bazel, lang/Python, priority/P2, release notes: no

#16706 Remove grpc_use_signal from API, as no longer relevant
  Makefile
  build.yaml
  build_config.rb
  grpc.def
  include/grpc/grpc_posix.h
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: yes

#16826 run_performance_tests.py: cleaner way to start port_server.py
  tools/run_tests/performance/remote_host_prepare.sh
  tools/run_tests/run_performance_tests.py
Labels: area/performance/benchmarking, lang/all wrapped languages, release notes: no

#16816 Update owners (replace dgquintas and mehrdada)
  .github/CODEOWNERS
  bazel/OWNERS
  cmake/OWNERS
  src/core/ext/filters/client_channel/OWNERS
  tools/dockerfile/OWNERS
Labels: release notes: no

#16753 Unify fallthrough comment in switch statements
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/lib/iomgr/timer_manager.cc
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_client_uv_test.cc
Labels: lang/core, release notes: no

#16837 Only build with python27 in performance benchmarks
  tools/run_tests/performance/build_performance.sh
Labels: lang/Python, release notes: no

#16792 Revert "Revert "Create and pass pollset_set to ALTS TSI handshaker""
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker_factory.cc
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/channel/handshaker_registry.cc
  src/core/lib/channel/handshaker_registry.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/alts_security_connector.cc
  src/core/lib/security/security_connector/local_security_connector.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/security/ssl_server_fuzzer.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: disposition/DO NOT MERGE, release notes: no

#16827 Connected Channel has ref to Channelz
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
Labels: area/channelz, release notes: no

#16836 Strip manylinux1 binary wheels
  tools/run_tests/artifacts/build_package_python.sh
Labels: area/packaging & distribution, lang/Python, platform/Linux, priority/P2

#16843 Add metadata streaming tests
  test/cpp/end2end/async_end2end_test.cc
Labels: release notes: no

#16841 Add c++ google default creds to cloud to prod auth scenarios
  test/cpp/interop/client.cc
  tools/run_tests/run_interop_tests.py
Labels: area/test, lang/c++, release notes: no

#16844 Fixup #16837 (build_performance.sh)
  tools/run_tests/performance/build_performance.sh
Labels: lang/Python, release notes: no

#16813 Bazel rules for gRPC Python interop tests
  requirements.bazel.txt
  src/proto/grpc/testing/BUILD
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/credentials/BUILD.bazel
Labels: infra/Bazel, lang/Python, priority/P2, release notes: no

#16824 Cleanup & update scripts for creating GCE VM
  tools/gce/create_interop_worker.sh
  tools/gce/create_linux_kokoro_performance_worker.sh
  tools/gce/create_linux_performance_worker.sh
  tools/gce/create_linux_worker.sh
  tools/gce/jenkins_master.pub
  tools/gce/kokoro_performance.pub
  tools/gce/linux_kokoro_performance_worker_init.sh
  tools/gce/linux_performance_worker_init.sh
  tools/gce/linux_worker_init.sh
Labels: lang/all wrapped languages, release notes: no

#16835 Fix Channelz Tsan Failures
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
Labels: area/channelz, lang/core, release notes: no

#16838 Simple optimizations in TCP read
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no

#16807 Benchmark test for unary callback based RPCs in gRPC
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  src/proto/grpc/testing/control.proto
  test/cpp/qps/BUILD
  test/cpp/qps/client.h
  test/cpp/qps/client_callback.cc
  test/cpp/qps/qps_worker.cc
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++, release notes: no

#16859 Rename BUILD files to Bazel convention
  src/proto/grpc/reflection/v1alpha/BUILD.bazel
  src/proto/grpc/testing/BUILD.bazel
Labels: infra/Bazel, lang/Python, priority/P0, release notes: no

#16840 Add java google default creds to cloud-to-prod interop scenarios
  tools/run_tests/run_interop_tests.py
Labels: area/test, lang/Java, release notes: no

#16858 Revert Python Bazel PRs
  requirements.bazel.txt
  src/proto/grpc/reflection/v1alpha/BUILD
  src/proto/grpc/testing/BUILD
  src/proto/grpc/testing/proto2/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/credentials/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
Labels: lang/Python, release notes: no

#16864 Add type checking for channel args
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pyx.pxi
  src/python/grpcio_tests/tests/unit/_channel_args_test.py
Labels: lang/Python, release notes: no

#16871 Enable building opencensus for bazel build
  include/grpcpp/opencensus.h
Labels: lang/c++, release notes: no

#16801 Avoid unnecessary ref/unref calls to get mdelem from slices.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata.h
Labels: release notes: no

#16819 Channelz Part 9: Enable by Default
  src/core/lib/channel/channelz.h
  src/python/grpcio_tests/commands.py
  test/core/channel/channelz_test.cc
  test/core/end2end/tests/channelz.cc
Labels: area/channelz, kind/enhancement, lang/core, release notes: yes

#16884 Only Print Stats if Collected
  test/core/end2end/tests/simple_request.cc
Labels: release notes: no

#16893 Add support to run_tests.py for python 3.7
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: no

#16851 Add kokoro job for single VM benchmark
  tools/internal_ci/linux/grpc_e2e_performance_singlevm.cfg
  tools/internal_ci/linux/grpc_e2e_performance_singlevm.sh
Labels: area/performance/benchmarking, lang/all wrapped languages, release notes: no

#16854 Align some build.yaml test names with bazel counterparts
  CMakeLists.txt
  Makefile
  build.yaml
  test/core/compression/BUILD
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, kind/internal cleanup, lang/c++, release notes: no

#16886 C#: Extra error message if grpc_csharp_ext load fails.
  src/csharp/Grpc.Core/Internal/UnmanagedLibrary.cs
Labels: lang/C#, release notes: no

#10859 fix: while using eventfd, a random fd will be closed when error occurs during creating eventfd
  src/core/lib/iomgr/wakeup_fd_eventfd.cc
Labels: cla: yes, lang/core, release notes: yes

#16766 grpc_cli json support
  test/cpp/util/config_grpc_cli.h
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool_test.cc
  test/cpp/util/proto_file_parser.cc
  test/cpp/util/proto_file_parser.h
Labels: lang/c++, release notes: no

#16892 Assume UNKNOWN if No Status
  src/core/ext/filters/client_channel/subchannel.cc
Labels: release notes: no

#16887 Channelz Part 10: More Channel Tracing
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/subchannel.cc
Labels: area/channelz, lang/core, release notes: no

#16868 Add new grpc lb plugin 'xds'
  BUILD
  build.yaml
  src/core/ext/filters/client_channel/lb_policy/xds/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/lb_policy/xds/client_load_reporting_filter.h
  src/core/ext/filters/client_channel/lb_policy/xds/load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/load_balancer_api.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_channel.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_channel.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.h
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#16860 Support Channelz Pagination
  src/core/lib/channel/channelz_registry.cc
  test/core/channel/channelz_test.cc
Labels: area/channelz, lang/core, release notes: no

#16650 Fix analyze issues in gRPC ObjC lib
  src/objective-c/GRPCClient/private/GRPCHost.m
Labels: lang/ObjC, release notes: no

#16885 Protect Spammy Log with Tracer
  src/core/lib/iomgr/socket_utils_common_posix.cc
Labels: release notes: no

#16906 Catch missing kick for non-polling poller
  src/core/lib/surface/completion_queue.cc
Labels: lang/core, release notes: no

#13207 Integrate Grpc.Tools into msbuild system (C# only)
  src/csharp/.editorconfig
  src/csharp/Grpc.Core.Tests/SanityTest.cs
  src/csharp/Grpc.Tools.Tests/CSharpGeneratorTest.cs
  src/csharp/Grpc.Tools.Tests/CppGeneratorTest.cs
  src/csharp/Grpc.Tools.Tests/DepFileUtilTest.cs
  src/csharp/Grpc.Tools.Tests/GeneratorTest.cs
  src/csharp/Grpc.Tools.Tests/Grpc.Tools.Tests.csproj
  src/csharp/Grpc.Tools.Tests/NUnitMain.cs
  src/csharp/Grpc.Tools.Tests/ProtoCompileBasicTest.cs
  src/csharp/Grpc.Tools.Tests/ProtoCompileCommandLineGeneratorTest.cs
  src/csharp/Grpc.Tools.Tests/ProtoCompileCommandLinePrinterTest.cs
  src/csharp/Grpc.Tools.Tests/ProtoToolsPlatformTaskTest.cs
  src/csharp/Grpc.Tools.Tests/Utils.cs
  src/csharp/Grpc.Tools.nuspec
  src/csharp/Grpc.Tools/Common.cs
  src/csharp/Grpc.Tools/DepFileUtil.cs
  src/csharp/Grpc.Tools/GeneratorServices.cs
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
  src/csharp/Grpc.Tools/ProtoCompile.cs
  src/csharp/Grpc.Tools/ProtoCompilerOutputs.cs
  src/csharp/Grpc.Tools/ProtoReadDependencies.cs
  src/csharp/Grpc.Tools/ProtoToolsPlatform.cs
  src/csharp/Grpc.Tools/build/Grpc.Tools.props
  src/csharp/Grpc.Tools/build/Grpc.Tools.targets
  src/csharp/Grpc.Tools/build/_grpc/Grpc.CSharp.xml
  src/csharp/Grpc.Tools/build/_grpc/README
  src/csharp/Grpc.Tools/build/_grpc/_Grpc.Tools.props
  src/csharp/Grpc.Tools/build/_grpc/_Grpc.Tools.targets
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.props
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
  src/csharp/Grpc.Tools/build/_protobuf/Protobuf.CSharp.xml
  src/csharp/Grpc.Tools/build/_protobuf/README
  src/csharp/Grpc.Tools/build/native/Grpc.Tools.props
  src/csharp/Grpc.sln
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/tests.json
  templates/src/csharp/build_packages_dotnetcli.bat.template
Labels: cla: yes, lang/C#, release notes: yes

#16907 Fix memory profile jobs on master
  CMakeLists.txt
  Makefile
  build.yaml
  tools/internal_ci/linux/grpc_performance_profile_daily.sh
  tools/internal_ci/linux/run_performance_profile_hourly.sh
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++, release notes: no

#16914 Fix bazel for //test/cpp/microbenchmarks/...
  test/cpp/microbenchmarks/BUILD
Labels: release notes: no

#16908 Update Go interop image to go1.11
  templates/tools/dockerfile/interoptest/grpc_interop_go/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
Labels: lang/go, release notes: no

#16925 Fix memory_usage_test (and performance_profile_daily kokoro job)
  test/core/memory_usage/memory_usage_test.cc
Labels: lang/c++, release notes: no

#16362 Formalize the contract of grpc_call_start_batch with empty batches
  include/grpc/grpc.h
Labels: release notes: no

#16905 Xds plugin init
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/lb_policy/xds/client_load_reporting_filter.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#16903 Revert "Revert "grpc_cli json support""
  test/cpp/util/config_grpc_cli.h
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool_test.cc
  test/cpp/util/proto_file_parser.cc
  test/cpp/util/proto_file_parser.h
Labels: release notes: no

#16933 Remove Uneeded Header from Benchmark
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: release notes: no

#16921 Move ruby test's package_options.proto file to ruby-specific directory
  src/ruby/spec/pb/codegen/grpc/testing/package_options.proto
  src/ruby/spec/pb/codegen/package_option_spec.rb
Labels: lang/ruby, release notes: no

#16927 A few perf e2e benchmark improvements
  tools/gce/create_linux_kokoro_performance_worker_from_image.sh
  tools/internal_ci/linux/grpc_e2e_performance_singlevm.sh
Labels: area/performance/benchmarking, lang/all wrapped languages, release notes: no

#16940 Add a note about Message-Length being big endian
  doc/PROTOCOL-HTTP2.md
Labels: lang/all wrapped languages, release notes: no

#16917 Fix corruption of ares blocking_resolve_address when grpc is restarted
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
Labels: lang/core, release notes: yes

#16913 Fix a dangling pointer on ares_request object in case of cancellation
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
Labels: lang/core, release notes: yes

#16901 Incorporate Uuid into Channel and Server Socket Lookup
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  test/core/channel/channelz_test.cc
Labels: area/channelz, lang/core, release notes: no

#16965 added nosec_tests to end2end test suite
  test/core/end2end/BUILD
  test/core/end2end/generate_tests.bzl
Labels: area/test

#16966 Bump version to final 1.16.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16957 End-to-end peformance benchmark improvements
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/run_performance_tests.py
Labels: lang/c++, release notes: no

#16960 C++ benchmark: build C++ with assembly optimizations
  tools/run_tests/performance/build_performance.sh
  tools/run_tests/performance/run_qps_driver.sh
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/run_performance_tests.py
Labels: area/performance/benchmarking, lang/c++, release notes: no

#16964 Remove C# from coverage suite (to make the suite green again)
  tools/run_tests/run_tests.py
Labels: lang/C#, release notes: no

#16924 Add python example - channel options
  examples/python/helloworld/greeter_client_with_options.py
Labels: lang/Python, release notes: yes

#16869 Do not pass interested_parties during handshake
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/http/httpcli_security_connector.cc
  test/core/security/ssl_server_fuzzer.cc
Labels: release notes: no

#16873 Add interop test into bazel build
  test/cpp/interop/BUILD
Labels: release notes: no

#16969 Refactor Channelz Service to Support Internal Build
  include/grpcpp/impl/codegen/config_protobuf.h
  src/cpp/server/channelz/channelz_service.cc
Labels: area/channelz, release notes: no

#16959 Move core docs to core subdir.
  doc/core/combiner-explainer.md
  doc/core/epoll-polling-engine.md
  doc/core/images/new_epoll_impl.png
  doc/core/images/old_epoll_impl.png
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#15674 Add new go release to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#16961 Remove duplicate grpc_census.cc build
  BUILD
Labels: release notes: no

#16911 run_interop_tests: Use "GENERATED" comment in generated scripts
  tools/run_tests/run_interop_tests.py
Labels: lang/all wrapped languages, release notes: no

#16912 Fail wait_for_ready=false RPCs when channel is in TRANSIENT_FAILURE.
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/core, release notes: yes

#16983 Arena-allocate the ServerContext::CompletionOp
  src/cpp/server/server_context.cc
Labels: release notes: no

#16977 Update client_matrix.py after 1.16 release
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#16984 Generalize CatchingCallback function
  include/grpcpp/impl/codegen/callback_common.h
Labels: release notes: no

#16963 security connector refactor
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/credentials/alts/alts_credentials.cc
  src/core/lib/security/credentials/fake/fake_credentials.cc
  src/core/lib/security/credentials/local/local_credentials.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.h
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/lib/security/security_connector/alts/alts_security_connector.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.h
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/lib/security/security_connector/local/local_security_connector.h
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/tsi/transport_security.cc
  src/core/tsi/transport_security.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/alts_security_connector_test.cc
  test/core/security/security_connector_test.cc
  test/core/tsi/fake_transport_security_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#16507 Health checking client
  .clang_complete
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/grpc_types.h
  package.xml
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/health/health.pb.c
  src/core/ext/filters/client_channel/health/health.pb.h
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/codegen/core/gen_static_metadata.py
  tools/distrib/check_copyright.py
  tools/distrib/check_include_guards.py
  tools/distrib/check_nanopb_output.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/core, release notes: yes

#16975 Align configuration of kokoro and manual foundry runs
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/remote_build/README.md
  tools/remote_build/kokoro.bazelrc
  tools/remote_build/manual.bazelrc
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/c++, release notes: no

#16945 Update Python 3.7 dockerfile
  templates/tools/dockerfile/apt_get_python_27.include
  templates/tools/dockerfile/debian_testing_repo.include
  templates/tools/dockerfile/python_stretch.include
  templates/tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile.template
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: no

#16993 Revert "Refactor Channelz Service to Support Internal Build"
  include/grpcpp/impl/codegen/config_protobuf.h
  src/cpp/server/channelz/channelz_service.cc
Labels: release notes: no

#16996 Revert "Fail wait_for_ready=false RPCs when channel is in TRANSIENT_FAILURE."
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#16986 Foundry sanitizer cleanup
  .bazelrc
  tools/bazel.rc
  tools/internal_ci/linux/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/grpc_ubsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_ubsan_on_foundry.sh
  tools/remote_build/README.md
  tools/remote_build/manual.bazelrc
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/c++, release notes: no

#17003 Upgrade bazel toolchain repo to 0.18 release
  bazel/grpc_deps.bzl
Labels: infra/Bazel, lang/c++, release notes: no

#17005 Temporarily add ubsan supressions
  test/core/util/ubsan_suppressions.txt
Labels: infra/Bazel, lang/c++, release notes: no

#16997 Channelz: unifying OSS and internal
  include/grpcpp/impl/codegen/config_protobuf.h
  src/cpp/server/channelz/channelz_service.cc
  test/cpp/util/config_grpc_cli.h
Labels: area/channelz, release notes: no

#16979 Fix deadlock issue in HTTP2 connector
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/lib/iomgr/tcp_client_custom.cc
  test/core/iomgr/tcp_client_uv_test.cc
  test/core/iomgr/tcp_server_uv_test.cc
Labels: lang/node, release notes: yes

#16823 Account the memory usage of channel and call by resource quota
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/resource_quota.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  tools/run_tests/sanity/core_banned_functions.py
Labels: lang/core, release notes: yes

#16992 Fix warnings in doc comments
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/server_context.h
Labels: release notes: no

#17014 Fix internal build breakage
  src/core/ext/filters/client_channel/health/health_check_client.cc
Labels: release notes: no

#17009 Stop using deprecated bazel_wrapper.py
  tools/internal_ci/linux/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_dbg.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_opt.sh
  tools/internal_ci/linux/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/grpc_ubsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_bazel_on_foundry_dbg.sh
  tools/internal_ci/linux/pull_request/grpc_bazel_on_foundry_opt.sh
  tools/internal_ci/linux/pull_request/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_ubsan_on_foundry.sh
  tools/remote_build/kokoro.bazelrc
  tools/run_tests/python_utils/upload_rbe_results.py
Labels: infra/Bazel, lang/c++, release notes: no

#16990 Add GetServer to Channelz proto
  src/proto/grpc/channelz/channelz.proto
Labels: area/channelz, release notes: no

#17018 Fix an outdated comment
  include/grpcpp/impl/codegen/completion_queue.h
Labels: release notes: no

#17020 Channelz++ Part 6: Add GetServer to channelz cpp
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/channelz/channelz_service.h
  test/cpp/end2end/channelz_service_test.cc
Labels: area/channelz, release notes: no

#16962 In gRPC-C++ podspec, copy the certificate to bundle resources
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, release notes: yes

#17025 Fix resource quota related leak
  src/core/ext/transport/chttp2/server/chttp2_server.cc
Labels: release notes: no

#17015 Foundry: Align msan kokoro and manual configurations
  tools/bazel.rc
  tools/internal_ci/linux/grpc_msan_on_foundry.sh
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/c++, release notes: no

#17024 Fix iOS binary size test script error
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: release notes: no

#17019 Remove the internal caching for google_default_credentials
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.h
  test/core/security/credentials_test.cc
Labels: release notes: no

#17036 Allow interceptors to use arena allocation
  CMakeLists.txt
  Makefile
  build.yaml
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/rpc_service_method.h
  src/cpp/server/server_cc.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#17045 Listen Sockets Track their Port
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
Labels: area/channelz, release notes: no

#17034 Get ClientContext included with ChannelInterface, and slight more cle…
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/server.h
  src/cpp/server/server_cc.cc
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
Labels: lang/c++, release notes: no

#17047 Added bazel BUILD file for test/core/memory_usage
  test/core/memory_usage/BUILD
Labels: release notes: no

#17010 Revert "Revert "Fail wait_for_ready=false RPCs when channel is in TRANSIENT_FAILURE.""
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/core, release notes: yes

#17046 Fix handling of call context in health check call batch payload.
  src/core/ext/filters/client_channel/health/health_check_client.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/core, release notes: no

#17029 Various RBE bazelrc improvements
  tools/remote_build/README.md
  tools/remote_build/kokoro.bazelrc
  tools/remote_build/manual.bazelrc
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/c++, release notes: no

#17061 Move fallthrough comment so it is recognized internally
  test/core/memory_usage/BUILD
  test/core/memory_usage/server.cc
Labels: release notes: no

#17060 Use opensource version of bazel for RBE tests
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
Labels: lang/c++, release notes: no

#17068 Add separate kokoro jobs for objc tests
  tools/internal_ci/macos/grpc_basictests_objc_dbg.cfg
  tools/internal_ci/macos/grpc_basictests_objc_opt.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_objc_dbg.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_objc_opt.cfg
Labels: lang/ObjC, release notes: no

#17066 Fix internal BUILD error
  test/core/memory_usage/BUILD
Labels: release notes: no

#17062 Upgrade bazel in Dockerfile to 0.17.1
  templates/tools/dockerfile/bazel.include
  tools/dockerfile/test/bazel/Dockerfile
Labels: release notes: no

#17049 Ensure `libboringssl.a` is always built for Python
  setup.py
  src/python/grpcio/commands.py
Labels: kind/bug, lang/Python, release notes: yes
