Repository grpc/grpc, pull requests merged in 2018-09, with the labels that each got.

#16418 Status propagation changes
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  test/core/iomgr/error_test.cc
Labels: release notes: no

#16460 Light refactoring of some transport code
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
Labels: release notes: no

#16489 Fix port picker for remote bazel
  test/core/util/port_isolated_runtime_environment.cc
Labels: lang/c++, release notes: no

#16543 Add exception info to Status.Detail if metadata credentials throws.
  src/csharp/Grpc.Core/Internal/NativeMetadataCredentialsPlugin.cs
  src/csharp/Grpc.IntegrationTesting/MetadataCredentialsTest.cs
Labels: lang/C#, release notes: yes

#16536 Turn loading system root certificate as default
  src/core/lib/security/security_connector/security_connector.cc
  test/core/security/linux_system_roots_test.cc
  test/core/security/security_connector_test.cc
Labels: release notes: no

#16562 Prefer grpc status over http status
  src/core/ext/filters/http/client/http_client_filter.cc
  test/core/end2end/tests/filter_status_code.cc
Labels: release notes: no

#16556 C#: Expose TryWaitForStateChangedAsync
  src/csharp/Grpc.Core.Tests/ChannelConnectivityTest.cs
  src/csharp/Grpc.Core/Channel.cs
Labels: lang/C#, release notes: yes

#16561 [bazel] Fix python BUILD rules
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/_cython/BUILD.bazel
Labels: area/build, lang/Python, release notes: yes

#16378 Configure module level loggers with basicConfig()
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_common.py
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_string.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_plugin_wrapping.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/framework/foundation/callable_util.py
  src/python/grpcio/grpc/framework/foundation/logging_pool.py
  src/python/grpcio/grpc/framework/foundation/stream_util.py
  src/python/grpcio_testing/grpc_testing/_channel/_invocation.py
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
  src/python/grpcio_testing/grpc_testing/_time.py
  src/python/grpcio_tests/tests/interop/server.py
Labels: kind/internal cleanup, lang/Python, priority/P2, release notes: no

#16539 use grpc_slice_unref_internal inside grpc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_handshaker_service_api_util.cc
  src/core/tsi/alts/handshaker/alts_tsi_event.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_utils.cc
  src/core/tsi/alts/zero_copy_frame_protector/alts_grpc_privacy_integrity_record_protocol.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
Labels: lang/core, release notes: no

#16568 excluded asan and tsan for qps tests
  test/cpp/qps/qps_benchmark_script.bzl
  tools/internal_ci/linux/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/internal_ci/linux/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_tsan_on_foundry.sh
Labels: area/test

#16574 Second attempt: Implement Watch method in health check service.
  include/grpcpp/impl/codegen/completion_queue.h
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/health/health.pb.c
  src/cpp/server/health/health.pb.h
  src/cpp/server/server_cc.cc
  src/proto/grpc/health/v1/health.proto
  test/cpp/end2end/health_service_end2end_test.cc
  tools/distrib/check_nanopb_output.sh
Labels: lang/c++, release notes: yes

#16581 Bump dart version in interop tests
  templates/tools/dockerfile/interoptest/grpc_interop_dart/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_dart/Dockerfile
Labels: release notes: no

#16575 Fix subchannel key comparison if forcing creation
  src/core/ext/filters/client_channel/subchannel_index.cc
  src/core/ext/filters/client_channel/subchannel_index.h
Labels: release notes: no

#16517 Fix ipv6 address parsing issue
  src/core/ext/filters/client_channel/parse_address.cc
  test/core/client_channel/parse_address_test.cc
Labels: release notes: no

#16558 Stop Unconditionally Surfacing User Agent to Server
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/http/server/http_server_filter.cc
Labels: area/performance, kind/enhancement, lang/core, priority/P2, release notes: no

#16055 Channelz Part 4: Add Subchannel Support
  grpc.def
  include/grpc/grpc.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/surface/channel.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/channel/channel_stack_test.cc
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_registry_test.cc
  test/core/channel/channelz_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/util/channel_trace_proto_helper.cc
  test/cpp/util/channel_trace_proto_helper.h
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16346 Channelz Part 5: Server Support
  grpc.def
  include/grpc/grpc.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/server/channelz/channelz_service.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/channel/channelz_test.cc
  test/core/end2end/tests/channelz.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/channelz_service_test.cc
  test/cpp/util/channel_trace_proto_helper.cc
  test/cpp/util/channel_trace_proto_helper.h
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16600 Revert "Second attempt: Implement Watch method in health check service."
  include/grpcpp/impl/codegen/completion_queue.h
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/health/health.pb.c
  src/cpp/server/health/health.pb.h
  src/cpp/server/server_cc.cc
  src/proto/grpc/health/v1/health.proto
  test/cpp/end2end/health_service_end2end_test.cc
  tools/distrib/check_nanopb_output.sh
Labels: release notes: no

#16601 Add v1.15.0 release of grpc-java
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#16599 Fix ubsan error in subchannel_list code.
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: release notes: no

#16360 Channelz++ Part 3: GetServers Support
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/channelz/channelz_service.h
  test/cpp/end2end/channelz_service_test.cc
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16603 Bump version to 1.15.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16606 Add Check on Server for Channelz Accessor
  src/core/lib/surface/server.cc
Labels: area/channelz, kind/bug, release notes: no

#16420 When using c-ares, resolve ip literals and Windows localhost on our own
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/parse_address.cc
  src/core/ext/filters/client_channel/parse_address.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  test/core/iomgr/BUILD
  test/core/iomgr/resolve_address_test.cc
  test/cpp/naming/address_sorting_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, lang/core, release notes: yes

#16080 Fix Clang Tidy (again...)
  include/grpc/grpc.h
  src/core/lib/channel/channel_trace.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
Labels: release notes: no

#16492 EXPERIMENTAL: C++ generic client-side unary callback API
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/channel.h
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/completion_queue_tag.h
  include/grpcpp/support/client_callback.h
  src/core/lib/surface/completion_queue.cc
  src/cpp/client/channel_cc.cc
  src/cpp/client/generic_stub.cc
  src/cpp/common/callback_common.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_callback_end2end_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#16608 Upload test duration for foundry tests
  tools/run_tests/python_utils/upload_rbe_results.py
Labels: lang/c++, release notes: no

#16613 Update TLS root perm (monthly, if needed).
  etc/roots.pem
Labels: release notes: no

#16620 Avoid collisions with ephemeral ports on foundry
  test/core/util/port_isolated_runtime_environment.cc
Labels: release notes: no

#16299 Add flags to use client certs for cli.
  test/cpp/util/cli_credentials.cc
Labels: lang/c++, release notes: no

#16419 Set TCP_USER_TIMEOUT socket option for linux
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
Labels: lang/core, release notes: yes

#16470 Include linux/version.h in port_platform.h
  include/grpc/impl/codegen/port_platform.h
Labels: release notes: no

#16633 Work around nuget restore flake in C# distrib tests
  test/distrib/csharp/run_distrib_test.sh
Labels: lang/C#, release notes: no

#16628 Follow by the no_logging param to grpc_parse_ipv6_hostport
  src/core/ext/filters/client_channel/parse_address.cc
Labels: lang/core, release notes: no

#16639 Convert status_error to an atomic because it can be accessed from dif…
  src/core/lib/surface/call.cc
Labels: release notes: no

#16459 Fix compilation error due to missing absl qualification.
  src/cpp/ext/filters/census/server_filter.cc
Labels: area/Census, kind/bug, lang/c++, release notes: no

#16640 Fix SSL channel credential when an argument is None
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
Labels: kind/bug, lang/Python, release notes: yes

#16641 Only Print Stats if They Are Collected
  test/cpp/microbenchmarks/helpers.cc
Labels: release notes: no

#16635 run_tests_matrix: deprecate the --internal_ci argument as everything runs on kokoro now
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no

#16644 Add v1.15.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#16477 Rescue `GRPC::Core::CallError` so that worker threads are not killed
  src/ruby/lib/grpc/generic/rpc_server.rb
Labels: lang/ruby, release notes: yes

#16638 EXPERIMENTAL: Catch exceptions in user callbacks
  include/grpcpp/impl/codegen/callback_common.h
  src/cpp/common/callback_common.cc
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: lang/c++, release notes: no

#16624 EXPERIMENTAL: Add callback-based alarms
  include/grpcpp/alarm.h
  src/cpp/common/alarm.cc
  test/cpp/common/alarm_test.cc
Labels: lang/c++, release notes: no

#16651 Change force_creation from atm to bool
  src/core/ext/filters/client_channel/subchannel_index.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#16655 Callback API: Fix clang-tidy concerns
  src/cpp/common/callback_common.cc
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: release notes: no

#16642 Switch to `send` instead of `method(...).call`
  src/ruby/lib/grpc/generic/rpc_desc.rb
Labels: lang/ruby, release notes: yes

#16488 Hpack changes part 1: make grpc use the static hpack table on the encode path and optimize encoding
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_mapping.cc
  src/core/ext/transport/chttp2/transport/hpack_mapping.h
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/chttp2/transport/hpack_table.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata.h
  src/core/lib/transport/metadata_batch.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/transport/metadata_test.cc
  tools/codegen/core/gen_static_metadata.py
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#16653 Use logger to suppress output debug output during test
  src/ruby/spec/client_auth_spec.rb
  src/ruby/spec/generic/client_stub_spec.rb
  src/ruby/spec/generic/rpc_server_spec.rb
  src/ruby/spec/support/services.rb
Labels: lang/ruby, release notes: no

#16663 Remove unnecessary callout_is_default checks
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  tools/codegen/core/gen_static_metadata.py
Labels: release notes: no

#16629 Add benchmarks for on_initial_header
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: release notes: no

#16646 EXPERIMENTAL: Codegen for callback client unary calls
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpc/grpc.h
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/client_callback.h
  src/compiler/cpp_generator.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/completion_queue_factory.cc
  src/cpp/client/channel_cc.cc
  src/cpp/common/callback_common.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/inproc_callback_test.cc
  test/core/surface/completion_queue_test.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/end2end/client_callback_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++, release notes: no

#16667 Warn on non-virtual destructor if class has virtual functions
  Makefile
  build.yaml
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/microbenchmarks/helpers.h
Labels: lang/c++, release notes: no

#16659 Update function signature in grpc_security
  include/grpc/grpc_security.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
Labels: lang/core, release notes: no

#16661 Skip 2 slice_eq checks on static mdelems on hpack parse path
  src/core/ext/transport/chttp2/transport/parsing.cc
Labels: release notes: no

#16671 Update function signature in grpc_security
  src/core/lib/security/credentials/alts/grpc_alts_credentials_client_options.cc
  src/core/lib/security/credentials/alts/grpc_alts_credentials_server_options.cc
Labels: lang/core, release notes: no

#16660 Rename the BoringSSL framework to openssl_grpc to avoid conflict with OpenSSL
  gRPC-Core.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/tests/CronetUnitTests/CronetUnitTests.m
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, release notes: no

#16648 test: split fake ALTS handshaker server to lib and main
  test/core/tsi/alts/fake_handshaker/BUILD
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server.cc
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server.h
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server_main.cc
Labels: area/security, release notes: no

#16679 Delete epollsig poller and tests using it
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/ev_epollsig_linux.cc
  src/core/lib/iomgr/ev_epollsig_linux.h
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/port.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/generate_tests.bzl
  test/core/iomgr/BUILD
  test/core/iomgr/ev_epollsig_linux_test.cc
  test/core/iomgr/pollset_set_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
  tools/run_tests/run_tests.py
Labels: area/core, release notes: no

#16582 Be cautious and wait for recv initial metadata and recv message callbacks to complete if they cause errors
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/server.cc
Labels: lang/core, release notes: no

#16691 Free result of grpc_dump_slice
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: release notes: no

#16676 Backport 16659: Update function signature in grpc_security
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/alts/grpc_alts_credentials_client_options.cc
  src/core/lib/security/credentials/alts/grpc_alts_credentials_server_options.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
Labels: lang/ObjC, release notes: no

#16677 Backport 16660: Rename the BoringSSL framework to openssl_grpc to avoid conflict with OpenSSL
  gRPC-Core.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/tests/CronetUnitTests/CronetUnitTests.m
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, release notes: no

#16678 Boost the version to v1.15.1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/ObjC, release notes: no

#16693 Use unique port in php test
  src/php/tests/unit_tests/ChannelTest.php
Labels: release notes: no

#16649 Channelz Part 6: Basic Socket Support
  grpc.def
  include/grpc/grpc.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16696 Fix NSError crash
  src/objective-c/GRPCClient/private/NSError+GRPC.h
  src/objective-c/GRPCClient/private/NSError+GRPC.m
  src/objective-c/tests/Podfile
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/objective-c/tests/Tests.xcodeproj/xcshareddata/xcschemes/UnitTests.xcscheme
  src/objective-c/tests/UnitTests/Info.plist
  src/objective-c/tests/UnitTests/UnitTests.m
  src/objective-c/tests/run_tests.sh
Labels: kind/bug, lang/ObjC, priority/P1, release notes: yes

#16367 Add new C# serialization API
  src/csharp/Grpc.Core.Tests/ContextualMarshallerTest.cs
  src/csharp/Grpc.Core.Tests/MarshallerTest.cs
  src/csharp/Grpc.Core/DeserializationContext.cs
  src/csharp/Grpc.Core/Marshaller.cs
  src/csharp/Grpc.Core/SerializationContext.cs
  src/csharp/tests.json
Labels: lang/C#, release notes: yes

#16707 Empty implementation of grpc_use_signal since no longer needed
  src/core/lib/iomgr/ev_posix.cc
Labels: release notes: no

#16698 Avoid extra branches in grpc_error_get_(str|int).
  src/core/lib/iomgr/error.cc
Labels: area/performance, kind/enhancement, lang/core, release notes: no

#16700 Increase the maximum number of timer shards to 32.
  src/core/lib/iomgr/timer_generic.cc
Labels: area/performance, kind/bug, lang/core, release notes: no

#16535 Remove unused import
  examples/python/interceptors/default_value/default_value_client_interceptor.py
Labels: lang/Python, release notes: no

#16699 Avoid allocating temporary strings in Channel::CreateCall().
  src/cpp/client/channel_cc.cc
Labels: area/performance, kind/enhancement, lang/c++, release notes: no

#16713 Implement Child Socket Support
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/connector.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16702 Add google default creds go interop tests
  tools/run_tests/run_interop_tests.py
Labels: lang/go, release notes: no

#16724 Polling engine usage in client server
  doc/core/grpc-client-server-polling-engine-usage.md
  doc/images/grpc-call-channel-cq.png
  doc/images/grpc-client-lb-pss.png
  doc/images/grpc-server-cq-fds.png
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16725 Channelz++ Part 4: Socket support
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/channelz/channelz_service.h
  test/cpp/end2end/channelz_service_test.cc
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16729 Add TODO in fd_global_shutdown()
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
Labels: release notes: no

#16736 Create lock.yml
  .github/lock.yml
Labels: release notes: no

#16704 Documentation about grpc polling engines
  doc/core/grpc-polling-engines.md
  doc/images/grpc-epoll1.png
  doc/images/grpc-epollex.png
  doc/images/grpc-ps-pss-fd.png
  doc/images/grpc-pss.png
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16726 Add comments in tcp_posix.cc on what 'covering' a write means
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no
