Repository grpc/grpc, pull requests merged in 2018-08, with the labels that each got.

#16196 Cleanup: remove Jenkins references from build_packages scripts
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  templates/src/csharp/build_packages_dotnetcli.bat.template
  templates/src/csharp/build_packages_dotnetcli.sh.template
  tools/run_tests/artifacts/build_package_php.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/artifacts/build_package_ruby.sh
Labels: lang/all wrapped languages, release notes: no

#16194 C#: Add Xamarin example
  examples/csharp/HelloworldXamarin/.gitignore
  examples/csharp/HelloworldXamarin/Droid/Assets/AboutAssets.txt
  examples/csharp/HelloworldXamarin/Droid/HelloworldXamarin.Droid.csproj
  examples/csharp/HelloworldXamarin/Droid/MainActivity.cs
  examples/csharp/HelloworldXamarin/Droid/Properties/AndroidManifest.xml
  examples/csharp/HelloworldXamarin/Droid/Properties/AssemblyInfo.cs
  examples/csharp/HelloworldXamarin/Droid/Resources/AboutResources.txt
  examples/csharp/HelloworldXamarin/Droid/Resources/Resource.designer.cs
  examples/csharp/HelloworldXamarin/Droid/Resources/layout/Main.axml
  examples/csharp/HelloworldXamarin/Droid/Resources/mipmap-hdpi/Icon.png
  examples/csharp/HelloworldXamarin/Droid/Resources/mipmap-mdpi/Icon.png
  examples/csharp/HelloworldXamarin/Droid/Resources/mipmap-xhdpi/Icon.png
  examples/csharp/HelloworldXamarin/Droid/Resources/mipmap-xxhdpi/Icon.png
  examples/csharp/HelloworldXamarin/Droid/Resources/mipmap-xxxhdpi/Icon.png
  examples/csharp/HelloworldXamarin/Droid/Resources/values/Strings.xml
  examples/csharp/HelloworldXamarin/Droid/packages.config
  examples/csharp/HelloworldXamarin/HelloworldXamarin.sln
  examples/csharp/HelloworldXamarin/HelloworldXamarin/Helloworld.cs
  examples/csharp/HelloworldXamarin/HelloworldXamarin/HelloworldGrpc.cs
  examples/csharp/HelloworldXamarin/HelloworldXamarin/HelloworldXamarin.projitems
  examples/csharp/HelloworldXamarin/HelloworldXamarin/HelloworldXamarin.shproj
  examples/csharp/HelloworldXamarin/README.md
  examples/csharp/HelloworldXamarin/iOS/AppDelegate.cs
  examples/csharp/HelloworldXamarin/iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/csharp/HelloworldXamarin/iOS/Assets.xcassets/Contents.json
  examples/csharp/HelloworldXamarin/iOS/Entitlements.plist
  examples/csharp/HelloworldXamarin/iOS/HelloworldXamarin.iOS.csproj
  examples/csharp/HelloworldXamarin/iOS/Info.plist
  examples/csharp/HelloworldXamarin/iOS/LaunchScreen.storyboard
  examples/csharp/HelloworldXamarin/iOS/Main.cs
  examples/csharp/HelloworldXamarin/iOS/Main.storyboard
  examples/csharp/HelloworldXamarin/iOS/ViewController.cs
  examples/csharp/HelloworldXamarin/iOS/ViewController.designer.cs
  examples/csharp/HelloworldXamarin/iOS/packages.config
  src/csharp/README.md
  src/csharp/experimental/README.md
  tools/distrib/check_copyright.py
Labels: lang/C#, release notes: yes

#16198 upmerge from v1.14.x
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/objective-c/BoringSSL.podspec
Labels: release notes: no

#16207 Fix undefined behavior introduced in #16167.
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#16219 version bump to 1.14.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16208 Add script for creating a C# package for Unity
  src/csharp/build_packages_dotnetcli.sh
  src/csharp/build_unitypackage.bat
  src/csharp/unitypackage/README.md
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Google.Protobuf.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Google.Protobuf/lib.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Google.Protobuf/lib/net45.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Google.Protobuf/lib/net45/Google.Protobuf.dll.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Google.Protobuf/lib/net45/Google.Protobuf.xml.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/lib.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/lib/net45.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/lib/net45/Grpc.Core.dll.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/lib/net45/Grpc.Core.pdb.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/lib/net45/Grpc.Core.xml.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/arm64-v8a.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/arm64-v8a/libgrpc_csharp_ext.so.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/armeabi-v7a.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/armeabi-v7a/libgrpc_csharp_ext.so.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/x86.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/x86/libgrpc_csharp_ext.so.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/ios.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/ios/libgrpc.a.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/ios/libgrpc_csharp_ext.a.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/linux.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/linux/x64.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/linux/x64/libgrpc_csharp_ext.so.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/linux/x86.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/linux/x86/libgrpc_csharp_ext.so.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/osx.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/osx/x64.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/osx/x64/grpc_csharp_ext.bundle.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/osx/x86.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/osx/x86/grpc_csharp_ext.bundle.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/win.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/win/x64.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/win/x64/grpc_csharp_ext.dll.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/win/x86.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/win/x86/grpc_csharp_ext.dll.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/System.Interactive.Async.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/System.Interactive.Async/lib.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/System.Interactive.Async/lib/net45.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/System.Interactive.Async/lib/net45/System.Interactive.Async.dll.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/System.Interactive.Async/lib/net45/System.Interactive.Async.xml.meta
  templates/src/csharp/build_packages_dotnetcli.sh.template
  templates/src/csharp/build_unitypackage.bat.template
  tools/run_tests/artifacts/package_targets.py
Labels: lang/C#, release notes: yes

#15646 PHP: upgrade interop test google/auth version
  composer.json
  src/php/composer.json
  templates/composer.json.template
  templates/src/php/composer.json.template
Labels: lang/php, release notes: no

#16223 Add low-level Cython debug/expansion hooks
  src/python/grpcio/grpc/_cython/_cygrpc/_hooks.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/_hooks.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pxd
  src/python/grpcio/grpc/_cython/cygrpc.pyx
Labels: area/api, kind/enhancement, lang/Python

#16228 Update grpc.h comment
  include/grpc/grpc.h
Labels: release notes: no

#16161 Add API to grpc event engines to forcibly set underlying fd to be rea…
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_epollsig_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/ev_posix.h
Labels: lang/core, release notes: no

#16184 bump grpc java to 1.14.0
  tools/interop_matrix/client_matrix.py
Labels: disposition/ready to merge, release notes: no

#15993 Minimal Bazel BUILD files for grpcio Python
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/_cython/BUILD.bazel
  src/python/grpcio/grpc/beta/BUILD.bazel
  src/python/grpcio/grpc/experimental/BUILD.bazel
  src/python/grpcio/grpc/framework/BUILD.bazel
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/foundation/BUILD.bazel
Labels: infra/Bazel, lang/Python, priority/P1, release notes: no

#16222 Add grpc_unity_package to published packages
  tools/internal_ci/linux/grpc_publish_packages.sh
Labels: lang/C#, release notes: no

#16224 Improved Xamarin example doc
  examples/csharp/HelloworldXamarin/README.md
Labels: lang/C#, release notes: no

#16235 adding python version environmental markers in the new style
  setup.py
Labels: area/packaging & distribution, kind/enhancement, lang/Python, release notes: yes

#16251 Add instructions how to use Unity
  src/csharp/experimental/README.md
Labels: lang/C#, release notes: no

#16200 Log error messages returned from ALTS handshaker service
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
Labels: release notes: no

#16253 Refresh pb2 files in examples/python/multiplex
  examples/python/multiplex/helloworld_pb2.py
  examples/python/multiplex/helloworld_pb2_grpc.py
  examples/python/multiplex/route_guide_pb2.py
  examples/python/multiplex/route_guide_pb2_grpc.py
Labels: kind/internal cleanup, lang/Python, priority/P2

#16243 Revert "Immediately run write closures for failed stream"
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: priority/P1, release notes: no

#16255 Build python3.7 32-bit packages on Windows
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/run_tests/artifacts/artifact_targets.py
Labels: kind/enhancement, lang/Python, priority/P1

#16252 Add server reflection guide for Python
  doc/csharp/server_reflection.md
  doc/python/server_reflection.md
  examples/python/helloworld/greeter_server_with_reflection.py
Labels: area/documentation, kind/enhancement, lang/Python, priority/P2, release notes: yes

#16259 Add cpp test for large RPC
  test/cpp/end2end/async_end2end_test.cc
Labels: release notes: no

#16245 add 1.14.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#16214 Add more filter priority levels
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/connected_channel.h
  src/core/lib/surface/channel_init.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init_secure.cc
  src/cpp/common/channel_filter.cc
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/tests/filter_call_init_fails.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/end2end/tests/filter_latency.cc
  test/core/end2end/tests/filter_status_code.cc
  test/cpp/common/channel_filter_test.cc
  test/cpp/end2end/filter_end2end_test.cc
Labels: release notes: no

#16265 Portable zip for unity package
  src/csharp/build_unitypackage.bat
  templates/src/csharp/build_unitypackage.bat.template
Labels: lang/C#, release notes: no

#16225 Reset connection backoff
  grpc.def
  include/grpc/grpc.h
  include/grpcpp/channel.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/surface/channel.cc
  src/core/lib/transport/transport.h
  src/cpp/client/channel_cc.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: yes

#16269 Better way to disable bazel caching on master
  tools/internal_ci/linux/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_dbg.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_opt.sh
  tools/internal_ci/linux/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/grpc_ubsan_on_foundry.sh
Labels: release notes: no

#16237 Revert "Immediately run write closures for failed stream"
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#16263 Add lang check
  .github/mergeable.yml
Labels: release notes: no

#16256 Upmerge 1.14.x into master
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/run_tests/artifacts/artifact_targets.py
Labels: kind/internal cleanup, lang/all wrapped languages, release notes: no

#16276 Revert #15983 - gRPC channels blocking indefinitely and not respecting deadlines on network disconnect
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/stream_lists.cc
Labels: release notes: no

#16281 Deduplicate GUIDs for unity .meta files
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/arm64-v8a/libgrpc_csharp_ext.so.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/armeabi-v7a/libgrpc_csharp_ext.so.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/android/x86/libgrpc_csharp_ext.so.meta
Labels: lang/C#, release notes: no

#16285 Revert "adding python version environmental markers in the new style"
  setup.py
Labels: area/test, infra/BUILDPONY, kind/bug, lang/Python, priority/P1, release notes: no

#15914 Enable c-ares queries on Windows
  CMakeLists.txt
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/lib/iomgr/iocp_windows.cc
  src/core/lib/iomgr/socket_windows.cc
  src/core/lib/iomgr/socket_windows.h
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/iomgr/tcp_windows.h
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/manual_run_resolver_component_test.py
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
  tools/run_tests/generated/tests.json
Labels: lang/all wrapped languages, release notes: yes

#16287 include cmath to fix gcc8 compilation error
  src/cpp/server/load_reporter/util.cc
Labels: release notes: no

#16266 Add python server reflection link
  doc/server-reflection.md
Labels: area/documentation, lang/Python, priority/P2, release notes: no

#16288 Explictly Flush exec_ctx after resetting call_combiner_set_notify_on_…
  src/core/lib/iomgr/call_combiner.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/call.cc
Labels: release notes: no

#16083 Added system roots feature to load roots from OS trust store
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/security_connector/load_system_roots.h
  src/core/lib/security/security_connector/load_system_roots_fallback.cc
  src/core/lib/security/security_connector/load_system_roots_linux.cc
  src/core/lib/security/security_connector/load_system_roots_linux.h
  src/core/lib/security/security_connector/security_connector.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/etc/BUILD
  test/core/security/etc/README
  test/core/security/etc/bundle.pem
  test/core/security/etc/test_roots/cert1.pem
  test/core/security/etc/test_roots/cert2.pem
  test/core/security/etc/test_roots/cert3.pem
  test/core/security/linux_system_roots_test.cc
  test/core/security/security_connector_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/security, lang/core, release notes: yes

#16283 Create ssl-performance.md
  doc/ssl-performance.md
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16311 Fix mkdir race in build_packages task
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: lang/all wrapped languages, release notes: no

#16284 update roots.pem
  etc/roots.pem
Labels: area/security, release notes: no

#16303 Add v1.14.1 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#16317 Owners: replace matt-kwong
  .github/CODEOWNERS
  cmake/OWNERS
  tools/dockerfile/OWNERS
  tools/run_tests/performance/OWNERS
Labels: release notes: no

#16293 Standardize layout of Grpc.Core nuget package
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/build/MonoAndroid10/Grpc.Core.targets
  src/csharp/Grpc.Core/build/Xamarin.iOS10/Grpc.Core.targets
Labels: lang/C#, release notes: no

#16315 Refresh certs in C# distribtest dockerfiles
  tools/dockerfile/distribtest/csharp_centos7_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_jessie_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_jessie_x86/Dockerfile
  tools/dockerfile/distribtest/csharp_ubuntu1404_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_ubuntu1604_x64/Dockerfile
Labels: lang/C#, release notes: no

#16296 Check if channel is closed before starting core ops
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
Labels: kind/bug, lang/Python, priority/P1, release notes: yes

#16183 Add cloud-path interop tests using google default credentials
  test/cpp/interop/client_helper.cc
  tools/run_tests/run_interop_tests.py
Labels: release notes: no

#16271 Surface error_string to ObjC users
  src/objective-c/GRPCClient/private/GRPCWrappedCall.m
  src/objective-c/GRPCClient/private/NSError+GRPC.h
  src/objective-c/GRPCClient/private/NSError+GRPC.m
  src/objective-c/tests/GRPCClientTests.m
Labels: lang/ObjC, release notes: yes

#16308 C#: avoid shutdown crash on iOS
  src/csharp/Grpc.Core/GrpcEnvironment.cs
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
Labels: lang/C#, release notes: yes

#16322 C#: upgrade protobuf nugets to v3.6.1
  src/csharp/Grpc.Core/Version.csproj.include
  templates/src/csharp/Grpc.Core/Version.csproj.include.template
Labels: lang/C#, release notes: no

#16325 Add newline to end of load_system_roots.h
  src/core/lib/security/security_connector/load_system_roots.h
Labels: release notes: no

#16320 No need to build artifact for PHP MacOS
  tools/run_tests/artifacts/artifact_targets.py
Labels: kind/internal cleanup, lang/php, release notes: no

#16321 Merge from v1.14.x
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/stream_lists.cc
Labels: release notes: no

#16324 Fix minor typo in documentation
  include/grpcpp/impl/codegen/async_generic_service.h
Labels: area/documentation, kind/bug, lang/c++, priority/P3, release notes: no

#16261 Use environment variable to enable CFStream
  BUILD
  build.yaml
  doc/environment_variables.md
  gRPC-Core.podspec
  src/core/lib/iomgr/iomgr_posix_cfstream.cc
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/objective-c/GRPCClient/GRPCCall.m
  src/objective-c/GRPCClient/private/GRPCCompletionQueue.m
  src/objective-c/GRPCClient/private/GRPCHost.m
  src/objective-c/README-CFSTREAM.md
  src/objective-c/tests/InteropTests.m
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/ObjC, release notes: yes

#16339 Preparation for Grpc.Tools msbuild integration (#13207)
  src/csharp/Grpc.Core.Tests/Grpc.Core.Tests.csproj
  src/csharp/Grpc.Core.Tests/SanityTest.cs
  src/csharp/Grpc.Examples.Tests/Grpc.Examples.Tests.csproj
  src/csharp/Grpc.HealthCheck.Tests/Grpc.HealthCheck.Tests.csproj
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/Grpc.Reflection.Tests/Grpc.Reflection.Tests.csproj
Labels: lang/C#, release notes: no

#16035 Fix Flow Control Tracing
  src/core/ext/transport/chttp2/transport/flow_control.cc
Labels: kind/enhancement, lang/core, priority/P3, release notes: no

#16217 Second attempt: "Restrict the number of threads in C++ sync server""
  grpc.def
  include/grpc/grpc.h
  include/grpcpp/resource_quota.h
  include/grpcpp/server.h
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/resource_quota.h
  src/cpp/common/resource_quota_cc.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  src/cpp/thread_manager/thread_manager.cc
  src/cpp/thread_manager/thread_manager.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/iomgr/resource_quota_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/thread_manager/thread_manager_test.cc
Labels: kind/enhancement, lang/c++, release notes: yes

#16319 Some comments to chttp2 transport
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#15295 Make should generate pkg-config file for gpr as well
  Makefile
  templates/Makefile.template
Labels: lang/c++, release notes: yes

#16340 Add Naresh GSoC report
  summerofcode/2018/naresh.md
Labels: area/documentation, lang/Python, priority/P1, release notes: no

#16348 Correctly set performance job metadata on kokoro
  tools/run_tests/performance/bq_upload_result.py
  tools/run_tests/python_utils/upload_test_results.py
Labels: kind/internal cleanup, lang/all wrapped languages, release notes: no

#16344 Fix Clamp for Window Update
  src/core/ext/transport/chttp2/transport/flow_control.cc
Labels: kind/bug, lang/core, priority/P1, release notes: no

#16302 EXPERIMENTAL: Infrastructure for callback-based core CQ
  grpc.def
  include/grpc/grpc.h
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/sync_stream.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/completion_queue_factory.cc
  src/objective-c/GRPCClient/private/GRPCCompletionQueue.m
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/completion_queue_test.cc
  test/core/surface/public_headers_must_be_c89.c
Labels: release notes: no

#16298 Infrastructure for registering custom polling engines
  build.yaml
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/ev_posix.h
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
  tools/run_tests/generated/tests.json
Labels: area/core, lang/core, release notes: no

#16347 fix performance benchmarks on windows
  tools/run_tests/run_performance_tests.py
Labels: area/performance/benchmarking, kind/internal cleanup, lang/all wrapped languages, platform/Windows, release notes: no

#16343 Use correct target name for gflags-config.cmake
  cmake/gflags.cmake
Labels: lang/c++, release notes: yes

#16355 Change thread default to INT_MAX
  src/cpp/server/server_cc.cc
Labels: kind/bug, lang/core, priority/P1, release notes: no

#16354 Match parameter name in definition to declaration
  src/core/lib/surface/completion_queue.cc
Labels: release notes: no

#16361 Add Error Checking for Server Args in PHP
  src/php/ext/grpc/server.c
Labels: kind/bug, lang/php, priority/P2, release notes: no

#16054 Fixed ordering in adding pending picks to PF
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/core, release notes: no

#16356 C++ sync server: Return status RESOURCE_EXHAUSTED if no thread quota available
  include/grpcpp/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/server.h
  src/cpp/server/server_cc.cc
  src/cpp/thread_manager/thread_manager.cc
  src/cpp/thread_manager/thread_manager.h
  test/cpp/end2end/thread_stress_test.cc
  test/cpp/thread_manager/thread_manager_test.cc
Labels: lang/c++, release notes: yes

#16365 Cleaned up BUILD file, which fixed a dependency problem with protobuf.
  test/cpp/util/BUILD
Labels: area/build, kind/enhancement, release notes: no

#15175 Add Node perf tests for both implementations
  tools/internal_ci/linux/grpc_full_performance_master.sh
  tools/run_tests/performance/build_performance.sh
  tools/run_tests/performance/build_performance_node.sh
  tools/run_tests/performance/run_worker_node.sh
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/run_performance_tests.py
Labels: area/performance/benchmarking, lang/node, release notes: no

#16364 Improve Pypy compatibility
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
Labels: kind/bug, lang/Python, release notes: yes, toolchain/Python/PyPy

#16368 Revert "Add more filter priority levels"
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/connected_channel.h
  src/core/lib/surface/channel_init.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init_secure.cc
  src/cpp/common/channel_filter.cc
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/tests/filter_call_init_fails.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/end2end/tests/filter_latency.cc
  test/core/end2end/tests/filter_status_code.cc
  test/cpp/common/channel_filter_test.cc
  test/cpp/end2end/filter_end2end_test.cc
Labels: release notes: no

#16375 Add a nullptr check
  src/cpp/server/server_cc.cc
Labels: release notes: no

#16306 PF: Check connectivity state before watching
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: area/client channel, lang/core, release notes: yes

#16373 Move C++ mu_guard class out of C-core public headers and fix style.
  BUILD
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/support/sync.h
  package.xml
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/gprpp/mutex_lock.h
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#16374 Move a census file from src/cpp to src/core since core depends on it
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/census/grpc_context.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/sanity/check_bad_dependencies.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: release notes: no

#16307 Revert to TRANSIENT_FAILURE during backoff
  src/core/ext/filters/client_channel/subchannel.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#15926 Make gRPC buildable with AIX and Solaris (no official support)
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/port.h
Labels: lang/core, release notes: yes

#15984 Move GetSpanFromServerContext() to public header.
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/grpc_plugin.h
Labels: release notes: no

#16404 PHP: fix failed test 16392
  src/php/tests/unit_tests/PersistentChannelTests/PersistentChannelTest.php
Labels: lang/php, release notes: no

#16399 Upgrade C# examples to grpc1.14.1 and protobuf3.6.1
  examples/csharp/Helloworld/Greeter/Greeter.csproj
  examples/csharp/Helloworld/Greeter/Helloworld.cs
  examples/csharp/Helloworld/Greeter/HelloworldGrpc.cs
  examples/csharp/Helloworld/generate_protos.bat
  examples/csharp/HelloworldLegacyCsproj/Greeter/Greeter.csproj
  examples/csharp/HelloworldLegacyCsproj/Greeter/Helloworld.cs
  examples/csharp/HelloworldLegacyCsproj/Greeter/HelloworldGrpc.cs
  examples/csharp/HelloworldLegacyCsproj/Greeter/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/GreeterClient.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/GreeterServer.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/packages.config
  examples/csharp/HelloworldLegacyCsproj/generate_protos.bat
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.cs
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
  examples/csharp/RouteGuide/RouteGuide/RouteGuideGrpc.cs
  examples/csharp/RouteGuide/generate_protos.bat
Labels: lang/C#, release notes: no

#16401 Fix sort issue in package build page
  tools/package_hosting/build-201807.xsl
Labels: area/packaging & distribution, kind/internal cleanup, lang/all wrapped languages, release notes: no

#16387 size_t shouldn't have the value -1; switch to int
  src/core/lib/transport/service_config.cc
  src/core/lib/transport/service_config.h
Labels: release notes: no

#16406 Bump version to v1.14.2-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#16170 Create timer unit tests for long running services and clarify behavior for infinite deadline timers
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/timer.h
  test/core/iomgr/timer_list_test.cc
Labels: release notes: no

#16421 Ensure thread_pool is not None for grpc.Server
  src/python/grpcio_tests/tests/unit/_channel_args_test.py
Labels: area/api, area/test, kind/internal cleanup, lang/Python, release notes: no

#16398 Fix round_robin to avoid negative size_t value.
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
Labels: release notes: no

#16264 Support gRPC Python client-side fork with epoll1
  .pylintrc-tests
  src/core/lib/gprpp/fork.cc
  src/core/lib/gprpp/fork.h
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/fork_posix.cc
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/fork_windows.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/records.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pxd
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/fork/__init__.py
  src/python/grpcio_tests/tests/fork/client.py
  src/python/grpcio_tests/tests/fork/methods.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_cython/_fork_test.py
Labels: lang/Python, priority/P0/RELEASE BLOCKER, release notes: yes

#16396 Simplify call arena size growth
  src/core/lib/gpr/arena.cc
Labels: lang/core, release notes: yes

#16318 Python fork handler checks if gRPC core successfully shutdown
  grpc.def
  include/grpc/grpc.h
  src/core/lib/iomgr/fork_posix.cc
  src/core/lib/surface/init.h
  src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
Labels: lang/all wrapped languages, priority/P0/RELEASE BLOCKER, release notes: no

#16432 Define the allow pthread atfork macro for gRPC Python MacOS builds
  src/python/grpcio/commands.py
Labels: lang/Python, release notes: no

#16435 Move _server_cert_config_fetcher_wrapper to credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
Labels: kind/internal cleanup, lang/Python, release notes: no

#16437 Fix build issue
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
Labels: release notes: no

#16383 Cast an index to size_t to avoid sign-conversion warning
  doc/cpp/pending_api_cleanups.md
  include/grpcpp/impl/codegen/service_type.h
Labels: release notes: no

#16447 Fix a parameter name mismatch
  src/core/lib/gprpp/fork.cc
Labels: lang/core, release notes: no

#16358 Make symbols of BoringSSL private
  BUILD
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/security/credentials/jwt/json_token.h
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/tsi/alts/crypt/aes_gcm.cc
  src/core/tsi/grpc_shadow_boringssl.h
  src/core/tsi/ssl/session_cache/ssl_session.h
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_types.h
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/BoringSSL.podspec
  src/objective-c/README.md
  src/objective-c/examples/Sample/Podfile
  src/objective-c/examples/SwiftSample/Podfile
  src/objective-c/grpc_shadow_boringssl_symbol_list
  src/objective-c/tests/Connectivity/Podfile
  src/objective-c/tests/CronetUnitTests/CronetUnitTests.m
  src/objective-c/tests/Podfile
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  templates/gRPC-Core.podspec.template
  templates/src/core/tsi/grpc_shadow_boringssl.h.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  test/core/iomgr/ios/CFStreamTests/Podfile
  tools/buildgen/plugins/grpc_shadow_boringssl.py
  tools/distrib/check_shadow_boringssl_symbol_list.sh
  tools/distrib/generate_grpc_shadow_boringssl_symbol_list.sh
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/ObjC, priority/P0/RELEASE BLOCKER, release notes: yes

#16434 Support tracking and closing fds post-fork in ev_poll_posix
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/fork_posix.cc
  src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pyx.pxi
Labels: lang/all wrapped languages, priority/P0/RELEASE BLOCKER, release notes: yes

#16414 Add an inproc-based non-polling end2end test of core callback API
  CMakeLists.txt
  Makefile
  build.yaml
  test/core/end2end/BUILD
  test/core/end2end/inproc_callback_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#15941 Fathom tcp changes
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/buffer_list.cc
  src/core/lib/iomgr/buffer_list.h
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/endpoint_pair_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/internal_errqueue.cc
  src/core/lib/iomgr/internal_errqueue.h
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_posix.h
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/iomgr/BUILD
  test/core/iomgr/buffer_list_test.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/trickle_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#16446 Add an option to collect latency medians every epoch
  src/proto/grpc/testing/control.proto
  test/cpp/qps/client.h
  test/cpp/qps/driver.cc
  test/cpp/qps/driver.h
  test/cpp/qps/histogram.h
  test/cpp/qps/inproc_sync_unary_ping_pong_test.cc
  test/cpp/qps/qps_json_driver.cc
  test/cpp/qps/qps_openloop_test.cc
  test/cpp/qps/secure_sync_unary_ping_pong_test.cc
Labels: release notes: no

#16444 C#: allow dot in metadata keys
  src/csharp/Grpc.Core.Tests/MetadataTest.cs
  src/csharp/Grpc.Core/Metadata.cs
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: yes

#16463 Revert "Fathom tcp changes"
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/buffer_list.cc
  src/core/lib/iomgr/buffer_list.h
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/endpoint_pair_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/internal_errqueue.cc
  src/core/lib/iomgr/internal_errqueue.h
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_posix.h
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/iomgr/BUILD
  test/core/iomgr/buffer_list_test.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/trickle_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#16438 C#: fix subchannel sharing for secure channels
  src/csharp/Grpc.Core.Tests/ChannelCredentialsTest.cs
  src/csharp/Grpc.Core.Tests/FakeCredentials.cs
  src/csharp/Grpc.Core/Channel.cs
  src/csharp/Grpc.Core/ChannelCredentials.cs
Labels: lang/C#, release notes: yes

#16440 C#: Avoid deadlock while cancelling a call
  src/csharp/Grpc.Core/Internal/AsyncCall.cs
  src/csharp/Grpc.Core/Internal/AsyncCallBase.cs
  src/csharp/Grpc.Core/Internal/AsyncCallServer.cs
Labels: lang/C#, release notes: yes

#16342 Change pick_first to not unref unselected subchannels.
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: yes

#16469 Revert "Revert "Fathom tcp changes""
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/buffer_list.cc
  src/core/lib/iomgr/buffer_list.h
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/endpoint_pair_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/internal_errqueue.cc
  src/core/lib/iomgr/internal_errqueue.h
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_posix.h
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/iomgr/BUILD
  test/core/iomgr/buffer_list_test.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/trickle_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#16467 Bump version to 1.16.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#16468 Bump version to v1.15.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16456 Redefine constants from errqueue.h. Some header files lag behind the …
  src/core/lib/iomgr/internal_errqueue.h
  src/core/lib/iomgr/tcp_posix.cc
  test/core/iomgr/buffer_list_test.cc
Labels: release notes: no

#16481 flipped shell script logic to enable pollers
  test/core/end2end/end2end_test.sh
Labels: area/test

#15618 Update naming documentation.
  doc/naming.md
  src/core/ext/filters/client_channel/README.md
Labels: release notes: no

#16351 Implement Watch method in health check service.
  include/grpcpp/impl/codegen/completion_queue.h
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/health/health.pb.c
  src/cpp/server/health/health.pb.h
  src/cpp/server/server_cc.cc
  src/proto/grpc/health/v1/health.proto
  test/cpp/end2end/health_service_end2end_test.cc
  tools/distrib/check_nanopb_output.sh
Labels: release notes: yes

#16478 Run remote bazel tests with GRPC_VERBOSITY=debug
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/internal_ci/linux/grpc_msan_on_foundry.sh
  tools/internal_ci/linux/grpc_ubsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_ubsan_on_foundry.sh
Labels: release notes: no

#15813 Minor bug in timer during shutdown code
  src/core/lib/iomgr/timer_generic.cc
Labels: release notes: no

#16487 Bump version to 1.14.2
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#16486 Timer error in max_age_filter on 32-bit platforms
  src/core/ext/filters/max_age/max_age_filter.cc
Labels: release notes: no

#16512 Revert "Implement Watch method in health check service."
  include/grpcpp/impl/codegen/completion_queue.h
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/health/health.pb.c
  src/cpp/server/health/health.pb.h
  src/cpp/server/server_cc.cc
  src/proto/grpc/health/v1/health.proto
  test/cpp/end2end/health_service_end2end_test.cc
  tools/distrib/check_nanopb_output.sh
Labels: release notes: no

#16496 Enable timer test on windows
  test/core/iomgr/timer_list_test.cc
Labels: release notes: no

#16443 Improve doc comments for security constants
  include/grpc/grpc_security_constants.h
Labels: release notes: no

#16461 Refactor upload_test_results.py
  tools/interop_matrix/run_interop_matrix_tests.py
  tools/run_tests/python_utils/upload_test_results.py
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: lang/all wrapped languages, release notes: no

#16525 Upmerge v1.15.x to master
  tools/run_tests/run_interop_tests.py
Labels: release notes: no

#16518 update C# examples to netcoreapp2.1 (for v1.15.x branch)
  examples/csharp/Helloworld/Greeter/Greeter.csproj
  examples/csharp/Helloworld/GreeterClient/GreeterClient.csproj
  examples/csharp/Helloworld/GreeterServer/GreeterServer.csproj
  examples/csharp/Helloworld/README.md
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
  examples/csharp/RouteGuide/RouteGuideClient/RouteGuideClient.csproj
  examples/csharp/RouteGuide/RouteGuideServer/RouteGuideServer.csproj
Labels: release notes: no

#16522 fixed a bug in json_run_localhost scenario generation
  test/cpp/qps/json_run_localhost_scenario_gen.py
  test/cpp/qps/json_run_localhost_scenarios.bzl
Labels: area/test, release notes: no

#16209 Clang Tidy: Bugprone Undefined Memory Manipulation
  .clang-tidy
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/lib/surface/channel.cc
  src/core/tsi/alts_transport_security.cc
  test/.clang-tidy
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fixtures/proxy.cc
Labels: release notes: no

#16528 Upmerge v1.15.x to master
  examples/csharp/Helloworld/Greeter/Greeter.csproj
  examples/csharp/Helloworld/GreeterClient/GreeterClient.csproj
  examples/csharp/Helloworld/GreeterServer/GreeterServer.csproj
  examples/csharp/Helloworld/README.md
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
  examples/csharp/RouteGuide/RouteGuideClient/RouteGuideClient.csproj
  examples/csharp/RouteGuide/RouteGuideServer/RouteGuideServer.csproj
Labels: release notes: no

#16407 Lazily Fill Metadata Map
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/metadata_map.h
  include/grpcpp/impl/codegen/server_context.h
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
Labels: area/performance, kind/enhancement, lang/core, release notes: no

#16511 Update building with Visual Studio documentation
  BUILDING.md
Labels: release notes: no

#16537 s/state_op_done[OP_FAILED]/state_callback_received[OP_FAILED]
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: release notes: no
