Repository grpc/grpc, pull requests merged in 2018-02, with the labels that each got.

#14134 Refactor ruby server shutdown to fix a race in tests
  src/ruby/ext/grpc/rb_server.c
  src/ruby/lib/grpc/generic/rpc_server.rb
  src/ruby/spec/client_server_spec.rb
  src/ruby/spec/generic/active_call_spec.rb
  src/ruby/spec/generic/client_stub_spec.rb
  src/ruby/spec/server_spec.rb
Labels: lang/ruby

#14410 Add 1.9.1 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: area/interop, area/test

#14405 Add Details about API Guarantees Surrounding grpc_arg_pointer_vtable
  include/grpc/grpc.h
  include/grpc/grpc_security.h
  include/grpc/impl/codegen/grpc_types.h
Labels: area/api, area/core, area/documentation

#14417 Clarify add_done_callback works on both success and failure
  src/python/grpcio/grpc/__init__.py
Labels: area/api, area/documentation, kind/enhancement, lang/Python, priority/P2

#14422 Fix Fuzz 4374
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/clusterfuzz-testcase-minimized-api_fuzzer-4829913342279680
  tools/run_tests/generated/tests.json
Labels: kind/bug

#14406 Updating roots from Mozilla.
  etc/roots.pem
Labels: area/core, area/security

#14423 Fix Fuzz 4147
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/clusterfuzz-testcase-minimized-api_fuzzer-5632636438446080
  tools/run_tests/generated/tests.json
Labels: kind/bug

#14424 Fix Fuzz 4141
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/clusterfuzz-testcase-minimized-api_fuzzer-6192640044302336
  tools/run_tests/generated/tests.json
Labels: kind/bug

#14429 Channel Arg Utility: grpc_channel_arg_get_string
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/security/credentials/fake/fake_credentials.cc
  test/core/end2end/fixtures/h2_http_proxy.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
Labels: kind/enhancement

#14289 Update GRPC_SSL_CIPHER_SUITES documentation
  doc/environment_variables.md
Labels: area/documentation

#13963 [Bazel] Do not use -pthread on Windows
  BUILD
  bazel/grpc_build_system.bzl
Labels: infra/Bazel, platform/Windows

#14353 Fine tune cmake find_package usage
  cmake/benchmark.cmake
  cmake/cares.cmake
  cmake/gflags.cmake
  cmake/ssl.cmake
  cmake/zlib.cmake
Labels: area/build, priority/P0/RELEASE BLOCKER

#13870 C++ LB policy API
  BUILD
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy_factory.cc
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/ext/filters/client_channel/lb_policy_registry.h
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++

#14434 Fix compiler warning
  src/objective-c/GRPCClient/private/GRPCChannel.m
Labels: lang/ObjC

#14468 Fix grpc++->grpcpp leftover files
  src/cpp/common/alarm.cc
  src/cpp/common/version_cc.cc
  templates/src/cpp/common/version_cc.cc.template
Labels: lang/c++, priority/P0/RELEASE BLOCKER

#12613 C# Interceptor Support
  src/csharp/Grpc.Core.Tests/Interceptors/ClientInterceptorTest.cs
  src/csharp/Grpc.Core.Tests/Interceptors/ServerInterceptorTest.cs
  src/csharp/Grpc.Core.Tests/MockServiceHelper.cs
  src/csharp/Grpc.Core/ClientBase.cs
  src/csharp/Grpc.Core/Interceptors/CallInvokerExtensions.cs
  src/csharp/Grpc.Core/Interceptors/ChannelExtensions.cs
  src/csharp/Grpc.Core/Interceptors/ClientInterceptorContext.cs
  src/csharp/Grpc.Core/Interceptors/InterceptingCallInvoker.cs
  src/csharp/Grpc.Core/Interceptors/Interceptor.cs
  src/csharp/Grpc.Core/Interceptors/ServerServiceDefinitionExtensions.cs
  src/csharp/Grpc.Core/Internal/InterceptingCallInvoker.cs
  src/csharp/Grpc.Core/Internal/ServerCallHandler.cs
  src/csharp/Grpc.Core/ServerServiceDefinition.cs
  src/csharp/tests.json
Labels: cla: yes, kind/enhancement, lang/C#, priority/P1

#14495 Bump master to v1.11.x #gorgeous
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: area/packaging & distribution, priority/P1

#14504 Fix dockerized Linux artifact builds on master (upmerge from 1.10.x)
  tools/run_tests/dockerize/docker_run.sh
  tools/run_tests/dockerize/docker_run_tests.sh
Labels: area/build, infra/Jenkins, infra/Kokoro, priority/P1

#14318 Add mobile log interface to ObjC
  include/grpc/impl/codegen/grpc_types.h
  src/objective-c/GRPCClient/GRPCCall+MobileLog.h
  src/objective-c/GRPCClient/GRPCCall+MobileLog.m
  src/objective-c/GRPCClient/private/GRPCChannel.m
  src/objective-c/GRPCClient/private/GRPCHost.m
Labels: lang/ObjC

#14525 Upmerge 1.10.x into master
  src/core/ext/filters/max_age/max_age_filter.cc
Labels: area/core, kind/bug

#14533 Delete garbage from Python source packages
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: priority/P0/RELEASE BLOCKER

#14524 Use only fully-qualified type names in C# codegen
  src/compiler/csharp_generator.cc
  src/csharp/Grpc.Examples/MathGrpc.cs
  src/csharp/Grpc.HealthCheck/HealthGrpc.cs
  src/csharp/Grpc.IntegrationTesting/Control.cs
  src/csharp/Grpc.IntegrationTesting/MetricsGrpc.cs
  src/csharp/Grpc.IntegrationTesting/ServicesGrpc.cs
  src/csharp/Grpc.IntegrationTesting/TestGrpc.cs
  src/csharp/Grpc.Reflection/ReflectionGrpc.cs
Labels: lang/C#

#14539 Upgrade dotnet SDK version used for src/csharp
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/global.json
Labels: lang/C#

#14538 Fix build in newer dotnet SDK versions
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
Labels: lang/C#

#14529 Refactor connectivity monitor on iOS
  src/objective-c/GRPCClient/GRPCCall.m
  src/objective-c/GRPCClient/private/GRPCConnectivityMonitor.h
  src/objective-c/GRPCClient/private/GRPCConnectivityMonitor.m
  src/objective-c/GRPCClient/private/GRPCHost.m
Labels: lang/ObjC
