Repository grpc/grpc, pull requests merged in 2018-04, with the labels that each got.

#14864 Add distribtest for grpc being added with cmake's add_subdirectory()
  examples/cpp/helloworld/CMakeLists.txt
  test/distrib/cpp/run_distrib_test_cmake_as_submodule.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: priority/P0/RELEASE BLOCKER

#14904 PHP: don't destruct persistent channel at the end of request under php-fpm mode
  src/php/ext/grpc/channel.c
Labels: lang/php

#14877 Fix missing mutex destruction in C++
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/iomgr/timer_generic.cc
Labels: lang/c++

#14946 Backport #14922 to 1.11.x
  src/ruby/lib/grpc/generic/bidi_call.rb
  src/ruby/spec/generic/client_stub_spec.rb
Labels: lang/ruby, priority/P0/RELEASE BLOCKER

#14953 Fix logical race in ruby interrupt handler
  src/ruby/end2end/multiple_killed_watching_threads_driver.rb
  src/ruby/ext/grpc/extconf.rb
  src/ruby/ext/grpc/rb_channel.c
Labels: lang/ruby

#14956 Unpin pip version installed in build_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: infra/Kokoro, lang/Python

#14964 Add interop_to_prod tests on macos
  tools/internal_ci/macos/grpc_interop_toprod.cfg
  tools/internal_ci/macos/grpc_interop_toprod.sh
Labels: area/interop

#14989 Add address_sorting to PYTHON-MANIFEST
  PYTHON-MANIFEST.in
Labels: area/build, area/packaging & distribution, lang/Python, priority/P0/RELEASE BLOCKER

#14988 Fix Ruby grpc-tools package build on v1.10.x
  tools/internal_ci/linux/grpc_build_packages.sh
  tools/run_tests/artifacts/build_package_ruby.sh
Labels: area/packaging & distribution, infra/Kokoro, lang/ruby, priority/P0/RELEASE BLOCKER

#14987 Update pip pin from 9.0.1 to 9.0.2
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/cxx_alpine_x64/Dockerfile.template
  tools/distrib/pylint_code.sh
  tools/distrib/yapf_code.sh
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java_oracle8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/csharp_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_alpine_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1710_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/multilang_jessie_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/python_alpine_x64/Dockerfile
  tools/dockerfile/test/python_jessie_x64/Dockerfile
  tools/dockerfile/test/python_pyenv_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/gce/linux_kokoro_performance_worker_init.sh
  tools/gce/linux_performance_worker_init.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: area/build, lang/Python

#14986 Fix Spammy Log on Empty GRPC_TRACE Var
  src/core/lib/debug/trace.cc
Labels: area/core

#14992 Backport #14956 and #14987
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/cxx_alpine_x64/Dockerfile.template
  tools/distrib/pylint_code.sh
  tools/distrib/yapf_code.sh
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java_oracle8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/csharp_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_alpine_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1710_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/multilang_jessie_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/python_alpine_x64/Dockerfile
  tools/dockerfile/test/python_jessie_x64/Dockerfile
  tools/dockerfile/test/python_pyenv_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/gce/linux_kokoro_performance_worker_init.sh
  tools/gce/linux_performance_worker_init.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: priority/P0/RELEASE BLOCKER

#14985 Improvements for "toprod" interop tests on macos.
  tools/internal_ci/macos/grpc_interop_toprod.cfg
  tools/internal_ci/macos/grpc_interop_toprod.sh
  tools/run_tests/run_interop_tests.py
Labels: area/interop, platform/macOS

#14942 Fix gRPC ObjC return status
  src/objective-c/GRPCClient/GRPCCall.m
  src/objective-c/tests/GRPCClientTests.m
Labels: lang/ObjC

#14997 Bump v1.11.x to v1.11.0-pre2
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: area/build, area/packaging & distribution, priority/P0/RELEASE BLOCKER

#15021 Fix a broken gcov test
  src/ruby/spec/pb/package_with_underscore/checker_spec.rb
Labels: lang/ruby

#15028 Split binary and source distribtests for Python
  test/distrib/python/run_binary_distrib_test.sh
  test/distrib/python/run_distrib_test.sh
  test/distrib/python/run_source_distrib_test.sh
  test/distrib/python/test_packages.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/packaging & distribution, area/test, infra/Kokoro, lang/Python

#15034 Remove superfluous dependency on the protobuf package
  setup.py
Labels: area/packaging & distribution, lang/Python

#14945 Avoid low severity log message construction
  grpc.def
  include/grpc/support/log.h
  src/core/lib/gpr/log.cc
  src/core/lib/gpr/log_android.cc
  src/core/lib/gpr/log_linux.cc
  src/core/lib/gpr/log_posix.cc
  src/core/lib/gpr/log_windows.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
Labels: area/core, area/performance

#14991 PHP: use persistent list not shared by other modules
  src/php/ext/grpc/channel.c
  src/php/ext/grpc/channel.h
  src/php/ext/grpc/php7_wrapper.h
  src/php/ext/grpc/php_grpc.c
  src/php/tests/unit_tests/CallCredentials2Test.php
  src/php/tests/unit_tests/CallCredentialsTest.php
  src/php/tests/unit_tests/CallTest.php
  src/php/tests/unit_tests/ChannelTest.php
  src/php/tests/unit_tests/EndToEndTest.php
  src/php/tests/unit_tests/PersistentChannelTest.php
  src/php/tests/unit_tests/SecureEndToEndTest.php
  src/php/tests/unit_tests/ServerTest.php
  src/php/tests/unit_tests/TimevalTest.php
Labels: lang/php

#15035 Bump v1.11.x to 1.11.0 #gorgeous
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: disposition/DO NOT MERGE

#15073 Fix cares resolution with default authority (for v1.11.x)
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
Labels: area/core

#15088 Fix a use of nonexistent .received_cancelled
  src/python/grpcio_tests/tests/unit/_cython/_cancel_many_calls_test.py
Labels: area/test, kind/bug, lang/Python, priority/P2

#15080 Upgrade pip for virtualenv Python in build_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: infra/Kokoro, lang/Python, platform/macOS

#12280 Convert SwiftSample to Swift 3 style
  src/objective-c/examples/SwiftSample/SwiftSample.xcodeproj/project.pbxproj
  src/objective-c/examples/SwiftSample/ViewController.swift
Labels: cla: yes, lang/ObjC

#15115 Add 1.11.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: area/interop, area/test

#15101 Avoid warnings from LLVM -Wself-assign.
  test/core/gprpp/ref_counted_ptr_test.cc
Labels: lang/c++

#15090 Add tracer for handshakers.
  doc/environment_variables.md
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/security/transport/security_handshaker.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
Labels: disposition/Needs Internal Changes

#15097 Update xcode version for macOS Obj-C tests to 9.2
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ObjC, platform/macOS

#15123 Fix bug in address sorting shutdown
  test/cpp/naming/address_sorting_test.cc
  third_party/address_sorting/address_sorting.c
Labels: area/core

#15086 Fix _channel ref count issue
  src/objective-c/GRPCClient/private/GRPCHost.m
Labels: lang/ObjC

#15127 Add ALTS to interop tests
  test/cpp/interop/client.cc
  test/cpp/interop/client_helper.cc
  test/cpp/interop/http2_client.cc
  test/cpp/interop/interop_server.cc
  test/cpp/interop/reconnect_interop_client.cc
  test/cpp/interop/server_helper.cc
  test/cpp/interop/stress_test.cc
  test/cpp/util/create_test_channel.cc
  test/cpp/util/create_test_channel.h
  test/cpp/util/test_credentials_provider.cc
  test/cpp/util/test_credentials_provider.h
Labels: kokoro:force-run

#15159 Split off pre_1.11 Python interop script
  tools/interop_matrix/testcases/python__pre_1.11
  tools/interop_matrix/testcases/python__v1.0.x
  tools/interop_matrix/testcases/python__v1.1.4
  tools/interop_matrix/testcases/python__v1.10.0
  tools/interop_matrix/testcases/python__v1.2.5
  tools/interop_matrix/testcases/python__v1.3.9
  tools/interop_matrix/testcases/python__v1.4.2
  tools/interop_matrix/testcases/python__v1.6.6
  tools/interop_matrix/testcases/python__v1.7.2
  tools/interop_matrix/testcases/python__v1.8.1
  tools/interop_matrix/testcases/python__v1.9.1
Labels: area/interop, lang/Python

#15162 Upmerge Split off pre_1.11 Python interop script
  tools/interop_matrix/testcases/python__pre_1.11
  tools/interop_matrix/testcases/python__v1.0.x
  tools/interop_matrix/testcases/python__v1.1.4
  tools/interop_matrix/testcases/python__v1.10.0
  tools/interop_matrix/testcases/python__v1.2.5
  tools/interop_matrix/testcases/python__v1.3.9
  tools/interop_matrix/testcases/python__v1.4.2
  tools/interop_matrix/testcases/python__v1.6.6
  tools/interop_matrix/testcases/python__v1.7.2
  tools/interop_matrix/testcases/python__v1.8.1
  tools/interop_matrix/testcases/python__v1.9.1
Labels: area/interop, lang/Python

#15157 Update License under third_party/address_sorting
  third_party/address_sorting/LICENSE
Labels: kind/internal cleanup

#15110 BoringSSL podspec update
  src/objective-c/BoringSSL.podspec
Labels: lang/ObjC, priority/P0/RELEASE BLOCKER

#15047 Do not reach into BoringSSL internals.
  test/core/tsi/ssl_session_cache_test.cc
Labels: area/security, area/test, lang/c++

#15059 Remove VIP in cloud-to-prod interop tests.
  tools/internal_ci/linux/grpc_interop_toprod.cfg
  tools/internal_ci/linux/pull_request/grpc_interop_toprod.cfg
  tools/run_tests/run_interop_tests.py
Labels: area/interop

#15171 PHP: remove channel list tests and related observation and clean method
  src/php/ext/grpc/channel.c
  src/php/ext/grpc/channel.h
  src/php/tests/unit_tests/CallCredentials2Test.php
  src/php/tests/unit_tests/CallCredentialsTest.php
  src/php/tests/unit_tests/CallTest.php
  src/php/tests/unit_tests/ChannelTest.php
  src/php/tests/unit_tests/EndToEndTest.php
  src/php/tests/unit_tests/PersistentChannelTest.php
  src/php/tests/unit_tests/SecureEndToEndTest.php
  src/php/tests/unit_tests/ServerTest.php
  src/php/tests/unit_tests/TimevalTest.php
Labels: lang/php, priority/P0/RELEASE BLOCKER

#15188 Support Microbenchmarks Internally
  CMakeLists.txt
  Makefile
  build.yaml
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_arena.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/bm_closure.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
  test/cpp/microbenchmarks/bm_error.cc
  test/cpp/microbenchmarks/bm_fullstack_streaming_ping_pong.cc
  test/cpp/microbenchmarks/bm_fullstack_streaming_pump.cc
  test/cpp/microbenchmarks/bm_fullstack_trickle.cc
  test/cpp/microbenchmarks/bm_fullstack_unary_ping_pong.cc
  test/cpp/microbenchmarks/bm_metadata.cc
  test/cpp/microbenchmarks/bm_pollset.cc
  tools/run_tests/generated/sources_and_headers.json
Labels: area/performance/benchmarking, lang/c++

#15178 Better C# build instructions.
  src/csharp/README.md
Labels: lang/C#

#15202 Python source distribtests
  test/distrib/python/test_packages.sh
  tools/distrib/yapf_code.sh
  tools/dockerfile/distribtest/python_dev_arch_x64/Dockerfile
  tools/dockerfile/distribtest/python_dev_centos7_x64/Dockerfile
  tools/dockerfile/distribtest/python_dev_fedora22_x64/Dockerfile
  tools/dockerfile/distribtest/python_dev_fedora23_x64/Dockerfile
  tools/dockerfile/distribtest/python_dev_jessie_x64/Dockerfile
  tools/dockerfile/distribtest/python_dev_jessie_x86/Dockerfile
  tools/dockerfile/distribtest/python_dev_ubuntu1404_x64/Dockerfile
  tools/dockerfile/distribtest/python_dev_ubuntu1604_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/packaging & distribution, area/test, lang/Python

#14905 Enable SIO_LOOPBACK_FAST_PATH on Windows
  src/core/lib/iomgr/tcp_windows.cc
Labels: area/core, area/performance, platform/Windows

#15216 Fix bad variable name in route_guide_server.js
  examples/node/dynamic_codegen/route_guide/route_guide_server.js
Labels: lang/node

#15156 Check retry timer before starting resolving
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
Labels: priority/P0/RELEASE BLOCKER
