Repository grpc/grpc, pull requests merged in 2018-03, with the labels that each got.

#14551 Remove build status indicator from README
  README.md
Labels: area/documentation, kind/internal cleanup, priority/P2

#14545 Bump version to 1.10.x #glamorous
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: area/build, area/packaging & distribution

#14458 Fix typo in constant name.
  src/core/lib/gprpp/memory.h
Labels: area/core

#14597 Use static_cast rather than reinterpret_cast whenever possible
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/lib/gprpp/manual_constructor.h
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/surface/lame_client.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/common/channel_filter.h
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/secure_server_credentials.cc
  src/cpp/thread_manager/thread_manager.cc
  src/cpp/util/slice_cc.cc
  src/php/ext/grpc/call_credentials.h
  src/php/ext/grpc/channel.h
  src/php/ext/grpc/channel_credentials.h
  src/php/ext/grpc/server.h
  src/php/ext/grpc/server_credentials.h
  src/php/ext/grpc/timeval.h
  test/core/end2end/cq_verifier_uv.cc
  test/core/surface/completion_queue_threading_test.cc
  test/core/util/mock_endpoint.cc
  test/cpp/qps/client_async.cc
  test/cpp/qps/server_async.cc
  test/cpp/util/slice_test.cc
Labels: kind/internal cleanup

#14609 Clean up grpc_py_binary build rule
  bazel/grpc_build_system.bzl
  test/cpp/naming/BUILD
Labels: kind/internal cleanup

#14585 Remove hostname extraction for ConnectivityMonitor
  src/objective-c/GRPCClient/GRPCCall.m
Labels: lang/ObjC

#14531 Rewrite connectivity testing app
  src/objective-c/tests/Connectivity/Base.lproj/Main.storyboard
  src/objective-c/tests/Connectivity/ConnectivityTestingApp.xcodeproj/project.pbxproj
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/Base.lproj/LaunchScreen.storyboard
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/Base.lproj/Main.storyboard
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/Info.plist
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/ViewController.m
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/main.m
  src/objective-c/tests/Connectivity/README.md
  src/objective-c/tests/Connectivity/ViewController.m
Labels: lang/ObjC

#14662 Fix a broken bazel test
  test/cpp/codegen/BUILD
  test/cpp/codegen/run_golden_file_test.sh
Labels: infra/bazel test failures

#14607 Convert byte_stream API to C++.
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/ext/transport/chttp2/transport/frame_data.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/surface/call.cc
  src/core/lib/transport/byte_stream.cc
  src/core/lib/transport/byte_stream.h
  src/core/lib/transport/transport.cc
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_op_string.cc
  src/cpp/common/channel_filter.h
  test/core/transport/BUILD
  test/core/transport/byte_stream_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: disposition/Needs Internal Changes

#14687 Verify early OK behavior
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_compression_test.py
  src/python/grpcio_tests/tests/unit/_early_ok_test.py
  src/python/grpcio_tests/tests/unit/_metadata_code_details_test.py
  src/python/grpcio_tests/tests/unit/_metadata_test.py
  src/python/grpcio_tests/tests/unit/_resource_exhausted_test.py
  summerofcode/ideas.md
Labels: lang/Python

#14702 Remove _face_interface_test
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/beta/_face_interface_test.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/__init__.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/_3069_test_constant.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/__init__.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/_blocking_invocation_inline_service.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/_digest.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/_future_invocation_asynchronous_event_service.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/_invocation.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/_service.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/_stock_service.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/test_cases.py
  src/python/grpcio_tests/tests/unit/framework/interfaces/face/test_interfaces.py
Labels: area/test, kind/internal cleanup, lang/Python, platform/Windows, toolchain/Python/Python 3

#14690 Fix resolver test script's arg parsing for bazel runs
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/cpp/naming/resolver_component_tests_runner.sh
Labels: infra/bazel test failures

#14689 Adjust package builds so they can be built on kokoro as well.
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  templates/src/csharp/build_packages_dotnetcli.bat.template
  templates/src/csharp/build_packages_dotnetcli.sh.template
  tools/run_tests/artifacts/build_package_php.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/artifacts/build_package_ruby.sh
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: area/packaging & distribution

#14706 Upload all distribtest dockerimages to dockerhub
  tools/dockerfile/distribtest/csharp_ubuntu1504_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_ubuntu1510_x64/Dockerfile
  tools/dockerfile/distribtest/node_ubuntu1504_x64/Dockerfile
  tools/dockerfile/distribtest/node_ubuntu1510_x64/Dockerfile
  tools/dockerfile/distribtest/python_arch_x64/Dockerfile
  tools/dockerfile/distribtest/python_ubuntu1204_x64/Dockerfile
  tools/dockerfile/distribtest/python_ubuntu1504_x64/Dockerfile
  tools/dockerfile/distribtest/python_ubuntu1510_x64/Dockerfile
  tools/dockerfile/distribtest/python_wheezy_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_ubuntu1504_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_ubuntu1510_x64/Dockerfile
  tools/dockerfile/push_testing_images.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/packaging & distribution

#14708 Try fixing PHP distribtest on mac kokoro.
  test/distrib/php/run_distrib_test.sh
Labels: area/packaging & distribution, lang/php

#14657 Create README for gRPC Python reflection package
  src/python/grpcio_reflection/README.rst
Labels: area/documentation, area/packaging & distribution, kind/enhancement, lang/Python

#14716 fix nanopb bazel issues
  bazel/grpc_build_system.bzl
Labels: infra/Bazel

#13883 Channel Tracing Implementation; Part 1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc.h
  include/grpc/impl/codegen/grpc_types.h
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/method_params.cc
  src/core/ext/filters/client_channel/method_params.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channel_trace_registry.cc
  src/core/lib/channel/channel_trace_registry.h
  src/core/lib/channel/status_util.cc
  src/core/lib/channel/status_util.h
  src/core/lib/json/json.cc
  src/core/lib/json/json.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/init.cc
  src/proto/grpc/channelz/BUILD
  src/proto/grpc/channelz/channelz.proto
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/channel/BUILD
  test/core/channel/channel_trace_test.cc
  test/core/channel/status_util_test.cc
  test/core/client_channel/BUILD
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/util/BUILD
  test/cpp/util/channel_trace_proto_helper.cc
  test/cpp/util/channel_trace_proto_helper.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, kind/enhancement

#14626 Remove unused idle_jobs
  src/core/lib/iomgr/ev_poll_posix.cc
Labels: area/core

#14674 Add Xcode link map analyzer script to ObjC repo
  src/objective-c/tests/analyze_link_map.py
Labels: lang/ObjC

#14548 Add a flag to the c-ares resolver tests that permits extra addresses to be received
  test/cpp/naming/resolver_component_test.cc
Labels: area/test

#14483 [grpc] Add SSL session client cache support
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpc/grpc_security_constants.h
  include/grpc/impl/codegen/grpc_types.h
  package.xml
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/tsi/ssl/session_cache/ssl_session.h
  src/core/tsi/ssl/session_cache/ssl_session_boringssl.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/core/tsi/ssl/session_cache/ssl_session_openssl.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/python/grpcio/grpc_core_dependencies.py
  src/python/grpcio_tests/tests/unit/_auth_context_test.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/BUILD
  test/core/end2end/h2_ssl_session_reuse_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/BUILD
  test/core/tsi/ssl_session_cache_test.cc
  test/core/tsi/ssl_transport_security_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, area/security

#14321 Revert "Disabled the json_run_localhost:*_low_thread_count family of tests"
  test/cpp/qps/gen_build_yaml.py
  tools/run_tests/generated/tests.json
Labels: disposition/DO NOT MERGE

#14776 Fix C# connectivity watcher shutdown race
  src/csharp/Grpc.Core/Channel.cs
Labels: lang/C#

#14705 Ruby format strings
  src/ruby/ext/grpc/extconf.rb
  src/ruby/ext/grpc/rb_compression_options.c
Labels: lang/ruby

#14722 load ssl default root certificates only once
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init.h
  src/core/lib/surface/init_secure.cc
  src/core/lib/surface/init_unsecure.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/security/security_connector_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security

#14768 Add missing FLAGS for pecl
  config.m4
  templates/config.m4.template
Labels: lang/php

#14652 Make logging after success in jobset more apparent
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/tools, kind/enhancement

#13290 Add address sorting submodule for use in c-ares wrapper
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build.yaml
  cmake/address_sorting.cmake
  config.m4
  config.w32
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/python/grpcio/grpc_core_dependencies.py
  templates/CMakeLists.txt.template
  templates/Makefile.template
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/generate_resolver_component_tests.bzl
  third_party/address_sorting/BUILD
  third_party/address_sorting/LICENSE
  third_party/address_sorting/address_sorting.bzl
  third_party/address_sorting/address_sorting.c
  third_party/address_sorting/address_sorting_internal.h
  third_party/address_sorting/address_sorting_posix.c
  third_party/address_sorting/address_sorting_windows.c
  third_party/address_sorting/include/address_sorting/address_sorting.h
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, cla: yes

#14634 Remove source code and native-to-build-host grpc_c.so from ruby linux binary packages
  Rakefile
  test/distrib/ruby/run_distrib_test.sh
  tools/dockerfile/distribtest/ruby_fedora20_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_fedora21_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_fedora22_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_fedora23_x64/Dockerfile
Labels: area/packaging & distribution, lang/ruby

#14683 Minor changes to control files from Tools package rework
  src/csharp/.editorconfig
  src/csharp/.gitignore
Labels: lang/C#

#14781 Allow gRPC ObjC user to set keepalive options
  src/objective-c/GRPCClient/GRPCCall+ChannelArg.h
  src/objective-c/GRPCClient/GRPCCall+ChannelArg.m
  src/objective-c/GRPCClient/private/GRPCHost.h
  src/objective-c/GRPCClient/private/GRPCHost.m
  src/objective-c/tests/InteropTests.m
Labels: lang/ObjC

#14809 Use GRPC_RB_MEMSIZE_UNAVAILABLE in grpc_rb_md_ary_data_type
  src/ruby/end2end/client_memory_usage_client.rb
  src/ruby/end2end/client_memory_usage_driver.rb
  src/ruby/ext/grpc/rb_call.c
  tools/run_tests/helper_scripts/run_ruby_end2end_tests.sh
Labels: lang/ruby

#13520 Correct the link to the Streams Spec Repo
  doc/PROTOCOL-WEB.md
Labels: area/documentation, area/protocol

#14868 Fix authority fuzzing failures
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/lib/surface/channel.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/clusterfuzz-testcase-api_fuzzer-5406804084260864
  test/core/end2end/fuzzers/api_fuzzer_corpus/clusterfuzz-testcase-api_fuzzer-5471994809155584
  test/core/end2end/fuzzers/api_fuzzer_corpus/clusterfuzz-testcase-api_fuzzer-6609852341157888
  tools/run_tests/generated/tests.json
Labels: priority/P0/RELEASE BLOCKER

#13634 Updates the ruby generator RubyTypeOf to correctly account for underscores in packages
  src/compiler/ruby_generator.cc
  src/compiler/ruby_generator_string-inl.h
  src/ruby/spec/pb/package_with_underscore/checker_spec.rb
  src/ruby/spec/pb/package_with_underscore/data.proto
  src/ruby/spec/pb/package_with_underscore/service.proto
  tools/run_tests/helper_scripts/run_ruby.sh
Labels: lang/ruby

#14874 Release self retain only after all clean-up done
  src/objective-c/GRPCClient/GRPCCall.m
Labels: lang/ObjC
