Repository grpc/grpc, pull requests merged in 2018-07, with the labels that each got.

#15771 Support Per-Method Codegen Generic on Server Side
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  include/grpc/impl/codegen/log.h
  include/grpc/module.modulemap
  include/grpc/support/log.h
  include/grpcpp/generic/async_generic_service.h
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/rpc_service_method.h
  include/grpcpp/impl/codegen/service_type.h
  package.xml
  src/compiler/cpp_generator.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/codegen/compiler_test_golden
  test/cpp/end2end/BUILD
  test/cpp/end2end/hybrid_end2end_test.cc
  test/cpp/end2end/raw_end2end_test.cc
  test/cpp/util/byte_buffer_proto_helper.cc
  test/cpp/util/byte_buffer_proto_helper.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: kind/enhancement, lang/c++, priority/P2

#15919 Reorder steps in ServerBuilder::BuildAndStart()
  include/grpcpp/impl/server_builder_plugin.h
  src/cpp/server/server_builder.cc
Labels: lang/c++, release notes: yes

#15845 Add gevent_util.h to grpc_base_c Bazel target
  BUILD
Labels: area/build, infra/Bazel, priority/P1

#15906 Fix Channelz Linkage Error
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/gprpp/memory.h
  src/core/lib/gprpp/ref_counted_ptr.h
  src/core/lib/surface/channel.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: area/channelz, area/core, kind/bug, priority/P2

#15953 Pin cython to 0.28.3 temporarily
  requirements.txt
Labels: infra/BUILDPONY, lang/Python, platform/Windows, priority/P1

#15954 Revert to the official manylinux1 image
  tools/dockerfile/grpc_artifact_python_manylinux_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux_x86/Dockerfile
Labels: area/build, area/packaging & distribution, kind/internal cleanup, lang/Python, priority/P2

#15963 Add Python 3.7 Mac and Windows artifact targets (64bit)
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/packaging & distribution, kind/enhancement, lang/Python, priority/P1

#15982 Rewrite Channelz Registry in Terms of Inlined Vector
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/surface/channel.cc
  test/core/channel/channelz_registry_test.cc
Labels: area/channelz, kind/enhancement, lang/core

#16002 Kokoro setup for building gRPC Python with Bazel
  templates/tools/dockerfile/test/bazel/Dockerfile.template
  tools/dockerfile/test/bazel/Dockerfile
  tools/internal_ci/linux/grpc_python_bazel_test.cfg
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: infra/Bazel, lang/Python, priority/P1

#16027 Reduce Spammy Logs
  src/core/lib/iomgr/ev_epollex_linux.cc
Labels: kind/enhancement, lang/core, priority/P3

#16024 Allow choosing google default credentials in the C++ interop clients
  test/cpp/util/test_credentials_provider.cc
  test/cpp/util/test_credentials_provider.h
Labels: area/test

#15894 tcp_posix.cc: adhere to IOV_MAX in tcp_flush
  src/core/lib/iomgr/tcp_posix.cc
Labels: kokoro:force-run

#16039 Add Node 1.11.3 and 1.12.4 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: area/interop

#15980 Channelz Part 3: Subchannel Refs Support for PickFirst
  include/grpc/support/string_util.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/gpr/string.cc
  src/core/lib/gpr/string.h
  src/core/lib/gprpp/abstract.h
  src/core/lib/gprpp/inlined_vector.h
  src/core/lib/json/json.cc
  src/core/lib/json/json.h
  test/core/gprpp/inlined_vector_test.cc
Labels: area/channelz, kind/enhancement, lang/core

#15692 iOS binary size diff integration with Kokoro
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/grpc_ios_binary_size.sh
  tools/internal_ci/macos/pull_request/grpc_ios_binary_size.cfg
  tools/profiling/ios_bin/binary_size.py
Labels: lang/ObjC

#16049 Cland Tidy Fixes for Channelz
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/subchannel.cc
Labels: area/channelz

#16020 Channelz Part 2: GetTopChannels
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/json/json.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/init.cc
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_registry_test.cc
  test/core/channel/channelz_test.cc
  test/core/end2end/tests/channelz.cc
  test/cpp/util/channel_trace_proto_helper.cc
  test/cpp/util/channel_trace_proto_helper.h
Labels: area/channelz, kind/enhancement, lang/core, priority/P2

#16044 Add Two New Soak Interop Tests
  doc/interop-test-descriptions.md
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
  test/cpp/interop/stress_interop_client.cc
  test/cpp/interop/stress_interop_client.h
  test/cpp/interop/stress_test.cc
Labels: kind/enhancement, lang/c++, priority/P3

#16022 Channelz; Expose New Core API
  grpc.def
  include/grpc/grpc.h
  src/core/lib/channel/channelz_registry.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/channel/channelz_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/util/channel_trace_proto_helper.cc
  test/cpp/util/channel_trace_proto_helper.h
Labels: area/channelz, kind/enhancement, lang/core, priority/P2

#16040 Initialize member in default ctor
  include/grpcpp/impl/codegen/completion_queue.h
Labels: release notes: no

#16063 Fix andriod interop client
  src/android/test/interop/app/src/main/cpp/grpc-interop.cc
Labels: kind/bug, lang/c++, priority/P2

#16053 Data race fix for lockfree_event
  src/core/lib/iomgr/lockfree_event.cc
Labels: area/core, release notes: yes

#16050 Channelz Part 3.33: Round Robin Subchannel Refs Support
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16051 Channelz Part 3.67: gRPC LB Subchannel Refs Support
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: area/channelz, kind/enhancement, lang/core, priority/P2, release notes: no

#16057 Add nightly package publishing script
  tools/internal_ci/linux/grpc_publish_packages.cfg
  tools/internal_ci/linux/grpc_publish_packages.sh
Labels: area/packaging & distribution, kind/enhancement, lang/all wrapped languages

#16075 Annotate binary size comment is related to ObjC
  tools/profiling/ios_bin/binary_size.py
Labels: lang/ObjC

#16023 Channelz++: Part 1 Bootstrap the C++ Service Layer
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  include/grpcpp/ext/channelz_service_plugin.h
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/channelz/channelz_service.h
  src/cpp/server/channelz/channelz_service_plugin.cc
  src/proto/grpc/testing/echo_messages.proto
  test/cpp/end2end/BUILD
  test/cpp/end2end/channelz_service_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/channelz, kind/enhancement, lang/c++, priority/P2, release notes: no

#16007 ssl_check_peer bypass ALPN check if NPN is used
  src/core/lib/security/security_connector/security_connector.cc
Labels: area/security

#16088 Refactor and enhance grpc_publish_packages.sh
  tools/internal_ci/linux/grpc_publish_packages.sh
Labels: area/packaging & distribution, kind/enhancement, lang/all wrapped languages

#15969 Xamarin.Android: add support
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/Internal/NativeExtension.cs
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
  src/csharp/Grpc.Core/build/MonoAndroid/Grpc.Core.targets
  src/csharp/Grpc.Core/build/net45/Grpc.Core.targets
  src/csharp/experimental/build_native_ext_for_android.sh
  tools/dockerfile/grpc_artifact_android_ndk/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_csharp_android.sh
Labels: kind/enhancement, lang/C#, priority/P2

#16094 Mark native callbacks with MonoPInvokeCallback
  src/csharp/Grpc.Core/Internal/NativeLogRedirector.cs
Labels: release notes: yes

#16099 Xamarin support improvements
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
  src/csharp/experimental/build_native_ext_for_android.sh
Labels: release notes: yes

#16100 Enhance nightly builds infrastructure
  tools/internal_ci/linux/grpc_publish_packages.sh
Labels: area/packaging & distribution, kind/enhancement, lang/all wrapped languages

#16092 Provide a global way to customize QPS server builder options
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  test/cpp/qps/BUILD
  test/cpp/qps/qps_server_builder.cc
  test/cpp/qps/qps_server_builder.h
  test/cpp/qps/qps_worker.cc
  test/cpp/qps/server_async.cc
  test/cpp/qps/server_sync.cc
  tools/run_tests/generated/sources_and_headers.json
Labels: area/test

#16110 Duplicate `grpc_build_artifacts_extra` job to split CI/ad-hoc builds
  tools/internal_ci/linux/grpc_build_artifacts_extra_release.cfg
Labels: area/packaging & distribution, kind/internal cleanup, lang/all wrapped languages, priority/P1, release notes: no

#16107 Add link to packages.grpc.io
  README.md
Labels: area/documentation, area/packaging & distribution, kind/enhancement, lang/all wrapped languages, priority/P2

#16112 Upload web-assets for packages.grpc.io
  tools/package_hosting/404.html
  tools/package_hosting/build-201807.xsl
  tools/package_hosting/dirindex.css
  tools/package_hosting/home.xsl
  tools/package_hosting/style.css
  tools/package_hosting/upload_web_assets.sh
Labels: area/packaging & distribution, kind/internal cleanup, lang/all wrapped languages, priority/P2, release notes: no

#16104 Allow error strings in final_info to propagate to filters on call des…
  src/core/lib/channel/channel_stack.h
  src/core/lib/surface/call.cc
Labels: release notes: yes

#16109 Xamarin iOS: Add libgrpc_csharp_ext.a for iOS into Grpc.Core nuget.
  Makefile
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/build/Xamarin.iOS/Grpc.Core.targets
  src/csharp/experimental/build_native_ext_for_ios.sh
  templates/Makefile.template
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_csharp_ios.sh
Labels: release notes: yes

#16122 Ruby tooling: fix makefile strip dependency
  src/ruby/ext/grpc/extconf.rb
Labels: lang/ruby

#16131 Add version number to protoc packages
  tools/internal_ci/linux/grpc_publish_packages.sh
Labels: release notes: no

#16130 Use test credentials provider for QPS benchmarking result reporter client
  test/cpp/qps/benchmark_config.cc
Labels: area/test, lang/c++

#16121 Grpc.Core: add support for x86 android emulator
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/build/MonoAndroid/Grpc.Core.targets
  tools/run_tests/artifacts/artifact_targets.py
Labels: release notes: yes

#16126 Backport #16110 into v1.14.x
  tools/internal_ci/linux/grpc_build_artifacts_extra_release.cfg
Labels: area/packaging & distribution, disposition/DO NOT MERGE, kind/internal cleanup, lang/all wrapped languages, priority/P2

#16106 Add note on retrying RPCs
  doc/statuscodes.md
Labels: release notes: no

#16138 Disable Beta API ChannelConnectivityTest
  src/python/grpcio_tests/tests/unit/beta/_utilities_test.py
Labels: area/test, kind/internal cleanup, lang/Python, priority/P2, release notes: no

#16141 Fix typo in ev_epollex_linux
  src/core/lib/iomgr/ev_epollex_linux.cc
Labels: release notes: no

#15797 Enable c-ares address sorting on windows
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/port_platform.h
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  src/core/lib/iomgr/socket_windows.cc
  src/core/lib/iomgr/socket_windows.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/BUILD
  test/core/iomgr/grpc_ipv6_loopback_available_test.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/gen_build_yaml.py
  third_party/address_sorting/address_sorting.c
  third_party/address_sorting/address_sorting_windows.c
  third_party/address_sorting/include/address_sorting/address_sorting.h
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, lang/core, platform/Windows

#16133 Switched to extra_requires for Python 2 specific requirements
  setup.py
Labels: kind/internal cleanup, lang/Python, priority/P2, release notes: yes

#16145 Revert "Switched to extra_requires for Python 2 specific requirements"
  setup.py
Labels: area/packaging & distribution, area/test, kind/bug, lang/Python, priority/P1, release notes: no

#16129 Add interop test for status description with special characters
  doc/interop-test-descriptions.md
Labels: release notes: no

#16142 Wait a configurable amount of time for benchmark channels to connect
  test/cpp/qps/client.h
  tools/run_tests/performance/README.md
Labels: area/test, lang/c++

#16153 Add SERVICE_NAME to reflection/health (1.14.x backport)
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_reflection/grpc_reflection/v1alpha/reflection.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
Labels: area/api, kind/enhancement, lang/Python, priority/P1, release notes: yes

#16152 Fix spaces in mergeable config file
  .github/mergeable.yml
Labels: release notes: no

#16144 Cleanup and update C# examples
  examples/csharp/Helloworld/Greeter.sln
  examples/csharp/Helloworld/Greeter/Greeter.csproj
  examples/csharp/Helloworld/Greeter/Helloworld.cs
  examples/csharp/Helloworld/Greeter/HelloworldGrpc.cs
  examples/csharp/Helloworld/GreeterClient/GreeterClient.csproj
  examples/csharp/Helloworld/GreeterClient/Program.cs
  examples/csharp/Helloworld/GreeterServer/GreeterServer.csproj
  examples/csharp/Helloworld/GreeterServer/Program.cs
  examples/csharp/Helloworld/README.md
  examples/csharp/Helloworld/generate_protos.bat
  examples/csharp/HelloworldLegacyCsproj/Greeter.sln
  examples/csharp/HelloworldLegacyCsproj/Greeter/.gitignore
  examples/csharp/HelloworldLegacyCsproj/Greeter/Greeter.csproj
  examples/csharp/HelloworldLegacyCsproj/Greeter/Helloworld.cs
  examples/csharp/HelloworldLegacyCsproj/Greeter/HelloworldGrpc.cs
  examples/csharp/HelloworldLegacyCsproj/Greeter/Properties/AssemblyInfo.cs
  examples/csharp/HelloworldLegacyCsproj/Greeter/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/.gitignore
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/GreeterClient.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/Program.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/Properties/AssemblyInfo.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/.gitignore
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/GreeterServer.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/Program.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/Properties/AssemblyInfo.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/packages.config
  examples/csharp/HelloworldLegacyCsproj/README.md
  examples/csharp/HelloworldLegacyCsproj/generate_protos.bat
  examples/csharp/RouteGuide/.gitignore
  examples/csharp/RouteGuide/README.md
  examples/csharp/RouteGuide/RouteGuide.sln
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.cs
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
  examples/csharp/RouteGuide/RouteGuide/RouteGuideGrpc.cs
  examples/csharp/RouteGuide/RouteGuide/RouteGuideUtil.cs
  examples/csharp/RouteGuide/RouteGuide/route_guide_db.json
  examples/csharp/RouteGuide/RouteGuideClient/Program.cs
  examples/csharp/RouteGuide/RouteGuideClient/RouteGuideClient.csproj
  examples/csharp/RouteGuide/RouteGuideServer/Program.cs
  examples/csharp/RouteGuide/RouteGuideServer/RouteGuideImpl.cs
  examples/csharp/RouteGuide/RouteGuideServer/RouteGuideServer.csproj
  examples/csharp/RouteGuide/generate_protos.bat
  examples/csharp/route_guide/RouteGuide/Properties/AssemblyInfo.cs
  examples/csharp/route_guide/RouteGuide/RouteGuide.csproj
  examples/csharp/route_guide/RouteGuide/packages.config
  examples/csharp/route_guide/RouteGuideClient/Properties/AssemblyInfo.cs
  examples/csharp/route_guide/RouteGuideClient/RouteGuideClient.csproj
  examples/csharp/route_guide/RouteGuideClient/packages.config
  examples/csharp/route_guide/RouteGuideServer/Properties/AssemblyInfo.cs
  examples/csharp/route_guide/RouteGuideServer/RouteGuideServer.csproj
  examples/csharp/route_guide/RouteGuideServer/packages.config
Labels: lang/C#, release notes: yes

#16136 Add C# server reflection tutorial
  doc/csharp/server_reflection.md
  doc/server_reflection_tutorial.md
Labels: release notes: no

#16162 Remove the notifier pollset from grpc event engine since it's not use…
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_epollsig_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.h
Labels: lang/core, release notes: no

#16159 Fix RefCountedPtr to handle polymorphism.
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/gprpp/ref_counted_ptr.h
  test/core/channel/channel_trace_test.cc
  test/core/gprpp/ref_counted_ptr_test.cc
Labels: release notes: no

#16165 Move ios-binary-size build intermediate files to /tmpfs
  src/objective-c/tests/build_one_example.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/profiling/ios_bin/binary_size.py
Labels: release notes: no

#16166 Don't abort on notify_on_error for poll. Instead simply schedule clos…
  src/core/lib/iomgr/ev_poll_posix.cc
Labels: release notes: no

#16168 Move freeing of error_string to release_call to fix ASAN bug
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no

#15992 Basic setup to build gRPC Python with Bazel
  WORKSPACE
  bazel/cython_library.bzl
  requirements.bazel.txt
  third_party/BUILD
  third_party/cython.BUILD
  third_party/py/BUILD
  third_party/py/BUILD.tpl
  third_party/py/python_configure.bzl
  third_party/py/remote.BUILD.tpl
Labels: infra/Bazel, lang/Python, priority/P1, release notes: no

#16163 Revert "Revert "Merge pull request #15797 from apolcyn/windows_compile_and_sort""
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/port_platform.h
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  src/core/lib/iomgr/socket_windows.cc
  src/core/lib/iomgr/socket_windows.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/BUILD
  test/core/iomgr/grpc_ipv6_loopback_available_test.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/gen_build_yaml.py
  third_party/address_sorting/address_sorting.c
  third_party/address_sorting/address_sorting_windows.c
  third_party/address_sorting/include/address_sorting/address_sorting.h
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, lang/core, release notes: yes

#16180 Make all ObjC tests intermediate files into /tmpfs
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ObjC, release notes: no

#16179 Immediately run write closures for failed stream
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: yes

#16188 Bump version to v1.14.0-pre2
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#16197 Add a matching _unwrap_grpc_arg
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pyx.pxi
Labels: kind/enhancement, lang/Python, release notes: no

#16167 Eliminate PingOneLocked() from LB policy API.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
Labels: release notes: no

#15239 Update Node examples to use new @grpc/proto-loader package
  examples/node/dynamic_codegen/greeter_client.js
  examples/node/dynamic_codegen/greeter_server.js
  examples/node/dynamic_codegen/route_guide/route_guide_client.js
  examples/node/dynamic_codegen/route_guide/route_guide_server.js
  examples/node/package.json
Labels: area/documentation, lang/node, release notes: no
