Repository grpc/grpc, pull requests merged in 2018-06, with the labels that each got.

#15602 pin google-api-python-client to 1.6.7 to avoid breakage
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: priority/P0

#15594 PHP: fix flaky tests
  src/php/tests/unit_tests/CallCredentials2Test.php
  src/php/tests/unit_tests/CallCredentialsTest.php
  src/php/tests/unit_tests/CallTest.php
  src/php/tests/unit_tests/EndToEndTest.php
  src/php/tests/unit_tests/InterceptorTest.php
  src/php/tests/unit_tests/SecureEndToEndTest.php
  src/php/tests/unit_tests/ServerTest.php
Labels: infra/BUILDPONY, lang/php

#15548 Python allow using system libs
  setup.py
Labels: area/build, kind/enhancement, lang/Python, priority/P2

#15592 Python: wordsmith documentation on Server.stop()
  src/python/grpcio/grpc/__init__.py
Labels: area/documentation, cla: yes, cncf-cla: yes, lang/Python, priority/P2

#15608 Install Python 3.7 in pyenv Dockerfile
  templates/tools/dockerfile/apt_get_pyenv.include
  templates/tools/dockerfile/test/python_pyenv_x64/Dockerfile.template
  tools/dockerfile/test/python_pyenv_x64/Dockerfile
Labels: area/build, area/test, kind/enhancement, lang/Python, priority/P1

#15612 Change BoringSSL home page to github for China access
  src/objective-c/BoringSSL.podspec
Labels: lang/ObjC

#15356 Grpc ruby does not need to depend on googleauth
  examples/ruby/pubsub/.gitignore
  examples/ruby/pubsub/Gemfile
  examples/ruby/pubsub/google/protobuf/empty.rb
  examples/ruby/pubsub/pubsub_demo.rb
  examples/ruby/pubsub/tech/pubsub/proto/pubsub.rb
  examples/ruby/pubsub/tech/pubsub/proto/pubsub_services.rb
  grpc.gemspec
  templates/grpc.gemspec.template
Labels: lang/ruby

#13416 Add C# interop_matrix v1.0.1 tests
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/create_matrix_images.py
  tools/interop_matrix/patches/csharp_v1.0.1/git_repo.patch
  tools/interop_matrix/run_interop_matrix_tests.py
Labels: disposition/DO NOT MERGE

#15650 Scale Back Concurrency of arena_test
  test/core/gpr/arena_test.cc
Labels: infra/BUILDPONY, infra/bazel test failures, kind/bug, lang/core, priority/P1

#13709 PHP: update readme file
  src/php/README.md
Labels: lang/php

#15667 Fix Internal Fuzzer Error
  src/core/lib/security/util/json_util.cc
Labels: kind/bug, lang/core, priority/P2

#15567 Make mobile log per-host
  include/grpc/impl/codegen/grpc_types.h
  src/objective-c/GRPCClient/GRPCCall+MobileLog.h
  src/objective-c/GRPCClient/GRPCCall+MobileLog.m
  src/objective-c/GRPCClient/private/GRPCHost.h
  src/objective-c/GRPCClient/private/GRPCHost.m
Labels: lang/ObjC

#15665 Make address sorting depend on the same base libs as grpc, for windows
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: area/build, platform/Windows

#15666 Retain references to channel arguments
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pxd.pxi
Labels: kind/bug, lang/Python, priority/P1

#15435 Fix shutdown of closed fd when c-ares opens a second fd
  CMakeLists.txt
  Makefile
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core

#14649 Address comments on #14610, fix c-ares tests on ipv6-only hosts
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/utils/dns_resolver.py
  test/cpp/naming/utils/dns_server.py
Labels: area/core, area/test

#14557 Update logging in Python to use module-level logger
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_common.py
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_string.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_plugin_wrapping.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/framework/foundation/callable_util.py
  src/python/grpcio/grpc/framework/foundation/logging_pool.py
  src/python/grpcio/grpc/framework/foundation/stream_util.py
  src/python/grpcio_testing/grpc_testing/_channel/_invocation.py
  src/python/grpcio_testing/grpc_testing/_server/_rpc.py
  src/python/grpcio_testing/grpc_testing/_time.py
  src/python/grpcio_tests/tests/interop/server.py
Labels: kind/internal cleanup, lang/Python, priority/P2

#15677 Fix CFStream default subspec
  gRPC-ProtoRPC.podspec
  templates/gRPC-ProtoRPC.podspec.template
Labels: lang/ObjC

#14908 Provide nuget package with debugging symbols for grpc_csharp_ext
  src/csharp/Grpc.Core.NativeDebug.nuspec
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_packages_dotnetcli.sh
  templates/src/csharp/build_packages_dotnetcli.bat.template
  templates/src/csharp/build_packages_dotnetcli.sh.template
  tools/run_tests/artifacts/build_artifact_csharp.bat
Labels: lang/C#, priority/P0/RELEASE BLOCKER

#15685 Revert "Fix shutdown of closed fd when c-ares opens a second fd"
  CMakeLists.txt
  Makefile
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: priority/P0/RELEASE BLOCKER

#14879 TLS session resumption support for Python clients
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/records.pyx.pxi
  src/python/grpcio/grpc/experimental/session_cache.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_auth_context_test.py
  src/python/grpcio_tests/tests/unit/_session_cache_test.py
Labels: area/security, kind/enhancement, lang/Python, priority/P0/RELEASE BLOCKER, priority/P1

#15664 Scripts for iOS size audit
  src/objective-c/examples/Sample/Sample.xcodeproj/project.pbxproj
  src/objective-c/examples/Sample/Sample.xcodeproj/xcshareddata/xcschemes/Sample.xcscheme
  src/objective-c/tests/analyze_link_map.py
  src/objective-c/tests/build_one_example.sh
  tools/profiling/ios_bin/binary_diff.py
  tools/profiling/ios_bin/parse_link_map.py
Labels: lang/ObjC

#15682 Bump pylint to 1.9.2
  .pylintrc
  .pylintrc-tests
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_interceptor.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/_utilities.py
  src/python/grpcio/grpc/beta/_server_adaptations.py
  src/python/grpcio/grpc/beta/utilities.py
  src/python/grpcio/grpc/framework/foundation/stream_util.py
  src/python/grpcio_testing/grpc_testing/__init__.py
  src/python/grpcio_testing/grpc_testing/_server/_handler.py
  src/python/grpcio_tests/tests/_loader.py
  src/python/grpcio_tests/tests/_result.py
  src/python/grpcio_tests/tests/interop/methods.py
  src/python/grpcio_tests/tests/unit/_junkdrawer/__init__.py
  src/python/grpcio_tests/tests/unit/_junkdrawer/stock_pb2.py
  tools/distrib/pylint_code.sh
Labels: area/test, area/tools, kind/internal cleanup, lang/Python, priority/P0/RELEASE BLOCKER, priority/P2

#15676 No Error Creation on RPC Hotpath
  CMakeLists.txt
  Makefile
  gRPC-Core.podspec
  grpc.gyp
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/gen_build_yaml.py
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/no_error_on_hotpath.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: kind/enhancement, lang/core, priority/P3

#15711 Remove Old Comments
  src/proto/grpc/testing/messages.proto
Labels: kind/internal cleanup, lang/all wrapped languages, priority/P3

#15689 Check conformance to grpc.GenericRpcHandler type
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_server_test.py
Labels: lang/Python, priority/P2

#15707 Update grpc_gevent cython files to include .pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pxd
  src/python/grpcio/grpc/_cython/cygrpc.pyx
Labels: kind/internal cleanup, lang/Python, priority/P2

#15680 More Clang Tidy
  .clang-tidy
  test/core/avl/avl_test.cc
  test/core/transport/status_conversion_test.cc
  tools/distrib/run_clang_tidy.py
Labels: kind/enhancement, kind/internal cleanup, lang/core, priority/P3

#15714 Batch fixes for a few CFStream issues
  src/core/lib/iomgr/cfstream_handle.cc
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/objective-c/tests/GRPCClientTests.m
Labels: lang/ObjC

#15718 Backport #15714 to v1.13.x
  src/core/lib/iomgr/cfstream_handle.cc
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/objective-c/tests/GRPCClientTests.m
Labels: lang/ObjC

#15687 Add C# tests that demonstrate how to unit test grpc code with test doubles.
  src/csharp/Grpc.Core.Testing/TestCalls.cs
  src/csharp/Grpc.Examples.Tests/Grpc.Examples.Tests.csproj
  src/csharp/Grpc.Examples.Tests/MathClientMockableTest.cs
  src/csharp/Grpc.Examples.Tests/MathServiceImplTestabilityTest.cs
  src/csharp/Grpc.IntegrationTesting/GeneratedClientTest.cs
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/tests.json
Labels: lang/C#

#15092 Make linux polling engines capable of tracking errors separately
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/lib/iomgr/endpoint_pair_posix.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_epollsig_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/ev_posix.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/udp_server.cc
  test/core/iomgr/ev_epollsig_linux_test.cc
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/pollset_set_test.cc
  test/core/iomgr/tcp_posix_test.cc
  test/cpp/microbenchmarks/bm_pollset.cc
Labels: release notes: no

#15717 Add documentation for default message sizes
  include/grpcpp/server_builder.h
Labels: release notes: no

#15691 Revert "Revert "Fix shutdown of closed fd when c-ares opens a second fd""
  CMakeLists.txt
  Makefile
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core

#15699 Add channel arg to enable/disable http proxy
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/http_proxy.cc
Labels: release notes: yes

#15648 Remove already_closed param from fd_orphan
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_epollsig_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/ev_posix.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/udp_server.cc
  test/core/iomgr/ev_epollsig_linux_test.cc
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/pollset_set_test.cc
  test/cpp/microbenchmarks/bm_pollset.cc
Labels: area/core

#15696 Disable ConnectivityMonitor for CFStream builds
  src/objective-c/GRPCClient/GRPCCall.m
  src/objective-c/GRPCClient/private/GRPCHost.m
  src/objective-c/tests/Connectivity/ConnectivityTestingApp.xcodeproj/project.pbxproj
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/ViewController.m
  src/objective-c/tests/Connectivity/Podfile
Labels: lang/ObjC

#15554 Fix out-of-bounds access loading pem files in Objective-C.
  src/objective-c/GRPCClient/private/GRPCHost.m
Labels: lang/ObjC

#15686 PHP: fix readme markdown render
  src/php/README.md
Labels: lang/php

#15712 Downgrade the Logging for TSI_NOT_FOUND Errors
  src/core/tsi/ssl_transport_security.cc
Labels: kind/internal cleanup, lang/core, priority/P3

#15490 Refactor to put c-ares queries under a combiner
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
Labels: area/core

#15678 Add Type Checking On Channel Args
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/http_proxy.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_channel_secure.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy_factory.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/load_reporting/server_load_reporting_plugin.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/transport/chttp2/client/authority.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/security/context/security_context.cc
  src/core/lib/security/context/security_context.h
  src/core/lib/security/credentials/credentials.cc
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/fake/fake_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/transport/target_authority_table.cc
  test/core/end2end/fixtures/h2_http_proxy.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  tools/run_tests/sanity/check_channel_arg_usage.py
Labels: kind/internal cleanup, lang/core, priority/P3

#14639 Optimize blocking intercepted response-unary calls
  src/python/grpcio/grpc/_interceptor.py
Labels: area/performance, kind/enhancement, lang/Python, priority/P2

#15632 Add Python 3.7 Linux wheels to artifact build
  tools/dockerfile/grpc_artifact_python_manylinux_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, area/packaging & distribution, kind/enhancement, lang/Python, priority/P1

#15698 Prefer using https_proxy for secure channels and http_proxy for insec…
  src/core/ext/filters/client_channel/http_proxy.cc
Labels: release notes: yes

#15773 Specify thread-safety of grpc-created channels
  src/python/grpcio/grpc/__init__.py
Labels: area/concurrency, area/documentation, kind/enhancement, lang/Python, priority/P2

#15765 Backport 15632 into v1.13.x
  tools/dockerfile/grpc_artifact_python_manylinux_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, area/packaging & distribution, kind/enhancement, lang/Python, priority/P1

#15778 Install pyyaml through pip in docker
  templates/tools/dockerfile/apt_get_basic.include
  templates/tools/dockerfile/python_deps.include
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java_oracle8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_nodepurejs/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_php/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/csharp_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1710_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/multilang_jessie_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/python_jessie_x64/Dockerfile
  tools/dockerfile/test/python_pyenv_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: area/test, infra/buildgen

#15755 Unify nearly same methods
  src/ruby/lib/grpc/generic/active_call.rb
Labels: lang/ruby

#15681 Even More Clang Tidy: performance-*
  .clang-tidy
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_registry_test.cc
  test/core/gprpp/ref_counted_ptr_test.cc
  test/cpp/codegen/golden_file_test.cc
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/thread_stress_test.cc
  test/cpp/interop/http2_client.cc
  test/cpp/interop/http2_client.h
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
  test/cpp/interop/interop_server.cc
  test/cpp/interop/server_helper.h
  test/cpp/interop/stress_interop_client.cc
  test/cpp/interop/stress_interop_client.h
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/qps/client.h
  test/cpp/qps/client_async.cc
  test/cpp/qps/client_sync.cc
  test/cpp/qps/driver.cc
  test/cpp/qps/qps_interarrival_test.cc
  test/cpp/qps/report.h
  test/cpp/qps/server_sync.cc
  test/cpp/server/load_reporter/load_data_store_test.cc
  test/cpp/util/.clang-tidy
  test/cpp/util/byte_buffer_test.cc
  test/cpp/util/cli_call.cc
  test/cpp/util/cli_call.h
  test/cpp/util/proto_file_parser.cc
  test/cpp/util/proto_file_parser.h
  test/cpp/util/proto_reflection_descriptor_database.cc
  test/cpp/util/proto_reflection_descriptor_database.h
  test/cpp/util/string_ref_test.cc
Labels: area/core, kind/enhancement, priority/P3

#15780 Separate out the posix part of the c-ares driver
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: area/core

#15794 Revert "Install pyyaml through pip in docker"
  templates/tools/dockerfile/apt_get_basic.include
  templates/tools/dockerfile/python_deps.include
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java_oracle8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_nodepurejs/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_php/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/csharp_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1710_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/multilang_jessie_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/python_jessie_x64/Dockerfile
  tools/dockerfile/test/python_pyenv_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: priority/P1

#15791 Be able to execute rspec for each file
  src/ruby/spec/call_credentials_spec.rb
  src/ruby/spec/call_spec.rb
  src/ruby/spec/channel_credentials_spec.rb
  src/ruby/spec/channel_spec.rb
  src/ruby/spec/client_auth_spec.rb
  src/ruby/spec/client_server_spec.rb
  src/ruby/spec/compression_options_spec.rb
  src/ruby/spec/error_sanity_spec.rb
  src/ruby/spec/generic/client_stub_spec.rb
  src/ruby/spec/generic/rpc_desc_spec.rb
  src/ruby/spec/generic/rpc_server_pool_spec.rb
  src/ruby/spec/generic/service_spec.rb
  src/ruby/spec/google_rpc_status_utils_spec.rb
  src/ruby/spec/pb/duplicate/codegen_spec.rb
  src/ruby/spec/pb/health/checker_spec.rb
  src/ruby/spec/server_credentials_spec.rb
  src/ruby/spec/server_spec.rb
  src/ruby/spec/spec_helper.rb
  src/ruby/spec/support/services.rb
  src/ruby/spec/time_consts_spec.rb
Labels: lang/ruby

#15668 Remove EXPERIMENTAL API notice on C# interceptor API
  src/csharp/Grpc.Core/Interceptors/CallInvokerExtensions.cs
  src/csharp/Grpc.Core/Interceptors/ChannelExtensions.cs
  src/csharp/Grpc.Core/Interceptors/ClientInterceptorContext.cs
  src/csharp/Grpc.Core/Interceptors/Interceptor.cs
  src/csharp/Grpc.Core/Interceptors/ServerServiceDefinitionExtensions.cs
Labels: area/documentation, kind/enhancement, lang/C#, priority/P2

#15343 Channelz Part 1: Support for GetChannel
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc.h
  include/grpc/impl/codegen/grpc_types.h
  package.xml
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/proto/grpc/channelz/channelz.proto
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/end2end/multiple_killed_watching_threads_driver.rb
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/channel/BUILD
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_test.cc
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/gen_build_yaml.py
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/channelz.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/util/channel_trace_proto_helper.cc
  test/cpp/util/channel_trace_proto_helper.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
  tools/run_tests/helper_scripts/run_ruby_end2end_tests.sh
  tools/run_tests/run_tests.py
Labels: area/channelz, area/client channel, area/core

#15820 Protect a Noise Comment
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: area/core, kind/enhancement, priority/P3

#15819 Build grpcio-testing alongside Python artifact builds
  src/python/grpcio_testing/MANIFEST.in
  src/python/grpcio_testing/README.rst
  test/distrib/python/test_packages.sh
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: area/build, area/packaging & distribution, kind/enhancement, lang/Python, priority/P2

#15806 PHP: fix distribtest test by adding -Ithird_party/nanopb
  config.m4
  config.w32
  templates/config.m4.template
  templates/config.w32.template
Labels: lang/php

#15825 Don't count internal threads against ExecCtx count
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/timer_manager.cc
Labels: priority/P0/RELEASE BLOCKER

#15779 PHP: add deserialze as the argument for the interceptor
  src/php/lib/Grpc/BaseStub.php
  src/php/lib/Grpc/Interceptor.php
  src/php/tests/unit_tests/InterceptorTest.php
Labels: lang/php

#15800 EchoMsg is defined in spec/support/services.rb
  src/ruby/spec/client_auth_spec.rb
  src/ruby/spec/google_rpc_status_utils_spec.rb
Labels: lang/ruby

#15747 Add Channel Creation Benchmark
  CMakeLists.txt
  Makefile
  build.yaml
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_channel.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: kind/enhancement, lang/c++, priority/P3

#15834 GRPC::Cancelled should be occured when calling Enumrable#next on canceled call
  src/ruby/lib/grpc/generic/active_call.rb
  src/ruby/spec/generic/client_stub_spec.rb
Labels: lang/ruby

#15867 PHP: fix distribution test by adding 2 header files into the package.xml
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/php

#15869 Disable Channelz connectivity_state Query for Now
  src/core/lib/channel/channelz.cc
Labels: area/channelz, kind/bug, lang/core, priority/P3

#14650 Create doc for gRPC iOS Network Transition Behavior
  src/objective-c/NetworkTransitionBehavior.md
Labels: lang/ObjC

#15838 Surface more channel args on gRPC iOS
  src/objective-c/GRPCClient/GRPCCall+ChannelArg.h
  src/objective-c/GRPCClient/GRPCCall+ChannelArg.m
  src/objective-c/GRPCClient/private/GRPCHost.h
  src/objective-c/GRPCClient/private/GRPCHost.m
  src/objective-c/tests/GRPCClientTests.m
Labels: lang/ObjC

#15847 Add subspec for C++ protobuf
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/ObjC

#15777 CFStream use guide
  src/objective-c/README-CFSTREAM.md
Labels: lang/ObjC

#15828 Explicitly delete c-ares fd's from pollset set after c-ares is done
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/iomgr/iomgr.h
  test/cpp/naming/cancel_ares_query_test.cc
Labels: kind/bug, lang/core

#15749 PHP: add call invoker
  src/php/lib/Grpc/BaseStub.php
  src/php/lib/Grpc/CallInvoker.php
  src/php/lib/Grpc/DefaultCallInvoker.php
  src/php/tests/unit_tests/CallInvokerTest.php
  src/php/tests/unit_tests/InterceptorTest.php
Labels: kind/enhancement, lang/php

#15901 Allow extra copy in zero-copy protector integrity-only mode
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/zero_copy_frame_protector/alts_grpc_integrity_only_record_protocol.cc
  src/core/tsi/alts/zero_copy_frame_protector/alts_grpc_integrity_only_record_protocol.h
  src/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector.cc
  src/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector.h
  test/core/tsi/alts/zero_copy_frame_protector/alts_grpc_record_protocol_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector_test.cc
Labels: area/security

#15910 refactor extra-copy integrity-only protector
  src/core/tsi/alts/zero_copy_frame_protector/alts_grpc_integrity_only_record_protocol.cc
Labels: area/security
