Repository grpc/grpc, pull requests merged in 2019-10, with the labels that each got.

#20415 Revert "Make public header files in include/grpcpp/test installed with 'make install'"
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
Labels: priority/P1

#20408 Second attempt: Change transport connectivity watch API to not be lossy.
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/connectivity_state.cc
  src/core/lib/transport/connectivity_state.h
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_op_string.cc
  test/core/surface/lame_client_test.cc
  test/core/transport/BUILD
  test/core/transport/connectivity_state_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20265 Start running windows bazel RBE tests
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  test/core/bad_ssl/generate_tests.bzl
  test/core/client_channel/BUILD
  test/core/end2end/BUILD
  test/core/end2end/fuzzers/BUILD
  test/core/end2end/generate_tests.bzl
  test/core/fling/BUILD
  test/core/gprpp/BUILD
  test/core/handshake/BUILD
  test/core/http/BUILD
  test/core/iomgr/BUILD
  test/core/json/BUILD
  test/core/memory_usage/BUILD
  test/core/nanopb/BUILD
  test/core/security/BUILD
  test/core/slice/BUILD
  test/core/transport/BUILD
  test/core/transport/chttp2/BUILD
  test/core/tsi/BUILD
  test/cpp/common/BUILD
  test/cpp/end2end/BUILD
  test/cpp/ext/filters/census/BUILD
  test/cpp/interop/BUILD
  test/cpp/qps/BUILD
  test/cpp/util/BUILD
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/README.md
  tools/remote_build/rbe_common.bazelrc
  tools/remote_build/windows.bazelrc
Labels: lang/c++, release notes: no

#17272 Add C# distribtest for alpine linux
  test/distrib/csharp/run_distrib_test_dotnetcli.sh
  tools/dockerfile/distribtest/csharp_alpine_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/C#, release notes: no

#20405 Fix polymorphism for UniquePtr<> and OrphanablePtr<>.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/gprpp/memory.h
  src/core/lib/gprpp/orphanable.h
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/ssl/session_cache/ssl_session_boringssl.cc
  src/core/tsi/ssl/session_cache/ssl_session_openssl.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/surface/lame_client_test.cc
  test/core/transport/connectivity_state_test.cc
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#20426 Make grpc_testing's Servicer context abort method stop execution of the servicer handler
  src/python/grpcio_testing/grpc_testing/_server/_servicer_context.py
  src/python/grpcio_tests/tests/testing/_application_common.py
  src/python/grpcio_tests/tests/testing/_server_application.py
  src/python/grpcio_tests/tests/testing/_server_test.py
Labels: area/test, kind/bug, lang/Python, release notes: yes

#20401 fix the wrong word
  doc/interop-test-descriptions.md
  examples/csharp/HelloworldXamarin/iOS/AppDelegate.cs
  examples/python/cancellation/README.md
  examples/python/cancellation/hash_name.proto
  examples/python/data_transmission/README.en.md
  src/compiler/ruby_generator_string-inl.h
  test/cpp/util/cli_credentials.cc
  test/cpp/util/proto_file_parser.h
  tools/buildgen/plugins/check_attrs.py
  tools/gce/linux_kokoro_performance_worker_init.sh
  tools/github/pr_latency.py
  tools/internal_ci/linux/grpc_publish_packages.sh
  tools/interop_matrix/create_matrix_images.py
  tools/interop_matrix/create_testcases.sh
  tools/profiling/microbenchmarks/bm_diff/bm_main.py
  tools/run_tests/performance/README.md
  tools/run_tests/run_tests.py
Labels: kind/bug, lang/all wrapped languages, release notes: no

#20350 Activate the C++ standard library
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/impl/codegen/port_platform.h
  package.xml
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_factory.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver_factory.h
  src/core/ext/filters/client_channel/service_config.h
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_interface.h
  src/core/ext/filters/client_channel/subchannel_pool_interface.h
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.h
  src/core/lib/channel/handshaker.h
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/gprpp/abstract.h
  src/core/lib/gprpp/map.h
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/gprpp/thd.h
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/executor/threadpool.h
  src/core/lib/iomgr/tcp_server.h
  src/core/lib/iomgr/udp_server.h
  src/core/lib/security/credentials/credentials.cc
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/surface/completion_queue.h
  src/core/lib/transport/byte_stream.h
  src/core/lib/transport/connectivity_state.h
  src/core/tsi/ssl/session_cache/ssl_session.h
  test/core/gprpp/BUILD
  test/core/gprpp/manual_constructor_test.cc
  test/core/gprpp/map_test.cc
  test/cpp/qps/interarrival.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#20329 Avoid creating and copying strings when Status is OK in FinishOp.
  include/grpcpp/impl/codegen/call_op_set.h
Labels: area/performance, release notes: no

#20397 Change HealthCheckClient to use new connectivity state API.
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/subchannel.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#20356 Update C++ doc
  doc/core/moving-to-c++.md
Labels: area/documentation, release notes: no

#20440 Use std::pair
  BUILD
  BUILD.gn
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/gprpp/arena.cc
  src/core/lib/gprpp/arena.h
  src/core/lib/gprpp/map.h
  src/core/lib/gprpp/pair.h
  src/core/lib/transport/connectivity_state.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#20439 Use std::set<> where appropriate.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/transport/connectivity_state.h
Labels: release notes: no

#20435 Revert "Chttp2combiner"
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/iomgr/closure.h
  src/core/lib/iomgr/executor.cc
Labels: release notes: no

#20411 PHP: add various scenarios to test PECL extension
  examples/php/echo/README.md
  examples/php/echo/apache.Dockerfile
  examples/php/echo/base.Dockerfile
  examples/php/echo/cli.Dockerfile
  examples/php/echo/client.php
  examples/php/echo/composer.json
  examples/php/echo/echo.proto
  examples/php/echo/fpm.Dockerfile
  examples/php/echo/nginx.conf
  src/php/bin/build_all_docker_images.sh
  src/php/bin/run_all_docker_images.sh
  src/php/docker/README.md
  src/php/docker/alpine/Dockerfile
  src/php/docker/fork-support/Dockerfile
  src/php/docker/fork-support/fork.php
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php5/Dockerfile
  templates/examples/php/echo/apache.Dockerfile.template
  templates/examples/php/echo/base.Dockerfile.template
  templates/examples/php/echo/cli.Dockerfile.template
  templates/examples/php/echo/copy_from_grpc_base.include
  templates/examples/php/echo/fpm.Dockerfile.template
  templates/src/php/docker/alpine/Dockerfile.template
  templates/src/php/docker/download_phpunit.include
  templates/src/php/docker/grpc-ext/Dockerfile.template
  templates/src/php/docker/grpc-src/Dockerfile.template
  templates/src/php/docker/pecl_ext_build_src.include
  templates/src/php/docker/php-future/Dockerfile.template
  templates/src/php/docker/php-src/Dockerfile.template
  templates/src/php/docker/php-zts/Dockerfile.template
  templates/src/php/docker/php5/Dockerfile.template
  tools/buildgen/plugins/expand_version.py
Labels: lang/php, release notes: no

#20412 Update grpc_ssl_peer_to_auth_context() to take in transport security type as a parameter
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/spiffe_security_connector.cc
  test/core/security/security_connector_test.cc
Labels: release notes: no

#20406 Use more normal API for client channel connectivity watches from internal code
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/lib/transport/connectivity_state.cc
  src/core/lib/transport/connectivity_state.h
Labels: release notes: no

#20441 Use std::function<> for recv_trailing_metadata callback in LB policy API.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#20429 Clear the thread state before shutdown on executor, make exception fo…
  src/core/lib/iomgr/executor.cc
Labels: lang/core, release notes: no

#20451 Fix python windows link problem
  setup.py
Labels: area/build, lang/Python, release notes: no

#20446 Remove comment about license after licenses rule
  BUILD
Labels: lang/core, release notes: no

#20447 Put parenthesis around print in bm_main.py
  tools/profiling/microbenchmarks/bm_diff/bm_main.py
Labels: lang/core, release notes: no

#20457 Backport: Fix python windows link problem (#20451)
  setup.py
Labels: area/build, lang/Python, release notes: no

#20458 Bump version to 1.24.1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: area/build, release notes: no

#20460 Fix bm chttp2 transport
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: release notes: no

#19987 Strongly typed slices for server method/host.
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_utils.h
  src/core/lib/surface/server.cc
Labels: area/performance, release notes: no

#20434 Windows RBE testing improvements
  tools/internal_ci/windows/bazel_rbe.bat
  tools/internal_ci/windows/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_dbg.cfg
  tools/remote_build/windows.bazelrc
Labels: release notes: no

#20466 Fix the internal build and test failure introduced in #20329
  include/grpcpp/impl/codegen/call_op_set.h
Labels: lang/c++, release notes: no

#20328 Remove out of context writes from H2.
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  test/cpp/qps/driver.cc
Labels: area/core, area/performance/latency, release notes: no

#20443 Use a more standard iteration interface for LB policy metadata API.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#20455 Disable Gradle daemon for Java interop test building
  templates/tools/dockerfile/java_build_interop.sh.include
  tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh
Labels: release notes: no

#20454 Wrapper for std::set<> that overrides the allocator.
  BUILD
  BUILD.gn
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/lib/gprpp/memory.h
  src/core/lib/gprpp/set.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#20465 Polymorphic delete support
  Makefile
  build.yaml
  src/core/lib/gprpp/memory.h
  test/core/gprpp/memory_test.cc
Labels: release notes: no

#20474 Wrapper for std::map<> that overrides the allocator.
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.h
  src/core/lib/gprpp/map.h
  src/core/lib/gprpp/memory.h
  src/core/lib/security/credentials/credentials.cc
  src/core/lib/security/credentials/credentials.h
  src/core/lib/transport/connectivity_state.h
Labels: lang/core, release notes: no

#20475 Clean up memory code
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/retry_throttle.h
  src/core/lib/gprpp/README.md
  src/core/lib/gprpp/memory.h
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/iomgr/buffer_list.h
  src/core/lib/iomgr/cfstream_handle.h
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice_hash_table.h
  src/core/lib/slice/slice_weak_hash_table.h
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
Labels: lang/core, release notes: no

#20477 Doc update - Finish can be called only once
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
Labels: release notes: no

#20488 Add extra kokoro build info to Win RBE runs
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/workspace_status_kokoro.bat
Labels: lang/c++, release notes: no

#20490 Temporarily disable client_channel_stress_test on win RBE
  test/cpp/client/BUILD
Labels: platform/Windows, release notes: no

#20433 fix some spelling mistakes in document
  include/grpc/impl/codegen/port_platform.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/cpp/thread_manager/thread_manager.h
  src/csharp/Grpc.Core/Internal/CallSafeHandle.cs
  src/csharp/Grpc.Core/Internal/DefaultObjectPool.cs
  src/objective-c/RxLibrary/GRXWriteable.h
  src/php/composer.json
  src/php/lib/Grpc/BidiStreamingCall.php
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_string.pyx.pxi
  src/python/grpcio_tests/tests/qps/benchmark_client.py
  src/ruby/end2end/channel_closing_driver.rb
  src/ruby/ext/grpc/rb_call.c
  src/ruby/lib/grpc/generic/bidi_call.rb
  src/ruby/lib/grpc/generic/rpc_server.rb
  src/ruby/spec/google_rpc_status_utils_spec.rb
  templates/Makefile.template
  templates/src/php/composer.json.template
  test/core/memory_usage/client.cc
Labels: release notes: no

#20464 Cronet fixes
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/objective-c/tests/ConfigureCronet.h
  src/objective-c/tests/ConfigureCronet.m
  src/objective-c/tests/CronetTests/CoreCronetEnd2EndTests.mm
  src/objective-c/tests/CronetTests/CronetUnitTests.mm
  src/objective-c/tests/CronetTests/InteropTestsRemoteWithCronet.m
  src/objective-c/tests/InteropTests/InteropTestsMultipleChannels.m
  src/objective-c/tests/PerfTests/PerfTests.m
  src/objective-c/tests/PerfTests/PerfTestsCronet.m
Labels: release notes: no

#20432 Tune xds test
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20368 Refactor EDS and LRS code from xds LB policy into new XdsClient API.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.h
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_channel.cc
  src/core/ext/filters/client_channel/xds/xds_channel.h
  src/core/ext/filters/client_channel/xds/xds_channel_args.h
  src/core/ext/filters/client_channel/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/ext/filters/client_channel/xds/xds_client_stats.cc
  src/core/ext/filters/client_channel/xds/xds_client_stats.h
  src/core/lib/channel/channel_args.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#20478 Use ADS
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/ads_for_test.proto
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/codegen/core/gen_static_metadata.py
Labels: release notes: no

#20414 Added libatomic to gRPC python
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/build, lang/Python, release notes: no

#20496 Use -static-libstdc++ for ruby.linux
  src/ruby/ext/grpc/extconf.rb
Labels: area/build, lang/ruby, release notes: no

#20514 Fix libatomic link error of gRPC python
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/build, lang/Python, release notes: yes

#20353 Refactor hpack encoder to be smaller footprint.
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
Labels: area/performance, release notes: no

#20507 Fix windows RBE opt build
  tools/bazel.rc
  tools/internal_ci/windows/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/windows/grpc_bazel_rbe_opt.cfg
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_opt.cfg
  tools/remote_build/windows.bazelrc
Labels: lang/c++, platform/Windows, release notes: no

#20505 Fixes in multimachine benchmark scripts
  tools/internal_ci/linux/grpc_full_performance_master.sh
  tools/internal_ci/linux/grpc_full_performance_release.sh
Labels: release notes: no

#20512 Clean up xds LB policy shutdown.
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
Labels: release notes: no

#20521 Initialize executor thread state globally and remove logic to destroy the thread state during shutdown
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/executor.h
  src/core/lib/surface/init.cc
Labels: lang/core, release notes: no

#20528 Fix xds LB policy trace logging.
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
Labels: release notes: no

#20520 fix typo in document
  doc/keepalive.md
  include/grpc/impl/codegen/sync_generic.h
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/gprpp/memory.h
  src/core/lib/transport/connectivity_state.h
  src/csharp/Grpc.Core/Calls.cs
  src/csharp/Grpc.IntegrationTesting/Messages.cs
  src/csharp/Grpc.IntegrationTesting/Metrics.cs
  src/objective-c/RxLibrary/GRXWriter.h
  src/objective-c/tests/TestBase.h
  src/php/ext/grpc/php_grpc.c
  src/php/tests/qps/generated_code/Grpc/Testing/GaugeResponse.php
  src/proto/grpc/testing/messages.proto
  src/proto/grpc/testing/metrics.proto
Labels: release notes: no

#20525 Bump version to v1.24.2
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: area/build, release notes: no

#20543 Hand off triage duty to Juanli
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#20551 Deflake QPS test.
  test/cpp/qps/driver.cc
Labels: release notes: no

#20527 Fixed an issue where Swift application depending on gRPC is unable to archive
  gRPC.podspec
  src/objective-c/tests/Podfile
  templates/gRPC.podspec.template
Labels: lang/ObjC, release notes: yes

#20535 Port #20527: Fixed an issue where Swift application depending on gRPC is unable to archive
  gRPC.podspec
  src/objective-c/tests/Podfile
  templates/gRPC.podspec.template
Labels: lang/ObjC, release notes: yes

#19778 Add C++ wrapper for SPIFFE credentials v2
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials.h
  include/grpcpp/security/credentials_impl.h
  include/grpcpp/security/server_credentials.h
  include/grpcpp/security/server_credentials_impl.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/spiffe_security_connector.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/client/secure_credentials.h
  src/cpp/common/tls_credentials_options.cc
  src/cpp/common/tls_credentials_options_util.cc
  src/cpp/common/tls_credentials_options_util.h
  src/cpp/server/secure_server_credentials.cc
  src/cpp/server/secure_server_credentials.h
  test/cpp/client/credentials_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: area/security, lang/c++, release notes: yes

#20564 Fix unused variable error
  test/cpp/client/credentials_test.cc
Labels: lang/core, release notes: no

#20561 Backport python artifacts manylinux2010
  tools/dockerfile/grpc_artifact_linux_x64/Dockerfile
  tools/dockerfile/grpc_artifact_linux_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux1_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: area/build, lang/Python, release notes: no

#20211 Create pkg-config files from CMake
  CMakeLists.txt
  Makefile
  cmake/pkg-config-template.pc.in
  examples/cpp/helloworld/Makefile
  templates/CMakeLists.txt.template
  templates/Makefile.template
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/c++, release notes: yes

#20380 xds client bootstrap file
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.h
  src/core/ext/filters/client_channel/xds/xds_channel.cc
  src/core/ext/filters/client_channel/xds/xds_channel.h
  src/core/ext/filters/client_channel/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/lib/json/json.h
  src/core/lib/json/json_string.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/xds_bootstrap_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_bootstrap.json
  test/cpp/end2end/xds_bootstrap_bad.json
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20497 Add InlinedVector::resize()
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/lib/gprpp/inlined_vector.h
  test/core/gprpp/inlined_vector_test.cc
Labels: release notes: no

#20577 Consider "Socket closed" to be a good status
  test/cpp/qps/driver.cc
Labels: release notes: no

#20549 Add generic variance to reader and writer interfaces
  src/csharp/Grpc.Core.Api/IAsyncStreamReader.cs
  src/csharp/Grpc.Core.Api/IAsyncStreamWriter.cs
  src/csharp/Grpc.Core.Api/IClientStreamWriter.cs
  src/csharp/Grpc.Core.Api/IServerStreamWriter.cs
Labels: lang/C#, release notes: yes

#20573 backport #20505 to v1.24.x
  tools/internal_ci/linux/grpc_full_performance_master.sh
  tools/internal_ci/linux/grpc_full_performance_release.sh
Labels: release notes: no

#20593 Revert "xds client bootstrap file"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.h
  src/core/ext/filters/client_channel/xds/xds_channel.cc
  src/core/ext/filters/client_channel/xds/xds_channel.h
  src/core/ext/filters/client_channel/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/lib/json/json.h
  src/core/lib/json/json_string.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/xds_bootstrap_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_bootstrap.json
  test/cpp/end2end/xds_bootstrap_bad.json
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20579 PHP: change phpunit version from 4.8.36 to 5.7.27
  examples/php/README.md
  src/php/README.md
  src/php/docker/README.md
  src/php/docker/alpine/Dockerfile
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php5/Dockerfile
  templates/src/php/docker/download_phpunit.include
  templates/tools/dockerfile/php_deps.include
  tools/dockerfile/distribtest/php_jessie_x64/Dockerfile
  tools/dockerfile/grpc_artifact_linux_x64/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_php/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/gce/linux_kokoro_performance_worker_init.sh
Labels: lang/php, release notes: no

#20560 Added convenience class GRPCUnaryResponseHandler for unary calls
  src/objective-c/ProtoRPC/ProtoRPC.h
  src/objective-c/ProtoRPC/ProtoRPC.m
  src/objective-c/tests/CronetTests/InteropTestsRemoteWithCronet.m
  src/objective-c/tests/InteropTests/InteropTests.m
  src/objective-c/tests/InteropTests/InteropTestsRemote.m
  src/objective-c/tests/TestBase.h
  src/objective-c/tests/TestBase.m
Labels: lang/ObjC, release notes: yes

#20575 bazel: Replace git_repository occurence by http_archive
  bazel/grpc_deps.bzl
  bazel/grpc_python_deps.bzl
Labels: infra/Bazel, release notes: no

#20595 Hand off triage duty to yang-g
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#17248 Make mergeability messages more clear and fix typo
  .github/mergeable.yml
Labels: kind/internal cleanup, priority/P1, release notes: no

#20558 Upgrade to bazel 1.0.0
  WORKSPACE
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  templates/tools/dockerfile/bazel.include
  test/core/gprpp/BUILD
  test/core/iomgr/BUILD
  test/cpp/qps/BUILD
  third_party/toolchains/BUILD
  tools/bazel
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/c++, release notes: yes

#20610 Revert "Grpc 19871/unary unary client aio implement timeout"
  src/python/grpcio/grpc/_cython/BUILD.bazel
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/rpc_error.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/rpc_error.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
  src/python/grpcio_tests/tests_aio/unit/sync_server.py
Labels: kind/bug, lang/Python, release notes: no

#8693 Use range-based for loops on c++11
  src/cpp/ext/proto_server_reflection.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: cla: yes, kind/enhancement, lang/c++, priority/P1, release notes: no

#20555 work around slice_test compiler bug (for windows bazel opt build)
  test/core/slice/slice_test.cc
Labels: lang/c++, release notes: no

#20513 Skip service_config_test on old libstdc++ versions
  test/core/client_channel/service_config_test.cc
Labels: release notes: no

#20621 make cmake grpc.pc depend on openssl too
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#20616 Release 3.8 binary wheels
  setup.py
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/setup.py
  tools/run_tests/artifacts/artifact_targets.py
Labels: kind/enhancement, lang/Python, priority/P2, release notes: yes

#20605 c++ remove win32 conversion warning
  include/grpcpp/impl/codegen/proto_buffer_writer.h
Labels: release notes: no

#20606 Second attempt: xds client bootstrap file
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.h
  src/core/ext/filters/client_channel/xds/xds_channel.cc
  src/core/ext/filters/client_channel/xds/xds_channel.h
  src/core/ext/filters/client_channel/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/lib/json/json.h
  src/core/lib/json/json_string.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/xds_bootstrap_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_bootstrap.json
  test/cpp/end2end/xds_bootstrap_bad.json
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20607 php-docker-README-update
  src/php/docker/README.md
Labels: lang/php, release notes: no

#20585 Fix error object memory leak in continue_receiving_slices()
  src/core/lib/surface/call.cc
Labels: release notes: no

#20634 Fix an incorrect comment
  src/core/lib/transport/transport.h
Labels: lang/core, release notes: no

#20622 Improve logging on API misuse assert
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  src/cpp/common/core_codegen.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
Labels: kind/internal cleanup, lang/c++, priority/P2, release notes: no

#20612 Add more logging to channel_soak interop test to indicate the boundar…
  test/cpp/interop/interop_client.cc
Labels: lang/c++, release notes: no

#20603 Improve RpcException doc comments
  src/csharp/Grpc.Core.Api/RpcException.cs
Labels: lang/C#, release notes: no

#20626 Use C++11 range-based fors in src/cpp/common
  src/cpp/common/channel_arguments.cc
  src/cpp/common/tls_credentials_options.cc
  src/cpp/common/tls_credentials_options_util.cc
Labels: lang/c++, release notes: no

#20627 Use range-based fors in src/cpp/{client,server}
  src/cpp/client/secure_credentials.cc
  src/cpp/server/secure_server_credentials.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#20376 c++ check if workerthread could be spawned
  src/cpp/thread_manager/thread_manager.cc
  src/cpp/thread_manager/thread_manager.h
Labels: kind/bug, lang/c++, priority/P1, release notes: no

#20602 Fix a typo in transport_explainer.md
  doc/core/transport_explainer.md
Labels: release notes: no

#20628 Use range-based fors in include/grpcpp
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/test/server_context_test_spouse.h
Labels: lang/c++, release notes: no

#20632 Remove all unused parameter warnings from include/ and src/core
  include/grpcpp/security/tls_credentials_options.h
  src/core/ext/filters/client_channel/service_config.h
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/lib/gprpp/memory.h
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/udp_server.h
  src/cpp/server/secure_server_credentials.cc
Labels: kind/internal cleanup, lang/c++, release notes: no

#20623 Stop using assert in impl/codegen (use GPR_CODEGEN_ASSERT)
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/client_callback_impl.h
Labels: kind/internal cleanup, lang/c++, priority/P2, release notes: no

#20476 Move XdsClient instantiation into xds resolver.
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20653 Remove unused parameter warnings (8 of 20)
  test/core/end2end/tests/filter_latency.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/end2end/tests/no_error_on_hotpath.cc
  test/core/end2end/tests/no_logging.cc
  test/core/end2end/tests/stream_compression_compressed_payload.cc
  test/core/end2end/tests/stream_compression_payload.cc
  test/core/fling/fling_stream_test.cc
  test/core/fling/fling_test.cc
  test/core/fling/server.cc
  test/core/gpr/log_test.cc
Labels: release notes: no

#20641 Remove unused parameter warnings (20 of 20)
  test/cpp/qps/worker.cc
  test/cpp/server/server_builder_with_socket_mutator_test.cc
  test/cpp/thread_manager/thread_manager_test.cc
  test/cpp/util/grpc_tool.cc
  test/cpp/util/metrics_server.cc
  test/cpp/util/slice_test.cc
Labels: release notes: no

#20649 Remove unused parameter warnings (12 of 20)
  test/core/security/secure_endpoint_test.cc
  test/core/security/security_connector_test.cc
  test/core/security/spiffe_security_connector_test.cc
  test/core/security/ssl_server_fuzzer.cc
  test/core/slice/slice_test.cc
  test/core/surface/completion_queue_test.cc
  test/core/surface/completion_queue_threading_test.cc
  test/core/surface/concurrent_connectivity_test.cc
  test/core/surface/lame_client_test.cc
  test/core/transport/byte_stream_test.cc
Labels: release notes: no

#20659 Remove unused parameter warnings (2 of 20)
  src/cpp/server/server_context.cc
  test/core/bad_client/bad_client.cc
  test/core/bad_client/tests/bad_streaming_id.cc
  test/core/bad_client/tests/badreq.cc
  test/core/bad_client/tests/connection_prefix.cc
  test/core/bad_client/tests/duplicate_header.cc
  test/core/bad_client/tests/headers.cc
  test/core/bad_client/tests/initial_settings_frame.cc
  test/core/bad_client/tests/large_metadata.cc
  test/core/bad_client/tests/out_of_bounds.cc
Labels: release notes: no

#20660 Remove unused parameter warnings (1 of 20)
  src/core/lib/iomgr/executor/threadpool.h
  src/cpp/client/secure_credentials.cc
  src/cpp/common/channel_filter.h
  src/cpp/common/tls_credentials_options_util.cc
  src/cpp/ext/proto_server_reflection.cc
  src/cpp/ext/proto_server_reflection_plugin.cc
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/channelz/channelz_service_plugin.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/server_cc.cc
Labels: release notes: no

#20658 Remove unused parameter warnings (3 of 20)
  test/core/bad_client/tests/server_registered_method.cc
  test/core/bad_client/tests/simple_request.cc
  test/core/bad_client/tests/unknown_frame.cc
  test/core/bad_client/tests/window_overflow.cc
  test/core/channel/channel_args_test.cc
  test/core/channel/channel_stack_builder_test.cc
  test/core/channel/channel_stack_test.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
Labels: release notes: no

#20657 Remove unused parameter warnings (4 of 20)
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/compression/compression_test.cc
  test/core/compression/stream_compression_test.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/fixtures/h2_census.cc
  test/core/end2end/fixtures/h2_compress.cc
  test/core/end2end/fixtures/h2_fakesec.cc
Labels: release notes: no

#20656 Remove unused parameter warnings (5 of 20)
  test/core/end2end/fixtures/h2_fd.cc
  test/core/end2end/fixtures/h2_full+pipe.cc
  test/core/end2end/fixtures/h2_full+trace.cc
  test/core/end2end/fixtures/h2_full+workarounds.cc
  test/core/end2end/fixtures/h2_full.cc
  test/core/end2end/fixtures/h2_http_proxy.cc
  test/core/end2end/fixtures/h2_local_ipv4.cc
  test/core/end2end/fixtures/h2_local_ipv6.cc
  test/core/end2end/fixtures/h2_local_uds.cc
  test/core/end2end/fixtures/h2_oauth2.cc
Labels: release notes: no

#20654 Remove unused parameter warnings (7 of 20)
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/h2_ssl_cert_test.cc
  test/core/end2end/inproc_callback_test.cc
  test/core/end2end/tests/cancel_test_helpers.h
  test/core/end2end/tests/channelz.cc
  test/core/end2end/tests/connectivity.cc
  test/core/end2end/tests/filter_call_init_fails.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/end2end/tests/filter_context.cc
Labels: release notes: no

#20651 Remove unused parameter warnings (10 of 20)
  test/core/iomgr/combiner_test.cc
  test/core/iomgr/endpoint_pair_test.cc
  test/core/iomgr/ev_epollex_linux_test.cc
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/iomgr/resource_quota_test.cc
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
Labels: release notes: no

#20647 Remove unused parameter warnings (14 of 20)
  test/core/tsi/alts/zero_copy_frame_protector/alts_grpc_record_protocol_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector_test.cc
  test/core/tsi/fake_transport_security_test.cc
  test/core/util/one_corpus_entry_fuzzer.cc
  test/core/util/reconnect_server.cc
  test/core/util/test_tcp_server.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/common/channel_arguments_test.cc
  test/cpp/common/channel_filter_test.cc
  test/cpp/common/timer_test.cc
Labels: release notes: no

#20646 Remove unused parameter warnings (15 of 20)
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/client_crash_test_server.cc
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/delegating_channel_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/exception_test.cc
  test/cpp/end2end/filter_end2end_test.cc
  test/cpp/end2end/hybrid_end2end_test.cc
  test/cpp/end2end/interceptors_util.h
Labels: release notes: no

#20643 Remove unused parameter warnings (18 of 20)
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/bm_closure.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
  test/cpp/microbenchmarks/bm_pollset.cc
  test/cpp/microbenchmarks/bm_threadpool.cc
  test/cpp/microbenchmarks/fullstack_context_mutators.h
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: release notes: no

#20642 Remove unused parameter warnings (19 of 20)
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/qps/client_async.cc
  test/cpp/qps/client_callback.cc
  test/cpp/qps/client_sync.cc
  test/cpp/qps/json_run_localhost.cc
  test/cpp/qps/qps_worker.cc
  test/cpp/qps/report.cc
  test/cpp/qps/server_async.cc
  test/cpp/qps/server_callback.cc
  test/cpp/qps/server_sync.cc
Labels: release notes: no

#20645 Remove unused parameter warnings (16 of 20)
  test/cpp/end2end/message_allocator_end2end_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/port_sharing_end2end_test.cc
  test/cpp/end2end/server_builder_plugin_test.cc
  test/cpp/end2end/server_crash_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
  test/cpp/end2end/shutdown_test.cc
  test/cpp/end2end/streaming_throughput_test.cc
  test/cpp/end2end/thread_stress_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20652 Remove unused parameter warnings (9 of 20)
  test/core/gpr/tls_test.cc
  test/core/gprpp/global_config_env_test.cc
  test/core/gprpp/thd_test.cc
  test/core/handshake/client_ssl.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/handshake/server_ssl.cc
  test/core/handshake/verify_peer_options.cc
  test/core/http/httpcli_test.cc
  test/core/http/httpscli_test.cc
  test/core/iomgr/buffer_list_test.cc
Labels: release notes: no

#20666 Use a parameter
  test/core/util/one_corpus_entry_fuzzer.cc
Labels: release notes: no

#20655 Remove unused parameter warnings (6 of 20)
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fixtures/h2_spiffe.cc
  test/core/end2end/fixtures/h2_ssl.cc
  test/core/end2end/fixtures/h2_ssl_cred_reload.cc
  test/core/end2end/fixtures/h2_ssl_proxy.cc
  test/core/end2end/fixtures/h2_uds.cc
  test/core/end2end/fixtures/inproc.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: release notes: no

#20648 Remove unused parameter warnings (13 of 20)
  test/core/transport/chttp2/bin_decoder_test.cc
  test/core/transport/chttp2/context_list_test.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_table_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/transport/stream_owned_slice_test.cc
  test/core/tsi/alts/frame_protector/alts_frame_protector_test.cc
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_utils_test.cc
Labels: release notes: no

#20670 TYPED_TEST_CASE (deprecated) -> TYPED_TEST_SUITE
  test/cpp/end2end/thread_stress_test.cc
Labels: release notes: no

#20650 Remove unused parameter warnings (11 of 20)
  test/core/iomgr/threadpool_test.cc
  test/core/iomgr/udp_server_test.cc
  test/core/memory_usage/memory_usage_test.cc
  test/core/memory_usage/server.cc
  test/core/nanopb/fuzzer_response.cc
  test/core/nanopb/fuzzer_serverlist.cc
  test/core/security/alts_credentials_fuzzer.cc
  test/core/security/alts_security_connector_test.cc
  test/core/security/credentials_test.cc
  test/core/security/jwt_verifier_test.cc
Labels: release notes: no

#20644 Remove unused parameter warnings (17 of 20)
  test/cpp/interop/client_helper.cc
  test/cpp/interop/grpclb_fallback_test.cc
  test/cpp/interop/http2_client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_server.cc
  test/cpp/interop/interop_server_bootstrap.cc
  test/cpp/interop/metrics_client.cc
  test/cpp/interop/reconnect_interop_server.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: release notes: no

#20526 Add new fields to xds policy config.
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20246 Experimental method to get a debugging only view into credentials
  include/grpcpp/impl/codegen/client_context_impl.h
  test/cpp/end2end/end2end_test.cc
Labels: release notes: no

#20681 Comment out lines that cause error "undefined reference to gpr_log"
  include/grpcpp/impl/codegen/call_op_set.h
Labels: kind/bug, lang/c++, release notes: no

#20542 Removing scheduling logic for combiners from closure initialization time to closure run time
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver.cc
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver_factory.h
  src/core/ext/filters/client_channel/resolver_registry.cc
  src/core/ext/filters/client_channel/resolver_registry.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/combiner.h
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/transport/connectivity_state.cc
  src/core/lib/transport/connectivity_state.h
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/combiner_test.cc
  test/cpp/microbenchmarks/bm_closure.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: release notes: no

#20673 Add manylinux2010_x86 wheels into artifacts
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/Python, priority/P2, release notes: yes

#20676 Eliminate a signed/unsigned comparison
  src/core/ext/filters/client_channel/xds/xds_api.cc
Labels: release notes: no

#20326 Switch to concrete classes in experimental asyncio
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
Labels: kind/internal cleanup, lang/Python, release notes: yes

#20679 Ignore EDS endpoints that are unhealthy.
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20701 Change xds_end2end_test to write out its own bootstrap files.
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_bootstrap.json
  test/cpp/end2end/xds_bootstrap_bad.json
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20726 Bump the version to v1.24.3
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: area/build, release notes: no

#20630 Honor CARES_ROOT_DIR
  cmake/cares.cmake
Labels: lang/c++, release notes: yes

#20569 Fix error when changing Protobuf item values in Visual Studio
  src/csharp/Grpc.Tools/build/_grpc/Grpc.CSharp.xml
  src/csharp/Grpc.Tools/build/_protobuf/Protobuf.CSharp.xml
Labels: lang/C#, release notes: yes

#20691 Provide length when getting serialization buffer writer
  src/csharp/Grpc.Core.Api/SerializationContext.cs
  src/csharp/Grpc.Core/Internal/DefaultSerializationContext.cs
Labels: lang/C#, release notes: yes

#20598 [AIO] Minimal AsyncIO Server
  src/proto/grpc/testing/BUILD
  src/python/grpcio/grpc/_cython/BUILD.bazel
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pxd
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio/grpc/experimental/BUILD.bazel
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_server.py
  src/python/grpcio_tests/tests_aio/benchmark/server.py
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: kind/enhancement, lang/Python, priority/P2, release notes: yes

#20736 Handoff triage duty to yashykt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#20728 Backport #20616 #20673
  setup.py
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/setup.py
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/Python, release notes: no

#20738 Updated podspec to have a sorted file list
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: area/build, platform/iOS, release notes: no

#20495 Confer Maintainer Status on @pfreixes
  MAINTAINERS.md
Labels: kind/enhancement, lang/all wrapped languages, release notes: no

#20740 Make every new issue P2
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: release notes: no

#20746 Auto-update Python documentation
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/glossary.doctree
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc/_cython.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_status/rpc_status.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_static/documentation_options.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_status.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
Labels: area/documentation, lang/Python, release notes: no

#20706 Remove unused-parameter warnings, round 2 (13 of 19)
  src/core/lib/transport/status_conversion.cc
  src/core/lib/transport/status_metadata.cc
  src/core/lib/transport/transport.cc
  src/core/lib/transport/transport.h
  src/core/tsi/alts/frame_protector/alts_unseal_privacy_integrity_crypter.cc
  src/core/tsi/alts/handshaker/alts_shared_resource.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
Labels: release notes: no

#20715 Remove unused-parameter warnings, round 2 (7 of 19)
  src/core/lib/debug/trace.h
  src/core/lib/gprpp/memory.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/http/parser.cc
  src/core/lib/iomgr/buffer_list.cc
  src/core/lib/iomgr/buffer_list.h
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
Labels: release notes: no

#20719 Remove unused-parameter warnings, round 2 (3 of 19)
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/retry_throttle.cc
  src/core/ext/filters/client_channel/service_config.h
Labels: release notes: no

#20731 removed unused rbe windows 0.23.2 toolchain
  third_party/toolchains/bazel_0.23.2_rbe_windows/BUILD
  third_party/toolchains/bazel_0.23.2_rbe_windows/cc_toolchain_config.bzl
  third_party/toolchains/bazel_0.23.2_rbe_windows/dummy_toolchain.bzl
Labels: lang/c++, platform/Windows, release notes: no

#20733 Get rid of the boringssl podspec err_data.c hack
  src/objective-c/BoringSSL-GRPC.podspec
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, release notes: no

#20576 Improve C++ distribtests
  test/distrib/cpp/run_distrib_test_cmake.sh
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
Labels: lang/c++, release notes: no

#20710 Remove unused-parameter warnings, round 2 (9 of 19)
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/timer_custom.cc
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/profiling/basic_timers.cc
  src/core/lib/security/credentials/alts/alts_credentials.cc
  src/core/lib/security/credentials/alts/grpc_alts_credentials_server_options.cc
  src/core/lib/security/credentials/fake/fake_credentials.cc
Labels: release notes: no

#20704 Remove unused-parameter warnings, round 2 (15 of 19)
  test/core/debug/stats_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fixtures/local_util.cc
  test/core/end2end/fixtures/proxy.cc
  test/core/end2end/tests/cancel_with_status.cc
  test/core/end2end/tests/disappearing_server.cc
  test/core/end2end/tests/empty_batch.cc
  test/core/end2end/tests/high_initial_seqno.cc
  test/core/end2end/tests/hpack_size.cc
  test/core/end2end/tests/idempotent_request.cc
Labels: release notes: no

#20699 Remove unused-parameter warnings, round 2 (18 of 19)
  test/core/tsi/alts/crypt/aes_gcm_test.cc
  test/core/tsi/alts/frame_protector/alts_counter_test.cc
  test/core/tsi/alts/frame_protector/alts_crypter_test.cc
  test/core/tsi/alts/frame_protector/frame_handler_test.cc
  test/core/tsi/alts/handshaker/transport_security_common_api_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_iovec_record_protocol_test.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/port_server_client.cc
  test/core/util/test_config.cc
Labels: release notes: no

#20697 Remove unused-parameter warnings, round 2 (19 of 19)
  test/core/util/test_lb_policies.cc
  test/core/util/trickle_endpoint.cc
  test/cpp/end2end/test_health_check_service_impl.cc
  test/cpp/end2end/test_service_impl.cc
  test/cpp/interop/client_helper.h
  test/cpp/microbenchmarks/callback_test_service.cc
  test/cpp/microbenchmarks/helpers.cc
  test/cpp/qps/client.h
  test/cpp/qps/usage_timer.cc
  test/cpp/util/create_test_channel.cc
Labels: kind/internal cleanup, lang/c++, release notes: no

#20758 Avoid "Unevaluated target" problems when RBE tests timeout.
  tools/internal_ci/linux/grpc_bazel_rbe_asan.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_incompatible_changes.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_msan.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_opt.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_tsan.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_ubsan.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_asan.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_msan.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_opt.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_tsan.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_ubsan.cfg
  tools/internal_ci/windows/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/windows/grpc_bazel_rbe_opt.cfg
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_opt.cfg
  tools/remote_build/rbe_common.bazelrc
  tools/remote_build/windows.bazelrc
Labels: infra/Bazel, release notes: no

#20745 Revert "Ignore EDS endpoints that are unhealthy."
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no
