Repository grpc/grpc, pull requests merged in 2019-08, with the labels that each got.

#19811 fix memory_usage_test failure
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#19621 ObjC Bazel build support
  WORKSPACE
  bazel/generate_objc.bzl
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  bazel/grpc_util.bzl
  bazel/objc_grpc_library.bzl
  src/objective-c/BUILD
  src/objective-c/examples/BUILD
  src/objective-c/examples/BazelBuildSamples/ios-sample/Podfile
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample.xcodeproj/project.pbxproj
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/AppDelegate.h
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/AppDelegate.m
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/Assets.xcassets/Contents.json
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/Base.lproj/LaunchScreen.storyboard
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/Base.lproj/Main.storyboard
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/Info.plist
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/ViewController.h
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/ViewController.m
  src/objective-c/examples/BazelBuildSamples/ios-sample/ios-sample/main.m
  src/objective-c/examples/BazelBuildSamples/messages.proto
  src/objective-c/examples/BazelBuildSamples/rmt/BUILD
  src/objective-c/examples/BazelBuildSamples/rmt/test.proto
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/ObjC, release notes: yes

#19586 Revert "Merge pull request #19583 from gnossen/revert_signal_handling"
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_common.py
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_signal_client.py
  src/python/grpcio_tests/tests/unit/_signal_handling_test.py
Labels: kind/bug, lang/Python, release notes: no

#19662 Reduce instruction count for CH2 metadata ops.
  src/core/ext/transport/chttp2/transport/incoming_metadata.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  tools/codegen/core/gen_static_metadata.py
Labels: area/performance, release notes: no

#19821 iOS UI test: fix path to generated code
  src/objective-c/manual_tests/ViewController.m
Labels: release notes: no

#19826 Bump version to v1.24.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19828 Bump version to v1.23.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19316 Add Delegating Channel
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/delegating_channel.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/delegating_channel_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes

#19465 Add Python Cancellation Example
  examples/python/cancellation/BUILD.bazel
  examples/python/cancellation/README.md
  examples/python/cancellation/client.py
  examples/python/cancellation/hash_name.proto
  examples/python/cancellation/search.py
  examples/python/cancellation/server.py
  examples/python/cancellation/test/_cancellation_example_test.py
Labels: area/documentation, lang/Python, release notes: yes

#19825 Make py3 syntax check happy
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: area/build, lang/Python, release notes: no

#19837 Dead code removal
  src/core/lib/iomgr/exec_ctx.cc
Labels: release notes: no

#19786 Few fixes to the gen_upb_api.sh script.
  tools/codegen/core/gen_upb_api.sh
Labels: release notes: no

#19839 Remove ref and unref on keep reading
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#19840 Adding src/core/ext/upb-generated in our include path.
  Makefile
  templates/Makefile.template
Labels: release notes: no

#19817 a few fixes for run_performance_tests.py flame graph generators
  tools/run_tests/performance/process_local_perf_flamegraphs.sh
  tools/run_tests/performance/process_remote_perf_flamegraphs.sh
  tools/run_tests/run_performance_tests.py
Labels: area/performance/benchmarking, release notes: no

#19846 Fix uninitialized memory in sockaddr utils
  src/core/lib/iomgr/sockaddr_utils.cc
Labels: release notes: no

#19848 Fix ServerAddress move assignment
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
Labels: release notes: no

#19299 Add wait_for_termination method to grpc.Server
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_server_wait_for_termination_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#19851 Don't use != in InlinedVector::==
  src/core/lib/gprpp/inlined_vector.h
Labels: release notes: no

#19850 Added kokoro config to run grpc_basictests_cpp_ios as part of presubmit
  tools/internal_ci/macos/pull_request/grpc_basictests_cpp_ios.cfg
Labels: release notes: no

#19853 Move ChannelExtensions (interceptor support) to Grpc.Core.Api (for v1.23.x branch)
  src/csharp/Grpc.Core.Api/Interceptors/ChannelExtensions.cs
  src/csharp/Grpc.Core/ForwardedTypes.cs
Labels: lang/C#, release notes: yes

#19862 Remove redundant and problematic memset in client_idle_filter
  src/core/ext/filters/client_idle/client_idle_filter.cc
Labels: release notes: no

#19869 Remove upb targets from BUILD
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18410 Fix watcher connectivity dead lock
  src/core/ext/filters/client_channel/channel_connectivity.cc
  test/core/end2end/tests/connectivity.cc
Labels: lang/core, release notes: no

#19615 Migrated from nanopb to upb for health
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/cpp/server/health/default_health_check_service.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#19876 Added google/protobuf/descriptor.upb.* to google_api_upb
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  cmake/upb.cmake
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/ext/upb-generated/google/protobuf/descriptor.upb.c
  src/core/ext/upb-generated/google/protobuf/descriptor.upb.h
  src/python/grpcio/grpc_core_dependencies.py
  src/upb/gen_build_yaml.py
  templates/config.m4.template
  templates/config.w32.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#19787 Added experimental tvOS and watchOS support
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/examples/RemoteTestClient/RemoteTest.podspec
  src/objective-c/examples/tvOS-sample/Podfile
  src/objective-c/examples/tvOS-sample/tvOS-sample.xcodeproj/project.pbxproj
  src/objective-c/examples/tvOS-sample/tvOS-sample.xcodeproj/xcshareddata/xcschemes/tvOS-sample.xcscheme
  src/objective-c/examples/tvOS-sample/tvOS-sample/AppDelegate.h
  src/objective-c/examples/tvOS-sample/tvOS-sample/AppDelegate.m
  src/objective-c/examples/tvOS-sample/tvOS-sample/Base.lproj/Main.storyboard
  src/objective-c/examples/tvOS-sample/tvOS-sample/Info.plist
  src/objective-c/examples/tvOS-sample/tvOS-sample/ViewController.h
  src/objective-c/examples/tvOS-sample/tvOS-sample/ViewController.m
  src/objective-c/examples/tvOS-sample/tvOS-sample/main.m
  src/objective-c/examples/watchOS-sample/Podfile
  src/objective-c/examples/watchOS-sample/WatchKit-App/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/objective-c/examples/watchOS-sample/WatchKit-App/Base.lproj/Interface.storyboard
  src/objective-c/examples/watchOS-sample/WatchKit-App/Info.plist
  src/objective-c/examples/watchOS-sample/WatchKit-Extension/ExtensionDelegate.h
  src/objective-c/examples/watchOS-sample/WatchKit-Extension/ExtensionDelegate.m
  src/objective-c/examples/watchOS-sample/WatchKit-Extension/Info.plist
  src/objective-c/examples/watchOS-sample/WatchKit-Extension/InterfaceController.h
  src/objective-c/examples/watchOS-sample/WatchKit-Extension/InterfaceController.m
  src/objective-c/examples/watchOS-sample/watchOS-sample.xcodeproj/project.pbxproj
  src/objective-c/examples/watchOS-sample/watchOS-sample.xcodeproj/xcshareddata/xcschemes/watchOS-sample-WatchKit-App.xcscheme
  src/objective-c/examples/watchOS-sample/watchOS-sample/AppDelegate.h
  src/objective-c/examples/watchOS-sample/watchOS-sample/AppDelegate.m
  src/objective-c/examples/watchOS-sample/watchOS-sample/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/objective-c/examples/watchOS-sample/watchOS-sample/Base.lproj/LaunchScreen.storyboard
  src/objective-c/examples/watchOS-sample/watchOS-sample/Base.lproj/Main.storyboard
  src/objective-c/examples/watchOS-sample/watchOS-sample/Info.plist
  src/objective-c/examples/watchOS-sample/watchOS-sample/ViewController.h
  src/objective-c/examples/watchOS-sample/watchOS-sample/ViewController.m
  src/objective-c/examples/watchOS-sample/watchOS-sample/main.m
  src/objective-c/tests/Podfile
  src/objective-c/tests/RemoteTestClient/RemoteTest.podspec
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/objective-c/tests/Tests.xcodeproj/xcshareddata/xcschemes/TvTests.xcscheme
  src/objective-c/tests/TvTests/Info.plist
  src/objective-c/tests/build_one_example.sh
  templates/gRPC-Core.podspec.template
  templates/gRPC-ProtoRPC.podspec.template
  templates/gRPC-RxLibrary.podspec.template
  templates/gRPC.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCPlugin.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  tools/internal_ci/macos/grpc_basictests_objc_tvos.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_objc_tvos.cfg
  tools/run_tests/run_tests.py
Labels: lang/ObjC, release notes: yes

#19740 Migrated from nanopb to upb for grpclb
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/load_balancer_api.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/nanopb/fuzzer_response.cc
  test/core/nanopb/fuzzer_serverlist.cc
  test/cpp/grpclb/grpclb_api_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18937 Expose cycle counter and use it in /channelz.
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/gpr/time_precise.cc
  src/core/lib/gpr/time_precise.h
  src/core/lib/gprpp/inlined_vector.h
  test/core/channel/channelz_test.cc
Labels: area/performance, lang/core, release notes: no

#19865 Log goaway only if it ended with a non NO_ERROR code
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#19822 Separate py_grpc_library and py_proto_library.
  WORKSPACE
  bazel/grpc_deps.bzl
  bazel/grpc_python_deps.bzl
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/.gitignore
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/README.md
  bazel/test/python_test_repo/WORKSPACE
  bazel/test/python_test_repo/helloworld.proto
  bazel/test/python_test_repo/helloworld.py
  bazel/test/python_test_repo/tools/bazel
  examples/BUILD
  examples/python/auth/BUILD.bazel
  examples/python/cancellation/BUILD.bazel
  examples/python/compression/BUILD.bazel
  examples/python/debug/BUILD.bazel
  examples/python/debug/get_stats.py
  examples/python/errors/BUILD.bazel
  examples/python/multiprocessing/BUILD
  examples/python/wait_for_ready/BUILD.bazel
  src/proto/grpc/testing/BUILD
  src/proto/grpc/testing/proto2/BUILD.bazel
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/experimental/BUILD.bazel
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_channelz/grpc_channelz/v1/channelz.py
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/reflection.py
  src/python/grpcio_status/grpc_status/BUILD.bazel
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  third_party/BUILD
  third_party/enum34.BUILD
  third_party/futures.BUILD
  third_party/six.BUILD
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: area/build, kind/enhancement, lang/Python, release notes: yes

#19879 Fix upb build typo
  BUILD.gn
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/health/health.pb.c
  src/core/ext/filters/client_channel/health/health.pb.h
  src/upb/gen_build_yaml.py
  tools/distrib/check_copyright.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/sanity/sanity_tests.yaml
Labels: release notes: no

#19823 s/gpr_ref/grpc_core::RefCount/ for frequent users.
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/server.cc
Labels: area/performance, release notes: no

#19882 Added upb to python manifest
  PYTHON-MANIFEST.in
Labels: release notes: no

#19824 Cache CH2 trace flag at hpack parser init.
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
Labels: area/performance, release notes: no

#19884 Added upb *.inc to python manifest
  PYTHON-MANIFEST.in
Labels: release notes: no

#19886 Fix channel args cmp
  src/core/lib/channel/channel_args.cc
Labels: release notes: no

#19852 Quit waiting for a day
  examples/python/auth/customized_auth_client.py
  examples/python/auth/customized_auth_server.py
  examples/python/auth/test/_auth_example_test.py
  examples/python/cancellation/server.py
  examples/python/compression/server.py
  examples/python/debug/debug_server.py
  examples/python/errors/server.py
  examples/python/helloworld/greeter_server.py
  examples/python/helloworld/greeter_server_with_reflection.py
  examples/python/interceptors/headers/greeter_server.py
  examples/python/metadata/metadata_server.py
  examples/python/multiplex/multiplex_server.py
  examples/python/route_guide/route_guide_server.py
  examples/python/wait_for_ready/wait_for_ready_example.py
  src/python/grpcio_tests/tests/interop/server.py
Labels: area/documentation, lang/Python, release notes: no

#19883 Disable nanopb fuzzer test
  test/core/nanopb/fuzzer_response.cc
  test/core/nanopb/fuzzer_serverlist.cc
Labels: release notes: no

#18745 Use EDS in xDS policy
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/grpclb/proto/grpc/lb/v1/google/protobuf/duration.pb.c
  src/core/ext/filters/client_channel/lb_policy/grpclb/proto/grpc/lb/v1/google/protobuf/duration.pb.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/proto/grpc/lb/v1/google/protobuf/timestamp.pb.c
  src/core/ext/filters/client_channel/lb_policy/grpclb/proto/grpc/lb/v1/google/protobuf/timestamp.pb.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/proto/grpc/lb/v1/load_balancer.pb.c
  src/core/ext/filters/client_channel/lb_policy/grpclb/proto/grpc/lb/v1/load_balancer.pb.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/proto/grpc/lb/v2/BUILD
  src/proto/grpc/lb/v2/xds_for_test.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/codegen/core/gen_static_metadata.py
  tools/distrib/check_nanopb_output.sh
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: area/client channel, lang/c++, release notes: no

#19891 Excluded *.inc from python distribution cleanup
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: release notes: no

#19892 Removed nanopb dependency from xDS
  BUILD
Labels: release notes: no

#19741 Migrated from nanopb to upb for alts
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_handshaker_service_api.cc
  src/core/tsi/alts/handshaker/alts_handshaker_service_api.h
  src/core/tsi/alts/handshaker/alts_handshaker_service_api_util.cc
  src/core/tsi/alts/handshaker/alts_handshaker_service_api_util.h
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  src/core/tsi/alts/handshaker/alts_tsi_utils.cc
  src/core/tsi/alts/handshaker/alts_tsi_utils.h
  src/core/tsi/alts/handshaker/altscontext.pb.c
  src/core/tsi/alts/handshaker/altscontext.pb.h
  src/core/tsi/alts/handshaker/handshaker.pb.c
  src/core/tsi/alts/handshaker/handshaker.pb.h
  src/core/tsi/alts/handshaker/transport_security_common.pb.c
  src/core/tsi/alts/handshaker/transport_security_common.pb.h
  src/core/tsi/alts/handshaker/transport_security_common_api.cc
  src/core/tsi/alts/handshaker/transport_security_common_api.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/tsi/alts/handshaker/BUILD
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_handshaker_service_api_test.cc
  test/core/tsi/alts/handshaker/alts_handshaker_service_api_test_lib.cc
  test/core/tsi/alts/handshaker/alts_handshaker_service_api_test_lib.h
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_utils_test.cc
  test/core/tsi/alts/handshaker/transport_security_common_api_test.cc
  tools/distrib/check_nanopb_output.sh
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#19894 Comment deprecated macros
  src/core/lib/gprpp/memory.h
Labels: release notes: no

#19897 Added missing configs for tvos tests
  src/objective-c/tests/Podfile
  src/objective-c/tests/run_one_test.sh
Labels: lang/ObjC, release notes: no

#19394 Use LRS to do client-side load reporting
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/lib/gprpp/atomic.h
  src/core/lib/gprpp/map.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/proto/grpc/lb/v2/BUILD
  src/proto/grpc/lb/v2/eds_for_test.proto
  src/proto/grpc/lb/v2/lrs_for_test.proto
  test/core/end2end/fuzzers/hpack.dictionary
  test/core/util/test_lb_policies.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/codegen/core/gen_static_metadata.py
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#19859 Fix key gen in locality picking
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
Labels: release notes: no

#19868 Fail SEND_MESSAGE ops if stream is closed for writes
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/surface/call.cc
  src/core/lib/transport/transport.h
Labels: lang/core, release notes: yes

#19902 Don't use : prefix
  src/proto/grpc/lb/v2/BUILD
Labels: release notes: no

#19729 Add drop in xds
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#19833 Allow SSL TSI to recognize URI and email SAN fields in X.509 certificates
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/core/tsi/test_creds/BUILD
  src/core/tsi/test_creds/multi-domain.key
  src/core/tsi/test_creds/multi-domain.pem
  test/core/tsi/BUILD
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/all wrapped languages, release notes: yes

#19263 Mandate static string for host and method passed to grpc_channel_register
  Makefile
  build.yaml
  build_config.rb
  include/grpc/grpc.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: yes

#19860 Update C++ code generation to work with Bazel 0.29 .
  bazel/protobuf.bzl
Labels: area/build, kind/bug, kokoro:run, lang/c++, release notes: yes

#19912 Wait longer before sending the drop update
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#19346 Add client-side credential reload to spiffe security connector
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.def
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/spiffe_credentials.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/spiffe_security_connector.cc
  src/core/lib/security/security_connector/tls/spiffe_security_connector.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fixtures/h2_spiffe.cc
  test/core/security/BUILD
  test/core/security/spiffe_security_connector_test.cc
  test/core/surface/public_headers_must_be_c89.c
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#19906 Added missing resources for tvos Tests
  src/objective-c/GRPCClient/GRPCCall+Tests.m
  src/objective-c/tests/Podfile
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
Labels: lang/ObjC, release notes: no

#19820 Send RPC deadline to server in cronet header
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  test/cpp/ios/CronetTests/CppCronetEnd2EndTests.mm
Labels: lang/core, release notes: yes

#19849 Remove references to GRPCConnectivityMonitor from ConnectivityTestingApp
  src/objective-c/tests/Connectivity/ConnectivityTestingApp/ViewController.m
Labels: release notes: no

#19920 Directly use the ZeroCopyInputStream for grpc::GenericDeserialize.
  include/grpcpp/impl/codegen/proto_utils.h
Labels: release notes: no

#19838 Fixed time_change_test flakes
  test/cpp/end2end/time_change_test.cc
Labels: release notes: no

#19893 Allow loading grpc/errors.rb before grpc.rb
  src/ruby/end2end/errors_load_before_grpc_lib.rb
  src/ruby/end2end/logger_load_before_grpc_lib.rb
  src/ruby/end2end/status_codes_load_before_grpc_lib.rb
  src/ruby/ext/grpc/rb_grpc.c
  src/ruby/lib/grpc.rb
  src/ruby/lib/grpc/core/status_codes.rb
  src/ruby/lib/grpc/errors.rb
  tools/run_tests/helper_scripts/run_ruby_end2end_tests.sh
Labels: lang/ruby, release notes: yes

#19922 Remove unnecessary notification
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#19924 Prevent HTTP2 parser from queueing a lot of induced frames
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: yes

#19858 Add tests for xds locality map
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#19914 Remove unused code as comment
  .gitignore
  tools/run_tests/run_tests.py
Labels: lang/ObjC, release notes: no

#19934 Backport #19924 to v1.22.x
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: yes

#19753 Add 1.21.1 and 1.22.1 of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#19935 Backport #19924 to v1.23.x
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: yes

#19936 Change xds args to const
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
Labels: release notes: no

#19950 Bump version to v1.23.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19951 Add accessor declaration for ClientContext
  include/grpcpp/impl/codegen/client_context_impl.h
Labels: release notes: no

#19930 Make map's compare to use const
  src/core/ext/filters/client_channel/lb_policy/xds/xds_client_stats.h
  src/core/lib/gprpp/map.h
Labels: release notes: no

#19713 Added overloads for metadata add/remove when static index is known.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
Labels: area/performance, release notes: no

#19885 Add support for running C++ tests on iOS
  bazel/grpc_build_system.bzl
  src/proto/grpc/testing/BUILD
  test/cpp/end2end/BUILD
  test/cpp/end2end/filter_end2end_test.cc
  test/cpp/util/BUILD
  third_party/objective_c/google_toolbox_for_mac/BUILD
  third_party/objective_c/google_toolbox_for_mac/UnitTesting/GTMGoogleTestRunner.mm
  tools/internal_ci/macos/grpc_bazel_cpp_ios_tests.cfg
  tools/internal_ci/macos/grpc_run_bazel_cpp_ios_tests.sh
Labels: release notes: no

#19952 Bump version to v1.22.1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19649 doc/statuscodes.md: Remove HTTP status codes
  doc/statuscodes.md
Labels: release notes: no

#19940 Allow Ruby style (::) package names in Ruby codegen
  src/compiler/ruby_generator.cc
  src/compiler/ruby_generator_string-inl.h
  src/ruby/spec/pb/codegen/grpc/testing/package_options_import.proto
  src/ruby/spec/pb/codegen/grpc/testing/package_options_ruby_style.proto
  src/ruby/spec/pb/codegen/package_option_spec.rb
Labels: lang/ruby, release notes: yes

#19939 Define Struct::Status in Ruby
  src/ruby/end2end/errors_load_before_grpc_lib.rb
  src/ruby/ext/grpc/rb_grpc.c
  src/ruby/lib/grpc.rb
  src/ruby/lib/grpc/errors.rb
  src/ruby/lib/grpc/google_rpc_status_utils.rb
  src/ruby/lib/grpc/structs.rb
  src/ruby/spec/errors_spec.rb
Labels: lang/ruby, priority/P0/RELEASE BLOCKER, release notes: yes

#19943 Change cc to c++
  CMakeLists.txt
  Makefile
  build.yaml
  tools/run_tests/generated/sources_and_headers.json
Labels: area/build, release notes: no

#19968 Do not create streams after a GOAWAY has been received
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: yes

#19827 Handle EDS response update in locality map
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#19944 Remove sources_and_headers.json
  templates/tools/run_tests/generated/sources_and_headers.json.template
  tools/run_tests/generated/sources_and_headers.json
Labels: area/build, release notes: no

#19965 Add check_attrs & clean-up build.yaml
  CMakeLists.txt
  build.yaml
  src/benchmark/gen_build_yaml.py
  src/boringssl/gen_build_yaml.py
  src/c-ares/gen_build_yaml.py
  src/objective-c/tests/run_one_test_bazel.sh
  src/zlib/gen_build_yaml.py
  test/core/bad_client/gen_build_yaml.py
  tools/buildgen/plugins/check_attrs.py
Labels: area/build, release notes: no

#19980 GRPC_ARG_HTTP2_MIN_SENT_PING_INTERVAL_WITHOUT_DATA_MS is based on data frames being received
  doc/keepalive.md
Labels: release notes: no

#19727 Channel idleness atomic
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_idle/client_idle_filter.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: yes

#19789 update grpc and protobuf compatibility table
  src/php/README.md
Labels: area/documentation, release notes: no

#19946 Add xds resolver
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/service_config_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#19986 Fix internal lint warnings.
  src/benchmark/gen_build_yaml.py
  src/boringssl/gen_build_yaml.py
Labels: area/build, kind/internal cleanup, lang/core, release notes: no

#19989 Fix unused result error
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#19994 Add issue/pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#19988 Gracefully handle exceptions raised by signal handlers on the main thread while unary RPCs are in flight.
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio_tests/tests/unit/_signal_client.py
  src/python/grpcio_tests/tests/unit/_signal_handling_test.py
Labels: kind/bug, lang/Python, release notes: yes

#20000 Bump YAPF to use Python 3
  tools/distrib/yapf_code.sh
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/Python, release notes: no

#20008 Add a developer trick to the installation doc, reorganize a bit
  BUILDING.md
Labels: lang/c++, release notes: no

#20006 Fix warning in client_idle_filter.cc to support gcc8
  src/core/ext/filters/client_idle/client_idle_filter.cc
Labels: lang/c++, release notes: no

#19991 Repo stats tracking
  tools/gcp/github_stats_tracking/app.yaml
  tools/gcp/github_stats_tracking/appengine_config.py
  tools/gcp/github_stats_tracking/cron.yaml
  tools/gcp/github_stats_tracking/fetch_data.py
  tools/gcp/github_stats_tracking/main.py
Labels: release notes: no

#20015 Gracefully handle errors from Future object callbacks.
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio_tests/tests/unit/_channel_close_test.py
Labels: area/concurrency, kind/bug, lang/Python, release notes: yes

#20010 Add v1.23.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#20004 Fixing gcc8's no-unknown-warning-option issue.
  Makefile
  build.yaml
  grpc.gyp
  templates/Makefile.template
  test/build/no-unknown-warning-option.c
Labels: release notes: no

#20013 Make default vtable for pointer argumnet a constant
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/tag.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/tag.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/vtable.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/vtable.pyx.pxi
Labels: lang/Python, release notes: yes

#19979 Ignore Visual Studio Code configurations
  .gitignore
Labels: lang/other, release notes: no

#20019 Fix warnings to unblock gcc8 support
  test/core/http/httpcli_test.cc
  test/core/http/httpscli_test.cc
  test/core/http/parser_test.cc
  test/core/http/response_fuzzer.cc
  test/core/security/credentials_test.cc
  test/core/security/jwt_verifier_test.cc
  test/core/security/oauth2_utils.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: release notes: no

#19984 Enforce abstract class rule
  test/core/channel/channelz_registry_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#19992 use stricter memory order in client_idle_filter
  src/core/ext/filters/client_idle/client_idle_filter.cc
Labels: release notes: no

#20021 Add v1.22.1 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#20018 Fix issue/PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
Labels: release notes: no

#19993 Add run: false to grpclb_fallback_test in build.yaml
  Makefile
  build.yaml
  tools/run_tests/generated/tests.json
Labels: lang/c++, priority/P1, release notes: no

#19911 Add gnossen and remove vjpai as bazel/** owner.
  .github/CODEOWNERS
  bazel/OWNERS
Labels: lang/other, release notes: no

#19948 Added test for timer wakeups
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/lib/iomgr/timer_manager.cc
  src/core/lib/iomgr/timer_manager.h
  test/cpp/common/BUILD
  test/cpp/common/timer_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20031 cfstream_test: workaround Apple CFStream bug
  CMakeLists.txt
  test/cpp/end2end/cfstream_test.cc
Labels: release notes: no

#20002 Increase timeout for macos/grpc-node test to 120 minutes
  tools/internal_ci/macos/grpc_basictests_node.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_node.cfg
Labels: area/test, release notes: no

#20040 Skip timer test when running under event manager
  test/cpp/common/timer_test.cc
Labels: release notes: no

#20048 Fix gettid() naming conflict
  src/core/lib/gpr/log_linux.cc
Labels: release notes: no

#19971 Expose local credentials on Python layer
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_api_test.py
  src/python/grpcio_tests/tests/unit/_local_credentials_test.py
Labels: lang/Python, release notes: yes

#20044 Make Map<> copyable.
  src/core/lib/gprpp/map.h
  test/core/gprpp/map_test.cc
Labels: release notes: no

#20045 Add .history to .gitignore
  .gitignore
Labels: release notes: no

#20047 Remove all nanopb defines
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gyp
  setup.py
  src/objective-c/tests/BUILD
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  templates/CMakeLists.txt.template
  templates/config.m4.template
  templates/config.w32.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/project.pbxproj
  tools/bazel.rc
  tools/distrib/check_nanopb_output.sh
Labels: release notes: no

#20050 timer_test: add test case for grpc shutdown while timer is pending
  test/cpp/common/timer_test.cc
Labels: release notes: no

#20057 Improve comment
  test/cpp/end2end/client_interceptors_end2end_test.cc
Labels: release notes: no

#20055 More strict C++
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/lib/channel/channelz.h
Labels: lang/c++, release notes: no

#19932 Update client_matrix.py for java releases
  tools/interop_matrix/client_matrix.py
Labels: lang/Java, release notes: no

#19942 Add v1.21.3 and v1.22.2 releases of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: lang/go, release notes: no

#19784 Update Unity C# Scripting Runtime Version in README
  src/csharp/experimental/README.md
Labels: lang/C#, release notes: no

#20074 Only run libuv portability tests as build-only
  tools/run_tests/run_tests_matrix.py
Labels: lang/c++, release notes: no

#20092 Make python dockerfiles buildable again
  templates/tools/dockerfile/debian_testing_repo.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/python_stretch.include
  templates/tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile.template
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/get_cpython.sh
  tools/dockerfile/test/sanity/Dockerfile
Labels: lang/Python, release notes: no

#20099 enable compute_engine_creds and jwt_token_creds interop tests for managed dotnet client
  tools/run_tests/run_interop_tests.py
Labels: lang/C#, release notes: no

#20091 Fix race in bm_chttp2_transport
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++, priority/P1, release notes: no

#20097 Upgrade to Bazel 0.28.1
  BUILD
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  bazel/grpc_python_deps.bzl
  bazel/python_rules.bzl
  examples/python/auth/BUILD.bazel
  examples/python/cancellation/BUILD.bazel
  examples/python/compression/BUILD.bazel
  examples/python/debug/BUILD.bazel
  examples/python/errors/BUILD.bazel
  examples/python/multiprocessing/BUILD
  examples/python/wait_for_ready/BUILD.bazel
  src/python/grpcio_tests/tests/channelz/BUILD.bazel
  src/python/grpcio_tests/tests/health_check/BUILD.bazel
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_cython/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/foundation/BUILD.bazel
  templates/tools/dockerfile/bazel.include
  third_party/py/BUILD.tpl
  third_party/py/python_configure.bzl
  third_party/py/remote.BUILD.tpl
  third_party/py/variety.tpl
  tools/bazel
  tools/bazel.rc
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/remote_build/kokoro.bazelrc
  tools/remote_build/manual.bazelrc
  tools/remote_build/rbe_common.bazelrc
Labels: area/build, lang/Python, release notes: no

#20022 Refactor response building in xds test
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20058 Init needs to be called in case of bad creds
  src/cpp/client/create_channel.cc
Labels: release notes: no

#20065 Add test for timer expiry racing with cancelation
  test/cpp/common/timer_test.cc
Labels: release notes: no

#20076 enable grpc-dotnet client compression interop tests
  tools/run_tests/run_interop_tests.py
Labels: lang/C#, release notes: no

#20039 Apply health check service name changes to existing subchannels.
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#16452 Test message size of 100MB
  test/core/util/test_config.cc
  test/core/util/test_config.h
  test/cpp/end2end/async_end2end_test.cc
Labels: release notes: no

#20120 Revert "Merge pull request #20097 from gnossen/dual_version_python_te…
  BUILD
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  bazel/grpc_python_deps.bzl
  bazel/python_rules.bzl
  examples/python/auth/BUILD.bazel
  examples/python/cancellation/BUILD.bazel
  examples/python/compression/BUILD.bazel
  examples/python/debug/BUILD.bazel
  examples/python/errors/BUILD.bazel
  examples/python/multiprocessing/BUILD
  examples/python/wait_for_ready/BUILD.bazel
  src/python/grpcio_tests/tests/channelz/BUILD.bazel
  src/python/grpcio_tests/tests/health_check/BUILD.bazel
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_cython/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/foundation/BUILD.bazel
  templates/tools/dockerfile/bazel.include
  third_party/py/BUILD.tpl
  third_party/py/python_configure.bzl
  third_party/py/remote.BUILD.tpl
  third_party/py/variety.tpl
  tools/bazel
  tools/bazel.rc
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/remote_build/kokoro.bazelrc
  tools/remote_build/manual.bazelrc
  tools/remote_build/rbe_common.bazelrc
Labels: area/build, lang/Python, release notes: no

#19351 Fix typo
  src/proto/grpc/channelz/channelz.proto
Labels: lang/c++, release notes: no

#20105 Added test for time jumps
  test/cpp/common/BUILD
  test/cpp/common/time_jump_test.cc
  tools/internal_ci/macos/grpc_run_bazel_tests.sh
Labels: release notes: no

#20129 Auto-update Python documentation for v1.23.0
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/glossary.doctree
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_channelz.doctree
  python/.doctrees/grpc_health_checking.doctree
  python/.doctrees/grpc_reflection.doctree
  python/.doctrees/grpc_status.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc/_cython.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_status/rpc_status.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_static/documentation_options.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_status.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
  python/searchindex.js
Labels: lang/Python, release notes: no

#20131 Log errors in ALTS handshaker initial op completion cb
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
Labels: lang/core, release notes: no

#20126 Remove build target for microbenchmark
  test/cpp/microbenchmarks/BUILD
Labels: release notes: no

#19507 Added documentation for C++ tests on iOS
  test/cpp/README-iOS.md
Labels: release notes: no

#20110 Fix ubsan on InternNewStringLocked
  src/core/lib/slice/slice_intern.cc
Labels: area/core, release notes: no

#20109 Fix buffer-overflow in grpc_static_mdelem_for_static_strings
  src/core/lib/transport/static_metadata.cc
  test/core/transport/BUILD
  test/core/transport/static_metadata_test.cc
  tools/codegen/core/gen_static_metadata.py
Labels: area/core, release notes: no

#20139 Fix a big source of races in CHTTP2 code
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/c++, release notes: yes

#20128 Remove call from queued picks when failing it due to channel destruction
  src/core/ext/filters/client_channel/client_channel.cc
Labels: lang/core, release notes: yes
