Repository grpc/grpc, pull requests merged in 2019-01, with the labels that each got.

#17586 * Fixed issue(17563) "Freeing heap block containing an active critical section."
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/transport/metadata.cc
Labels: release notes: no

#17611 Reintroduce tcp windows improvements
  src/core/lib/iomgr/tcp_windows.cc
  test/core/end2end/fixtures/h2_full+trace.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
Labels: lang/core, platform/Windows, priority/P0/RELEASE BLOCKER, release notes: yes

#17612 Revert "Implement a lock-free fast path for queue_call_request()"
  src/core/lib/surface/server.cc
Labels: lang/core, release notes: yes

#17249 Use 32 bit nanopb fields
  CMakeLists.txt
  gRPC-Core.podspec
  setup.py
  templates/CMakeLists.txt.template
  templates/gRPC-Core.podspec.template
Labels: lang/core, release notes: yes

#17613 Fix internal BUILD
  test/core/memory_usage/BUILD
Labels: area/build, lang/c++, release notes: no

#17609 New Experimental Interception API - GetSendMessage and GetSerializedSendMessage
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/impl/codegen/interceptor_common.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/impl/codegen/sync_stream.h
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
Labels: lang/c++, release notes: yes

#17461 Add support for Callback Client Streaming benchmarks
  test/cpp/qps/client.h
  test/cpp/qps/client_callback.cc
Labels: lang/c++, release notes: no

#17627 Change the version suffix from dev to pre1 and regenerate projects
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#17626 Prepare master for the next release v1.19.x aka gold
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#17634 Pin bundler in ruby interop build
  tools/dockerfile/interoptest/grpc_interop_ruby/build_interop.sh
Labels: lang/ruby, release notes: no

#17608 Add client interceptor test for bidi streaming hijacking interceptor
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/interceptors_util.cc
  test/cpp/end2end/interceptors_util.h
Labels: release notes: no

#17641 Do not reload grpc in unit tests
  src/python/grpcio_tests/tests/unit/_logging_test.py
Labels: lang/Python, release notes: no

#17642 restore cython flag value to default after test
  src/python/grpcio_tests/tests/unit/_cython/_fork_test.py
Labels: lang/Python, release notes: no

#17220 Add interceptor method to fail hijacked send messages and get status on POST_SEND_MESSAGE
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/impl/codegen/interceptor_common.h
  test/cpp/end2end/client_interceptors_end2end_test.cc
Labels: lang/c++, release notes: yes

#17635 Fix out of disk space flake in run_interop_matrix_tests.py
  tools/internal_ci/linux/grpc_interop_matrix.sh
  tools/interop_matrix/run_interop_matrix_tests.py
Labels: release notes: no

#17647 clang-format all the files.
  src/csharp/Grpc.Core/Interceptors/ServerServiceDefinitionExtensions.cs
  test/cpp/qps/gen_build_yaml.py
Labels: release notes: no

#17279 Include linux/version.h for manylinux
  include/grpc/impl/codegen/port_platform.h
Labels: release notes: no

#17630 Modifying semantics for GetSendMessage and GetSerializedSendMessage. Also adding ModifySendMessage
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/impl/codegen/interceptor_common.h
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
Labels: lang/c++, release notes: yes

#17629 Remove filters from subchannel args
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_index.cc
  src/core/lib/surface/channel_init.h
  src/cpp/common/channel_filter.h
Labels: lang/core, release notes: yes

#17654 Update API docs according to #17630
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/interceptor.h
Labels: release notes: no

#17655 Use the WriteOptions in Client Callback API
  include/grpcpp/impl/codegen/client_callback.h
Labels: release notes: no

#17427 Allow skipping runtimes for releases in interop_matrix. Add go v1.17.0.
  templates/tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_go1.11/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/build_interop.sh
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/create_matrix_images.py
  tools/interop_matrix/run_interop_matrix_tests.py
Labels: release notes: no

#17665 Remove state_watcher from subchannel
  src/core/ext/filters/client_channel/subchannel.cc
Labels: release notes: no

#16187 Support named scope id's in grpc_parse_ipv6 on posix platforms
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/port_platform.h
  package.xml
  src/core/ext/filters/client_channel/parse_address.cc
  src/core/lib/iomgr/grpc_if_nametoindex.h
  src/core/lib/iomgr/grpc_if_nametoindex_posix.cc
  src/core/lib/iomgr/grpc_if_nametoindex_unsupported.cc
  src/core/lib/iomgr/port.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/parse_address_with_named_scope_id_test.cc
  test/core/iomgr/BUILD
  test/core/iomgr/resolve_address_posix_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: area/core, lang/all wrapped languages, release notes: yes

#17666 Reenable tcp server posix test after applying workaround
  test/core/iomgr/BUILD
  test/core/iomgr/tcp_server_posix_test.cc
Labels: release notes: no

#17668 Remove subchannel args
  src/core/ext/filters/client_channel/client_channel_factory.cc
  src/core/ext/filters/client_channel/client_channel_factory.h
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_index.cc
  src/core/ext/filters/client_channel/subchannel_index.h
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: release notes: no

#17673 Switch to absolute import
  src/python/grpcio/grpc/__init__.py
Labels: lang/Python, release notes: no

#17675 correctly name __dealloc__ method
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
Labels: lang/Python, release notes: no

#17660 interop_matrix: refactor LANG_RELEASE_MATRIX
  tools/interop_matrix/README.md
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/create_matrix_images.py
  tools/interop_matrix/run_interop_matrix_tests.py
Labels: lang/all wrapped languages, release notes: no

#17658 Avoid the thread jump in server callback APIs.
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/ev_posix.h
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/iomgr/iomgr.h
  src/core/lib/iomgr/iomgr_custom.cc
  src/core/lib/iomgr/iomgr_internal.cc
  src/core/lib/iomgr/iomgr_internal.h
  src/core/lib/iomgr/iomgr_posix.cc
  src/core/lib/iomgr/iomgr_posix_cfstream.cc
  src/core/lib/iomgr/iomgr_windows.cc
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
Labels: lang/core, release notes: no

#17682 Attempt to fix homebrew installation problem
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, release notes: no

#17671 interop_matrix: introduce runtime_subset and more cleanup.
  tools/interop_matrix/README.md
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/create_matrix_images.py
Labels: lang/all wrapped languages, release notes: no

#17683 Remove hostname trailing slash
  src/objective-c/GRPCClient/private/GRPCChannelPool.m
Labels: lang/ObjC, release notes: no

#17628 Cronet batch fixes
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core, release notes: no

#17679 Add new keyvaluestore proto in examples
  examples/BUILD
  examples/protos/keyvaluestore.proto
Labels: kokoro:force-run, release notes: no

#16862 Switch the default DNS resolver from native to c-ares
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/surface/concurrent_connectivity_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
Labels: lang/all wrapped languages, lang/c++, release notes: yes

#17687 Naive client server implementation for key value service example
  examples/BUILD
  examples/cpp/keyvaluestore/client.cc
  examples/cpp/keyvaluestore/server.cc
Labels: release notes: no

#17684 Fix build with bazel 0.21
  bazel/grpc_deps.bzl
Labels: lang/c++, release notes: yes

#17691 Fix CoreCodegen initialization (destruction) bug
  include/grpcpp/impl/grpc_library.h
Labels: lang/c++, release notes: no

#17696 Revert turning c-ares on by default
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
Labels: lang/core, release notes: no

#17698 avoid AttributeError when object init fails
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_server.py
Labels: lang/Python, release notes: no

#17699 avoid AttributeError when object init fails
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_server.py
Labels: lang/Python, release notes: no

#17690 Resolve compiler warnings from new API
  src/compiler/objective_c_generator.cc
Labels: lang/ObjC, release notes: no

#17280 Enable Pylint for Python examples
  .pylintrc-examples
  examples/python/helloworld/greeter_client_with_options.py
  tools/distrib/pylint_code.sh
Labels: kind/enhancement, lang/Python, release notes: no

#17677 Fix a rare interop infrastructure flake.
  tools/run_tests/dockerize/build_interop_image.sh
Labels: lang/all wrapped languages, release notes: no

#17697 Remove network_status_tracker
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/iomgr/network_status_tracker.cc
  src/core/lib/iomgr/network_status_tracker.h
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_uv.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/objective-c/tests/CoreCronetEnd2EndTests/CoreCronetEnd2EndTests.mm
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/gen_build_yaml.py
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/network_status_change.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#17712 Releasing v1.18.x
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#17709 update default settings for RBE
  third_party/toolchains/BUILD
  tools/remote_build/rbe_common.bazelrc
Labels: area/build

#17720 Remove force_creation param from subchannel index
  src/core/ext/filters/client_channel/subchannel_index.cc
  src/core/ext/filters/client_channel/subchannel_index.h
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: kind/internal cleanup, release notes: no

#17721 Add grpc-java 1.18.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#17722 Fix the wrong version number on Python documentation
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_static/documentation_options.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
  python/searchindex.js
Labels: area/documentation, lang/Python, release notes: no

#17513 Enable per-channel subchannel pool
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/grpc_types.h
  package.xml
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/global_subchannel_pool.cc
  src/core/ext/filters/client_channel/global_subchannel_pool.h
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/local_subchannel_pool.cc
  src/core/ext/filters/client_channel/local_subchannel_pool.h
  src/core/ext/filters/client_channel/request_routing.cc
  src/core/ext/filters/client_channel/request_routing.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_pool_interface.cc
  src/core/ext/filters/client_channel/subchannel_pool_interface.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++, release notes: yes

#17737 Increase C++ podspec version
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, platform/iOS, release notes: no

#17736 Clean up debug messages
  src/objective-c/GRPCClient/GRPCCall.m
Labels: lang/ObjC, release notes: no

#17718 Correct a format string
  src/core/lib/gpr/log_posix.cc
Labels: lang/core, release notes: no

#17738 Remove Unneeded Lock
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: area/channelz, kind/bug, lang/core, priority/P2, release notes: no

#17742 Get the ruby interop client buildable at the 1.18.0 tag
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/patches/ruby_v1.18.0/git_repo.patch
Labels: lang/ruby, release notes: no

#17750 Experiment, attempt to fix brew update
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, release notes: no

#17733 Make C# ServerCallContext implementation agnostic
  src/csharp/Grpc.Core.Testing/TestServerCallContext.cs
  src/csharp/Grpc.Core/Internal/DefaultServerCallContext.cs
  src/csharp/Grpc.Core/Internal/IServerResponseStream.cs
  src/csharp/Grpc.Core/Internal/ServerCallHandler.cs
  src/csharp/Grpc.Core/Internal/ServerResponseStream.cs
  src/csharp/Grpc.Core/ServerCallContext.cs
Labels: lang/C#, release notes: no

#17746 cleanup: Commenting on PRs is no longer used
  tools/internal_ci/helper_scripts/prepare_build_linux_perf_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/pull_request/grpc_ios_binary_size.cfg
  tools/run_tests/python_utils/comment_on_pr.py
Labels: release notes: no

#17753 grpc: init compression_algorithm_ in ClientContext ctor
  src/cpp/client/client_context.cc
Labels: release notes: no

#17739 Backport #17634 to 1.18.x
  tools/dockerfile/interoptest/grpc_interop_ruby/build_interop.sh
Labels: lang/ruby, release notes: no

#17543 Remove dependency of grpc.framework.foundation.callable_util
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/_utilities.py
Labels: kind/internal cleanup, lang/Python, release notes: yes

#17689 Add a caching interceptor to the keyvaluestore example
  examples/BUILD
  examples/cpp/keyvaluestore/caching_interceptor.h
  examples/cpp/keyvaluestore/client.cc
Labels: lang/c++, release notes: yes

#17764 Make executor look more like the rest of the codebase (namespace, etc)
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/executor.h
  src/core/lib/iomgr/fork_posix.cc
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/iomgr/iomgr_custom.cc
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/transport.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/iomgr/resolve_address_test.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#17723 Re-enable c-ares as the default resolver; but don't turn on SRV queries
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/lib/security/credentials/composite/composite_credentials.h
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.h
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
Labels: lang/core, release notes: yes

#17776 Cache the default mdelem for client authority.
  src/core/ext/filters/http/client_authority_filter.cc
Labels: lang/core, release notes: no

#17765 Add comment to keep Dockerfile up to date against oss-fuzz
  templates/tools/dockerfile/test/bazel/Dockerfile.template
  tools/dockerfile/test/bazel/Dockerfile
Labels: release notes: no

#17752 Stop copying LICENSE files
  src/python/grpcio_channelz/LICENSE
  src/python/grpcio_channelz/channelz_commands.py
  src/python/grpcio_health_checking/LICENSE
  src/python/grpcio_health_checking/health_commands.py
  src/python/grpcio_reflection/LICENSE
  src/python/grpcio_reflection/reflection_commands.py
  src/python/grpcio_status/LICENSE
  src/python/grpcio_status/setup.py
  src/python/grpcio_status/status_commands.py
  src/python/grpcio_testing/LICENSE
  src/python/grpcio_testing/setup.py
  src/python/grpcio_testing/testing_commands.py
  tools/distrib/yapf_code.sh
Labels: lang/Python, release notes: no

#17751 Fix authorizer
  src/objective-c/GRPCClient/GRPCCall.m
Labels: lang/ObjC, priority/P1, release notes: no

#17734 Escalate the failure of protoc execution
  tools/distrib/python/grpcio_tools/grpc_tools/command.py
Labels: lang/Python, release notes: yes

#17614 Ruby: Loosen development dependencies
  grpc.gemspec
  templates/grpc.gemspec.template
Labels: lang/ruby, release notes: no

#17788 Fix C# and Python interop_matrix for v1.18.0 release and other cleanup
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/run_interop_matrix_tests.py
  tools/interop_matrix/testcases/csharp__master
  tools/interop_matrix/testcases/csharp__v1.3.9
  tools/interop_matrix/testcases/csharpcoreclr__master
  tools/interop_matrix/testcases/csharpcoreclr__v1.1.4
  tools/interop_matrix/testcases/csharpcoreclr__v1.3.9
  tools/interop_matrix/testcases/node__v1.1.4
  tools/interop_matrix/testcases/python__master
  tools/interop_matrix/testcases/python__v1.11.1
Labels: lang/C#, lang/Python, release notes: no

#17785 Add namespace qualifier to scm_timestamping
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no

#17787 Pass LB policy args as non-const and using std::move().
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/ext/filters/client_channel/lb_policy_registry.h
  src/core/ext/filters/client_channel/request_routing.cc
  test/core/util/test_lb_policies.cc
Labels: lang/core, release notes: no

#17790 Fix windows localhost address sorting bug
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  test/core/iomgr/resolve_address_test.cc
Labels: area/core, lang/core, release notes: yes

#17606 Ruby tooling: respect user toolchain overrides
  src/ruby/ext/grpc/extconf.rb
Labels: lang/ruby, release notes: yes

#17809 Update "//test/cpp/end2end:end2end_test" test size to avoid RBE timeouts
  test/cpp/end2end/BUILD
Labels: lang/c++, release notes: no

#17808 Move RBE test timeout configuration to a single place
  tools/internal_ci/linux/grpc_bazel_on_foundry_dbg.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_opt.sh
  tools/internal_ci/linux/pull_request/grpc_bazel_on_foundry_dbg.sh
  tools/internal_ci/linux/pull_request/grpc_bazel_on_foundry_opt.sh
  tools/remote_build/manual.bazelrc
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/c++, release notes: no

#17724 rename census context hooks
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/_hooks.pyx.pxi
  src/python/grpcio/grpc/_server.py
Labels: lang/Python, release notes: no

#17693 Parse xDS config
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
Labels: release notes: no

#17731 Added support tvos
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  templates/gRPC-ProtoRPC.podspec.template
  templates/gRPC-RxLibrary.podspec.template
  templates/gRPC.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCPlugin.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, release notes: yes

#17782 Fix TSAN issue in filter_status_code test
  test/core/end2end/tests/filter_status_code.cc
Labels: release notes: no

#17818 Revert c-ares as the default resolver
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
Labels: lang/core, release notes: no

#17811 Revert "Remove the fake package dependency && temporarily skip the Channelz tests"
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
Labels: lang/Python, release notes: no

#17817 Collect timestamps for all data written for a stream instead of just data frames
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: release notes: no

#17707 Fix warning
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
Labels: release notes: no

#17213 Add an interop test specific to GoogleDefaultCreds
  doc/interop-test-descriptions.md
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
  tools/internal_ci/macos/grpc_interop_toprod.sh
  tools/run_tests/run_interop_tests.py
Labels: area/test, lang/Java, lang/all wrapped languages, lang/go, release notes: no

#17834 Revert "Collect timestamps for all data written for a stream instead of just data frames"
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: release notes: no

#17728 Memory leak test for PHP unit tests
  src/php/bin/run_tests.sh
  src/php/tests/MemoryLeakTest/MemoryLeakTest.php
  src/php/tests/unit_tests/CallTest.php
  templates/tools/dockerfile/php_valgrind.include
  templates/tools/dockerfile/test/php7_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/php_jessie_x64/Dockerfile.template
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
Labels: release notes: no

#17793 Add basic benchmark test for Python
  src/proto/grpc/core/BUILD
  src/proto/grpc/testing/BUILD
  src/python/grpcio_tests/tests/qps/BUILD
  src/python/grpcio_tests/tests/qps/README.md
  src/python/grpcio_tests/tests/qps/basic_benchmark_test.sh
  src/python/grpcio_tests/tests/qps/scenarios.json
  test/cpp/qps/BUILD
Labels: area/performance/benchmarking, area/tools, lang/Python, release notes: no

#17662 Update Send message interception methods docs
  include/grpcpp/impl/codegen/interceptor.h
Labels: release notes: no

#17839 Fix for macOS build
  src/python/grpcio/_parallel_compile_patch.py
Labels: kind/bug, lang/Python, release notes: no

#17836 added retry statements to jq installation commands
  tools/internal_ci/helper_scripts/prepare_build_linux_perf_rc
  tools/internal_ci/linux/grpc_run_tests_matrix.sh
Labels: area/build

#17841 Remove unneeded header
  src/core/lib/iomgr/exec_ctx.h
Labels: lang/core, release notes: no

#17784 Add const qualifiers to member methods in Optional
  src/core/lib/gprpp/optional.h
Labels: release notes: no

#17843 Add alignment to size calculation
  src/core/ext/filters/client_channel/subchannel.cc
Labels: priority/P1, release notes: no

#17838 Properly init TLS for callback exec context
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/surface/init.cc
Labels: lang/c++, release notes: no

#17806 Register for cq avalanching when interceptors are going to be run
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/codegen/interceptor_common.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/common/core_codegen.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
Labels: kind/bug, lang/c++, priority/P1, release notes: yes

#17852 Revert "Memory leak test for PHP unit tests"
  src/php/bin/run_tests.sh
  src/php/tests/MemoryLeakTest/MemoryLeakTest.php
  src/php/tests/unit_tests/CallTest.php
  templates/tools/dockerfile/php_valgrind.include
  templates/tools/dockerfile/test/php7_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/php_jessie_x64/Dockerfile.template
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
Labels: release notes: no

#17815 adding ptrace to asan
  third_party/toolchains/BUILD
  tools/remote_build/rbe_common.bazelrc
Labels: area/build, lang/c++, release notes: no

#17832 Fix counterintuitive test size behavior in grpc_cc_test
  bazel/grpc_build_system.bzl
  test/cpp/end2end/BUILD
Labels: lang/c++, release notes: no

#17854 Revert "Add basic benchmark test for Python"
  src/proto/grpc/core/BUILD
  src/proto/grpc/testing/BUILD
  src/python/grpcio_tests/tests/qps/BUILD
  src/python/grpcio_tests/tests/qps/README.md
  src/python/grpcio_tests/tests/qps/basic_benchmark_test.sh
  src/python/grpcio_tests/tests/qps/scenarios.json
  test/cpp/qps/BUILD
Labels: kind/bug, lang/Python, release notes: no

#17848 Revert "Revert "Collect timestamps for all data written for a stream instead of just data frames""
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: release notes: no

#17858 Fix a common typo
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
Labels: lang/Python, release notes: no

#17859 Interop: Make declaration match definition
  test/cpp/interop/interop_client.h
Labels: release notes: no

#17549 Add a new TLS credential surface API
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  package.xml
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/ssl_utils.h
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/all wrapped languages, release notes: no

#17863 Deflake a shared CQ usage in a test
  test/cpp/end2end/generic_end2end_test.cc
Labels: release notes: no

#17653 C++-ify subchannel
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/client_channel_factory.cc
  src/core/ext/filters/client_channel/client_channel_factory.h
  src/core/ext/filters/client_channel/global_subchannel_pool.cc
  src/core/ext/filters/client_channel/global_subchannel_pool.h
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/local_subchannel_pool.cc
  src/core/ext/filters/client_channel/local_subchannel_pool.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_pool_interface.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  test/core/util/debugger_macros.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: release notes: no

#17861 Only log data at TCP level if tracing level is DEBUG
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no

#17865 Revert "Merge pull request #17644 from lidizheng/bzl-py3"
  BUILD
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_status/grpc_status/rpc_status.py
  src/python/grpcio_tests/tests/BUILD.bazel
  src/python/grpcio_tests/tests/bazel_namespace_package_hack.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/methods.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/status/_grpc_status_test.py
  third_party/py/python_configure.bzl
  tools/bazel.rc
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: lang/Python, release notes: no

#17867 Revert "C++-ify subchannel"
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/client_channel_factory.cc
  src/core/ext/filters/client_channel/client_channel_factory.h
  src/core/ext/filters/client_channel/global_subchannel_pool.cc
  src/core/ext/filters/client_channel/global_subchannel_pool.h
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/local_subchannel_pool.cc
  src/core/ext/filters/client_channel/local_subchannel_pool.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_pool_interface.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  test/core/util/debugger_macros.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: release notes: no

#17868 Allow trust anchor in gRPC ssl transport security
  src/core/tsi/ssl_transport_security.cc
Labels: area/security, lang/all wrapped languages, priority/P0/RELEASE BLOCKER, release notes: yes

#17873 Fix typo that's breaking mac to prod interop
  tools/internal_ci/macos/grpc_interop_toprod.sh
Labels: area/test, lang/c++, release notes: no

#17874 Decrease verbosity of ALTS platform check to avoid a spam log message
  src/core/lib/security/credentials/alts/check_gcp_environment_no_op.cc
Labels: lang/core, release notes: yes

#17878 Fix CFStream test failure
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/xcshareddata/xcschemes/CFStreamTests.xcscheme
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/xcshareddata/xcschemes/CFStreamTests_Asan.xcscheme
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/xcshareddata/xcschemes/CFStreamTests_Msan.xcscheme
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/xcshareddata/xcschemes/CFStreamTests_Tsan.xcscheme
Labels: lang/ObjC, priority/P1, release notes: no

#17778 Move public types needed for server implementation to Grpc.Core.Api
  src/csharp/Grpc.Core.Api/.gitignore
  src/csharp/Grpc.Core.Api/AuthContext.cs
  src/csharp/Grpc.Core.Api/AuthProperty.cs
  src/csharp/Grpc.Core.Api/ContextPropagationOptions.cs
  src/csharp/Grpc.Core.Api/ContextPropagationToken.cs
  src/csharp/Grpc.Core.Api/DeserializationContext.cs
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core.Api/IAsyncStreamReader.cs
  src/csharp/Grpc.Core.Api/IAsyncStreamWriter.cs
  src/csharp/Grpc.Core.Api/IServerStreamWriter.cs
  src/csharp/Grpc.Core.Api/Logging/ILogger.cs
  src/csharp/Grpc.Core.Api/Logging/LogLevel.cs
  src/csharp/Grpc.Core.Api/Marshaller.cs
  src/csharp/Grpc.Core.Api/Metadata.cs
  src/csharp/Grpc.Core.Api/Method.cs
  src/csharp/Grpc.Core.Api/Properties/AssemblyInfo.cs
  src/csharp/Grpc.Core.Api/RpcException.cs
  src/csharp/Grpc.Core.Api/SerializationContext.cs
  src/csharp/Grpc.Core.Api/ServerCallContext.cs
  src/csharp/Grpc.Core.Api/ServerMethods.cs
  src/csharp/Grpc.Core.Api/Status.cs
  src/csharp/Grpc.Core.Api/StatusCode.cs
  src/csharp/Grpc.Core.Api/Utils/GrpcPreconditions.cs
  src/csharp/Grpc.Core.Api/WriteOptions.cs
  src/csharp/Grpc.Core/ForwardedTypes.cs
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/Internal/MarshalUtils.cs
  src/csharp/Grpc.sln
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core.Api.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core.Api/lib.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core.Api/lib/net45.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core.Api/lib/net45/Grpc.Core.Api.dll.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core.Api/lib/net45/Grpc.Core.Api.pdb.meta
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core.Api/lib/net45/Grpc.Core.Api.xml.meta
  templates/src/csharp/build_packages_dotnetcli.bat.template
  templates/src/csharp/build_unitypackage.bat.template
  test/distrib/csharp/DistribTest/DistribTest.csproj
  test/distrib/csharp/DistribTest/packages.config
Labels: lang/C#, release notes: yes

#17875 Eliminate an unneeded log_info
  src/core/lib/surface/server.cc
Labels: release notes: no

#17837 Allow passing null implementation to generated BindService overload using ServiceBinderBase
  src/compiler/csharp_generator.cc
  src/csharp/Grpc.Examples/MathGrpc.cs
  src/csharp/Grpc.HealthCheck/HealthGrpc.cs
  src/csharp/Grpc.IntegrationTesting/BenchmarkServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/Control.cs
  src/csharp/Grpc.IntegrationTesting/Empty.cs
  src/csharp/Grpc.IntegrationTesting/EmptyServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/MetricsGrpc.cs
  src/csharp/Grpc.IntegrationTesting/ReportQpsScenarioServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/TestGrpc.cs
  src/csharp/Grpc.IntegrationTesting/WorkerServiceGrpc.cs
  src/csharp/Grpc.Reflection/ReflectionGrpc.cs
Labels: lang/C#, release notes: yes

#17885 Unify parameter name
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
Labels: release notes: no
