Repository grpc/grpc, pull requests merged in 2019-02, with the labels that each got.

#17889 Refactor ServerServiceDefinition and move it to Grpc.Core.Api nuget.
  src/csharp/Grpc.Core.Api/ServerServiceDefinition.cs
  src/csharp/Grpc.Core.Api/ServiceBinderBase.cs
  src/csharp/Grpc.Core/ForwardedTypes.cs
  src/csharp/Grpc.Core/Interceptors/ServerServiceDefinitionExtensions.cs
  src/csharp/Grpc.Core/Internal/ServerCallHandler.cs
  src/csharp/Grpc.Core/Internal/ServerServiceDefinitionExtensions.cs
  src/csharp/Grpc.Core/Server.cs
Labels: lang/C#, release notes: yes

#17901 Remove an overly-conservative mutex from callback CQ implementation
  src/core/lib/surface/completion_queue.cc
Labels: area/concurrency, area/performance, lang/c++, release notes: no

#17890 Increase VM timeout for grpc_ios_binary_size job
  tools/internal_ci/macos/pull_request/grpc_ios_binary_size.cfg
Labels: lang/ObjC, platform/macOS, release notes: no

#17824 Introduce weak and nonline attribute.
  include/grpc/impl/codegen/port_platform.h
Labels: lang/core, release notes: no

#17896 Fix for 17338. Delay shutdown of buffer list till tcp_free to avoid races
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no

#17883 Unref watcher after releasing lock
  src/core/ext/filters/client_channel/subchannel.cc
Labels: release notes: no

#17664 Allow duplicates in ssl root certificate list.
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: release notes: no

#17908 Use full_fetch_add for ref counting the backup poller.
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no

#17909 Replace list of outstanding callback requests with count
  include/grpcpp/server.h
  src/cpp/server/server_cc.cc
Labels: area/concurrency, area/performance, lang/c++, release notes: no

#17917 C++ callback server: request spawning limit is supposed to be per-server, not per-method
  src/cpp/server/server_cc.cc
Labels: release notes: no

#17918 Dummy Shutdown should still unref the error
  src/core/lib/iomgr/buffer_list.h
Labels: release notes: no

#17899 python: do not store raised exception in _Context.abort()
  src/python/grpcio/grpc/_server.py
  src/python/grpcio_tests/tests/unit/_abort_test.py
Labels: lang/Python, release notes: no

#17923 Revert "Revert "Fix for 17338. Delay shutdown of buffer list till tcp_free to avoid races""
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no

#17907 Fix Internal Build
  test/cpp/util/channel_trace_proto_helper.cc
Labels: area/build, kind/bug, release notes: no

#17894 Disable c-ares on iOS
  include/grpc/impl/codegen/port_platform.h
Labels: lang/ObjC, release notes: yes

#17929 fix flake in test_abort_does_not_leak_local_vars
  src/python/grpcio_tests/tests/unit/_abort_test.py
Labels: lang/Python, release notes: no

#17930 Removing BoringSSL-specific ubsan suppressions.
  test/core/util/ubsan_suppressions.txt
Labels: release notes: no

#17928 grpc-performance-kokoro-v4 kokoro perf image changes
  tools/gce/create_linux_kokoro_performance_worker_from_image.sh
  tools/gce/linux_kokoro_performance_worker_init.sh
Labels: release notes: no

#17933 Allow a grpc::Alarm to be set again after firing
  include/grpcpp/alarm_impl.h
  src/cpp/common/alarm.cc
  test/cpp/common/alarm_test.cc
Labels: lang/c++, release notes: no

#17943 Remove owners for tools/run_tests/performance
  .github/CODEOWNERS
  tools/run_tests/performance/OWNERS
Labels: release notes: no

#17842 Added test for wall clock time change on the client
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/lib/gpr/time.cc
  src/core/lib/gpr/time_posix.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/time_change_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#17937 Second attemp to fix use-after-free in health check client
  src/core/ext/filters/client_channel/subchannel.cc
Labels: release notes: no

#17945 Update the channelz compaction test to use 300 entries.
  test/core/channel/channelz_registry_test.cc
Labels: release notes: no

#17941 Revert "added retry statements to jq installation commands"
  tools/internal_ci/helper_scripts/prepare_build_linux_perf_rc
  tools/internal_ci/linux/grpc_run_tests_matrix.sh
Labels: lang/all wrapped languages, release notes: no

#17944 Fix typo in flow control trace
  src/core/ext/transport/chttp2/transport/flow_control.cc
Labels: lang/core, release notes: no

#17934 Default compression level quick fix
  src/cpp/server/server_builder.cc
Labels: release notes: no

#17888 Fix various typos in .cc and .md files
  src/core/ext/filters/max_age/max_age_filter.cc
  summerofcode/2018/naresh.md
  test/cpp/end2end/channelz_service_test.cc
  test/cpp/util/channel_trace_proto_helper.cc
Labels: release notes: no

#17949 Fix TSAN in no_error_on_hotpath Test
  src/core/lib/iomgr/error.cc
Labels: release notes: no

#17951 Add Empty Binary Metadata Test
  test/cpp/end2end/end2end_test.cc
Labels: release notes: no

#17897 Revert "Revert c-ares as the default resolver"
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
Labels: lang/core, release notes: yes

#17956 Fixed typo in templates documentation
  templates/README.md
Labels: release notes: no

#17958 Revert "Track the pollsets of an FD in PO_MULTI mode for pollex."
  src/core/lib/iomgr/ev_epollex_linux.cc
Labels: release notes: no

#17955 Move Logging types back to Grpc.Core
  src/csharp/Grpc.Core/ForwardedTypes.cs
  src/csharp/Grpc.Core/Logging/ILogger.cs
  src/csharp/Grpc.Core/Logging/LogLevel.cs
Labels: lang/C#, release notes: no

#17950 Ignore reserved bit in WINDOW_UPDATE frame
  src/core/ext/transport/chttp2/transport/frame_window_update.cc
  test/core/bad_client/tests/simple_request.cc
Labels: lang/core, release notes: yes

#17967 Scaffolding for flaky network test
  tools/internal_ci/linux/grpc_flaky_network.cfg
  tools/internal_ci/linux/grpc_flaky_network_in_docker.sh
Labels: lang/core, release notes: no

#17959 Add error logging around GOAWAYs and chttp2 logging around keepalives
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#17954 Add null input handling in grpc_json_destroy()
  src/core/lib/json/json.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/json_token.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
Labels: release notes: no

#17964 Track the pollsets of an FD in PO_MULTI mode for pollex.
  src/core/lib/iomgr/ev_epollex_linux.cc
Labels: release notes: no

#17975 Disable enum sanitizer for api_fuzzer
  test/core/util/ubsan_suppressions.txt
Labels: release notes: no

#17893 Reset keepalive timer on reading bytes
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  test/core/end2end/tests/keepalive_timeout.cc
Labels: release notes: no

#17972 C# "-dev" nugets should have a timestamped suffix.
  src/csharp/Grpc.Core.NativeDebug.nuspec
  src/csharp/Grpc.Core.NativeDebug/.gitignore
  src/csharp/Grpc.Core.NativeDebug/Grpc.Core.NativeDebug.csproj
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
  src/csharp/Grpc.nuspec
  src/csharp/Grpc/.gitignore
  src/csharp/Grpc/Grpc.csproj
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/expand_dev_version.sh
  templates/src/csharp/build_packages_dotnetcli.bat.template
Labels: area/packaging & distribution, lang/C#, release notes: no

#17965 Add a microbenchmark for immediately-firing alarms
  CMakeLists.txt
  Makefile
  build.yaml
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_alarm.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#17974 Fix subchannel call destruction
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
Labels: release notes: no

#17985 Add Objective-C manual test suite
  src/objective-c/manual_tests/AppDelegate.h
  src/objective-c/manual_tests/AppDelegate.m
  src/objective-c/manual_tests/GrpcIosTest.xcodeproj/project.pbxproj
  src/objective-c/manual_tests/Info.plist
  src/objective-c/manual_tests/Main.storyboard
  src/objective-c/manual_tests/Podfile
  src/objective-c/manual_tests/ViewController.m
  src/objective-c/manual_tests/main.m
Labels: lang/ObjC, release notes: no

#17973 Don't count internal ApplicationCallbackExecCtx against ExcCtx count
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/timer_manager.cc
Labels: lang/core, priority/P0/RELEASE BLOCKER, release notes: no

#17991 Update ObjC manual test minimum deployment target
  src/objective-c/manual_tests/GrpcIosTest.xcodeproj/project.pbxproj
Labels: lang/ObjC, release notes: no

#17990 Fix Internal Build Error
  test/cpp/end2end/channelz_service_test.cc
Labels: release notes: no

#17989 Memset before setting length
  src/core/lib/iomgr/buffer_list.cc
  test/core/iomgr/buffer_list_test.cc
Labels: release notes: no

#16745 Upgrade System.Interactive.Async to 3.2.0
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core/Grpc.Core.csproj
Labels: lang/C#, release notes: yes

#17948 Pre-fetch Cocoapods master repo
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/run_tests.py
Labels: lang/ObjC, release notes: no

#17996 grpc_prefork(): check grpc_is_initialized before creating execctx
  src/core/lib/iomgr/fork_posix.cc
Labels: lang/Python, priority/P0/RELEASE BLOCKER, release notes: yes

#17997 Ruby: refactor init/shutdown logic to avoid using atexit; fix windows
  src/ruby/ext/grpc/rb_call_credentials.c
  src/ruby/ext/grpc/rb_channel.c
  src/ruby/ext/grpc/rb_channel_credentials.c
  src/ruby/ext/grpc/rb_compression_options.c
  src/ruby/ext/grpc/rb_event_thread.c
  src/ruby/ext/grpc/rb_grpc.c
  src/ruby/ext/grpc/rb_grpc.h
  src/ruby/ext/grpc/rb_server.c
Labels: lang/ruby, platform/Windows, priority/P0/RELEASE BLOCKER, release notes: yes

#17977 Improve interception docs
  include/grpcpp/impl/codegen/interceptor.h
Labels: release notes: no

#17981 Instantiate application callback exec ctx's in a few places where needed
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/iomgr/cfstream_handle.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/security/transport/server_auth_filter.cc
Labels: release notes: no

#17984 Document ApplicationCallbackExecCtx
  src/core/lib/iomgr/exec_ctx.h
Labels: release notes: no

#17998 Disable service config resolution with c-ares by default, for now
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
Labels: lang/core, lang/ruby, priority/P0/RELEASE BLOCKER, release notes: yes

#17957 Enable TCP callback tests if the event engine allows
  src/core/lib/iomgr/iomgr.h
  src/core/lib/iomgr/iomgr_posix.cc
  src/core/lib/iomgr/iomgr_windows.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
Labels: release notes: no

#17947 Don't pass service config from parent channel to grpclb balancer channel.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#17740 grpc_handshaker, grpc_handshaker_mgr C++ implementations
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/channel/handshaker_factory.cc
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/channel/handshaker_registry.cc
  src/core/lib/channel/handshaker_registry.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/security/transport/security_handshaker.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init_secure.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/security/ssl_server_fuzzer.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/core, release notes: no

#18010 Increase allocated space for cmsgs
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no

#18015 C#: Update Xamarin example
  examples/csharp/HelloworldXamarin/Droid/HelloworldXamarin.Droid.csproj
  examples/csharp/HelloworldXamarin/Droid/packages.config
  examples/csharp/HelloworldXamarin/README.md
  examples/csharp/HelloworldXamarin/iOS/HelloworldXamarin.iOS.csproj
  examples/csharp/HelloworldXamarin/iOS/packages.config
Labels: lang/C#, release notes: no

#14666 Improve clarity of Compression Method Asymmetry Between Peers section
  doc/compression.md
Labels: area/documentation, area/protocol, kind/enhancement, lang/all wrapped languages, priority/P1, release notes: no

#18014 C# Unity example
  examples/csharp/HelloworldUnity/.gitignore
  examples/csharp/HelloworldUnity/Assets/Plugins.meta
  examples/csharp/HelloworldUnity/Assets/Scenes.meta
  examples/csharp/HelloworldUnity/Assets/Scenes/SampleScene.unity
  examples/csharp/HelloworldUnity/Assets/Scenes/SampleScene.unity.meta
  examples/csharp/HelloworldUnity/Assets/Scripts.meta
  examples/csharp/HelloworldUnity/Assets/Scripts/HelloWorldScript.cs
  examples/csharp/HelloworldUnity/Assets/Scripts/HelloWorldScript.cs.meta
  examples/csharp/HelloworldUnity/Assets/Scripts/HelloWorldTest.cs
  examples/csharp/HelloworldUnity/Assets/Scripts/HelloWorldTest.cs.meta
  examples/csharp/HelloworldUnity/Assets/Scripts/Helloworld.cs
  examples/csharp/HelloworldUnity/Assets/Scripts/Helloworld.cs.meta
  examples/csharp/HelloworldUnity/Assets/Scripts/HelloworldGrpc.cs
  examples/csharp/HelloworldUnity/Assets/Scripts/HelloworldGrpc.cs.meta
  examples/csharp/HelloworldUnity/ProjectSettings/AudioManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/ClusterInputManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/DynamicsManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/EditorBuildSettings.asset
  examples/csharp/HelloworldUnity/ProjectSettings/EditorSettings.asset
  examples/csharp/HelloworldUnity/ProjectSettings/GraphicsSettings.asset
  examples/csharp/HelloworldUnity/ProjectSettings/InputManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/NavMeshAreas.asset
  examples/csharp/HelloworldUnity/ProjectSettings/NetworkManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/Physics2DSettings.asset
  examples/csharp/HelloworldUnity/ProjectSettings/PresetManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/ProjectSettings.asset
  examples/csharp/HelloworldUnity/ProjectSettings/ProjectVersion.txt
  examples/csharp/HelloworldUnity/ProjectSettings/QualitySettings.asset
  examples/csharp/HelloworldUnity/ProjectSettings/TagManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/TimeManager.asset
  examples/csharp/HelloworldUnity/ProjectSettings/UnityConnectSettings.asset
  examples/csharp/HelloworldUnity/ProjectSettings/VFXManager.asset
  examples/csharp/HelloworldUnity/README.md
  examples/csharp/HelloworldUnity/UIElementsSchema/UIElements.xsd
  examples/csharp/HelloworldUnity/UIElementsSchema/UnityEditor.Experimental.UIElements.xsd
  examples/csharp/HelloworldUnity/UIElementsSchema/UnityEditor.PackageManager.UI.xsd
  examples/csharp/HelloworldUnity/UIElementsSchema/UnityEngine.Experimental.UIElements.xsd
Labels: lang/C#, release notes: no

#18024 grpc handshaker linkage fixup
  src/core/lib/security/transport/security_handshaker.cc
Labels: release notes: no

#18000 Fix TSAN flake in time_change_test
  test/cpp/end2end/time_change_test.cc
Labels: release notes: no

#18031 Add retries for check_on_pr
  tools/run_tests/python_utils/check_on_pr.py
Labels: area/tools, infra/Kokoro, release notes: no

#18002 Address guantaol@'s comments on Pull #17964
  src/core/lib/iomgr/ev_epollex_linux.cc
Labels: release notes: no

#18037 Fix various typos in .cc and .md and .py files
  src/cpp/codegen/codegen_init.cc
  src/ruby/pb/README.md
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/cpp/util/proto_reflection_descriptor_database.h
  tools/run_tests/run_interop_tests.py
Labels: release notes: no

#17926 Added bazel_skylib dependency in preparation for protobuf update
  bazel/grpc_deps.bzl
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/c++, release notes: no

#17849 Copy edit keepalive documentation
  doc/keepalive.md
Labels: release notes: no

#18035 Bump version to pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#17770 LB policy picker API
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/request_routing.cc
  src/core/ext/filters/client_channel/request_routing.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/channel/channel_stack_builder_test.cc
  test/core/util/test_lb_policies.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/core, release notes: no

#17872 Add test for network transitions when CFStream is enabled
  BUILD
  bazel/grpc_build_system.bzl
  src/core/lib/iomgr/endpoint_cfstream.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/cfstream_test.cc
  tools/internal_ci/macos/grpc_cfstream.cfg
  tools/internal_ci/macos/grpc_run_bazel_tests.sh
Labels: release notes: no

#18033 Bump master to v1.20.x and pick "godric" for that release
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#18025 Reorder code to set num_frequently_polled_cqs correctly.
  src/cpp/server/server_builder.cc
Labels: area/performance, lang/core, release notes: no

#18044 grpc: aligned creation of handshaker factory lists
  src/core/lib/channel/handshaker_registry.cc
Labels: release notes: no

#18017 added fieldmask to resultstore upload for RBE
  tools/run_tests/python_utils/upload_rbe_results.py
Labels: area/build, release notes: no

#17797 Folding the Channel class into the grpc_impl namespace.
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/channel_impl.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/security/credentials.h
  include/grpcpp/server.h
  src/compiler/cpp_generator.cc
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/client/create_channel.cc
  src/cpp/client/create_channel_internal.cc
  src/cpp/client/create_channel_internal.h
  src/cpp/client/create_channel_posix.cc
  src/cpp/client/cronet_credentials.cc
  src/cpp/client/insecure_credentials.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/client/secure_credentials.h
  src/cpp/server/server_cc.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/codegen/golden_file_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
  test/cpp/util/create_test_channel.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18046 Disable c-ares on Android
  include/grpc/impl/codegen/port_platform.h
Labels: lang/core, release notes: yes

#18045 Run android interop test on a physical device
  src/android/test/interop/app/build.gradle
  tools/internal_ci/linux/grpc_android.sh
Labels: lang/other, release notes: no

#18050 Backport https://github.com/grpc/grpc/pull/18046 to 1.19.x
  include/grpc/impl/codegen/port_platform.h
Labels: lang/core, release notes: yes

#18043 Fix subchannel ref_from_weak_ref
  src/core/ext/filters/client_channel/global_subchannel_pool.cc
  src/core/ext/filters/client_channel/subchannel.h
Labels: release notes: no

#18049 Remove subchannel_index.{h,cc}
  src/core/ext/filters/client_channel/subchannel_index.cc
  src/core/ext/filters/client_channel/subchannel_index.h
Labels: release notes: no

#18032 Add environment markers to python version-dependent dependencies
  setup.py
Labels: area/build, lang/Python, release notes: no

#18062 Clean up deprecated tsi_create_ssl_server_handshaker_factory callers
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/tsi/ssl_transport_security.h
  test/core/tsi/ssl_transport_security_test.cc
Labels: release notes: no

#18069 Revert "Add test for network transitions when CFStream is enabled"
  BUILD
  bazel/grpc_build_system.bzl
  src/core/lib/iomgr/endpoint_cfstream.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/cfstream_test.cc
  tools/internal_ci/macos/grpc_cfstream.cfg
  tools/internal_ci/macos/grpc_run_bazel_tests.sh
Labels: release notes: no

#16240 Ruby: Fix default pool keep alive
  src/ruby/lib/grpc/generic/rpc_server.rb
Labels: lang/ruby, release notes: yes

#18068 Hotfix/upload to resultstore
  tools/gcp/utils/big_query_utils.py
  tools/run_tests/python_utils/upload_rbe_results.py
Labels: area/build, release notes: no

#18039 C#: Fix il2cpp build on Unity Android.
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c.meta
  templates/src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs.template
  templates/src/csharp/Grpc.Core/Internal/native_methods.include
  templates/src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c.template
Labels: lang/C#, release notes: yes

#18076 Revert "Folding the Channel class into the grpc_impl namespace."
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/channel_impl.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/security/credentials.h
  include/grpcpp/server.h
  src/compiler/cpp_generator.cc
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/client/create_channel.cc
  src/cpp/client/create_channel_internal.cc
  src/cpp/client/create_channel_internal.h
  src/cpp/client/create_channel_posix.cc
  src/cpp/client/cronet_credentials.cc
  src/cpp/client/insecure_credentials.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/client/secure_credentials.h
  src/cpp/server/server_cc.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/codegen/golden_file_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
  test/cpp/util/create_test_channel.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#17971 Fix tautological comparison
  src/core/lib/iomgr/tcp_posix.cc
Labels: kind/bug, lang/core, release notes: no

#18079 Revert "Added test for RPCs over a flaky network"
  test/cpp/end2end/BUILD
  test/cpp/end2end/flaky_network_test.cc
  tools/internal_ci/linux/grpc_bazel_privileged_docker.sh
  tools/internal_ci/linux/grpc_flaky_network.cfg
  tools/internal_ci/linux/grpc_flaky_network_in_docker.sh
Labels: release notes: no

#16513 Add fork tests as Python unit tests
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pyx.pxi
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/fork/_fork_interop_test.py
  src/python/grpcio_tests/tests/fork/client.py
  src/python/grpcio_tests/tests/fork/methods.py
  src/python/grpcio_tests/tests/tests.json
Labels: lang/Python, release notes: no

#17939 Add ASAN-only leak detection for gpr_mu/cv and fix the newly caught leaks
  include/grpc/impl/codegen/port_platform.h
  include/grpc/impl/codegen/sync_posix.h
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/gpr/sync_posix.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  test/core/end2end/inproc_callback_test.cc
  test/core/gpr/cpu_test.cc
  test/core/gpr/mpscq_test.cc
  test/core/gprpp/thd_test.cc
  test/core/util/mock_endpoint.cc
  test/cpp/microbenchmarks/bm_closure.cc
  test/cpp/util/grpc_tool.cc
Labels: kind/enhancement, lang/core, priority/P2, release notes: no

#17931 Fix an issue upon setting kEmptinessTheshold.
  src/core/lib/channel/channelz_registry.cc
Labels: lang/core, release notes: no

#18093 Revert "LB policy picker API"
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/request_routing.cc
  src/core/ext/filters/client_channel/request_routing.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/channel/channel_stack_builder_test.cc
  test/core/util/test_lb_policies.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#17862 Memory Leak Test for php unit tests
  src/php/bin/run_tests.sh
  src/php/tests/MemoryLeakTest/MemoryLeakTest.php
  src/php/tests/unit_tests/CallTest.php
  templates/tools/dockerfile/php_valgrind.include
  templates/tools/dockerfile/test/php7_jessie_x64/Dockerfile.template
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
Labels: kind/enhancement, lang/php, release notes: no

#18084 Fix c-ares on Windows "DNS resolution failure" triggered by logging
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/csharp/Grpc.IntegrationTesting/ExternalDnsClientServerTest.cs
  src/csharp/Grpc.IntegrationTesting/ExternalDnsWithTracingClientServerTest.cs
  src/csharp/tests.json
Labels: lang/C#, lang/core, platform/Windows, priority/P0/RELEASE BLOCKER, release notes: yes

#18092 Backport #18084 to 1.19.x
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/csharp/Grpc.IntegrationTesting/ExternalDnsClientServerTest.cs
  src/csharp/Grpc.IntegrationTesting/ExternalDnsWithTracingClientServerTest.cs
  src/csharp/tests.json
Labels: lang/all wrapped languages, lang/core, priority/P0/RELEASE BLOCKER, release notes: yes

#18054 Fix many typos in doc
  doc/PROTOCOL-WEB.md
  doc/connection-backoff-interop-test-description.md
  doc/connectivity-semantics-and-api.md
  doc/core/grpc-client-server-polling-engine-usage.md
  doc/core/transport_explainer.md
  doc/environment_variables.md
  doc/naming.md
  doc/wait-for-ready.md
Labels: area/documentation, release notes: no

#18097 Move thread body logic into a private static method
  src/core/lib/gprpp/thd_windows.cc
Labels: kind/bug, lang/core, priority/P2, release notes: no

#18085 C#: csproj cleanup
  src/csharp/Grpc.Auth/Grpc.Auth.csproj
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core.NativeDebug/Grpc.Core.NativeDebug.csproj
  src/csharp/Grpc.Core.Testing/Grpc.Core.Testing.csproj
  src/csharp/Grpc.Core.Tests/Grpc.Core.Tests.csproj
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Examples.MathClient/Grpc.Examples.MathClient.csproj
  src/csharp/Grpc.Examples.MathServer/Grpc.Examples.MathServer.csproj
  src/csharp/Grpc.Examples.Tests/Grpc.Examples.Tests.csproj
  src/csharp/Grpc.Examples/Grpc.Examples.csproj
  src/csharp/Grpc.HealthCheck.Tests/Grpc.HealthCheck.Tests.csproj
  src/csharp/Grpc.HealthCheck/Grpc.HealthCheck.csproj
  src/csharp/Grpc.IntegrationTesting.Client/Grpc.IntegrationTesting.Client.csproj
  src/csharp/Grpc.IntegrationTesting.QpsWorker/Grpc.IntegrationTesting.QpsWorker.csproj
  src/csharp/Grpc.IntegrationTesting.Server/Grpc.IntegrationTesting.Server.csproj
  src/csharp/Grpc.IntegrationTesting.StressClient/Grpc.IntegrationTesting.StressClient.csproj
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/Grpc.Microbenchmarks/Grpc.Microbenchmarks.csproj
  src/csharp/Grpc.Reflection.Tests/Grpc.Reflection.Tests.csproj
  src/csharp/Grpc.Reflection/Grpc.Reflection.csproj
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
  src/csharp/Grpc/Grpc.csproj
Labels: lang/C#, release notes: no

#11795 when cross-compiling, the host grpc_cpp_plugin should be used
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: kind/enhancement, lang/c++, release notes: yes

#18103 Trivial fix many typos
  doc/core/epoll-polling-engine.md
  doc/core/transport_explainer.md
Labels: release notes: no

#18105 Fix counters in callback streaming QPS benchmarks
  test/cpp/qps/client_callback.cc
Labels: release notes: no

#18102 Remove the redundant words in comments
  src/compiler/cpp_generator_helpers.h
  src/compiler/csharp_generator_helpers.h
  src/compiler/node_generator_helpers.h
  src/compiler/php_generator_helpers.h
  src/compiler/ruby_generator_helpers-inl.h
  src/core/lib/surface/completion_queue.cc
  src/python/grpcio_tests/tests/protoc_plugin/beta_python_plugin_test.py
Labels: release notes: no

#18108 Enable Load Reporting
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_server.py
Labels: lang/Python, release notes: no

#18107 Reformat hyperlink, secure https and fix typos
  .github/ISSUE_TEMPLATE.md
  doc/interop-test-descriptions.md
  src/cpp/README.md
Labels: release notes: no

#18109 Use atm operations on gpr_atm variables
  src/core/lib/channel/channelz.cc
Labels: release notes: no

#18095 non-blocking server streaming for health service
  src/python/grpcio/grpc/_server.py
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_tests/tests/health_check/BUILD.bazel
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_channel_connectivity_test.py
  src/python/grpcio_tests/tests/unit/_channel_ready_future_test.py
  src/python/grpcio_tests/tests/unit/_rpc_test.py
  src/python/grpcio_tests/tests/unit/thread_pool.py
Labels: lang/Python, release notes: no

#18110 Use malloc/free in leak checker
  src/core/lib/gpr/sync_posix.cc
Labels: release notes: no

#17308 Move grpc_shutdown internals to a detached thread
  grpc.def
  include/grpc/grpc.h
  src/core/lib/debug/trace.h
  src/core/lib/gprpp/thd.h
  src/core/lib/gprpp/thd_posix.cc
  src/core/lib/gprpp/thd_windows.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/init.h
  src/php/ext/grpc/php_grpc.c
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/records.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/json/fuzzer.cc
  test/core/memory_usage/client.cc
  test/core/memory_usage/server.cc
  test/core/security/alts_credentials_fuzzer.cc
  test/core/security/ssl_server_fuzzer.cc
  test/core/slice/percent_decode_fuzzer.cc
  test/core/slice/percent_encode_fuzzer.cc
  test/core/surface/init_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/util/memory_counters.cc
  test/core/util/memory_counters.h
  test/core/util/port.cc
  test/core/util/test_config.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: lang/core, release notes: yes

#18082 Re-add cfstream_test
  BUILD
  bazel/grpc_build_system.bzl
  src/core/lib/iomgr/endpoint_cfstream.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/cfstream_test.cc
  tools/internal_ci/macos/grpc_cfstream.cfg
  tools/internal_ci/macos/grpc_run_bazel_tests.sh
Labels: release notes: no

#18113 Fix termination condition of streaming callback QPS tests
  test/cpp/qps/client_callback.cc
Labels: release notes: no

#18059 Introduce more helper methods in gprpp/atomic.h
  BUILD
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/lib/gprpp/atomic.h
  src/core/lib/gprpp/atomic_with_atm.h
  src/core/lib/gprpp/atomic_with_std.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/surface/lame_client.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18112 add enter_graceful_shutdown() to health service
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
Labels: lang/Python, release notes: yes

#18114 Remove extra semicolons after function definitions
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/security/credentials.h
  include/grpcpp/server.h
  src/compiler/protobuf_plugin.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/lib/gprpp/thd.h
  src/core/lib/iomgr/buffer_list.h
  src/cpp/common/core_codegen.cc
  src/cpp/server/server_cc.cc
Labels: release notes: no

#18117 Avoid unused result warning
  src/cpp/server/load_reporter/get_cpu_stats_linux.cc
Labels: release notes: no

#18034 Add copyright headers
  tools/http2_interop/doc.go
  tools/http2_interop/frame.go
  tools/http2_interop/frameheader.go
  tools/http2_interop/goaway.go
  tools/http2_interop/http1frame.go
  tools/http2_interop/http2interop.go
  tools/http2_interop/http2interop_test.go
  tools/http2_interop/ping.go
  tools/http2_interop/s6.5.go
  tools/http2_interop/s6.5_test.go
  tools/http2_interop/settings.go
  tools/http2_interop/testsuite.go
  tools/http2_interop/unknownframe.go
Labels: release notes: no

#18120 Fix-forward: avoid data race on detached thread deletion
  src/core/lib/gprpp/thd.h
Labels: release notes: no

#18121 Debug flaky_network_test
  tools/internal_ci/linux/grpc_flaky_network_in_docker.sh
Labels: release notes: no

#18128 Disable flaky health service test
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
Labels: lang/Python, release notes: no

#18118 Fix C++ build on Mac OS
  BUILD
  test/cpp/end2end/BUILD
Labels: release notes: no

#18125 Support "darwin_x86_64" CPU in cares.BUILD.
  third_party/cares/cares.BUILD
Labels: lang/core, release notes: yes

#18096 Second attempt: LB policy picker API
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/request_routing.cc
  src/core/ext/filters/client_channel/request_routing.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/channel/channel_stack_builder_test.cc
  test/core/util/test_lb_policies.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#17881 [Roll Forward] Enable Python 3 for Bazel to Run Tests
  BUILD
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_status/grpc_status/rpc_status.py
  src/python/grpcio_tests/tests/BUILD.bazel
  src/python/grpcio_tests/tests/bazel_namespace_package_hack.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/methods.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/status/_grpc_status_test.py
  third_party/py/python_configure.bzl
  tools/bazel.rc
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: area/build, infra/Bazel, lang/Python, release notes: no

#18129 Disable test_abort_does_not_leak_local_vars
  src/python/grpcio_tests/tests/unit/_abort_test.py
Labels: lang/Python, release notes: no

#18141 Transition into state CONNECTING when we start name resolution
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/core, release notes: yes

#18143 Revert "Fix-forward: avoid data race on detached thread deletion"
  src/core/lib/gprpp/thd.h
Labels: release notes: no

#18146 Revert "Move grpc_shutdown internals to a detached thread"
  grpc.def
  include/grpc/grpc.h
  src/core/lib/debug/trace.h
  src/core/lib/gprpp/thd.h
  src/core/lib/gprpp/thd_posix.cc
  src/core/lib/gprpp/thd_windows.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/init.h
  src/php/ext/grpc/php_grpc.c
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/records.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/json/fuzzer.cc
  test/core/memory_usage/client.cc
  test/core/memory_usage/server.cc
  test/core/security/alts_credentials_fuzzer.cc
  test/core/security/ssl_server_fuzzer.cc
  test/core/slice/percent_decode_fuzzer.cc
  test/core/slice/percent_encode_fuzzer.cc
  test/core/surface/init_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/util/memory_counters.cc
  test/core/util/memory_counters.h
  test/core/util/port.cc
  test/core/util/test_config.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: release notes: no

#18098 Reduce starting callback counter to exclude client-side StartCall
  include/grpcpp/impl/codegen/client_callback.h
Labels: lang/c++, release notes: no

#18086 Add UserState dictionary to C# ServerCallContext
  src/csharp/Grpc.Core.Api/ServerCallContext.cs
  src/csharp/Grpc.Core.Tests/Interceptors/ServerInterceptorTest.cs
Labels: lang/C#, release notes: yes

#18148 Add missing header to gprpp/atomic.h
  src/core/lib/gprpp/atomic.h
Labels: release notes: no

#18081 Make service config ref-counted and hold refs to it in LB config.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/transport/service_config.cc
  src/core/lib/transport/service_config.h
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#18136 Increase test scenarios for client-side of callback API plus fix exposed bugs
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/transport/inproc/inproc_transport.cc
  src/cpp/server/server_context.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++, release notes: no

#18116 generalize macOS workaround for -std=c++11 passed in C mode
  setup.py
  src/python/grpcio/commands.py
Labels: lang/Python, release notes: no

#18155 bump version to V1.19.x
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#18153 Avoid calling ares_library_init and ares_library_cleanup except for w…
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Labels: release notes: no

#18134 List c-ares tracers in documentation
  doc/environment_variables.md
Labels: lang/core, release notes: no

#18170 Remove duplicated word 'for for' in doc
  doc/server_reflection_tutorial.md
Labels: release notes: no

#18154 Fix for future Bazel changes
  bazel/generate_cc.bzl
Labels: lang/c++, release notes: no

#18166 ObjC v1.19.0 batch patch
  gRPC-Core.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCPlugin.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, release notes: no

#18172 use isinstance for internal api to workaround mocks
  src/python/grpcio/grpc/_server.py
  src/python/grpcio_tests/tests/unit/thread_pool.py
Labels: lang/Python, release notes: no

#18164 Prevent overflow
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
Labels: release notes: no

#18162 updated version of abseil for enabling windows bazel build
  bazel/grpc_deps.bzl
Labels: area/build, release notes: no

#18180 Added selective inclusion to enable Windows Bazel builds
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
Labels: area/build, release notes: no

#18165 Support use of ByteBuffer for request-side of code-gen unary
  include/grpcpp/impl/codegen/byte_buffer.h
  src/compiler/cpp_generator.cc
  src/cpp/util/byte_buffer_cc.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/microbenchmarks/helpers.cc
  test/cpp/microbenchmarks/helpers.h
Labels: lang/c++, release notes: no

#18147 Convert grpc malloc slice to use grpc_core::RefCount.
  src/core/lib/slice/slice.cc
Labels: area/performance, release notes: no

#18067 Use std::atomic for CQ data.
  src/core/lib/gprpp/atomic.h
  src/core/lib/surface/completion_queue.cc
Labels: release notes: no

#17624 Avoid referring to old installed headers
  Makefile
  templates/Makefile.template
Labels: area/build, kind/bug, lang/c++, priority/P1, release notes: no
