Repository grpc/grpc, pull requests merged in 2019-03, with the labels that each got.

#18209 Revert "Merge pull request #18206 from grpc/revert-18182-enable-deadl…
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_cython/_cygrpc/_hooks.pyx.pxi
  src/python/grpcio/grpc/_server.py
Labels: lang/Python, release notes: no

#18212 Fixed dead csharp examples link
  src/csharp/README.md
Labels: area/documentation, lang/C#, release notes: no

#18041 Convert client channel factory to C++
  src/core/ext/filters/client_channel/README.md
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_factory.cc
  src/core/ext/filters/client_channel/client_channel_factory.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  test/core/util/test_lb_policies.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: disposition/Needs Internal Changes, release notes: no

#18221 Fix gpr_once initialization.
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
Labels: release notes: no

#18228 Avoid copying grpc_slice as much as possible.
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/load_balancer_api.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/ext/transport/chttp2/transport/bin_decoder.cc
  src/core/ext/transport/chttp2/transport/bin_decoder.h
  src/core/ext/transport/chttp2/transport/bin_encoder.cc
  src/core/ext/transport/chttp2/transport/bin_encoder.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/ext/transport/chttp2/transport/frame_data.h
  src/core/ext/transport/chttp2/transport/frame_goaway.cc
  src/core/ext/transport/chttp2/transport/frame_goaway.h
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/frame_ping.h
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/frame_settings.h
  src/core/ext/transport/chttp2/transport/frame_window_update.cc
  src/core/ext/transport/chttp2/transport/frame_window_update.h
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.h
  src/core/lib/compression/algorithm_metadata.h
  src/core/lib/compression/compression.cc
  src/core/lib/compression/compression_internal.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/http/parser.cc
  src/core/lib/http/parser.h
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.h
  src/core/lib/security/transport/auth_filters.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/slice/percent_encoding.cc
  src/core/lib/slice/percent_encoding.h
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice_hash_table.h
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_traits.h
  src/core/lib/slice/slice_weak_hash_table.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/service_config.h
  src/core/lib/transport/timeout_encoding.cc
  src/core/lib/transport/timeout_encoding.h
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.h
  src/core/tsi/alts/handshaker/transport_security_common_api.cc
  src/core/tsi/alts/handshaker/transport_security_common_api.h
Labels: area/performance, release notes: no

#18215 Inhibit client-side health checking for backends from balancer in xds.
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
Labels: release notes: no

#18208 Don't to try to watch connectivity state of grpclb balancer channel.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: release notes: no

#18224 Correct grpc_call_cancel and grpc_call_cancel_with_status comments
  include/grpc/grpc.h
Labels: area/documentation, lang/core, release notes: no

#18225 Update validation rules for service config
  doc/service_config.md
Labels: release notes: no

#18218 Simplify batch operations event interpretation
  src/python/grpcio/grpc/_cython/_cygrpc/tag.pyx.pxi
Labels: kind/enhancement, lang/Python, release notes: yes

#18199 Introduce grpc_byte_buffer_reader_peek and use it for Protobuf parsing.
  grpc.def
  include/grpc/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/codegen/proto_buffer_reader.h
  src/core/lib/surface/byte_buffer_reader.cc
  src/cpp/common/core_codegen.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/byte_buffer_reader_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/microbenchmarks/bm_byte_buffer.cc
Labels: area/performance, release notes: no

#18094 Don't use a separate call context for subchannel calls
  CMakeLists.txt
  Makefile
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/lib/channel/context.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/transport/metadata.cc
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/gen_build_yaml.py
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/filter_context.cc
  test/core/transport/metadata_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#18235 Initialize tcp->read_done_closure only once
  src/core/lib/iomgr/tcp_posix.cc
Labels: area/performance, release notes: no

#18078 Make grpclb child policy configurable
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#18241 Strip Python wheel binary
  test/distrib/python/test_packages.sh
  tools/run_tests/artifacts/build_package_python.sh
Labels: kind/enhancement, lang/Python, release notes: yes

#18253 Revert "Introduce grpc_byte_buffer_reader_peek and use it for Protobuf parsing."
  grpc.def
  include/grpc/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/codegen/proto_buffer_reader.h
  src/core/lib/surface/byte_buffer_reader.cc
  src/cpp/common/core_codegen.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/byte_buffer_reader_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/microbenchmarks/bm_byte_buffer.cc
Labels: release notes: no

#18255 Fix pylint on 1.19.x - backport #18190
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_interceptor.py
Labels: lang/Python, priority/P0/RELEASE BLOCKER, release notes: no

#18254 Revert "Make grpclb child policy configurable"
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#18021 Use real resolver in xds lb channel
  CMakeLists.txt
  Makefile
  build.yaml
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#18202 Backport #18201 to 1.19.x
  third_party/cares/cares.BUILD
Labels: area/core, infra/Bazel, lang/core, priority/P0/RELEASE BLOCKER, release notes: yes

#18261 Unref raw slice as well when gzip fails
  src/core/lib/compression/stream_compression_gzip.cc
  test/core/end2end/fuzzers/client_fuzzer_corpus/clusterfuzz-testcase-minimized-grpc_client_fuzzer-5765697914404864
  tools/run_tests/generated/tests.json
Labels: release notes: no

#18268 Added automated test for network transitions on iOS devices
  src/objective-c/manual_tests/GrpcIosTest.xcodeproj/project.pbxproj
  src/objective-c/manual_tests/GrpcIosTestUITests/GrpcIosTestUITests.m
  src/objective-c/manual_tests/GrpcIosTestUITests/Info.plist
  src/objective-c/manual_tests/Main.storyboard
  src/objective-c/manual_tests/Podfile
  src/objective-c/manual_tests/ViewController.m
  src/objective-c/manual_tests/main.m
Labels: release notes: no

#18248 Add retries for downloading interop matrix images
  tools/interop_matrix/run_interop_matrix_tests.py
Labels: lang/all wrapped languages, release notes: no

#18247 run_tests.py: increase timeout for pre-build step (needed for cmake configuration on win2016)
  tools/run_tests/run_tests.py
Labels: lang/c++, release notes: no

#18263 Second attempt: Make grpclb child policy configurable
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#18269 Fix Hang in build_ext
  src/python/grpcio/commands.py
Labels: area/build, lang/Python, release notes: no

#18251 Store LB policy name in Config object.
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
Labels: release notes: no

#18278 Make grpclb work when selected via service config with no balancer addresses.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#18277 Remove GIL for grpc_call_unref
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
Labels: lang/Python, release notes: no

#18239 C++: Support callback-based generic service
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  test/cpp/end2end/hybrid_end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
Labels: lang/c++, priority/P1, release notes: no

#18279 Fix qps composer.json
  src/php/tests/qps/composer.json
Labels: release notes: no

#18275 Use fallback before timeout if balancer channel reports TRANSIENT_FAILURE.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#18276 Roll foward "Strip Python wheel binary"
  test/distrib/python/test_packages.sh
  tools/run_tests/artifacts/build_package_python.sh
Labels: infra/Kokoro, lang/Python, release notes: no

#18101 Swap in new LB policy when it's ready
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
Labels: release notes: no

#18283 Silent the check_on_pr failure
  tools/run_tests/python_utils/check_on_pr.py
Labels: area/build, lang/Python, release notes: no

#18296 Add the missing grpc_cfstream dependency
  BUILD
Labels: infra/Bazel, lang/Python, release notes: yes

#18297 Backport "Add the missing grpc_cfstream dependency" to v1.19.x
  BUILD
Labels: infra/Bazel, lang/Python, release notes: yes

#18303 Revert "Roll foward "Strip Python wheel binary""
  test/distrib/python/test_packages.sh
  tools/run_tests/artifacts/build_package_python.sh
Labels: lang/Python, release notes: no

#18298 Nuking the poll-cv polling engine
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build.yaml
  config.m4
  config.w32
  doc/core/grpc-polling-engines.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/wakeup_fd_cv.cc
  src/core/lib/iomgr/wakeup_fd_cv.h
  src/core/lib/iomgr/wakeup_fd_posix.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/keepalive_timeout.cc
  test/core/iomgr/BUILD
  test/core/iomgr/wakeup_fd_cv_test.cc
  test/core/util/test_config.cc
  test/cpp/end2end/BUILD
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/run_tests.py
Labels: lang/core, release notes: yes

#18240 Implement TCP_INQ for gRPC in Linux
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/security/secure_endpoint_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/trickle_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: area/performance, release notes: no

#18295 Split client_channel tracer into two.
  doc/environment_variables.md
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#18301 V1.19.x
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/Grpc.Core/VersionInfo.cs
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#18229 Use grpc_core::RefCount for ServerContext.
  src/cpp/server/server_context.cc
Labels: release notes: no

#18285 Windows builds for gRPC C++ tests
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  test/core/bad_connection/BUILD
  test/core/client_channel/BUILD
  test/core/end2end/generate_tests.bzl
  test/core/iomgr/BUILD
  test/cpp/common/BUILD
  test/cpp/end2end/BUILD
  test/cpp/interop/BUILD
  test/cpp/microbenchmarks/BUILD
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/performance/BUILD
  test/cpp/qps/qps_benchmark_script.bzl
  test/cpp/server/BUILD
  test/cpp/server/load_reporter/BUILD
  third_party/BUILD
  third_party/benchmark.BUILD
  tools/remote_build/README.md
  tools/remote_build/windows.bazelrc
Labels: area/build, release notes: no

#18223 Fold opencensus into grpc_impl namespace
  BUILD
  include/grpcpp/opencensus.h
  include/grpcpp/opencensus_impl.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/filters/census/views.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
  test/cpp/microbenchmarks/bm_opencensus_plugin.cc
Labels: release notes: no

#18313 Remove pollset_set when resetting LB policies
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
Labels: release notes: no

#18284 Fix fuzzer test
  src/core/lib/gpr/cpu_posix.cc
  test/core/slice/percent_decode_corpus/clusterfuzz-testcase-minimized-grpc_percent_decode_fuzzer-5652313562808320
  test/core/slice/percent_decode_fuzzer.cc
  test/core/slice/percent_encode_fuzzer.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#18302 PHP: fixed seg fault caused by access client after it is closed
  src/php/ext/grpc/call.c
Labels: lang/php, release notes: yes

#18306 Roll forward "Strip Python wheel binary" again
  test/distrib/python/test_packages.sh
  tools/run_tests/artifacts/build_package_python.sh
Labels: lang/Python, release notes: no

#18003 docs: enumerate status codes in statuscodes.md
  doc/statuscodes.md
Labels: area/documentation, kind/enhancement, lang/other, priority/P1, release notes: no

#18319 Prevent merging if PR labeled DO NOT MERGE
  .github/mergeable.yml
Labels: lang/other, release notes: no

#17276 C# upgrade executables to netcoreapp2.1
  src/csharp/Grpc.Core.Tests/Grpc.Core.Tests.csproj
  src/csharp/Grpc.Examples.MathClient/Grpc.Examples.MathClient.csproj
  src/csharp/Grpc.Examples.MathServer/Grpc.Examples.MathServer.csproj
  src/csharp/Grpc.Examples.Tests/Grpc.Examples.Tests.csproj
  src/csharp/Grpc.Examples/Grpc.Examples.csproj
  src/csharp/Grpc.HealthCheck.Tests/Grpc.HealthCheck.Tests.csproj
  src/csharp/Grpc.IntegrationTesting.Client/Grpc.IntegrationTesting.Client.csproj
  src/csharp/Grpc.IntegrationTesting.QpsWorker/Grpc.IntegrationTesting.QpsWorker.csproj
  src/csharp/Grpc.IntegrationTesting.Server/Grpc.IntegrationTesting.Server.csproj
  src/csharp/Grpc.IntegrationTesting.StressClient/Grpc.IntegrationTesting.StressClient.csproj
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/Grpc.Microbenchmarks/Grpc.Microbenchmarks.csproj
  src/csharp/Grpc.Reflection.Tests/Grpc.Reflection.Tests.csproj
  src/csharp/Grpc.Tools.Tests/Grpc.Tools.Tests.csproj
  src/csharp/install_dotnet_sdk.ps1
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/run_tests/performance/run_worker_csharp.sh
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: lang/C#, release notes: no

#18220 Moving ::grpc::ResourceQuota to ::grpc_impl::ResouceQuota
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/resource_quota.h
  include/grpcpp/resource_quota_impl.h
  include/grpcpp/server_builder.h
  include/grpcpp/support/channel_arguments.h
  src/cpp/common/channel_arguments.cc
  src/cpp/common/resource_quota_cc.cc
  src/cpp/server/server_builder.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/thread_stress_test.cc
  test/cpp/qps/server.h
  test/cpp/qps/server_async.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18343 Revert "Moving ::grpc::ResourceQuota to ::grpc_impl::ResouceQuota"
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/resource_quota.h
  include/grpcpp/resource_quota_impl.h
  include/grpcpp/server_builder.h
  include/grpcpp/support/channel_arguments.h
  src/cpp/common/channel_arguments.cc
  src/cpp/common/resource_quota_cc.cc
  src/cpp/server/server_builder.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/thread_stress_test.cc
  test/cpp/qps/server.h
  test/cpp/qps/server_async.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18222 Fix state reported by pick_first when we receive a GOAWAY with a pending subchannel list.
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#18336 Use cached grpc ssl credential for ObjC library
  include/grpc/grpc_security.h
  src/objective-c/GRPCClient/private/GRPCSecureChannelFactory.h
  src/objective-c/GRPCClient/private/GRPCSecureChannelFactory.m
Labels: lang/ObjC, release notes: yes

#18312 Multiprocessing Example
  examples/python/multiprocessing/BUILD
  examples/python/multiprocessing/README.md
  examples/python/multiprocessing/client.py
  examples/python/multiprocessing/prime.proto
  examples/python/multiprocessing/server.py
  examples/python/multiprocessing/test/_multiprocessing_example_test.py
  tools/distrib/pylint_code.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: area/documentation, area/test, lang/Python, release notes: no

#18333 C#: Activate sourcelink when building nuget packages
  src/csharp/Grpc.Core/SourceLink.csproj.include
  src/csharp/build_packages_dotnetcli.bat
Labels: lang/C#, release notes: yes

#18352 Make the TCP_INQ log a debug entry.
  src/core/lib/iomgr/tcp_posix.cc
Labels: release notes: no

#18289 C++ callback API: properly handle and test unimplemented RPC method
  include/grpcpp/server.h
  src/cpp/server/server_cc.cc
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: lang/c++, priority/P1, release notes: no

#18354 Fix Python distribution test
  test/distrib/python/test_packages.sh
Labels: lang/Python, release notes: no

#18151 Bugfix: builds disabled by CODEGEN=OFF should not be installed
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++

#18363 Fix source stepping by upgrading sourcelink
  src/csharp/Grpc.Core/SourceLink.csproj.include
  src/csharp/build_packages_dotnetcli.bat
Labels: lang/C#, release notes: yes

#18355 Update tools to ensure error details appear in VS
  src/csharp/Grpc.Tools.Tests/ProtoCompileCommandLineGeneratorTest.cs
  src/csharp/Grpc.Tools/ProtoCompile.cs
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#18366 Fix layout of Grpc.Tools package
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
Labels: lang/C#, release notes: no

#18286 Adding a few potential breaking changes
  doc/core/pending_api_cleanups.md
Labels: release notes: no

#18382 Removing superfluous const in a static_cast.
  src/core/ext/transport/chttp2/transport/flow_control.cc
Labels: release notes: no

#18380 Fix a memset on a non-trivial object.
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#18115 Add SPIFFE security stack to gRPC
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  package.xml
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/spiffe_credentials.cc
  src/core/lib/security/credentials/tls/spiffe_credentials.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/spiffe_security_connector.cc
  src/core/lib/security/security_connector/tls/spiffe_security_connector.h
  src/core/tsi/ssl_transport_security.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/fixtures/h2_spiffe.cc
  test/core/end2end/gen_build_yaml.py
  test/core/end2end/generate_tests.bzl
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes

#18351 C#: also target netstandard2.0
  src/csharp/Grpc.Auth/Grpc.Auth.csproj
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core.NativeDebug/Grpc.Core.NativeDebug.csproj
  src/csharp/Grpc.Core.Testing/Grpc.Core.Testing.csproj
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/GrpcEnvironment.cs
  src/csharp/Grpc.Core/Internal/NativeExtension.cs
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
  src/csharp/Grpc.Core/Internal/UnmanagedLibrary.cs
  src/csharp/Grpc.Core/Utils/TaskUtils.cs
  src/csharp/Grpc.HealthCheck/Grpc.HealthCheck.csproj
  src/csharp/Grpc.Reflection/Grpc.Reflection.csproj
  src/csharp/Grpc/Grpc.csproj
Labels: lang/C#, release notes: yes

#18390 Revert "Windows builds for gRPC C++ tests"
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  test/core/bad_connection/BUILD
  test/core/client_channel/BUILD
  test/core/end2end/generate_tests.bzl
  test/core/iomgr/BUILD
  test/cpp/common/BUILD
  test/cpp/end2end/BUILD
  test/cpp/interop/BUILD
  test/cpp/microbenchmarks/BUILD
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/performance/BUILD
  test/cpp/qps/qps_benchmark_script.bzl
  test/cpp/server/BUILD
  test/cpp/server/load_reporter/BUILD
  third_party/BUILD
  third_party/benchmark.BUILD
  tools/remote_build/README.md
  tools/remote_build/windows.bazelrc
Labels: release notes: no

#18392 Revert "Fold opencensus into grpc_impl namespace"
  BUILD
  include/grpcpp/opencensus.h
  include/grpcpp/opencensus_impl.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/filters/census/views.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
  test/cpp/microbenchmarks/bm_opencensus_plugin.cc
Labels: release notes: no

#18383 Use correct C integer types in Cython
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
Labels: lang/Python, release notes: yes

#18391 Removing a few more non-trivial struct memsets.
  src/core/tsi/ssl_transport_security.cc
Labels: release notes: no

#18369 Update naming doc.
  doc/naming.md
Labels: release notes: no

#18367 Use GRPC_LINUX_ERRQUEUE
  src/core/lib/iomgr/internal_errqueue.cc
Labels: area/core, release notes: no

#18400 Fix clang-tidy errors in SPIFFE security stack
  src/core/lib/security/security_connector/tls/spiffe_security_connector.cc
  test/core/end2end/fixtures/h2_spiffe.cc
Labels: release notes: no

#18340 Clean up grpclb and xds end2end tests.
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#18405 Fix typo
  examples/cpp/helloworld/README.md
Labels: release notes: no

#18384 Trace log the status of every c-ares lookup; cleanup error handling
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Labels: lang/core, release notes: yes

#17760 Fixing memory leak in interceptor by removing unsued send_status_
  include/grpcpp/impl/codegen/interceptor_common.h
Labels: kind/enhancement, lang/c++, priority/P1, release notes: no

#18072 C++ callback API: Add support for client-side extra-reaction operations via Holds
  include/grpcpp/impl/codegen/client_callback.h
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: lang/c++, release notes: no

#18398 Use C-Core API to perform time conversion
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/time.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/time.pyx.pxi
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/unit/_cython/_channel_test.py
Labels: lang/Python, release notes: yes

#18413 Ensure we have the right version of dotnet SDK when building grpc-dotnet interop image.
  templates/tools/dockerfile/interoptest/grpc_interop_aspnetcore/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_aspnetcore/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh
Labels: kokoro:force-run, lang/C#, release notes: no

#18401 Fix reresolution condition in grpclb
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: release notes: no

#18156 Let the c++ interop_client send additional metadata, controlled by a flag.
  test/cpp/interop/client.cc
  test/cpp/interop/client_helper.cc
  test/cpp/interop/client_helper.h
  test/cpp/util/create_test_channel.cc
  test/cpp/util/create_test_channel.h
Labels: release notes: no

#18344 grpclb fallback after startup
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#18356 Enable design time builds by default
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#18393 Add BUILD rule and generated upb code for protos required to do Discov…
  BUILD
  src/core/ext/upb-generated/envoy/api/v2/core/address.upb.c
  src/core/ext/upb-generated/envoy/api/v2/core/address.upb.h
  src/core/ext/upb-generated/envoy/api/v2/core/base.upb.c
  src/core/ext/upb-generated/envoy/api/v2/core/base.upb.h
  src/core/ext/upb-generated/envoy/api/v2/core/health_check.upb.c
  src/core/ext/upb-generated/envoy/api/v2/core/health_check.upb.h
  src/core/ext/upb-generated/envoy/api/v2/discovery.upb.c
  src/core/ext/upb-generated/envoy/api/v2/discovery.upb.h
  src/core/ext/upb-generated/envoy/type/percent.upb.c
  src/core/ext/upb-generated/envoy/type/percent.upb.h
  src/core/ext/upb-generated/envoy/type/range.upb.c
  src/core/ext/upb-generated/envoy/type/range.upb.h
  src/core/ext/upb-generated/gogoproto/gogo.upb.c
  src/core/ext/upb-generated/gogoproto/gogo.upb.h
  src/core/ext/upb-generated/google/api/annotations.upb.c
  src/core/ext/upb-generated/google/api/annotations.upb.h
  src/core/ext/upb-generated/google/api/http.upb.c
  src/core/ext/upb-generated/google/api/http.upb.h
  src/core/ext/upb-generated/google/rpc/status.upb.c
  src/core/ext/upb-generated/google/rpc/status.upb.h
  src/core/ext/upb-generated/validate/validate.upb.c
  src/core/ext/upb-generated/validate/validate.upb.h
  tools/codegen/core/gen_upb_api.sh
  tools/distrib/check_copyright.py
  tools/distrib/check_include_guards.py
Labels: release notes: no

#18409 Fix CFStreamTests
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/project.pbxproj
  test/core/iomgr/ios/CFStreamTests/run_tests.sh
Labels: release notes: no

#18420 Fix broken php7 performance benchmarks build
  src/ruby/qps/proxy-worker.rb
  tools/run_tests/performance/build_performance_php7.sh
Labels: release notes: no

#18421 Fix grpc-dotnet interop tests
  templates/tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh
Labels: lang/C#, release notes: no

#18324 Add armv7 support for Xamarin.iOS native libraries
  src/csharp/experimental/README.md
  src/csharp/experimental/build_native_ext_for_ios.sh
Labels: lang/C#, release notes: no

#18353 grpclb fallback-at-startup improvements
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: release notes: no

#18415 Update opencensus
  bazel/grpc_deps.bzl
Labels: release notes: no

#18429 Update README.md of C# helloworld legacy example
  examples/csharp/HelloworldLegacyCsproj/README.md
Labels: lang/C#, release notes: no

#18427 Fix PHP unit test warnings
  src/php/tests/unit_tests/InterceptorTest.php
Labels: lang/php, release notes: no

#18414 python docs: details are UTF-8 encodable, not just ASCII.
  src/python/grpcio/grpc/__init__.py
Labels: lang/Python, release notes: yes

#18341 Support callback on cancellation of server-side unary RPCs
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/impl/codegen/server_context.h
  src/cpp/server/server_context.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
  test/cpp/end2end/test_service_impl.h
Labels: kind/enhancement, lang/c++, priority/P2, release notes: no

#18442 Increase timeout for test
  test/cpp/end2end/BUILD
Labels: release notes: no

#18406 Removing a few more non-trivial struct memsets, part 3.
  src/core/lib/http/httpcli_security_connector.cc
Labels: release notes: no

#18368 LB policy API cleanup
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#18438 Fix php PersistentListTest test
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
Labels: release notes: no

#18440 Add the actual peer in the error message
  src/core/lib/surface/call.cc
Labels: release notes: no

#18451 Fix a typo in CompareExchangeStrong()
  src/core/lib/gprpp/atomic.h
Labels: release notes: no

#17978 Global Interceptor Registration allowed only once
  include/grpcpp/impl/codegen/client_interceptor.h
  src/cpp/client/client_interceptor.cc
  test/cpp/end2end/client_interceptors_end2end_test.cc
Labels: lang/c++, release notes: yes

#17987 Add ResultHandler to Resolver API
  src/core/ext/filters/client_channel/resolver.cc
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolver_factory.h
  src/core/ext/filters/client_channel/resolver_registry.cc
  src/core/ext/filters/client_channel/resolver_registry.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/lib/channel/channel_args.h
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: disposition/Needs Internal Changes, release notes: no

#18327 C#: Add NativeCallbackDispatcher
  src/csharp/Grpc.Core/Internal/MonoPInvokeCallbackAttribute.cs
  src/csharp/Grpc.Core/Internal/NativeCallbackDispatcher.cs
  src/csharp/Grpc.Core/Internal/NativeExtension.cs
  src/csharp/Grpc.Core/Internal/NativeLogRedirector.cs
  src/csharp/Grpc.Core/Internal/NativeMetadataCredentialsPlugin.cs
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/ext/grpc_csharp_ext.c
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c
  templates/src/csharp/Grpc.Core/Internal/native_methods.include
Labels: lang/C#, release notes: yes

#18466 Build BoringSSL tests as BoringSSL does.
  Makefile
  grpc.gyp
  src/boringssl/gen_build_yaml.py
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#18443 Add Fuchsia support.
  BUILD.gn
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/iomgr/port.h
  templates/BUILD.gn.template
Labels: release notes: no

#18370 Add a new compute engine channel creds interop test case
  doc/interop-test-descriptions.md
  tools/run_tests/run_interop_tests.py
Labels: area/test, lang/Java, release notes: no

#18469 Revert the changes in ssl_security_connector.cc made in #18115
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
Labels: release notes: no

#18471 C# Tooling: change the case to 'Protobuf' consistently
  src/csharp/Grpc.Tools.Tests/ProtoCompileBasicTest.cs
  src/csharp/Grpc.Tools.Tests/ProtoCompileCommandLineGeneratorTest.cs
  src/csharp/Grpc.Tools.Tests/ProtoCompileCommandLinePrinterTest.cs
  src/csharp/Grpc.Tools/Common.cs
  src/csharp/Grpc.Tools/GeneratorServices.cs
  src/csharp/Grpc.Tools/ProtoCompile.cs
  src/csharp/Grpc.Tools/ProtoCompilerOutputs.cs
  src/csharp/Grpc.Tools/ProtoReadDependencies.cs
  src/csharp/Grpc.Tools/build/_grpc/Grpc.CSharp.xml
  src/csharp/Grpc.Tools/build/_grpc/_Grpc.Tools.targets
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.props
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
  src/csharp/Grpc.Tools/build/_protobuf/Protobuf.CSharp.xml
Labels: lang/C#, release notes: yes

#18470 C# tools: support generated filename corner cases
  src/csharp/Grpc.Tools.Tests/CSharpGeneratorTest.cs
  src/csharp/Grpc.Tools/GeneratorServices.cs
Labels: lang/C#, release notes: yes

#18473 Use const ref for `grpc_slice`
  src/core/lib/channel/channel_stack.h
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: area/performance, release notes: no

#18474 Preallocate for incoming metadatas.
  src/core/ext/transport/chttp2/transport/incoming_metadata.cc
  src/core/ext/transport/chttp2/transport/incoming_metadata.h
Labels: area/performance, release notes: no

#18464 Introduce grpc_byte_buffer_reader_peek and use it for Protobuf parsing.
  grpc.def
  include/grpc/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/codegen/proto_buffer_reader.h
  src/core/lib/surface/byte_buffer_reader.cc
  src/cpp/common/core_codegen.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/byte_buffer_reader_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/microbenchmarks/bm_byte_buffer.cc
Labels: release notes: no

#18482 Fix Potentially Dangerous Typo - locked function being run outside of combiner
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: yes

#18481 Remove unnecessary hack which causes data races
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: yes

#18483 Add documentation for 'grpcio-status' package
  doc/python/sphinx/conf.py
  doc/python/sphinx/grpc_status.rst
  doc/python/sphinx/index.rst
Labels: lang/Python, release notes: no

#18478 Generate upb code for cds protos and BUILD rule changes
  BUILD
  src/core/ext/upb-generated/envoy/api/v2/auth/cert.upb.c
  src/core/ext/upb-generated/envoy/api/v2/auth/cert.upb.h
  src/core/ext/upb-generated/envoy/api/v2/cds.upb.c
  src/core/ext/upb-generated/envoy/api/v2/cds.upb.h
  src/core/ext/upb-generated/envoy/api/v2/cluster/circuit_breaker.upb.c
  src/core/ext/upb-generated/envoy/api/v2/cluster/circuit_breaker.upb.h
  src/core/ext/upb-generated/envoy/api/v2/cluster/outlier_detection.upb.c
  src/core/ext/upb-generated/envoy/api/v2/cluster/outlier_detection.upb.h
  src/core/ext/upb-generated/envoy/api/v2/core/config_source.upb.c
  src/core/ext/upb-generated/envoy/api/v2/core/config_source.upb.h
  src/core/ext/upb-generated/envoy/api/v2/core/grpc_service.upb.c
  src/core/ext/upb-generated/envoy/api/v2/core/grpc_service.upb.h
  src/core/ext/upb-generated/envoy/api/v2/core/protocol.upb.c
  src/core/ext/upb-generated/envoy/api/v2/core/protocol.upb.h
  src/core/ext/upb-generated/google/protobuf/empty.upb.c
  src/core/ext/upb-generated/google/protobuf/empty.upb.h
  tools/codegen/core/gen_upb_api.sh
Labels: release notes: no

#18486 Fix Grpc.Core.Api assembly version
  src/csharp/Directory.Build.props
  src/csharp/Grpc.Auth/Grpc.Auth.csproj
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core.Api/Version.cs
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/Grpc.Core.NativeDebug/Grpc.Core.NativeDebug.csproj
  src/csharp/Grpc.Core.Testing/Grpc.Core.Testing.csproj
  src/csharp/Grpc.Core.Tests/Grpc.Core.Tests.csproj
  src/csharp/Grpc.Core/ForwardedTypes.cs
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Examples.MathClient/Grpc.Examples.MathClient.csproj
  src/csharp/Grpc.Examples.MathServer/Grpc.Examples.MathServer.csproj
  src/csharp/Grpc.Examples.Tests/Grpc.Examples.Tests.csproj
  src/csharp/Grpc.Examples/Grpc.Examples.csproj
  src/csharp/Grpc.HealthCheck.Tests/Grpc.HealthCheck.Tests.csproj
  src/csharp/Grpc.HealthCheck/Grpc.HealthCheck.csproj
  src/csharp/Grpc.IntegrationTesting.Client/Grpc.IntegrationTesting.Client.csproj
  src/csharp/Grpc.IntegrationTesting.QpsWorker/Grpc.IntegrationTesting.QpsWorker.csproj
  src/csharp/Grpc.IntegrationTesting.Server/Grpc.IntegrationTesting.Server.csproj
  src/csharp/Grpc.IntegrationTesting.StressClient/Grpc.IntegrationTesting.StressClient.csproj
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/Grpc.Microbenchmarks/Grpc.Microbenchmarks.csproj
  src/csharp/Grpc.Reflection.Tests/Grpc.Reflection.Tests.csproj
  src/csharp/Grpc.Reflection/Grpc.Reflection.csproj
  src/csharp/Grpc.Tools.Tests/Grpc.Tools.Tests.csproj
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
  src/csharp/Grpc/Grpc.csproj
  src/csharp/build/dependencies.props
  src/csharp/expand_dev_version.sh
  templates/src/csharp/Grpc.Core.Api/VersionInfo.cs.template
  templates/src/csharp/build/dependencies.props.template
Labels: lang/C#, release notes: no

#18242 Moving ::grpc::ServerBuilder to ::grpc_impl::ServerBuilder
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/server_builder_plugin.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  src/cpp/server/server_builder.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#17892 Renamed the param in the documentation for HandleParameter to match the actual parameter.
  include/grpcpp/impl/codegen/rpc_service_method.h
Labels: release notes: no

#18498 Breakout of #18445 - part 1
  src/core/lib/transport/transport.h
Labels: release notes: no

#18495 Adding missing language :P
  src/core/README.md
Labels: release notes: no

#18499 Enable go compute engine channel creds interop test
  tools/run_tests/run_interop_tests.py
Labels: lang/go, release notes: no

#18502 Revert "Moving ::grpc::ServerBuilder to ::grpc_impl::ServerBuilder"
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/server_builder_plugin.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  src/cpp/server/server_builder.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18446 Ensure errors link to correct line numbers through the VS Error List
  src/csharp/Grpc.Tools.Tests/ProtoCompileBasicTest.cs
  src/csharp/Grpc.Tools.Tests/ProtoCompileCommandLineGeneratorTest.cs
  src/csharp/Grpc.Tools/ProtoCompile.cs
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#18497 Fully log test scenario
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: release notes: no

#18456 Make gil handling in completion queue more robust
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
Labels: lang/Python, release notes: no

#18514 Correct the default DNS resolver to ares
  doc/environment_variables.md
Labels: area/documentation, release notes: no

#18515 Upmerge v1.19.x
  gRPC-Core.podspec
  src/csharp/Grpc.Core/Version.csproj.include
  src/csharp/doc/docfx.json
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCPlugin.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: release notes: no

#18475 Fix compilation error in JWT using const_cast.
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
Labels: release notes: no

#18522 Attempt to not depend on stdint.h
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/records.pyx.pxi
Labels: lang/Python, release notes: no

#18491 Use GRPC_CLOSURE_SCHED instead of GRPC_CLOSURE_RUN in complete_closure_step
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#18493 Comments for all callback API methods
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/server_builder.h
Labels: lang/c++, priority/P2, release notes: no

#18500 Make AuthContext constructor public
  src/csharp/Grpc.Core.Api/AuthContext.cs
Labels: lang/C#, release notes: yes

#18300 Disable two flaky gevent tests
  src/python/grpcio_tests/commands.py
Labels: area/test, lang/Python, release notes: no

#18534 Clarify callback APIs by moving comments from internal
  include/grpcpp/impl/codegen/server_callback.h
Labels: kind/internal cleanup, lang/c++, release notes: no

#18501 Avoid using grpc_core::Executor when the background poller is available
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/ev_posix.h
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/executor.h
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/iomgr/iomgr.h
  src/core/lib/iomgr/iomgr_custom.cc
  src/core/lib/iomgr/iomgr_internal.cc
  src/core/lib/iomgr/iomgr_internal.h
  src/core/lib/iomgr/iomgr_posix.cc
  src/core/lib/iomgr/iomgr_posix_cfstream.cc
  src/core/lib/iomgr/iomgr_windows.cc
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
Labels: lang/core, release notes: yes

#18545 Fix a NULL deref in tcp_client_windows.cc
  src/core/lib/iomgr/tcp_client_windows.cc
Labels: lang/core, platform/Windows, release notes: yes

#18381 Fix bug in CFStream endpoint
  src/core/lib/iomgr/cfstream_handle.cc
  test/cpp/end2end/cfstream_test.cc
  test/cpp/end2end/test_service_impl.cc
Labels: lang/core, release notes: yes

#18462 Remove unnecessary else condition
  src/core/lib/gprpp/fork.cc
Labels: release notes: no

#18524 Log error to stderr
  test/cpp/util/proto_reflection_descriptor_database.cc
Labels: release notes: no

#18552 Callback API comments
  include/grpcpp/impl/codegen/server_callback.h
Labels: lang/c++, release notes: no

#18558 PHP: should use grpc_shutdown_blocking
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: no

#18437 Split data plane and control plane into their own combiners.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: release notes: no

#18539 Add ini settings for fork support to PHP extension.
  src/php/ext/grpc/php_grpc.c
  src/php/ext/grpc/php_grpc.h
  src/php/ext/grpc/tests/grpc-default-ini.phpt
  src/php/ext/grpc/tests/grpc-set-ini.phpt
Labels: lang/php, release notes: yes

#18488 Add Python example for error handling
  examples/BUILD
  examples/python/errors/BUILD.bazel
  examples/python/errors/README.md
  examples/python/errors/client.py
  examples/python/errors/server.py
  examples/python/errors/test/_error_handling_example_test.py
  src/python/grpcio_tests/tests/BUILD.bazel
Labels: lang/Python, release notes: yes
