Repository grpc/grpc, pull requests merged in 2019-05, with the labels that each got.

#18720 Revert "Revert "Merge pull request #18458 from grpc/grpc_namespace_server""
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/impl/server_initializer_impl.h
  include/grpcpp/security/server_credentials.h
  include/grpcpp/security/server_credentials_impl.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  include/grpcpp/server_impl.h
  src/cpp/server/server_cc.cc
  test/cpp/util/metrics_server.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18799 New config system & migration sample
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/backup_poller.cc
  src/core/ext/filters/client_channel/backup_poller.h
  src/core/ext/transport/chttp2/transport/chttp2_plugin.cc
  src/core/lib/gpr/env.h
  src/core/lib/gpr/env_linux.cc
  src/core/lib/gpr/env_posix.cc
  src/core/lib/gpr/env_windows.cc
  src/core/lib/gpr/string.cc
  src/core/lib/gpr/string.h
  src/core/lib/gprpp/global_config.h
  src/core/lib/gprpp/global_config_custom.h
  src/core/lib/gprpp/global_config_env.cc
  src/core/lib/gprpp/global_config_env.h
  src/core/lib/gprpp/global_config_generic.h
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/gpr/env_test.cc
  test/core/gpr/string_test.cc
  test/core/gprpp/BUILD
  test/core/gprpp/global_config_env_test.cc
  test/core/gprpp/global_config_test.cc
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/naming/resolver_component_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#18920 Tiny fix for combiner comment
  src/core/lib/iomgr/combiner.h
Labels: area/documentation, lang/core, release notes: no

#18842 Respect interval_us setting for TestServicer
  src/python/grpcio_tests/tests/fork/_fork_interop_test.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/_insecure_intraop_test.py
  src/python/grpcio_tests/tests/interop/_secure_intraop_test.py
  src/python/grpcio_tests/tests/interop/methods.py
  src/python/grpcio_tests/tests/interop/server.py
  src/python/grpcio_tests/tests/interop/service.py
Labels: lang/Python, release notes: no

#18922 Revert "Merge pull request #18912 from grpc/revert-bazel-changes"
  .gitignore
  WORKSPACE
  bazel/generate_cc.bzl
  bazel/grpc_python_deps.bzl
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  examples/BUILD
  examples/python/errors/client.py
  examples/python/errors/server.py
  examples/python/errors/test/_error_handling_example_test.py
  examples/python/multiprocessing/BUILD
  examples/python/wait_for_ready/wait_for_ready_example.py
  src/proto/grpc/channelz/BUILD
  src/proto/grpc/health/v1/BUILD
  src/proto/grpc/reflection/v1alpha/BUILD
  src/proto/grpc/testing/BUILD
  src/proto/grpc/testing/proto2/BUILD.bazel
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  tools/distrib/bazel_style.cfg
  tools/distrib/format_bazel.sh
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: area/build, lang/Python, release notes: no

#18927 Add a fast path in grpc_error_get_status() for GRPC_ERROR_NONE.
  src/core/lib/transport/error_utils.cc
Labels: area/performance, release notes: no

#18932 Reset slices pointer to base_slices when slice_bufer length is 0.
  src/core/lib/slice/slice_buffer.cc
Labels: area/performance, release notes: no

#18914 Migrate interceptor types for server-side interceptors to Grpc.Core.Api
  src/csharp/Grpc.Core.Api/Interceptors/ClientInterceptorContext.cs
  src/csharp/Grpc.Core.Api/Interceptors/Interceptor.cs
  src/csharp/Grpc.Core/ForwardedTypes.cs
Labels: lang/C#, release notes: yes

#18923 Split multilang master jobs by language
  tools/internal_ci/linux/grpc_basictests_csharp.cfg
  tools/internal_ci/linux/grpc_basictests_node.cfg
  tools/internal_ci/linux/grpc_basictests_php.cfg
  tools/internal_ci/linux/grpc_basictests_python.cfg
  tools/internal_ci/linux/grpc_basictests_ruby.cfg
  tools/internal_ci/macos/grpc_basictests_c_cpp.cfg
  tools/internal_ci/macos/grpc_basictests_csharp.cfg
  tools/internal_ci/macos/grpc_basictests_node.cfg
  tools/internal_ci/macos/grpc_basictests_php.cfg
  tools/internal_ci/macos/grpc_basictests_python.cfg
  tools/internal_ci/macos/grpc_basictests_ruby.cfg
  tools/internal_ci/windows/grpc_basictests_c.cfg
  tools/internal_ci/windows/grpc_basictests_csharp.cfg
  tools/internal_ci/windows/grpc_basictests_python.cfg
Labels: lang/all wrapped languages, release notes: no

#18940 Made gRPC inialized after entering main function in microbenchmarks.
  test/cpp/microbenchmarks/bm_alarm.cc
  test/cpp/microbenchmarks/bm_byte_buffer.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_channel.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/bm_closure.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/bm_error.cc
  test/cpp/microbenchmarks/bm_fullstack_streaming_ping_pong.cc
  test/cpp/microbenchmarks/bm_fullstack_streaming_pump.cc
  test/cpp/microbenchmarks/bm_fullstack_trickle.cc
  test/cpp/microbenchmarks/bm_fullstack_unary_ping_pong.cc
  test/cpp/microbenchmarks/bm_metadata.cc
  test/cpp/microbenchmarks/bm_pollset.cc
  test/cpp/microbenchmarks/bm_timer.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/microbenchmarks/helpers.cc
  test/cpp/microbenchmarks/helpers.h
Labels: release notes: no

#18952 Sanitized some sources
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv_windows.cc
  src/python/grpcio_tests/tests/interop/service.py
Labels: release notes: no

#18953 Avoid copy on slice_ref.
  src/core/lib/slice/slice_internal.h
Labels: area/performance, release notes: no

#18962 add build.cfg for windows bazel RBE PR build
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_dbg.cfg
Labels: lang/c++, release notes: no

#18956 Job split followup: increase timeout for macos and windows C/C++ jobs
  tools/internal_ci/macos/grpc_basictests_c_cpp.cfg
  tools/internal_ci/windows/grpc_basictests_c.cfg
Labels: lang/c++, release notes: no

#18964 Lazily load protobuf from the grpc ruby errors module
  src/ruby/lib/grpc/errors.rb
Labels: lang/ruby, priority/P0/RELEASE BLOCKER, release notes: no

#18966 Revert arena change
  include/grpc/impl/codegen/port_platform.h
  include/grpc/support/alloc.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/channel/channel_stack.cc
  src/core/lib/gpr/alloc.cc
  src/core/lib/gpr/alloc.h
  src/core/lib/gprpp/arena.cc
  src/core/lib/gprpp/arena.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/transport.cc
  test/core/gpr/alloc_test.cc
  test/core/util/memory_counters.cc
Labels: lang/core, priority/P0/RELEASE BLOCKER, release notes: no

#18925 Use compress and decompress slice_buffers only when they are needed.
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: area/core, area/performance, release notes: no

#18678 Add VS integration for design time build of C# projects
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#18865 C# support slice-by-slice deserialization (allow accessing payload as ReadOnlySequence when on netstandard2.0)
  src/csharp/Grpc.Core.Api/DeserializationContext.cs
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core.Tests/Grpc.Core.Tests.csproj
  src/csharp/Grpc.Core.Tests/Internal/AsyncCallServerTest.cs
  src/csharp/Grpc.Core.Tests/Internal/AsyncCallTest.cs
  src/csharp/Grpc.Core.Tests/Internal/DefaultDeserializationContextTest.cs
  src/csharp/Grpc.Core.Tests/Internal/FakeBufferReaderManager.cs
  src/csharp/Grpc.Core.Tests/Internal/FakeBufferReaderManagerTest.cs
  src/csharp/Grpc.Core.Tests/Internal/ReusableSliceBufferTest.cs
  src/csharp/Grpc.Core.Tests/Internal/SliceTest.cs
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/Internal/AsyncCall.cs
  src/csharp/Grpc.Core/Internal/AsyncCallBase.cs
  src/csharp/Grpc.Core/Internal/BatchContextSafeHandle.cs
  src/csharp/Grpc.Core/Internal/CallSafeHandle.cs
  src/csharp/Grpc.Core/Internal/DefaultDeserializationContext.cs
  src/csharp/Grpc.Core/Internal/INativeCall.cs
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/Grpc.Core/Internal/ReusableSliceBuffer.cs
  src/csharp/Grpc.Core/Internal/Slice.cs
  src/csharp/ext/grpc_csharp_ext.c
  src/csharp/tests.json
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c
  templates/src/csharp/Grpc.Core/Internal/native_methods.include
Labels: lang/C#, release notes: yes

#18971 Jobs split followup: create pull request jobs
  tools/internal_ci/linux/pull_request/grpc_basictests_csharp.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_node.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_php.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_python.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_ruby.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_c_cpp.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_csharp.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_node.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_php.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_python.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_ruby.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_c.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_csharp.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_python.cfg
Labels: lang/all wrapped languages, release notes: no

#18972 Backport kokoro job split to v1.20.x
  tools/internal_ci/linux/grpc_basictests_csharp.cfg
  tools/internal_ci/linux/grpc_basictests_node.cfg
  tools/internal_ci/linux/grpc_basictests_php.cfg
  tools/internal_ci/linux/grpc_basictests_python.cfg
  tools/internal_ci/linux/grpc_basictests_ruby.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_csharp.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_node.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_php.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_python.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_ruby.cfg
  tools/internal_ci/macos/grpc_basictests_c_cpp.cfg
  tools/internal_ci/macos/grpc_basictests_csharp.cfg
  tools/internal_ci/macos/grpc_basictests_node.cfg
  tools/internal_ci/macos/grpc_basictests_php.cfg
  tools/internal_ci/macos/grpc_basictests_python.cfg
  tools/internal_ci/macos/grpc_basictests_ruby.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_c_cpp.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_csharp.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_node.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_php.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_python.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_ruby.cfg
  tools/internal_ci/windows/grpc_basictests_c.cfg
  tools/internal_ci/windows/grpc_basictests_csharp.cfg
  tools/internal_ci/windows/grpc_basictests_python.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_c.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_csharp.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_python.cfg
Labels: lang/all wrapped languages, release notes: no

#18930 Remove fd from pollset when releasing the fd
  src/core/lib/iomgr/ev_epoll1_linux.cc
Labels: release notes: no

#18993 Mark it unlikely for Unref() to return true.
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/transport.h
Labels: release notes: no

#18955 Make cc_grpc_library compatible with native proto_library and cc_proto_library rules
  bazel/BUILD
  bazel/cc_grpc_library.bzl
  bazel/generate_cc.bzl
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  examples/BUILD
  src/proto/grpc/testing/BUILD
Labels: area/build, lang/c++, release notes: yes

#18991 Extracted the code of Cpp Generator into a header
  BUILD
  src/compiler/cpp_plugin.cc
  src/compiler/cpp_plugin.h
Labels: lang/c++, release notes: no

#18963 Check count instead of length in maybe_embiggen() to reset the slice pointer.
  src/core/lib/slice/slice_buffer.cc
Labels: area/core, release notes: no

#17688 Add a backup poller to c-ares resolver to take better advantage of c-ares query timeout/retry logic
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/iomgr/resolve_address_test.cc
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/dns_test_util.cc
  test/cpp/naming/dns_test_util.h
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/core, release notes: yes

#18986 Introduce GRPC_TRACE_FLAG_ENABLED macro to mark trace branches unlikely.
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/stream_lists.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/handshaker.cc
  src/core/lib/debug/trace.h
  src/core/lib/http/parser.cc
  src/core/lib/iomgr/call_combiner.cc
  src/core/lib/iomgr/call_combiner.h
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/ev_posix.h
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/lockfree_event.cc
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/tcp_client_custom.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/timer_generic.cc
  src/core/lib/iomgr/timer_manager.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/surface/api_trace.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/bdp_estimator.cc
  src/core/lib/transport/bdp_estimator.h
  src/core/lib/transport/connectivity_state.cc
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/ssl_transport_security.cc
Labels: release notes: no

#18992 Monthly update of room pem certificates
  etc/roots.pem
Labels: release notes: no

#18730 Fold Channel into grpc_impl from grpc namespace
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/channel_impl.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/security/credentials_impl.h
  include/grpcpp/server_impl.h
  src/compiler/cpp_generator.cc
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/client/create_channel.cc
  src/cpp/client/create_channel_internal.cc
  src/cpp/client/create_channel_internal.h
  src/cpp/client/create_channel_posix.cc
  src/cpp/client/secure_credentials.h
  test/cpp/codegen/compiler_test_golden
  test/cpp/codegen/golden_file_test.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
  test/cpp/util/create_test_channel.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18731 Fold CompletionQueue and ServerCompletionQueue into grpc_impl
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/channel_impl.h
  include/grpcpp/create_channel_impl.h
  include/grpcpp/generic/generic_stub_impl.h
  include/grpcpp/impl/codegen/async_stream.h
  include/grpcpp/impl/codegen/async_unary_call.h
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/codegen/intercepted_channel.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  src/compiler/cpp_generator.cc
  src/cpp/common/completion_queue_cc.cc
  test/cpp/codegen/compiler_test_golden
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18999 Add two more trace logs to the c-ares resolver
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Labels: lang/core, release notes: no

#18946 Service Config Changes to set channel in transient failure on invalid service config
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  test/core/end2end/tests/retry_throttled.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/core, priority/P0/RELEASE BLOCKER, release notes: yes

#18981 Use grpc_core::RefCount for grpc_call and mark Unref path unlikely.
  src/core/lib/surface/call.cc
Labels: release notes: no

#19002 Fix ref-counting bug in health check client.
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
Labels: release notes: no

#18839 Revamp subchannel connectivity state monitoring APIs.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#19008 Bump master version to 1.22.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19009 Bump version to 1.21.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19006 Fix node interop build scripts
  tools/dockerfile/interoptest/grpc_interop_node/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_nodepurejs/build_interop.sh
Labels: area/interop, kind/bug, lang/node, release notes: no

#18910 Added slice equality when static fastpath.
  BUILD
  BUILD.gn
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/compression/compression.cc
  src/core/lib/compression/compression_internal.cc
  src/core/lib/compression/stream_compression.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_utils.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  tools/codegen/core/gen_static_metadata.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#19001 Protected getters and setters for health check fields on the server class
  include/grpcpp/server_impl.h
Labels: lang/c++, release notes: no

#19014 Add tests for setting a channel to lame on an invalid default service config
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/service_config_end2end_test.cc
Labels: release notes: no

#19017 Made Fork.support_enabled_ atomic
  src/core/lib/gprpp/fork.cc
  src/core/lib/gprpp/fork.h
Labels: kind/bug, lang/core, release notes: no

#18881 Add microbenchmark for callback apis
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_callback_streaming_ping_pong.cc
  test/cpp/microbenchmarks/bm_callback_unary_ping_pong.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/callback_streaming_ping_pong.h
  test/cpp/microbenchmarks/callback_test_service.cc
  test/cpp/microbenchmarks/callback_test_service.h
  test/cpp/microbenchmarks/callback_unary_ping_pong.h
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#18915 Add `void` arguments to two function declarations.
  include/grpc/grpc_security.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
Labels: lang/core, release notes: no

#18897 Add managed .NET gRPC client to interop tests
  templates/tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh
  tools/run_tests/run_interop_tests.py
Labels: lang/C#, release notes: no

#18926 Introduce slice_buffer helper methods to avoid copies.
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/lib/compression/stream_compression_gzip.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/slice/slice_buffer.cc
  src/core/lib/slice/slice_internal.h
  test/core/slice/slice_buffer_test.cc
Labels: area/performance, release notes: no

#19025 Fix bug from #19002.
  src/core/ext/filters/client_channel/health/health_check_client.cc
Labels: release notes: no

#18959 Fix some spelling mistakes
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/compression/compression_internal.h
  src/core/lib/compression/stream_compression.h
  src/core/lib/gpr/env.h
  src/core/lib/gprpp/global_config_custom.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/iomgr/error_internal.h
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/udp_server.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/slice/b64.h
  src/core/tsi/alts/handshaker/alts_shared_resource.h
Labels: release notes: no

#19026 Adding bazel wrapper for our sanctified version of bazel.
  .gitignore
  tools/bazel.sh
Labels: release notes: no

#19010 cares: fix Windows platform detection and narrow scope of manual localhost resolution code
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv_windows.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  src/core/lib/iomgr/port.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: area/core, lang/core, lang/node, release notes: no

#19028 Clean up some names in the service config code.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/service_config.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/lib/channel/context.h
  test/core/client_channel/service_config_test.cc
Labels: release notes: no

#19043 Revert "Fold CompletionQueue and ServerCompletionQueue into grpc_impl"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/channel_impl.h
  include/grpcpp/create_channel_impl.h
  include/grpcpp/generic/generic_stub_impl.h
  include/grpcpp/impl/codegen/async_stream.h
  include/grpcpp/impl/codegen/async_unary_call.h
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/codegen/intercepted_channel.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  src/compiler/cpp_generator.cc
  src/cpp/common/completion_queue_cc.cc
  test/cpp/codegen/compiler_test_golden
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#18909 Support accepting external connections.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/impl/codegen/byte_buffer.h
  include/grpcpp/server_builder_impl.h
  include/grpcpp/server_impl.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/iomgr/tcp_server.cc
  src/core/lib/iomgr/tcp_server.h
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix.h
  src/core/lib/iomgr/tcp_server_windows.cc
  src/cpp/server/external_connection_acceptor_impl.cc
  src/cpp/server/external_connection_acceptor_impl.h
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/port_sharing_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
  tools/run_tests/generated/tests.json
Labels: release notes: no

#19037 Cares windows detection backport to v1.21.x
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv_windows.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  src/core/lib/iomgr/port.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#19054 Make sure event_engine is alive before checking for MAYBE_SKIP_TEST
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
Labels: release notes: no

#19056 Grab a ref on fake resolver generator before scheduling a closure
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
Labels: release notes: no

#19047 Remove reference to "class Channel" from gen. code
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: release notes: no

#19046 Remove get-grpc.sh
  templates/tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh
Labels: release notes: no

#19030 Unsubscribe all connectivity callbacks on Channel.close
  src/python/grpcio/grpc/_channel.py
Labels: disposition/help wanted, lang/Python, release notes: yes

#19068 Memset in channel_filter ctor not needed
  src/cpp/common/channel_filter.cc
Labels: release notes: no

#19050 [PHP] Use gpr_log for printing persistent channel warning logs
  src/php/ext/grpc/channel.c
Labels: lang/php, release notes: no

#19016 Update the message allocator API
  include/grpcpp/impl/codegen/message_allocator.h
  include/grpcpp/impl/codegen/server_callback.h
  test/cpp/end2end/message_allocator_end2end_test.cc
Labels: release notes: no

#19077 Fix bug in test health check service implementation.
  test/cpp/end2end/test_health_check_service_impl.cc
Labels: release notes: no

#19081 Add python deprecation notices.
  src/python/grpcio/README.rst
  src/python/grpcio_channelz/README.rst
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/README.rst
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/README.rst
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/README.rst
  src/python/grpcio_status/setup.py
  src/python/grpcio_testing/README.rst
  src/python/grpcio_testing/setup.py
  tools/distrib/python/grpcio_tools/README.rst
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/documentation, lang/Python, priority/P0/RELEASE BLOCKER, release notes: yes

#19086 Gallantly Fix Typo
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
Labels: release notes: no

#19087 Bump version to v1.21.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19091 Use MessageLite for grpc serialization
  include/grpcpp/impl/codegen/config_protobuf.h
  include/grpcpp/impl/codegen/proto_utils.h
Labels: release notes: no

#19069 Add an early flush so that the shutdown callback does not have to wait for deadline expiration
  test/core/util/test_tcp_server.cc
Labels: release notes: no

#19082 Rename root certificate bundle in gRPC-C++ pod
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, platform/iOS, release notes: yes

#19095 Backport #19082
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, platform/iOS, release notes: no

#19018 xds enter fallback mode as long as no child policy is ready
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#19067 Fold Channel and CompletionQueue into grpc_impl
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/channel_impl.h
  include/grpcpp/create_channel_impl.h
  include/grpcpp/generic/generic_stub_impl.h
  include/grpcpp/impl/codegen/async_stream.h
  include/grpcpp/impl/codegen/async_unary_call.h
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/codegen/intercepted_channel.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/security/credentials_impl.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  include/grpcpp/server_impl.h
  src/compiler/cpp_generator.cc
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/client/create_channel.cc
  src/cpp/client/create_channel_internal.cc
  src/cpp/client/create_channel_internal.h
  src/cpp/client/create_channel_posix.cc
  src/cpp/client/secure_credentials.h
  src/cpp/common/completion_queue_cc.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/codegen/golden_file_test.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
  test/cpp/util/create_test_channel.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: disposition/Work In Progress, release notes: no

#18908 Delay the creation of Alarm in the callback-based qps client
  test/cpp/qps/client_callback.cc
Labels: lang/c++, release notes: no

#19120 Use kokoro env variable to get the PRs target branch
  tools/internal_ci/helper_scripts/prepare_build_linux_perf_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/linux/grpc_microbenchmark_diff.sh
  tools/internal_ci/linux/grpc_run_tests_matrix.sh
  tools/internal_ci/linux/grpc_trickle_diff.sh
  tools/internal_ci/linux/run_if_c_cpp_modified.sh
  tools/internal_ci/macos/grpc_ios_binary_size.sh
Labels: lang/all wrapped languages, release notes: no

#19118 Update comment on ssl hotname override
  include/grpcpp/support/channel_arguments_impl.h
Labels: area/documentation, lang/c++, release notes: yes

#19107 Bump to v1.21.1-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19052 Fix node interop build scripts
  tools/dockerfile/interoptest/grpc_interop_node/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_nodepurejs/build_interop.sh
Labels: release notes: no

#19128 Fix typo
  include/grpcpp/impl/codegen/completion_queue_impl.h
Labels: release notes: no

#19115 Correct include style
  src/core/lib/transport/metadata.h
Labels: lang/core, release notes: no

#19105 Produce Python Wheels with a Valid long_description field
  src/python/grpcio/README.rst
  tools/distrib/python/grpcio_tools/README.rst
  tools/run_tests/artifacts/build_artifact_python.bat
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: area/build, lang/Python, priority/P0/RELEASE BLOCKER, release notes: yes

#19080 Flaky network test enhancements
  templates/test/core/end2end/end2end_defs.include
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/util/debugger_macros.cc
  test/core/util/debugger_macros.h
  test/cpp/end2end/flaky_network_test.cc
  tools/internal_ci/linux/grpc_flaky_network_in_docker.sh
Labels: release notes: no

#18813 Start supporting a callback-based RPC under lock
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/server.cc
  test/core/surface/completion_queue_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/callback_streaming_ping_pong.h
Labels: disposition/Work In Progress, lang/c++, release notes: no

#19132 IWYU in core_codegen_interface
  include/grpcpp/impl/codegen/core_codegen_interface.h
Labels: release notes: no

#19106 Add v1.21.0 releases of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#19135 Bump version to 1.21.1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19140 Auto-update Python documentation to 1.21.1
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/glossary.doctree
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_channelz.doctree
  python/.doctrees/grpc_health_checking.doctree
  python/.doctrees/grpc_reflection.doctree
  python/.doctrees/grpc_status.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_status/rpc_status.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_sources/grpc.rst.txt
  python/_static/documentation_options.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_status.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
  python/searchindex.js
Labels: area/documentation, lang/Python, release notes: no

#19109 Fix PHP extension segfault
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: yes

#19147 Fix PHP extension segfault
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: yes

#19157 Port #19105 to master
  src/python/grpcio/README.rst
  tools/distrib/python/grpcio_tools/README.rst
  tools/run_tests/artifacts/build_artifact_python.bat
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: area/build, lang/Python, release notes: no

#19084 Add python deprecation notices.
  src/python/grpcio/README.rst
  src/python/grpcio_channelz/README.rst
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/README.rst
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/README.rst
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/README.rst
  src/python/grpcio_status/setup.py
  src/python/grpcio_testing/README.rst
  src/python/grpcio_testing/setup.py
  tools/distrib/python/grpcio_tools/README.rst
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/documentation, lang/Python, release notes: yes

#19021 Add method to validate service config json
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/support/validate_service_config.h
  src/cpp/common/validate_service_config.cc
  test/cpp/end2end/service_config_end2end_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: lang/c++, release notes: yes

#19012 chttp2 hpack encoder: fast-pathed static md/slice ops
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/chttp2/transport/hpack_table.h
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice_hash_table.h
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_weak_hash_table.h
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  tools/codegen/core/gen_static_metadata.py
Labels: area/performance, release notes: no

#19101 Inlined and saved some ops for grpc_is_binary_header.
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/slice/slice_string_helpers.cc
  src/core/lib/slice/slice_string_helpers.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/surface/validate_metadata.cc
  src/core/lib/surface/validate_metadata.h
Labels: area/performance, release notes: no

#19163 Adjust the order of IOMgr timer initialization and comment of grpc_timer::heap_index
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/iomgr/timer.h
Labels: lang/core, release notes: yes

#19031 Inline more of md_unref for interned metadata.
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata.h
Labels: area/performance, release notes: no

#19156 Bump version
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#19114 Expose interop tests and add --tls_key_file flag for interop_server
  src/proto/grpc/testing/BUILD
  test/cpp/interop/BUILD
  test/cpp/util/BUILD
  test/cpp/util/test_credentials_provider.cc
Labels: release notes: no

#19049 More LB policy API improvements.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/ext/filters/client_channel/lb_policy_registry.h
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#19127 Unify bazel versions
  bazel/grpc_deps.bzl
  templates/tools/dockerfile/bazel.include
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/README.md
  tools/remote_build/rbe_common.bazelrc
Labels: lang/c++, release notes: no

#19137 Swap java interop tests to openjdk8
  templates/tools/dockerfile/interoptest/grpc_interop_java/Dockerfile.include
  templates/tools/dockerfile/interoptest/grpc_interop_java/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh.template
  templates/tools/dockerfile/interoptest/grpc_interop_java/java_deps.include
  templates/tools/dockerfile/interoptest/grpc_interop_java_oracle8/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_java_oracle8/build_interop.sh.template
  templates/tools/dockerfile/interoptest/grpc_interop_java_oracle8/java_deps.include
  tools/dockerfile/interoptest/grpc_interop_java/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_java_oracle8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_java_oracle8/build_interop.sh
  tools/interop_matrix/README.md
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#18979 Add 1.19 and 1.20 ruby releases to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: lang/ruby, release notes: no

#19097 Fix bazel incompatible changes
  bazel/generate_cc.bzl
  bazel/python_rules.bzl
Labels: area/build, kind/bug, release notes: no

#19160 PHP: Fix ZTS build error
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: yes

#19175 Revert "Start supporting a callback-based RPC under lock"
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/server.cc
  test/core/surface/completion_queue_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/callback_streaming_ping_pong.h
Labels: release notes: no

#19129 Replaced gpr_ref with grpc_core::Atomic in call batch struct
  src/core/lib/surface/call.cc
Labels: area/performance, release notes: no

#19180 Fix the memory leak.
  src/core/lib/surface/completion_queue.cc
Labels: release notes: no

#18917 Use SubchannelInterface to hide implementation from LB policy API
  BUILD
  BUILD.gn
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_interface.h
  test/core/util/test_lb_policies.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/sources_and_headers.json
Labels: release notes: no

#19174 Surface exception from metadata credentails plugin methods
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
Labels: lang/Python, release notes: yes

#19143 typo fix
  src/cpp/thread_manager/thread_manager.h
Labels: release notes: no

#19181 Backport: PHP fix ZTS build
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: yes

#19178 Revert "Revert "Start supporting a callback-based RPC under lock""
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/server.cc
  test/core/surface/completion_queue_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/callback_streaming_ping_pong.h
Labels: release notes: no

#19169 remove notification observer to avoid iOS 8 crash
  src/objective-c/GRPCClient/GRPCCall.m
Labels: lang/ObjC, release notes: yes

#19142 Fix a bug where POST_RECV_MESSAGE was not being triggered
  include/grpcpp/impl/codegen/call_op_set.h
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/interceptors_util.cc
  test/cpp/end2end/interceptors_util.h
  test/cpp/end2end/server_interceptors_end2end_test.cc
Labels: lang/core, release notes: yes

#19139 Avoid accessing freed auth_metadata_context in C++ plugin.
  src/core/lib/security/transport/auth_filters.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/cpp/client/secure_credentials.cc
  test/cpp/end2end/end2end_test.cc
Labels: release notes: no

#19198 Put strncpy in parens to silence GCC warning
  src/core/ext/filters/client_channel/lb_policy/grpclb/load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
Labels: release notes: no
