Repository grpc/grpc, pull requests merged in 2019-09, with the labels that each got.

#20136 Revert "Test message size of 100MB"
  test/core/util/test_config.cc
  test/core/util/test_config.h
  test/cpp/end2end/async_end2end_test.cc
Labels: release notes: no

#20113 Enable bitcode for ios native libraries
  src/csharp/experimental/build_native_ext_for_ios.sh
Labels: lang/C#, release notes: yes

#20158 Remove C# workaround for DeadlineExceeded status #2685
  src/csharp/Grpc.Core.Tests/TimeoutsTest.cs
  src/csharp/Grpc.Examples.Tests/MathClientServerTests.cs
  src/csharp/Grpc.IntegrationTesting/InteropClient.cs
Labels: lang/C#, release notes: no

#20149 Remove LiteClientBase
  src/compiler/csharp_generator.cc
  src/compiler/csharp_generator.h
  src/compiler/csharp_plugin.cc
  src/csharp/Grpc.Core.Api/LiteClientBase.cs
  src/csharp/Grpc.Examples/MathWithProtocOptions.cs
  src/csharp/Grpc.Examples/MathWithProtocOptionsGrpc.cs
  src/csharp/Grpc.Examples/math_with_protoc_options.proto
  src/csharp/Grpc.IntegrationTesting/Messages.cs
  src/csharp/Grpc.Microbenchmarks/PingBenchmark.cs
  src/csharp/Grpc.Microbenchmarks/UnaryCallOverheadBenchmark.cs
  src/csharp/Grpc.Tools/build/_grpc/Grpc.CSharp.xml
  src/csharp/Grpc.Tools/build/_grpc/_Grpc.Tools.targets
  src/csharp/generate_proto_csharp.sh
Labels: lang/C#, release notes: yes

#20159 Assign Nana to next Github rotation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#20014 s/branch/tail_call/ for CH2 on_hdr().
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/chttp2/transport/hpack_table.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: area/performance, release notes: no

#20160 Update debian:jessie docker to pin bundler version
  tools/dockerfile/distribtest/ruby_jessie_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_jessie_x86/Dockerfile
Labels: area/build, release notes: no

#20151 Enable stale bot
  .github/stale.yml
Labels: release notes: no

#19788 remove all unused-parameter warnings in C++
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback_impl.h
  include/grpcpp/impl/codegen/interceptor_common.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/rpc_service_method.h
  include/grpcpp/impl/codegen/server_callback_impl.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/time.h
  include/grpcpp/impl/server_builder_plugin.h
  include/grpcpp/security/credentials_impl.h
  include/grpcpp/server_impl.h
  include/grpcpp/support/channel_arguments_impl.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: release notes: no

#19918 Enable C++ standard library
  CMakeLists.txt
  Makefile
  config.m4
  include/grpc/impl/codegen/port_platform.h
  src/php/ext/grpc/config.m4
  src/ruby/ext/grpc/rb_enable_cpp.cc
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/config.m4.template
Labels: lang/core, release notes: no

#20138 Don't run time_jump_test under sanitizers
  test/cpp/common/time_jump_test.cc
Labels: release notes: no

#20123 Fix `shorten-64-to-32` warning in `GRPCChannel`
  src/objective-c/GRPCClient/private/GRPCChannel.m
Labels: lang/ObjC, release notes: no

#20152 Organize test cases for xds test
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20169 Fix PHP build error
  config.m4
  src/php/ext/grpc/config.m4
  templates/config.m4.template
Labels: area/build, lang/php, release notes: no

#20165 Upgrade to Bazel 0.29 (including Windows RBE)
  templates/tools/dockerfile/bazel.include
  tools/bazel
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/windows.bazelrc
Labels: lang/c++, release notes: yes

#20114 enable server compression tests for grpc.aspnetcore.server
  tools/run_tests/run_interop_tests.py
Labels: lang/C#, release notes: no

#19792 C#: support serialization to IBufferWriter
  src/csharp/Grpc.Core.Api/SerializationContext.cs
  src/csharp/Grpc.Core.Tests/ContextualMarshallerTest.cs
  src/csharp/Grpc.Core.Tests/Internal/DefaultSerializationContextTest.cs
  src/csharp/Grpc.Core.Tests/Internal/FakeNativeCall.cs
  src/csharp/Grpc.Core.Tests/Internal/SliceBufferSafeHandleTest.cs
  src/csharp/Grpc.Core/Internal/AsyncCall.cs
  src/csharp/Grpc.Core/Internal/AsyncCallBase.cs
  src/csharp/Grpc.Core/Internal/AsyncCallServer.cs
  src/csharp/Grpc.Core/Internal/CallSafeHandle.cs
  src/csharp/Grpc.Core/Internal/DefaultSerializationContext.cs
  src/csharp/Grpc.Core/Internal/INativeCall.cs
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/Grpc.Core/Internal/ReusableSliceBuffer.cs
  src/csharp/Grpc.Core/Internal/SliceBufferSafeHandle.cs
  src/csharp/Grpc.Core/Internal/SliceMemoryManager.cs
  src/csharp/Grpc.Microbenchmarks/SendMessageBenchmark.cs
  src/csharp/Grpc.Microbenchmarks/UnaryCallOverheadBenchmark.cs
  src/csharp/Grpc.Microbenchmarks/Utf8Encode.cs
  src/csharp/ext/grpc_csharp_ext.c
  src/csharp/tests.json
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c
  templates/src/csharp/Grpc.Core/Internal/native_methods.include
Labels: lang/C#, release notes: yes

#19647 Fixed "implicitly-declared operator= is deprecated" error from gcc 9
  include/grpcpp/impl/codegen/call_op_set.h
Labels: release notes: no

#20035 Use mutex instead of combiner in client channel data plane.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/lib/gprpp/ref_counted_ptr.h
  test/core/gprpp/ref_counted_ptr_test.cc
Labels: release notes: no

#20176 Avoid duplicate initialization of SSL from within grpc and from test
  test/core/handshake/server_ssl_common.cc
Labels: release notes: no

#16327 C++ microbenchmarks: update from KeepRunning to range-based for
  test/cpp/microbenchmarks/bm_alarm.cc
  test/cpp/microbenchmarks/bm_arena.cc
  test/cpp/microbenchmarks/bm_byte_buffer.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_channel.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_closure.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/bm_cq_multiple_threads.cc
  test/cpp/microbenchmarks/bm_error.cc
  test/cpp/microbenchmarks/bm_metadata.cc
  test/cpp/microbenchmarks/bm_pollset.cc
  test/cpp/microbenchmarks/bm_timer.cc
  test/cpp/microbenchmarks/fullstack_streaming_ping_pong.h
  test/cpp/microbenchmarks/fullstack_streaming_pump.h
  test/cpp/microbenchmarks/fullstack_unary_ping_pong.h
  test/cpp/microbenchmarks/noop-benchmark.cc
Labels: release notes: no

#20178 Don't start AuthMetadataProcessor threadpool for non-blocking processor
  src/cpp/server/secure_server_credentials.h
Labels: kind/enhancement, lang/c++, priority/P2, release notes: no

#20148 Fix Windows's STACKFRAME Frame Addr in test_config.cc
  test/core/util/test_config.cc
Labels: lang/core, platform/Windows, release notes: no

#20182 Use libc++ for clang sanity test
  Makefile
  build.yaml
Labels: area/build, area/test, lang/core, release notes: no

#18697 Improved C# distribtests
  test/distrib/csharp/DistribTest/DistribTest.csproj
  test/distrib/csharp/DistribTest/DistribTestDotNet.csproj
  test/distrib/csharp/DistribTest/Program.cs
  test/distrib/csharp/DistribTest/packages.config
  test/distrib/csharp/DistribTest/testcodegen.proto
  test/distrib/csharp/run_distrib_test.sh
  test/distrib/csharp/run_distrib_test_dotnetcli.sh
  test/distrib/csharp/test_codegen/test_codegen.sh
  test/distrib/csharp/test_codegen/testcodegen.proto
  test/distrib/csharp/update_version.sh
  tools/dockerfile/distribtest/csharp_stretch_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_ubuntu1604_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/C#, release notes: no

#20171 Trim trailing spaces from PHP config.m4
  src/php/ext/grpc/config.m4
Labels: area/build, lang/php, release notes: no

#20180 Add docstring to py2and3_test
  bazel/python_rules.bzl
Labels: area/build, area/documentation, lang/Python, release notes: no

#20141 Add strip_prefix to python protoc plugin and py_grpc_library
  bazel/python_rules.bzl
  examples/python/debug/get_stats.py
  src/compiler/python_generator.cc
  src/compiler/python_generator_helpers.h
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_channelz/grpc_channelz/v1/channelz.py
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/reflection.py
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
Labels: area/build, area/protoc plugins, kind/enhancement, lang/Python, release notes: yes

#20028 Enable end2end C++ tests on iOS.
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/channelz_service_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/hybrid_end2end_test.cc
  test/cpp/end2end/port_sharing_end2end_test.cc
  test/cpp/end2end/thread_stress_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  third_party/objective_c/google_toolbox_for_mac/UnitTesting/GTMGoogleTestRunner.mm
Labels: release notes: no

#20196 Add check for input parameter being null.
  src/core/ext/filters/client_channel/lb_policy_registry.cc
Labels: release notes: no

#20195 Revert using libc++ for asan & tsan
  Makefile
  build.yaml
Labels: area/build, area/test, release notes: no

#20170 hpack encoder optimizations.
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/validate_metadata.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: area/performance, kind/enhancement, priority/P2, release notes: no

#20185 Mark CH2 on_initial_header error path unlikely.
  src/core/ext/transport/chttp2/transport/parsing.cc
Labels: area/performance, kind/enhancement, release notes: no

#20172 Better codegen for validate_filtered_metadata.
  src/core/lib/compression/compression.cc
  src/core/lib/compression/compression_internal.h
  src/core/lib/surface/call.cc
Labels: area/performance, kind/enhancement, priority/P2, release notes: no

#20173 Upgrade C# examples to 2.23.0 nugets (in v1.23.x branch).
  examples/csharp/Helloworld/Greeter/Greeter.csproj
  examples/csharp/HelloworldLegacyCsproj/Greeter/Greeter.csproj
  examples/csharp/HelloworldLegacyCsproj/Greeter/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/GreeterClient.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/GreeterServer.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/packages.config
  examples/csharp/HelloworldXamarin/Droid/HelloworldXamarin.Droid.csproj
  examples/csharp/HelloworldXamarin/Droid/Properties/AndroidManifest.xml
  examples/csharp/HelloworldXamarin/Droid/packages.config
  examples/csharp/HelloworldXamarin/HelloworldXamarin.sln
  examples/csharp/HelloworldXamarin/iOS/HelloworldXamarin.iOS.csproj
  examples/csharp/HelloworldXamarin/iOS/packages.config
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
Labels: lang/C#, release notes: no

#20209 Fix internal warning
  bazel/python_rules.bzl
Labels: release notes: no

#20207 Pull out configuration from ssl_utils
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/android/test/interop/app/src/main/cpp/grpc-interop.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/ssl_utils_config.cc
  src/core/lib/security/security_connector/ssl_utils_config.h
  src/objective-c/tests/CronetTests/CoreCronetEnd2EndTests.mm
  src/python/grpcio/grpc_core_dependencies.py
  test/core/bad_ssl/bad_ssl_test.cc
  test/core/end2end/fixtures/h2_spiffe.cc
  test/core/end2end/fixtures/h2_ssl.cc
  test/core/end2end/fixtures/h2_ssl_cred_reload.cc
  test/core/end2end/fixtures/h2_ssl_proxy.cc
  test/core/end2end/h2_ssl_cert_test.cc
  test/core/end2end/h2_ssl_session_reuse_test.cc
  test/core/http/httpscli_test.cc
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#20188 Allow call credentials interception at PRE_SEND_INITIAL_METADATA
  include/grpcpp/impl/codegen/client_context_impl.h
  src/cpp/client/client_context.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/c++, priority/P1, release notes: yes

#20221 Upmerge from v1.23.x branch
  examples/csharp/Helloworld/Greeter/Greeter.csproj
  examples/csharp/HelloworldLegacyCsproj/Greeter/Greeter.csproj
  examples/csharp/HelloworldLegacyCsproj/Greeter/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/GreeterClient.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/GreeterServer.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/packages.config
  examples/csharp/HelloworldXamarin/Droid/HelloworldXamarin.Droid.csproj
  examples/csharp/HelloworldXamarin/Droid/Properties/AndroidManifest.xml
  examples/csharp/HelloworldXamarin/Droid/packages.config
  examples/csharp/HelloworldXamarin/HelloworldXamarin.sln
  examples/csharp/HelloworldXamarin/iOS/HelloworldXamarin.iOS.csproj
  examples/csharp/HelloworldXamarin/iOS/packages.config
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
  src/csharp/Grpc.Core.Api/Interceptors/ChannelExtensions.cs
  src/csharp/Grpc.Core/ForwardedTypes.cs
Labels: release notes: no

#20214 Assign Karthik to next github rotation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#19907 Use cycle clock instead of clock monotonic to measure call latency.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/channel/channel_stack.h
  src/core/lib/gpr/time_precise.cc
  src/core/lib/gpr/time_precise.h
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/surface/call.cc
  test/core/channel/channel_stack_test.cc
  test/core/end2end/tests/filter_latency.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: release notes: no

#20225 Bump version to v1.25
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#20210 Coalesced arena allocs in callback unary C++ code.
  include/grpcpp/impl/codegen/client_callback_impl.h
Labels: area/performance, release notes: no

#20030 Make MethodHandler and related interfaces generic
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/codegen/method_handler.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/security/auth_context.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  include/grpcpp/support/method_handler.h
  src/compiler/cpp_generator.cc
  src/cpp/server/server_cc.cc
  test/cpp/codegen/compiler_test_golden
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#20206 Generate separate sponge target for each test suite for more readable test results.
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no

#20233 Revert "Enable bitcode for ios native libraries" in v1.24.x
  src/csharp/experimental/build_native_ext_for_ios.sh
Labels: lang/C#, release notes: yes

#20247 Backport of #20228
  Makefile
  build.yaml
  grpc.gyp
Labels: release notes: no

#19938 Add en example, quick start grpc with four methods of `service`, in Python.
  examples/python/data_transmission/README.cn.md
  examples/python/data_transmission/README.en.md
  examples/python/data_transmission/client.py
  examples/python/data_transmission/demo.proto
  examples/python/data_transmission/demo_pb2.py
  examples/python/data_transmission/demo_pb2_grpc.py
  examples/python/data_transmission/server.py
Labels: area/documentation, lang/Python, release notes: no

#20248 Move mock test to use ::grpc_impl
  include/grpcpp/test/mock_stream.h
Labels: release notes: no

#20253 Root pem certificates update on Sept 2019
  etc/roots.pem
Labels: area/security, release notes: no

#19364 Properly detect C++ exception for MSVC
  include/grpc/impl/codegen/port_platform.h
Labels: lang/c++, release notes: no

#20242 C# docs: add a note about grpc-dotnet
  README.md
  src/csharp/README.md
Labels: lang/C#, release notes: no

#20237 Add v1.22.3 and v1.23.1 release of grpc-go to interop matrix.
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#20235 Remove node from singlevm end to end benchmarks
  tools/internal_ci/linux/grpc_e2e_performance_singlevm.sh
Labels: lang/node, release notes: no

#20222 Upgrade bazel to 0.29.1
  templates/tools/dockerfile/bazel.include
  tools/bazel
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/windows.bazelrc
Labels: lang/c++, release notes: yes

#20257 Fix v1.24.0-pre1 objc release
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  templates/gRPC-Core.podspec.template
  templates/gRPC.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCPlugin.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/run_tests.py
Labels: lang/ObjC, priority/P0/RELEASE BLOCKER, release notes: no

#20268 Introduce GRPC_ARG_TSI_MAX_FRAME_SIZE channel arg.
  include/grpc/impl/codegen/grpc_types.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/tls/spiffe_security_connector.cc
  src/core/lib/security/security_connector/tls/spiffe_security_connector.h
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/security/transport/security_handshaker.h
  src/core/tsi/alts/frame_protector/alts_frame_protector.cc
  test/core/security/ssl_server_fuzzer.cc
Labels: area/performance, release notes: no

#20269 Tune xds test
  test/cpp/end2end/BUILD
Labels: release notes: no

#20156 Fix simple typo: avaiable -> available
  doc/server_side_auth.md
Labels: release notes: no

#20264 Use bazel 0.29.1 for RBE windows
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/README.md
  tools/remote_build/manual.bazelrc
  tools/remote_build/windows.bazelrc
Labels: lang/c++, platform/Windows, release notes: no

#20271 Renaming remaining filter functions
  src/core/lib/channel/connected_channel.cc
  src/core/lib/surface/server.cc
Labels: release notes: no

#20102 Update reflection doc
  doc/server_reflection_tutorial.md
Labels: release notes: no

#20119 Convert mpscq API from C to C++.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/gpr/mpscq.cc
  src/core/lib/gpr/mpscq.h
  src/core/lib/gprpp/mpscq.cc
  src/core/lib/gprpp/mpscq.h
  src/core/lib/iomgr/call_combiner.cc
  src/core/lib/iomgr/call_combiner.h
  src/core/lib/iomgr/closure.h
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/combiner.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/server.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/gpr/BUILD
  test/core/gprpp/BUILD
  test/core/gprpp/mpscq_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20280 Port 20257: Fix v1.24.0-pre1 objc release
  gRPC-Core.podspec
  gRPC.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/gRPC.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCPlugin.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  tools/run_tests/run_tests.py
Labels: lang/ObjC, release notes: no

#20274 Fix a use after free in c-ares on Windows
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
Labels: lang/core, platform/Windows, release notes: yes

#20262 Remove -DGTM_USING_XCTEST
  third_party/objective_c/google_toolbox_for_mac/BUILD
Labels: release notes: no

#15577 Add Asylo platform support.
  include/grpc/impl/codegen/port_platform.h
  test/core/end2end/generate_tests.bzl
Labels: kind/enhancement, lang/core, priority/P1, release notes: no

#20285 Update the rotation to Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#20286 Remove unused load from python_rules.bzl
  bazel/python_rules.bzl
Labels: area/build, kind/internal cleanup, lang/Python, release notes: no

#20087 Added Objc readme for examples/objective-c with Bazel build
  examples/objective-c/helloworld/README.md
Labels: release notes: no

#19933 Add a fast path to allocate slices in the resource quota.
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/resource_quota.h
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  test/core/iomgr/resource_quota_test.cc
Labels: release notes: no

#20260 Fix README: fix the wrong word and delete line number description of the README, which belong to Python example `data_transmission`
  examples/python/data_transmission/README.cn.md
  examples/python/data_transmission/README.en.md
Labels: area/documentation, lang/Python, release notes: no

#20294 Fix import failure due to 'visibility = ["//visibility:public"]'
  test/core/end2end/generate_tests.bzl
Labels: infra/Bazel, lang/c++, release notes: no

#20270 Move xds protos to testing/
  CMakeLists.txt
  Makefile
  build.yaml
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/eds_for_test.proto
  src/proto/grpc/testing/xds/lrs_for_test.proto
  src/proto/grpc/testing/xds/orca_load_report_for_test.proto
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20256 Add protobuf_deps to WORKSPACE
  WORKSPACE
  bazel/test/python_test_repo/WORKSPACE
Labels: area/build, infra/Bazel, kind/bug, lang/all wrapped languages, release notes: yes

#20288 Make run_performance_tests.py scenarios show up as separate targets in the UI
  tools/internal_ci/linux/grpc_e2e_performance_singlevm.sh
  tools/internal_ci/linux/grpc_full_performance_master.sh
  tools/internal_ci/linux/grpc_full_performance_release.sh
  tools/run_tests/run_performance_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/all wrapped languages, release notes: no

#20245 Change RR to consider a subchannel in TF if it has failed since it was READY.
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/core, release notes: yes

#20297 Clear thread local after use
  src/core/lib/iomgr/executor.cc
Labels: release notes: no

#20282 Build Python wheels with tag manylinux2010
  tools/dockerfile/grpc_artifact_python_manylinux1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux1_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, release notes: yes

#20313 Add linux support to generate_grpc_shadow_boringssl_symbol_list.sh
  src/core/tsi/grpc_shadow_boringssl.h
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/grpc_shadow_boringssl_symbol_list
  tools/distrib/generate_grpc_shadow_boringssl_symbol_list.sh
Labels: area/build, release notes: no

#20317 Ignore GOAWAY errors in inproc transport
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/transport/inproc/inproc_transport.cc
Labels: release notes: no

#20305 Upmerge changes from v1.24.x to master
  src/csharp/docfx/generate_reference_docs.sh
  src/csharp/experimental/build_native_ext_for_ios.sh
Labels: lang/all wrapped languages, release notes: no

#20304 Get rid of wrong add_definitions usage
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, platform/Windows, release notes: no

#20323 Use the first socket mutator if present.
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
Labels: release notes: no

#20322 Fix service config tests
  test/core/client_channel/service_config_test.cc
Labels: lang/c++, release notes: no

#20321 Add MAINTAINERS.md
  CONTRIBUTING.md
  GOVERNANCE.md
  MAINTAINERS.md
Labels: release notes: no

#20334 Revert "Clear thread local after use"
  src/core/lib/iomgr/executor.cc
Labels: release notes: no

#20312 Make grpc++_base and grpc++_base_unsecure use the correct dependencies
  BUILD
Labels: release notes: no

#20320 Removed custom int64 typedef in favor of int64_t.
  include/grpcpp/impl/codegen/config_protobuf.h
  include/grpcpp/impl/codegen/proto_buffer_reader.h
  include/grpcpp/impl/codegen/proto_buffer_writer.h
Labels: release notes: no

#20315 Only dbg for sanity test
  tools/run_tests/run_tests_matrix.py
Labels: area/build, release notes: no

#20302 c++: remove shadowing warnings
  include/grpcpp/impl/codegen/server_interface.h
Labels: release notes: no

#20202 Specify RepositoryUrl in interop test build to fix latest Source Link
  templates/tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_aspnetcore/build_interop.sh
Labels: lang/C#, release notes: no

#20341 Change param name
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
Labels: release notes: no

#20249 PHP: fix zend_hash_str_del() segfault
  src/php/ext/grpc/channel.c
Labels: lang/php, release notes: yes

#20349 PHP: update package.xml template
  package.xml
  templates/package.xml.template
Labels: lang/php, release notes: no

#20232 Add examples/cpp/helloworld/.gitignore
  examples/cpp/helloworld/.gitignore
Labels: kind/internal cleanup, lang/c++, release notes: no

#20347 Global channel args mutator when creating a client channel
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/surface/channel.cc
  test/core/channel/channel_args_test.cc
Labels: release notes: no

#20354 PHP: update memory leak tests
  src/php/tests/MemoryLeakTest/MemoryLeakTest.php
Labels: lang/php, release notes: no

#20351 Fix
  src/core/lib/surface/server.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer_corpus/hope.bin
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20361 Backport "fix"
  src/core/lib/surface/server.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer_corpus/hope.bin
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20348 Bump version to 1.24.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: area/build, release notes: no

#20357 Stop using deprecated gtest macros
  test/core/channel/channelz_test.cc
  test/core/debug/stats_test.cc
  test/core/end2end/h2_ssl_cert_test.cc
  test/core/transport/bdp_estimator_test.cc
  test/core/transport/pid_controller_test.cc
  test/core/util/fuzzer_corpus_test.cc
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/cfstream_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/flaky_network_test.cc
  test/cpp/end2end/hybrid_end2end_test.cc
  test/cpp/end2end/message_allocator_end2end_test.cc
  test/cpp/end2end/port_sharing_end2end_test.cc
  test/cpp/end2end/server_builder_plugin_test.cc
  test/cpp/end2end/shutdown_test.cc
Labels: area/test, lang/c++, release notes: no

#20325 Add base classes of EventManagerInterface.
  BUILD
  src/core/lib/iomgr/poller/eventmanager_interface.h
Labels: lang/core, release notes: no

#20371 Add v1.24.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#20370 interop_maxtrix: add Java v1.24.0 to client matrix
  tools/interop_matrix/client_matrix.py
Labels: lang/Java, release notes: no

#20255 Change transport connectivity watch API to not be lossy.
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/connectivity_state.cc
  src/core/lib/transport/connectivity_state.h
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_op_string.cc
  test/core/surface/lame_client_test.cc
  test/core/transport/BUILD
  test/core/transport/connectivity_state_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20340 Use cluster name from LRS response to report loads
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
Labels: release notes: no

#20359 Expose max protected frame size value for testing.
  src/core/tsi/alts/frame_protector/alts_frame_protector.cc
  src/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector.cc
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/transport_security_grpc.cc
  src/core/tsi/transport_security_grpc.h
  test/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector_test.cc
Labels: area/core, area/security, release notes: no

#20388 Auto-update Python documentation
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/glossary.doctree
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_channelz.doctree
  python/.doctrees/grpc_health_checking.doctree
  python/.doctrees/grpc_reflection.doctree
  python/.doctrees/grpc_status.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc/_cython.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_status/rpc_status.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_static/documentation_options.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_status.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
  python/searchindex.js
Labels: area/documentation, lang/Python, release notes: no

#19981 xds failover locality handling
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_load_balancer_api.h
  src/core/lib/gprpp/inlined_vector.h
  test/core/gprpp/inlined_vector_test.cc
  test/core/util/ubsan_suppressions.txt
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20382 Clean up server
  src/core/lib/surface/server.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer_corpus/hope.bin
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20331 Chttp2combiner
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/iomgr/closure.h
  src/core/lib/iomgr/executor.cc
Labels: release notes: no

#20390 Bump version to v1.23.1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/private/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#20367 fix-up some spelling mistakes
  src/ruby/ext/grpc/rb_channel.c
  tools/debug/core/error_ref_leak.py
  tools/http2_interop/http2interop_test.go
  tools/http2_interop/s6.5.go
  tools/run_tests/artifacts/distribtest_targets.py
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/python_utils/upload_rbe_results.py
  tools/run_tests/run_interop_tests.py
Labels: kind/bug, lang/Python, release notes: no

#20372 Rename gevent_util file
  BUILD
  src/core/lib/iomgr/python_util.h
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
Labels: kind/internal cleanup, lang/Python, release notes: no

#20343 Set "uses_polling" arg for bazel tests
  bazel/grpc_build_system.bzl
  test/core/avl/BUILD
  test/core/backoff/BUILD
  test/core/channel/BUILD
  test/core/client_channel/BUILD
  test/core/compression/BUILD
  test/core/debug/BUILD
  test/core/end2end/BUILD
  test/core/gpr/BUILD
  test/core/gprpp/BUILD
  test/core/http/BUILD
  test/core/iomgr/BUILD
  test/core/json/BUILD
  test/core/memory_usage/BUILD
  test/core/security/BUILD
  test/core/slice/BUILD
  test/core/surface/BUILD
  test/core/transport/BUILD
  test/core/transport/chttp2/BUILD
  test/core/util/BUILD
  test/cpp/codegen/BUILD
  test/cpp/common/BUILD
  test/cpp/qps/BUILD
  test/cpp/util/BUILD
Labels: lang/c++, release notes: no

#20407 Revert #20255 due to internal breakage
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/connectivity_state.cc
  src/core/lib/transport/connectivity_state.h
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_op_string.cc
  test/core/surface/lame_client_test.cc
  test/core/transport/BUILD
  test/core/transport/connectivity_state_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20369 Make public header files in include/grpcpp/test installed with 'make install'
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
Labels: kind/enhancement, lang/other, release notes: no

#20398 Add v1.24.0 to interop_matrix
  tools/interop_matrix/client_matrix.py
Labels: area/test, release notes: no

#20387 PHP: update readme, brew install grpc extension no longer supported
  src/php/README.md
Labels: lang/php, release notes: no
