Repository grpc/grpc, pull requests merged in 2019-11, with the labels that each got.

#20765 CMake style fixes
  CMakeLists.txt
  cmake/benchmark.cmake
  cmake/cares.cmake
  cmake/gRPCConfig.cmake.in
  cmake/gRPCConfigVersion.cmake.in
  cmake/gflags.cmake
  cmake/msvc_static_runtime.cmake
  cmake/protobuf.cmake
  cmake/ssl.cmake
  cmake/zlib.cmake
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: no

#20522 Docs: Correct the text format
  doc/core/grpc-polling-engines.md
Labels: release notes: no

#20899 Update Objective-C examples
  examples/objective-c/helloworld/main.m
  examples/objective-c/helloworld_macos/main.m
  examples/objective-c/route_guide/ViewControllers.m
Labels: lang/ObjC, release notes: no

#20878 Change unused parameter name comment to cast
  src/core/lib/iomgr/buffer_list.cc
Labels: release notes: no

#20908 C++ tests on iOS to work with bazel 1.0
  third_party/objective_c/google_toolbox_for_mac/BUILD
  tools/internal_ci/macos/grpc_run_bazel_cpp_ios_tests.sh
Labels: infra/Bazel, lang/c++, release notes: no

#20888 Backport #20452 to fix the forking issue on macOS
  src/core/lib/iomgr/ev_poll_posix.cc
Labels: kind/bug, lang/Python, release notes: no

#20749 Convert some GRPC_CLOSURE_SCHED to GRPC_CLOSURE_RUN
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/surface/call.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/tcp_posix_test.cc
Labels: release notes: no

#20916 Add more documentation on local credentials
  src/python/grpcio/grpc/__init__.py
Labels: lang/Python, release notes: no, release notes: yes

#20870 Make Windows test gRPC with Python 3.6
  src/python/grpcio_tests/commands.py
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/run_tests.py
Labels: kind/enhancement, lang/Python, priority/P2, release notes: no

#20891 Make sure Core aware of gevent Cython objects
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_grpc_shutdown_test.py
Labels: kind/bug, lang/Python, release notes: yes

#20904 Clean up scripts for cmake tests
  test/distrib/cpp/run_distrib_test_cmake.bat
  test/distrib/cpp/run_distrib_test_cmake.sh
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
Labels: area/test, release notes: no

#20924 Revert "Fix error object memory leak in GetSystemRootCerts"
  src/core/lib/security/security_connector/load_system_roots_linux.cc
Labels: release notes: no

#20901 Removed _gRPC_*_INCLUDE_DIR
  CMakeLists.txt
  cmake/benchmark.cmake
  cmake/cares.cmake
  cmake/gflags.cmake
  cmake/protobuf.cmake
  cmake/ssl.cmake
  cmake/zlib.cmake
  templates/CMakeLists.txt.template
Labels: area/build, release notes: no

#20596 Associate a mutex with ALTS TSI handshaker objects
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/lib/security/credentials/alts/alts_credentials.cc
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/lib/security/security_connector/alts/alts_security_connector.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server.h
  test/core/tsi/alts/handshaker/BUILD
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  tools/run_tests/generated/tests.json
Labels: area/security, lang/core, release notes: no

#20589 Fix assertion failure in grpc_channel_create_with_builder
  src/core/lib/surface/channel.cc
Labels: release notes: no

#20462 Remove gpr_get/set_allocation_functions
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  build_config.rb
  grpc.def
  include/grpc/support/alloc.h
  src/core/lib/gpr/alloc.cc
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/gpr/alloc_test.cc
  test/core/json/fuzzer.cc
  test/core/memory_usage/BUILD
  test/core/memory_usage/client.cc
  test/core/memory_usage/memory_usage_test.cc
  test/core/memory_usage/server.cc
  test/core/security/alts_credentials_fuzzer.cc
  test/core/security/ssl_server_fuzzer.cc
  test/core/slice/percent_decode_fuzzer.cc
  test/core/slice/percent_encode_fuzzer.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/util/memory_counters.cc
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/configs.json
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes

#20789 Attempt to drop support for Python 3.4
  templates/tools/dockerfile/test/python_jessie_x64/Dockerfile.template
  tools/dockerfile/test/python_jessie_x64/Dockerfile
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/internal_ci/windows/grpc_distribtests.bat
  tools/internal_ci/windows/grpc_distribtests_standalone.bat
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/run_tests.py
Labels: area/build, kind/internal cleanup, lang/Python, release notes: yes

#20905 Fix Regression in Client-side Interceptors
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio_tests/tests/unit/_interceptor_test.py
Labels: kind/bug, lang/Python, release notes: no

#20937 Remove new GRPC_CLOSURE_SCHED occurences
  CMakeLists.txt
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
Labels: release notes: no

#20944 PHP: update dockerfiles to allow them to be run on release branches
  src/php/docker/alpine/Dockerfile
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php5/Dockerfile
  templates/src/php/docker/grpc-src/Dockerfile.template
  templates/src/php/docker/pecl_ext_build_src.include
Labels: lang/php, release notes: no

#20941 Update triage duty
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#20805 [AIO] Implement the shutdown process for AIO server and completion queue.
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callbackcontext.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_server.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#20946 PHP: backport dockerfile fixes
  src/php/docker/alpine/Dockerfile
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php5/Dockerfile
  templates/src/php/docker/alpine/Dockerfile.template
  templates/src/php/docker/grpc-ext/Dockerfile.template
  templates/src/php/docker/grpc-src/Dockerfile.template
  templates/src/php/docker/pecl_ext_build_src.include
  templates/src/php/docker/php-future/Dockerfile.template
  templates/src/php/docker/php-src/Dockerfile.template
  templates/src/php/docker/php-zts/Dockerfile.template
  templates/src/php/docker/php5/Dockerfile.template
Labels: lang/php, release notes: no

#20948 Bump version to v1.25.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: release notes: no

#20907 Change upb from filegroup to library
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  cmake/upb.cmake
  config.m4
  config.w32
  gRPC-C++.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
  src/upb/gen_build_yaml.py
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: area/build, release notes: no

#20947 Add grpc-java 1.25.0 to test matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#20949 Add const cast
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
Labels: release notes: no

#20952 Fix alloc/dealloc mismatch in alts_concurrent_connectivity_test
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
Labels: lang/core, release notes: no

#20925 Enable Java interop tests for compression and status
  tools/run_tests/run_interop_tests.py
Labels: lang/Java, release notes: no

#20933 Remove memory_usage test from CI
  tools/internal_ci/linux/grpc_performance_profile_daily.sh
  tools/internal_ci/linux/run_performance_profile_hourly.sh
Labels: area/test, release notes: no

#20918 Add GRPC_USE_ABSL flag
  BUILD
  bazel/grpc_build_system.bzl
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/gprpp/inlined_vector.h
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
Labels: area/build, release notes: no

#20859 C#: fix #20782
  src/csharp/Grpc.Core/build/net45/Grpc.Core.targets
Labels: lang/C#, release notes: yes

#20936 Add self to active maintainers
  MAINTAINERS.md
Labels: kind/enhancement, lang/all wrapped languages, priority/P2, release notes: no

#20927 Abseilify StringView with absl:string_view
  bazel/grpc_build_system.bzl
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/lib/gprpp/host_port.cc
  src/core/lib/gprpp/string_view.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/tls/spiffe_security_connector.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/tsi/ssl_transport_security.cc
  test/core/gprpp/string_view_test.cc
  test/core/security/credentials_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: area/build, lang/core, release notes: no

#20838 Dedupe dual stack tests
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_metadata_flags_test.py
  src/python/grpcio_tests/tests/unit/_reconnect_test.py
  src/python/grpcio_tests/tests/unit/_tcp_proxy.py
  src/python/grpcio_tests/tests/unit/framework/common/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/common/__init__.py
  src/python/grpcio_tests/tests/unit/test_common.py
Labels: area/test, lang/Python, release notes: no

#20959 Replaced grpc_core::Set with std::set
  BUILD
  BUILD.gn
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/lib/gprpp/set.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: area/core, release notes: no

#20930 Replace existing channel factory arg, if any
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
Labels: lang/core, release notes: no

#20938 Add additional test runner for single-threaded unary-stream code path
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio_tests/tests/unit/_interceptor_test.py
  src/python/grpcio_tests/tests/unit/thread_pool.py
  tools/bazel.rc
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: area/test, lang/Python, release notes: no

#20800 Fuzz message/stream compression and decompression
  test/core/compression/BUILD
  test/core/compression/message_compress_fuzzer.cc
  test/core/compression/message_decompress_fuzzer.cc
  test/core/compression/stream_compression_fuzzer.cc
  test/core/compression/stream_decompression_fuzzer.cc
Labels: release notes: no

#20801 Fuzz base64 encoding and decoding
  test/core/slice/BUILD
  test/core/slice/b64_decode_fuzzer.cc
  test/core/slice/b64_encode_fuzzer.cc
Labels: release notes: no

#20958 Replaced grpc_core::Map with std::map
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.h
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/ext/filters/client_channel/xds/xds_client_stats.h
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.h
  src/core/lib/gprpp/map.h
  src/core/lib/security/credentials/credentials.cc
  src/core/lib/security/credentials/credentials.h
  src/core/lib/transport/connectivity_state.h
Labels: area/core, release notes: no

#20926 Modification of #20862 to Work in Blaze
  WORKSPACE
  bazel/custom_exec_properties.bzl
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  test/core/gprpp/BUILD
  test/core/iomgr/BUILD
  test/cpp/qps/BUILD
  third_party/toolchains/BUILD
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/all wrapped languages, release notes: no

#20314 Fix issue with exception being out of scope in Python 3.
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/resolver.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
Labels: kind/bug, lang/Python, release notes: yes

#20945 Add v1.25.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#20969 Constify parameter struct since all fields set at construction
  include/grpcpp/impl/codegen/rpc_service_method.h
Labels: lang/c++, release notes: no

#20968 Lambdify outdated-style thread invocation
  test/cpp/end2end/async_end2end_test.cc
Labels: lang/c++, release notes: no

#20965 Replaced unique_ptr<char> with string for channelz
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/gprpp/string_view.h
  src/core/lib/surface/channel.cc
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_registry_test.cc
Labels: lang/core, release notes: no

#20981 Add deprecated functions for internal usage
  src/core/lib/gprpp/memory.h
Labels: lang/core, release notes: no

#20979 Fix gen_build_yaml.py
  src/upb/gen_build_yaml.py
Labels: release notes: no

#20956 Disable flaky timer_test on windows
  test/cpp/common/timer_test.cc
Labels: lang/core, release notes: no

#20984 Fix new & delete match
  src/core/lib/security/credentials/composite/composite_credentials.cc
  test/core/gprpp/mpscq_test.cc
  test/cpp/client/credentials_test.cc
Labels: lang/core, release notes: no

#20900 Use C/C++ default timeout for windows portability test
  tools/run_tests/run_tests_matrix.py
Labels: area/test, release notes: no

#20873 [Exposing ALTS Context 1/2] Fill in context on TSI and Security Connector Layer
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  test/core/security/alts_security_connector_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: area/security, lang/core, release notes: no

#20951 [Aio] Unify the logic around Core Callback API for both sides
  src/python/grpcio/grpc/_cython/BUILD.bazel
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pxd
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio_tests/tests_aio/unit/call_test.py
Labels: kind/enhancement, lang/Python, release notes: no

#20977 gRPC-C++ podspec follows gRPC versioning
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, release notes: yes

#20978 Port #20977: gRPC-C++ podspec follows gRPC versioning
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, release notes: yes

#20906 Remove GRPC_CLOSURE_RUN and replace with grpc_core::Closure::Run
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/iomgr/call_combiner.cc
  src/core/lib/iomgr/closure.h
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/transport.cc
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/iomgr/resource_quota_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/bm_closure.cc
Labels: release notes: no

#20993 Updates build files to use a sorted list of sources
  config.m4
  grpc.gemspec
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
  templates/config.m4.template
  templates/grpc.gemspec.template
  templates/package.xml.template
  templates/src/python/grpcio/grpc_core_dependencies.py.template
Labels: area/build, release notes: no

#21000 Use 64-bit atomic variales instead of gpr_atm in channelz.
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
Labels: area/core, release notes: no

#20929 Use the RECV_STATUS op in ALTS handshake RPCs
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker_private.h
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: area/security, lang/core, release notes: no

#20963 Fix TSAN race in handshakers
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/lib/security/transport/security_handshaker.cc
Labels: release notes: no

#20980 Remove unused variable
  src/core/ext/transport/chttp2/transport/flow_control.h
Labels: release notes: no

#20997 Improve ServerCallContext doc comments.
  src/csharp/Grpc.Core.Api/ServerCallContext.cs
Labels: lang/C#, release notes: no

#20942 Update triage duty to veblush
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21087 Patch for PR#20873
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
Labels: lang/core, release notes: no

#21024 Raise deadline of failed RPC in cancel_ares_query_test
  test/cpp/naming/cancel_ares_query_test.cc
Labels: lang/core, release notes: no

#20975 Boringssl podspec clean-up
  gRPC-Core.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, release notes: no

#20988 Fix filegroup 'use' relationship in build.yaml
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  templates/gRPC-C++.podspec.template
  test/cpp/ios/Podfile
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: no

#21117 Port #20988
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  templates/gRPC-C++.podspec.template
  test/cpp/ios/Podfile
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#20629 Add options for all codegen plugins
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#21152 Increase MacOS C/C++ test limit
  tools/internal_ci/macos/grpc_basictests_c_cpp.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_c_cpp.cfg
Labels: lang/c++, release notes: no

#21165 Fix typo in gRPC C++ podspec
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/ObjC, release notes: no

#21193 Fix racey test assertion in alts_concurrent_connectivity_test
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
Labels: lang/core, release notes: no

#21182 Ban use of std::sync constructs
  src/cpp/server/external_connection_acceptor_impl.cc
  src/cpp/server/external_connection_acceptor_impl.h
  tools/run_tests/sanity/cpp_banned_constructs.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/c++, release notes: no

#21166 Backport #21165: Fix typo in gRPC C++ podspec
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/ObjC, release notes: no

#21119 Remove GRPC_CLOSURE_LIST_SCHED and remove scheduler field from grpc_closure
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/iomgr/closure.h
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/combiner.h
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/resource_quota.cc
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/iomgr/timer_generic.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/bm_closure.cc
  test/cpp/microbenchmarks/bm_pollset.cc
Labels: release notes: no

#21195 Reduce log level of gpr_cpu_current_cpu to GPR_DEBUG
  src/core/lib/gpr/cpu_linux.cc
Labels: release notes: no

#21179 Workaround the ExternalDnsWithTracingClientServerTest flake on Linux
  src/csharp/Grpc.IntegrationTesting/ExternalDnsWithTracingClientServerTest.cs
Labels: lang/C#, release notes: no

#20990 Clean up memory.h
  src/core/lib/gprpp/memory.h
Labels: lang/core, release notes: no

#21204 Roll-forward changes of #20968 which were accidentally reverted
  test/cpp/end2end/async_end2end_test.cc
Labels: release notes: no

#21205 Update manager to sheenaqotj
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#20424 Fix error in usage of _SC_THREAD_STACK_MIN in test
  src/core/lib/gprpp/thd_posix.cc
Labels: lang/core, release notes: no

#21095 Fix C++ tests to enable running on android
  test/cpp/client/BUILD
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#21011 Do not build channelz when gRPC_USE_PROTO_LITE
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#20910 Disable client_idle_filter
  src/core/ext/filters/client_idle/client_idle_filter.cc
  test/core/channel/channel_args_test.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
Labels: lang/core, release notes: yes

#21222 Remove unnecessary owners in client_channel tree.
  .github/CODEOWNERS
  OWNERS
  src/core/ext/filters/client_channel/OWNERS
Labels: release notes: no

#20722 Globally limit the number of outstanding ALTS handshakes
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server.cc
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server.h
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server_main.cc
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: area/security, lang/core, release notes: no

#21211 Clean up headers
  include/grpcpp/channel_impl.h
  include/grpcpp/impl/codegen/client_context_impl.h
  include/grpcpp/server_impl.h
  src/cpp/client/channel_cc.cc
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/dynamic_thread_pool.h
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/server_context.cc
  src/cpp/thread_manager/thread_manager.cc
  src/cpp/thread_manager/thread_manager.h
  test/cpp/end2end/message_allocator_end2end_test.cc
  tools/run_tests/sanity/cpp_banned_constructs.sh
Labels: kind/internal cleanup, release notes: no

#21206 Update C++ doc
  doc/core/moving-to-c++.md
Labels: area/documentation, release notes: no

#21203 fix pip install commands
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/all wrapped languages, release notes: no

#21229 Fix differing parameter name clang tidy warning
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server.h
Labels: lang/core, release notes: no

#21243 Create http_over_grpc proto
  src/proto/grpc/http_over_grpc/BUILD
  src/proto/grpc/http_over_grpc/http_over_grpc.proto
Labels: release notes: no

#19311 Ensure awake pollset_work threads exist on Windows
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/lib/iomgr/pollset_windows.cc
  test/core/iomgr/pollset_windows_starvation_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes

#21245 Add missing #include condition_variable
  test/cpp/end2end/flaky_network_test.cc
Labels: release notes: no

#21239 Fix server shutdown ordering bug
  src/cpp/server/server_cc.cc
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: lang/c++, release notes: no

#21254 Fix submodule_at_head script
  tools/distrib/python/bazel_deps.sh
  tools/internal_ci/linux/grpc_build_submodule_at_head.sh
Labels: release notes: no

#21252 Fix ordering of load and licenses in BUILD
  src/proto/grpc/http_over_grpc/BUILD
Labels: release notes: no

#21251 Update upb to the latest
  third_party/upb/bazel/upb_proto_library.bzl
  third_party/upb/bazel/workspace_deps.bzl
  third_party/upb/generated_for_cmake/upb/json/parser.c
  third_party/upb/tests/pb/test_decoder.cc
  third_party/upb/upb/decode.c
  third_party/upb/upb/json/parser.rl
  third_party/upb/upb/pb/decoder.c
  third_party/upb/upb/sink.h
Labels: area/core, release notes: no

#21255 Add comment about thread safety to ServerContext IsCancelled()
  include/grpcpp/impl/codegen/server_context_impl.h
Labels: release notes: no

#21258 Change manager to veblush
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21218 bazel: prefer using "size" over "timeout" for bazel tests
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  test/core/end2end/fuzzers/BUILD
  test/core/util/grpc_fuzzer.bzl
  test/cpp/end2end/BUILD
  tools/remote_build/manual.bazelrc
  tools/remote_build/windows.bazelrc
Labels: infra/Bazel, release notes: no

#21248 Use dedicated threads for synchronous runners
  src/python/grpcio_tests/commands.py
Labels: kind/bug, lang/Python, priority/P2, release notes: no

#21259 Fix the version of twine <= 2.0
  tools/run_tests/artifacts/build_artifact_python.bat
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: infra/buildgen, release notes: no

#18856 Revamp server-side callback API and message allocator API
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/client_callback_impl.h
  include/grpcpp/impl/codegen/client_context_impl.h
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/rpc_service_method.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_callback_impl.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/test/default_reactor_test_peer.h
  src/compiler/cpp_generator.cc
  src/core/lib/surface/completion_queue.cc
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/server/server_callback.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  test/core/end2end/inproc_callback_test.cc
  test/core/end2end/tests/connectivity.cc
  test/core/iomgr/threadpool_test.cc
  test/core/surface/completion_queue_test.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/hybrid_end2end_test.cc
  test/cpp/end2end/message_allocator_end2end_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/test_service_impl.cc
  test/cpp/end2end/test_service_impl.h
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/bm_threadpool.cc
  test/cpp/microbenchmarks/callback_test_service.cc
  test/cpp/microbenchmarks/callback_test_service.h
  test/cpp/qps/server_callback.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#20976 Automatically disable testing frameworks if gRPC_BUILD_TESTS=OFF
  CMakeLists.txt
  cmake/benchmark.cmake
  cmake/gflags.cmake
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#20902 Convert grpc_connector to C++.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/connector.cc
  src/core/ext/filters/client_channel/connector.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#21274 Shard xds_end2end_test.
  bazel/grpc_build_system.bzl
  test/cpp/end2end/BUILD
Labels: release notes: no

#20597 Correct the benchmark calculation and add comments to clarify the meaning of each field in ScenarioResultSummary
  src/proto/grpc/testing/control.proto
  test/cpp/qps/driver.cc
Labels: kind/enhancement, lang/c++, priority/P2, release notes: no

#20567 Stronger guarantee on failure of read/write operations
  include/grpcpp/impl/codegen/client_callback_impl.h
Labels: release notes: no

#21196 [Exposing ALTS Context 2/2] Provide a Utility Function to Get Context
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  include/grpcpp/alts_context.h
  src/cpp/common/alts_context.cc
  src/proto/grpc/gcp/BUILD
  test/cpp/common/BUILD
  test/cpp/common/alts_context_test.cc
  tools/run_tests/generated/tests.json
Labels: area/security, lang/c++, release notes: no

#21294 Make bazel test sharding work for poller-specific tests
  bazel/grpc_build_system.bzl
Labels: lang/c++, release notes: no

#21290 Support mutating a value used for a response in grpcio_testing
  src/python/grpcio_testing/grpc_testing/_server/_service.py
  src/python/grpcio_tests/tests/testing/_application_common.py
  src/python/grpcio_tests/tests/testing/_server_application.py
  src/python/grpcio_tests/tests/testing/_server_test.py
Labels: area/test, kind/bug, lang/Python, release notes: no

#21287 Sync time before running time_jump_test
  tools/internal_ci/macos/grpc_run_bazel_isolated_tests.sh
Labels: release notes: no

#21219 Use more reasonable timeouts for bazel RBE tests
  test/core/tsi/ssl_transport_security_test.cc
  test/cpp/end2end/BUILD
  tools/remote_build/rbe_common.bazelrc
Labels: infra/Bazel, lang/c++, release notes: no

#21270 Release Python3.8 wheel on macOS
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: kind/enhancement, lang/Python, platform/macOS, release notes: yes

#21266 Fix C# sending empty payloads with gzip compression
  src/csharp/Grpc.Core.Tests/CompressionTest.cs
  src/csharp/Grpc.Core.Tests/Internal/SliceBufferSafeHandleTest.cs
  src/csharp/Grpc.Core/Internal/SliceBufferSafeHandle.cs
  src/csharp/ext/grpc_csharp_ext.c
Labels: lang/C#, release notes: yes

#20510 Start running bazel C/C++ tests on mac
  src/core/lib/iomgr/endpoint_pair_posix.cc
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/udp_server.cc
  test/core/backoff/backoff_test.cc
  test/core/bad_client/tests/large_metadata.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/handshake/client_ssl.cc
  test/core/handshake/verify_peer_options.cc
  test/core/iomgr/BUILD
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/socket_utils_test.cc
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/iomgr/udp_server_test.cc
  test/core/security/credentials_test.cc
  test/core/surface/byte_buffer_reader_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_utils_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_grpc_record_protocol_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector_test.cc
  test/cpp/common/timer_test.cc
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/naming/generate_resolver_component_tests.bzl
  tools/internal_ci/macos/grpc_bazel_c_cpp_dbg.cfg
  tools/internal_ci/macos/grpc_bazel_c_cpp_opt.cfg
  tools/internal_ci/macos/grpc_run_bazel_c_cpp_tests.sh
  tools/remote_build/README.md
  tools/remote_build/mac.bazelrc
Labels: lang/c++, release notes: no

#21298 Revert "[Exposing ALTS Context 2/2] Provide a Utility Function to Get Context"
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  include/grpcpp/alts_context.h
  src/cpp/common/alts_context.cc
  src/proto/grpc/gcp/BUILD
  test/cpp/common/BUILD
  test/cpp/common/alts_context_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#21313 Update manager to nicolasnoble
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21277 Fixing bug where subject token was used instead of the actor token.
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  test/core/security/credentials_test.cc
Labels: area/security, lang/core, release notes: no

#21285 Add side-products of Python compilation to gitignore
  .gitignore
  src/python/grpcio/commands.py
Labels: kind/internal cleanup, lang/Python, priority/P2, release notes: no

#21315 Fix compression filter crash on empty payload
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/lib/transport/byte_stream.h
  src/csharp/Grpc.Core.Tests/Internal/SliceBufferSafeHandleTest.cs
  src/csharp/Grpc.Core/Internal/SliceBufferSafeHandle.cs
  src/csharp/ext/grpc_csharp_ext.c
Labels: lang/C#, lang/core, release notes: yes

#21271 Release Python3.8 wheels for Windows
  tools/internal_ci/helper_scripts/install_python38.ps1
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/internal_ci/windows/grpc_distribtests.bat
  tools/internal_ci/windows/grpc_distribtests_standalone.bat
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.bat
Labels: kind/enhancement, lang/Python, platform/Windows, release notes: yes

#21310 Dont run qps_json_driver and json_run_localhost scenarios under bazel on Mac
  test/cpp/qps/qps_benchmark_script.bzl
Labels: infra/Bazel, lang/c++, release notes: no
