Repository grpc/grpc, pull requests merged in 2020-06, with the labels that each got.

#23067 Mark cancel_ares_query_test as flaky
  Makefile
  build_autogenerated.yaml
  test/cpp/naming/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#23068 Mark concurrent_connectivity_test as flaky
  Makefile
  build_autogenerated.yaml
  test/core/surface/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#23075 Second attempt: Remove gpr_strvec.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/handshaker.cc
  src/core/lib/debug/stats.cc
  src/core/lib/debug/stats.h
  src/core/lib/gpr/string.cc
  src/core/lib/gpr/string.h
  src/core/lib/http/format_request.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/surface/call_log_batch.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/event_string.cc
  src/core/lib/surface/event_string.h
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_op_string.cc
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
  test/core/bad_client/tests/large_metadata.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/cq_verifier.cc
  test/core/end2end/tests/simple_request.cc
  test/core/gpr/arena_test.cc
  test/core/security/verify_jwt.cc
  test/core/util/cmdline.cc
  test/core/util/cmdline.h
  test/core/util/cmdline_test.cc
Labels: release notes: no

#23094 Add grpc-prefixed package generation script
  .gitignore
  tools/distrib/python/grpc_prefixed/.gitignore
  tools/distrib/python/grpc_prefixed/generate.py
  tools/distrib/python/grpc_prefixed/templates/MANIFEST.in.template
  tools/distrib/python/grpc_prefixed/templates/README.rst.template
  tools/distrib/python/grpc_prefixed/templates/setup.py.template
Labels: kind/enhancement, lang/Python, release notes: no

#23099 Pass repo manager resposibility to Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#23021 Include <memory> for std::unique_ptr
  include/grpcpp/impl/codegen/interceptor.h
Labels: release notes: no

#23092 Add Aio stream stream client interceptor support
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio/grpc/experimental/aio/_typing.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_common.py
  src/python/grpcio_tests/tests_aio/unit/client_stream_stream_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/client_stream_unary_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/client_unary_stream_interceptor_test.py
Labels: kind/experimental api, lang/Python, release notes: yes

#23106 Fix xds_end2end_test to not set the response state back to SENT.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23105 Support xDS via both "xds" and "xds-experimental" URI schemes.
  examples/python/xds/README.md
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: lang/core, release notes: yes

#23116 Revert "Fix StartCall: make corking work and allow concurrent Start*"
  include/grpcpp/impl/codegen/client_callback_impl.h
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: release notes: no

#23110 Allow configuring default service configs in grpc_cli via --default_service_config
  test/cpp/util/grpc_cli.cc
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool_test.cc
Labels: area/tools, lang/c++, release notes: no

#23032 Fix missing include for std::string
  src/core/lib/debug/stats.h
Labels: lang/c++, release notes: yes

#23041 Correct gMock syntax in example code.
  doc/unit_testing.md
Labels: release notes: no

#22985 Initial module docstring for python _pb2_grpc
  src/compiler/python_generator.cc
Labels: area/build, lang/Python, release notes: no

#23114 Add C# XDS example
  examples/csharp/Xds/Greeter.sln
  examples/csharp/Xds/Greeter/Greeter.csproj
  examples/csharp/Xds/GreeterClient/GreeterClient.csproj
  examples/csharp/Xds/GreeterClient/Program.cs
  examples/csharp/Xds/GreeterServer/GreeterServer.csproj
  examples/csharp/Xds/GreeterServer/Program.cs
  examples/csharp/Xds/README.md
Labels: lang/C#, release notes: no

#23117 Fix use-after-free bug for ResourceState of unsubscribed RDS resource.
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23118 Enable xds_routing_lb tracer in xds interop tests.
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#23091 xds interop: disable validateForProxyless for traffic splitting test
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23126 Fix PHP xDS test
  tools/dockerfile/test/php73_zts_stretch_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
Labels: disposition/BUILDCOP, lang/php, release notes: no

#23125 Ruby: better error checking in ruby helloworld greeter_client
  examples/ruby/greeter_client.rb
Labels: lang/ruby, release notes: no

#23128 Increase PHP/Ruby xDS test timeout
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
Labels: lang/php, lang/ruby, release notes: no

#22891 C# expose C-core's debug error string in Status struct
  src/csharp/Grpc.Core.Api/Status.cs
  src/csharp/Grpc.Core.Tests/ClientServerTest.cs
  src/csharp/Grpc.Core/Internal/BatchContextSafeHandle.cs
  src/csharp/Grpc.Core/Internal/CoreErrorDetailException.cs
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/ext/grpc_csharp_ext.c
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c
  templates/src/csharp/Grpc.Core/Internal/native_methods.include
Labels: lang/C#, release notes: yes

#23129 Fix C# distrib test
  test/distrib/csharp/DistribTest/DistribTest.csproj
Labels: lang/C#, release notes: no

#23115 Remove reference to building from source in Python xDS Example
  examples/python/xds/README.md
  examples/python/xds/requirements.txt
Labels: area/documentation, lang/Python, release notes: no

#23135 Revert "C# expose C-core's debug error string in Status struct"
  src/csharp/Grpc.Core.Api/Status.cs
  src/csharp/Grpc.Core.Tests/ClientServerTest.cs
  src/csharp/Grpc.Core/Internal/BatchContextSafeHandle.cs
  src/csharp/Grpc.Core/Internal/CoreErrorDetailException.cs
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/ext/grpc_csharp_ext.c
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c
  templates/src/csharp/Grpc.Core/Internal/native_methods.include
Labels: lang/C#, release notes: no

#23139 Add debug to php / ruby xds test around qps param
  src/php/tests/interop/xds_client.php
  src/ruby/pb/test/xds_client.rb
Labels: lang/php, lang/ruby, release notes: no

#23138 xds: Add logging for WeightedCluster field.
  src/core/ext/filters/client_channel/xds/xds_api.cc
Labels: release notes: no

#23142 Set timeout to PHP/Ruby xDS test
  src/php/tests/interop/xds_client.php
  src/ruby/pb/test/xds_client.rb
Labels: lang/php, lang/ruby, release notes: no

#22895 Fix C++ cleanup in Grpc.Tools
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#22582 Add Java v1.28.1 to interop test client matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#23148 Reintroduce "C# expose C-core's debug error string in Status struct"
  src/csharp/Grpc.Core.Api/Status.cs
  src/csharp/Grpc.Core.Tests/ClientServerTest.cs
  src/csharp/Grpc.Core/Internal/BatchContextSafeHandle.cs
  src/csharp/Grpc.Core/Internal/CoreErrorDetailException.cs
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/ext/grpc_csharp_ext.c
  src/csharp/unitypackage/unitypackage_skeleton/Plugins/Grpc.Core/runtimes/grpc_csharp_ext_dummy_stubs.c
  templates/src/csharp/Grpc.Core/Internal/native_methods.include
Labels: lang/C#, release notes: yes

#23151 Update pings channel args documentation
  doc/keepalive.md
  include/grpc/impl/codegen/grpc_types.h
Labels: release notes: no

#23145 Add missing reset for ping clocks to avoid mistakenly sending GOAWAY frames due to 'too_many_pings'
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/too_many_pings_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes

#23154 Bump ver on master to 1.31.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: release notes: no

#23155 bump v1.30.x branch to v1.30.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: release notes: no

#23153 Simplify channel credentials in simple stubs
  src/compiler/python_generator.cc
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
  src/python/grpcio_tests/tests_py3_only/unit/_simple_stubs_test.py
Labels: lang/Python, release notes: yes

#22931 Switch genrule to skylib's copy_file.
  third_party/cares/cares.BUILD
Labels: kokoro:run, platform/Windows, release notes: no

#23038 Update multi-domain key materials
  src/core/tsi/test_creds/README
  src/core/tsi/test_creds/multi-domain-openssl.cnf
  src/core/tsi/test_creds/multi-domain.key
  src/core/tsi/test_creds/multi-domain.pem
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core, release notes: no

#22647 Fix race condition caused by simultaneous updates on SSL server handshaker
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
Labels: lang/core, release notes: yes

#23156 Remove window update frames from the pings doc
  doc/keepalive.md
  include/grpc/impl/codegen/grpc_types.h
Labels: release notes: no

#23107 Propagate contextvars to auxiliary threads
  src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/fork_windows.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/thread.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_contextvars_propagation_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#23163 Default wait_for_ready to True in simple stubs
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_tests/tests_py3_only/unit/_simple_stubs_test.py
Labels: lang/Python, release notes: yes

#23164 Add an overall deadline option to interop soak tests to prevent test runner timeouts
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
Labels: lang/c++, release notes: no

#23176 Avoid attribute error in __del__ of _ChannelCallState
  src/python/grpcio/grpc/_channel.py
Labels: lang/Python, release notes: yes

#22991 Don't mark server RPC canceled if finished with explicit non-OK status
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/impl/codegen/server_context_impl.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/version.cc
  src/core/lib/transport/transport.h
  src/objective-c/tests/version.h
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/inproc_callback_test.cc
  test/core/end2end/tests/call_host_override.cc
  test/core/end2end/tests/default_host.cc
  test/core/end2end/tests/disappearing_server.cc
  test/core/end2end/tests/graceful_server_shutdown.cc
  test/core/end2end/tests/high_initial_seqno.cc
  test/core/end2end/tests/hpack_size.cc
  test/core/end2end/tests/idempotent_request.cc
  test/core/end2end/tests/invoke_large_request.cc
  test/core/end2end/tests/max_concurrent_streams.cc
  test/core/end2end/tests/max_connection_age.cc
  test/core/end2end/tests/max_connection_idle.cc
  test/core/end2end/tests/no_logging.cc
  test/core/end2end/tests/proxy_auth.cc
  test/core/end2end/tests/registered_call.cc
  test/core/end2end/tests/retry_cancellation.cc
  test/core/end2end/tests/retry_disabled.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_initial_batch.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_subsequent_batch.cc
  test/core/end2end/tests/retry_non_retriable_status.cc
  test/core/end2end/tests/retry_non_retriable_status_before_recv_trailing_metadata_started.cc
  test/core/end2end/tests/retry_recv_initial_metadata.cc
  test/core/end2end/tests/retry_recv_message.cc
  test/core/end2end/tests/retry_server_pushback_disabled.cc
  test/core/end2end/tests/retry_streaming.cc
  test/core/end2end/tests/retry_streaming_after_commit.cc
  test/core/end2end/tests/retry_streaming_succeeds_before_replay_finished.cc
  test/core/end2end/tests/retry_throttled.cc
  test/core/end2end/tests/retry_too_many_attempts.cc
  test/core/end2end/tests/server_finishes_request.cc
  test/core/end2end/tests/simple_delayed_request.cc
  test/core/end2end/tests/simple_request.cc
  test/core/end2end/tests/streaming_error_response.cc
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: area/core, lang/c++, lang/core, release notes: no

#23187 Increase reconnect sleep time in end2end_test to 5x poller interval
  test/cpp/end2end/end2end_test.cc
Labels: release notes: no

#23197 Pin version of RSA package to avoid bad releases
  requirements.bazel.txt
  requirements.txt
  src/python/grpcio_tests/setup.py
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: no

#23045 [Aio] Use Metadata type
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_base_call.py
  src/python/grpcio/grpc/experimental/aio/_base_channel.py
  src/python/grpcio/grpc/experimental/aio/_base_server.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio/grpc/experimental/aio/_metadata.py
  src/python/grpcio/grpc/experimental/aio/_typing.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/unit/_common.py
  src/python/grpcio_tests/tests_aio/unit/_metadata_test.py
  src/python/grpcio_tests/tests_aio/unit/aio_rpc_error_test.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/client_stream_stream_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/client_stream_unary_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/client_unary_stream_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/client_unary_unary_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/compatibility_test.py
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
  src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py
Labels: lang/Python, release notes: yes

#23201 Prevent another exception spam in _ChannelCallState.__del__
  src/python/grpcio/grpc/_channel.py
Labels: lang/Python, release notes: no

#23171 Do not unref resource user when no allocations are aborted
  src/core/lib/iomgr/resource_quota.cc
Labels: lang/core, release notes: no

#23192 reject RouteConfiguration with a case-insensitive RouteMatch
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/proto/grpc/testing/xds/lds_rds_for_test.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23189 Import rbac.proto into gRPC C core
  src/core/ext/upb-generated/envoy/config/rbac/v2/rbac.upb.c
  src/core/ext/upb-generated/envoy/config/rbac/v2/rbac.upb.h
  src/core/ext/upb-generated/envoy/type/matcher/path.upb.c
  src/core/ext/upb-generated/envoy/type/matcher/path.upb.h
  src/core/ext/upb-generated/google/api/expr/v1alpha1/syntax.upb.c
  src/core/ext/upb-generated/google/api/expr/v1alpha1/syntax.upb.h
  tools/codegen/core/gen_upb_api.sh
Labels: area/build, kind/enhancement, lang/core, release notes: no

#23202 Fix flaky_network_test
  test/cpp/end2end/flaky_network_test.cc
Labels: area/test, release notes: no

#23136 Update default xds test qps to 100
  doc/xds-test-descriptions.md
Labels: lang/other, release notes: no

#23137 xds interop descriptions: add test traffic_splitting to spec
  doc/xds-test-descriptions.md
Labels: lang/other, release notes: no

#23207 update boringssl upgrade instructions
  third_party/README.md
Labels: release notes: no

#23181 Cronet transport issue fix
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/c++, release notes: no

#22984 Defer the server shutdown until the clients finish calls to avoid tim…
  test/cpp/qps/driver.cc
Labels: area/test, kind/bug, lang/c++, release notes: no

#23213 xds features in gRPC releases
  doc/grpc_xds_features.md
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: release notes: no

#23174 use Microsoft.NETFramework.ReferenceAssemblies for Grpc.Tools
  src/csharp/Grpc.Tools.Tests/Grpc.Tools.Tests.csproj
  src/csharp/Grpc.Tools.Tests/MsBuildAssemblyHelper.cs
  src/csharp/Grpc.Tools.Tests/NUnitMain.cs
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
Labels: lang/C#, release notes: no

#23214 packages.grpc.io: Use search.maven.org instead of mvnrepository.com
  tools/package_hosting/home.xsl
Labels: release notes: no

#21854 Removes manylinux1-specific instructions
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/iomgr/port.h
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, disposition/never stale, lang/Python, release notes: no

#23215 Passing C repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#23200 Trust google-auth library will handle their dependency properly
  requirements.bazel.txt
  requirements.txt
  src/python/grpcio_tests/setup.py
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: no

#23223 Avoid a use of ReleasableMutexLock
  src/cpp/server/server_context.cc
Labels: lang/c++, release notes: no

#23216 Adding error message to rarely failing tests.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23229 Roll-forward: Fix StartCall: make corking work and allow concurrent Start*
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/impl/codegen/client_callback_impl.h
  src/cpp/client/client_callback.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23225 Fix test filter for C++ include files
  tools/run_tests/python_utils/filter_pull_request_tests.py
Labels: release notes: no

#23081 Roll-forward: Change server_finishes_request test to return OK status
  test/core/end2end/tests/server_finishes_request.cc
Labels: release notes: no

#23034 doc: adding the fourth enum for health check proto docs
  doc/health-checking.md
Labels: release notes: no

#23206 Add gentle failover test
  src/proto/grpc/testing/test.proto
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22265 fix typo in docs
  doc/PROTOCOL-WEB.md
Labels: area/documentation, kind/bug, release notes: no

#22840 Fix spelling error
  src/objective-c/NetworkTransitionBehavior.md
Labels: release notes: no

#23170 Add protobuf as an "extras" dependency to grpcio package
  requirements.bazel.txt
  requirements.txt
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: lang/Python, release notes: yes

#23241 Privatize MaybeFinish methods in client_callback
  include/grpcpp/impl/codegen/client_callback_impl.h
Labels: lang/c++, release notes: no

#23242 Fix objc BUILD file for buildifier
  src/objective-c/BUILD
Labels: lang/ObjC, release notes: no

#23248 Use grpc health checks for PHP and Ruby xDS tests
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23228 Objc update WKT generated import paths.
  src/compiler/objective_c_plugin.cc
Labels: lang/ObjC, platform/iOS, release notes: no

#21959 Remove trailing-spaces from doc/*
  doc/core/combiner-explainer.md
  doc/core/epoll-polling-engine.md
  doc/core/grpc-client-server-polling-engine-usage.md
  doc/core/grpc-cq.md
  doc/core/moving-to-c++.md
  doc/environment_variables.md
  doc/fork_support.md
  doc/http2-interop-test-descriptions.md
  doc/internationalization.md
  doc/interop-test-descriptions.md
  doc/keepalive.md
  doc/python/server_reflection.md
  doc/security_audit.md
  doc/unit_testing.md
  doc/versioning.md
Labels: release notes: no

#23251 Fix flaky test:ios-test-cronettests
  src/objective-c/tests/Tests.xcodeproj/xcshareddata/xcschemes/CronetTests.xcscheme
Labels: lang/ObjC, release notes: no

#23250 Backport gentle failover
  src/proto/grpc/testing/test.proto
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23253 Add grpc-java v1.30.1 to interop test client matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#23177 Add message-size check before message decompression
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/tests/max_message_length.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: yes

#23220 Docs: fix links to grpc.io quick start, tutorial and other pages
  doc/python/sphinx/grpc.rst
  examples/cpp/README.md
  examples/cpp/helloworld/README.md
  examples/cpp/route_guide/README.md
  examples/csharp/Helloworld/README.md
  examples/csharp/HelloworldLegacyCsproj/README.md
  examples/csharp/RouteGuide/README.md
  examples/node/README.md
  examples/node/dynamic_codegen/route_guide/README.md
  examples/node/static_codegen/route_guide/README.md
  examples/objective-c/auth_sample/README.md
  examples/objective-c/helloworld/README.md
  examples/objective-c/route_guide/README.md
  examples/php/README.md
  examples/php/route_guide/README.md
  examples/python/README.md
  examples/python/helloworld/README.md
  examples/python/metadata/README.md
  examples/python/multiplex/README.md
  examples/python/route_guide/README.md
  examples/ruby/README.md
  examples/ruby/route_guide/README.md
  src/cpp/README.md
  src/csharp/README.md
  src/php/README.md
  src/ruby/README.md
  tools/run_tests/performance/README.md
Labels: lang/all wrapped languages, release notes: no

#23233 Pass repo manager duty to nicolasnoble
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#22982 Fix wrong version in gRPCConfigVersion.cmake and grpc++*.pc
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#23186 Add back source-only ruby packages for 1.30.x
  Rakefile
Labels: lang/ruby, priority/P0/RELEASE BLOCKER, release notes: no

#23051 Add ConfigSelector API.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#23104 Convert chttp2 server connection-handling code to C++.
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/chttp2_server.h
  src/core/ext/transport/chttp2/server/insecure/server_chttp2.cc
  src/core/ext/transport/chttp2/server/secure/server_secure_chttp2.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  test/core/surface/BUILD
  test/core/surface/server_chttp2_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#23264 Backport: Trust google-auth library will handle their dependency properly
  requirements.bazel.txt
  src/python/grpcio_tests/setup.py
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: no

#23004 Move ~grpc_server_security_connector() = default to .cc file
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
Labels: release notes: no

#23256 Fixed port conflict of json_run_localhost
  test/cpp/qps/json_run_localhost.cc
  test/cpp/qps/qps_worker.cc
  test/cpp/qps/server_async.cc
  test/cpp/qps/server_callback.cc
  test/cpp/qps/server_sync.cc
Labels: area/test, kind/bug, lang/c++, release notes: no

#23266 Bump to v1.30.0
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: release notes: no

#23267 add missing virtual dtor
  src/core/ext/filters/client_channel/resolving_lb_policy.h
Labels: release notes: no

#23271 Revert "Add message-size check before message decompression"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/tests/max_message_length.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#23254 PHP: update comments of ext files
  src/php/ext/grpc/call.c
  src/php/ext/grpc/call_credentials.c
  src/php/ext/grpc/channel.c
  src/php/ext/grpc/channel_credentials.c
  src/php/ext/grpc/server.c
  src/php/ext/grpc/server_credentials.c
  src/php/ext/grpc/timeval.c
Labels: lang/php, release notes: no

#23265 [Aio] Implement methods to access auth context and peer info
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_base_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/auth_context_test.py
  src/python/grpcio_tests/tests_aio/unit/context_peer_test.py
Labels: lang/Python, release notes: yes

#23179 Revert https://github.com/grpc/grpc/pull/18345
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  gRPC-C++.podspec
  include/grpcpp/resource_quota.h
  include/grpcpp/server_builder_impl.h
  src/cpp/common/channel_arguments.cc
  src/cpp/common/resource_quota_cc.cc
  src/cpp/server/server_builder.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23180 Move OpenCensus back to ::grpc from ::grpc_impl
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  test/cpp/microbenchmarks/bm_opencensus_plugin.cc
Labels: lang/c++, release notes: no

#23217 Update PHP README.md
  src/php/README.md
Labels: lang/php, release notes: no

#23227 grpc_artifact_centos6 update
  tools/dockerfile/grpc_artifact_centos6_x64/Dockerfile
  tools/dockerfile/grpc_artifact_centos6_x86/Dockerfile
Labels: area/build, kind/enhancement, release notes: no

#23183 Move HealthCheckInterface from ::grpc_impl to ::grpc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  gRPC-C++.podspec
  include/grpcpp/health_check_service_interface.h
  include/grpcpp/health_check_service_interface_impl.h
  src/cpp/server/health/health_check_service.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23182 Move ServerBuilder back to ::grpc from ::grpc_impl
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/server_builder_plugin.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  include/grpcpp/server_impl.h
  src/cpp/server/external_connection_acceptor_impl.cc
  src/cpp/server/server_builder.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23282 Use pure virtual functions at FlowControl
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/flow_control.h
Labels: kind/enhancement, lang/core, release notes: no

#23289 Regen build_autogenerated.yaml
  build_autogenerated.yaml
Labels: release notes: no

#23291 Backport: Avoid attribute error in __del__ of _ChannelCallState
  src/python/grpcio/grpc/_channel.py
Labels: lang/Python, release notes: no

#23294 Revert "Move ServerBuilder back to ::grpc from ::grpc_impl"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/server_builder_plugin.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  include/grpcpp/server_impl.h
  src/cpp/server/external_connection_acceptor_impl.cc
  src/cpp/server/server_builder.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#21616 [csharp] Grpc.Auth supports Google.Apis.Auth.ITokenAccessWithHeaders
  src/csharp/Grpc.Auth/GoogleAuthInterceptors.cs
  src/csharp/Grpc.Auth/Grpc.Auth.csproj
Labels: lang/C#, release notes: yes

#23287 Renamed com_github_google_googletest to com_google_googletest
  bazel/grpc_deps.bzl
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: area/build, kind/enhancement, release notes: no

#23283 Add build_abseil-cpp_at_head
  tools/internal_ci/linux/grpc_build_abseil-cpp_at_head.cfg
  tools/internal_ci/linux/grpc_build_submodule_at_head.sh
Labels: area/build, kind/enhancement, release notes: no

#23280 [Aio] Hide init_grpc_aio and guard async API outside of AsyncIO context
  doc/python/sphinx/grpc_asyncio.rst
  src/python/grpcio/grpc/_cython/_cygrpc/aio/common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/resolver.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/timer.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_test_base.py
  src/python/grpcio_tests/tests_aio/unit/outside_init_test.py
Labels: lang/Python, release notes: yes

#23303 fix from sanitize.sh
  build_autogenerated.yaml
Labels: lang/c++, release notes: no

#23295 Update SPIFFE ID check
  src/core/lib/security/security_connector/ssl_utils.cc
  test/core/security/security_connector_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security, release notes: no

#23301 Fixed typo
  src/php/README.md
Labels: lang/php, release notes: no

#23300 Fix ALTS shutdown crash on envoy
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
Labels: area/core, release notes: no

#23286 Add grpc-java v1.30.2 to interop test client matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#23285 Incrementally Clean Up Docker Images During Interop Testing
  tools/interop_matrix/run_interop_matrix_tests.py
Labels: area/test, lang/other, release notes: no

#23309 Correctly handle alts_tsi_handshaker_result_create() failure
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
Labels: lang/core, release notes: no

#23272 v1.30.0 interop tests
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#23319 Use the wrapper version of bazel in the script
  src/abseil-cpp/preprocessed_builds.yaml.gen.py
Labels: area/build, kind/bug, release notes: no

#23322 Removed sort_keys=True in yaml.gen.py
  src/abseil-cpp/preprocessed_builds.yaml.gen.py
Labels: area/build, lang/Python, release notes: no

#23293 Add message-size check before message decompression with ordering change
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/cpp/server/server_builder.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/tests/max_message_length.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: yes

#23243 Incrementally Improve setup.py
  setup.py
  src/python/grpcio/_parallel_compile_patch.py
  src/python/grpcio/commands.py
  tools/distrib/install_all_python_modules.sh
Labels: area/build, lang/Python, release notes: no

#23185 Add back source-only ruby packages for master
  Rakefile
Labels: lang/ruby, release notes: no

#23327 Add verbose logs for details around ruby call creds user callback invocation
  src/ruby/ext/grpc/rb_call_credentials.c
Labels: lang/ruby, release notes: yes

#19756 Fix auth plugin context use-after-free in ruby
  grpc.def
  include/grpc/grpc_security.h
  src/core/lib/security/transport/auth_filters.h
  src/ruby/end2end/call_credentials_timeout_driver.rb
  src/ruby/end2end/end2end_common.rb
  src/ruby/ext/grpc/rb_call_credentials.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  src/ruby/spec/support/services.rb
  test/core/surface/public_headers_must_be_c89.c
  tools/run_tests/helper_scripts/run_ruby_end2end_tests.sh
Labels: disposition/never stale, lang/core, lang/ruby, release notes: yes

#23221 Update links to grpc.io guides in header files
  include/grpcpp/grpcpp.h
  include/grpcpp/impl/codegen/client_context_impl.h
  include/grpcpp/security/credentials_impl.h
Labels: release notes: no

#23335 Added missing `deps_linkage` property
  Makefile
  build_autogenerated.yaml
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: area/build, kind/bug, lang/ruby, priority/P0/RELEASE BLOCKER, release notes: no

#23324 Main Makefile should require protobuf 3.12+ now
  Makefile
  templates/Makefile.template
Labels: area/build, area/protoc plugins, release notes: no

#23337 Fix typo in docstring
  src/python/grpcio/grpc/__init__.py
Labels: release notes: no

#23304 Move server posix from ::grpc_impl to ::grpc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/server_posix.h
  include/grpcpp/server_posix_impl.h
  src/cpp/server/server_posix.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23305 Move create_channel_posix from ::grpc_impl to ::grpc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/create_channel_posix.h
  include/grpcpp/create_channel_posix_impl.h
  src/cpp/client/create_channel_posix.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23345 Revert "Revert "Move ServerBuilder back to ::grpc from ::grpc_impl""
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/server_builder_plugin.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
  include/grpcpp/server_impl.h
  src/cpp/server/external_connection_acceptor_impl.cc
  src/cpp/server/server_builder.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23331 Lower log level to INFO from ERROR from keepalive watchdog firing
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: no

#23354 Remove things_queued_ever counter from callback CQ
  src/core/lib/surface/completion_queue.cc
Labels: area/core, lang/core, release notes: no
