Repository grpc/grpc, pull requests merged in 2020-12, with the labels that each got.

#24857 Bump version to v1.33.0.
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24858 xds_end2end_test cleanup from #24643
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24737 Simplify src/core/README.md
  src/core/README.md
Labels: area/documentation, release notes: no

#24862 Do not try to generate unique suffix when keep_gcp_resources is set
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#24831 interop: Enable Go modules support
  templates/tools/dockerfile/go_build_interop.sh.include
  templates/tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_go1.7/build_interop.sh.template
  templates/tools/dockerfile/interoptest/grpc_interop_go1.8/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_go/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_go1.11/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/build_interop.sh
  tools/run_tests/run_interop_tests.py
Labels: lang/go, release notes: no

#24806 Eliminate ResolvingLoadBalancingPolicy.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24871 Backport #24831 to v1.34.x (to fix interop tests build)
  templates/tools/dockerfile/go_build_interop.sh.include
  templates/tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_go1.7/build_interop.sh.template
  templates/tools/dockerfile/interoptest/grpc_interop_go1.8/build_interop.sh.template
  tools/dockerfile/interoptest/grpc_interop_go/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_go1.11/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/build_interop.sh
  tools/run_tests/run_interop_tests.py
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#24864 Delay ServerContextBase unref until lock freed since it could delete the object
  src/cpp/server/server_context.cc
Labels: lang/c++, release notes: no

#24874 Register certificate provider factories after init
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24882 PHP: fix windows build error
  config.w32
  templates/config.w32.template
Labels: lang/php, release notes: no

#24590 Add a simple export tool for JSON performance scenarios
  tools/run_tests/performance/scenario_config_exporter.py
Labels: lang/all wrapped languages, release notes: no

#24877 Add grpc-java v1.34.0 to client matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24883 Re-generate protos for Ruby
  src/ruby/pb/src/proto/grpc/testing/messages_pb.rb
  src/ruby/pb/src/proto/grpc/testing/test_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/messages_pb.rb
Labels: lang/ruby, release notes: no

#24875 Mark a variable const for self-documentation
  src/core/lib/gprpp/arena.h
Labels: release notes: no

#24754 Include AsyncIO interceptors in generated doc
  doc/python/sphinx/grpc_asyncio.rst
Labels: lang/Python, release notes: no

#24887 Explain why spinlock doesn't deadlock under cooperative multithreading
  src/core/lib/gpr/spinlock.h
Labels: release notes: no

#24886 Document that spinlock holder may not block
  src/core/lib/gpr/spinlock.h
Labels: release notes: no

#24843 Experimental API for xDS server credentials
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.def
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/server_credentials.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/lib/security/credentials/insecure/insecure_credentials.cc
  src/core/lib/security/credentials/xds/xds_credentials.cc
  src/core/lib/security/credentials/xds/xds_credentials.h
  src/core/lib/security/security_connector/insecure/insecure_security_connector.cc
  src/core/lib/security/security_connector/insecure/insecure_security_connector.h
  src/cpp/server/insecure_server_credentials.cc
  src/cpp/server/secure_server_credentials.h
  src/cpp/server/xds_server_credentials.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/end2end_tests.h
  test/core/end2end/fixtures/h2_fakesec.cc
  test/core/end2end/fixtures/h2_insecure.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/call_creds.cc
  test/core/security/insecure_security_connector_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/xds_credentials_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#24870 Stop building protoc x86 artifacts on macos
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_package_ruby.sh
Labels: lang/all wrapped languages, release notes: yes

#24876 Add a Test Client Cert
  src/core/tsi/test_creds/README
  src/core/tsi/test_creds/client1.key
  src/core/tsi/test_creds/client1.pem
  src/core/tsi/test_creds/client2.key
  src/core/tsi/test_creds/client2.pem
Labels: area/core, lang/core, release notes: no

#24893 Decrease log level when BIOS data file is not found for on-GCP indication
  src/core/lib/security/credentials/alts/check_gcp_environment.cc
Labels: lang/c++, release notes: no

#24813 Use separate mutexes and call queues for resolution and load balancing
  src/core/ext/filters/client_channel/client_channel.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#24899 Fix missing google-explicit-constructor for header files
  include/grpcpp/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/delegating_channel.h
  include/grpcpp/impl/codegen/grpc_library.h
  include/grpcpp/impl/codegen/method_handler.h
  include/grpcpp/impl/codegen/slice.h
  include/grpcpp/impl/codegen/string_ref.h
  include/grpcpp/impl/codegen/time.h
  include/grpcpp/impl/server_initializer.h
  include/grpcpp/security/server_credentials.h
  include/grpcpp/security/tls_certificate_provider.h
  include/grpcpp/security/tls_credentials_options.h
Labels: kind/internal cleanup, lang/c++, release notes: no

#24860 Update PHP & Ruby Mac BUILD
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/grpc_basictests_php.cfg
  tools/internal_ci/macos/grpc_basictests_php.sh
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/all wrapped languages, platform/iOS, platform/macOS, release notes: no

#24896 Adding v1.34.0 to interop matrix.
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24900 PHP: upgrade phpunit to 8.5.13 to support php8
  src/php/docker/alpine/Dockerfile
  src/php/docker/centos7/Dockerfile
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/i386/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php8/Dockerfile
  templates/src/php/docker/download_phpunit.include
  templates/src/php/docker/php8/Dockerfile.template
Labels: lang/php, release notes: no

#24901 PHP: fix phpunit warnings
  src/php/tests/unit_tests/CallCredentialsTest.php
  src/php/tests/unit_tests/CallTest.php
  src/php/tests/unit_tests/ChannelCredentialsTest.php
  src/php/tests/unit_tests/ChannelTest.php
  src/php/tests/unit_tests/EndToEndTest.php
  src/php/tests/unit_tests/PersistentChannelTests/PersistentChannelTest.php
  src/php/tests/unit_tests/ServerTest.php
  src/php/tests/unit_tests/TimevalTest.php
Labels: lang/php, release notes: no

#24891 remove zend_hash_destroy() from postfork handler
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: no

#24907 Fix StatusCode
  test/cpp/server/server_request_call_test.cc
Labels: kind/internal cleanup, lang/c++, release notes: no

#24909 Added PREPARE_BUILD_INSTALL_DEPS_PHP to distribtests
  tools/internal_ci/macos/grpc_distribtests.sh
  tools/internal_ci/macos/pull_request/grpc_basictests_php.cfg
Labels: area/build, lang/php, platform/macOS, release notes: no

#24913 Fix PECL problem
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: area/build, lang/php, platform/macOS, release notes: no

#24859 Change repo manager to nicolasnoble.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24919 Remove grpc_client_channel_get_subchannel_call().
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  test/core/util/BUILD
  test/core/util/debugger_macros.cc
  test/core/util/debugger_macros.h
  test/cpp/end2end/cfstream_test.cc
  test/cpp/end2end/flaky_network_test.cc
Labels: release notes: no

#24933 Remove obsolete failure detection scripts(detect_new_failures.py)
  tools/failures/detect_new_failures.py
  tools/failures/sql/new_failures_24h.sql
Labels: kind/internal cleanup, release notes: no

#24930 update schedule
  doc/grpc_release_schedule.md
Labels: release notes: no

#24805 refactor PemKeyCertPair to take absl::string_view
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/lib/security/credentials/tls/grpc_tls_certificate_distributor.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  test/core/security/BUILD
  test/core/security/grpc_tls_certificate_distributor_test.cc
  test/core/security/grpc_tls_certificate_provider_test.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/util/BUILD
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
  test/core/xds/BUILD
  test/core/xds/xds_certificate_provider_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: area/core, lang/core, release notes: no

#24834 Add SANs matching for xDS credentials
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_certificate_provider.cc
  src/core/ext/xds/xds_certificate_provider.h
  src/core/ext/xds/xds_client.cc
  src/core/lib/security/credentials/tls/tls_utils.cc
  src/core/lib/security/credentials/tls/tls_utils.h
  src/core/lib/security/credentials/xds/xds_credentials.cc
  src/core/lib/security/credentials/xds/xds_credentials.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/string.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/xds_credentials_test.cc
  test/core/xds/BUILD
  test/core/xds/xds_certificate_provider_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#21439 Delete unused grpclb-in-dns interop test suite
  templates/tools/run_tests/generated/lb_interop_test_scenarios.json.template
  tools/buildgen/generate_build_additions.sh
  tools/dockerfile/interoptest/lb_interop_fake_servers/build_interop.sh
  tools/internal_ci/helper_scripts/prepare_build_grpclb_interop_rc
  tools/internal_ci/linux/grpc_run_grpclb_interop_tests.sh
  tools/internal_ci/linux/grpclb_in_dns_interop.cfg
Labels: area/test, disposition/never stale, lang/all wrapped languages, release notes: no

#24941 Fix overpermissive percent-decoding of URIs ('%eth1' case)
  src/core/lib/uri/uri_parser.cc
  test/core/uri/uri_parser_test.cc
Labels: release notes: no

#24938 Fix gpr_log compiler warning about string literals, breaking the build
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
Labels: release notes: no

#24947 Fix the macOS Python SSL module failure
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/Python, release notes: no

#24946 [Aio] Correct type annotation of grpc.aio.ServicerContext.abort
  src/python/grpcio/grpc/aio/_base_server.py
Labels: lang/Python, release notes: yes

#24950 Fix subject_alternative_names deletion
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
Labels: release notes: no

#24954 Fixing alignment issue with Arenas.
  src/core/lib/gprpp/arena.h
Labels: release notes: no

#24959 Only enable OpenSSL Engine when compiler supports it
  src/core/tsi/ssl_transport_security.cc
Labels: area/security, release notes: no

#24948 Update root pem certs
  etc/roots.pem
Labels: release notes: no

#24949 Separate out ref counted related logs from the xds_client logs
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_stats.cc
Labels: release notes: no

#24872 Add darwin_arm64 and darwin_arm64e to c-ares’ config settings
  third_party/cares/cares.BUILD
Labels: lang/core, release notes: yes

#24969 PHP: fix phpunit warnings
  src/php/docker/php8/Dockerfile
  src/php/tests/unit_tests/CallInvokerTest.php
  src/php/tests/unit_tests/ChannelTest.php
  templates/src/php/docker/php8/Dockerfile.template
Labels: lang/php, release notes: no

#24970 Mark QPS Benchmark Tests as flaky
  test/cpp/qps/qps_benchmark_script.bzl
Labels: release notes: no

#24955 Fix TLS version selection in SSL transport security.
  src/core/tsi/ssl_transport_security.cc
Labels: area/security, lang/core, release notes: no

#24000 Makefile: remove support for building protobuf, C++ libraries and executables
  Makefile
  src/ruby/end2end/package_with_underscore_test.rb
  src/ruby/spec/pb/codegen/package_option_spec.rb
  templates/Makefile.template
  templates/tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile.template
  templates/tools/dockerfile/ruby_deps.include
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/internal_ci/linux/grpc_android.sh
  tools/profiling/bloat/bloat_diff.py
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_protoc.sh
  tools/run_tests/helper_scripts/build_ruby.sh
  tools/run_tests/run_tests.py
Labels: lang/c++, release notes: yes

#24361 Porting sanity & distrib script to Python3
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/distrib/check_copyright.py
  tools/distrib/check_include_guards.py
  tools/dockerfile/test/sanity/Dockerfile
  tools/run_tests/sanity/check_bazel_workspace.py
  tools/run_tests/sanity/check_deprecated_grpc++.py
  tools/run_tests/sanity/check_port_platform.py
  tools/run_tests/sanity/check_test_filtering.py
  tools/run_tests/sanity/check_tracer_sanity.py
  tools/run_tests/sanity/check_version.py
  tools/run_tests/sanity/core_banned_functions.py
Labels: area/build, kind/internal cleanup, release notes: no

#24968 Increase Python job timeout to deflake build extra job
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: no

#24982 Remove C# as a supported language for xDS features.
  doc/grpc_xds_features.md
Labels: release notes: yes

#24981 Upgrade to Bazel 3.7.1
  tools/bazel
Labels: area/build, infra/Bazel, lang/other, release notes: no

#24985 Ignore several third_party module for Bazel
  .bazelignore
Labels: area/build, infra/Bazel, lang/other, release notes: no

#24922 Xds cluster resolver
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/service_config_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#24980 do not use <PublicSign>true</PublicSign> on non-windows
  src/csharp/Grpc.Auth/Grpc.Auth.csproj
  src/csharp/Grpc.Core.Api/Properties/AssemblyInfo.cs
  src/csharp/Grpc.Core/Properties/AssemblyInfo.cs
  src/csharp/Grpc.HealthCheck/Properties/AssemblyInfo.cs
  src/csharp/build/common.props
Labels: lang/C#, release notes: yes

#24888 Add v1.34.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/testcases/go__master
  tools/interop_matrix/testcases/go__v1.20.0
Labels: release notes: no

#25000 Upgrade bazel to 3.7.1 (repository-wide)
  bazel/update_mirror.sh
  templates/tools/dockerfile/bazel.include
  tools/bazel
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/windows/bazel_rbe.bat
Labels: lang/c++, release notes: yes

#24994 Fix Ruby xDS tests
  tools/internal_ci/linux/grpc_xds_ruby.sh
Labels: lang/ruby, release notes: no

#24999 xDS features doc update for case insensitive prefix/full path matching
  doc/grpc_xds_features.md
Labels: release notes: yes

#24895 Split out LB code into its own call object
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/service_config_call_data.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
Labels: release notes: no

#24997 Remove Flaky=true flag for some tests
  build_autogenerated.yaml
  test/core/iomgr/BUILD
  test/core/surface/BUILD
  test/cpp/naming/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#24992 Fix visibility of libprotobuf symbols in protoc_compiler.so on Mac
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/build, kind/bug, lang/Python, release notes: yes

#24993 Lazily import grpc_tools when using runtime stub/message generation
  src/python/grpcio/grpc/_runtime_protos.py
Labels: kind/bug, lang/Python, release notes: no

#25007 Repo manager yash
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24983 xDS Kubernetes Interop Test Driver
  tools/run_tests/xds_k8s_test_driver/.gitignore
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/bin/__init__.py
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
  tools/run_tests/xds_k8s_test_driver/config/common.cfg
  tools/run_tests/xds_k8s_test_driver/config/grpc-testing.cfg
  tools/run_tests/xds_k8s_test_driver/config/local-dev.cfg.example
  tools/run_tests/xds_k8s_test_driver/framework/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_security.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_channelz.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_testing.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/namespace.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.service.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/service-account.yaml
  tools/run_tests/xds_k8s_test_driver/requirements.txt
  tools/run_tests/xds_k8s_test_driver/tests/__init__.py
  tools/run_tests/xds_k8s_test_driver/tests/baseline_test.py
  tools/run_tests/xds_k8s_test_driver/tests/security_test.py
Labels: release notes: no

#25009 Add grpc-java v1.34.1 to client matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24967 xds testing: more header matchers testsr
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25014 xds k8s baseline test: add baseline subtest names to show their order
  tools/run_tests/xds_k8s_test_driver/tests/baseline_test.py
Labels: release notes: no

#25011 [Backport] Lazily import grpc_tools when using runtime stub/message generation
  src/python/grpcio/grpc/_runtime_protos.py
Labels: kind/bug, lang/Python, release notes: no

#25010 [Backport] Fix visibility of libprotobuf symbols in protoc_compiler.so on Mac
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/build, kind/bug, lang/Python, platform/macOS, release notes: yes

#25012 Make c-ares resolver unit tests runnable under python3
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/utils/dns_server.py
Labels: lang/core, release notes: no

#25025 Increase ruby build timeout to 60min
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/ruby, platform/macOS, release notes: no

#24956 Delay listening when using ServerConfigFetcher
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/xds_server_builder.h
  package.xml
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/channelz_service_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#25032 xds: Ignore WeightedCluster entries with weight 0.
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24916 Split retry code out into its own call object
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#24990 Fix and improvements to aws creds
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/aws_external_account_credentials.h
  test/core/security/credentials_test.cc
Labels: release notes: no

#24996 Adding a expect_status flag in xds interop client to get ready for
  test/cpp/interop/xds_interop_client.cc
Labels: release notes: no

#25026 Set channel arg for xDS cluster name, and use it in GoogleDefaultCreds.
  BUILD
  BUILD.gn
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/xds.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_channel_args.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24668 Add async bidi-streaming example
  examples/python/async_streaming/README.md
  examples/python/async_streaming/client.py
  examples/python/async_streaming/phone.proto
  examples/python/async_streaming/phone_pb2.py
  examples/python/async_streaming/phone_pb2_grpc.py
  examples/python/async_streaming/server.py
Labels: lang/Python, release notes: no

#25039 Allow the channelz service test to get different listen socket sizes
  test/cpp/end2end/channelz_service_test.cc
Labels: release notes: no

#25042 xds-k8s test runner: load API key from Cloud Secret Manager
  tools/run_tests/xds_k8s_test_driver/config/grpc-testing.cfg
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: release notes: no

#25030 Fixing interop client to send all RPC types for each duration_per_query.
  test/cpp/interop/xds_interop_client.cc
Labels: release notes: no

#24920 Add dynamic filters between name resolution and load balancing.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/dynamic_filters.cc
  src/core/ext/filters/client_channel/dynamic_filters.h
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/lame_client.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#25028 Ruby: add support to circuit_breaking xds interop test case
  src/ruby/pb/test/xds_client.rb
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/ruby, release notes: yes

#25031 Adding Dns Resolver to LogicalDNSDiscoveryMechanism in xds_cluster_resolver
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
Labels: release notes: no

#24988 Add support of url with query params to url creds
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/external/url_external_account_credentials.h
  test/core/security/credentials_test.cc
Labels: release notes: no

#25052 Repo Manager Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#25051 Delete grpc_ares_wrapper_fallback.cc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#25049 Increase timeout of build_artifact_csharp_ios to 45 mins
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/C#, platform/iOS, release notes: no

#25065 Convert URIParser test to googletest
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/uri/BUILD
  test/core/uri/uri_parser_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#25063 xds-k8s driver: Improve logging INFO-level logging
  tools/run_tests/xds_k8s_test_driver/config/common.cfg
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_security.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_testing.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/namespace.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.service.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/service-account.yaml
Labels: release notes: no

#25068 xds-k8s driver: Use GRPC target proxy
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: release notes: no

#25075 xds-k8s driver: implement PSM security mtls_error test
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/framework/helpers/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/helpers/retryers.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_channelz.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/baseline_test.py
  tools/run_tests/xds_k8s_test_driver/tests/security_test.py
Labels: release notes: no
