Repository grpc/grpc, pull requests merged in 2020-08, with the labels that each got.

#23630 Pass repo manager duty to nicolasnoble.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#23705 Allow C++-style comments on #endif lines.
  src/core/ext/filters/client_channel/client_channel.h
  tools/distrib/check_include_guards.py
Labels: release notes: no

#23697 Rollback to uses sources.json for BoringSSL
  src/boringssl/gen_build_yaml.py
Labels: lang/other, release notes: no

#23703 Switch C++ interop tests build to cmake
  templates/tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/build_interop.sh
  tools/run_tests/run_interop_tests.py
Labels: lang/c++, release notes: no

#23653 Properly follow callback CQ API guarantees rather than existing behavior in ubm
  test/cpp/microbenchmarks/bm_cq.cc
Labels: release notes: no

#23636 Receive SETTINGS frame on clients before declaring subchannel READY
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/ruby/spec/generic/active_call_spec.rb
  test/core/end2end/bad_server_response_test.cc
  test/core/handshake/client_ssl.cc
  test/cpp/end2end/filter_end2end_test.cc
  test/cpp/end2end/generic_end2end_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
Labels: lang/core, release notes: yes

#23719 Remove error_details_impl.h
  build_autogenerated.yaml
  include/grpcpp/support/error_details_impl.h
Labels: lang/c++, release notes: no

#23581 Convert grpc_server to idiomatic C++.
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/chttp2_server.h
  src/core/ext/transport/chttp2/server/insecure/server_chttp2.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/server/secure/server_secure_chttp2.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/server/server_cc.cc
  test/core/bad_client/bad_client.cc
  test/core/bad_client/tests/bad_streaming_id.cc
  test/core/bad_client/tests/badreq.cc
  test/core/bad_client/tests/connection_prefix.cc
  test/core/bad_client/tests/headers.cc
  test/core/bad_client/tests/initial_settings_frame.cc
  test/core/bad_client/tests/out_of_bounds.cc
  test/core/bad_client/tests/server_registered_method.cc
  test/core/bad_client/tests/simple_request.cc
  test/core/bad_client/tests/unknown_frame.cc
  test/core/bad_client/tests/window_overflow.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/channel/channelz_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/end2end/tests/channelz.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: release notes: no

#23716 Add per-address attribute mechanism that does not affect subchannel uniqueness.
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
Labels: release notes: no

#23718 Resolve the user warning generated by our setup.py
  setup.py
Labels: lang/Python, release notes: no

#23727 Upb upgrade
  bazel/grpc_deps.bzl
  src/core/ext/upb-generated/envoy/config/cluster/v3/cluster.upb.h
  src/core/ext/upb-generated/google/api/expr/v1alpha1/syntax.upb.h
  src/core/ext/upb-generated/google/protobuf/descriptor.upb.c
  src/core/ext/upb-generated/google/protobuf/struct.upb.h
  src/core/ext/upb-generated/validate/validate.upb.c
  src/core/ext/upb-generated/validate/validate.upb.h
  third_party/upb/bazel/upb_proto_library.bzl
  third_party/upb/generated_for_cmake/google/protobuf/descriptor.upb.c
  third_party/upb/kokoro/ubuntu/build.sh
  third_party/upb/tests/bindings/lua/test_upb.lua
  third_party/upb/tests/test_cpp.cc
  third_party/upb/tests/test_generated_code.c
  third_party/upb/upb/decode.c
  third_party/upb/upb/def.c
  third_party/upb/upb/encode.c
  third_party/upb/upb/handlers.h
  third_party/upb/upb/json_decode.c
  third_party/upb/upb/json_encode.c
  third_party/upb/upb/msg.h
  third_party/upb/upb/port_def.inc
  third_party/upb/upb/table.c
  third_party/upb/upb/table.int.h
  third_party/upb/upb/upb.c
  third_party/upb/upb/upb.h
  third_party/upb/upb/upb.hpp
  third_party/upb/upbc/generator.cc
Labels: area/build, kind/enhancement, lang/core, release notes: no

#23728 Fix use-after-free bug introduced in #23581.
  src/core/lib/surface/server.cc
Labels: release notes: no

#23733 Bump version to v1.31.0 (on v1.31.x release branch)
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/all wrapped languages, release notes: no

#23721 Update check_include_guards.py
  tools/distrib/check_include_guards.py
Labels: kind/internal cleanup, lang/Python, priority/P2, release notes: no

#23245 CelEvaluationEngine class and constructor
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/upb-generated/envoy/type/matcher/v3/metadata.upb.c
  src/core/ext/upb-generated/envoy/type/matcher/v3/metadata.upb.h
  src/core/ext/upb-generated/envoy/type/matcher/v3/number.upb.c
  src/core/ext/upb-generated/envoy/type/matcher/v3/number.upb.h
  src/core/ext/upb-generated/envoy/type/matcher/v3/value.upb.c
  src/core/ext/upb-generated/envoy/type/matcher/v3/value.upb.h
  src/core/lib/security/authorization/authorization_engine.cc
  src/core/lib/security/authorization/authorization_engine.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/authorization_engine_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#23735 Fix bad_server_response_test flakiness
  test/core/end2end/bad_server_response_test.cc
Labels: release notes: no

#23738 Update docgen.py
  tools/distrib/python/docgen.py
Labels: kind/internal cleanup, lang/Python, priority/P2, release notes: no

#23731 Fix macos interop_toprod tests
  tools/internal_ci/macos/grpc_interop_toprod.sh
Labels: lang/c++, release notes: no

#23744 Auto-update Python documentation for 1.31.0 Release
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/glossary.doctree
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_asyncio.doctree
  python/.doctrees/grpc_channelz.doctree
  python/.doctrees/grpc_health_checking.doctree
  python/.doctrees/grpc_reflection.doctree
  python/.doctrees/grpc_status.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc/experimental/aio/_base_call.html
  python/_modules/grpc/experimental/aio/_base_channel.html
  python/_modules/grpc/experimental/aio/_base_server.html
  python/_modules/grpc/experimental/aio/_call.html
  python/_modules/grpc/experimental/aio/_channel.html
  python/_modules/grpc/experimental/aio/_interceptor.html
  python/_modules/grpc/experimental/aio/_server.html
  python/_modules/grpc_channelz/v1/_servicer.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_status/rpc_status.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_sources/glossary.rst.txt
  python/_sources/grpc.rst.txt
  python/_sources/grpc_asyncio.rst.txt
  python/_static/basic.css
  python/_static/documentation_options.js
  python/_static/jquery-3.5.1.js
  python/_static/jquery.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_asyncio.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_status.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
  python/searchindex.js
Labels: area/documentation, lang/Python, release notes: no

#23690 Move ServerBuilder from ::grpc_impl to ::grpc
  include/grpcpp/server_builder.h
  include/grpcpp/server_builder_impl.h
Labels: lang/c++, release notes: no

#23483 Adds option of using ASM for BoringSSL in Python.
  setup.py
  src/boringssl/gen_build_yaml.py
  src/python/grpcio/grpc_core_dependencies.py
  templates/src/python/grpcio/grpc_core_dependencies.py.template
  tools/buildgen/plugins/check_attrs.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, release notes: no

#23691 Move ChannelArguments from ::grpc_impl to ::grpc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/server_impl.h
  include/grpcpp/support/channel_arguments.h
  include/grpcpp/support/channel_arguments_impl.h
  src/cpp/client/create_channel_posix.cc
  src/cpp/common/channel_arguments.cc
  src/cpp/common/secure_channel_arguments.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#22465 Clean-up stale debug code
  src/core/lib/gpr/sync_posix.cc
Labels: lang/core, release notes: no

#23743 Update authorization_engine.cc
  src/core/lib/security/authorization/authorization_engine.cc
Labels: kind/internal cleanup, lang/core, priority/P2, release notes: no

#23693 Fold Channel and CompletionQueue from grpc_impl to grpc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/channel_impl.h
  include/grpcpp/completion_queue_impl.h
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback_impl.h
  include/grpcpp/impl/codegen/client_context_impl.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/codegen/delegating_channel.h
  include/grpcpp/impl/codegen/intercepted_channel.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_impl.h
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/client/secure_credentials.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/async_generic_service.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_context.cc
  test/cpp/util/create_test_channel.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23759 Move XdsClient code out of client_channel tree.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/lrs.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/server_address.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_channel.cc
  src/core/ext/xds/xds_channel.h
  src/core/ext/xds/xds_channel_args.h
  src/core/ext/xds/xds_channel_secure.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_stats.cc
  src/core/ext/xds/xds_client_stats.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/xds_bootstrap_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#23553 Create stub version of CEL Activation
  BUILD
  build_autogenerated.yaml
  src/core/lib/security/authorization/mock_cel/activation.h
  src/core/lib/security/authorization/mock_cel/cel_value.h
Labels: release notes: no

#23219 fix Cannot send compressed message large than 1024B in cronet_transport
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core, release notes: yes

#23762 Revert "Revert "Fold Channel and CompletionQueue from grpc_impl to grpc""
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/channel_impl.h
  include/grpcpp/completion_queue_impl.h
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/call.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback_impl.h
  include/grpcpp/impl/codegen/client_context_impl.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/impl/codegen/delegating_channel.h
  include/grpcpp/impl/codegen/intercepted_channel.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_impl.h
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/client/secure_credentials.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/async_generic_service.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_context.cc
  test/cpp/util/create_test_channel.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23782 Include the target_uri in target uri is not valid error messages
  src/core/ext/filters/client_channel/client_channel.cc
Labels: lang/core, release notes: yes

#23732 Mark stranded_event_test as flaky
  Makefile
  build_autogenerated.yaml
  test/core/iomgr/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#23781 Move logic for generating service config from XdsClient to xds resolver.
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: release notes: no

#23791 Deflake fail_on_failed_rpc xDS test cases
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23787 Pass listening addresses into XdsClient.
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: release notes: no

#23792 Fix ordering of endpoint delete from pollset set and transport destruction
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
Labels: release notes: no

#23799 Fix issues around lifetime of c_str() results used in call registration maps
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
Labels: release notes: no

#23798 Raise deadline of CancelDuringAresQuery.TestHitDeadlineAndDestroyChannelDuringAresResolutionWithQueryTimeoutIsGraceful
  test/cpp/naming/cancel_ares_query_test.cc
Labels: lang/core, release notes: no

#23800 Don't factor port server pick latency into stranded_event_test timeouts
  test/core/iomgr/stranded_event_test.cc
Labels: lang/core, release notes: no

#23807 Deflake fail_on_failed_rpc xDS test cases (cherry-pick)
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23766 Add proto for MeshCA MeshCertificateService
  BUILD
  src/core/ext/upb-generated/third_party/istio/security/proto/providers/google/meshca.upb.c
  src/core/ext/upb-generated/third_party/istio/security/proto/providers/google/meshca.upb.h
  third_party/istio/security/proto/providers/google/meshca.proto
  tools/codegen/core/gen_upb_api.sh
Labels: release notes: no

#23740 C# xds interop tests: add support for xds splitting and routing
  src/csharp/Grpc.IntegrationTesting/Messages.cs
  src/csharp/Grpc.IntegrationTesting/Test.cs
  src/csharp/Grpc.IntegrationTesting/TestGrpc.cs
  src/csharp/Grpc.IntegrationTesting/XdsInteropClient.cs
  src/csharp/Grpc.IntegrationTesting/XdsInteropClientTest.cs
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/C#, release notes: no

#23717 Use cmake for C/C++ build in run_tests.py
  templates/tools/dockerfile/cmake.include
  templates/tools/dockerfile/test/cxx_buster_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile.template
  tools/buildgen/plugins/make_fuzzer_tests.py
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/run_tests/generated/tests.json
  tools/run_tests/helper_scripts/pre_build_cmake.bat
  tools/run_tests/helper_scripts/pre_build_cmake.sh
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/c++, release notes: no

#23793 xds testing: add a test case with multiple routes referring to same cluster
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#23780 Fix destruction order bug in nested lock test
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: release notes: no

#23812 Copy channel args hash before appending ruby user agent
  src/ruby/lib/grpc/generic/client_stub.rb
  src/ruby/spec/user_agent_spec.rb
Labels: lang/ruby, release notes: yes

#23665 CEL evaluation argument utilility
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
Labels: release notes: no

#23794 Mark client_crash_test as flaky
  test/cpp/end2end/BUILD
Labels: lang/c++, release notes: no

#23817 Upmerge changes from v1.31.x branch to master
  src/csharp/Grpc.IntegrationTesting/Messages.cs
  src/csharp/Grpc.IntegrationTesting/Test.cs
  src/csharp/Grpc.IntegrationTesting/TestGrpc.cs
  src/csharp/Grpc.IntegrationTesting/XdsInteropClient.cs
  src/csharp/Grpc.IntegrationTesting/XdsInteropClientTest.cs
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#23313 Keepalive Throttling
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/transport/transport.h
  test/core/end2end/cq_verifier.cc
  test/core/end2end/cq_verifier.h
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: yes

#23755 Re-enable TLS 1.3 in the C-core.
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security, lang/core, release notes: no

#23786 AuthorizationEngine CreateActivation and Tests for EvaluateArgs
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/authorization/authorization_engine.cc
  src/core/lib/security/authorization/authorization_engine.h
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  src/core/lib/security/authorization/mock_cel/cel_value.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/evaluate_args_test.cc
  test/core/util/BUILD
  test/core/util/eval_args_mock_endpoint.cc
  test/core/util/eval_args_mock_endpoint.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#23826 Backport "Copy channel args hash before appending ruby user agent" to 1.31.x
  src/ruby/lib/grpc/generic/client_stub.rb
  src/ruby/spec/user_agent_spec.rb
Labels: lang/ruby, release notes: yes

#23749 Upgrade Ubuntu 14.04 -> 18.04 in distribution tests
  tools/dockerfile/distribtest/node_centos7_x64/Dockerfile
  tools/dockerfile/distribtest/node_jessie_x64/Dockerfile
  tools/dockerfile/distribtest/node_jessie_x86/Dockerfile
  tools/dockerfile/distribtest/node_ubuntu1404_x64/Dockerfile
  tools/dockerfile/distribtest/python_dev_ubuntu1804_x64/Dockerfile
  tools/dockerfile/distribtest/python_ubuntu1404_x64/Dockerfile
  tools/dockerfile/distribtest/python_ubuntu1804_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_ubuntu1804_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/build, kind/internal cleanup, release notes: no

#23765 Ruby: use absolute module name for request/response namespaces
  src/compiler/ruby_generator_string-inl.h
  src/ruby/bin/math_services_pb.rb
  src/ruby/end2end/package_with_underscore_test.rb
  src/ruby/pb/grpc/health/v1/health_services_pb.rb
  src/ruby/pb/src/proto/grpc/testing/messages_pb.rb
  src/ruby/pb/src/proto/grpc/testing/test_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/benchmark_service_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/messages_pb.rb
  src/ruby/qps/src/proto/grpc/testing/report_qps_scenario_service_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/worker_service_services_pb.rb
  src/ruby/spec/pb/codegen/grpc/testing/same_package_service_name.proto
  src/ruby/spec/pb/codegen/grpc/testing/same_ruby_package_service_name.proto
  src/ruby/spec/pb/codegen/package_option_spec.rb
Labels: lang/ruby, release notes: yes

#23830 Backport of #23765 to v1.31.x branch
  src/compiler/ruby_generator_string-inl.h
  src/ruby/bin/math_services_pb.rb
  src/ruby/end2end/package_with_underscore_checker.rb
  src/ruby/pb/grpc/health/v1/health_services_pb.rb
  src/ruby/pb/src/proto/grpc/testing/messages_pb.rb
  src/ruby/pb/src/proto/grpc/testing/test_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/benchmark_service_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/messages_pb.rb
  src/ruby/qps/src/proto/grpc/testing/report_qps_scenario_service_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/worker_service_services_pb.rb
  src/ruby/spec/pb/codegen/grpc/testing/same_package_service_name.proto
  src/ruby/spec/pb/codegen/grpc/testing/same_ruby_package_service_name.proto
  src/ruby/spec/pb/codegen/package_option_spec.rb
Labels: lang/ruby, release notes: yes

#23840 Explain this directory's existence
  include/grpcpp/impl/codegen/README.md
Labels: release notes: no

#23836 Make MaybeExpect guarantee at-most-once and allow Verify reuse
  test/cpp/end2end/async_end2end_test.cc
Labels: release notes: no

#23839 Add command flag to enable xDS v3 for xDS interop test
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23843 Make status_code_and_message interop test robust
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/methods.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
Labels: lang/Python, release notes: no

#23748 Update ssl-performance docs
  doc/ssl-performance.md
Labels: lang/Python, release notes: no

#19545 Don't consider receiving non-OK status as an error for HTTP2
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  doc/status_ordering.md
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/end2end/cq_verifier.cc
  test/core/end2end/cq_verifier.h
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/server_streaming.cc
  test/core/end2end/tests/streaming_error_response.cc
Labels: lang/core, release notes: yes

#23806 Do not cancel RPC if send metadata size if larger than peer's limit
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  test/core/bad_client/tests/large_metadata.cc
  test/core/end2end/tests/large_metadata.cc
Labels: lang/core, release notes: yes

#23832 Add bazel "counters" config (to enable switching microbenchmark build to bazel)
  tools/bazel.rc
Labels: lang/c++, release notes: no

#23420 Improve windows crash handler for tests
  test/core/util/test_config.cc
Labels: lang/c++, release notes: no

#23827 Bump 1.31.x to 1.31.1
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/all wrapped languages, release notes: yes

#23813 Remove test targets and test helper libraries from Makefile
  Makefile
  src/re2/gen_build_yaml.py
  templates/Makefile.template
  tools/profiling/microbenchmarks/bm_diff/bm_build.py
Labels: lang/c++, release notes: yes

#23834 Support cmake + vs2019 build in run_tests.py
  tools/run_tests/run_tests.py
Labels: lang/c++, release notes: no

#23856 Make re2 submodule use https:// and not git:// URL (for consistency and to fix infrastructure error)
  .gitmodules
Labels: lang/all wrapped languages, release notes: no

#23783 [Aio] Add a fail-back polling mode for Windows+3.8+
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pyx.pxi
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: yes

#23692 Update Python default test suite in run_tests.py
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: no

#23795 Move ClientContext from ::grpc_impl to ::grpc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/channel.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback_impl.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/client_context_impl.h
  include/grpcpp/impl/codegen/client_interceptor.h
  include/grpcpp/impl/codegen/client_unary_call.h
  include/grpcpp/impl/codegen/intercepted_channel.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  src/cpp/client/client_context.cc
  test/cpp/util/cli_call.h
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#23763 PHP & Ruby xds interop tests: add support for xds splitting and routing
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Messages.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Test.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsResponse.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsResponse/RpcsByPeer.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsResponse_RpcsByPeer.php
  src/php/tests/interop/Grpc/Testing/XdsUpdateHealthServiceClient.php
  src/php/tests/interop/xds_client.php
  src/ruby/pb/test/xds_client.rb
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: lang/php, lang/ruby, release notes: no

#23862 Revert "Merge pull request #23786 from michaelywg/cel_create_activation"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/authorization/authorization_engine.cc
  src/core/lib/security/authorization/authorization_engine.h
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  src/core/lib/security/authorization/mock_cel/cel_value.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/evaluate_args_test.cc
  test/core/util/BUILD
  test/core/util/eval_args_mock_endpoint.cc
  test/core/util/eval_args_mock_endpoint.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#23831 Backport of #23765 to v1.30.x branch
  src/compiler/ruby_generator_string-inl.h
  src/ruby/bin/math_services_pb.rb
  src/ruby/end2end/package_with_underscore_checker.rb
  src/ruby/pb/grpc/health/v1/health_services_pb.rb
  src/ruby/pb/src/proto/grpc/testing/test_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/benchmark_service_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/report_qps_scenario_service_services_pb.rb
  src/ruby/qps/src/proto/grpc/testing/worker_service_services_pb.rb
  src/ruby/spec/pb/codegen/grpc/testing/same_package_service_name.proto
  src/ruby/spec/pb/codegen/grpc/testing/same_ruby_package_service_name.proto
  src/ruby/spec/pb/codegen/package_option_spec.rb
Labels: lang/ruby, release notes: yes

#23867 Fixed error in EvaluateArgs
  src/core/lib/security/authorization/evaluate_args.cc
Labels: release notes: no

#23865 A bit of BUILD cleanup
  src/compiler/BUILD
  src/objective-c/BUILD
  test/core/client_channel/BUILD
  test/core/uri/BUILD
  test/cpp/end2end/BUILD
Labels: release notes: no

#23870 Update namespace to avoid collision.
  src/core/lib/security/authorization/mock_cel/activation.h
  src/core/lib/security/authorization/mock_cel/cel_value.h
Labels: release notes: no

#23869 To Esun
  .github/pull_request_template.md
Labels: release notes: no

#21458 Enable Runtime Import of .proto Files
  doc/python/sphinx/grpc.rst
  examples/python/no_codegen/greeter_client.py
  examples/python/no_codegen/greeter_server.py
  examples/python/no_codegen/helloworld.proto
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_runtime_protos.py
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_api_test.py
  src/python/grpcio_tests/tests/unit/_dynamic_stubs_test.py
  src/python/grpcio_tests/tests/unit/data/foo/bar.proto
  tools/distrib/python/grpcio_tools/BUILD.bazel
  tools/distrib/python/grpcio_tools/_parallel_compile_patch.py
  tools/distrib/python/grpcio_tools/grpc_tools/__init__.py
  tools/distrib/python/grpcio_tools/grpc_tools/_protoc_compiler.pyx
  tools/distrib/python/grpcio_tools/grpc_tools/main.cc
  tools/distrib/python/grpcio_tools/grpc_tools/main.h
  tools/distrib/python/grpcio_tools/grpc_tools/protoc.py
  tools/distrib/python/grpcio_tools/grpc_tools/test/BUILD.bazel
  tools/distrib/python/grpcio_tools/grpc_tools/test/complicated.proto
  tools/distrib/python/grpcio_tools/grpc_tools/test/flawed.proto
  tools/distrib/python/grpcio_tools/grpc_tools/test/protoc_test.py
  tools/distrib/python/grpcio_tools/grpc_tools/test/simple.proto
  tools/distrib/python/grpcio_tools/grpc_tools/test/simpler.proto
  tools/distrib/python/grpcio_tools/grpc_tools/test/simplest.proto
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: lang/Python, release notes: yes

#23877 Fix destruction race between subchannel and client_channel
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#23878 Fix rare use-after-free in inproc_transport stream destruction
  src/core/ext/transport/inproc/inproc_transport.cc
Labels: release notes: no

#23880 Update generated C# docs to v1.31.x
  csharp/api/Grpc.Auth.GoogleAuthInterceptors.html
  csharp/api/Grpc.Core.CallCredentials.html
  csharp/api/Grpc.Core.CallOptions.html
  csharp/api/Grpc.Core.IAsyncStreamWriter-1.html
  csharp/api/Grpc.Core.Metadata.Entry.html
  csharp/api/Grpc.Core.Metadata.html
  csharp/api/Grpc.Core.Status.html
  csharp/api/Grpc.Core.Testing.TestCalls.html
  csharp/api/Grpc.Core.Testing.TestServerCallContext.html
  csharp/api/Grpc.Core.VersionInfo.html
  csharp/index.json
  csharp/manifest.json
  csharp/xrefmap.yml
Labels: lang/C#, release notes: no

#23858 Fix C# server start when not all ports have been bound.
  src/csharp/Grpc.Core.Tests/ServerBindFailedTest.cs
  src/csharp/Grpc.Core/Server.cs
  src/csharp/tests.json
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: yes

#23879 Change port number in examples to avoid conflict with forbidden port on windows
  examples/csharp/Helloworld/GreeterClient/Program.cs
  examples/csharp/Helloworld/GreeterServer/Program.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/Program.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/Program.cs
  examples/csharp/HelloworldUnity/Assets/Scripts/HelloWorldTest.cs
  examples/csharp/HelloworldXamarin/Droid/MainActivity.cs
  examples/csharp/HelloworldXamarin/iOS/ViewController.cs
  examples/csharp/RouteGuide/RouteGuideClient/Program.cs
  examples/csharp/RouteGuide/RouteGuideServer/Program.cs
  examples/csharp/Xds/GreeterClient/Program.cs
  examples/csharp/Xds/GreeterServer/Program.cs
  examples/csharp/Xds/README.md
Labels: lang/C#, release notes: yes

#23874 Backport "PHP & Ruby xds interop tests: add support for xds splitting and routing" to v1.31.x
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Messages.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Test.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsResponse.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsResponse/RpcsByPeer.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsResponse_RpcsByPeer.php
  src/php/tests/interop/Grpc/Testing/XdsUpdateHealthServiceClient.php
  src/php/tests/interop/xds_client.php
  src/ruby/pb/test/xds_client.rb
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: lang/php, lang/ruby, release notes: no

#23820 Move parse_address library from client_channel to iomgr.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/lib/iomgr/parse_address.cc
  src/core/lib/iomgr/parse_address.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/iomgr/BUILD
  test/core/iomgr/parse_address_test.cc
  test/core/iomgr/parse_address_with_named_scope_id_test.cc
  test/core/iomgr/stranded_event_test.cc
  test/core/transport/chttp2/too_many_pings_test.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/naming/resolver_component_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#23569 Return blank span if no call is active.
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/server/server_context.cc
Labels: lang/c++, release notes: no

#23804 Update CallRegistrationTable comment
  src/core/lib/surface/channel.h
Labels: release notes: no

#23240 [Aio] Graduation from experimental folder
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/aio/__init__.py
  src/python/grpcio/grpc/aio/_base_call.py
  src/python/grpcio/grpc/aio/_base_channel.py
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio/grpc/aio/_call.py
  src/python/grpcio/grpc/aio/_channel.py
  src/python/grpcio/grpc/aio/_interceptor.py
  src/python/grpcio/grpc/aio/_metadata.py
  src/python/grpcio/grpc/aio/_server.py
  src/python/grpcio/grpc/aio/_typing.py
  src/python/grpcio/grpc/aio/_utils.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio_tests/tests_aio/unit/_common.py
  src/python/grpcio_tests/tests_aio/unit/aio_rpc_error_test.py
  src/python/grpcio_tests/tests_aio/unit/close_channel_test.py
Labels: lang/Python, release notes: yes

#23886 Fix parallelism when env variable unset
  tools/distrib/python/grpcio_tools/_parallel_compile_patch.py
Labels: kind/bug, lang/Python, release notes: no

#23885 Tie 2 refcounts together in backup poller
  src/core/ext/filters/client_channel/backup_poller.cc
Labels: release notes: no

#23825 Bump 1.30.x branch to 1.30.3
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/ruby, release notes: yes

#23882 Add 1.31.1 images from grpc/grpc to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: lang/all wrapped languages, release notes: no

#23884 Destroy health check service before destroying C server.
  src/cpp/server/server_cc.cc
Labels: release notes: no

#23875 Long timeout for too_many_pings_test
  test/core/transport/chttp2/BUILD
Labels: release notes: no

#23887 Add activation logic and endpoint getters.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/authorization/authorization_engine.cc
  src/core/lib/security/authorization/authorization_engine.h
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  src/core/lib/security/authorization/mock_cel/cel_value.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/evaluate_args_test.cc
  test/core/util/BUILD
  test/core/util/eval_args_mock_endpoint.cc
  test/core/util/eval_args_mock_endpoint.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#23848 ALTS peer attributes plumbing
  include/grpcpp/security/alts_context.h
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/cpp/common/alts_context.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/cpp/common/alts_util_test.cc
Labels: area/security, lang/core, release notes: no

#23863 Fixing the transient failure that occurs during the case where
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23876 Don't consider receiving non-OK status as an error for Cronet
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/objective-c/tests/CronetTests/CoreCronetEnd2EndTests.mm
Labels: platform/iOS, release notes: no

#23890 run_microbenchmark.py should use bazel
  tools/bazel.rc
  tools/run_tests/run_microbenchmark.py
Labels: lang/c++, release notes: no

#23899 Cleanup bazel commands in test scripts (for non-RBE invocations)
  test/cpp/common/BUILD
  test/cpp/end2end/BUILD
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
  tools/internal_ci/linux/grpc_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_flaky_network_in_docker.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/internal_ci/macos/grpc_run_bazel_isolated_tests.sh
Labels: release notes: no

#23897 Remove unneeded and incorrect forward reference
  src/core/lib/iomgr/endpoint.h
Labels: release notes: no

#23896 Remove unneeded forward reference
  src/core/ext/filters/client_channel/client_channel_channelz.h
Labels: release notes: no

#23892 Python xDS interop client traffic splitting / path matching additions
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/Python, release notes: no

#23903 Revert "Pass listening addresses into XdsClient"
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: release notes: no

#23895 Remove unneeded and incorrect forward reference
  include/grpcpp/server_impl.h
Labels: release notes: no

#23907 PHP: change return type annotation of generated PHP methods
  src/compiler/php_generator.cc
  src/php/tests/generated_code/Math/MathClient.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsServiceClient.php
  src/php/tests/interop/Grpc/Testing/ReconnectServiceClient.php
  src/php/tests/interop/Grpc/Testing/TestServiceClient.php
  src/php/tests/interop/Grpc/Testing/UnimplementedServiceClient.php
  src/php/tests/interop/Grpc/Testing/XdsUpdateHealthServiceClient.php
Labels: lang/php, release notes: no

#23891 xds testing: add a test case with multiple routes referring to same cluster
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#23912 Revert run_xds_tests.py changes to derisk release
  tools/run_tests/run_xds_tests.py
Labels: area/test, lang/all wrapped languages, release notes: no

#23906 Clean up upb_strview handling.
  src/core/ext/xds/xds_api.cc
  src/core/lib/iomgr/sockaddr_utils.cc
  src/core/lib/iomgr/sockaddr_utils.h
Labels: release notes: no

#23909 xds testing: disable fail_on_failed_rpc check
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#23911 Account for empty EDS update in test_round_robin
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23915 Account for connecting to different zone TD
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23924 xds testing: delete test new_instance_group
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#23921 Increase xDS job timeout while increased run time is investigated
  tools/internal_ci/linux/grpc_xds.cfg
Labels: lang/other, release notes: no

#23925 backport xds flaky test fixes to v1.31.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23926 backport xds flaky test fixes to v1.30.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23932 Make C# CallError enum up to date with C core
  src/csharp/Grpc.Core/Internal/CallError.cs
Labels: lang/C#, release notes: no

#23945 [Aio] Prevent call objects from outliving its parent channel or server
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Labels: lang/Python, release notes: yes

#23633 Fix bazel out directory when using external repo
  bazel/protobuf.bzl
Labels: infra/Bazel, lang/Python, release notes: yes

#23918 xds: Don't identify the needed VirtualHost at validation time.
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23949 Tolerate old versions of grpcio-tools
  src/python/grpcio/grpc/_runtime_protos.py
Labels: kind/bug, lang/Python, priority/P0/RELEASE BLOCKER, release notes: no

#23930 Add extra comments that explain that #19196 is not an issue
  src/csharp/Grpc.Core/Internal/NativeMetadataCredentialsPlugin.cs
  src/csharp/ext/grpc_csharp_ext.c
Labels: lang/C#, release notes: no

#23940 Backport "PHP: avoid destroy channel more than once" to v1.31.x
  src/php/ext/grpc/channel.c
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: no

#23956 xds test: retry with random suffix after conflict
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23959 Run Python xDS interop client without STDOUT/STDERR buffering
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: area/test, lang/Python, release notes: no

#23960 Double the handshake failure deadline of TestHandshakeFailsFastWhenHandshakeServerClosesConnectionAfterAccepting
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
Labels: lang/core, release notes: no

#23962 To karthikravis
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#23958 Run Python interop client without STDOUT/STDERR buffering
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: area/test, lang/Python, release notes: no

#23969 Revert "xds: Don't identify the needed VirtualHost at validation time."
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23965 Backport unique suffix fix to v1.31.x
  tools/run_tests/run_xds_tests.py
Labels: area/test, lang/other, release notes: no

#23966 Backport unique suffix fix to v1.30.x
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23902 Upgrade bazel used for all tests to 2.2.0
  bazel/update_mirror.sh
  examples/BUILD
  examples/objective-c/BUILD
  templates/tools/dockerfile/bazel.include
  tools/bazel
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/windows/bazel_rbe.bat
Labels: lang/Python, lang/c++, release notes: yes

#23977 Add init and shutdown to verify_peer_options
  test/core/handshake/verify_peer_options.cc
Labels: area/test, kind/bug, lang/core, release notes: no

#23953 Don't call grpc_call_cancel() from within core.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/xds/xds_client.cc
  tools/run_tests/sanity/core_banned_functions.py
Labels: release notes: no

#23485 Use new protobuf serialization/deserialization API in C# marshallers
  src/compiler/csharp_generator.cc
  src/csharp/Grpc.Examples/MathGrpc.cs
  src/csharp/Grpc.HealthCheck/HealthGrpc.cs
  src/csharp/Grpc.IntegrationTesting/BenchmarkServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/MetricsGrpc.cs
  src/csharp/Grpc.IntegrationTesting/ReportQpsScenarioServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/TestGrpc.cs
  src/csharp/Grpc.IntegrationTesting/WorkerServiceGrpc.cs
  src/csharp/Grpc.Reflection/ReflectionGrpc.cs
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: yes

#23981 Improve the exit test to yield better logs
  src/python/grpcio_tests/tests/unit/_exit_test.py
Labels: lang/Python, release notes: no

#23976 Second attempt: xds: Don't identify the needed VirtualHost at validation time
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23989 Member variable should not be a reference; causing crash when used in
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
Labels: release notes: no

#23990 Fixing the transient failure (Porting to v1.30.x)
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23975 Add mock cel APIs.
  BUILD
  BUILD.gn
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/security/authorization/mock_cel/cel_expr_builder_factory.h
  src/core/lib/security/authorization/mock_cel/cel_expression.h
  src/core/lib/security/authorization/mock_cel/evaluator_core.h
  src/core/lib/security/authorization/mock_cel/flat_expr_builder.h
  src/core/lib/security/authorization/mock_cel/statusor.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#23980 Upgraded gcc to 8 in python_dev_centos7_x64
  tools/dockerfile/distribtest/python_dev_centos7_x64/Dockerfile
Labels: area/build, kind/enhancement, lang/Python, release notes: no

#23984 Remove stream from stalled lists on remove_stream
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core, release notes: yes

#23995 upgrade Google.Protobuf to 3.13.0 in C# distribtests
  test/distrib/csharp/DistribTest/DistribTest.csproj
  test/distrib/csharp/DistribTest/DistribTestDotNet.csproj
  test/distrib/csharp/DistribTest/packages.config
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: no

#23999 Fix keepalive value used in XdsClient.
  src/core/ext/xds/xds_client.cc
Labels: release notes: no

#23948 add features to grpc_cc_binary in bazel
  bazel/grpc_build_system.bzl
Labels: release notes: no

#23974 Tests for EvaluateArgs
  test/core/security/evaluate_args_test.cc
Labels: release notes: no

#24003 Update version of master to 1.33-dev ("geeky").
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24004 Change version to 1.32-pre1 and bump major core version number.
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#23998 Update grpc_android for new CI environment
  examples/android/helloworld/app/CMakeLists.txt
  examples/android/helloworld/build.gradle
  examples/android/helloworld/gradle/wrapper/gradle-wrapper.properties
  src/android/test/interop/app/CMakeLists.txt
  src/android/test/interop/app/build.gradle
  src/android/test/interop/build.gradle
  src/android/test/interop/gradle/wrapper/gradle-wrapper.properties
  tools/internal_ci/linux/grpc_android.sh
Labels: area/build, release notes: no
