Repository grpc/grpc, pull requests merged in 2020-02, with the labels that each got.

#21825 Make test code use TestEnvironment (part 3)
  CMakeLists.txt
  Makefile
  build.yaml
  test/cpp/common/channel_arguments_test.cc
Labels: lang/core, release notes: no

#21865 Check .code() before .cancelled() in Python RPC tests
  src/python/grpcio_tests/tests/unit/_rpc_test.py
Labels: area/test, lang/Python, priority/P2, release notes: no

#21811 Use sha256 for boringssl bazel dependency
  bazel/grpc_deps.bzl
Labels: lang/c++, release notes: no

#21834 Get rid of boringssl podspec err_data.c hack
  gRPC-Core.podspec
  src/boringssl/err_data.c
  src/boringssl/gen_build_yaml.py
  src/objective-c/BoringSSL-GRPC.podspec
  templates/gRPC-Core.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  tools/distrib/check_copyright.py
Labels: lang/ObjC, release notes: no

#21866 Fix bugs in xds bootstrap file parsing.
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
Labels: release notes: no

#21705 Added max_frame_size field for ALTS frame size negotiation.
  src/core/ext/upb-generated/src/proto/grpc/gcp/handshaker.upb.c
  src/core/ext/upb-generated/src/proto/grpc/gcp/handshaker.upb.h
  src/proto/grpc/gcp/handshaker.proto
Labels: lang/core, release notes: no

#21855 [Aio] Fix the server credentials & improve socket implementation
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio_tests/tests_aio/interop/local_interop_test.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/abort_test.py
Labels: kind/bug, lang/Python, release notes: yes

#21819 [Aio] Close ongoing calls when the channel is closed
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/close_channel_test.py
  src/python/grpcio_tests/tests_aio/unit/interceptor_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#21883 Pass C repo manager to Donna
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: lang/other, release notes: no

#21848 Add ignore android flag in performance README.md
  tools/run_tests/performance/README.md
Labels: release notes: no

#21886 Bump 1.27.x version to 1.27.0
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#21873 Service config: Use the empty string instead of "*" for wildcard method.
  src/core/ext/filters/client_channel/service_config.cc
Labels: release notes: no

#21875 XdsClient: Generate error message when no supported creds types found.
  src/core/ext/filters/client_channel/xds/xds_channel.cc
  src/core/ext/filters/client_channel/xds/xds_channel.h
  src/core/ext/filters/client_channel/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
Labels: release notes: no

#21887 Backport #21721: Revert "grpclb stabilization"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_channel_secure.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/naming/resolver_component_test.cc
  tools/distrib/check_include_guards.py
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#21892 Update grpc_release_schedule.md with 2020 release dates
  doc/grpc_release_schedule.md
Labels: release notes: no

#21881 Stop building performance artifacts for Android
  tools/run_tests/performance/build_performance.sh
Labels: lang/Java, release notes: no

#21877 [Aio] Disable testing AsyncIO for versions that it doesn't exist yet
  tools/interop_matrix/client_matrix.py
Labels: kind/bug, lang/Python, release notes: no

#21812 C++ distribtest improvements
  test/distrib/cpp/run_distrib_test_cmake.sh
  test/distrib/cpp/run_distrib_test_cmake_as_externalproject.sh
  test/distrib/cpp/run_distrib_test_cmake_fetchcontent.sh
  test/distrib/cpp/run_distrib_test_cmake_module_install.sh
  test/distrib/cpp/run_distrib_test_cmake_module_install_pkgconfig.sh
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
  test/distrib/cpp/run_distrib_test_raspberry_pi.sh
  tools/dockerfile/distribtest/cpp_stretch_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/c++, release notes: no

#21393 Convert service config code to use new JSON API
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/ext/filters/client_channel/lb_policy_registry.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/service_config.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/lib/gprpp/inlined_vector.h
  src/core/lib/iomgr/error.h
  src/core/lib/json/json_reader_new.cc
  test/core/client_channel/service_config_test.cc
  test/core/client_channel/xds_bootstrap_test.cc
  test/core/util/test_lb_policies.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
Labels: release notes: no

#21846 Replace LogicalThread with WorkSerializer
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/logical_thread.cc
  src/core/lib/iomgr/logical_thread.h
  src/core/lib/iomgr/work_serializer.cc
  src/core/lib/iomgr/work_serializer.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/BUILD
  test/core/iomgr/work_serializer_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#21903 [Aio] Attempt to fix recent AsyncIO windows flake
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio_tests/tests_aio/unit/close_channel_test.py
Labels: kind/bug, lang/Python, release notes: no

#21913 Remove unused parameter names
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/xds/xds_channel.cc
Labels: release notes: no

#21852 Updates to TLS credentials, version 3
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#21923 Revert "Updates to TLS credentials, version 3"
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, kokoro:force-run, lang/c++, release notes: no

#21924 Temporarily Readd Manylinux1 Support
  tools/dockerfile/grpc_artifact_python_manylinux1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux1_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/packaging & distribution, lang/Python, release notes: yes

#21890 a few cmake fixes in BUILDING.md
  BUILDING.md
Labels: lang/c++, release notes: no

#21925 Add v1.27.1 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#21909 xds: Fix crash when moving all localities from a priority to a higher priority.
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#21809 [Aio] Support compression for both client and server
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/compression_test.py
Labels: lang/Python, release notes: yes

#21919 [Aio] Set debug_error_string to AioRpcError
  src/python/grpcio/grpc/experimental/aio/_call.py
Labels: kind/enhancement, lang/Python, release notes: no

#21885 [Aio] Add channel_ready helper function
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/channel_ready_test.py
Labels: lang/Python, release notes: yes

#21933 Move xds API code into a class, so that common state can be cached.
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
Labels: release notes: no

#21928 Bump version on 1.27.x branch to 1.27.1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/core, release notes: no

#21910 [Aio] Prohibit mixing two styles of API on client side
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio_tests/tests_aio/unit/connectivity_test.py
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: lang/Python, release notes: yes

#21911 Add XDS example to the suite of examples.
  examples/cpp/helloworld/README.md
  examples/cpp/helloworld/greeter_client.cc
Labels: release notes: no

#21794 Update proxy environment variables doc to match implementation
  doc/environment_variables.md
Labels: area/documentation, release notes: no

#21951 [Aio] Use "str" instead of "typing.Text"
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_base_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio/grpc/experimental/aio/_server.py
  src/python/grpcio/grpc/experimental/aio/_typing.py
Labels: kind/enhancement, lang/Python, release notes: no

#20783 [bazel] Add fixes for --incompatible_load_proto_rules_from_bzl
  bazel/cc_grpc_library.bzl
  bazel/generate_cc.bzl
  bazel/generate_objc.bzl
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  examples/BUILD
  examples/python/cancellation/BUILD.bazel
  examples/python/multiprocessing/BUILD
  src/objective-c/grpc_objc_internal_library.bzl
  src/proto/grpc/channelz/BUILD
  src/proto/grpc/gcp/BUILD
  src/proto/grpc/health/v1/BUILD
  src/proto/grpc/lb/v1/BUILD
  src/proto/grpc/reflection/v1alpha/BUILD
  src/proto/grpc/testing/BUILD
  src/proto/grpc/testing/proto2/BUILD.bazel
  src/python/grpcio_tests/tests/stress/BUILD.bazel
  third_party/py/python_configure.bzl
  third_party/upb/BUILD
  third_party/upb/bazel/upb_proto_library.bzl
  third_party/upb/examples/bazel/BUILD
Labels: area/build, disposition/on hold, infra/Bazel, lang/all wrapped languages, release notes: yes

#21869 Add runner script for xDS integration tests
  src/proto/grpc/testing/messages.proto
  src/proto/grpc/testing/test.proto
  tools/run_tests/helper_scripts/prep_xds.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#21930 add README.md for third_party
  third_party/README.md
Labels: lang/c++, release notes: no

#21857 Remove old JSON API
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/json/json.cc
  src/core/lib/json/json.h
  src/core/lib/json/json_reader.cc
  src/core/lib/json/json_reader_new.cc
  src/core/lib/json/json_writer.cc
  src/core/lib/json/json_writer_new.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/json/BUILD
  test/core/json/fuzzer.cc
  test/core/json/json_test.cc
  test/core/json/json_test_new.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#21955 Passing C repo manager to Mark Roth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21915 Move generic stub implementation to header (prepare for templates)
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/generic/generic_stub_impl.h
  src/cpp/client/generic_stub.cc
  tools/doxygen/Doxyfile.c++.internal
Labels: release notes: no

#21921 [Aio] Another fix for close mechanism on Windows
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
Labels: kind/bug, lang/Python, platform/Windows, release notes: no

#21946 Stop using closure for inproc transport state machine
  src/core/ext/transport/inproc/inproc_transport.cc
Labels: release notes: no

#21964 add memory boundary check in check_gcp_environment.cc
  src/core/lib/security/credentials/alts/check_gcp_environment.cc
Labels: area/security, lang/core, release notes: no

#21512 Add Java v1.26.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: lang/Java, release notes: no

#21980 Backport https://github.com/grpc/grpc/pull/21977 to 1.27.x
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: no

#21944 cherry-pick #21641 #21277
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  test/core/security/credentials_test.cc
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no

#21815 Revert "Revert "Revert "Revert "Log an error (in dbg mode) if CQ is Shutdown before its Server(s)""""
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/server_impl.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#21986 Added abseil-based sync
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/port_platform.h
  include/grpc/impl/codegen/sync.h
  include/grpc/impl/codegen/sync_abseil.h
  include/grpc/module.modulemap
  include/grpc/support/sync_abseil.h
  package.xml
  src/core/lib/gpr/sync_abseil.cc
  src/core/lib/gpr/sync_posix.cc
  src/core/lib/gpr/sync_windows.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#21977 Pin virtualenv to 16.7.9
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: kind/bug, lang/Python, release notes: no

#21979 Bump 1.27.x branch to 1.27.2
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#21985 Prevent overflows in JSON parser
  src/core/lib/json/json_reader.cc
Labels: release notes: no

#21856 Add xDS interop tests doc
  doc/xds-test-descriptions.md
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/other, release notes: no

#22001 Assorted build fixes
  Makefile
  src/abseil-cpp/gen_build_yaml.py
  src/upb/gen_build_yaml.py
  templates/Makefile.template
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/cpp/interop/BUILD
  tools/bazel
Labels: lang/core, release notes: no

#21891 get rid of the https://grpc.io/release plague
  BUILDING.md
  examples/cpp/compression/README.md
  examples/cpp/helloworld/README.md
  examples/cpp/load_balancing/README.md
  examples/cpp/metadata/README.md
  examples/node/README.md
  examples/objective-c/helloworld/README.md
  examples/php/README.md
  src/php/README.md
  src/python/grpcio/README.rst
  tools/distrib/python/grpcio_tools/README.rst
Labels: lang/all wrapped languages, release notes: no

#22009 Removed unused sync_[no]_cxx11 files
  BUILD
  include/grpc++/impl/sync_cxx11.h
  include/grpc++/impl/sync_no_cxx11.h
  include/grpcpp/impl/sync_cxx11.h
  include/grpcpp/impl/sync_no_cxx11.h
  tools/run_tests/sanity/check_deprecated_grpc++.py
Labels: lang/core, release notes: no

#21999 Clang tidy xds interop client
  test/cpp/interop/xds_interop_client.cc
Labels: release notes: no

#21996 Delete default TimePoint constructor to detect error at compile time
  include/grpcpp/impl/codegen/time.h
Labels: lang/c++, release notes: no

#22008 Dedup srcs in doxyfile
  templates/tools/doxygen/Doxyfile.include
  templates/tools/doxygen/Doxyfile.objc.include
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: area/build, release notes: no

#21981 Fix Issue 20928
  src/core/ext/filters/client_channel/xds/xds_client.cc
Labels: release notes: no

#22000 Remove some unused parameter warnings
  include/grpcpp/impl/codegen/completion_queue_impl.h
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
Labels: release notes: no

#22007 Update C# reference docs to 2.27.1
  csharp/api/Grpc.Core.AsyncClientStreamingCall-2.html
  csharp/api/Grpc.Core.AsyncDuplexStreamingCall-2.html
  csharp/api/Grpc.Core.AsyncServerStreamingCall-1.html
  csharp/api/Grpc.Core.AsyncUnaryCall-1.html
  csharp/api/Grpc.Core.Calls.html
  csharp/api/Grpc.Core.Channel.html
  csharp/api/Grpc.Core.ChannelBase.html
  csharp/api/Grpc.Core.IAsyncStreamReader-1.html
  csharp/api/Grpc.Core.IAsyncStreamWriter-1.html
  csharp/api/Grpc.Core.IClientStreamWriter-1.html
  csharp/api/Grpc.Core.IServerStreamWriter-1.html
  csharp/api/Grpc.Core.LiteClientBase.html
  csharp/api/Grpc.Core.RpcException.html
  csharp/api/Grpc.Core.SerializationContext.html
  csharp/api/Grpc.Core.ServerCallContext.html
  csharp/api/Grpc.Core.VersionInfo.html
  csharp/api/Grpc.Core.html
  csharp/api/toc.html
  csharp/index.json
  csharp/manifest.json
  csharp/xrefmap.yml
Labels: lang/C#, release notes: no

#21739 Make microbenchmarks tests rather than binaries, fix issues
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_opencensus_plugin.cc
  test/cpp/microbenchmarks/bm_timer.cc
  tools/remote_build/rbe_common.bazelrc
Labels: lang/c++, release notes: no

#22006 Add missing libuv specific sources to bazel BUILD (align build.yaml and BUILD)
  BUILD
Labels: lang/core, release notes: no

#21988 [Aio] Make client-side graceful shutdown faster
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/close_channel_test.py
Labels: kind/enhancement, lang/Python, release notes: no

#21967 Add more tests for STS
  test/core/security/credentials_test.cc
  test/core/security/oauth2_utils.cc
Labels: area/core, area/security, lang/c++, release notes: no

#21945 Disable work_serializer_test on internal tests
  test/core/iomgr/BUILD
Labels: release notes: no

#22027 Use the working dashboard link in README
  README.md
Labels: kind/internal cleanup, lang/other, release notes: no

#22031 Do not validate details when status code is OK
  src/python/grpcio_tests/tests/unit/_metadata_code_details_test.py
Labels: area/test, kind/internal cleanup, lang/Python, priority/P2, release notes: no

#22056 Add missing bm_pollset and bm_chttp2_transport targets to bazel build
  test/cpp/microbenchmarks/BUILD
Labels: lang/c++, release notes: no

#22025 Pass C repo manager duty to Nico.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22064 Add notap tag to tests that cause issues timeout issues internally
  test/cpp/microbenchmarks/BUILD
Labels: release notes: no

#22028 [Aio] Implement health checking servicer in AsyncIO
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/_async.py
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_tests/tests_aio/health_check/BUILD.bazel
  src/python/grpcio_tests/tests_aio/health_check/__init__.py
  src/python/grpcio_tests/tests_aio/health_check/health_servicer_test.py
  src/python/grpcio_tests/tests_aio/tests.json
Labels: kind/enhancement, lang/Python, release notes: yes

#22026 Improve invocation_defects_tests with assertions and comments
  src/python/grpcio_tests/tests/unit/_invocation_defects_test.py
Labels: kind/internal cleanup, lang/Python, release notes: no

#21954 Experimental: Implement Top-Level Invocation Functions Not Requiring an Explicit Channel
  .gitignore
  .pylintrc
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests_py3_only/__init__.py
  src/python/grpcio_tests/tests_py3_only/unit/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/unit/__init__.py
  src/python/grpcio_tests/tests_py3_only/unit/_simple_stubs_test.py
Labels: lang/Python, release notes: yes

#22066 Changed Closure to TestClosure to avoid name conflict
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/bm_pollset.cc
Labels: area/test, lang/c++, release notes: no

#22043 Add dbghelp.lib to windows artifacts
  Makefile
  setup.py
  templates/Makefile.template
Labels: area/build, release notes: no

#21987 [Aio] Generate gRPC AsyncIO API Reference
  doc/python/sphinx/_static/custom.css
  doc/python/sphinx/conf.py
  doc/python/sphinx/grpc_asyncio.rst
  doc/python/sphinx/index.rst
  src/python/grpcio/grpc/experimental/BUILD.bazel
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_base_channel.py
  src/python/grpcio/grpc/experimental/aio/_base_server.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio/grpc/experimental/aio/_server.py
Labels: kind/enhancement, lang/Python, release notes: yes

#22065 Be careful about when to inline user's OnDone server callback
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_callback_impl.h
  include/grpcpp/impl/codegen/server_context_impl.h
  src/cpp/server/server_callback.cc
  test/cpp/end2end/test_service_impl.cc
Labels: lang/c++, release notes: no

#21932 Updates to TLS credentials, version 4
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#22063 Update LRS to use "PROXYLESS_CLIENT_HOSTNAME" metadata instead of cluster field.
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#21843 Replaced grpc_core::MakeUnique with absl::make_unique
  BUILD
  BUILD.gn
  CMakeLists.txt
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/gprpp/memory.h
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/ssl/session_cache/ssl_session_boringssl.cc
  src/core/tsi/ssl/session_cache/ssl_session_openssl.cc
  src/cpp/common/alts_util.cc
  test/core/channel/channelz_test.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/gprpp/inlined_vector_test.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
Labels: lang/core, release notes: no

#21324 feat: add x-goog-user-project header from quota_project_id field
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  test/core/security/credentials_test.cc
  test/core/security/json_token_test.cc
Labels: area/security, lang/core, release notes: yes

#22085 Don't depend on InlinedVector::clear to de-allocate
  src/core/lib/iomgr/ev_epollex_linux.cc
Labels: area/core, kind/bug, release notes: no

#22016 Run C++ xDS tests on Kokoro
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds.sh
Labels: lang/other, release notes: no

#22092 Enable absl completely
  BUILD
  bazel/grpc_build_system.bzl
  src/core/lib/channel/channelz.h
  src/core/lib/gprpp/inlined_vector.h
  src/core/lib/gprpp/optional.h
  src/core/lib/gprpp/string_view.h
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
Labels: area/build, lang/core, release notes: no

#21845 Replaced gpr_asprintf with absl::StrFormat
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/python/grpcio/grpc_core_dependencies.py
Labels: lang/core, release notes: no

#22084 make check_call_host() in ssl_security_connector to use ssl_utils
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
Labels: area/security, lang/core, release notes: no

#21698 Bump g stands for
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#22011 Restructure XdsClient load reporting APIs
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/ext/filters/client_channel/xds/xds_client_stats.cc
  src/core/ext/filters/client_channel/xds/xds_client_stats.h
Labels: release notes: no

#22093 Fix mixed-signed comparison in security code
  src/core/tsi/ssl_transport_security.cc
Labels: area/security, kind/internal cleanup, kokoro:run, lang/core, priority/P2, release notes: no

#22081 Re-enable work_serializer test internally
  test/core/iomgr/BUILD
Labels: release notes: no

#22118 Revert "feat: add x-goog-user-project header from quota_project_id field"
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  test/core/security/credentials_test.cc
  test/core/security/json_token_test.cc
Labels: lang/c++, release notes: no

#22116 Rotation to yash
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22039 Add ruby-2.7 to build process of binary gems for Windows and Linux
  Rakefile
  grpc.gemspec
  templates/grpc.gemspec.template
  third_party/rake-compiler-dock/Dockerfile
  third_party/rake-compiler-dock/LICENSE.txt
  third_party/rake-compiler-dock/README.md
  tools/distrib/docker_for_windows.rb
  tools/dockerfile/push_testing_images.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/build, lang/ruby, release notes: yes

#22098 Add params for running in other test environments
  tools/run_tests/helper_scripts/prep_xds.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22130 gRPC C++ podspec replace openssl with openssl_grpc
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, release notes: no

#22131 Port #22130: gRPC C++ podspec replace openssl with openssl_grpc
  gRPC-C++.podspec
  templates/gRPC-C++.podspec.template
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: no

#22139 Add --stats_port and --service_port_range params
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#21835 Fix some spelling errors in comment
  src/csharp/Grpc.Core.Api/CallCredentials.cs
  src/csharp/Grpc.Core.Api/CallOptions.cs
  src/csharp/Grpc.Core/Internal/UnmanagedLibrary.cs
Labels: lang/other, release notes: no

#22100 Always construct LB policy config, even when only the policy name is specified.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  test/core/util/test_lb_policies.cc
Labels: release notes: no

#22150 Bump version to v1.27.3
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/core, release notes: no

#22156 Adding basic .gitallowed for git secrets.
  .gitallowed
Labels: release notes: no

#22155 add me(ZhenLian) as project maintainer
  MAINTAINERS.md
Labels: area/documentation, release notes: no

#22153 Update gRPC podspec to use Abseil 0.20200225
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: area/build, lang/ObjC, release notes: no

#22159 Backport: Update gRPC podspec to use Abseil 0.20200225
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: area/build, lang/ObjC, release notes: no

#22142 set timeout on rpc call
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22154 Bump 1.28.x to 1.28.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#22152 Bump master to 1.29
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#22160 .gitallowed modification on the path of test files.
  .gitallowed
Labels: release notes: no

#22166 Remove the flakiness of disappearing_server end2end test. Fix #21221
  test/core/end2end/tests/disappearing_server.cc
Labels: release notes: no

#22017 Reuse registered call metadata across stubs of the same service on the same channel
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  include/grpc/grpc.h
  include/grpcpp/channel_impl.h
  include/grpcpp/test/channel_test_peer.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/cpp/client/channel_test_peer.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/end2end_test.cc
Labels: area/core, release notes: no

#22144 Use grpc_bazel.sh framework to run xDS test client on Kokoro
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: lang/other, release notes: no

#21978 Fix flag processing breakage from #18853.
  test/core/compression/message_compress_corpus/dummy
  test/core/compression/message_decompress_corpus/dummy
  test/core/compression/stream_compression_corpus/dummy
  test/core/compression/stream_decompression_corpus/dummy
  test/core/slice/b64_decode_fuzzer.cc
  test/core/util/fuzzer_corpus_test.cc
Labels: release notes: no

#22167 increase timeout for grpc_build_*_at_head.cfg
  tools/internal_ci/linux/grpc_build_boringssl_at_head.cfg
  tools/internal_ci/linux/grpc_build_protobuf_at_head.cfg
Labels: release notes: no

#21984 CallCredentials debug string API
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  build_config.rb
  build_handwritten.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials_impl.h
  package.xml
  src/core/lib/security/credentials/composite/composite_credentials.cc
  src/core/lib/security/credentials/composite/composite_credentials.h
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/fake/fake_credentials.h
  src/core/lib/security/credentials/iam/iam_credentials.cc
  src/core/lib/security/credentials/iam/iam_credentials.h
  src/core/lib/security/credentials/jwt/jwt_credentials.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.h
  src/core/lib/surface/version.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/client/secure_credentials.h
  src/objective-c/tests/version.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/credentials_test.cc
  test/cpp/end2end/end2end_test.cc
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: yes

#22173 Document that non-OK status gives no message on unary Finish
  include/grpcpp/impl/codegen/server_callback_impl.h
Labels: lang/c++, release notes: no

#22178 Also generate grpc++_test library
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  grpc.gyp
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: area/build, lang/all wrapped languages, release notes: no

#22170 Build xds client before launching test driver
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: lang/other, release notes: no

#22179 Allow marking bazel test as flaky, under certain rules
  bazel/grpc_build_system.bzl
  test/core/transport/chttp2/BUILD
  test/cpp/end2end/BUILD
  test/cpp/microbenchmarks/BUILD
Labels: release notes: no

#22101 Refactor code for gracefully switching child LB policies.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#22133 Change grpclb policy to use internal connectivity state watch API
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/client/BUILD
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no
