Repository grpc/grpc, pull requests merged in 2020-03, with the labels that each got.

#22197 mark grpclb_end2end_test as flaky
  test/cpp/end2end/BUILD
Labels: release notes: no

#22175 Delete api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: release notes: no

#22202 Explain that this has Chinese comments with English translation
  examples/python/data_transmission/client.py
Labels: lang/Python, release notes: no

#22195 Add ruby 2.7 to mac binary packages
  Rakefile
  tools/distrib/build_ruby_environment_macos.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, priority/P0/RELEASE BLOCKER, release notes: yes

#22205 Backport to 1.28.x: add ruby 2.7 to mac binary pkgs
  Rakefile
  tools/distrib/build_ruby_environment_macos.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, priority/P0/RELEASE BLOCKER, release notes: yes

#22207 Pass C repo manager to Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22187 Update TlsServerCredentials to initialize C-core
  src/cpp/server/secure_server_credentials.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#22211 Add back source-only grpc-ruby packages for v1.28.x
  Rakefile
Labels: lang/ruby, release notes: no

#22215 Bump version to 1.28.0-pre2
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#22189 Have more verbose test failure information in testTimeout
  src/objective-c/tests/UnitTests/APIv2Tests.m
Labels: lang/ObjC, release notes: no

#21882 Converting AdsServiceImpl to a fake
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/lib/gprpp/sync.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22204 xds: include port in VirtualHost domain matching
  src/core/ext/filters/client_channel/xds/xds_api.cc
Labels: release notes: no

#22168 Add comments to TlsFetchKeyMaterials API and add test file for C-core TLS credentials options.
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  test/core/security/BUILD
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/tls_security_connector_test.cc
  tools/run_tests/generated/tests.json
Labels: area/security, lang/core, release notes: no

#22223 Backport #22204 to v1.28.x
  src/core/ext/filters/client_channel/xds/xds_api.cc
Labels: lang/all wrapped languages, release notes: no

#22221 service config doc update
  doc/service_config.md
Labels: area/api/BREAKAGE, release notes: no

#22226 xds interop client: use async api and initialize an int
  test/cpp/interop/xds_interop_client.cc
Labels: lang/c++, release notes: no

#22149 Remove third_party/upb/BUILD
  third_party/upb/BUILD
  tools/codegen/core/gen_upb_api.sh
Labels: area/build, release notes: no

#22228 Making ClingTidy changes
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22237 Bump to 1.28.0-pre3
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#22171 [ImproveTLS] fix memory leak issue from users' perspective
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/common/tls_credentials_options.cc
  src/cpp/common/tls_credentials_options_util.cc
  test/core/end2end/fixtures/h2_tls.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/tls_security_connector_test.cc
  test/cpp/client/credentials_test.cc
Labels: area/core, area/security, lang/c++, release notes: no

#22229 Fix failover tests to use the correct failover timeout value
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22235 Create a macro to allow custom dualstack socket
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/dualstack_socket_posix.cc
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#22032 [Aio] Implement server interceptor for unary unary call
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio/grpc/experimental/aio/_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/client_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#22233 Add Health Check and Proto Reflection to basic C++ example server.
  examples/BUILD
  examples/cpp/helloworld/CMakeLists.txt
  examples/cpp/helloworld/greeter_server.cc
Labels: lang/c++, release notes: no

#22255 [Aio] Resolve AttributeError from bpo-39764
  src/python/grpcio/grpc/experimental/aio/_channel.py
Labels: kind/bug, lang/Python, release notes: no

#22245 Re-add xds interop client and server build rules
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: lang/other, release notes: no

#22253 Repo manager to karthikravis
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22234 [Aio] Optimize some details of AsyncIO IO manager
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/resolver.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/timer.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/timer.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio/grpc/experimental/aio/_server.py
Labels: kind/internal cleanup, lang/Python, release notes: no

#22218 Generate simple stubs code
  src/compiler/python_generator.cc
  src/compiler/python_private_generator.h
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests_py3_only/unit/_simple_stubs_test.py
Labels: area/api, kind/experimental api, lang/Python, release notes: yes

#22239 Properly set context on async call
  test/cpp/interop/xds_interop_client.cc
Labels: lang/c++, release notes: no

#22193 Remaining xds tests
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22289 Clean up xds_end2end_test code
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22290 [Aio] Fix the test_time_remaining test
  src/python/grpcio_tests/tests_aio/unit/call_test.py
Labels: kind/enhancement, lang/Python, release notes: no

#22297 support arbitrary IPs in forwarding rule creation
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#15502 Clean way to enable C and C++ standards in cmake
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#22299 Increase logging in xds test suite
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22274 PHP: Fix include path for boringssl in windows build
  config.w32
  templates/config.w32.template
Labels: lang/php, release notes: no

#22247 Revert "Revert "Revert "Fold opencensus into grpc_impl namespace"""
  BUILD
  include/grpcpp/opencensus.h
  include/grpcpp/opencensus_impl.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/views.cc
Labels: lang/c++, release notes: no

#22310 Backport Simple Stubs Codegen to 1.28
  src/compiler/python_generator.cc
  src/compiler/python_private_generator.h
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests_py3_only/unit/_simple_stubs_test.py
Labels: kind/experimental api, lang/Python, release notes: yes

#22315 Increase timeouts for some GCP api operations
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22309 Improve xds logging.
  doc/environment_variables.md
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
Labels: release notes: no

#22291 Add v1.28.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#22317 bazel tests marked as flaky should not run under run_tests.py
  Makefile
  build_autogenerated.yaml
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#22293 xds: don't NACK empty updates, remove deleted resources from cache, and other fixes
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22298 Fix flake in LocalityMapTest.UpdateMap test
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22305 Add close notify TSI result.
  src/core/tsi/transport_security_interface.h
Labels: area/security, lang/core, release notes: no

#22326 Add machine_type param and fix default types
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22324 fix GRPC_TRACE for test client
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: lang/other, release notes: no

#22330 If an EDS update replaces all localities in a priority, go into CONNECTING
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22327 Fix testTimeout flake
  src/objective-c/tests/UnitTests/APIv2Tests.m
Labels: lang/ObjC, release notes: no

#22312 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: release notes: no

#22337 Backport xDS Bug Fixes and Test Improvements
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/lib/gprpp/sync.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#22342 Backport #22330 to 1.28 (If an EDS update replaces all localities in a priority, go into CONNECTING)
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: kind/bug, lang/core, release notes: no

#22350 Backport xds test fixes
  test/cpp/interop/xds_interop_client.cc
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22348 Add missing grpc_slice_unref to bm_metadata
  test/cpp/microbenchmarks/bm_metadata.cc
Labels: release notes: no

#22319 Add missing "_test" suffix for some bazel tests
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  test/core/fling/BUILD
  test/core/handshake/BUILD
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/run_tests/generated/tests.json
Labels: release notes: no

#22359 Fix bug in upload_rbe_results.py (which sometimes skips some test cases when uploading to BQ)
  tools/run_tests/python_utils/upload_rbe_results.py
Labels: release notes: no

#22360 bm_arena needs more time
  test/cpp/microbenchmarks/BUILD
Labels: release notes: no

#22355 bm_metadata is not flaky anymore
  Makefile
  build_autogenerated.yaml
  test/cpp/microbenchmarks/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#22188 Retry testConcurrentRPCsWithErrors
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, release notes: no

#22362 Set TRAFFICDIRECTOR_NETWORK_NAME in bootstrap
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22311 [Aio] One completion queue & many-thread many-loop
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/resolver.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/resolver.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/timer.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/timer.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_server.py
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests_aio/benchmark/server.py
  src/python/grpcio_tests/tests_aio/benchmark/worker.py
  src/python/grpcio_tests/tests_aio/interop/client.py
  src/python/grpcio_tests/tests_aio/interop/server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/_test_base.py
  src/python/grpcio_tests/tests_aio/unit/compatibility_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#22364 Passing repo manager responsibility to donnadionne
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: lang/other, release notes: no

#22368 Increase timeout for GCP API operations
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22369 [Health Checking] Make the empty service default to SERVING state
  src/python/grpcio_health_checking/grpc_health/v1/_async.py
  src/python/grpcio_health_checking/grpc_health/v1/health.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests_aio/health_check/health_servicer_test.py
Labels: lang/Python, priority/P2, release notes: yes

#22380 Append to CMAKE_MODULE_PATH instead of replacing it
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#22357 Mark "resouce_quota_server" as flaky with certain fixtures
  test/core/end2end/generate_tests.bzl
Labels: lang/c++, release notes: no

#22379 Mark more tests as flaky
  Makefile
  build_autogenerated.yaml
  test/core/surface/BUILD
  test/cpp/end2end/BUILD
  test/cpp/microbenchmarks/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#22356 Mark client_lb_end2end_test as flaky
  Makefile
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#22332 Treat SNI mismatch as noack
  src/core/tsi/ssl_transport_security.cc
Labels: area/core, area/security, release notes: no

#22165 Integrate existing gRPC Python stack benchmarks with Bazel
  src/python/grpcio_tests/tests/qps/BUILD.bazel
  src/python/grpcio_tests/tests/qps/benchmark_client.py
  src/python/grpcio_tests/tests/qps/benchmark_server.py
  src/python/grpcio_tests/tests_aio/benchmark/worker.py
  tools/run_tests/performance/build_performance.sh
  tools/run_tests/performance/run_worker_python.sh
Labels: area/infra, area/performance/benchmarking, kind/enhancement, lang/Python, release notes: no

#22373 Stop Leak of one thread per call in case of reference cycle
  src/python/grpcio/grpc/_auth.py
Labels: kind/bug, lang/Python, release notes: no

#22363 Blacklist a port that cannot be bound on WinRBE
  test/core/util/port_isolated_runtime_environment.cc
Labels: lang/c++, release notes: no

#22385 Revert "Merge pull request #22373 from gnossen/creds_threads_and_breads"
  src/python/grpcio/grpc/_auth.py
Labels: kind/bug, lang/Python, release notes: no

#22374 Merge pull request #22368 from ericgribkoff/increase_timeout_again
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22259 [Aio] Use socket to synchronize between Cpp and Python
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Labels: kind/enhancement, lang/Python, release notes: no

#22256 Re-initialize submodules after checking out a tag in interop matrix builder
  tools/interop_matrix/create_matrix_images.py
Labels: lang/all wrapped languages, release notes: no

#22388 xds: fix duplicate LDS update detection
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
Labels: release notes: no

#22371 Gracefully switch xds policy instances when cluster name changes.
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22333 Disable disappearing_server for Windows
  test/core/end2end/tests/disappearing_server.cc
Labels: release notes: no

#22400 Building C++ example with grpc++ instead of grpc++_unsecure
  examples/cpp/helloworld/CMakeLists.txt
Labels: release notes: no

#22402 Adding an error to properly report credential missing CreateXdsChannel.
  src/core/ext/filters/client_channel/xds/xds_channel.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: no

#22393 Mark channelz_test as flaky
  Makefile
  build_autogenerated.yaml
  test/core/channel/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#22397 Remove run_tests.py based sanitizers from run_tests_matrix.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/c++, release notes: no

#22104 Implement Python xDS interop client.
  bazel/cython_library.bzl
  src/python/grpcio/grpc/_cython/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_python.cfg
Labels: area/test, lang/Python, release notes: no

#22405 Annotate channel context manager methods to make pytype happy
  src/python/grpcio/grpc/__init__.py
Labels: lang/Python, release notes: yes

#22407 Use wait_for_ready for xds calls.
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22370 [ImproveTLS] add a wrapper to error_detail in C core args
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/common/tls_credentials_options.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/core, release notes: no

#22349 C++ README: fix link to tutorial
  src/cpp/README.md
Labels: release notes: no

#22401 Backport #22388 and #22371 to 1.28
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: kind/bug, lang/c++, priority/P0/RELEASE BLOCKER, release notes: no

#22404 Backport #22233, #22400, and #22402 to 1.28
  examples/BUILD
  examples/cpp/helloworld/CMakeLists.txt
  examples/cpp/helloworld/greeter_server.cc
  src/core/ext/filters/client_channel/xds/xds_channel.cc
Labels: kind/bug, lang/c++, priority/P0/RELEASE BLOCKER, release notes: no

#22414 Correct python run script path
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_python.cfg
Labels: area/test, lang/Python, release notes: no

#22413 Backport #22104 to 1.28
  bazel/cython_library.bzl
  src/python/grpcio/grpc/_cython/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_python.cfg
Labels: area/test, lang/Python, release notes: no

#22406 Add a test on bad SNI and ensure handshake succeeds
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/core, release notes: no

#22415 Bump to 1.28.0.
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#22366 Merge pull request #22362 from ericgribkoff/set_bootstrap_network
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22416 PHP: Add allow fork flag to config.m4
  src/php/ext/grpc/config.m4
Labels: lang/php, release notes: no

#22386 Add useful comments
  include/grpcpp/impl/codegen/client_callback_impl.h
Labels: release notes: no

#22421 set zone in bootstrap file
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22343 [Aio] Extend unit tests for async credentials calls
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio_tests/tests_aio/interop/BUILD.bazel
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/_test_base.py
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
  src/python/grpcio_tests/tests_aio/unit/secure_call_test.py
Labels: lang/Python, priority/P2, release notes: no

#22424 Merge pull request #22421 from ericgribkoff/set_zone
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22425 Debugging xds_end2endtest LocalityMap UpdateMap by sending more traffic
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22426 Increase Python xDS client log verbosity
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: area/test, lang/Python, release notes: no

#22410 Add 1.27.3 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: lang/all wrapped languages, release notes: no

#22420 Port server must be used for mac bazel tests
  tools/remote_build/mac.bazelrc
Labels: lang/c++, priority/P1, release notes: no

#22432 xds: Fix dumb reversed conditional in log message
  src/core/ext/filters/client_channel/xds/xds_client.cc
Labels: release notes: no

#22427 Increase wait for VMs to come online
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22390 Update test credentials to use 2048-bit RSA keys
  src/core/tsi/test_creds/README
  src/core/tsi/test_creds/badclient.key
  src/core/tsi/test_creds/badclient.pem
  src/core/tsi/test_creds/badserver.key
  src/core/tsi/test_creds/badserver.pem
  src/core/tsi/test_creds/ca.key
  src/core/tsi/test_creds/ca.pem
  src/core/tsi/test_creds/client.key
  src/core/tsi/test_creds/client.pem
  src/core/tsi/test_creds/server0.key
  src/core/tsi/test_creds/server0.pem
  src/core/tsi/test_creds/server1.key
  src/core/tsi/test_creds/server1.pem
  src/csharp/Grpc.IntegrationTesting/data/ca.pem
  src/csharp/Grpc.IntegrationTesting/data/server1.key
  src/csharp/Grpc.IntegrationTesting/data/server1.pem
  src/objective-c/tests/TestCertificates.bundle/test-certificates.pem
  src/php/tests/data/ca.pem
  src/php/tests/data/server1.key
  src/php/tests/data/server1.pem
  src/python/grpcio_tests/tests/interop/credentials/ca.pem
  src/python/grpcio_tests/tests/interop/credentials/server1.key
  src/python/grpcio_tests/tests/interop/credentials/server1.pem
  src/python/grpcio_tests/tests/unit/credentials/ca.pem
  src/python/grpcio_tests/tests/unit/credentials/server1.key
  src/python/grpcio_tests/tests/unit/credentials/server1.pem
  src/ruby/spec/testdata/ca.pem
  src/ruby/spec/testdata/client.key
  src/ruby/spec/testdata/client.pem
  src/ruby/spec/testdata/server1.key
  src/ruby/spec/testdata/server1.pem
  test/core/end2end/data/client_certs.cc
  test/core/end2end/data/server1_cert.cc
  test/core/end2end/data/server1_key.cc
  test/core/end2end/data/test_root_cert.cc
Labels: area/security, release notes: no

#20358 Update CFStream documentation
  src/objective-c/README-CFSTREAM.md
Labels: release notes: no

#22435 Backport #22432 and #22407 to 1.28
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: kind/bug, lang/all wrapped languages, release notes: no

#22437 xds: Send RDS request when retrying ADS call.
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22450 Add grpc-kotlin
  README.md
Labels: release notes: no

#22449 Get rid of the long deprecated --incompatible_windows_native_test_wrapper flag
  tools/remote_build/windows.bazelrc
Labels: lang/c++, release notes: no

#22452 [Aio] Fix call_test: Assert with public API instead of private API
  src/python/grpcio_tests/tests_aio/unit/call_test.py
Labels: kind/bug, lang/Python, priority/P2, release notes: no

#22453 [Aio] Change the default IO engine to POLLER
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
Labels: lang/Python, release notes: yes

#22446 Passing C repo manager to Mark Roth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22457 Debugging xds_end2endtest DropTest Update by sending more initial traffic
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22456 Add NULL-termination to hardcoded test creds string
  test/core/end2end/data/client_certs.cc
  test/core/end2end/data/server1_cert.cc
  test/core/end2end/data/server1_key.cc
  test/core/end2end/data/test_root_cert.cc
Labels: release notes: no

#22451 Add Kotlin
  tools/package_hosting/home.xsl
Labels: release notes: no

#22455 Backport #22437 to 1.28 (xds: Send RDS request when retrying ADS call)
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/all wrapped languages, release notes: no

#22459 Register CQ at the right place
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#22461 fix encoding issue with python 3
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22443 SSL peer match name case-insensitive
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security, release notes: no

#22329 FIxing the settings_timeout_test flake by reducing poll deadline value
  test/core/transport/chttp2/settings_timeout_test.cc
Labels: release notes: no

#22471 Correct the docstring and implementation of AuthMetadataPlugin
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_auth.py
Labels: kind/bug, lang/Python, priority/P2, release notes: yes

#22475 Fix my username in repo manager assignments
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22460 Add Python Example Server with Reflection and Health Checking Enabled
  examples/python/xds/README.md
  examples/python/xds/helloworld_pb2.py
  examples/python/xds/helloworld_pb2_grpc.py
  examples/python/xds/requirements.txt
  examples/python/xds/server.py
Labels: area/documentation, lang/Python, release notes: yes

#22232 update service config parsing as per recent spec change
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/service_config.h
  src/core/lib/slice/slice_internal.h
  test/core/client_channel/service_config_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
Labels: release notes: no

#22468 xds: NACK EDS update with sparse priorities
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22306 [Aio] Initial modelling of the metadata abstraction
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_metadata.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_metadata_test.py
Labels: lang/Python, priority/P2, release notes: yes

#22480 Make check_call_host not segfault when overridden_target_name_ is null
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
Labels: area/security, kind/bug, lang/core, release notes: no

#22441 Make check_call_host not segfault when overridden_target_name_ is null.
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
Labels: area/security, kind/bug, lang/core, release notes: no

#22482 [Aio] Eliminate info level logs
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
Labels: lang/Python, release notes: no

#22487 Fix typo
  include/grpcpp/impl/codegen/sync_stream_impl.h
Labels: release notes: no

#22484 [Aio] Eliminate suspicious exceptions in tests
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_tests/tests_aio/interop/local_interop_test.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/client_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/close_channel_test.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
  src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py
Labels: lang/Python, release notes: no

#22490 Backport #22468 to 1.28
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/core, release notes: no

#22483 Remove all std::mem_fn and std::bind from service definitions and setup
  include/grpcpp/impl/codegen/method_handler_impl.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no

#22493 xds: Add tests showing that we do not use localities with no endpoints.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22434 minor update to fix msbuild condition to correct syntax
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: no

#22440 Merge pull request #22427 from ericgribkoff/increase_default_wait
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22500 minor cleanups in xds_end2end_test
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22486 Fix nonblocking_test by properly setting thread-local variable for test
  test/cpp/end2end/nonblocking_test.cc
Labels: release notes: no

#22501 Reduce resource requirements for some test runs
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22470 log exception and init client_process
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22499 fix ssl_transport_security_test timeout on x86 portability suite
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core, release notes: no

#22504 Backport xds test runner improvements (v1.28.x)
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#22477 Pass repo manager duty to nicolasnoble.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22502 xds: don't report TRANSIENT_FAILURE when we're told to drop all
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22507 speedup ssl_transport_security_test also on Mac
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core, release notes: no

#22518 Use a more compressable client message in compression example
  examples/cpp/compression/greeter_client.cc
Labels: lang/c++, release notes: no
