Repository grpc/grpc, pull requests merged in 2020-10, with the labels that each got.

#24299 Don't try to use global xds channel args after they've been destroyed.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23922 PHP: stop testing against PHP5
  src/php/README.md
  src/php/bin/build_all_docker_images.sh
  src/php/bin/run_all_docker_images.sh
  src/php/docker/README.md
  src/php/docker/php5/Dockerfile
  templates/src/php/docker/php5/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_php/Dockerfile.template
  templates/tools/dockerfile/php_deps.include
  templates/tools/dockerfile/test/php_jessie_x64/Dockerfile.template
  tools/dockerfile/grpc_artifact_centos6_x64/Dockerfile
  tools/dockerfile/grpc_artifact_centos6_x86/Dockerfile
  tools/dockerfile/grpc_artifact_linux_x64/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_php/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_php/build_interop.sh
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/internal_ci/linux/pull_request/grpc_basictests_php.cfg
  tools/interop_matrix/client_matrix.py
  tools/run_tests/run_interop_tests.py
Labels: lang/php, release notes: no

#24293 Fixing ListenerRemoved test.
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: release notes: no

#24285 Update Cds response parsing for tls
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
Labels: release notes: no

#24085 PHP: replace php/php-dev to php7.2/php7.2-dev and delete php5 tests
  tools/dockerfile/distribtest/php_jessie_x64/Dockerfile
  tools/gce/linux_kokoro_performance_worker_init.sh
  tools/internal_ci/linux/grpc_basictests_php.cfg
  tools/internal_ci/macos/grpc_basictests_php.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_php.cfg
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/php, release notes: no

#24274 setup.py: use CXX to get compiler for libatomic check
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: kind/enhancement, lang/Python, release notes: no

#24280 Skip eventmanager_libuv_test under TSAN
  test/core/iomgr/poller/BUILD
  test/core/iomgr/poller/eventmanager_libuv_test.cc
Labels: kind/bug, lang/core, release notes: no

#24287 Move EDS drop handling to a new eds_drop LB policy.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds_drop.cc
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/service_config_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24289 Allow asyncio API to be imported as grpc.aio
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/init_test.py
Labels: lang/Python, release notes: yes

#24286 [Aio] Remove the experimental prefix for asyncio API in Sphinx rST
  doc/python/sphinx/grpc_asyncio.rst
Labels: area/documentation, lang/Python, release notes: no

#24311 PHP: replace jessie to stretch
  tools/dockerfile/distribtest/php7_stretch_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/php, release notes: no

#24291 Move locality load reporting to EDS policy.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/lrs.cc
  src/core/ext/filters/client_channel/subchannel_interface.h
  src/core/ext/xds/xds_client_stats.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24268 To karthikravis
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#23391 Fix incremental build of csproj projects depending on grpc.
  src/csharp/Grpc.Core/build/MonoAndroid10/Grpc.Core.targets
  src/csharp/Grpc.Core/build/net45/Grpc.Core.targets
Labels: lang/C#, release notes: yes

#23252 Fix a message indicating the protobuf version CMakeLists.txt
  examples/cpp/helloworld/CMakeLists.txt
Labels: area/build, lang/c++, release notes: no

#24217 Add trimming attribute to BindServiceMethodAttribute
  src/csharp/Grpc.Core.Api/BindServiceMethodAttribute.cs
  src/csharp/Grpc.Core.Api/Internal/CodeAnalysisAttributes.cs
Labels: lang/C#, release notes: yes

#24288 Adds python aio helloworld examples
  examples/python/helloworld/async_greeter_client.py
  examples/python/helloworld/async_greeter_server.py
Labels: lang/Python, release notes: no

#24312 gRPC Core API to create Xds channel credentials
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  package.xml
  src/core/lib/security/credentials/xds/xds_credentials.cc
  src/core/lib/security/credentials/xds/xds_credentials.h
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24337 Revert "Allow asyncio API to be imported as grpc.aio"
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/init_test.py
Labels: lang/Python, release notes: no

#24335 Call needs to hold a ref to the service config containing the method configs.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
Labels: release notes: no

#24338 Move remaining classes to grpc from grpc_impl
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/alarm.h
  include/grpcpp/alarm_impl.h
  include/grpcpp/create_channel_posix_impl.h
  include/grpcpp/ext/proto_server_reflection_plugin.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/server_builder_option.h
  include/grpcpp/impl/server_builder_option_impl.h
  include/grpcpp/impl/server_builder_plugin.h
  include/grpcpp/impl/server_initializer.h
  include/grpcpp/impl/server_initializer_impl.h
  include/grpcpp/resource_quota_impl.h
  include/grpcpp/security/cronet_credentials.h
  include/grpcpp/security/cronet_credentials_impl.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  src/cpp/common/alarm.cc
  src/cpp/server/load_reporter/load_reporting_service_server_builder_plugin.h
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: kokoro:force-run, lang/c++, release notes: no

#24343 Stop generating separate codepath for 1-phase deprecated async code
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: no

#24345 Fix ssl init condition in ssl_transport_security
  src/core/tsi/ssl_transport_security.cc
Labels: release notes: no

#24334 Add c++ 1.32.0 to interop matrix
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/testcases/cxx__master
  tools/interop_matrix/testcases/cxx__v1.31.1
Labels: release notes: no

#24346 Change parameter name to be the same as .cc file
  include/grpc/grpc_security.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
Labels: lang/core, release notes: no

#24340 Remove C++ default generation of preserialized request call
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: lang/c++, release notes: no

#24342 Modify podfile of CFStreamTests.
  test/core/iomgr/ios/CFStreamTests/Podfile
Labels: lang/ObjC, release notes: no

#24357 v1.34.x master bump
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24358 V1.33.x branch version
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24341 Revert "Revert "Allow asyncio API to be imported as grpc.aio""
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/init_test.py
Labels: lang/Python, release notes: no

#24282 Bump iOS and OSX version
  CMakeLists.txt
  examples/objective-c/BUILD
  examples/objective-c/auth_sample/AuthTestService.podspec
  examples/objective-c/helloworld/HelloWorld.podspec
  examples/objective-c/helloworld/Podfile
  examples/objective-c/helloworld_macos/HelloWorld.podspec
  examples/objective-c/helloworld_macos/Podfile
  examples/objective-c/route_guide/Podfile
  examples/objective-c/route_guide/RouteGuide.podspec
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpc/impl/codegen/port_platform.h
  src/cpp/Protobuf-C++.podspec
  src/csharp/experimental/build_native_ext_for_ios.sh
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/!ProtoCompiler.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/CronetFramework.podspec
  src/objective-c/README.md
  src/objective-c/examples/BUILD
  src/objective-c/examples/InterceptorSample/Podfile
  src/objective-c/examples/RemoteTestClient/RemoteTest.podspec
  src/objective-c/examples/Sample/Podfile
  src/objective-c/examples/SwiftSample/Podfile
  src/objective-c/examples/watchOS-sample/Podfile
  src/objective-c/manual_tests/Podfile
  src/objective-c/tests/BUILD
  src/objective-c/tests/Connectivity/Podfile
  src/objective-c/tests/Podfile
  src/objective-c/tests/RemoteTestClient/RemoteTest.podspec
  templates/CMakeLists.txt.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  templates/gRPC-ProtoRPC.podspec.template
  templates/gRPC-RxLibrary.podspec.template
  templates/gRPC.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec.template
  templates/src/objective-c/!ProtoCompiler-gRPCPlugin.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
  test/core/iomgr/ios/CFStreamTests/Podfile
  test/cpp/cocoapods/Podfile
  test/cpp/ios/Podfile
  test/cpp/ios/RemoteTestClientCpp/RemoteTestCpp.podspec
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/build, lang/ObjC, platform/iOS, release notes: yes

#24283 Removing TLS workaround for Android NDK r12b
  include/grpc/impl/codegen/port_platform.h
Labels: area/build, lang/core, platform/Android, release notes: yes

#24234 PHP: add special status msg interop test
  src/php/tests/interop/interop_client.php
  tools/run_tests/run_interop_tests.py
Labels: lang/php, release notes: no

#24213 Delete slice_traits.h
  src/core/lib/slice/slice_traits.h
Labels: kind/internal cleanup, release notes: no

#24364 Replace grpc_shutdown_blocking with grpc_shutdown
  include/grpc/grpc.h
  src/php/ext/grpc/php_grpc.c
  test/core/bad_ssl/bad_ssl_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/compression/message_compress_fuzzer.cc
  test/core/compression/message_decompress_fuzzer.cc
  test/core/compression/stream_compression_fuzzer.cc
  test/core/compression/stream_decompression_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/security/ssl_server_fuzzer.cc
  test/core/slice/b64_decode_fuzzer.cc
  test/core/slice/percent_decode_fuzzer.cc
  test/core/slice/percent_encode_fuzzer.cc
  test/core/util/fuzzer_corpus_test.cc
  test/core/util/port.cc
  test/cpp/common/time_jump_test.cc
  test/cpp/common/timer_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/naming/address_sorting_test.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24326 Remove uses of PIPE in Fork Interop Tests
  src/python/grpcio_tests/tests/fork/_fork_interop_test.py
  src/python/grpcio_tests/tests/fork/methods.py
Labels: area/test, lang/Python, release notes: no

#24253 Add transport information into grpc-objc user-agent.
  src/objective-c/GRPCClient/private/GRPCCore/GRPCChannel.m
  src/objective-c/tests/UnitTests/APIv2Tests.m
  src/objective-c/tests/UnitTests/GRPCClientTests.m
Labels: lang/ObjC, release notes: yes

#24373 Rebuild manylinux images to include python 3.9
  tools/dockerfile/grpc_artifact_centos6_x64/Dockerfile
  tools/dockerfile/grpc_artifact_centos6_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
Labels: area/build, lang/Python, release notes: no

#24377 Clean up DEPLOYMENT_TARGET
  examples/cpp/helloworld/cocoapods/HelloWorldCpp.xcodeproj/project.pbxproj
  examples/objective-c/auth_sample/AuthSample.xcodeproj/project.pbxproj
  examples/objective-c/helloworld/HelloWorld.xcodeproj/project.pbxproj
  examples/objective-c/helloworld_macos/HelloWorld.xcodeproj/project.pbxproj
  examples/objective-c/route_guide/RouteGuideClient.xcodeproj/project.pbxproj
  src/objective-c/examples/InterceptorSample/InterceptorSample.xcodeproj/project.pbxproj
  src/objective-c/examples/Sample/Sample.xcodeproj/project.pbxproj
  src/objective-c/examples/SwiftSample/SwiftSample.xcodeproj/project.pbxproj
  src/objective-c/examples/tvOS-sample/tvOS-sample.xcodeproj/project.pbxproj
  src/objective-c/examples/watchOS-sample/watchOS-sample.xcodeproj/project.pbxproj
  src/objective-c/manual_tests/GrpcIosTest.xcodeproj/project.pbxproj
  src/objective-c/tests/Connectivity/ConnectivityTestingApp.xcodeproj/project.pbxproj
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/project.pbxproj
  test/cpp/cocoapods/GRPCCppTests.xcodeproj/project.pbxproj
  test/cpp/ios/Tests.xcodeproj/project.pbxproj
Labels: area/build, kind/internal cleanup, platform/iOS, release notes: no

#24372 Upgrade six 1.15
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/cxx_alpine_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/interoptest/lb_interop_fake_servers/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_alpine_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php73_zts_stretch_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/python_alpine_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: area/build, kind/internal cleanup, release notes: no

#24247 Replacing all TLS variants with the C++11 thread_local
  BUILD
  BUILD.gn
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/impl/codegen/port_platform.h
  package.xml
  src/core/lib/gpr/tls.h
  src/core/lib/gpr/tls_stdcpp.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: kind/internal cleanup, lang/core, release notes: no

#24350 Add --server_port flag to python benchmark worker
  src/python/grpcio_tests/tests/qps/qps_worker.py
  src/python/grpcio_tests/tests/qps/worker_server.py
Labels: lang/Python, release notes: no

#24355 Move channel plugin from grpc_impl to grpc
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  include/grpcpp/ext/channelz_service_plugin.h
  include/grpcpp/ext/channelz_service_plugin_impl.h
  src/cpp/server/channelz/channelz_service_plugin.cc
Labels: lang/c++, release notes: no

#24313 C++ API to create Xds channel credentials
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials.h
  package.xml
  src/core/lib/security/credentials/insecure/insecure_credentials.cc
  src/core/lib/security/security_connector/insecure/insecure_security_connector.cc
  src/core/lib/security/security_connector/insecure/insecure_security_connector.h
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/local_transport_security.h
  src/cpp/client/insecure_credentials.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/client/secure_credentials.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/insecure_security_connector_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_credentials_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#24214 Change grpclb to wrap the subchannels instead of attaching the attributes to them.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: release notes: no

#24376 Allow --qps_server_target_override to configure clients even if the driver isn't configuring any servers
  test/cpp/qps/driver.cc
Labels: lang/c++, release notes: no

#24381 xds: Add support for case_sensitive option in RouteMatch.
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24386 Disable C++ TLS on iOS temporarily
  include/grpc/impl/codegen/port_platform.h
Labels: area/build, platform/iOS, release notes: no

#24370 RBE: rely on labels to select the right worker pool (instead of hardcoding GCE machine types)
  WORKSPACE
  third_party/toolchains/BUILD
Labels: lang/c++, release notes: no

#24356 [Linux] [macOS] Support pre-compiled Python 3.9 wheels
  setup.py
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/setup.py
  tools/internal_ci/helper_scripts/install_python_interpreters.ps1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: area/build, lang/Python, platform/Linux, platform/macOS, release notes: yes

#24387 Pass repo manager to Donna
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24353 PHP: deprecate PHP 5 support from PECL extension
  src/php/ext/grpc/byte_buffer.c
  src/php/ext/grpc/byte_buffer.h
  src/php/ext/grpc/call.c
  src/php/ext/grpc/call_credentials.c
  src/php/ext/grpc/channel.c
  src/php/ext/grpc/php7_wrapper.h
Labels: lang/php, release notes: yes

#24365 Sanitize cronet_status.cc - missing new line
  src/core/ext/transport/cronet/transport/cronet_status.cc
Labels: release notes: no

#24395 Use a single instance of the drop and locality stats objects.
  src/core/ext/filters/client_channel/lb_policy/xds/eds_drop.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_stats.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24400 Update transport socket name to envoy.transport_sockets.tls
  src/core/ext/xds/xds_api.cc
Labels: release notes: no

#24398 [Backport] Revert "Revert "Allow asyncio API to be imported as grpc.aio""
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/init_test.py
Labels: lang/Python, priority/P0/RELEASE BLOCKER, release notes: no

#24208 [3PI Support] Add base external account credentials class
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.h
  src/core/lib/security/util/json_util.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/credentials_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: area/security, release notes: no

#24399 [Backport] Python 3.9 binary wheels for Linux and macOS
  setup.py
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/setup.py
  tools/internal_ci/helper_scripts/install_python_interpreters.ps1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, priority/P0/RELEASE BLOCKER, release notes: no

#24215 Don't keep address attributes on the resulting subchannels.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/server_address.h
  src/core/ext/filters/client_channel/subchannel_interface.h
Labels: release notes: no

#24397 Update grpc-java to 1.32.2 in the interop_matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24396 Protect circuit breaking functionality with an environment variable
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#24371 Fix undefined behavior when Python plugin is given no args
  src/compiler/python_generator_helpers.h
Labels: area/protoc plugins, kind/bug, lang/Python, release notes: no

#24406 V1.33.x rc2
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#24402 Backport #24370 to v1.33.x
  WORKSPACE
  third_party/toolchains/BUILD
Labels: lang/c++, release notes: no

#24382 Improve ref-count tracing.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel_interface.h
  src/core/ext/filters/client_channel/subchannel_pool_interface.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client_stats.cc
  src/core/lib/gprpp/dual_ref_counted.h
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/security/context/security_context.h
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/transport/transport.cc
  test/core/gprpp/dual_ref_counted_test.cc
  test/core/gprpp/orphanable_test.cc
  test/core/gprpp/ref_counted_ptr_test.cc
  test/core/gprpp/ref_counted_test.cc
Labels: release notes: no

#24394 Increasing the number of available threads for iOS
  src/core/lib/gpr/cpu_iphone.cc
Labels: lang/core, platform/iOS, release notes: no

#24415 Change service_config_test to use gmock ContainsRegex() matcher.
  test/core/client_channel/service_config_test.cc
Labels: release notes: no

#24414 Remove unnecessary dependencies for xds_cluster_manager LB policy.
  BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
Labels: release notes: no

#24416 Fix the grpc.aio import hack and its unit test
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
Labels: lang/Python, release notes: no

#24417 Build Python 3.9 artifacts for Linux x64 platforms
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, release notes: no

#24418 Protecting the circuit breaking (drop action) using environment
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#24193 Improve clang tidy to use compilation DB
  .clang_complete
  .gitignore
  bazel/grpc_deps.bzl
  templates/tools/dockerfile/grpc_clang_tidy/Dockerfile.template
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/message_allocator_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/interop/http2_client.cc
  test/cpp/qps/BUILD
  test/cpp/qps/histogram.h
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool.h
  tools/bazel.rc
  tools/distrib/clang_tidy_code.sh
  tools/distrib/gen_compilation_database.py
  tools/distrib/run_clang_tidy.py
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/grpc_clang_tidy/clang_tidy_all_the_things.sh
  tools/dockerfile/test/sanity/Dockerfile
  tools/run_tests/sanity/check_bazel_workspace.py
  tools/run_tests/sanity/sanity_tests.yaml
Labels: area/build, kind/enhancement, release notes: no

#24430 [Backport] 3.9 support on Linux x64 and fix grpc.aio import issue
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, priority/P0/RELEASE BLOCKER, release notes: no

#23533 Second attempt: Use upb textformat library to dump out raw xDS proto messages
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/objective-c/tests/Podfile
  src/python/grpcio/grpc_core_dependencies.py
  src/upb/gen_build_yaml.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24419 Move circuit breaking, EDS drops, and load reporting to xds_cluster_impl policy.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#24433 Upgrading clang-tidy to 8
  .clang-tidy
  templates/tools/dockerfile/grpc_clang_tidy/Dockerfile.template
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: area/build, kind/enhancement, release notes: no

#24407 Make Python 2 an optional dependency for Bazel build
  third_party/py/python_configure.bzl
Labels: infra/Bazel, kind/enhancement, lang/Python, priority/P0/RELEASE BLOCKER, release notes: yes

#24446 [Clang-Tidy] Enable two bugprone-*
  .clang-tidy
Labels: area/build, kind/internal cleanup, release notes: no

#24445 [Clang-Tidy] Enable modernize-use-bool-literals
  .clang-tidy
  src/core/ext/filters/client_channel/resolver_registry.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/timer_custom.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/completion_queue.cc
  src/core/tsi/ssl_transport_security.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/end2end/fixtures/local_util.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/parse_address_test.cc
  test/core/iomgr/parse_address_with_named_scope_id_test.cc
  test/core/security/credentials_test.cc
  test/core/uri/uri_fuzzer_test.cc
  test/core/uri/uri_parser_test.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/tracer_util.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24444 [Clang-Tidy] Enable readability-container-size-empty
  .clang-tidy
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/xds/xds_api.cc
  src/cpp/server/load_reporter/load_data_store.cc
  src/cpp/server/load_reporter/load_reporter.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/flaky_network_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/proto_server_reflection_test.cc
  test/cpp/interop/client.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/qps/benchmark_config.cc
  test/cpp/qps/driver.cc
  test/cpp/qps/qps_json_driver.cc
  test/cpp/util/create_test_channel.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24437 [Clang-Tidy] Enable abseil-*
  .clang-tidy
  test/core/end2end/dualstack_socket_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
  test/cpp/qps/client.h
Labels: area/build, kind/enhancement, release notes: no

#24443 Revert "Disable C++ TLS on iOS temporarily"
  include/grpc/impl/codegen/port_platform.h
Labels: area/build, platform/iOS, release notes: no

#24328 Setting timeout in method config.
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/http_connection_manager.proto
  src/proto/grpc/testing/xds/v3/protocol.proto
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24434 Fix ADS server resource type version logic and refactor code.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24452 [Backport] Make Python 2 an optional dependency for Bazel build
  third_party/py/python_configure.bzl
Labels: infra/Bazel, kind/enhancement, lang/Python, priority/P0/RELEASE BLOCKER, release notes: yes

#24409 xDS Bootstrap changes for certificate providers
  BUILD
  src/core/ext/xds/certificate_provider_factory.h
  src/core/ext/xds/certificate_provider_store.h
  src/core/ext/xds/google_mesh_ca_certificate_provider_factory.cc
  src/core/ext/xds/google_mesh_ca_certificate_provider_factory.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  test/core/client_channel/certificate_provider_registry_test.cc
  test/core/client_channel/xds_bootstrap_test.cc
Labels: release notes: no

#24453 [Clang-Tidy] Enable modernize-make-unique
  .clang-tidy
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.cc
  src/core/lib/surface/server.cc
  src/cpp/ext/filters/census/context.h
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
  src/cpp/server/server_cc.cc
  test/core/iomgr/work_serializer_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/channelz_service_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/client_crash_test.cc
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/filter_end2end_test.cc
  test/cpp/end2end/flaky_network_test.cc
  test/cpp/end2end/generic_end2end_test.cc
  test/cpp/end2end/interceptors_util.cc
  test/cpp/end2end/nonblocking_test.cc
  test/cpp/end2end/proto_server_reflection_test.cc
  test/cpp/end2end/server_builder_plugin_test.cc
  test/cpp/end2end/server_crash_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/time_change_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/microbenchmarks/bm_fullstack_trickle.cc
  test/cpp/naming/resolver_component_test.cc
  test/cpp/qps/client.h
  test/cpp/qps/client_async.cc
  test/cpp/qps/client_callback.cc
  test/cpp/qps/qps_server_builder.cc
  test/cpp/qps/qps_worker.cc
  test/cpp/server/load_reporter/load_reporter_test.cc
  test/cpp/util/byte_buffer_proto_helper.cc
  test/cpp/util/grpc_tool.cc
  test/cpp/util/proto_file_parser.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24459 Fix sanity on master
  src/core/ext/xds/certificate_provider_factory.h
  test/core/client_channel/xds_bootstrap_test.cc
Labels: release notes: no

#24436 Fix xDS resource type version to persist across stream restarts.
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24448 Upgrade clang-format 8
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/server_callback_handlers.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/gprpp/thd_posix.cc
  src/core/lib/iomgr/executor/threadpool.h
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/cpp/client/client_callback.cc
  src/cpp/common/alarm.cc
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/server_callback.cc
  templates/tools/dockerfile/grpc_clang_format/Dockerfile.template
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  test/cpp/microbenchmarks/bm_timer.cc
  test/cpp/util/slice_test.cc
  tools/dockerfile/grpc_clang_format/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: area/build, kind/enhancement, release notes: no

#24456 [Clang-Tidy] readability-redundant-smartptr-get
  .clang-tidy
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/cpp/server/server_cc.cc
  test/cpp/end2end/generic_end2end_test.cc
  test/cpp/util/proto_file_parser.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24472 Passing repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24352 Fix mistyping in fork-support
  src/core/lib/gprpp/fork.cc
Labels: lang/c++, release notes: no

#24455 Modernize run_codegen script
  examples/python/route_guide/run_codegen.sh
Labels: area/documentation, lang/Python, release notes: no

#24473 Extend timeout for cfstream-test.
  tools/run_tests/run_tests.py
Labels: lang/core, release notes: no

#24475 Drop the "pre" in version.
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24471 Fix the pagination bug in the upload_rbe_results script
  tools/run_tests/python_utils/upload_rbe_results.py
Labels: area/test, kind/bug, release notes: no

#24479 Bump MACOSX_DEPLOYMENT_TARGET to 10.10 for Ruby
  src/ruby/ext/grpc/extconf.rb
Labels: area/build, kind/internal cleanup, lang/ruby, release notes: yes

#24480 Bump MACOSX_DEPLOYMENT_TARGET to 10.10 for Python
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: area/build, kind/internal cleanup, lang/Python, release notes: yes

#24423 Reduce templating for unary callback client RPC without protobuf dependence
  include/grpcpp/impl/codegen/client_callback.h
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: no

#24420 Reduce sync client templating for protobuf without protobuf dependence
  include/grpcpp/impl/codegen/client_unary_call.h
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: no

#24489 [Clang-Tidy] Enable misc-definitions-in-headers
  .clang-tidy
  src/core/lib/iomgr/python_util.h
  test/cpp/microbenchmarks/callback_unary_ping_pong.h
Labels: area/core, kind/internal cleanup, release notes: no

#24484 [Clang-Tidy] Enable misc-unused-using-decls
  .clang-tidy
  src/cpp/ext/proto_server_reflection.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/cpp/end2end/async_end2end_test.cc
  test/cpp/end2end/client_crash_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/filter_end2end_test.cc
  test/cpp/end2end/generic_end2end_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/server_crash_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/streaming_throughput_test.cc
  test/cpp/end2end/test_service_impl.h
  test/cpp/end2end/thread_stress_test.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
  test/cpp/interop/interop_server.cc
  test/cpp/interop/metrics_client.cc
  test/cpp/interop/reconnect_interop_server.cc
  test/cpp/interop/stress_test.cc
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
  test/cpp/naming/resolver_component_test.cc
  test/cpp/qps/driver.cc
  test/cpp/server/load_reporter/load_reporter_test.cc
  test/cpp/util/channelz_sampler.cc
  test/cpp/util/time_test.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24449 Do not build with boringssl ASM when using system openssl
  setup.py
Labels: area/build, kind/bug, lang/Python, release notes: no

#24497 Updating grpc version.
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24363 Replace grpc_shutdown_blocking with grpc_shutdown in Cython
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/records.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
Labels: lang/Python, release notes: no

#24481 Use a global atomic for circuit breaking call counter.
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24502 Update grpc-java to 1.33.0 in the interop_matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24435 Add proto definitions for xDS circuit breaking test
  src/proto/grpc/testing/messages.proto
  src/proto/grpc/testing/test.proto
Labels: release notes: no

#24450 Allow grpcio to be built against system re2
  setup.py
Labels: area/build, kind/bug, lang/Python, release notes: no

#24408 Certificate Provider Store implementation
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/certificate_provider_store.cc
  src/core/ext/xds/certificate_provider_store.h
  src/core/lib/security/certificate_provider.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/xds/BUILD
  test/core/xds/certificate_provider_store_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#24440 Build C# nugets on linux instead of windows for simplicity
  src/csharp/build_nuget.sh
  src/csharp/build_packages_dotnetcli.bat
  src/csharp/build_unitypackage.bat
  src/csharp/build_unitypackage.sh
  src/csharp/expand_dev_version.sh
  templates/src/csharp/build_unitypackage.bat.template
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/run_tests/artifacts/package_targets.py
Labels: lang/C#, release notes: no

#24411 [3PI Support] Add url-sourced external account credentials
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/credentials/external/external_account_credentials.h
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/external/url_external_account_credentials.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/credentials_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: area/security, lang/c++, release notes: yes

#24483 [Clang-Tidy] Enable readability-redundant-control-flow
  .clang-tidy
  src/core/lib/compression/stream_compression_identity.cc
  src/core/lib/surface/call.cc
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/qps/client_callback.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24491 Also reduce templating for ClientUnaryReactor
  include/grpcpp/impl/codegen/client_callback.h
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: no

#24482 [Clang-Tidy] readability-string-compare
  .clang-tidy
  test/cpp/util/cli_credentials.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24362 Experimental support and tests for CreateCustomInsecureChannelWithInterceptorsFromFd
  include/grpcpp/create_channel_posix.h
  test/cpp/end2end/client_interceptors_end2end_test.cc
Labels: lang/c++, release notes: yes

#24503 Fix --define=grpc_no_xds=true builds
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  src/cpp/client/secure_credentials.cc
  src/cpp/client/secure_credentials.h
  src/cpp/client/xds_credentials.cc
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: yes

#24499 Add some debug logs for flaky cfstream and cronet tests.
  test/core/iomgr/ios/CFStreamTests/build_tests.sh
  test/cpp/ios/build_tests.sh
Labels: platform/iOS, release notes: no

#24517 [Clang-Tidy] Enable google-default-arguments
  .clang-tidy
  src/core/lib/iomgr/executor/mpmcqueue.h
  test/core/iomgr/mpmcqueue_test.cc
Labels: area/core, kind/internal cleanup, release notes: no

#24514 Include stddef.h in address_sorting.h
  third_party/address_sorting/include/address_sorting/address_sorting.h
Labels: lang/core, release notes: yes

#24534 Fix errors in doxygen param descriptions
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/server_builder.h
Labels: area/documentation, kind/bug, lang/core, release notes: no

#24516 xds: Set status code to INVALID_ARGUMENT when NACKing.
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24524 Adding v1.33.1 to test matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24367 use e2 instances in GCE creation scripts
  tools/gce/create_linux_kokoro_performance_worker.sh
  tools/gce/create_linux_kokoro_performance_worker_from_image.sh
  tools/gce/create_windows_debug_worker.sh
Labels: release notes: no

#24380 C#: Make Grpc.Core nuget slimmer by moving mobile support to Grpc.Core.Xamarin package
  src/csharp/Grpc.Core.Xamarin/.gitignore
  src/csharp/Grpc.Core.Xamarin/Grpc.Core.Xamarin.csproj
  src/csharp/Grpc.Core.Xamarin/Internal.cs
  src/csharp/Grpc.Core.Xamarin/build/MonoAndroid10/Grpc.Core.Xamarin.targets
  src/csharp/Grpc.Core.Xamarin/build/Xamarin.iOS10/Grpc.Core.Xamarin.targets
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.sln
  src/csharp/build_nuget.sh
  src/csharp/experimental/README.md
Labels: lang/C#, release notes: yes

#24527 Remove redundant code paths in call_op_set.h
  include/grpcpp/impl/codegen/call_op_set.h
Labels: lang/c++, release notes: no

#24519 Reformat source
  examples/csharp/HelloworldXamarin/HelloworldXamarin.Android/MainActivity.cs
  examples/csharp/HelloworldXamarin/HelloworldXamarin/AssemblyInfo.cs
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
Labels: kind/internal cleanup, lang/C#, release notes: no

#24535 Clean up WriteOptions cctor
  include/grpcpp/impl/codegen/call_op_set.h
Labels: kind/internal cleanup, lang/core, release notes: no

#24547 Make it possible to use pre-existing client processes
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#24520 Fix check_trailing_newlines bug
  tools/distrib/check_trailing_newlines.sh
  tools/distrib/sanitize.sh
Labels: area/test, kind/bug, release notes: no

#24518 Revert "Revert "Deprecate GRPC_ARG_HTTP2_MIN_SENT_PING_INTERVAL_WITHOUT_DATA_MS""
  doc/core/pending_api_cleanups.md
  doc/keepalive.md
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  test/core/end2end/tests/bad_ping.cc
  test/core/end2end/tests/ping.cc
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: yes

#24521 Check localhost is resolved to ipv4 or ipv6 and update test accordingly.
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  test/core/util/BUILD
  test/core/util/resolve_localhost_ip46.cc
  test/core/util/resolve_localhost_ip46.h
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/server_early_return_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/core, release notes: no

#24506 Abseil Flags
  .clang-tidy
  CMakeLists.txt
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  grpc.gyp
  test/core/tsi/alts/fake_handshaker/BUILD
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server_main.cc
  test/core/util/BUILD
  test/core/util/fuzzer_corpus_test.cc
  test/cpp/codegen/BUILD
  test/cpp/codegen/golden_file_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_crash_test_server.cc
  test/cpp/end2end/server_crash_test_client.cc
  test/cpp/interop/BUILD
  test/cpp/interop/client.cc
  test/cpp/interop/client_helper.cc
  test/cpp/interop/grpclb_fallback_test.cc
  test/cpp/interop/http2_client.cc
  test/cpp/interop/interop_server.cc
  test/cpp/interop/interop_test.cc
  test/cpp/interop/metrics_client.cc
  test/cpp/interop/reconnect_interop_client.cc
  test/cpp/interop/reconnect_interop_server.cc
  test/cpp/interop/server_helper.cc
  test/cpp/interop/stress_test.cc
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_fullstack_trickle.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/qps/BUILD
  test/cpp/qps/benchmark_config.cc
  test/cpp/qps/qps_benchmark_script.bzl
  test/cpp/qps/qps_json_driver.cc
  test/cpp/qps/worker.cc
  test/cpp/thread_manager/BUILD
  test/cpp/thread_manager/thread_manager_test.cc
  test/cpp/util/BUILD
  test/cpp/util/channelz_sampler.cc
  test/cpp/util/cli_credentials.cc
  test/cpp/util/create_test_channel.cc
  test/cpp/util/grpc_cli.cc
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool_test.cc
  test/cpp/util/test_config_cc.cc
  test/cpp/util/test_credentials_provider.cc
Labels: area/test, kind/internal cleanup, lang/c++, release notes: no

#24559 Revert "Abseil Flags"
  .clang-tidy
  CMakeLists.txt
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  grpc.gyp
  test/core/tsi/alts/fake_handshaker/BUILD
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server_main.cc
  test/core/util/BUILD
  test/core/util/fuzzer_corpus_test.cc
  test/cpp/codegen/BUILD
  test/cpp/codegen/golden_file_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_crash_test_server.cc
  test/cpp/end2end/server_crash_test_client.cc
  test/cpp/interop/BUILD
  test/cpp/interop/client.cc
  test/cpp/interop/client_helper.cc
  test/cpp/interop/grpclb_fallback_test.cc
  test/cpp/interop/http2_client.cc
  test/cpp/interop/interop_server.cc
  test/cpp/interop/interop_test.cc
  test/cpp/interop/metrics_client.cc
  test/cpp/interop/reconnect_interop_client.cc
  test/cpp/interop/reconnect_interop_server.cc
  test/cpp/interop/server_helper.cc
  test/cpp/interop/stress_test.cc
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_fullstack_trickle.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/qps/BUILD
  test/cpp/qps/benchmark_config.cc
  test/cpp/qps/qps_benchmark_script.bzl
  test/cpp/qps/qps_json_driver.cc
  test/cpp/qps/worker.cc
  test/cpp/thread_manager/BUILD
  test/cpp/thread_manager/thread_manager_test.cc
  test/cpp/util/BUILD
  test/cpp/util/channelz_sampler.cc
  test/cpp/util/cli_credentials.cc
  test/cpp/util/create_test_channel.cc
  test/cpp/util/grpc_cli.cc
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool_test.cc
  test/cpp/util/test_config_cc.cc
  test/cpp/util/test_credentials_provider.cc
Labels: release notes: no

#24198 proto_utils.h: suppress conversion warning
  include/grpcpp/impl/codegen/proto_utils.h
Labels: area/core, kind/internal cleanup, release notes: no

#24477 Change repo manager to nicolasnoble
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/change_repo_manager.sh
  .github/pull_request_template.md
Labels: release notes: no

#24542 Added ADDRESS_NAME arg to resolver.h.
  src/core/ext/filters/client_channel/resolver.h
Labels: release notes: no

#24227 C-core changes for TLS credentials
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials.h
  include/grpcpp/security/server_credentials.h
  include/grpcpp/security/tls_certificate_provider.h
  include/grpcpp/security/tls_credentials_options.h
  package.xml
  src/core/ext/xds/certificate_provider_factory.h
  src/core/ext/xds/certificate_provider_store.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_distributor.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_distributor.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/credentials/tls/tls_credentials.h
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  src/cpp/client/secure_credentials.cc
  src/cpp/common/tls_certificate_provider.cc
  src/cpp/common/tls_credentials_options.cc
  src/cpp/common/tls_credentials_options_util.cc
  src/cpp/common/tls_credentials_options_util.h
  src/cpp/server/secure_server_credentials.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fixtures/h2_tls.cc
  test/core/security/BUILD
  test/core/security/grpc_tls_certificate_distributor_test.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/client/credentials_test.cc
  test/cpp/server/BUILD
  test/cpp/server/credentials_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: area/security, lang/c++, lang/core, release notes: no

#24523 Implement grpc.Future interface in SingleThreadedRendezvous
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio_tests/tests/unit/_interceptor_test.py
Labels: kind/enhancement, lang/Python, release notes: no

#24485 Fix to not require libc-dev on .NET 5 or later
  src/csharp/Grpc.Auth/GoogleAuthInterceptors.cs
  src/csharp/Grpc.Core/GrpcEnvironment.cs
  src/csharp/Grpc.Core/Internal/NativeExtension.cs
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
  src/csharp/Grpc.Core/Internal/UnmanagedLibrary.cs
  src/csharp/Grpc.Core/Utils/TaskUtils.cs
Labels: lang/C#, release notes: yes

#24154 Update server_reflection.md
  doc/csharp/server_reflection.md
Labels: lang/C#, release notes: no

#24574 [Backport] Implement grpc.Future interface in SingleThreadedRendezvous
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio_tests/tests/unit/_interceptor_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#24567 C#: introduce common.props, set LangVersion to 7.2
  src/csharp/Directory.Build.props
  src/csharp/Directory.Build.targets
  src/csharp/Grpc.Auth/Grpc.Auth.csproj
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core.NativeDebug/Grpc.Core.NativeDebug.csproj
  src/csharp/Grpc.Core.Testing/Grpc.Core.Testing.csproj
  src/csharp/Grpc.Core.Tests/Grpc.Core.Tests.csproj
  src/csharp/Grpc.Core.Xamarin/Grpc.Core.Xamarin.csproj
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Examples.MathClient/Grpc.Examples.MathClient.csproj
  src/csharp/Grpc.Examples.MathServer/Grpc.Examples.MathServer.csproj
  src/csharp/Grpc.Examples.Tests/Grpc.Examples.Tests.csproj
  src/csharp/Grpc.Examples/Grpc.Examples.csproj
  src/csharp/Grpc.HealthCheck.Tests/Grpc.HealthCheck.Tests.csproj
  src/csharp/Grpc.HealthCheck/Grpc.HealthCheck.csproj
  src/csharp/Grpc.IntegrationTesting.Client/Grpc.IntegrationTesting.Client.csproj
  src/csharp/Grpc.IntegrationTesting.QpsWorker/Grpc.IntegrationTesting.QpsWorker.csproj
  src/csharp/Grpc.IntegrationTesting.Server/Grpc.IntegrationTesting.Server.csproj
  src/csharp/Grpc.IntegrationTesting.StressClient/Grpc.IntegrationTesting.StressClient.csproj
  src/csharp/Grpc.IntegrationTesting.XdsClient/Grpc.IntegrationTesting.XdsClient.csproj
  src/csharp/Grpc.IntegrationTesting/Grpc.IntegrationTesting.csproj
  src/csharp/Grpc.Microbenchmarks/Grpc.Microbenchmarks.csproj
  src/csharp/Grpc.Reflection.Tests/Grpc.Reflection.Tests.csproj
  src/csharp/Grpc.Reflection/Grpc.Reflection.csproj
  src/csharp/Grpc.Tools.Tests/Grpc.Tools.Tests.csproj
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
  src/csharp/build/common.props
Labels: lang/C#, release notes: no

#24566 C#: add distribtest for .NET 5 and dotnet core runtime 3.1 (netcoreapp3.1)
  test/distrib/csharp/DistribTest/DistribTestDotNet.csproj
  test/distrib/csharp/run_distrib_test_dotnetcli.sh
  tools/dockerfile/distribtest/csharp_alpine_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_dotnet31_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_dotnet5_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_stretch_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_ubuntu1604_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/C#, release notes: no

#24569 Only need to count total number of succeeded RPCs for accumulated stats in xDS tests
  src/proto/grpc/testing/messages.proto
Labels: release notes: no

#24575 Create a separate object for each deadline timer.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/deadline/deadline_filter.h
Labels: release notes: no

#24576 Add support for unary-stream benchmarking for Python
  src/python/grpcio_tests/tests/qps/benchmark_client.py
  src/python/grpcio_tests/tests/qps/qps_worker.py
  src/python/grpcio_tests/tests/qps/worker_server.py
  src/python/grpcio_tests/tests_aio/benchmark/benchmark_client.py
  src/python/grpcio_tests/tests_aio/benchmark/worker_servicer.py
Labels: lang/Python, release notes: no

#24583 Bump version to v1.33.2
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24530 C#: make Math service example use async
  src/csharp/Grpc.Examples.MathClient/MathClient.cs
  src/csharp/Grpc.Examples.MathServer/MathServer.cs
  src/csharp/Grpc.Examples/MathExamples.cs
  src/csharp/Grpc.Examples/MathServiceImpl.cs
Labels: kind/enhancement, lang/C#, priority/P3, release notes: no
