Repository grpc/grpc, pull requests merged in 2020-09, with the labels that each got.

#24016 Add a test which reproduces the original crash that is fixed by #23984
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/remove_stream_from_stalled_lists_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#24009 Add --rpc_timeout_sec flag spec
  doc/xds-test-descriptions.md
Labels: release notes: no

#24011 csharp xds test client: decrease log output
  src/csharp/Grpc.IntegrationTesting/XdsInteropClient.cs
Labels: release notes: no

#23957 Makefile: only support building deps from submodule
  Makefile
  templates/Makefile.template
Labels: lang/c++, release notes: yes

#22997 Do not send BDP pings if there is no receive side activity
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/transport/bdp_estimator.h
  src/objective-c/tests/InteropTests/InteropTests.m
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: yes

#23992 Improve logging message on exceeding metadata size limit
  src/core/ext/transport/chttp2/transport/parsing.cc
Labels: release notes: no

#23916 Move ServerContext from ::grpc_impl to ::grpc
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/rpc_service_method.h
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  include/grpcpp/server.h
  src/compiler/cpp_generator.cc
  src/cpp/client/client_context.cc
  src/cpp/server/server_context.cc
  test/cpp/codegen/compiler_test_golden
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#24040 Pass repo manager to Donna
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24047 Revert "Move ServerContext from ::grpc_impl to ::grpc"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/rpc_service_method.h
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  include/grpcpp/server.h
  src/compiler/cpp_generator.cc
  src/cpp/client/client_context.cc
  src/cpp/server/server_context.cc
  test/cpp/codegen/compiler_test_golden
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#24046 Disable the Python exit tests until they are deflaked
  src/python/grpcio_tests/tests/unit/_exit_test.py
Labels: lang/Python, release notes: no

#23996 Allow RefCounted<> objects to defer deletion from Unref().
  src/core/lib/gprpp/ref_counted.h
  test/core/gprpp/ref_counted_test.cc
Labels: release notes: no

#24049 Add missing Foundation.h import to generated Objective-C code #2
  src/compiler/objective_c_plugin.cc
Labels: release notes: no

#24030 Remove xDS support from unsecure builds
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/xds_channel.cc
  src/core/ext/xds/xds_channel.h
  src/core/ext/xds/xds_channel_secure.cc
  src/core/ext/xds/xds_client.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24050 Revert "Revert "Move ServerContext from ::grpc_impl to ::grpc""
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/rpc_service_method.h
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/impl/codegen/server_interceptor.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  include/grpcpp/server.h
  src/compiler/cpp_generator.cc
  src/cpp/client/client_context.cc
  src/cpp/server/server_context.cc
  test/cpp/codegen/compiler_test_golden
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#24052 xds: Don't fall back to creds from parent channel, and add insecure creds
  src/core/ext/xds/xds_client.cc
Labels: release notes: no

#24057 Fix opencensus
  include/grpcpp/opencensus.h
Labels: lang/c++, release notes: no

#24054 Initiate HTTP/2 writes on BDP pings too
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: release notes: no

#23964 Add a unified script to generate doc and push to GitHub
  tools/distrib/docgen/_generate_python_doc.sh
  tools/distrib/docgen/all_lang_docgen.sh
Labels: lang/all wrapped languages, release notes: no

#23658 Allow bazel builds without xDS via "--define grpc_no_xds=true".
  BUILD
  bazel/grpc_build_system.bzl
  src/core/plugin_registry/grpc_plugin_registry.cc
Labels: release notes: no

#24059 Introduce a macro to override the precise clock
  src/core/lib/gpr/time_precise.cc
  src/core/lib/gpr/time_precise.h
Labels: area/infra, lang/core, release notes: no

#23710 Implemented conditional shutdown
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/surface/init.cc
  test/core/surface/BUILD
  test/core/surface/init_test.cc
  tools/run_tests/generated/tests.json
Labels: kind/enhancement, lang/core, release notes: no

#24070 Passing repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#23894 Remove grpc_channel_ping from surface API
  grpc.def
  include/grpc/grpc.h
  src/core/lib/surface/channel.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/tests/bad_ping.cc
  test/core/end2end/tests/ping.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: yes

#24076 Add certificate provider factory, store and registry headers
  BUILD
  BUILD.gn
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/xds/certificate_provider_factory.h
  src/core/ext/xds/certificate_provider_registry.h
  src/core/ext/xds/certificate_provider_store.h
  src/core/lib/security/certificate_provider.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24075 Increase timeout of macos/grpc_build_artifacts to 150min
  tools/internal_ci/macos/grpc_build_artifacts.cfg
Labels: area/build, kind/enhancement, release notes: no

#24055 New Tests to guard against regression when routing and weighted target
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24074 Bump version number to 1.32.0.
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#24081 Revert "Implemented conditional shutdown"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/surface/init.cc
  test/core/surface/BUILD
  test/core/surface/init_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#23572 Add tls_certificate_distributor implementation
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/credentials/tls/grpc_tls_certificate_distributor.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_distributor.h
  src/core/lib/security/security_connector/ssl_utils.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/grpc_tls_certificate_distributor_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#24041 Wait for server's shutdown tag to complete before destroying it in stranded_event_test
  test/core/iomgr/BUILD
  test/core/iomgr/stranded_event_test.cc
Labels: lang/core, release notes: no

#24033 Make the server-based port picker thread safe
  test/core/util/port.cc
Labels: lang/core, release notes: no

#24060 [Backport] Add a unified doc generation script to 1.32
  tools/distrib/docgen/_generate_python_doc.sh
  tools/distrib/docgen/all_lang_docgen.sh
Labels: area/documentation, lang/all wrapped languages, release notes: no

#24090 Auto-update Python documentation for 1.32.0
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/glossary.doctree
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_asyncio.doctree
  python/.doctrees/grpc_channelz.doctree
  python/.doctrees/grpc_health_checking.doctree
  python/.doctrees/grpc_reflection.doctree
  python/.doctrees/grpc_status.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc/_cython.html
  python/_modules/grpc/_runtime_protos.html
  python/_modules/grpc/aio/_base_call.html
  python/_modules/grpc/aio/_base_channel.html
  python/_modules/grpc/aio/_base_server.html
  python/_modules/grpc/aio/_call.html
  python/_modules/grpc/aio/_channel.html
  python/_modules/grpc/aio/_interceptor.html
  python/_modules/grpc/aio/_server.html
  python/_modules/grpc_channelz/v1/_servicer.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_status/rpc_status.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_sources/grpc.rst.txt
  python/_static/ajax-loader.gif
  python/_static/basic.css
  python/_static/comment-bright.png
  python/_static/comment-close.png
  python/_static/comment.png
  python/_static/documentation_options.js
  python/_static/down-pressed.png
  python/_static/down.png
  python/_static/jquery-3.2.1.js
  python/_static/searchtools.js
  python/_static/up-pressed.png
  python/_static/up.png
  python/_static/websupport.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_asyncio.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_status.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
  python/searchindex.js
Labels: area/documentation, lang/Python, release notes: no

#23991 xds testing: always set validate_for_proxyless
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#24080 Add certificate provider registry implementation
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/certificate_provider_registry.cc
  src/core/ext/xds/certificate_provider_registry.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/certificate_provider_registry_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#23860 Channelz sampler
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/util/BUILD
  test/cpp/util/channelz_sampler.cc
  test/cpp/util/channelz_sampler_test.cc
  tools/run_tests/generated/tests.json
Labels: area/tools, lang/c++, release notes: no

#23453 Add __init__.py to cygrpc pyx_library to support --incompatible_default_to_explicit_init_py
  src/python/grpcio/grpc/_cython/BUILD.bazel
Labels: area/build, cla: yes, lang/Python, release notes: no

#23642 Clarify meaning of 'lameduck'
  doc/PROTOCOL-HTTP2.md
Labels: release notes: no

#23603 Replace TODO with a link to the proto file
  doc/server-reflection.md
Labels: release notes: no

#24087 fix wrong path
  tools/run_tests/python_utils/start_port_server.py
Labels: release notes: no

#24098 Make version check for importlib.abc in grpcio-tools more stringent
  tools/distrib/python/grpcio_tools/grpc_tools/protoc.py
Labels: kind/bug, lang/Python, release notes: yes

#24099 Make version check for importlib.abc in grpcio-tools more stringent (backport of #24098 to 1.32)
  tools/distrib/python/grpcio_tools/grpc_tools/protoc.py
Labels: lang/Python, release notes: yes

#24094 xds tests: pin grpcio and grpc-tools to 1.31.0
  tools/run_tests/helper_scripts/prep_xds.sh
Labels: release notes: no

#24095 Cannot igore return values of SendRpc.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24103 Backport #24094 to v1.30.x
  tools/run_tests/helper_scripts/prep_xds.sh
Labels: release notes: no

#24102 Backport #24094 to v1.31.x
  tools/run_tests/helper_scripts/prep_xds.sh
Labels: release notes: no

#24101 Backport #24094 to v1.32.x
  tools/run_tests/helper_scripts/prep_xds.sh
Labels: release notes: no

#24104 Revert "Add timeout flag to gRPC cli"
  CMakeLists.txt
  build_autogenerated.yaml
  src/proto/grpc/testing/echo.proto
  src/proto/grpc/testing/simple_messages.proto
  test/cpp/util/BUILD
  test/cpp/util/cli_call.cc
  test/cpp/util/cli_call.h
  test/cpp/util/cli_flags.cc
  test/cpp/util/cli_flags.h
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool.h
  test/cpp/util/grpc_tool_test.cc
Labels: release notes: no

#24088 Attempt to find RE2 via CMake and via pkg-config.
  CMakeLists.txt
  cmake/modules/Findre2.cmake
  cmake/re2.cmake
  templates/CMakeLists.txt.template
Labels: area/build, kind/enhancement, release notes: no

#23809 Bump client_matrix.py for grpc-java 1.31.1
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24112 fix the import bug
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/util/channelz_sampler_test.cc
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/run_tests/generated/tests.json
Labels: release notes: no

#24117 xds testing: always set validate_for_proxyless
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#24118 xds testing: always set validate_for_proxyless
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#24083 Expose Cronet error message to the application layer.
  gRPC-Core.podspec
  src/core/ext/transport/cronet/BUILD
  src/core/ext/transport/cronet/transport/cronet_status.cc
  src/core/ext/transport/cronet/transport/cronet_status.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  templates/gRPC-Core.podspec.template
Labels: lang/core, release notes: yes

#24108 remove unused variable(cronet_transport)
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core, release notes: no

#24120 Remove invalid forward declaration
  include/grpcpp/impl/codegen/service_type.h
Labels: release notes: no

#24115 Add grpc-java 1.32.1 to interop_matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24126 Replace "whitelist" with "allowlist" in example
  doc/statuscodes.md
Labels: release notes: no

#24119 Reduce tested Python version on macOS
  tools/run_tests/run_tests.py
Labels: area/build, disposition/BUILDCOP, lang/Python, release notes: no

#24124 [gRPC Easy] Fix import errors on Windows
  tools/distrib/python/grpcio_tools/grpc_tools/protoc.py
Labels: kind/bug, lang/Python, platform/Windows, release notes: yes

#24125 [gRPC Easy] Fix import errors on Windows (backport of #24124)
  tools/distrib/python/grpcio_tools/grpc_tools/protoc.py
Labels: kind/bug, lang/Python, platform/Windows, release notes: yes

#24086 PHP: add server->start() to correspond with PR23636
  src/php/tests/unit_tests/CallTest.php
  src/php/tests/unit_tests/PersistentChannelTests/PersistentChannelTest.php
Labels: lang/php, release notes: no

#23994 PHP: support 32bit timeval value
  src/php/bin/build_all_docker_images.sh
  src/php/bin/run_all_docker_images.sh
  src/php/docker/i386/Dockerfile
  src/php/ext/grpc/timeval.c
  src/php/tests/unit_tests/TimevalTest.php
  templates/src/php/docker/i386/Dockerfile.template
Labels: lang/php, release notes: no

#23659 Moving XDS Routing functionalities from LB policy into XdsConfigSelector
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#24132 interop for 1.32.0 for python, ruby, php, csharp
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#24137 xds: Remove code for stripping call creds from channel creds.
  src/core/ext/xds/xds_client.cc
Labels: release notes: no

#24089 Pass repo manager duty to nicolasnoble.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24135 Clean up EdsUpdate data structure.
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/lib/channel/channel_args.h
Labels: release notes: no

#24140 Fix UNAUTHENTICATED code order
  doc/statuscodes.md
Labels: release notes: no

#24141 Fixing flake in DeadUpdate
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24145 Added timeout flag to grpc cli.
  src/proto/grpc/testing/echo.proto
  src/proto/grpc/testing/simple_messages.proto
  test/cpp/util/cli_call.cc
  test/cpp/util/cli_call.h
  test/cpp/util/grpc_tool.cc
  test/cpp/util/grpc_tool_test.cc
Labels: release notes: no

#24149 Fix a typo s/training/trailing/ in ProtoRPC.h
  src/objective-c/ProtoRPC/ProtoRPC.h
Labels: lang/ObjC, release notes: no

#24150 Fix EDS update equality check.
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24067 fix when cmake version<3.13, gRPC_INSTALL will be forced to FALSE bec…
  BUILDING.md
Labels: area/build, area/documentation, lang/c++, release notes: no

#24147 Fixing Flake with InitialUnavailable test by increasing failover timeout
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23938 Change XdsClient to support multiple LDS and RDS watchers
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
Labels: release notes: no

#24152 Disable initiating writes on bdp pings till b/168345569 is fixed
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#24136 xds: Stop setting PROXYLESS_CLIENT_HOSTNAME node metadata in LRS request.
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24121 Fix memory leak.
  src/core/lib/iomgr/endpoint_cfstream.cc
Labels: kokoro:run, release notes: no

#24162 Fix cut-and-paste error and change test to catch this kind of bug.
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24114 Simplify service config processing and fix config selector handling.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/service_config.cc
  test/cpp/end2end/service_config_end2end_test.cc
Labels: release notes: no

#24082 Move async, callback and sync implementation from grpc_impl to grpc namespace
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/async_stream.h
  include/grpcpp/impl/codegen/async_stream_impl.h
  include/grpcpp/impl/codegen/async_unary_call.h
  include/grpcpp/impl/codegen/async_unary_call_impl.h
  include/grpcpp/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/channel_interface.h
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_callback_impl.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/method_handler.h
  include/grpcpp/impl/codegen/method_handler_impl.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_callback_impl.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/sync_stream.h
  include/grpcpp/impl/codegen/sync_stream_impl.h
  include/grpcpp/test/mock_stream.h
  src/compiler/cpp_generator.cc
  src/cpp/client/client_callback.cc
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/server_callback.cc
  src/cpp/server/server_context.cc
  test/cpp/codegen/compiler_test_golden
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: no

#24167 Store address hierarchy information in attributes instead of channel args.
  src/core/ext/filters/client_channel/lb_policy/address_filtering.cc
  src/core/ext/filters/client_channel/lb_policy/address_filtering.h
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
  src/core/ext/xds/xds_api.cc
Labels: release notes: no

#24127 Add parsing logic for GoogleMeshCaConfig
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/xds/google_mesh_ca_certificate_provider_factory.cc
  src/core/ext/xds/google_mesh_ca_certificate_provider_factory.h
  src/core/lib/json/json_util.cc
  src/core/lib/json/json_util.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/authorization_engine_test.cc
  test/core/xds/BUILD
  test/core/xds/google_mesh_ca_certificate_provider_factory_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#24161 remove --spawn_strategy build option for cfstream_test
  tools/internal_ci/macos/grpc_run_bazel_isolated_tests.sh
Labels: lang/core, release notes: no

#24170 Add TestGrpcScope
  test/core/util/test_config.cc
  test/core/util/test_config.h
  test/cpp/microbenchmarks/bm_opencensus_plugin.cc
Labels: area/test, kind/enhancement, lang/core, release notes: no

#24169 Abseil support to gRPC-Core tests
  gRPC-Core.podspec
  templates/gRPC-Core.podspec.template
Labels: area/build, platform/iOS, release notes: no

#24158 Fix-forward "Implemented conditional shutdown" (#23710)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/surface/init.cc
  test/core/surface/BUILD
  test/core/surface/init_test.cc
  tools/run_tests/generated/tests.json
Labels: kind/enhancement, lang/core, release notes: no

#24157 Improve Win CI script with better exception propagation
  src/csharp/install_dotnet_sdk.ps1
  tools/internal_ci/helper_scripts/install_python38.ps1
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/internal_ci/windows/grpc_distribtests.bat
  tools/internal_ci/windows/grpc_distribtests_standalone.bat
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
Labels: lang/Python, platform/Windows, release notes: no

#24173 Add interop test for special_status_message
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
Labels: release notes: no

#24168 Support Ubuntu 16 docker
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
Labels: area/build, release notes: no

#24159 Use TestEnvironment to fix flaky test.
  test/core/security/evaluate_args_test.cc
Labels: area/test, kind/bug, lang/core, release notes: no

#24155 Import checked.proto for CEL-based Authorization Engine.
  src/core/ext/upb-generated/google/api/expr/v1alpha1/checked.upb.c
  src/core/ext/upb-generated/google/api/expr/v1alpha1/checked.upb.h
  src/core/ext/upbdefs-generated/google/api/expr/v1alpha1/checked.upbdefs.c
  src/core/ext/upbdefs-generated/google/api/expr/v1alpha1/checked.upbdefs.h
  tools/codegen/core/gen_upb_api.sh
Labels: lang/core, release notes: no

#24172 Pass address to CreateSubchannel() and expose attributes in SubchannelInterface.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/lrs.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/server_address.h
  src/core/ext/filters/client_channel/subchannel_interface.h
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#24185 Delete some files from previous PR
  build_autogenerated.yaml
  include/grpcpp/impl/method_handler_impl.h
  include/grpcpp/support/async_stream_impl.h
  include/grpcpp/support/async_unary_call_impl.h
  include/grpcpp/support/client_callback_impl.h
  include/grpcpp/support/server_callback_impl.h
  include/grpcpp/support/sync_stream_impl.h
Labels: lang/c++, release notes: no

#24163 In run_xds_tests.py, run clients in bash
  tools/run_tests/run_xds_tests.py
Labels: area/test, release notes: no

#24189 Fix windows build failure due to winserver2016 upgrade
  src/csharp/build_unitypackage.bat
  templates/src/csharp/build_unitypackage.bat.template
  test/distrib/csharp/run_distrib_test.bat
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: area/build, release notes: no

#24184 CallbackRequests are no longer re-used, so adjust code accordingly
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#24192 Revert "Merge pull request #24163 from murgatroid99/run_xds_tests_cli…
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#24191 Fix channel to apply new ConfigSelector even if ServiceConfig hasn't changed.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24164 Import cronet net error list and modify grpc-cronet error message.
  gRPC-Core.podspec
  src/core/ext/transport/cronet/transport/cronet_status.cc
  src/core/ext/transport/cronet/transport/cronet_status.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  templates/gRPC-Core.podspec.template
  third_party/objective_c/Cronet/BUILD
  third_party/objective_c/Cronet/net_error_list.h
Labels: lang/core, release notes: no

#24174 Store grpclb LB token and stats object in a per-address attribute.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: release notes: no

#24151 Add stack-debugging features using Abseil
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  test/core/util/BUILD
  test/core/util/examine_stack.cc
  test/core/util/examine_stack.h
  test/core/util/test_config.cc
Labels: kind/enhancement, lang/core, release notes: no

#24203 Revert "Import cronet net error list and modify grpc-cronet error message."
  gRPC-Core.podspec
  src/core/ext/transport/cronet/transport/cronet_status.cc
  src/core/ext/transport/cronet/transport/cronet_status.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  templates/gRPC-Core.podspec.template
  third_party/objective_c/Cronet/BUILD
  third_party/objective_c/Cronet/net_error_list.h
Labels: lang/core, release notes: no

#24190 Remove unneeded private methods and friends of generic server contexts
  include/grpcpp/impl/codegen/async_generic_service.h
Labels: lang/c++, release notes: no

#24207 Eliminate ServerContextBase::Clear/Setup and fix unref process for core call
  include/grpcpp/impl/codegen/server_context.h
  src/cpp/client/client_context.cc
  src/cpp/server/server_context.cc
  test/cpp/interop/server_helper.cc
Labels: lang/c++, release notes: no

#24211 Roll-forward: Expose cronet net error list
  src/core/ext/transport/cronet/transport/cronet_status.cc
  src/core/ext/transport/cronet/transport/cronet_status.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core, release notes: no

#24216 [gRPC Easy] Do not import grpc_tools.protoc from grpc_tools
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
  src/python/grpcio_tests/tests/tests.json
  tools/distrib/python/grpcio_tools/grpc_tools/__init__.py
Labels: kind/bug, lang/Python, release notes: no

#24200 Change XdsClient to use its own mutex instead of the channel's WorkSerializer.
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/lib/transport/connectivity_state.h
Labels: release notes: no

#24177 Fix server backlog processing to not set stream until backlog cleared
  include/grpcpp/impl/codegen/server_callback.h
Labels: release notes: no

#24221 Properly synchronize thread creation failure case
  src/cpp/thread_manager/thread_manager.cc
Labels: lang/c++, release notes: no

#24148 More info on metadata leak
  src/core/lib/transport/metadata.cc
Labels: kind/enhancement, lang/core, release notes: no

#24223 Repo Manager yashykt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24199 Decouple channel creation from channelz child linkage.
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.h
  src/core/lib/surface/channel.cc
  test/core/channel/channelz_test.cc
Labels: release notes: no

#24225 Fixing Clang Tidy errors caught at import time.
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: release notes: no

#24226 Fixing clang tidy suggestions caught at import time.
  src/core/ext/transport/cronet/transport/cronet_status.h
Labels: release notes: no

#24235 Fix use-after-free bug
  src/core/ext/xds/xds_client.cc
Labels: release notes: no

#24228 Fix MSAN adjustment
  test/core/tsi/ssl_transport_security_test.cc
  test/core/util/test_config.h
  test/cpp/end2end/async_end2end_test.cc
Labels: area/test, kind/bug, release notes: no

#24201 Stop propagating parent channel args into xDS channel.
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_channel_args.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24063 Deprecate GRPC_ARG_HTTP2_MIN_SENT_PING_INTERVAL_WITHOUT_DATA_MS
  doc/core/pending_api_cleanups.md
  doc/keepalive.md
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  test/core/end2end/tests/bad_ping.cc
  test/core/end2end/tests/ping.cc
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: yes

#24241 Add OWNERS for xDS code
  .github/CODEOWNERS
  src/core/ext/xds/OWNERS
Labels: release notes: no

#24224 Implement DualRefCounted interface for objects needing strong and weak refs.
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/gprpp/dual_ref_counted.h
  src/core/lib/gprpp/ref_counted_ptr.h
  test/core/gprpp/BUILD
  test/core/gprpp/dual_ref_counted_test.cc
  test/core/gprpp/ref_counted_ptr_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#24244 Add missing const_cast<>.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24239 Share XdsClient between channels
  BUILD
  BUILD.gn
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/lrs.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#24202 Convert ExecCtx::Run to Closure::Run for subchannel call stack destruction
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#24240 Wrapping DroppedRequestsMap inside a DroppedRequests strcuture which
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_stats.cc
  src/core/ext/xds/xds_client_stats.h
Labels: release notes: no

#24255 Revert "Deprecate GRPC_ARG_HTTP2_MIN_SENT_PING_INTERVAL_WITHOUT_DATA_MS"
  doc/core/pending_api_cleanups.md
  doc/keepalive.md
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  test/core/end2end/tests/bad_ping.cc
  test/core/end2end/tests/ping.cc
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: release notes: no

#24254 Revert "Convert ExecCtx::Run to Closure::Run for subchannel call stack destruction"
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#24265 Repo Manager - Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#24230 Change RefIfNonZero() to return a RefCountedPtr<>.
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/gprpp/ref_counted.h
  test/core/gprpp/ref_counted_test.cc
Labels: release notes: no

#24257 Split RPCTest into two and speed up test cases
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_rpc_part_1_test.py
  src/python/grpcio_tests/tests/unit/_rpc_part_2_test.py
  src/python/grpcio_tests/tests/unit/_rpc_test.py
  src/python/grpcio_tests/tests/unit/_rpc_test_helpers.py
Labels: lang/Python, release notes: no

#24180 xDS circuit breaking support
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/cds_for_test.proto
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/cluster.proto
  test/cpp/end2end/test_service_impl.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24258 Allow channel args to modify service config parsing behavior.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/service_config.h
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/client_channel/service_config_parser.cc
  src/core/ext/filters/client_channel/service_config_parser.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/cpp/common/validate_service_config.cc
  test/core/client_channel/service_config_test.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: disposition/Needs Internal Changes, release notes: no

#24271 Use != with literals in commands.py
  src/python/grpcio/commands.py
Labels: lang/Python, release notes: no

#24279 Remove unused variable.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#24267 Don't install enum34 for non-2.7 Python
  requirements.txt
  src/python/grpcio_tests/setup.py
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: no
