Repository grpc/grpc, pull requests merged in 2020-01, with the labels that each got.

#21573 Passing triage duty to Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21547 Exposing ALTS Context and clientAuthzCheck()
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  include/grpc/grpc_security_constants.h
  include/grpcpp/security/alts_context.h
  include/grpcpp/security/alts_util.h
  src/cpp/common/alts_context.cc
  src/cpp/common/alts_util.cc
  test/cpp/common/BUILD
  test/cpp/common/alts_util_test.cc
  tools/run_tests/generated/tests.json
Labels: area/security, lang/c++, release notes: no

#21574 Change the default timeout of CppDistribTest to 45min from 30min
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/build, lang/core, release notes: no

#21542 Revert "Support CentOS 7 for gRPC.NET"
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  src/csharp/ext/std++compat.cc
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/build, lang/C#, release notes: no

#20184 Add abseil to gRPC Core
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  PYTHON-MANIFEST.in
  bazel/grpc_build_system.bzl
  build.yaml
  cmake/abseil-cpp.cmake
  cmake/gRPCConfig.cmake.in
  config.m4
  config.w32
  examples/cpp/helloworld/CMakeLists.txt
  examples/cpp/helloworld/cmake_externalproject/CMakeLists.txt
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/port_platform.h
  package.xml
  setup.py
  src/android/test/interop/app/CMakeLists.txt
  src/core/lib/channel/channelz.h
  src/core/lib/gprpp/optional.h
  src/python/grpcio/grpc_core_dependencies.py
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/config.m4.template
  templates/config.w32.template
  test/distrib/cpp/run_distrib_test_cmake.bat
  test/distrib/cpp/run_distrib_test_cmake.sh
  test/distrib/cpp/run_distrib_test_cmake_as_externalproject.sh
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
  tools/distrib/python/grpcio_tools/setup.py
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
Labels: area/core, release notes: no

#21581 Add more files to yapf targets
  .yapfignore
  src/abseil-cpp/gen_build_yaml.py
  src/benchmark/gen_build_yaml.py
  src/boringssl/gen_build_yaml.py
  src/c-ares/gen_build_yaml.py
  src/objective-c/change-comments.py
  src/proto/gen_build_yaml.py
  src/upb/gen_build_yaml.py
  src/zlib/gen_build_yaml.py
  test/core/bad_client/gen_build_yaml.py
  test/core/bad_ssl/gen_build_yaml.py
  test/core/end2end/fuzzers/generate_client_examples_of_bad_closing_streams.py
  test/core/end2end/gen_build_yaml.py
  test/core/http/test_server.py
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/manual_run_resolver_component_test.py
  test/cpp/naming/utils/dns_resolver.py
  test/cpp/naming/utils/dns_server.py
  test/cpp/naming/utils/run_dns_server_for_lb_interop_tests.py
  test/cpp/naming/utils/tcp_connect.py
  test/cpp/qps/gen_build_yaml.py
  test/cpp/qps/json_run_localhost_scenario_gen.py
  test/cpp/qps/qps_json_driver_scenario_gen.py
  test/http2_test/http2_base_server.py
  test/http2_test/http2_server_health_check.py
  test/http2_test/http2_test_server.py
  test/http2_test/test_data_frame_padding.py
  test/http2_test/test_goaway.py
  test/http2_test/test_max_streams.py
  test/http2_test/test_ping.py
  test/http2_test/test_rst_after_data.py
  test/http2_test/test_rst_after_header.py
  test/http2_test/test_rst_during_data.py
  tools/distrib/yapf_code.sh
Labels: lang/Python, release notes: no

#21578 Comment out unused parameter
  src/core/ext/filters/client_channel/xds/xds_client.cc
Labels: release notes: no

#21560 Fix log statement
  src/core/lib/iomgr/executor.cc
Labels: release notes: no

#21580 Replace or with ||
  src/core/lib/gpr/time_precise.cc
Labels: release notes: no

#21586 Remove unused (and defective) constructor
  include/grpcpp/impl/codegen/callback_common.h
Labels: lang/c++, release notes: no

#21506 [Aio] Improve cancellation mechanism on client side
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
Labels: kind/internal cleanup, lang/Python, release notes: no

#21593 Clarify the set_trailing_metadata docstring
  src/python/grpcio/grpc/__init__.py
Labels: area/documentation, lang/Python, release notes: no

#19296 gRPC TCP Send Zerocopy
  include/grpc/impl/codegen/grpc_types.h
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
Labels: area/performance, release notes: no

#21597 Allow plugin/global_callback to override max_recv_message_size
  include/grpcpp/server_impl.h
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: release notes: no

#21595 Make yapf_code capable of making in-place changes
  tools/distrib/yapf_code.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/Python, release notes: no

#21600 Pass the manager to Nicolas
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21423 Add Support for Full Chain Callbacks - experimental namespace
  grpc.def
  include/grpc/grpc_security.h
  include/grpc/grpc_security_constants.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/cpp/common/tls_credentials_options.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/security_connector_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/ssl_transport_security_test.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, kokoro:force-run, lang/c++, release notes: yes

#21604 Add linux-headers to alpine image
  src/php/docker/alpine/Dockerfile
  templates/src/php/docker/alpine/Dockerfile.template
Labels: lang/php, release notes: no

#21601 Added a test to keep grpc run without abseil
  BUILD
  bazel/grpc_build_system.bzl
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
Labels: lang/core, release notes: no

#21215 Security level negotiation between call credentials and channel
  include/grpc/grpc_security.h
  include/grpc/grpc_security_constants.h
  include/grpcpp/security/credentials_impl.h
  src/core/lib/security/credentials/composite/composite_credentials.cc
  src/core/lib/security/credentials/composite/composite_credentials.h
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/fake/fake_credentials.h
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.h
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/fake_transport_security.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/transport_security.cc
  src/core/tsi/transport_security_interface.h
  src/cpp/client/secure_credentials.cc
  src/csharp/ext/grpc_csharp_ext.c
  src/php/ext/grpc/call_credentials.c
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio_tests/tests/unit/_auth_context_test.py
  src/ruby/ext/grpc/rb_call_credentials.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/end2end_tests.h
  test/core/end2end/fixtures/h2_fakesec.cc
  test/core/end2end/tests/call_creds.cc
  test/core/security/alts_security_connector_test.cc
  test/core/security/credentials_test.cc
  test/core/security/security_connector_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/tsi/fake_transport_security_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/all wrapped languages, release notes: yes

#21610 get rid of unused use_openssl.sh script
  Makefile
  build.yaml
  templates/Makefile.template
  templates/tools/openssl/use_openssl.sh.template
  tools/openssl/use_openssl.sh
Labels: lang/core, release notes: no

#21617 Enclose pthread include with GRPC_POSIX_FORK_ALLOW_PTHREAD_ATFORK
  src/core/lib/iomgr/fork_posix.cc
  src/php/ext/grpc/php_grpc.c
Labels: lang/core, release notes: no

#21620 Make test code use TestEnvironment
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  test/core/bad_ssl/bad_ssl_test.cc
  test/core/client_channel/parse_address_with_named_scope_id_test.cc
  test/core/end2end/fixtures/h2_tls.cc
  test/core/transport/chttp2/bin_decoder_test.cc
  test/core/transport/chttp2/bin_encoder_test.cc
  test/core/tsi/alts/fake_handshaker/BUILD
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server_main.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_grpc_record_protocol_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector_test.cc
  test/cpp/end2end/cfstream_test.cc
  test/cpp/end2end/flaky_network_test.cc
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/server/server_request_call_test.cc
Labels: lang/core, release notes: no

#21260 Replacing 'HTTP' by 'HTTPS' for securing links
  doc/connection-backoff-interop-test-description.md
Labels: release notes: no

#21598 Remove duplicated words
  src/csharp/README.md
  src/php/ext/grpc/channel.c
  src/python/grpcio/grpc/__init__.py
Labels: release notes: no

#20803 grpclb stabilization
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_channel_secure.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_fallback.cc
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/naming/resolver_component_test.cc
  tools/distrib/check_include_guards.py
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: yes

#21291 Upgrade the version of upb we use.
  bazel/grpc_deps.bzl
Labels: kind/internal cleanup, lang/all wrapped languages, release notes: no

#21625 Make test code use TestEnvironment (part 2)
  test/core/compression/stream_compression_test.cc
  test/core/handshake/verify_peer_options.cc
  test/core/tsi/alts/crypt/aes_gcm_test.cc
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_utils_test.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/interop/client.cc
  test/cpp/interop/interop_server_bootstrap.cc
Labels: lang/core, release notes: no

#21455 [Aio] Client Side Interceptor For Unary Calls
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/BUILD.bazel
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio/grpc/experimental/aio/_utils.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/interceptor_test.py
Labels: area/api, kind/enhancement, lang/Python, release notes: yes

#21607 [Aio] Support channel argument for both client and server
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_typing.py
  src/python/grpcio_tests/tests/unit/framework/common/__init__.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/channel_argument_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#21631 Make unit test have init-shutdown pair.
  test/core/backoff/backoff_test.cc
  test/core/transport/chttp2/context_list_test.cc
  test/core/util/test_config.cc
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/core, release notes: no

#21645 Upb update
  bazel/grpc_deps.bzl
  third_party/upb/BUILD
  third_party/upb/CMakeLists.txt
  third_party/upb/bazel/upb_proto_library.bzl
  third_party/upb/bazel/workspace_deps.bzl
  third_party/upb/upb/decode.c
  third_party/upb/upb/port.c
  third_party/upb/upb/port_def.inc
  third_party/upb/upb/table.c
Labels: lang/core, release notes: no

#21640 Update security level of local TCP connection
  src/core/lib/security/security_connector/local/local_security_connector.cc
  test/core/end2end/fixtures/h2_local_ipv4.cc
  test/core/end2end/fixtures/h2_local_ipv6.cc
Labels: lang/all wrapped languages, release notes: yes

#21646 Passing to yash
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21641 Fix STS credentials to ignore empty actor token path.
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  test/core/security/credentials_test.cc
Labels: area/security, lang/core, release notes: no

#21611 fix build with OpenSSL1.1.1+ on Windows
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/core, release notes: yes

#21628 Skip building Android-dependent parts for Java interop test
  templates/tools/dockerfile/java_build_interop.sh.include
  tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh
Labels: release notes: no

#21642 Add a blocking init/shutdown test
  test/core/surface/init_test.cc
Labels: release notes: no

#21351 [Aio] Support credentials for unary calls
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#21651 PHP: Fix logic setting roots pem
  src/php/lib/Grpc/BaseStub.php
Labels: lang/php, release notes: no

#21652 PHP: Fix logic setting roots pem
  src/php/lib/Grpc/BaseStub.php
Labels: lang/php, release notes: no

#21644 Increase test timeout to avoid flakiness.
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#21582 [Aio] Abort mechanism for server side
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/abort_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#21648 InitGoogleTest before grpc_init
  test/core/backoff/backoff_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/client_channel/xds_bootstrap_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/transport/byte_stream_test.cc
  test/core/transport/chttp2/context_list_test.cc
  test/core/transport/connectivity_state_test.cc
  test/core/transport/static_metadata_test.cc
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/performance/writes_per_rpc_test.cc
Labels: release notes: no

#21663 Disable the flaky _exit_test for Bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
Labels: kind/internal cleanup, lang/Python, release notes: no

#21657 workaround C# build failure by ensuring Go1.13 is installed
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: no

#21662 Remove grpc sources from grpc++
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/core, release notes: no

#21517 [Aio] Client Streaming and Bi-di Streaming
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_base_call.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_typing.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#21669 Backport of #21445 and #21662
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gyp
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  tools/doxygen/Doxyfile.c++.internal
Labels: area/build, area/core, release notes: no

#21661 Sidestep multiple initialization issue of Tracers with Makefile
  src/core/lib/debug/trace.cc
Labels: lang/core, release notes: yes

#21671 Bump the version of gcc to 4.9
  templates/tools/dockerfile/test/cxx_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_jessie_x86/Dockerfile.template
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no

#21643 [Aio] Support SO_REUSEPORT channel option
  src/core/lib/iomgr/tcp_custom.h
  src/core/lib/iomgr/tcp_server_custom.cc
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
  src/python/grpcio_tests/tests_aio/unit/channel_argument_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#21670 MacOS make fix
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  src/cpp/common/alts_util.cc
Labels: area/security, release notes: no

#19699 fix broken link and move links to bottom
  doc/python/server_reflection.md
Labels: area/documentation, lang/Python, release notes: no

#21667 Introduce ChannelBase.ShutdownAsync() in a backward-compatible manner.
  src/csharp/Grpc.Core.Api/ChannelBase.cs
  src/csharp/Grpc.Core.Tests/ChannelTest.cs
  src/csharp/Grpc.Core/Channel.cs
Labels: lang/C#, release notes: yes

#20638 Add CDS to xds client
  CMakeLists.txt
  Makefile
  build.yaml
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/ext/filters/client_channel/xds/xds_client_stats.cc
  src/core/ext/filters/client_channel/xds/xds_client_stats.h
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/cds_for_test.proto
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#20316 Add support for OpenSSL ENGINE
  CMakeLists.txt
  Makefile
  build.yaml
  grpc.gyp
  src/core/tsi/ssl_transport_security.cc
  test/core/end2end/engine_passthrough.cc
  test/core/end2end/h2_ssl_cert_test.cc
Labels: area/core, area/security, lang/all wrapped languages, release notes: yes

#21678 Revert "Sidestep multiple initialization issue of Tracers with Makefile"
  src/core/lib/debug/trace.cc
Labels: release notes: no

#21683 Log (in debug mode) if CQ destroyed without full draining
  src/core/lib/surface/completion_queue.cc
Labels: lang/c++, release notes: no

#21684 Upmerge v1.26.x to master
  src/php/ext/grpc/php_grpc.c
Labels: lang/all wrapped languages, release notes: no

#21695 Fix C# distribtests
  test/distrib/csharp/DistribTest/DistribTest.csproj
  test/distrib/csharp/DistribTest/DistribTestDotNet.csproj
  test/distrib/csharp/DistribTest/packages.config
Labels: lang/C#, release notes: no

#21681 [Aio] Implement add_done_callback and time_remaining
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_base_call.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_typing.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/done_callback_test.py
Labels: kind/enhancement, lang/Python, release notes: yes

#21686 Fix xds_end2end_test
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#21632 Treat an empty `http_proxy` mean "Don't use proxy" and skip parsing it
  src/core/ext/filters/client_channel/http_proxy.cc
Labels: lang/core, release notes: yes

#21680 Log an error (in dbg mode) if CQ is Shutdown before its Server(s)
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/server_impl.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#21699 Bump 1.27.x branch vesion to 1.27.pre1
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#21703 Fix 21686 to use the correct status
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#21701 Reduce testing load on MacOS systems
  test/core/surface/concurrent_connectivity_test.cc
  test/core/surface/sequential_connectivity_test.cc
Labels: release notes: no

#21691 Fix grpc_core::Optional
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/lib/gprpp/optional.h
  src/core/lib/iomgr/buffer_list.cc
  test/core/gprpp/optional_test.cc
Labels: release notes: no

#21692 Modify the signatures of grpc_tcp_client_create_from_fd and grpc_tcp_client_create_from_prepared_fd, and create grpc_fd after connect
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_client_posix.h
Labels: lang/core, release notes: no

#21711 Abseilify optional
  src/core/lib/gprpp/optional.h
Labels: lang/core, release notes: no

#21725 Revert "Log an error (in dbg mode) if CQ is Shutdown before its Server(s)"
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/server_impl.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#21690 Adding GRPC_PORT_ISOLATED_RUNTIME=1 to mac.bazelrc.
  tools/remote_build/mac.bazelrc
Labels: release notes: no

#21712 [Aio] Fix a segfault in check connectivity state
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
Labels: kind/bug, lang/Python, release notes: no

#21672 Clean-up loggers and imports in Cython
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/arguments.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/fork_posix.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/fork_windows.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_string.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pxd
  src/python/grpcio/grpc/_cython/cygrpc.pyx
Labels: kind/internal cleanup, lang/Python, release notes: no

#21696 Move status and initial metadata handling to Cython
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
Labels: kind/bug, lang/Python, release notes: yes

#21708 [Aio] Fixing a segfault in the shutdown path
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: kind/bug, lang/Python, release notes: no

#21742 Pass C repo manager to Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21679 Added verify_duplicate_sources
  tools/buildgen/plugins/verify_duplicate_sources.py
Labels: area/build, release notes: no

#21744 Revert "Update security level of local TCP connection"
  src/core/lib/security/security_connector/local/local_security_connector.cc
  test/core/end2end/fixtures/h2_local_ipv4.cc
  test/core/end2end/fixtures/h2_local_ipv6.cc
Labels: area/security, lang/core, release notes: no

#21709 Fix Issue 20928 and potentially other related xds issues
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
Labels: release notes: no

#21743 Fix Issue 20281
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: release notes: no

#21754 Alarm callback should run on executor
  src/cpp/common/alarm.cc
  test/cpp/common/alarm_test.cc
Labels: lang/c++, release notes: no

#21763 Double the time limit for linux extra artifacts build
  tools/internal_ci/linux/grpc_build_artifacts_extra.cfg
  tools/internal_ci/linux/grpc_build_artifacts_extra_release.cfg
Labels: area/build, priority/P0/RELEASE BLOCKER, release notes: no

#21765 Clean up grpc_core::MakeUnique
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/security/transport/security_handshaker.cc
  test/core/channel/channelz_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/gprpp/inlined_vector_test.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
Labels: lang/core, release notes: no

#21738 Stop using core server shutdown in microbenchmarks
  test/cpp/microbenchmarks/fullstack_fixtures.h
Labels: lang/c++, release notes: no

#21764 [v1.27.x Patch] Double the time limit for linux extra artifacts build
  tools/internal_ci/linux/grpc_build_artifacts_extra.cfg
  tools/internal_ci/linux/grpc_build_artifacts_extra_release.cfg
Labels: area/build, priority/P0/RELEASE BLOCKER, release notes: no

#21766 Collect TLS-specific changes from PR 20568.
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#21757 Add missing greeter_async_client2 to c++ helloworld CMakeLists.txt
  examples/cpp/helloworld/CMakeLists.txt
Labels: lang/c++, release notes: no

#21741 Clarify ownership in comments
  include/grpcpp/impl/codegen/client_callback_impl.h
  include/grpcpp/impl/codegen/server_callback_impl.h
Labels: lang/c++, release notes: no

#21767 Revert "Revert "Log an error (in dbg mode) if CQ is Shutdown before its Server(s)""
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/server_impl.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#21704 Update PGP keys and keyserver for RVM install
  tools/gce/linux_kokoro_performance_worker_init.sh
Labels: lang/ruby, release notes: no

#21768 Set keepalive interval for xds channel to 5 minutes.
  src/core/ext/filters/client_channel/xds/xds_client.cc
Labels: release notes: no

#21778 Revert "Collect TLS-specific changes from PR 20568."
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#21224 Convert json_reader and json_writer to C++.
  src/core/lib/json/json_reader.cc
  src/core/lib/json/json_writer.cc
Labels: release notes: no

#21335 Add LDS/RDS into XdsClient
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/ext/upb-generated/envoy/api/v2/lds.upb.c
  src/core/ext/upb-generated/envoy/api/v2/lds.upb.h
  src/core/ext/upb-generated/envoy/api/v2/listener/listener.upb.c
  src/core/ext/upb-generated/envoy/api/v2/listener/listener.upb.h
  src/core/ext/upb-generated/envoy/api/v2/listener/udp_listener_config.upb.c
  src/core/ext/upb-generated/envoy/api/v2/listener/udp_listener_config.upb.h
  src/core/ext/upb-generated/envoy/api/v2/rds.upb.c
  src/core/ext/upb-generated/envoy/api/v2/rds.upb.h
  src/core/ext/upb-generated/envoy/api/v2/route/route.upb.c
  src/core/ext/upb-generated/envoy/api/v2/route/route.upb.h
  src/core/ext/upb-generated/envoy/api/v2/srds.upb.c
  src/core/ext/upb-generated/envoy/api/v2/srds.upb.h
  src/core/ext/upb-generated/envoy/config/filter/accesslog/v2/accesslog.upb.c
  src/core/ext/upb-generated/envoy/config/filter/accesslog/v2/accesslog.upb.h
  src/core/ext/upb-generated/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.upb.c
  src/core/ext/upb-generated/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.upb.h
  src/core/ext/upb-generated/envoy/config/listener/v2/api_listener.upb.c
  src/core/ext/upb-generated/envoy/config/listener/v2/api_listener.upb.h
  src/core/ext/upb-generated/envoy/type/matcher/regex.upb.c
  src/core/ext/upb-generated/envoy/type/matcher/regex.upb.h
  src/core/ext/upb-generated/envoy/type/matcher/string.upb.c
  src/core/ext/upb-generated/envoy/type/matcher/string.upb.h
  src/proto/grpc/testing/xds/BUILD
  src/proto/grpc/testing/xds/lds_rds_for_test.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#21793 Weaken reinterpret_cast to static_cast
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
Labels: lang/c++, release notes: no

#21784 Pass to karthikravis
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#21792 Fix regression in MSVC runtime flag
  cmake/msvc_static_runtime.cmake
Labels: lang/c++, release notes: yes

#21780 Stop building manylinux1 images
  tools/dockerfile/grpc_artifact_python_manylinux1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux1_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/Python, release notes: yes

#21790 Drop manylinux1 backport (Backport to 1.27)
  tools/dockerfile/grpc_artifact_python_manylinux1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux1_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/Python, release notes: yes

#21786 Mark the delivery thread daemonic.
  src/python/grpcio/grpc/_channel.py
Labels: lang/Python, release notes: no

#21772 Adding mixin classes to make client-side implementation cleaner V2
  .pylintrc
  src/python/grpcio/grpc/experimental/aio/_call.py
Labels: kind/internal cleanup, lang/Python, release notes: no

#21799 Make credentials callback threads daemonic.
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
Labels: kind/bug, lang/Python, release notes: no

#21798 Fix ObjC memory consumption increase as app runs
  src/objective-c/GRPCClient/private/GRPCCore/GRPCCompletionQueue.m
Labels: lang/ObjC, release notes: yes

#21774 Construct DefaultReactor lazily since not always needed
  include/grpcpp/impl/codegen/server_context_impl.h
  include/grpcpp/test/default_reactor_test_peer.h
  src/cpp/server/server_context.cc
Labels: lang/c++, release notes: no

#21775 Support xds request timeouts.
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/core/lib/gprpp/string_view.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#21806 Revert "Revert "Revert "Log an error (in dbg mode) if CQ is Shutdown before its Server(s)"""
  include/grpcpp/impl/codegen/completion_queue_impl.h
  include/grpcpp/server_impl.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
Labels: area/core, lang/core, release notes: no

#21800 Bump 1.27.x branch to pre2
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/all wrapped languages, release notes: no

#21807 No error when there is nothing to commit for submodule-at-head test
  tools/internal_ci/linux/grpc_build_submodule_at_head.sh
Labels: area/build, release notes: no

#21804 Updates to TLS credentials, version 2
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#21817 Fix unused-result errors on import.
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#21688 Add cmake_pkgconfig_simple
  test/distrib/cpp/run_distrib_test_cmake_module_install_pkgconfig.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/test, release notes: no

#21820 Fix the windows build failure
  src/python/grpcio/commands.py
Labels: area/build, lang/Python, platform/Windows, release notes: yes

#21816 Add cmake to pre-reqs.
  BUILDING.md
Labels: release notes: no

#21818 Export files
  BUILD
  src/proto/grpc/testing/BUILD
Labels: release notes: no

#21827 Stop using ByteSize as it's deprecated.
  include/grpcpp/impl/codegen/proto_utils.h
Labels: release notes: no

#21828 Revert "Updates to TLS credentials, version 2"
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#21665 Improved MetadataCredentialsTest
  src/csharp/Grpc.IntegrationTesting/MetadataCredentialsTest.cs
Labels: lang/C#, release notes: no

#21392 New JSON API
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/json/json.h
  src/core/lib/json/json_reader_new.cc
  src/core/lib/json/json_writer_new.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/json/BUILD
  test/core/json/json_test_new.cc
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#21810 Backport: Fix regression in MSVC runtime flag (for v1.27.x)
  cmake/msvc_static_runtime.cmake
Labels: lang/c++, release notes: yes

#21779 [TLS Lib Clean-up] Add host name check For tls library
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  test/core/end2end/fixtures/h2_tls.cc
  test/core/security/BUILD
  test/core/security/tls_security_connector_test.cc
Labels: area/security, lang/core, release notes: no

#21256 Convert security code to use new JSON API
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/json_token.cc
  src/core/lib/security/credentials/jwt/json_token.h
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/security/util/json_util.cc
  src/core/lib/security/util/json_util.h
  src/cpp/client/secure_credentials.cc
  test/core/security/json_token_test.cc
  test/core/security/jwt_verifier_test.cc
  test/core/security/verify_jwt.cc
Labels: release notes: no

#21394 Convert xds bootstrap code to use new JSON API
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/client_channel/xds/xds_bootstrap.h
  src/core/ext/filters/client_channel/xds/xds_channel.cc
  src/core/ext/filters/client_channel/xds/xds_channel_secure.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/lib/iomgr/load_file.cc
  src/core/lib/json/json.h
  test/core/client_channel/xds_bootstrap_test.cc
Labels: release notes: no

#21842 Timestamp ObjC test outputs
  src/objective-c/tests/build_one_example.sh
  src/objective-c/tests/build_tests.sh
  src/objective-c/tests/run_one_test.sh
  src/objective-c/tests/verbose_time.sh
Labels: lang/ObjC, priority/P1, release notes: no

#21747 Make use of alarm in test service more robust
  test/cpp/end2end/test_service_impl.cc
  test/cpp/end2end/test_service_impl.h
Labels: lang/c++, release notes: no

#21841 QPS test: Shutdown server properly before CQs
  test/cpp/qps/server_async.cc
Labels: lang/c++, release notes: no

#21826 Fixed link to http_archive
  src/cpp/README.md
Labels: lang/other, release notes: no

#21388 nest time units
  doc/PROTOCOL-HTTP2.md
Labels: lang/other, release notes: no

#21242 Convert channelz code to use new JSON API
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/cpp/server/channelz/channelz_service.cc
  test/core/channel/channel_trace_test.cc
  test/core/channel/channelz_test.cc
  test/core/end2end/tests/channelz.cc
  test/core/end2end/tests/retry_streaming.cc
  test/cpp/util/channel_trace_proto_helper.cc
  test/cpp/util/channel_trace_proto_helper.h
Labels: release notes: no

#21813 Remove PriorityList from xds LB policy
  src/core/ext/filters/client_channel/lb_policy/xds/xds.cc
Labels: release notes: no

#21803 [Aio] Support wait-for-ready mechanism
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_common.py
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/connectivity_test.py
  src/python/grpcio_tests/tests_aio/unit/done_callback_test.py
  src/python/grpcio_tests/tests_aio/unit/interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/wait_for_ready_test.py
Labels: lang/Python, release notes: yes

#21863 [Aio] Deflake the channel_argument_test & improve socket error handling
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_tests/tests_aio/unit/channel_argument_test.py
Labels: kind/bug, lang/Python, release notes: no

#21714 [Aio] Introduce gRPC Async into our interop combo
  setup.cfg
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_string.pyx.pxi
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/interop/client.py
  src/python/grpcio_tests/tests/interop/server.py
  src/python/grpcio_tests/tests_aio/interop/BUILD.bazel
  src/python/grpcio_tests/tests_aio/interop/__init__.py
  src/python/grpcio_tests/tests_aio/interop/client.py
  src/python/grpcio_tests/tests_aio/interop/local_interop_test.py
  src/python/grpcio_tests/tests_aio/interop/methods.py
  src/python/grpcio_tests/tests_aio/interop/server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/channel_test.py
  templates/tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh.template
  templates/tools/dockerfile/python_build_interop.sh.include
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/interop_matrix/client_matrix.py
  tools/run_tests/run_interop_tests.py
Labels: kind/enhancement, lang/Python, release notes: no

#21770 [Aio] Add tests for timeout mechanism on the client-side
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/call_test.py
  src/python/grpcio_tests/tests_aio/unit/timeout_test.py
Labels: kind/enhancement, lang/Python, release notes: no
