Repository grpc/grpc, pull requests merged in 2020-05, with the labels that each got.

#22830 Added error message recording in AdsService so that it can be compared
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22834 xds: Check RDS ConfigSource in LDS response.
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22746 Fix interceptor batch method FailHijackedRecvMessage for async APIs
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/interceptor_common.h
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/interceptors_util.cc
  test/cpp/end2end/interceptors_util.h
Labels: lang/c++, release notes: yes

#22836 Adjust wait timeout according to test slowdown factor
  test/core/util/test_config.cc
Labels: area/test, lang/core, release notes: no

#22843 Patch typo in iomgr_posix_cfstream documentation
  src/core/lib/iomgr/iomgr_posix_cfstream.cc
Labels: lang/core, release notes: no

#22821 [Aio] Stream Unary client interceptor
  src/python/grpcio/grpc/experimental/aio/__init__.py
  src/python/grpcio/grpc/experimental/aio/_call.py
  src/python/grpcio/grpc/experimental/aio/_channel.py
  src/python/grpcio/grpc/experimental/aio/_interceptor.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/client_stream_unary_interceptor_test.py
Labels: kind/experimental api, lang/Python, release notes: yes

#22853 Passing C repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: release notes: no

#22638 Expose ALTS client/server credentials in Python API
  examples/python/data_transmission/BUILD
  examples/python/data_transmission/alts_client.py
  examples/python/data_transmission/alts_server.py
  examples/python/data_transmission/client.py
  examples/python/data_transmission/server.py
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio_tests/tests/interop/client.py
  src/python/grpcio_tests/tests/interop/server.py
  src/python/grpcio_tests/tests/unit/_api_test.py
  src/python/grpcio_tests/tests_aio/interop/client.py
  src/python/grpcio_tests/tests_aio/interop/server.py
  tools/run_tests/run_interop_tests.py
Labels: area/security, lang/Python, release notes: yes

#22822 add comments to avoid future use of hard-coded creds
  test/core/end2end/data/ssl_test_data.h
Labels: area/security, lang/core, release notes: no

#22857 Modifying SetXdsResource methods sigurature to avoid passing in the
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22844 Update CFStream doc with CFRunLoop poller info
  src/objective-c/README-CFSTREAM.md
Labels: lang/ObjC, lang/core, release notes: no

#22867 Update stale bot to 30 days
  .github/stale.yml
Labels: release notes: no

#22860 Fix the metadata flags test flake
  src/python/grpcio_tests/tests/unit/_metadata_flags_test.py
Labels: kind/bug, lang/Python, release notes: no

#19380 Fix BoringSSL pod name
  test/cpp/cocoapods/Podfile
Labels: release notes: no

#21584 Changes all occurences of %(RelativePath) to %(RelativeDir) in csharp doc
  src/csharp/BUILD-INTEGRATION.md
Labels: disposition/never stale, lang/C#, release notes: no

#21540 Fix typo in recent BUILDING.md update
  BUILDING.md
Labels: disposition/never stale, lang/c++, release notes: no

#22888 Fixing a build error
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22892 Remove flaky test introduced in PR 21932.
  test/cpp/client/credentials_test.cc
Labels: area/security, lang/c++, release notes: no

#22252 Documentation improvements
  BUILDING.md
  src/cpp/README.md
Labels: lang/c++, release notes: no

#22893 Mark override on service method
  test/cpp/end2end/interceptors_util.h
Labels: lang/c++, release notes: no

#22868 Include the destination address in synchronous TCP connect errors
  src/core/lib/iomgr/tcp_client_posix.cc
Labels: lang/core, release notes: yes

#22865 Include the query type and name in all c-ares DNS error messages
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Labels: lang/core, release notes: yes

#22837 Fixes on ApplicationCallbackExecCtx
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/completion_queue.cc
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: release notes: no

#22314 Lazily initialize starting_cpu_ in ExecCtx
  src/core/lib/iomgr/exec_ctx.h
Labels: release notes: no

#22864 Update note on closed feature requests with help wanted label
  CONTRIBUTING.md
Labels: release notes: no

#22903 Do not close kind/bug with stalebot for now
  .github/stale.yml
Labels: release notes: no

#20784 Add config for Bazel CI
  .bazelci/presubmit.yml
Labels: release notes: no

#20866 Add GRPC_ARG_HTTP_PROXY channel argument.
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/http_proxy.cc
Labels: lang/core, release notes: yes

#22429 Fix typo in CallOpSet comments
  include/grpcpp/impl/codegen/call_op_set.h
Labels: release notes: no

#22863 Expose Peer SPIFFE Identity
  include/grpc/grpc_security_constants.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/security/security_connector_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security, lang/core, release notes: no

#22901 Fix #19094 and #21947 - Fix HTTP status conversion inconsistencies
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/transport/status_conversion.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/transport/status_conversion_test.cc
Labels: lang/core, release notes: yes

#22594 Fix generating method output with nested resource
  src/compiler/ruby_generator_string-inl.h
  src/ruby/spec/pb/codegen/grpc/testing/package_options_ruby_style.proto
  src/ruby/spec/pb/codegen/package_option_spec.rb
Labels: disposition/never stale, lang/ruby, release notes: yes

#22855 Stop memory leak when Python channel is deallocated without invoking "close"
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio_tests/tests_py3_only/unit/_leak_test.py
Labels: kind/bug, lang/Python, release notes: yes

#21541 [Doc] Fix Link To C++ Guide
  examples/cpp/route_guide/README.md
Labels: release notes: no

#21720 Fixed MinGW 7.3.0 shared library compile and link issues
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: disposition/never stale, lang/c++, release notes: yes

#22858 xds: When listener does not exist, put channel in TRANSIENT_FAILURE.
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22383 Add comment for error case
  include/grpcpp/server_builder_impl.h
Labels: disposition/stale, lang/c++, release notes: no

#22920 Add module docstring for the leak test
  src/python/grpcio_tests/tests_py3_only/unit/_leak_test.py
Labels: lang/Python, release notes: no

#22887 Make channel/rpc soak interop tests easier to debug
  src/android/test/interop/app/CMakeLists.txt
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
Labels: lang/c++, release notes: no

#22859 Pass repo manager duty to nicolasnoble.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#22921 tools/dockerfile: Run Java build twice to reduce flakiness
  templates/tools/dockerfile/java_build_interop.sh.include
  tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh
Labels: release notes: no

#22915 Convert hash to keyword arguments for ruby 2.7
  src/ruby/lib/grpc/generic/service.rb
Labels: lang/ruby, release notes: yes

#22924 Fix build in c++2a mode
  src/core/lib/gprpp/atomic.h
Labels: kind/bug, lang/core, release notes: no

#22802 Include source address in tcp posix async connect errors
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/iomgr/tcp_client_posix.cc
Labels: lang/core, release notes: yes

#22922 Let the connectivity test use local subchannel pool to create multipl…
  test/core/surface/sequential_connectivity_test.cc
Labels: area/test, release notes: no

#22870 do not write unnecessary (and incorrect) new lines in binary output for the grpc_cli
  test/cpp/util/grpc_cli.cc
Labels: release notes: no

#22894 C#: add SkipGrpcNativeLibs flag (in Grpc.Core.targets)
  src/csharp/Grpc.Core/build/net45/Grpc.Core.targets
Labels: lang/C#, release notes: yes

#22873 TlsCredentialsOption API optimization
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
Labels: lang/c++, release notes: yes

#22734 Fix YARD annotation of GRPC::ClientInterceptor
  src/ruby/lib/grpc/generic/interceptors.rb
Labels: area/documentation, lang/ruby, release notes: yes

#20867 Fix to use immutable string literal
  src/ruby/lib/grpc/generic/rpc_server.rb
Labels: lang/ruby, release notes: yes

#22929 Fail decompression when the gzip trailer is missing
  src/core/lib/compression/message_compress.cc
  test/core/compression/message_compress_test.cc
Labels: lang/core, release notes: yes

#22886 doc/compression.md: Make it clear compression is per-RPC
  doc/compression.md
Labels: release notes: no

#22749 Integrating weighted target policy into xds routing policy
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  src/proto/grpc/testing/xds/lds_rds_for_test.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22933 Revert "Include source address in tcp posix async connect errors"
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/iomgr/tcp_client_posix.cc
Labels: lang/core, release notes: no

#22919 add a static assert for gpr_once with abseil
  src/core/lib/gpr/sync_abseil.cc
Labels: area/core, release notes: no

#22876 Ruby: surface recv_status_op.error_string and into BadStatus exceptions
  src/ruby/ext/grpc/rb_call.c
  src/ruby/lib/grpc/errors.rb
  src/ruby/lib/grpc/generic/active_call.rb
  src/ruby/lib/grpc/structs.rb
  src/ruby/spec/debug_message_spec.rb
Labels: lang/ruby, release notes: yes

#22925 [Aio] Add test cases for server interceptors
  src/python/grpcio/grpc/_common.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py
Labels: lang/Python, release notes: no

#22913 Moved GRPCTypes into its own grpc_objc_library.
  gRPC.podspec
  src/objective-c/BUILD
  src/objective-c/GRPCClient/GRPCCall.m
  src/objective-c/GRPCClient/GRPCTypes.h
  src/objective-c/GRPCClient/GRPCTypes.m
  templates/gRPC.podspec.template
Labels: lang/ObjC, release notes: yes

#22908 PHP: ignore-valgrind-undef-errors from php7.3
  src/php/bin/run_tests.sh
  src/php/docker/php-future/Dockerfile
  templates/src/php/docker/php-future/Dockerfile.template
Labels: lang/php, release notes: no

#22871 objc: add autogenerated header to generated files
  src/compiler/objective_c_plugin.cc
Labels: lang/ObjC, release notes: yes

#22325 Added GRPC_TSAN_SUPPRESSED and GRPC_ASAN_SUPPRESSED
  include/grpc/impl/codegen/port_platform.h
Labels: lang/core, release notes: yes

#22047 grpc_cli: add info about cmake gRPC_BUILD_TESTS flag
  doc/command_line_tool.md
Labels: lang/c++, release notes: no

#22473 Migrate windows RBE to win2019 pool
  WORKSPACE
  third_party/toolchains/BUILD
  third_party/toolchains/README.md
  third_party/toolchains/rbe_win2019/Dockerfile
  tools/gce/create_win2019_container_vm.sh
  tools/remote_build/windows.bazelrc
Labels: disposition/never stale, lang/c++, platform/Windows, release notes: no

#22958 Auto-update Python documentation v1.29.0
  python/.buildinfo
  python/.doctrees/environment.pickle
  python/.doctrees/glossary.doctree
  python/.doctrees/grpc.doctree
  python/.doctrees/grpc_asyncio.doctree
  python/.doctrees/grpc_channelz.doctree
  python/.doctrees/grpc_health_checking.doctree
  python/.doctrees/grpc_reflection.doctree
  python/.doctrees/grpc_status.doctree
  python/.doctrees/grpc_testing.doctree
  python/.doctrees/index.doctree
  python/_modules/grpc.html
  python/_modules/grpc/experimental/aio/_base_call.html
  python/_modules/grpc/experimental/aio/_base_channel.html
  python/_modules/grpc/experimental/aio/_base_server.html
  python/_modules/grpc/experimental/aio/_call.html
  python/_modules/grpc/experimental/aio/_channel.html
  python/_modules/grpc/experimental/aio/_interceptor.html
  python/_modules/grpc/experimental/aio/_server.html
  python/_modules/grpc_channelz/v1/channelz.html
  python/_modules/grpc_health/v1/health.html
  python/_modules/grpc_reflection/v1alpha/reflection.html
  python/_modules/grpc_status/rpc_status.html
  python/_modules/grpc_testing.html
  python/_modules/index.html
  python/_sources/glossary.rst.txt
  python/_static/documentation_options.js
  python/_static/searchtools.js
  python/genindex.html
  python/glossary.html
  python/grpc.html
  python/grpc_asyncio.html
  python/grpc_channelz.html
  python/grpc_health_checking.html
  python/grpc_reflection.html
  python/grpc_status.html
  python/grpc_testing.html
  python/index.html
  python/objects.inv
  python/py-modindex.html
  python/search.html
  python/searchindex.js
Labels: lang/Python, release notes: no

#22770 Revert "Revert "[Aio] Add AsyncIO support to grpcio-status""
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio_status/grpc_status/BUILD.bazel
  src/python/grpcio_status/grpc_status/_async.py
  src/python/grpcio_status/grpc_status/_common.py
  src/python/grpcio_status/grpc_status/rpc_status.py
  src/python/grpcio_tests/tests_aio/status/BUILD.bazel
  src/python/grpcio_tests/tests_aio/status/__init__.py
  src/python/grpcio_tests/tests_aio/status/grpc_status_test.py
  src/python/grpcio_tests/tests_aio/tests.json
Labels: lang/Python, release notes: no

#22957 Add a missing ref and fuzzer test case
  src/core/ext/filters/message_size/message_size_filter.cc
  test/core/end2end/fuzzers/client_fuzzer_corpus/error_refcount
  tools/run_tests/generated/tests.json
Labels: release notes: no

#20417 Fix Ruby 2.7 compatibility in GenericService.underscore
  src/ruby/lib/grpc/generic/service.rb
  src/ruby/spec/generic/service_spec.rb
Labels: lang/ruby, release notes: yes

#22667 [Aio] Add AsyncIO support for Channelz
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_channelz/grpc_channelz/v1/_async.py
  src/python/grpcio_channelz/grpc_channelz/v1/_servicer.py
  src/python/grpcio_channelz/grpc_channelz/v1/channelz.py
  src/python/grpcio_tests/tests_aio/channelz/BUILD.bazel
  src/python/grpcio_tests/tests_aio/channelz/__init__.py
  src/python/grpcio_tests/tests_aio/channelz/channelz_servicer_test.py
  src/python/grpcio_tests/tests_aio/tests.json
Labels: lang/Python, release notes: yes

#22113 Grpc.Tools: Fix cpp paths in tools to match actual codegen.
  src/csharp/Grpc.Tools.Tests/CppGeneratorTest.cs
  src/csharp/Grpc.Tools/GeneratorServices.cs
Labels: disposition/never stale, lang/c++, release notes: yes

#22952 Revert "Let the connectivity test use local subchannel pool to create multipl…"
  test/core/surface/sequential_connectivity_test.cc
Labels: lang/c++, release notes: no

#22930 Simplify running of C# RouteGuide example
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
  examples/csharp/RouteGuide/RouteGuide/RouteGuideUtil.cs
  examples/csharp/RouteGuide/RouteGuideClient/Program.cs
  examples/csharp/RouteGuide/RouteGuideServer/Program.cs
Labels: lang/C#, release notes: no

#22896 Fix properties in Grpc.Tools
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#22604 gRPC docs: remove mention of Python 2.7
  src/python/grpcio/README.rst
Labels: lang/Python, release notes: no

#22959 Update manylinux2010 docker images
  tools/dockerfile/grpc_artifact_python_manylinux2010_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x86/Dockerfile
Labels: area/build, kind/enhancement, lang/Python, release notes: no

#22940 Fix run_tests pip install error
  templates/tools/dockerfile/gcp_api_libraries.include
  templates/tools/dockerfile/python_debian10.include
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/python_stretch.include
  templates/tools/dockerfile/test/csharp_stretch_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_buster_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_jessie_x86/Dockerfile.template
  templates/tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile.template
  templates/tools/dockerfile/test/fuzzer/Dockerfile.template
  templates/tools/dockerfile/test/node_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/php7_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/php_jessie_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_jessie_x64/Dockerfile.template
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_sanitizers_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1404_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/php_jessie_x64/Dockerfile
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/dockerfile/test/python_stretch_default_x64/Dockerfile
  tools/dockerfile/test/ruby_jessie_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: infra/buildgen, release notes: no

#22966 Trigger xds routing support via env var instead of channel arg.
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/xds/xds_api.cc
  src/core/ext/filters/client_channel/xds/xds_api.h
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22939 Fix log ping format
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: kind/bug, lang/core, release notes: no

#22969 Roll-forward sequential_connection_test
  test/core/surface/sequential_connectivity_test.cc
Labels: area/test, release notes: no

#22819 Remove flaky flag from ChannelzChannelTest::LastCallStartedTime
  Makefile
  build_autogenerated.yaml
  test/core/channel/BUILD
  tools/run_tests/generated/tests.json
Labels: area/test, kind/bug, lang/core, release notes: no

#22818 Remove flaky flag from bm opencensus plugin test
  test/cpp/microbenchmarks/BUILD
Labels: area/test, kind/bug, release notes: no

#22838 PHP: add interop test case of compression
  src/php/tests/interop/interop_client.php
  tools/run_tests/run_interop_tests.py
Labels: lang/php, release notes: no

#22768 doc: clarify that gRPC paths are case-sensitive
  doc/PROTOCOL-HTTP2.md
Labels: release notes: no

#22971 Quickfix for linting in docstring
  src/compiler/python_generator.cc
Labels: lang/Python, release notes: no

#22976 Don't override cmake cxx standard when already set by the user
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#22704 C# XDS interop client
  src/csharp/Grpc.IntegrationTesting.XdsClient/.gitignore
  src/csharp/Grpc.IntegrationTesting.XdsClient/Grpc.IntegrationTesting.XdsClient.csproj
  src/csharp/Grpc.IntegrationTesting.XdsClient/Program.cs
  src/csharp/Grpc.IntegrationTesting.XdsClient/Properties/AssemblyInfo.cs
  src/csharp/Grpc.IntegrationTesting/XdsInteropClient.cs
  src/csharp/Grpc.IntegrationTesting/XdsInteropClientTest.cs
  src/csharp/Grpc.sln
  src/csharp/tests.json
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_csharp.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
Labels: lang/C#, release notes: no

#22981 Stale bot to 90 days
  .github/stale.yml
Labels: release notes: no

#22950 Ruby xDS interop test client
  src/ruby/pb/test/xds_client.rb
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/internal_ci/linux/grpc_xds_ruby.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: lang/ruby, release notes: no

#22774 PHP: do no re-create persisted channels in forked child process
  src/php/ext/grpc/php_grpc.c
Labels: lang/php, release notes: no

#22296 Add grpc-java v1.28.0 & v1.27.2 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#22932 Add some additional delay when sending pings without there being activity on receive side
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: yes

#22988 nit: change first letter of the function name to capital letter
  src/core/lib/security/security_connector/ssl_utils.cc
Labels: area/security, lang/core, release notes: no

#22995 Don't use send_initial_metadata payload unless this batch has it
  src/core/ext/filters/http/client_authority_filter.cc
Labels: area/concurrency, area/core, release notes: no

#22934 Allowing the default route to be weighted_clusters; this support is
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22993 PHP: Fix include path for boringssl in windows build
  config.w32
  templates/config.w32.template
  tools/distrib/pylint_code.sh
Labels: lang/php, release notes: no

#23005 Fix StartCall: make corking work and allow concurrent Start*
  include/grpcpp/impl/codegen/client_callback_impl.h
  test/cpp/end2end/client_callback_end2end_test.cc
Labels: area/concurrency, lang/c++, release notes: no

#22994 PHP: Fix include path for boringssl in windows build
  config.w32
  templates/config.w32.template
Labels: lang/php, release notes: no

#22992 Add more logs and asserts to qps_worker
  test/cpp/qps/driver.cc
  test/cpp/qps/qps_worker.cc
Labels: area/test, kind/enhancement, lang/c++, release notes: no

#23007 Stablize Python's channel_ready_test
  src/python/grpcio_tests/tests_aio/unit/channel_ready_test.py
Labels: kind/bug, lang/Python, release notes: no

#23017 Add java v1.29.0 release to client matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#23014 Bump version to 1.29.1 for PHP
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/php, release notes: no

#23010 Bump version to 1.28.2 for Obj-C
  BUILD
  CMakeLists.txt
  Makefile
  build.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/csharp/build_unitypackage.bat
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/pylint_code.sh
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
Labels: lang/ObjC, release notes: no

#23006 [Expose SPIFFE ID] add logging when multiple IDs
  src/core/lib/security/security_connector/ssl_utils.cc
Labels: area/security, lang/core, release notes: no

#22960 Use an array allocator for HandshakerFactoryList
  src/core/lib/channel/handshaker_registry.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#22983 Default Route matcher checking:
  src/core/ext/filters/client_channel/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22772 Remove gpr_strvec.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/handshaker.cc
  src/core/lib/debug/stats.cc
  src/core/lib/debug/stats.h
  src/core/lib/gpr/string.cc
  src/core/lib/gpr/string.h
  src/core/lib/http/format_request.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/surface/call_log_batch.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/event_string.cc
  src/core/lib/surface/event_string.h
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_op_string.cc
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
  test/core/bad_client/tests/large_metadata.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/cq_verifier.cc
  test/core/end2end/tests/simple_request.cc
  test/core/gpr/arena_test.cc
  test/core/security/verify_jwt.cc
  test/core/util/cmdline.cc
  test/core/util/cmdline.h
  test/core/util/cmdline_test.cc
Labels: release notes: no

#23026 Add configurable client to Python xDS Example
  examples/python/xds/README.md
  examples/python/xds/client.py
Labels: area/documentation, lang/Python, release notes: no

#22926 xds: Put channel in TRANSIENT_FAILURE when CDS resource is removed.
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22989 C# upgrade sourcelink
  src/csharp/Grpc.Core/SourceLink.csproj.include
Labels: lang/C#, release notes: no

#23024 Add experimental call attribute accessor method to LoadBalancingPolicy::CallState.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
Labels: release notes: no

#23023 Add wait_for_instance_group_to_reach_expected_size
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23025 Fix build_one_example.sh script build issue.
  src/objective-c/tests/build_one_example.sh
Labels: lang/ObjC, release notes: no

#23053 Revert "Remove gpr_strvec."
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.cc
  src/core/ext/filters/client_channel/resolving_lb_policy.h
  src/core/ext/filters/client_channel/xds/xds_bootstrap.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/handshaker.cc
  src/core/lib/debug/stats.cc
  src/core/lib/debug/stats.h
  src/core/lib/gpr/string.cc
  src/core/lib/gpr/string.h
  src/core/lib/http/format_request.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/surface/call_log_batch.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/event_string.cc
  src/core/lib/surface/event_string.h
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_op_string.cc
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
  test/core/bad_client/tests/large_metadata.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/cq_verifier.cc
  test/core/end2end/tests/simple_request.cc
  test/core/gpr/arena_test.cc
  test/core/security/verify_jwt.cc
  test/core/util/cmdline.cc
  test/core/util/cmdline.h
  test/core/util/cmdline_test.cc
Labels: release notes: no

#23049 Pass repo manager resposibility to Karthik
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#21876 Move windows.h to before check for minimum version instead of after
  include/grpc/impl/codegen/port_platform.h
Labels: kind/bug, lang/core, platform/Windows, release notes: no

#23060 Inproc transport server should end all RPC ops after sending status
  src/core/ext/transport/inproc/inproc_transport.cc
  test/core/end2end/tests/server_finishes_request.cc
Labels: area/core, release notes: no

#23018 Stablize metadata flags test
  src/python/grpcio_tests/tests/unit/_metadata_flags_test.py
Labels: lang/Python, release notes: no

#23022 Reenable --fail_on_failed_rpcs flag
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23057 Trying to fix `ruby requirements` error
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: disposition/BUILDCOP, release notes: no

#23065 Fixing small internal naming error.
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
Labels: release notes: no

#23013 Refactor ServiceConfig code to pave the way for adding a ConfigSelector API
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/service_config.cc
  src/core/ext/filters/client_channel/service_config.h
  src/core/ext/filters/client_channel/service_config_call_data.h
  src/core/ext/filters/client_channel/service_config_parser.cc
  src/core/ext/filters/client_channel/service_config_parser.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/lib/channel/context.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/service_config_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#23056 PHP xDS Interop Client
  src/php/bin/generate_proto_php.sh
  src/php/lib/Grpc/RpcServer.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerStatsServiceStub.php
  src/php/tests/interop/xds_client.php
  tools/dockerfile/test/php73_zts_stretch_x64/Dockerfile
  tools/internal_ci/linux/grpc_experiment.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_php.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
Labels: lang/php, release notes: yes

#23009 xds interop: add test case for traffic splitting
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23074 Fix race condition in health checking client.
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
Labels: release notes: no

#22986 PHP:add psr-4 autoload
  examples/php/composer.json
  examples/php/greeter_client.php
Labels: lang/php, release notes: no

#23076 Remove grpc_experiment.cfg checked in accidentally
  tools/internal_ci/linux/grpc_experiment.cfg
Labels: infra/buildgen, release notes: no

#23062 PHP: better error checking in helloworld greeter_client
  examples/php/greeter_client.php
Labels: lang/php, release notes: no

#23077 Revert "Inproc transport server should end all RPC ops after sending status"
  src/core/ext/transport/inproc/inproc_transport.cc
  test/core/end2end/tests/server_finishes_request.cc
Labels: disposition/BUILDCOP, release notes: no

#23020 PHP: AbstractCall remove decode method
  src/php/lib/Grpc/AbstractCall.php
Labels: lang/php, release notes: no

#23078 fix xds interop test framework error
  tools/run_tests/run_xds_tests.py
Labels: lang/other, release notes: no

#23080 Partially revert "Revert "Inproc transport server should end all RPC ops after sending status"": transport changes only
  src/core/ext/transport/inproc/inproc_transport.cc
Labels: release notes: no

#23073 Remove XdsClient from channel args to fix subchannel sharing.
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/lrs.cc
  src/core/ext/filters/client_channel/xds/xds_client.cc
  src/core/ext/filters/client_channel/xds/xds_client.h
Labels: release notes: no

#23071 Fix CDS and EDS policies to destroy their children in OnResourceDoesNotExist().
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/eds.cc
Labels: release notes: no

#23037 Support local creds in grpc_cli
  test/cpp/util/cli_credentials.cc
Labels: lang/c++, lang/core, release notes: yes

#23085 Add option to pass in custom target to helloworld example for PHP/Ruby
  examples/php/greeter_client.php
  examples/php/greeter_proto_gen.sh
  examples/ruby/greeter_client.rb
Labels: lang/php, lang/ruby, release notes: no

#23086 Fix sorting of gRPCLB addresses when resolved via DNS
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  test/cpp/naming/gen_build_yaml.py
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
Labels: lang/core, release notes: yes

#23064 Fixing a flake in xds_end2end_test newly added test
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#23095 PHP: Update Compression example
  src/php/README.md
Labels: lang/php, release notes: no
