Repository grpc/grpc, pull requests merged in 2021-10, with the labels that each got.

#27527 Assert binder is not null when creating binder transport
  src/core/ext/transport/binder/transport/binder_transport.cc
Labels: lang/core, release notes: no

#27539 Update root pem certs
  etc/roots.pem
Labels: release notes: no

#27537 Upgrade PHP7 docker image to use Debian 9
  templates/tools/dockerfile/interoptest/grpc_interop_php7/Dockerfile.template
  templates/tools/dockerfile/php7_deps.include
  templates/tools/dockerfile/test/php7_debian9_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_php7/Dockerfile
  tools/dockerfile/test/php7_debian9_x64/Dockerfile
  tools/run_tests/run_tests.py
Labels: lang/php, area/build, release notes: no

#27541 Remove C# GCE framework tests on master branch
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_csharp.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_v3_csharp.cfg
  tools/internal_ci/linux/grpc_xds_v3_csharp.sh
  tools/internal_ci/linux/grpc_xds_v3_csharp_test_in_docker.sh
Labels: release notes: no

#27509 don't create secure endpoint if TSI implementation does not require it
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/transport_security.cc
  src/core/tsi/transport_security.h
  src/core/tsi/transport_security_interface.h
Labels: lang/core, release notes: no

#27291 Promises benchmarks
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/promise/benchmark/BUILD
  test/core/promise/benchmark/competition.cc
  test/core/promise/benchmark/filter_stack.cc
  test/core/promise/benchmark/filter_stack.h
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#27551 Revert promise benchmarks
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/promise/benchmark/BUILD
  test/core/promise/benchmark/competition.cc
  test/core/promise/benchmark/filter_stack.cc
  test/core/promise/benchmark/filter_stack.h
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#27466 Changed grpc_error_get|set_str to use std string instead of slice
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/ext/transport/chttp2/transport/frame_goaway.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/iomgr/load_file.cc
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_client_windows.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/transport/tsi_error.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/validate_metadata.cc
  src/core/lib/transport/error_utils.cc
  src/core/lib/transport/error_utils.h
  src/core/lib/transport/metadata_batch.cc
  test/core/bad_client/tests/bad_streaming_id.cc
  test/core/bad_client/tests/out_of_bounds.cc
  test/core/bad_client/tests/unknown_frame.cc
  test/core/iomgr/BUILD
  test/core/iomgr/error_test.cc
  test/core/iomgr/work_serializer_test.cc
  test/core/security/aws_request_signer_test.cc
  test/core/security/credentials_test.cc
  test/core/security/grpc_tls_certificate_distributor_test.cc
  test/core/security/grpc_tls_certificate_provider_test.cc
  test/core/transport/error_utils_test.cc
  test/cpp/microbenchmarks/bm_error.cc
  tools/run_tests/generated/tests.json
Labels: area/core, lang/c++, kind/internal cleanup, lang/core, release notes: no

#27523 OpenCensusCallTracer: Move context generation to StartTransportStreamOpBatch
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/client_filter.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++, release notes: yes

#27558 Fix load test name format for more than 10 runs per test.
  tools/run_tests/performance/loadtest_config.py
Labels: release notes: no

#27572 Passing repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra

#27562 Fix fuzzer found bug in resource quota
  src/core/lib/resource_quota/memory_quota.cc
  test/core/resource_quota/memory_quota_fuzzer_corpus/testcase-5651890842501120
Labels: lang/core, release notes: no

#27560 Reland promise benchmarks (#27551)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/promise/BUILD
  test/core/promise/benchmark/BUILD
  test/core/promise/benchmark/competition.cc
  test/core/promise/benchmark/filter_stack.cc
  test/core/promise/benchmark/filter_stack.h
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#27567 Modify hpack benchmark scenarios
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: lang/c++, release notes: no

#27496 EventEngine Test Suite: Timers
  test/core/event_engine/BUILD
  test/core/event_engine/test_suite/README.md
  test/core/event_engine/test_suite/event_engine_test.cc
  test/core/event_engine/test_suite/event_engine_test.h
  test/core/event_engine/test_suite/timer_test.cc
Labels: area/test, lang/core, release notes: yes

#27406 Promises fuzzer
  src/core/lib/promise/activity.h
  test/core/promise/BUILD
  test/core/promise/promise_fuzzer.cc
  test/core/promise/promise_fuzzer.proto
  test/core/promise/promise_fuzzer_corpus/crash-4758aec0c3e382d4fb3e398d634d8da72ed0d574
  test/core/promise/promise_fuzzer_corpus/leak-90b749c0ca79c7a11d25f4b6f0594af99fe4a78f
Labels: lang/core, release notes: no

#26779 File watcher authorization policy provider implementation
  BUILD
  grpc.def
  include/grpc/grpc_security.h
  include/grpcpp/security/authorization_policy_provider.h
  src/core/lib/security/authorization/authorization_policy_provider.h
  src/core/lib/security/authorization/grpc_authorization_engine.h
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/grpc_authorization_policy_provider.h
  src/cpp/server/authorization_policy_provider.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/tests/sdk_authz.cc
  test/core/security/BUILD
  test/core/security/authorization/test_policies/BUILD
  test/core/security/authorization/test_policies/invalid_policy.json
  test/core/security/authorization/test_policies/valid_policy_1.json
  test/core/security/authorization/test_policies/valid_policy_2.json
  test/core/security/grpc_authorization_policy_provider_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/sdk_authz_end2end_test.cc
  test/cpp/server/BUILD
  test/cpp/server/authorization_policy_provider_test.cc
Labels: lang/c++, lang/core, release notes: no

#27435 Dont crash if channelz not initialized
  src/core/ext/filters/client_channel/client_channel.cc
Labels: lang/core, release notes: no

#27493 Fix stdout handling in jobset.py
  tools/run_tests/python_utils/jobset.py
  tools/run_tests/python_utils/upload_test_results.py
Labels: area/test, release notes: no, lang/all

#27579 xds_k8s_test: increase timeout to 3 hours due to recent timeout failure
  tools/internal_ci/linux/grpc_xds_k8s.cfg
Labels: release notes: no

#27590 Revert "xds_k8s_test: increase timeout to 3 hours due to recent timeout failure"
  tools/internal_ci/linux/grpc_xds_k8s.cfg
Labels: release notes: no

#27582 Increase XDS e2e shard count
  test/cpp/end2end/BUILD
Labels: lang/c++, release notes: no

#27538 Fix rvm ruby install failure
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: area/test, release notes: no

#27581 update specs file for benchmark
  tools/profiling/microbenchmarks/bm_json.py
Labels: release notes: no

#27589 Revert "xds_k8s_test: increase timeout to 3 hours due to recent timeout failure"
  tools/internal_ci/linux/grpc_xds_k8s.cfg
Labels: release notes: no

#27363 Describe support-levels for undocumented supported platforms
  src/cpp/README.md
Labels: lang/c++, area/documentation, release notes: yes

#27121 Drop -msse4 compiler flag
  Makefile
  templates/Makefile.template
Labels: lang/core, area/build, release notes: no

#27584 Speed up microbenchmark tests
  build_autogenerated.yaml
  test/core/promise/benchmark/BUILD
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/grpc_benchmark_config.bzl
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no

#27591 Revert "File watcher authorization policy provider implementation"
  BUILD
  grpc.def
  include/grpc/grpc_security.h
  include/grpcpp/security/authorization_policy_provider.h
  src/core/lib/security/authorization/authorization_policy_provider.h
  src/core/lib/security/authorization/grpc_authorization_engine.h
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/grpc_authorization_policy_provider.h
  src/cpp/server/authorization_policy_provider.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/tests/sdk_authz.cc
  test/core/security/BUILD
  test/core/security/authorization/test_policies/BUILD
  test/core/security/authorization/test_policies/invalid_policy.json
  test/core/security/authorization/test_policies/valid_policy_1.json
  test/core/security/authorization/test_policies/valid_policy_2.json
  test/core/security/grpc_authorization_policy_provider_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/sdk_authz_end2end_test.cc
  test/cpp/server/BUILD
  test/cpp/server/authorization_policy_provider_test.cc
Labels: lang/c++, lang/core, release notes: no

#27588 Exclude microbenchmarks from cmake
  CMakeLists.txt
  build_autogenerated.yaml
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/run_tests/generated/tests.json
Labels: release notes: no

#27586 Delete successful load tests.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#27566 Fix fuzzer found bug in chunked vector
  src/core/lib/gprpp/chunked_vector.h
  test/core/gprpp/chunked_vector_corpora/testcase-5405829431427072
Labels: lang/core, release notes: no

#27544 centralize handling of channel's default authority
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/transport/chttp2/client/authority.cc
  src/core/ext/transport/chttp2/client/authority.h
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/lib/transport/authority_override.cc
  src/core/lib/transport/authority_override.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/util/test_lb_policies.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no

#27610 Revert "Reland moving promises build config out of root"
  BUILD
  bazel/grpc_build_system.bzl
  src/core/lib/promise/BUILD
  test/core/promise/BUILD
  test/core/promise/benchmark/BUILD
Labels: lang/core

#27608 Check that grpc_package statements have the right name
  test/core/client_channel/resolvers/BUILD
  test/core/resource_quota/BUILD
  test/core/uri/BUILD
  test/cpp/ext/filters/census/BUILD
  tools/run_tests/sanity/check_package_name.py
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/c++, lang/core, release notes: no

#27576 Rename `prefix` to `index` in index generator.
  tools/run_tests/performance/loadtest_config.py
Labels: release notes: no

#27616 Revert "centralize handling of channel's default authority"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/transport/chttp2/client/authority.cc
  src/core/ext/transport/chttp2/client/authority.h
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/lib/transport/authority_override.cc
  src/core/lib/transport/authority_override.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/util/test_lb_policies.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no

#27594 Split JSON lib into its own target
  BUILD
  src/core/lib/json/json_writer.cc
Labels: lang/core, release notes: no

#27624 Second attempt: centralize handling of channel's default authority
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/transport/chttp2/client/authority.cc
  src/core/ext/transport/chttp2/client/authority.h
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/lib/transport/authority_override.cc
  src/core/lib/transport/authority_override.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/util/test_lb_policies.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no

#27522 Integrate new resource quota, event engine
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/event_engine/event_engine.h
  include/grpc/event_engine/internal/memory_allocator_impl.h
  include/grpc/event_engine/memory_allocator.h
  include/grpc/event_engine/slice_allocator.h
  package.xml
  src/core/ext/transport/chttp2/transport/chttp2_slice_allocator.cc
  src/core/ext/transport/chttp2/transport/chttp2_slice_allocator.h
  src/core/lib/event_engine/memory_allocator.cc
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  src/core/lib/resource_quota/resource_quota.cc
  src/core/lib/resource_quota/resource_quota.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/resource_quota/memory_quota_fuzzer.cc
  test/core/resource_quota/memory_quota_stress_test.cc
  test/core/resource_quota/memory_quota_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#27553 Add logs containing request details to authorization.
  src/core/lib/security/authorization/sdk_server_authz_filter.cc
Labels: lang/core, release notes: no

#26441 pass health check service name through LB policies via a channel arg
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
Labels: lang/core, release notes: no

#27635 [Aio] Resolve deprecated warnings from asyncio
  src/python/grpcio/grpc/_cython/_cygrpc/aio/common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/aio/_call.py
  src/python/grpcio/grpc/aio/_channel.py
  src/python/grpcio/grpc/aio/_interceptor.py
  src/python/grpcio_tests/tests_aio/unit/_constants.py
  src/python/grpcio_tests/tests_aio/unit/compatibility_test.py
Labels: lang/Python, release notes: yes

#27557 Various fixes on absl::Status migration
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/iomgr/error_cfstream.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/transport/error_utils.cc
  src/cpp/client/secure_credentials.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/inproc_callback_test.cc
  test/core/end2end/tests/cancel_test_helpers.h
  test/core/end2end/tests/simple_request.cc
  test/core/iomgr/error_test.cc
  test/core/resource_quota/memory_quota_fuzzer.cc
  test/cpp/end2end/end2end_test.cc
Labels: kind/bug, lang/c++, lang/core, release notes: no

#27646 Restore heading "gRPC OSS benchmarks"
  tools/run_tests/performance/README.md
Labels: release notes: no

#27515 Bazel distribtest fixes
  test/distrib/bazel/test_single_bazel_version.sh
  tools/bazel
  tools/internal_ci/linux/grpc_bazel_distribtest.sh
  tools/internal_ci/linux/grpc_bazel_distribtest_latest.cfg
  tools/internal_ci/linux/grpc_bazel_distribtest_latest.sh
Labels: release notes: no

#27652 Switch main benchmark CI job to c2 class worker pools
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: release notes: no

#27649 Change reclaimer function signature
  build_autogenerated.yaml
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  test/core/resource_quota/BUILD
  test/core/resource_quota/call_checker.h
  test/core/resource_quota/memory_quota_fuzzer.cc
  test/core/resource_quota/memory_quota_fuzzer_corpus/testcase-4574576847224832
  test/core/resource_quota/memory_quota_fuzzer_corpus/testcase-4574576847224832-after-creduce
  test/core/resource_quota/memory_quota_stress_test.cc
  test/core/resource_quota/memory_quota_test.cc
Labels: lang/core, release notes: no

#27642 clean up ServiceConfigCallData API
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/service_config_call_data.h
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
Labels: lang/core, release notes: no

#27645 File watcher authorization policy provider implementation
  BUILD
  grpc.def
  include/grpc/grpc_security.h
  include/grpcpp/security/authorization_policy_provider.h
  src/core/lib/security/authorization/authorization_policy_provider.h
  src/core/lib/security/authorization/grpc_authorization_engine.h
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/grpc_authorization_policy_provider.h
  src/cpp/server/authorization_policy_provider.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/tests/sdk_authz.cc
  test/core/security/BUILD
  test/core/security/authorization/test_policies/BUILD
  test/core/security/authorization/test_policies/invalid_policy.json
  test/core/security/authorization/test_policies/valid_policy_1.json
  test/core/security/authorization/test_policies/valid_policy_2.json
  test/core/security/grpc_authorization_policy_provider_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/sdk_authz_end2end_test.cc
  test/cpp/server/BUILD
  test/cpp/server/authorization_policy_provider_test.cc
Labels: lang/c++, lang/core, release notes: no

#27675 Fetch only required commit from test-infra repo.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#27638 Fix event engine timer test suite
  test/core/event_engine/BUILD
Labels: lang/core, release notes: no

#27677 Clone test-infra repo instead of fetching commit.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#27283 PHP: fix ChannelCredentials\createSsl parameter phpdocs
  src/php/ext/grpc/channel_credentials.c
Labels: lang/php, release notes: no

#27704 Fix libuv dependency hash
  bazel/grpc_deps.bzl
Labels: area/build, release notes: no

#27681 [Backport][v1.37.x] xds-k8s tests: Use test driver from master branch
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: area/test, release notes: no

#27691 [Backport][v1.38.x] xds-k8s tests: Use test driver from master branch
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: area/test, release notes: no

#27702 start splitting up xds_end2end_test
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++, release notes: no

#27703 [Port #27620] Fix Python Interop
  templates/tools/dockerfile/apt_get_basic_bullseye.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_build_interop.sh.include
  templates/tools/dockerfile/python_bullseye.include
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: lang/Python, area/test, release notes: no

#27725 Revert "start splitting up xds_end2end_test"
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
  test/cpp/end2end/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, release notes: no

#27701 Remove old backwards compatibility cronet compression workaround code
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.h
  src/core/ext/filters/workarounds/workaround_utils.cc
  src/core/ext/filters/workarounds/workaround_utils.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/fixtures/h2_full+workarounds.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/workaround_cronet_compression.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/ObjC, lang/core, release notes: yes

#27726 Second attempt: start splitting up xds_end2end_test
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/counted_service.h
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++, release notes: no

#27721 Update bazel version to 4.2.1 in binder_transport_apk docker image
  tools/dockerfile/test/binder_transport_apk/Dockerfile
Labels: release notes: no

#27738 Revert RLS LB policy
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no

#27240 Catch ExecuteBatchError in _consume_request_iterator
  src/python/grpcio/grpc/aio/_call.py
  src/python/grpcio_tests/tests_aio/unit/server_test.py
Labels: lang/Python, release notes: yes

#27248 PHP: add test cases to test retry
  src/php/tests/generated_code/AbstractGeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeWithCallbackTest.php
  src/php/tests/generated_code/math_server.php
Labels: lang/php, release notes: no

#27741 [objc] Remove pre install header search path patch in core test
  src/objective-c/tests/CoreTests/Podfile
Labels: lang/ObjC, platform/iOS, release notes: no

#27746 const absl::Status& instead of absl::Status for StatusToProto
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
Labels: kind/internal cleanup, lang/core, release notes: no

#27749 [Port #27703 to master] Fix Python Interop Base Image
  templates/tools/dockerfile/apt_get_basic_bullseye.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_build_interop.sh.include
  templates/tools/dockerfile/python_bullseye.include
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/build_interop.sh
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
Labels: lang/Python, area/test, release notes: no

#27672 Add Tests for the cmp() functions in Tls*SecurityConnector
  test/core/security/tls_security_connector_test.cc
Labels: area/security, lang/core, release notes: no

#27758 [Port of #27679] Switch Python xDS Example Server to Listen on IPV4 Only
  examples/python/xds/server.py
Labels: area/documentation, lang/Python, release notes: no

#27571 Address leak when using request stream interceptors (#25449)
  src/python/grpcio/grpc/aio/_interceptor.py
Labels: lang/Python, release notes: yes

#25794 ruby: build native Darwin gems using rake-compiler-dock
  Rakefile
  grpc.gemspec
  src/ruby/ext/grpc/extconf.rb
  templates/grpc.gemspec.template
  templates/src/ruby/ext/grpc/extconf.rb.template
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
Labels: lang/ruby, release notes: yes

#27767 [Aio] Add add_done_callback/done/cancelled methods to ServicerContext
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/done_callback_test.py
Labels: lang/Python, release notes: yes

#27779 Revert "Add metadata specialization for te: trailers"
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: release notes: no

#27753 Fix API fuzzer bugs
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/end2end/fuzzers/api_fuzzer_corpus/create_connection.textproto
Labels: lang/core, release notes: no

#27748 Second attempt: RLS LB policy
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls.upbdefs.h
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/credentials.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/lookup/v1/rls.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no

#27718 Wait for in-flight requests to complete during shutdown
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
Labels: lang/core, release notes: no

#27785 Reland te:trailers metadata change with fixes
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  tools/codegen/core/gen_static_metadata.py
Labels: lang/c++, lang/core, release notes: no

#27529 Add resolver for binder transport URI scheme
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/binder/README.md
  src/core/ext/filters/client_channel/resolver/binder/binder_resolver.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/BUILD
  test/core/client_channel/resolvers/binder_resolver_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#27798 Fix CBF in ios
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core, release notes: no

#27806 Reland #27275
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/dummy_plugin.py
  bazel/test/python_test_repo/import_from_proto_library_package.py
  bazel/test/python_test_repo/import_from_this_package.py
  bazel/test/python_test_repo/in_subpackage/BUILD
  bazel/test/python_test_repo/in_subpackage/subpackage.proto
  bazel/test/python_test_repo/transitive_proto_dep.py
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
Labels: lang/Python, area/build, release notes: no

#27875 revert changes to not build RLS on mobile
  BUILD
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/client_channel/BUILD
  test/cpp/end2end/BUILD
Labels: lang/c++, lang/core, release notes: no

#27865 Give up on one vtable per type per process
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: release notes: no

#27877 Revert "[objc] GRPCMetadataDictionary convenient typedef"
  src/objective-c/GRPCClient/GRPCCallOptions.h
  src/objective-c/GRPCClient/GRPCCallOptions.m
  src/objective-c/GRPCClient/GRPCTypes.h
Labels: lang/ObjC, platform/iOS, release notes: no

#27835 Fix assert on unknown compression algorithm
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/crash-on-unknown-compression-algorithm
Labels: lang/core, release notes: no

#27868 Hotfix for low java throughput in e2e GKE benchmarks
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#27740 [objc] podfile cleanup and add core test to script to run
  gRPC-Core.podspec
  src/objective-c/tests/CoreTests/CoreTests.xcodeproj/project.pbxproj
  src/objective-c/tests/CoreTests/Podfile
  src/objective-c/tests/CoreTests/build_and_run_tests.sh
  src/objective-c/tests/CoreTests/build_tests.sh
  src/objective-c/tests/CoreTests/verbose_time.sh
  templates/gRPC-Core.podspec.template
  tools/run_tests/run_tests.py
Labels: lang/ObjC, kokoro:run, platform/iOS, release notes: no

#27830 [objc] switch to official protobuf podspec
  src/cpp/Protobuf-C++.podspec
  test/cpp/ios/Podfile
Labels: lang/c++, lang/ObjC, kokoro:run, platform/iOS, release notes: no
