Repository grpc/grpc, pull requests merged in 2021-05, with the labels that each got.

#26149 Fix typos and format of LoadTest generator output.
  tools/run_tests/performance/README.md
  tools/run_tests/performance/loadtest_config.py
  tools/run_tests/performance/loadtest_template.py
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
Labels: release notes: no

#26107 Update docs on gRPC C#
  src/csharp/Grpc.Core.NativeDebug/Grpc.Core.NativeDebug.csproj
  src/csharp/Grpc.Core.Testing/Grpc.Core.Testing.csproj
  src/csharp/Grpc.Core.Xamarin/Grpc.Core.Xamarin.csproj
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/README.md
Labels: lang/C#, release notes: no

#26143 Revert "Revert "Expose code and details from context on the server side""
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/_metadata_code_details_test.py
  src/python/grpcio_tests/tests_aio/unit/metadata_test.py
Labels: lang/Python, release notes: no

#26114 Add CSDS API to Python
  src/proto/grpc/testing/xds/v3/BUILD
  src/python/grpcio/grpc/_cython/_cygrpc/csds.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pyx
  src/python/grpcio_csds/.gitignore
  src/python/grpcio_csds/MANIFEST.in
  src/python/grpcio_csds/README.rst
  src/python/grpcio_csds/grpc_csds/BUILD.bazel
  src/python/grpcio_csds/grpc_csds/__init__.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csds/setup.py
  src/python/grpcio_tests/tests/csds/BUILD.bazel
  src/python/grpcio_tests/tests/csds/test_csds.py
  templates/src/python/grpcio_csds/grpc_version.py.template
  tools/distrib/python/grpc_prefixed/generate.py
  tools/distrib/python/xds_protos/build.py
  tools/distrib/python/xds_protos/build_validate_upload.sh
  tools/distrib/python/xds_protos/setup.py
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: yes

#26146 Add useful status error message when server threadpool is exhausted
  include/grpcpp/impl/codegen/method_handler.h
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#26157 Add examples for xDS greeter client and server
  examples/cpp/helloworld/BUILD
  examples/cpp/helloworld/xds_greeter_client.cc
  examples/cpp/helloworld/xds_greeter_server.cc
Labels: release notes: no

#26153 Add load test that measures QPS for dashboard display.
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/loadtest_config.py
Labels: release notes: no

#26161 Parse command-line args for xds client server example
  examples/cpp/helloworld/BUILD
  examples/cpp/helloworld/xds_greeter_client.cc
  examples/cpp/helloworld/xds_greeter_server.cc
Labels: release notes: no

#26165 update xds feature list
  doc/grpc_xds_features.md
Labels: release notes: no

#26154 Fix grpc distribtests - broken virtualenv install
  tools/dockerfile/distribtest/python_ubuntu1604_x64/Dockerfile
Labels: area/test, lang/other, release notes: no

#26169 Support Swift Package Manager for gRPC-Core and gRPC-C++.
  Package.swift
Labels: platform/iOS, release notes: no

#26170 Add Python PSM security example
  examples/python/xds/README.md
  examples/python/xds/client.py
  examples/python/xds/requirements.txt
  examples/python/xds/server.py
Labels: area/documentation, lang/Python, release notes: no

#26080 Grpc.Tools: Use x64 protoc on macOS arm64
  src/csharp/Grpc.Tools.Tests/ProtoToolsPlatformTaskTest.cs
  src/csharp/Grpc.Tools/ProtoToolsPlatform.cs
Labels: lang/C#, release notes: yes

#26177 Add explanatory comments for the grpc distribtests fix
  tools/dockerfile/distribtest/python_ubuntu1604_x64/Dockerfile
Labels: area/test, lang/other, release notes: no

#26090 [xDS interop] Updating the config update timeout to 600s
  tools/run_tests/run_xds_tests.py
Labels: lang/Python, release notes: no

#26187 Increase xds job timeouts
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_k8s.cfg
  tools/internal_ci/linux/grpc_xds_k8s_python.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/internal_ci/linux/grpc_xds_v3.cfg
  tools/internal_ci/linux/grpc_xds_v3_csharp.cfg
  tools/internal_ci/linux/grpc_xds_v3_php.cfg
  tools/internal_ci/linux/grpc_xds_v3_python.cfg
  tools/internal_ci/linux/grpc_xds_v3_ruby.cfg
Labels: release notes: no

#26179 Increase artifact build timeout for windows-C#
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/build, lang/Python, release notes: no

#26188 Maximize 32 cores
  tools/internal_ci/linux/grpc_build_submodule_at_head.sh
  tools/internal_ci/linux/grpc_portability_build_only.cfg
Labels: area/build, release notes: no

#26192 Workaround quota issue with target-grpc-proxies
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26181 buildscripts: switch xds-k8s cluster to 1.20.x
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: release notes: no

#26197 Revert "[xDS interop] Updating the config update timeout to 600s (#26…
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26176 Python simpler distribtests
  tools/internal_ci/linux/grpc_distribtests_python.cfg
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/run_tests/task_runner.py
Labels: lang/Python, release notes: no

#26180 Describe status codes on the EventEngine API
  include/grpc/event_engine/event_engine.h
Labels: release notes: no

#26190 [Backport] Add Python PSM security example (#26170)
  examples/python/xds/README.md
  examples/python/xds/client.py
  examples/python/xds/requirements.txt
  examples/python/xds/server.py
Labels: area/documentation, lang/Python, release notes: no

#26204 Add steps to run xDS in a non-exclusive project
  tools/run_tests/xds_k8s_test_driver/README.md
Labels: lang/Python, release notes: no

#26203 PHP: fix generated code test case
  src/php/tests/generated_code/AbstractGeneratedCodeTest.php
Labels: lang/php, release notes: no

#26201 PHP: php server commit 5/n, add php math_server
  src/php/bin/generate_proto_php.sh
  src/php/tests/generated_code/Math/MathStub.php
  src/php/tests/generated_code/math_server.php
Labels: lang/php, release notes: no

#26132 IpAuthorizationMatcher implementation.
  src/core/lib/security/authorization/cel_authorization_engine.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/authorization/matchers.h
  src/core/lib/security/authorization/rbac_policy.h
  src/core/lib/security/credentials/tls/tls_utils.cc
  src/core/lib/security/credentials/tls/tls_utils.h
  test/core/security/authorization_matchers_test.cc
  test/core/security/evaluate_args_test.cc
Labels: release notes: no

#26178 Add test for spm build.
  Package.swift
  test/spm_build/test.cc
Labels: platform/iOS, release notes: no

#26184 Employ prebuilt images in continuous build.
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#26222 [Backport][v1.38.x] Add EventEngine's port.h to the podspec (#26220)
  gRPC-Core.podspec
  templates/gRPC-Core.podspec.template
Labels: area/build, lang/ObjC, release notes: no

#26219 Revert grpc_xds_k8s job timeout back to 120 mins
  tools/internal_ci/linux/grpc_xds_k8s.cfg
Labels: release notes: no

#26223 Update the xDS config update timeout to 600s
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26164 Add "GeneratedCode" attribute to generated service stubs
  src/compiler/csharp_generator.cc
  src/csharp/Grpc.Examples/MathGrpc.cs
  src/csharp/Grpc.HealthCheck/HealthGrpc.cs
  src/csharp/Grpc.IntegrationTesting/BenchmarkServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/EmptyServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/MetricsGrpc.cs
  src/csharp/Grpc.IntegrationTesting/ReportQpsScenarioServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/TestGrpc.cs
  src/csharp/Grpc.IntegrationTesting/WorkerServiceGrpc.cs
  src/csharp/Grpc.Reflection/ReflectionGrpc.cs
Labels: lang/C#, release notes: yes

#26162 Add C# plugin "file_suffix" option defaulting to "Grpc.cs"
  src/compiler/csharp_generator_helpers.h
  src/compiler/csharp_plugin.cc
Labels: lang/C#, release notes: yes

#25697 ring_hash LB policy
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  doc/environment_variables.md
  grpc.gyp
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/endpoint.proto
  src/proto/grpc/testing/xds/v3/regex.proto
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26235 Update test runner invocation in performance tests.
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26232 Address feedback on performance tests continuous runs.
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26241 Adjust concurrency levels for performance tests.
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26238 Revert "ring_hash LB policy"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  doc/environment_variables.md
  grpc.gyp
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/endpoint.proto
  src/proto/grpc/testing/xds/v3/regex.proto
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26250 Correctly reset msg_controllen while processing TCP error queue.
  src/core/lib/iomgr/tcp_posix.cc
Labels: area/core, kind/bug, release notes: no

#26261 log timing info for image build and test runner
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26240 Normalize grpc_error_handle usage
  src/core/ext/filters/client_idle/client_idle_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/iomgr/tcp_server_custom.cc
  src/core/lib/transport/error_utils.cc
  src/core/lib/transport/transport_op_string.cc
Labels: lang/core, release notes: no

#26262 Save 8-core and 32-core performance test results to separate tables.
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26230 Add CSDS validation ability to PSM Sec framework
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_csds.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/requirements.txt
  tools/run_tests/xds_k8s_test_driver/tests/baseline_test.py
Labels: release notes: no

#26256 Update conditional matcher ctors and include NotMatcher.
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/authorization/matchers.h
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  test/core/security/authorization_matchers_test.cc
  test/core/security/grpc_authorization_engine_test.cc
Labels: release notes: no

#26266 List pods that may be left over from previous kokoro run.
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26280 add a new job for "official" runs of oss benchmark harness
  tools/internal_ci/linux/grpc_e2e_performance_gke.cfg
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: release notes: no

#26281 Update load test deadlines and differentiate kokoro runs.
  tools/internal_ci/linux/grpc_e2e_performance_gke.cfg
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.cfg
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26282 fix xds resolver to add XdsClient to channel args even on errors
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#26285 ring_hash LB policy implementation
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  doc/environment_variables.md
  grpc.gyp
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/endpoint.proto
  src/proto/grpc/testing/xds/v3/regex.proto
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26255 Add a flag to ensure firewall rule exists
  tools/run_tests/xds_k8s_test_driver/config/local-dev.cfg.example
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: release notes: no

#26286 Run all kokoro performance tests on dedicated node pools.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#26288 backport to v1.38.x: fix xds resolver to add XdsClient to channel args even on errors (#26…
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#26276 Backport config update timeout change to v1.38.x
  tools/internal_ci/linux/grpc_xds_k8s.cfg
  tools/internal_ci/linux/grpc_xds_k8s_python.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26275 Backport config update timeout change to v1.37.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_k8s.cfg
  tools/internal_ci/linux/grpc_xds_k8s_python.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/internal_ci/linux/grpc_xds_v3.cfg
  tools/internal_ci/linux/grpc_xds_v3_csharp.cfg
  tools/internal_ci/linux/grpc_xds_v3_php.cfg
  tools/internal_ci/linux/grpc_xds_v3_python.cfg
  tools/internal_ci/linux/grpc_xds_v3_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26274 Backport config update timeout change to v1.36.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/internal_ci/linux/grpc_xds_v3.cfg
  tools/internal_ci/linux/grpc_xds_v3_csharp.cfg
  tools/internal_ci/linux/grpc_xds_v3_php.cfg
  tools/internal_ci/linux/grpc_xds_v3_python.cfg
  tools/internal_ci/linux/grpc_xds_v3_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26258 Move async connect to Executor, keep Executor alive longer
  src/core/lib/iomgr/iomgr.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/surface/init.cc
Labels: area/core, release notes: no

#26283 Provide custom sponge configs to exclude manual runs from testgrid
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26245 Resolve race between OnReadDone(ok=false) and IsCancelled
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_context.h
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/transport/transport.h
  src/cpp/server/server_context.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
  test/cpp/end2end/test_service_impl.h
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++, release notes: no

#26303 Revert "ring_hash LB policy implementation"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  doc/environment_variables.md
  grpc.gyp
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/endpoint.proto
  src/proto/grpc/testing/xds/v3/regex.proto
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26284 Don't use legacy EDS-only flow for google-c2p resolver.
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
Labels: release notes: no

#26317 Bump v1.38.x to v1.38.0
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#26277 Fix invalid argument in README example for loadtest_config.py
  tools/run_tests/performance/README.md
Labels: area/test, lang/other, release notes: no

#26312 Backport custom sponge config to v1.37.x
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26313 Backport custom sponge config to v1.38.x
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26252 Build visibility macro system
  BUILD
  bazel/grpc_build_system.bzl
  test/core/iomgr/BUILD
Labels: area/build, lang/c++, lang/core, release notes: no

#26323 Revert "Backport custom sponge config to v1.37.x"
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26325 Revert "Provide custom sponge configs to exclude manual runs from testgrid"
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26264 Backport config update timeout change to v1.30.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26265 Backport config update timeout change to v1.31.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26269 Backport config update timeout change to v1.32.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26271 Backport config update timeout change to v1.33.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26272 Backport config update timeout change to v1.34.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26273 Backport config update timeout change to v1.35.x
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_php.cfg
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby.cfg
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26324 Revert "Backport custom sponge config to v1.38.x"
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26329 Add grpcio-admin and grpcio-csds to verification script
  tools/release/verify_python_release.py
Labels: area/tools, lang/Python, release notes: no

#26290 Remove fd dependencies from the local_security_connector
  src/core/lib/security/security_connector/local/local_security_connector.cc
Labels: area/core, area/security, lang/core, release notes: no

#26158 Fix Python xDS k8s Interop
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_server.py
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: area/test, lang/Python, release notes: no

#26316 Add v1.38.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#26330 Constify failed_before_recv_message check
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
Labels: lang/c++, release notes: no

#26148 cmake: don't export grpc_cpp_plugin when crosscompiling
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: area/build, lang/c++, release notes: no

#26263 Updated documentation for `addr_uri` argument in `AddListeningPort`.
  include/grpcpp/server_builder.h
Labels: area/documentation, lang/c++, release notes: no

#26332 Don't instantiate ExecCtx in ChannelArgs destructor unless needed
  src/cpp/common/channel_arguments.cc
Labels: lang/c++, release notes: no

#26296 List leftover tests that have running pods and are in Errored state.
  tools/internal_ci/helper_scripts/list_leftover_loadtests.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26327 Add logging to xDS client server images
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: release notes: no

#26249 Expose trailers-only response status through C++ callback API
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/cpp/client/client_context.cc
  src/proto/grpc/testing/echo.proto
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: lang/c++, release notes: no

#26343 Add CSDS for Python and update Java version
  doc/grpc_xds_features.md
Labels: area/documentation, release notes: no

#26340 Fixes #26322
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_plugin_wrapping.py
Labels: area/concurrency, kind/bug, lang/Python, release notes: no

#26338 Save resources after failure for b/181361235
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26347 set bool to not clean up for debugging
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26246 Add api_listener back to _TEST_CASES
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26335 Make sure C# developer build works even when on arm64 linux
  src/csharp/Grpc.Core/NativeDeps.Linux.csproj.include
Labels: lang/C#, release notes: no

#26295 To donnadionne
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26348 push up variable declaration
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26147 fix LOGICAL_DNS semantics
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/address.proto
  src/proto/grpc/testing/xds/v3/cluster.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26344 xds-k8s: add run and cleanup helpers, document bin/ scripts
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/bin/cleanup.sh
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/run.sh
Labels: release notes: no

#26354 Fix #include <vector> for status_helper.h
  src/core/lib/gprpp/status_helper.h
Labels: lang/core, release notes: no

#26058 Handle gevent exception in gevent poller
  src/core/lib/iomgr/pollset_custom.cc
  src/core/lib/iomgr/pollset_custom.h
  src/core/lib/iomgr/pollset_uv.cc
  src/core/lib/iomgr/pollset_uv.h
  src/core/lib/surface/completion_queue.cc
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests_gevent/__init__.py
  src/python/grpcio_tests/tests_gevent/tests.json
  src/python/grpcio_tests/tests_gevent/unit/__init__.py
  src/python/grpcio_tests/tests_gevent/unit/_test_server.py
  src/python/grpcio_tests/tests_gevent/unit/close_channel_test.py
  tools/distrib/pylint_code.sh
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: yes

#26248 do best-effort cleanup even if some resources not found
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26355 Add bootstrap_generator to non-secure server deployments as well
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
Labels: release notes: no

#26350 Support for multiple clients and other improvements in load test config generation.
  tools/run_tests/performance/README.md
  tools/run_tests/performance/loadtest_config.py
  tools/run_tests/performance/loadtest_template.py
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#26291 add java 1.38.0
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#26349 Add kokoro AWS integration and corresponding test jobs.
  tools/internal_ci/linux/aws/grpc_aws_basictests_csharp.cfg
  tools/internal_ci/linux/aws/grpc_aws_basictests_php.cfg
  tools/internal_ci/linux/aws/grpc_aws_basictests_python.cfg
  tools/internal_ci/linux/aws/grpc_aws_basictests_ruby.cfg
  tools/internal_ci/linux/aws/grpc_aws_bazel_test_c_cpp.cfg
  tools/internal_ci/linux/aws/grpc_aws_experiment.cfg
  tools/internal_ci/linux/aws/grpc_aws_experiment_remote.sh
  tools/internal_ci/linux/aws/grpc_aws_run_remote_test.sh
  tools/internal_ci/linux/aws/grpc_bazel_test_c_cpp_aarch64.sh
  tools/internal_ci/linux/aws/grpc_run_basictests_csharp_aarch64.sh
  tools/internal_ci/linux/aws/grpc_run_basictests_php_aarch64.sh
  tools/internal_ci/linux/aws/grpc_run_basictests_python_aarch64.sh
  tools/internal_ci/linux/aws/grpc_run_basictests_ruby_aarch64.sh
Labels: cla: yes, lang/all wrapped languages, release notes: no

#26353 Fix bazel copyright notices
  bazel/cc_grpc_library.bzl
  bazel/cython_library.bzl
  bazel/generate_cc.bzl
  bazel/generate_objc.bzl
  bazel/grpc_deps.bzl
  bazel/grpc_extra_deps.bzl
  bazel/grpc_python_deps.bzl
  bazel/grpc_util.bzl
  bazel/objc_grpc_library.bzl
  bazel/protobuf.bzl
  bazel/python_rules.bzl
  src/proto/grpc/testing/proto2/BUILD.bazel
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/_cython/BUILD.bazel
  src/python/grpcio/grpc/experimental/BUILD.bazel
  src/python/grpcio/grpc/framework/BUILD.bazel
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_channelz/grpc_channelz/v1/BUILD.bazel
  src/python/grpcio_health_checking/grpc_health/v1/BUILD.bazel
  src/python/grpcio_reflection/grpc_reflection/v1alpha/BUILD.bazel
  src/python/grpcio_status/grpc_status/BUILD.bazel
  src/python/grpcio_tests/tests/BUILD.bazel
  src/python/grpcio_tests/tests/channelz/BUILD.bazel
  src/python/grpcio_tests/tests/health_check/BUILD.bazel
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/credentials/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/stress/BUILD.bazel
  src/python/grpcio_tests/tests/testing/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_cython/BUILD.bazel
  src/python/grpcio_tests/tests/unit/credentials/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/common/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/foundation/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  test/cpp/qps/json_run_localhost_scenario_gen.py
  test/cpp/qps/json_run_localhost_scenarios.bzl
  test/cpp/qps/qps_json_driver_scenario_gen.py
  test/cpp/qps/qps_json_driver_scenarios.bzl
  tools/distrib/check_copyright.py
Labels: area/build, lang/all, release notes: no

#26363 Revert "Expose trailers-only response status through C++ callback API"
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/client_context.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/cpp/client/client_context.cc
  src/proto/grpc/testing/echo.proto
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: lang/c++, release notes: no

#26365 Revert "Revert "Expose trailers-only response status through C++ callback API""
  include/grpcpp/impl/codegen/client_callback.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/cpp/client/client_callback.cc
  src/proto/grpc/testing/echo.proto
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: lang/c++, release notes: no

#25610 Client context test peer
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/test/client_context_test_peer.h
  test/cpp/test/BUILD
  test/cpp/test/client_context_test_peer_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no

#26345 List full status of tests in Errored state that contain running pods.
  tools/internal_ci/helper_scripts/list_leftover_loadtests.sh
Labels: release notes: no

#26356 Ring hash implementation
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  doc/environment_variables.md
  grpc.gyp
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/endpoint.proto
  src/proto/grpc/testing/xds/v3/regex.proto
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26372 Fix driver configuration in loadtest templates.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/loadtest_config.py
  tools/run_tests/performance/loadtest_template.py
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#26289 interop, doc: add interop test descrption for api_listener, metadata_filter, forwarding_rule_port_match, forwarding_rule_default_port
  doc/xds-test-descriptions.md
Labels: release notes: no

#26375 Revert "Revert "Revert "Expose trailers-only response status through C++ callback API"""
  include/grpcpp/impl/codegen/client_callback.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/cpp/client/client_callback.cc
  src/proto/grpc/testing/echo.proto
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: release notes: no

#26377 Disable resource saving
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26379 Revert "Revert "Revert "Revert "Expose trailers-only response status through C++ callback API""""
  include/grpcpp/impl/codegen/client_callback.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/cpp/client/client_callback.cc
  src/proto/grpc/testing/echo.proto
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: release notes: no

#26374 Fix zlib unistd.h import problem
  setup.py
Labels: lang/Python, release notes: yes

#26346 Fix an unused parameter warning in grpcpp/impl/codegen/service_type.h
  include/grpcpp/impl/codegen/server_interface.h
Labels: kind/internal cleanup, lang/c++, release notes: no

#26014 Added new method to ByteBuffer & Slice
  include/grpcpp/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/slice.h
  src/cpp/util/byte_buffer_cc.cc
  test/cpp/util/byte_buffer_test.cc
  test/cpp/util/slice_test.cc
Labels: kind/enhancement, lang/c++, release notes: no

#26382 clean up retry filter refcount handling
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: release notes: no

#25728 De-experimentalize C++ callback API
  examples/cpp/helloworld/BUILD
  examples/cpp/helloworld/CMakeLists.txt
  examples/cpp/helloworld/Makefile
  examples/cpp/helloworld/greeter_callback_client.cc
  examples/cpp/helloworld/greeter_callback_server.cc
  examples/cpp/route_guide/BUILD
  examples/cpp/route_guide/route_guide_callback_client.cc
  examples/cpp/route_guide/route_guide_callback_server.cc
  include/grpc/impl/codegen/port_platform.h
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/client_context.h
  include/grpcpp/server_builder.h
  src/cpp/client/client_context.cc
  src/cpp/server/server_builder.cc
  test/cpp/common/alarm_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/context_allocator_end2end_test.cc
  test/cpp/end2end/hybrid_end2end_test.cc
  test/cpp/end2end/interceptors_util.cc
  test/cpp/end2end/message_allocator_end2end_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/test_service_impl.cc
  test/cpp/end2end/test_service_impl.h
  test/cpp/microbenchmarks/callback_streaming_ping_pong.h
  test/cpp/microbenchmarks/callback_test_service.cc
  test/cpp/microbenchmarks/callback_test_service.h
  test/cpp/microbenchmarks/callback_unary_ping_pong.h
  test/cpp/qps/client_callback.cc
  test/cpp/qps/server_callback.cc
Labels: lang/c++, release notes: yes

#26387 Build test-infra tools using the makefile.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26380 AWS integration: allow copying test reports back to the kokoro instance.
  tools/internal_ci/linux/aws/grpc_aws_run_remote_test.sh
Labels: release notes: no

#26390 fix broken benchmark dashboard URL in README.md
  README.md
Labels: release notes: no
