Repository grpc/grpc, pull requests merged in 2021-08, with the labels that each got.

#26849 Dead code cleanup.
  third_party/xxhash/cli/xsum_arch.h
  third_party/xxhash/cli/xsum_config.h
  third_party/xxhash/cli/xsum_os_specific.c
  third_party/xxhash/cli/xsum_os_specific.h
  third_party/xxhash/cli/xsum_output.c
  third_party/xxhash/cli/xsum_output.h
  third_party/xxhash/cli/xsum_sanity_check.c
  third_party/xxhash/cli/xsum_sanity_check.h
  third_party/xxhash/tests/Makefile
  third_party/xxhash/tests/bench/.clang_complete
  third_party/xxhash/tests/bench/.gitignore
  third_party/xxhash/tests/bench/LICENSE
  third_party/xxhash/tests/bench/Makefile
  third_party/xxhash/tests/bench/benchHash.c
  third_party/xxhash/tests/bench/benchHash.h
  third_party/xxhash/tests/bench/benchfn.c
  third_party/xxhash/tests/bench/benchfn.h
  third_party/xxhash/tests/bench/bhDisplay.c
  third_party/xxhash/tests/bench/bhDisplay.h
  third_party/xxhash/tests/bench/hashes.h
  third_party/xxhash/tests/bench/main.c
  third_party/xxhash/tests/bench/timefn.c
  third_party/xxhash/tests/bench/timefn.h
  third_party/xxhash/tests/collisions/.gitignore
  third_party/xxhash/tests/collisions/LICENSE
  third_party/xxhash/tests/collisions/Makefile
  third_party/xxhash/tests/collisions/README.md
  third_party/xxhash/tests/collisions/allcodecs/README.md
  third_party/xxhash/tests/collisions/allcodecs/dummy.c
  third_party/xxhash/tests/collisions/allcodecs/dummy.h
  third_party/xxhash/tests/collisions/hashes.h
  third_party/xxhash/tests/collisions/main.c
  third_party/xxhash/tests/collisions/pool.c
  third_party/xxhash/tests/collisions/pool.h
  third_party/xxhash/tests/collisions/sort.cc
  third_party/xxhash/tests/collisions/sort.hh
  third_party/xxhash/tests/collisions/threading.c
  third_party/xxhash/tests/collisions/threading.h
  third_party/xxhash/tests/generate_unicode_test.c
  third_party/xxhash/tests/multiInclude.c
  third_party/xxhash/tests/ppc_define.c
  third_party/xxhash/xxhsum.1
  third_party/xxhash/xxhsum.1.md
  third_party/xxhash/xxhsum.c
Labels: cla: yes, cncf-cla: yes, release notes: no

#26847 change LoadBalancedCall to be InternallyRefCounted
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/lib/gprpp/orphanable.h
Labels: release notes: no

#26838 add separate channel arg to enable hedging
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/retry_service_config.cc
  src/core/ext/filters/client_channel/retry_service_config.h
  test/core/client_channel/service_config_test.cc
  test/core/end2end/tests/retry_lb_drop.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout_on_last_attempt.cc
Labels: release notes: no

#26840 short-circuit retry code when retries not configured
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: release notes: no

#26839 fix bugs found when enabling retries for all tests
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
Labels: release notes: no

#26800 Change repo manager to Yash
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: lang/other, release notes: no

#26831 xds/interop: more affinity tests
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/affinity_test.py
Labels: area/test, release notes: no

#25681 Changed GRPCPP_ABSEIL_SYNC to GPR_ABSEIL_SYNC
  include/grpcpp/impl/codegen/sync.h
Labels: lang/c++, release notes: no

#26739 Open census filter stats api
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/client_filter.h
  src/cpp/ext/filters/census/context.cc
  src/cpp/ext/filters/census/context.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: release notes: no

#26766 Enable retries by default
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/core/end2end/tests/retry.cc
  test/core/end2end/tests/retry_cancel_during_delay.cc
  test/core/end2end/tests/retry_cancellation.cc
  test/core/end2end/tests/retry_disabled.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_delay.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_initial_batch.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_subsequent_batch.cc
  test/core/end2end/tests/retry_lb_drop.cc
  test/core/end2end/tests/retry_non_retriable_status.cc
  test/core/end2end/tests/retry_non_retriable_status_before_recv_trailing_metadata_started.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout_on_last_attempt.cc
  test/core/end2end/tests/retry_recv_initial_metadata.cc
  test/core/end2end/tests/retry_recv_message.cc
  test/core/end2end/tests/retry_recv_trailing_metadata_error.cc
  test/core/end2end/tests/retry_send_op_fails.cc
  test/core/end2end/tests/retry_server_pushback_delay.cc
  test/core/end2end/tests/retry_server_pushback_disabled.cc
  test/core/end2end/tests/retry_streaming.cc
  test/core/end2end/tests/retry_streaming_after_commit.cc
  test/core/end2end/tests/retry_streaming_succeeds_before_replay_finished.cc
  test/core/end2end/tests/retry_throttled.cc
  test/core/end2end/tests/retry_too_many_attempts.cc
Labels: lang/core, release notes: yes

#26769 Implement Simple Ping-Pong Interop Test for Application Networking APIs
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/app_net_test.py
Labels: area/test, lang/all wrapped languages, release notes: no

#26845 xds-k8s: Colorize all the things
  tools/run_tests/xds_k8s_test_driver/bin/cleanup.sh
  tools/run_tests/xds_k8s_test_driver/config/grpc-testing.cfg
  tools/run_tests/xds_k8s_test_driver/framework/helpers/highlighter.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: area/test, lang/all wrapped languages, release notes: no

#26859 Upgrade gcr.io/oss-fuzz-base/base-builder to the latest
  bazel/copts.bzl
  templates/tools/dockerfile/test/bazel/Dockerfile.template
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/binder_transport_apk/Dockerfile
Labels: area/build, release notes: no

#26854 Update a few owners files
  .github/CODEOWNERS
  OWNERS
  bazel/OWNERS
  src/core/ext/filters/client_channel/OWNERS
  src/core/ext/xds/OWNERS
Labels: release notes: no

#26864 Fix ASAN flake
  src/core/ext/transport/chttp2/server/chttp2_server.cc
Labels: release notes: no

#26481 LB policy API improvements
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  test/core/end2end/tests/retry_lb_drop.cc
  test/core/end2end/tests/retry_lb_fail.cc
  test/core/util/test_lb_policies.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26861 Replace StopIteration with Return
  examples/python/cancellation/search.py
Labels: area/documentation, kind/bug, lang/Python, release notes: no

#26867 Remove WaitUntilWith{Deadline,Timeout}
  src/core/lib/gprpp/sync.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26870 Added a new upb section
  third_party/README.md
Labels: area/documentation, release notes: no

#26868 fix client_lb_end2end_test ClientLbPickArgsTest.Basic flakiness
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no

#26681 Backport HaltAndSave Mode to v1.36.x
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26360 Port basic non-security tests to k8s
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_testing.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/requirements.txt
  tools/run_tests/xds_k8s_test_driver/tests/baseline_test.py
  tools/run_tests/xds_k8s_test_driver/tests/change_backend_service_test.py
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
  tools/run_tests/xds_k8s_test_driver/tests/remove_neg_test.py
  tools/run_tests/xds_k8s_test_driver/tests/round_robin_test.py
Labels: release notes: no

#26788 Import wire format implementation of BinderChannel protocol
  src/core/ext/transport/binder/utils/BUILD
  src/core/ext/transport/binder/utils/transport_stream_receiver.h
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.cc
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.h
  src/core/ext/transport/binder/wire_format/BUILD
  src/core/ext/transport/binder/wire_format/binder.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/binder_android.h
  src/core/ext/transport/binder/wire_format/binder_constants.cc
  src/core/ext/transport/binder/wire_format/binder_constants.h
  src/core/ext/transport/binder/wire_format/transaction.cc
  src/core/ext/transport/binder/wire_format/transaction.h
  src/core/ext/transport/binder/wire_format/wire_reader.h
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.h
  src/core/ext/transport/binder/wire_format/wire_writer.cc
  src/core/ext/transport/binder/wire_format/wire_writer.h
Labels: release notes: no

#26881 Specify go version for infra build.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26874 Disallow implicit fallthrough
  BUILD
  CMakeLists.txt
  bazel/copts.bzl
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/transport/chttp2/transport/bin_decoder.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/ext/transport/chttp2/transport/frame_goaway.cc
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/varint.cc
  src/core/lib/gpr/murmur_hash.cc
  src/core/lib/iomgr/timer_manager.cc
  src/core/lib/json/json_reader.cc
  src/core/lib/slice/slice_internal.h
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_client_uv_test.cc
Labels: release notes: no

#26876 Refactoring UpstreamTlsContext
  src/core/ext/xds/xds_api.cc
Labels: release notes: no

#26701 Use resource_prefix instead of namespace in K8s tests
  tools/run_tests/xds_k8s_test_driver/config/local-dev.cfg.example
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: area/test, release notes: no

#26879 Prune and update xxhash
  third_party/README.md
  third_party/xxhash/.gitattributes
  third_party/xxhash/.gitignore
  third_party/xxhash/.travis.yml
  third_party/xxhash/CHANGELOG
  third_party/xxhash/Doxyfile
  third_party/xxhash/Makefile
  third_party/xxhash/README.md
  third_party/xxhash/appveyor.yml
  third_party/xxhash/cmake_unofficial/.gitignore
  third_party/xxhash/cmake_unofficial/CMakeLists.txt
  third_party/xxhash/cmake_unofficial/README.md
  third_party/xxhash/cmake_unofficial/xxHashConfig.cmake.in
  third_party/xxhash/doc/README.md
  third_party/xxhash/doc/xxhash.cry
  third_party/xxhash/doc/xxhash_spec.md
  third_party/xxhash/libxxhash.pc.in
  third_party/xxhash/xxh3.h
  third_party/xxhash/xxh_x86dispatch.c
  third_party/xxhash/xxh_x86dispatch.h
  third_party/xxhash/xxhash.c
  third_party/xxhash/xxhash.h
Labels: release notes: no

#26877 Change experimental performance test to run on original cluster
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26802 Install abseil along with gRPC
  cmake/abseil-cpp.cmake
  test/distrib/cpp/run_distrib_test_cmake_aarch64_cross.sh
  test/distrib/cpp/run_distrib_test_cmake_module_install.sh
  test/distrib/cpp/run_distrib_test_cmake_module_install_pkgconfig.sh
Labels: lang/c++, area/build, release notes: no

#26891 Change master continuous integration test to run on benchmarks-prod2
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26852 Add tooling to auto-fix sanity tests
  .github/workflows/pr-auto-fix.yaml
  templates/tools/dockerfile/grpc_clang_tidy/Dockerfile.template
  tools/distrib/run_clang_tidy.py
  tools/distrib/sanitize.sh
  tools/dockerfile/grpc_clang_tidy/Dockerfile
Labels: release notes: no

#26895 Use T drive for windows bazel RBE build
  tools/internal_ci/windows/bazel_rbe.bat
Labels: platform/Windows, area/build, release notes: no

#26889 Open census call attempt span name and attribute changes
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/context.cc
  src/cpp/ext/filters/census/context.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++, release notes: yes

#26894 Add necessary hooks to autofix
  tools/distrib/sanitize.sh
Labels: release notes: no

#26888 Fix OOM issues in qps async tests
  test/cpp/qps/server_async.cc
Labels: release notes: no

#26793 Fix some instances of -Wunreachable-code-aggressive.
  src/core/lib/compression/compression_internal.cc
Labels: area/core, release notes: no

#26905 Run check include guards in sanitize
  tools/distrib/sanitize.sh
Labels: release notes: no

#26904 xds/interop: turn on validate-for-proxyless for urlmap tests
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
Labels: release notes: no

#26899 Backport: Use T drive for windows bazel RBE build
  tools/internal_ci/windows/bazel_rbe.bat
Labels: platform/Windows, area/build, release notes: no

#26922 Fix bug where multiple branches confuse PanCakes
  .github/workflows/pr-auto-fix.yaml
Labels: release notes: no

#26920 Changes to sync required for promise activities
  src/core/lib/gprpp/sync.h
Labels: release notes: no

#26896 Fix C# protoc plugin argument parsing
  src/compiler/csharp_plugin.cc
Labels: lang/C#, release notes: no

#26892 Re-experimentalize XdsServerBuilder
  include/grpcpp/xds_server_builder.h
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/interop/xds_interop_server.cc
Labels: release notes: no

#26906 Add construct/destruct helper functions
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/gprpp/construct_destruct.h
  src/core/lib/gprpp/manual_constructor.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#26841 PHP: deleted require paths, updated grpc to v1.39.0
  examples/php/composer.json
  examples/php/greeter_and_routeguide_multi_server.php
  examples/php/greeter_server.php
  examples/php/route_guide/route_guide_server.php
  src/php/tests/generated_code/math_server.php
  src/php/tests/generated_code/package.json
Labels: lang/php, release notes: no

#26911 Helper code for promises to deal with status types generically
  BUILD
  src/core/lib/promise/detail/status.h
Labels: release notes: no

#26925 Add thread annotations to tls files and fix ASAN race in SetWatchStatusCallback
  src/core/lib/security/credentials/tls/grpc_tls_certificate_distributor.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.h
Labels: release notes: no

#26929 Trim xxhash CLI LICENSE
  third_party/README.md
  third_party/xxhash/LICENSE
Labels: release notes: no

#26928 Tell github not to render generated files by default in diffs
  .gitattributes
Labels: release notes: no

#26871 Add thread safety annotations to xds_end2end_test
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, kind/internal cleanup, area/test, release notes: no

#26907 Poll type for promises library
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/poll.h
  test/core/promise/BUILD
  test/core/promise/poll_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26936 Use stdcpp TLS on Fuchsia
  include/grpc/impl/codegen/port_platform.h
Labels: release notes: no

#26342 Limit initial window size increases and per-stream window delta
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/frame_window_update.cc
  src/core/ext/transport/chttp2/transport/internal.h
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/flow_control_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes

#26937 Faster pancakes: cache bazel steps between builds
  .github/workflows/pr-auto-fix.yaml
Labels: release notes: no

#26884 Split the filter popularity counting into a separate module
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/popularity_count.h
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/popularity_count_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26948 chttp2_{server,transport}: Downgrade two error log lines
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#26949 Fix BUILD file for //test/core/promise
  test/core/promise/BUILD
Labels: release notes: no

#26950 Repo Manager Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26909 Library to talk about things that look like promises if you squint
  BUILD
  src/core/lib/promise/detail/promise_like.h
Labels: release notes: no

#26908 Switch template metaprogramming helper for promises library
  BUILD
  src/core/lib/promise/detail/switch.h
  tools/codegen/core/gen_switch.py
Labels: release notes: no

#26953 Ensure All Python 3 in Python xDS Tests
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: lang/Python, area/test, release notes: no

#26851 HPACK Table --> C++
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/chttp2/transport/hpack_table.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_table_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#26935 Add thread safety annotations
  src/core/lib/surface/init.cc
Labels: release notes: no

#26957 Open census call attempt span name and attribute changes (#26889)
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/context.cc
  src/cpp/ext/filters/census/context.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++, release notes: yes

#26958 Re-experimentalize XdsServerBuilder (#26892)
  include/grpcpp/xds_server_builder.h
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/interop/xds_interop_server.cc
Labels: release notes: no

#26932 Include the peer address in interop soak test high-latency error messages
  test/cpp/interop/interop_client.cc
Labels: lang/c++, release notes: no

#26955 Update xDS client/server image per-branch tag after build
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: area/test, release notes: no

#26961 Enable TD URL configuration in url-map tests
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
Labels: release notes: no

#26962 Backport: Enable TD URL configuration in url-map tests
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
Labels: release notes: no

#26963 Backport: Update xDS client/server image per-branch tag after build
  tools/internal_ci/linux/grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_python.sh
Labels: release notes: no

#26965 Adding grpc_init/grpc_shutdown to subchannel ctor/dtor to solve bugs related to async destruction of subchannels
  src/core/ext/filters/client_channel/subchannel.cc
Labels: kind/bug, lang/core, release notes: no

#26883 Add Kokoro scripts for k8s insecure tests
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb.cfg
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.cfg
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no

#26964 Add missing absl include in evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.cc
Labels: lang/c++, release notes: no

#26939 Experimental: add a roll-up semi-optional status action
  .github/workflows/happy-pancakes.yml
Labels: release notes: no

#26967 Fix resource leaks in xds test
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26942 Implement type safety for TLS
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/gpr/log_linux.cc
  src/core/lib/gpr/tls.h
  src/core/lib/gpr/tls_gcc.h
  src/core/lib/gpr/tls_msvc.h
  src/core/lib/gpr/tls_pthread.cc
  src/core/lib/gpr/tls_pthread.h
  src/core/lib/gpr/tls_stdcpp.h
  src/core/lib/gprpp/thd_windows.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/timer_generic.cc
  src/core/lib/profiling/basic_timers.cc
  src/core/lib/surface/completion_queue.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/gpr/tls_test.cc
  test/cpp/end2end/nonblocking_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#26903 Backport: Fix pytype missing bz2 lib error
  templates/tools/dockerfile/python_debian11.include
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/test/sanity/Dockerfile
Labels: lang/Python, release notes: no

#26923 Add a utility to capture arguments by move even in C++11
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/gprpp/capture.h
  test/core/gprpp/BUILD
  test/core/gprpp/capture_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26916 Generic promise facilities
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/detail/promise_like.h
  src/core/lib/promise/promise.h
  test/core/promise/BUILD
  test/core/promise/promise_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26987 And use Python 3 explicitly in C++ interop as well
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: lang/c++, area/test, release notes: no

#26984 v1.39.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26983 v1.38.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26982 v1.37.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26981 v1.36.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26980 v1.35.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26979 v1.34.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26978 v1.33.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26977 v1.32.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26976 v1.31.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26975 v1.30.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26985 v1.40.x backport: Fix resource leaks in xds test (#26967)
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26897 Fix C# protoc plugin argument parsing on 1.39.x
  src/compiler/csharp_plugin.cc
Labels: lang/C#, release notes: no

#26900 Bump 1.39.x branch to 1.39.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/C#, release notes: no

#26893 Add release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#26995 Revert "HPACK Table --> C++"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/chttp2/transport/hpack_table.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_table_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#26807 Fixed build with libuv
  src/core/tsi/alts/crypt/gsec.h
Labels: area/core, lang/core, release notes: no

#26998 Add language-based skipping mechanism to url-map tests
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/retry_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/timeout_test.py
Labels: area/test, release notes: no

#26990 Promise factories
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/detail/promise_like.h
  test/core/promise/BUILD
  test/core/promise/promise_factory_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#27001 xds-k8s: rename Endpoint Config Selector to Endpoint Policy
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: lang/all wrapped languages, area/test, release notes: no

#27000 xds/testing: print timestamp of commands in xds tests cripts to help debug timeout failures
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/helper_scripts/prep_xds.sh
  tools/run_tests/run_xds_tests.py
Labels: area/test, release notes: no

#26862 Add Java helper code for establishing binder transport connection
  WORKSPACE
  src/core/ext/transport/binder/java/WORKSPACE
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/BUILD
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/NativeConnectionHelper.java
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/SyncServiceConnection.java
  tools/internal_ci/linux/grpc_binder_transport_apk_build_in_docker.sh
Labels: release notes: no

#27004 Revert "Adding grpc_init/grpc_shutdown to subchannel ctor/dtor to solve bugs related to async destruction of subchannels"
  src/core/ext/filters/client_channel/subchannel.cc
Labels: release notes: no

#26991 Remove useless grpc_alarm type define.
  doc/environment_variables.md
  include/grpc/impl/codegen/grpc_types.h
Labels: release notes: no

#26988 Sync transport implementation
  src/core/ext/transport/binder/transport/binder_stream.h
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/transport/binder_transport.h
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.cc
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.h
Labels: release notes: no

#26997 Reland HPACK parsing changes
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/hpack_table.cc
  src/core/ext/transport/chttp2/transport/hpack_table.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/transport/chttp2/binary-metadata.headers
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_table_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#27005 xds-k8s: PSM Security tests upgrade networksecurity, networkservices to v1beta1
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_security.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
Labels: lang/all wrapped languages, area/test, release notes: no

#27010 xds/testing: fix usage of datetime astimezone
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#26973 Extract HPACK Encoder Hash Map to a separate file
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_encoder_index.h
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/hpack_encoder_index_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#27006 Fix unused variable error
  src/core/lib/iomgr/tcp_server_utils_posix_noifaddrs.cc
Labels: release notes: no

#27002 Add internal method to set a default EventEngine instance
  src/core/lib/iomgr/event_engine/iomgr.cc
  src/core/lib/iomgr/event_engine/iomgr.h
Labels: area/core, lang/core, release notes: no

#26917 Promise map operator
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/map.h
  test/core/promise/BUILD
  test/core/promise/map_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26082 Fix type casting with C++ style
  src/core/lib/iomgr/combiner.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#27018 modernize % encoding routines
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/lib/gprpp/bitset.h
  src/core/lib/slice/percent_encoding.cc
  src/core/lib/slice/percent_encoding.h
  test/core/slice/percent_decode_fuzzer.cc
  test/core/slice/percent_encode_fuzzer.cc
  test/core/slice/percent_encoding_test.cc
  tools/codegen/core/gen_percent_encoding_tables.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#26914 Promise if construct
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/if.h
  test/core/promise/BUILD
  test/core/promise/if_test.cc
  tools/run_tests/generated/tests.json
Labels: kind/enhancement, lang/core, release notes: no

#27014 First stab at config framework
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/config/core_configuration.cc
  src/core/lib/config/core_configuration.h
  test/core/config/BUILD
  test/core/config/core_configuration_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26969 Adding flow control support API for GRPCUnaryProtoCall
  src/objective-c/ProtoRPC/ProtoRPC.h
  src/objective-c/ProtoRPC/ProtoRPC.m
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#26915 Promises race
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/race.h
  test/core/promise/BUILD
  test/core/promise/race_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26912 Promise library context management helpers
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  src/core/lib/gpr/tls.h
  src/core/lib/promise/context.h
  test/core/promise/BUILD
  test/core/promise/context_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#27022 Fix bug in CQNext
  include/grpcpp/impl/codegen/completion_queue.h
Labels: release notes: no

#26959 Fix docstring gramma in Python module
  src/python/grpcio/grpc/aio/_base_server.py
Labels: kind/bug, area/documentation, lang/Python, release notes: no

#27031 [xDS UrlMap] Move client_runner's ownership to test classes
  tools/internal_ci/linux/grpc_xds_url_map.cfg
  tools/internal_ci/linux/grpc_xds_url_map_python.cfg
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: area/test, release notes: no

#27039 xds: remove env var protection for retries
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#27043 Disable xds_credentials_test on iOS
  test/cpp/end2end/BUILD
Labels: release notes: no

#27047 Revert "Adding flow control support API for GRPCUnaryProtoCall"
  src/objective-c/ProtoRPC/ProtoRPC.h
  src/objective-c/ProtoRPC/ProtoRPC.m
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#22344 Add note on officially supported platforms
  src/cpp/README.md
Labels: lang/c++, release notes: yes, disposition/never stale

#27049 Fix compilation breakage
  src/core/lib/slice/percent_encoding.cc
Labels: release notes: no

#27042 Add macro to define gtest death_test_style using an older syntax
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/util/BUILD
  test/cpp/util/grpc_tool_test.cc
  test/cpp/util/test_config.h
Labels: lang/c++, area/test, release notes: no

#27044 Backport v1.40.x: And use Python 3 explicitly in C++ interop as well
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no

#27019 Eliminate gen_legal_metadata_characters
  CMakeLists.txt
  build_handwritten.yaml
  src/core/lib/surface/validate_metadata.cc
  tools/codegen/core/gen_legal_metadata_characters.cc
Labels: release notes: no

#27050 Backport #26953 to v1.40.x
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: lang/Python, area/test, release notes: no

#27048 xds: remove env var protection for retries (backport #27039 to v1.40.x)
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#27045 release v1.40.0: build gcr images for release, fix python2.7
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/create_matrix_images.py
  tools/run_tests/python_utils/jobset.py
Labels: release notes: no

#27041 Call into plugin registry from config code
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#26913 Promise loop
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/loop.h
  test/core/promise/BUILD
  test/core/promise/loop_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#27054 Clean up some problems identified with -Wunreachable-code-aggressive
  src/core/ext/transport/cronet/transport/cronet_status.cc
  test/core/compression/message_compress_test.cc
  test/core/end2end/cq_verifier.cc
  test/core/util/subprocess_posix.cc
  test/cpp/end2end/server_crash_test_client.cc
  test/cpp/interop/xds_interop_client.cc
  test/cpp/qps/client_async.cc
  test/cpp/qps/qps_worker.cc
Labels: lang/core, area/build, release notes: no

#27055 Fix incorrect loop variable type
  test/core/util/test_lb_policies.cc
Labels: area/core, lang/core, release notes: no

#27057 [Backport] Extend url-map tests timeout to 90
  tools/internal_ci/linux/grpc_xds_url_map.cfg
  tools/internal_ci/linux/grpc_xds_url_map_python.cfg
Labels: release notes: no

#26109 Prefix BoringSSL symbols for grpc_csharp_ext iOS builds.
  src/csharp/experimental/build_native_ext_for_ios.sh
Labels: lang/C#, area/build, platform/iOS, release notes: no

#27059 Fix the not removing IAM binding issue
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: release notes: no

#27051 Fix -Wunreachable-code-aggressive in json_reader.cc
  src/core/lib/json/json_reader.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#27025 Eliminate grpc_core::Atomic
  BUILD
  build_autogenerated.yaml
  doc/core/moving-to-c++.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_channelz.cc
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/filters/client_idle/client_idle_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/xds/xds_client_stats.cc
  src/core/ext/xds/xds_client_stats.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/config/core_configuration.cc
  src/core/lib/gprpp/arena.cc
  src/core/lib/gprpp/arena.h
  src/core/lib/gprpp/atomic.h
  src/core/lib/gprpp/atomic_utils.h
  src/core/lib/gprpp/dual_ref_counted.h
  src/core/lib/gprpp/fork.cc
  src/core/lib/gprpp/fork.h
  src/core/lib/gprpp/mpscq.cc
  src/core/lib/gprpp/mpscq.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/iomgr/executor/mpmcqueue.cc
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/executor/threadpool.cc
  src/core/lib/iomgr/executor/threadpool.h
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/work_serializer.cc
  src/core/lib/iomgr/work_serializer.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/connectivity_state.cc
  src/core/lib/transport/connectivity_state.h
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/metadata.h
  test/core/end2end/tests/retry_lb_fail.cc
  test/core/iomgr/threadpool_test.cc
  test/core/surface/concurrent_connectivity_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#26918 Promise join combinator
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/detail/basic_join.h
  src/core/lib/promise/detail/promise_like.h
  src/core/lib/promise/join.h
  src/core/lib/promise/try_join.h
  test/core/promise/BUILD
  test/core/promise/join_test.cc
  test/core/promise/try_join_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#27021 Changed to Donna
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26880 Nack certain unsupported fields in CertificateValidationContext
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/xds/xds_api.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/base.proto
  src/proto/grpc/testing/xds/v3/extension.proto
  src/proto/grpc/testing/xds/v3/tls.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#27063 Add PSM gRPC subsetting test
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/tests/subsetting_test.py
Labels: area/test, release notes: no

#26931 Objective-C: Fix issue with creating a Unix file socket
  src/objective-c/GRPCClient/private/GRPCCore/GRPCChannelPool.m
  src/objective-c/GRPCClient/private/GRPCCore/GRPCHost.m
Labels: lang/ObjC, release notes: yes

#27070 Reorder gtest/gmock headers
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/c++, area/test, release notes: no

#27071 remove extra url map flagfile
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no

#27073 Add test and mitigation for clang 11 compiler bug
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpc/impl/codegen/port_platform.h
  test/core/compiler_bugs/BUILD
  test/core/compiler_bugs/miscompile_with_no_unique_address_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no
