Repository grpc/grpc, pull requests merged in 2021-06, with the labels that each got.

#26383 improve retry trace logging
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: release notes: no

#26384 add test for exceeding retry buffer size during backoff delay
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/retry_exceeds_buffer_size_in_delay.cc
Labels: release notes: no

#26393 Passing repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26397 Fix typo in python aarch64 testing script.
  tools/internal_ci/linux/aws/grpc_run_basictests_python_aarch64.sh
Labels: lang/Python, release notes: no

#26402 Bump bazel urllib3 version to 1.26.5
  requirements.bazel.txt
Labels: area/test, lang/Python, release notes: no

#26405 Fix metadata plugin for concurrent invocations
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio_tests/tests/unit/_contextvars_propagation_test.py
Labels: area/concurrency, kind/bug, lang/Python, release notes: no

#26362 Add uri sans
  include/grpc/grpc_security_constants.h
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  test/core/security/authorization_matchers_test.cc
  test/core/security/evaluate_args_test.cc
  test/core/security/security_connector_test.cc
Labels: release notes: no

#26408 Tighten the probability requirement from 99.99% to 99.995%
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, release notes: no

#26410 Address Synchronization Comment from #26405
  src/python/grpcio_tests/tests/unit/_contextvars_propagation_test.py
Labels: area/test, lang/Python, release notes: no

#26409 Disable two aio tests for aarch64 for strange platform behavior
  src/python/grpcio_tests/tests_aio/unit/channel_argument_test.py
  src/python/grpcio_tests/tests_aio/unit/connectivity_test.py
Labels: lang/Python, release notes: no

#26411 Add v1.38.0 to the interop matrix for cxx,python,ruby,php
  tools/interop_matrix/client_matrix.py
Labels: lang/core, release notes: no

#26406 don't hold call combiner while retry timer is pending
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: release notes: no

#26403 Delete unneeded parts of generic_stub callback header
  include/grpcpp/generic/generic_stub.h
Labels: lang/c++, release notes: no

#26398 Update load test template and config generation.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/README.md
  tools/run_tests/performance/loadtest_config.py
  tools/run_tests/performance/loadtest_examples.sh
  tools/run_tests/performance/loadtest_template.py
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/performance/scenario_config_exporter.py
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#26419 Fix ExistingRpcsOnResourceDeletion flakiness
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26386 optimize retry per-call-attempt memory usage
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: release notes: no

#23664 Fix environment for protobuf compilation
  bazel/generate_cc.bzl
Labels: area/build, lang/c++, release notes: no

#25865 Fix client_ssl_test and server_ssl_test when built against OpenSSL 1.0.2.
  test/core/handshake/client_ssl.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/handshake/server_ssl.cc
  test/core/handshake/server_ssl_common.cc
  test/core/handshake/server_ssl_common.h
Labels: area/security, area/test, release notes: no

#26424 Add missing header inclusions.
  src/cpp/client/create_channel_internal.cc
  src/cpp/client/create_channel_internal.h
Labels: release notes: no

#26392 Allow to specify user provided audience in google default credentials and JWT credentials
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.h
  src/cpp/client/secure_credentials.cc
  src/php/ext/grpc/channel_credentials.c
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/credentials_test.cc
Labels: lang/all wrapped languages, lang/c++, lang/core, release notes: yes

#26134 Static authorization policy provider implementation.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc.h
  include/grpc/grpc_security.h
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/security/authorization_policy_provider.h
  include/grpcpp/server_builder.h
  package.xml
  src/core/lib/security/authorization/authorization_engine.h
  src/core/lib/security/authorization/authorization_policy_provider.h
  src/core/lib/security/authorization/authorization_policy_provider_null_vtable.cc
  src/core/lib/security/authorization/authorization_policy_provider_vtable.cc
  src/core/lib/security/authorization/grpc_authorization_engine.h
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/grpc_authorization_policy_provider.h
  src/core/lib/security/authorization/matchers.cc
  src/cpp/server/authorization_policy_provider.cc
  src/cpp/server/server_builder.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/BUILD
  test/core/security/grpc_authorization_policy_provider_test.cc
  test/core/surface/BUILD
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/server/BUILD
  test/cpp/server/authorization_policy_provider_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26416 Better way of building protoc aarch64 artifacts
  tools/dockerfile/grpc_artifact_protoc_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/C#, release notes: yes

#26423 Backport #26416 into v1.38.x
  tools/dockerfile/grpc_artifact_protoc_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/C#, release notes: yes

#26432 Added external_deps to grpc++_authorization_provider
  BUILD
Labels: lang/c++, release notes: no

#26359 Fix a C++ build failure if the C++17 standard is used
  src/core/lib/channel/channelz.h
Labels: lang/core, release notes: no

#26389 async_unary_call: add a Destroy method, called by std::default_delete.
  include/grpcpp/impl/codegen/async_unary_call.h
Labels: lang/c++, release notes: yes

#26430 Workaround #26279 by publishing manylinux_2_24 wheels instead of manylinux2014 on aarch64
  tools/dockerfile/grpc_artifact_python_manylinux_2_24_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, release notes: yes

#26404 change repo manager to drfloob
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26425 enable retry proxy tests
  test/core/end2end/fixtures/proxy.cc
  test/core/end2end/generate_tests.bzl
Labels: release notes: no

#26435 Remove unnecessary comments left by #26430
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, release notes: no

#26436 Backport #26430 and #26435 to v1.38.x
  tools/dockerfile/grpc_artifact_python_manylinux_2_24_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, release notes: yes

#26440 Revert "Allow to specify user provided audience in google default credentials and JWT credentials"
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.h
  src/cpp/client/secure_credentials.cc
  src/php/ext/grpc/channel_credentials.c
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/credentials_test.cc
Labels: release notes: no

#26445 Fix google_cfe cluster name prefix check in google default creds
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
Labels: lang/core, release notes: no

#26444 Correct the start index of zone parsing in C2P resolver
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core, release notes: no

#26449 Revert "async_unary_call: add a Destroy method, called by std::default_delete."
  include/grpcpp/impl/codegen/async_unary_call.h
Labels: lang/c++, release notes: no

#26429 Add MockServer{Reader|Writer} to enable mocking server streams.
  include/grpcpp/test/mock_stream.h
  test/cpp/test/mock_stream_test.cc
Labels: kind/enhancement, lang/c++, release notes: no

#26189 Add cpp macros to append wrapped language info to xDS user agent
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
Labels: release notes: no

#26451 Upgrade six from 1.12 to 1.16 in Bazel
  bazel/grpc_python_deps.bzl
  third_party/six.BUILD
Labels: lang/Python, release notes: no

#26433 add random number to xDS node ID in google-c2p resolver
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: release notes: no

#26331 Use default port 443 in HTTP CONNECT request
  src/core/ext/filters/client_channel/http_proxy.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/lib/iomgr/resolve_address.cc
  src/core/lib/iomgr/resolve_address.h
Labels: lang/core, release notes: yes

#22964 Upgrade dotnet SDK 3 for C# build
  src/csharp/global.json
  src/csharp/install_dotnet_sdk.ps1
  templates/tools/dockerfile/csharp_deps.include
  templates/tools/dockerfile/csharp_dotnetcli_deps.include
  templates/tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile.template
  templates/tools/dockerfile/test/csharp_buster_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/test/csharp_buster_x64/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/run_tests.py
Labels: disposition/never stale, release notes: no

#26448 Backport #22964 into v1.38.x
  src/csharp/global.json
  src/csharp/install_dotnet_sdk.ps1
  templates/tools/dockerfile/csharp_deps.include
  templates/tools/dockerfile/csharp_dotnetcli_deps.include
  templates/tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile.template
  templates/tools/dockerfile/test/csharp_buster_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/test/csharp_buster_x64/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/run_tests.py
Labels: release notes: no

#26447 Don't reference symbol memcpy@GLIBC_2.2.5 on Android
  src/core/lib/gpr/wrap_memcpy.cc
Labels: lang/core, platform/Android, release notes: no

#26426 Ruby: attempt to fix "timeout" flake on xDS v3 tests
  src/ruby/pb/test/xds_client.rb
Labels: lang/ruby, release notes: no

#25611 Fix future Apple toolchain build failure
  src/core/tsi/alts/crypt/gsec.h
Labels: area/security, lang/core, release notes: no

#26458 Exclude csharp from performance test continuous runs.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26462 Revert "Upgrade dotnet SDK 3 for C# build"
  src/csharp/global.json
  src/csharp/install_dotnet_sdk.ps1
  templates/tools/dockerfile/csharp_deps.include
  templates/tools/dockerfile/csharp_dotnetcli_deps.include
  templates/tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile.template
  templates/tools/dockerfile/test/csharp_stretch_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/run_tests.py
Labels: release notes: no

#26373 Updated instructions for vcpkg install on Windows
  src/cpp/README.md
Labels: release notes: no

#26456 Allow to specify user provided audience in google default credentials and JWT credentials
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.h
  src/cpp/client/secure_credentials.cc
  src/php/ext/grpc/channel_credentials.c
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/credentials_test.cc
Labels: lang/all wrapped languages, lang/c++, lang/core, release notes: yes

#26464 I am back
  MAINTAINERS.md
Labels: lang/c++, lang/core, release notes: yes

#26463 Replace in-house rand with absl::Random for backoff
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/lib/backoff/backoff.cc
  src/core/lib/backoff/backoff.h
  src/python/grpcio/grpc_core_dependencies.py
  templates/Makefile.template
  test/core/backoff/backoff_test.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#26337 set xds user agent name everywhere where grpc_csharp_ext is built
  CMakeLists.txt
  src/csharp/experimental/build_native_ext_for_android.sh
  src/csharp/experimental/build_native_ext_for_ios.sh
  templates/CMakeLists.txt.template
  tools/run_tests/artifacts/build_artifact_csharp.bat
  tools/run_tests/artifacts/build_artifact_csharp.sh
  tools/run_tests/helper_scripts/pre_build_csharp.bat
  tools/run_tests/helper_scripts/pre_build_csharp.sh
Labels: lang/C#, release notes: no

#26442 Change Repo Mgr to Nico
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26475 Generate reports for performance tests.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#26427 Generate tests with the real names
  tools/run_tests/performance/loadtest_config.py
Labels: release notes: no

#26418 fix retry code to handle failed send ops
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/retry_filter.cc
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/fixtures/h2_proxy.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/retry_send_op_fails.cc
Labels: release notes: no

#26191 Add Python xDS user agent
  PYTHON-MANIFEST.in
  _metadata.py
  setup.py
  templates/_metadata.py.template
Labels: lang/Python, release notes: no

#26477 Ensure valid formatting of LoadTest names.
  tools/run_tests/performance/loadtest_config.py
Labels: release notes: no

#26476 Revert "Replace in-house rand with absl::Random for backoff"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/lib/backoff/backoff.cc
  src/core/lib/backoff/backoff.h
  src/python/grpcio/grpc_core_dependencies.py
  templates/Makefile.template
  test/core/backoff/backoff_test.cc
Labels: release notes: no

#26466 Backport fixes from #26465 to v1.38.x
  src/csharp/global.json
  src/csharp/install_dotnet_sdk.ps1
  templates/tools/dockerfile/csharp_dotnetcli_deps.include
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/test/csharp_buster_x64/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/linux/grpc_xds_csharp.sh
  tools/internal_ci/linux/grpc_xds_v3_csharp.sh
  tools/run_tests/artifacts/package_targets.py
Labels: lang/C#, release notes: no

#26465 Reintroduce #22964 with extra fixes
  src/csharp/install_dotnet_sdk.ps1
  templates/tools/dockerfile/csharp_deps.include
  templates/tools/dockerfile/csharp_dotnetcli_deps.include
  templates/tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile.template
  templates/tools/dockerfile/test/csharp_buster_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/test/csharp_buster_x64/Dockerfile
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/internal_ci/linux/grpc_xds_csharp.sh
  tools/internal_ci/linux/grpc_xds_v3_csharp.sh
  tools/run_tests/artifacts/package_targets.py
  tools/run_tests/run_tests.py
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: no

#25860 Fix-forward "Added portability test with openssl 1.0.2"
  templates/tools/dockerfile/test/cxx_buster_openssl102_x64/Dockerfile.template
  tools/dockerfile/test/cxx_buster_openssl102_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: area/test, lang/core, release notes: no

#26167 Ensure a new timestamp is obtained in FI filter
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
Labels: area/test, lang/c++, release notes: no

#26486 Revert unintended changes from #26207
  BUILD
Labels: release notes: no

#26205 PHP: add xDS user agent
  config.m4
  templates/config.m4.template
Labels: lang/php, release notes: no

#26485 fix retry code to properly propagate recv_trailing_metadata_ready error
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/retry_filter.cc
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/retry_recv_trailing_metadata_error.cc
Labels: release notes: no

#26497 PHP: Fix xds user agent compile flag name
  config.m4
  templates/config.m4.template
Labels: lang/php, release notes: no

#26490 buildscripts: add option to use xds-k8s test driver from a fork
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
Labels: release notes: no

#26452 Disable handshake_verify_peer_options_test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/handshake/BUILD
  tools/run_tests/generated/tests.json
Labels: release notes: no

#26487 xds-k8s: grant roles/iam.workloadIdentityUser automatically
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
  tools/run_tests/xds_k8s_test_driver/config/grpc-testing.cfg
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/iam.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: lang/Python, release notes: no

#26439 Improve documentation for using gRPC C# on Unity iOS
  src/csharp/experimental/README.md
Labels: release notes: no

#26237 Backport #26157 and #26161
  examples/cpp/helloworld/BUILD
  examples/cpp/helloworld/xds_greeter_client.cc
  examples/cpp/helloworld/xds_greeter_server.cc
Labels: release notes: no

#26446 Fix backup poller races
  src/core/lib/iomgr/iomgr_posix.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_posix.h
Labels: lang/core, release notes: yes

#26510 Update interop client matrix for Java 1.38.1 release
  tools/interop_matrix/client_matrix.py
Labels: lang/Java, release notes: no

#26507 Fix Python xDS User Agent
  setup.py
Labels: kind/bug, lang/Python, priority/P0/RELEASE BLOCKER, release notes: no

#26511 Bump v1.38.x to 1.38.1
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#26508 Revert: gRPC SDK Authorization Policy Proto.
  src/core/ext/upb-generated/src/proto/grpc/auth/v1/authz_policy.upb.c
  src/core/ext/upb-generated/src/proto/grpc/auth/v1/authz_policy.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/auth/v1/authz_policy.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/auth/v1/authz_policy.upbdefs.h
  src/proto/grpc/auth/v1/BUILD
  src/proto/grpc/auth/v1/authz_policy.proto
  tools/codegen/core/gen_upb_api.sh
Labels: release notes: no

#26495 Remove experimental tag from uses of the C++ callback API
  include/grpcpp/alarm.h
  include/grpcpp/impl/codegen/async_generic_service.h
  include/grpcpp/impl/codegen/message_allocator.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/impl/codegen/server_callback_handlers.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/server_interface.h
  include/grpcpp/impl/codegen/service_type.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  src/compiler/cpp_generator.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, release notes: no

#26505 Update tools in preparation for load test timeouts.
  tools/run_tests/performance/README.md
  tools/run_tests/performance/loadtest_config.py
  tools/run_tests/performance/loadtest_template.py
Labels: release notes: no

#26525 xds-k8s: Fix retries in IAM API wrapper, improve error handling
  tools/run_tests/xds_k8s_test_driver/framework/helpers/retryers.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/iam.py
Labels: lang/Python, release notes: no

#26512 Fix broken build due to missing license rule
  test/core/event_engine/BUILD
Labels: area/test, lang/core, release notes: no

#26503 [Backport] Ruby: attempt to fix "timeout" flake on xDS v3 tests
  src/ruby/pb/test/xds_client.rb
Labels: lang/ruby, release notes: no

#26504 [Backport] Ruby: attempt to fix "timeout" flake on xDS v3 tests
  src/ruby/pb/test/xds_client.rb
Labels: lang/ruby, release notes: no

#26501 Name driver when generating load test configs.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
  tools/run_tests/performance/loadtest_config.py
Labels: release notes: no

#26500 Python AIO: Match continuation typing on Interceptors
  src/python/grpcio/grpc/aio/_interceptor.py
Labels: lang/Python, release notes: yes

#26461 Fix race between OnReadDone(ok=false) and IsCancelled in inproc
  src/core/ext/transport/inproc/inproc_transport.cc
Labels: release notes: no

#26531 Revert "Allow to specify user provided audience in google default credentials and JWT credentials"
  include/grpc/grpc_security.h
  include/grpcpp/security/credentials.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.h
  src/cpp/client/secure_credentials.cc
  src/php/ext/grpc/channel_credentials.c
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/credentials_test.cc
Labels: lang/c++, lang/core, priority/P0/RELEASE BLOCKER, release notes: no

#26292 cmake: fix cross-compilation with gRPC_BUILD_GRPC_CPP_PLUGIN=OFF
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: area/build, release notes: no

#26530 Initialize tcp_posix for CFStream when needed
  src/core/lib/iomgr/iomgr_posix_cfstream.cc
Labels: lang/core, priority/P0/RELEASE BLOCKER, release notes: yes

#26328 Make socket mutators work for server connections
  include/grpcpp/support/channel_arguments.h
  src/core/lib/iomgr/socket_mutator.cc
  src/core/lib/iomgr/socket_mutator.h
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  test/core/iomgr/socket_utils_test.cc
  test/cpp/common/channel_arguments_test.cc
  test/cpp/interop/grpclb_fallback_test.cc
  test/cpp/server/server_builder_with_socket_mutator_test.cc
Labels: cla: yes, lang/core, release notes: no

#26516 Feature/updating templates to support worker timeouts.
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#26541 Repo manager - Yash
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26472 [C#] Add ChannelCredentials.SecureSsl property for better codecompletion with ChannelCredentials
  src/csharp/Grpc.Core.Api/ChannelCredentials.cs
  src/csharp/Grpc.Core.Tests/ChannelCredentialsTest.cs
Labels: lang/C#, release notes: yes

#26545 Fix executable path for Java workers
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#25924 dataclasses backport not applicable for 3.7+
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: area/test, lang/all, release notes: no

#26540 Add perAttemptRecvTimeout to retryPolicy
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/retry_service_config.cc
  src/core/ext/filters/client_channel/retry_service_config.h
  test/core/client_channel/service_config_test.cc
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/retry_per_attempt_recv_timeout.cc
Labels: release notes: no

#26550 xds-k8s: fix a bug with ordering flags in run.sh
  tools/run_tests/xds_k8s_test_driver/run.sh
Labels: release notes: no

#26532 Remove mockability of experimental_async() stub function
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no

#26535 Drop experimental tags from core callback API
  include/grpc/grpc.h
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/impl/codegen/callback_common.h
  include/grpcpp/impl/codegen/completion_queue.h
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/executor/threadpool.cc
  src/core/lib/iomgr/executor/threadpool.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/completion_queue_factory.cc
  src/cpp/client/channel_cc.cc
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/server_cc.cc
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/callback_common.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/inproc_callback_test.cc
  test/core/end2end/tests/connectivity.cc
  test/core/iomgr/threadpool_test.cc
  test/core/surface/completion_queue_test.cc
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/bm_threadpool.cc
Labels: lang/Python, lang/c++, lang/core, release notes: no

#26558 fix compilation
  src/core/lib/iomgr/socket_mutator.cc
Labels: release notes: no

#26560 Revert the accidentally touched grpc_xds_k8s.sh
  tools/internal_ci/linux/grpc_xds_k8s.sh
Labels: release notes: no

#26568 Remove last ref to grpc_experimental_completion_queue_functor
  include/grpc/impl/codegen/grpc_types.h
Labels: release notes: no

#26565 Changed the gpg keyserver on Mac
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: platform/macOS, release notes: no

#26570 Increase perAttemptRecvTimeout to avoid flakiness.
  test/core/end2end/tests/retry_per_attempt_recv_timeout.cc
Labels: release notes: no

#26567 Change StringMatcher to not support case-insensitive regex matching.
  src/core/lib/matchers/matchers.cc
  src/core/lib/matchers/matchers.h
  test/core/security/matchers_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#26564 Support GTMSessionFetcher transport retry configuration.
  src/objective-c/GRPCClient/GRPCCallOptions.h
Labels: lang/ObjC, release notes: no

#26569 De-experimentalize default_reactor_test_peer.h and last uses of CallbackServerContext (plus namespace cleanup)
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/test/default_reactor_test_peer.h
Labels: release notes: no

#26574 Repo Manager Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#26578 Update templates for php7 and php7_protobuf_c examples
  tools/run_tests/performance/loadtest_examples.sh
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: release notes: no

#26562 C-core API: remove grpc_metadata::flags, improve GRPC_INITIAL_METADATA_* comments
  include/grpc/impl/codegen/grpc_types.h
  src/core/lib/surface/call.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/server/secure_server_credentials.cc
  test/core/end2end/tests/authority_not_supported.cc
  test/core/end2end/tests/binary_metadata.cc
  test/core/end2end/tests/simple_cacheable_request.cc
  test/core/end2end/tests/simple_metadata.cc
  test/core/end2end/tests/trailing_metadata.cc
Labels: release notes: no

#26555 Fix invalid grpc_resolved_address length in test server
  src/core/lib/iomgr/tcp_server_posix.cc
  test/core/util/test_tcp_server.cc
Labels: area/test, release notes: no

#26572 Update README.
  tools/run_tests/performance/README.md
Labels: release notes: no
