Repository grpc/grpc, pull requests merged in 2021-02, with the labels that each got.

#25316 Switch to dart 2.12 to fix interop tests
  tools/dockerfile/interoptest/grpc_interop_dart/Dockerfile
Labels: release notes: no

#25306 PHP: update readme
  src/php/README.md
Labels: lang/php, release notes: no

#25309 PHP: run generate_proto_php.sh to update generated files
  src/php/tests/generated_code/GPBMetadata/Math.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Messages.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/PBEmpty.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Test.php
  src/php/tests/interop/Grpc/Testing/ClientConfigureRequest.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerAccumulatedStatsResponse.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerAccumulatedStatsResponse/MethodStats.php
  src/php/tests/interop/Grpc/Testing/LoadBalancerAccumulatedStatsResponse_MethodStats.php
Labels: lang/php, release notes: no

#25312 Removing redundant files from upb yaml
  CMakeLists.txt
  Makefile
  grpc.gyp
  src/upb/gen_build_yaml.py
Labels: kind/bug, lang/core, release notes: no

#25295 Added time-util to gprpp
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/gprpp/time_util.cc
  src/core/lib/gprpp/time_util.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/gprpp/BUILD
  test/core/gprpp/time_util_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: kind/enhancement, lang/core, release notes: no

#25262 xds testing: add test cases for header/path matching to test desc
  doc/xds-test-descriptions.md
Labels: release notes: no

#25267 Cherry-pick of xds interop tests to v1.32.x
  doc/xds-test-descriptions.md
  tools/dockerfile/distribtest/python_dev_centos7_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25298 Fixing Logical DNS case:
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25268 Cherry-pick of xds interop tests to v1.31.x
  doc/xds-test-descriptions.md
  tools/internal_ci/linux/grpc_xds.cfg
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp.cfg
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_python.cfg
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25269 Cherry-pick of xds interop tests to v1.30.x
  doc/xds-test-descriptions.md
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25307 xds-k8s driver: increase timeouts for k8s cleanup operations
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
Labels: release notes: no

#25328 Avoid memory leak.
  src/android/test/interop/app/src/main/cpp/grpc-interop.cc
Labels: release notes: no

#25319 Re-generate Ruby protos
  src/ruby/pb/src/proto/grpc/testing/messages_pb.rb
  src/ruby/qps/src/proto/grpc/testing/messages_pb.rb
Labels: lang/ruby, release notes: no

#25320 Re-generate PHP protos
  src/php/tests/generated_code/GPBMetadata/Math.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Messages.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/PBEmpty.php
  src/php/tests/interop/GPBMetadata/Src/Proto/Grpc/Testing/Test.php
Labels: lang/php, release notes: no

#25326 xds: Remove potentially problematic optimization in xds_cluster_resolver policy
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
Labels: release notes: no

#25290 Fixed missing-field-initializers
  bazel/copts.bzl
  src/core/ext/xds/xds_client_stats.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#25335 Fix fake xDS server bug that caused unnecessary round trips in NACK tests
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25317 xds interop: add timeout test cases
  doc/xds-test-descriptions.md
  tools/run_tests/run_xds_tests.py
Labels: area/interop, release notes: no

#25336 Repo Manager Yash
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#25338 xds: Remove env-var protection for xDS v3 support.
  src/core/ext/xds/xds_bootstrap.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25245 PHP: add initializing start batch message buffer
  src/php/ext/grpc/call.c
  src/php/tests/generated_code/AbstractGeneratedCodeTest.php
Labels: lang/php, release notes: yes

#25329 xds: Change ADS parsing to not stop at the first error
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25340 Change strview.data() to string(strview)
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: release notes: no

#25342 Fix reference to the IPv6 URI format RFC
  src/core/lib/iomgr/sockaddr_utils.cc
Labels: area/core, kind/internal cleanup, release notes: no

#25343 Change strview.data() to string(strview) (porting to v1.34.x)
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: release notes: no

#25347 Fix flakey time diff assertion in resolver cooldown test
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
Labels: lang/core, release notes: no

#25344 Change strview.data() to string(strview) (porting to v1.33.x)
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: release notes: no

#25345 Change strview.data() to string(strview) (porting to v1.32.x)
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
Labels: release notes: no

#25346 Change strview.data() to string(strview) (porting to v1.31.x)
  src/core/ext/filters/client_channel/lb_policy/xds/xds_routing.cc
Labels: release notes: no

#25355 Pin all Bazel pypi dependencies
  requirements.bazel.txt
Labels: kind/bug, lang/Python, release notes: no

#25270 Change xds_cluster_resolver LB policy config to support combined loca…
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/server_address.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25300 Add a commentary on C++ Windows DLL builds.
  BUILDING.md
Labels: lang/c++, platform/Windows, release notes: no

#25366 Python xDS Timeout Test Client
  src/proto/grpc/testing/messages.proto
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
Labels: area/test, lang/Python, release notes: no

#25375 Repo manager Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#25323 PHP: php server commit 1/n, add status
  src/php/lib/Grpc/Status.php
  src/php/tests/unit_tests/StatusTest.php
  tools/doxygen/Doxyfile.php
Labels: lang/php, release notes: no

#25303 PHP: support for PSM security
  src/php/bin/run_gen_code_test.sh
  src/php/ext/grpc/channel_credentials.c
  src/php/tests/generated_code/AbstractGeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeTest.php
  src/php/tests/generated_code/GeneratedCodeWithCallbackTest.php
  src/php/tests/generated_code/math_server.js
  src/php/tests/unit_tests/ChannelCredentialsTest.php
  src/php/tests/unit_tests/ChannelTest.php
Labels: lang/php, release notes: yes

#25384 Fix Interop Client Typo
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
Labels: lang/Python, release notes: no

#25325 Made grpc_core::Mutex compatible to absl::Mutex
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/gprpp/mpscq.cc
  src/core/lib/gprpp/sync.h
  src/core/lib/iomgr/ev_apple.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/slice/slice_intern.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/load_reporter/load_reporter.cc
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
  src/cpp/thread_manager/thread_manager.cc
  test/core/handshake/server_ssl_common.cc
  test/core/iomgr/stranded_event_test.cc
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#25379 Move third party identity C++ api out of experimental namespace
  include/grpcpp/security/credentials.h
  src/cpp/client/secure_credentials.cc
  test/cpp/client/credentials_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: yes

#25365 Implement Python Client and Server xDS Creds
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_cython/_cancel_many_calls_test.py
  src/python/grpcio_tests/tests/unit/_cython/_common.py
  src/python/grpcio_tests/tests/unit/_cython/_read_some_but_not_all_responses_test.py
  src/python/grpcio_tests/tests/unit/_cython/_server_test.py
  src/python/grpcio_tests/tests/unit/_cython/cygrpc_test.py
  src/python/grpcio_tests/tests/unit/_xds_credentials_test.py
Labels: lang/Python, release notes: yes

#25381 Remove disrespectful terms
  src/core/lib/iomgr/timer_generic.cc
  tools/run_tests/performance/remote_host_prepare.sh
Labels: release notes: no

#25380 Replace disrespectful words
  package.xml
  src/core/lib/iomgr/timer_manager.cc
  src/csharp/Grpc.Core.Tests/ShutdownTest.cs
  src/csharp/Grpc.Core/GrpcEnvironment.cs
  src/objective-c/NetworkTransitionBehavior.md
  src/php/docker/README.md
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio_tests/tests/fork/_fork_interop_test.py
  src/python/grpcio_tests/tests/unit/_exit_test.py
  src/python/grpcio_tests/tests/unit/_server_shutdown_test.py
  src/python/grpcio_tests/tests/unit/_signal_client.py
  src/python/grpcio_tests/tests/unit/framework/common/test_control.py
  src/ruby/end2end/channel_closing_client.rb
  src/ruby/end2end/channel_closing_test.rb
  src/ruby/end2end/channel_state_test.rb
  src/ruby/end2end/killed_client_thread_test.rb
  src/ruby/spec/generic/client_stub_spec.rb
  templates/package.xml.template
  test/core/end2end/multiple_server_queues_test.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/cfstream_test.cc
  tools/internal_ci/linux/grpc_microbenchmark_diff.sh
  tools/internal_ci/linux/grpc_performance_profile_daily.sh
  tools/internal_ci/linux/grpc_performance_profile_master.sh
  tools/internal_ci/linux/grpc_trickle_diff.sh
  tools/internal_ci/macos/grpc_run_bazel_isolated_tests.sh
  tools/internal_ci/macos/grpc_run_tests_matrix.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: release notes: no

#25376 Replace disrespectful term
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: release notes: no

#25382 Replace disrespectful term
  tools/internal_ci/linux/grpc_build_abseil-cpp_at_head.cfg
  tools/internal_ci/linux/grpc_build_boringssl_at_head.cfg
  tools/internal_ci/linux/grpc_build_protobuf_at_head.cfg
  tools/run_tests/python_utils/filter_pull_request_tests.py
  tools/run_tests/sanity/check_test_filtering.py
  tools/run_tests/sanity/core_banned_functions.py
Labels: release notes: no

#25388 Bump version of HEAD to v1.37.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#25389 Bump v1.36.x branch's version to 1.36.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#25402 Revert "Made grpc_core::Mutex compatible to absl::Mutex"
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/gprpp/mpscq.cc
  src/core/lib/gprpp/sync.h
  src/core/lib/iomgr/ev_apple.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/slice/slice_intern.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/load_reporter/load_reporter.cc
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
  src/cpp/thread_manager/thread_manager.cc
  test/core/handshake/server_ssl_common.cc
  test/core/iomgr/stranded_event_test.cc
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/core, release notes: no

#25383 Clarify Guarantees about grpc.Future Interface
  src/python/grpcio/grpc/__init__.py
Labels: area/documentation, lang/Python, release notes: yes

#25407 Revert "Merge pull request #25365 from gnossen/python_xds_creds"
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_cython/_cancel_many_calls_test.py
  src/python/grpcio_tests/tests/unit/_cython/_common.py
  src/python/grpcio_tests/tests/unit/_cython/_read_some_but_not_all_responses_test.py
  src/python/grpcio_tests/tests/unit/_cython/_server_test.py
  src/python/grpcio_tests/tests/unit/_cython/cygrpc_test.py
  src/python/grpcio_tests/tests/unit/_xds_credentials_test.py
Labels: kind/bug, lang/Python, release notes: no

#24775 Fix implicit-int-float-conversion warning.
  src/core/lib/iomgr/exec_ctx.cc
Labels: lang/core, release notes: no

#25420 Update dotnet sdk5 docker image to avoid nuget download error in C# .NET 5 distribtest
  tools/dockerfile/distribtest/csharp_dotnet5_x64/Dockerfile
Labels: release notes: no

#25354 Add use_strict_warning=true for mac-os bazel build
  src/core/lib/gprpp/dual_ref_counted.h
  tools/remote_build/mac.bazelrc
Labels: kind/internal cleanup, lang/c++, platform/macOS, release notes: no

#25417 tools/buildgen dead code cleanup
  build_handwritten.yaml
  tools/buildgen/plugins/generate_vsprojects.py
Labels: lang/c++, release notes: no

#25333 Update the way dockerfiles install pip for python 2.7 and 3.5
  templates/tools/dockerfile/apt_get_python_27.include
  templates/tools/dockerfile/clang_update.include
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/bazel/Dockerfile.template
  templates/tools/dockerfile/test/fuzzer/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_default_x64/Dockerfile.template
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/dockerfile/test/python_stretch_default_x64/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: lang/Python, release notes: no

#25412 Increase maximum frame size to 1MB
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.h
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: release notes: no

#25404 Fix-forward: Made grpc_core::Mutex compatible to absl::Mutex
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/gprpp/mpscq.cc
  src/core/lib/gprpp/sync.h
  src/core/lib/iomgr/ev_apple.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/slice/slice_intern.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/load_reporter/load_reporter.cc
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
  src/cpp/thread_manager/thread_manager.cc
  test/core/handshake/server_ssl_common.cc
  test/core/iomgr/stranded_event_test.cc
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: area/core, kind/internal cleanup, release notes: no

#25403 Use xDS v3 in google-c2p resolver.
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: release notes: no

#25391 Support to add a suffix on user agents for grpc-objc.
  src/objective-c/GRPCClient/GRPCCallOptions.h
  src/objective-c/GRPCClient/GRPCCallOptions.m
  src/objective-c/GRPCClient/private/GRPCCore/GRPCChannel.m
Labels: lang/ObjC, release notes: no

#25401 Use AllocatingRequestMatcher for C++ sync server
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#25414 Add script to check for illegal terms
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/iomgr/resource_quota.cc
  tools/run_tests/sanity/check_illegal_terms.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: release notes: no

#25413 add timeout to xds test runs, run_xds_tests improvements
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/run_tests/run_xds_tests.py
Labels: area/test, release notes: no

#25398 Fix races in resolve_address and resolve_address_posix tests
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
Labels: lang/core, release notes: no

#25310 xDS HTTP filter support for gRPC client
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/dynamic_filters.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/upb-generated/envoy/extensions/filters/http/router/v3/router.upb.c
  src/core/ext/upb-generated/envoy/extensions/filters/http/router/v3/router.upb.h
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.c
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.h
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/router/v3/router.upbdefs.c
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/router/v3/router.upbdefs.h
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/lame_client.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/http_connection_manager.proto
  src/proto/grpc/testing/xds/v3/route.proto
  src/proto/grpc/testing/xds/v3/router.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no

#25406 Fix flake in ruby call creds timeout test
  src/ruby/end2end/call_credentials_timeout_test.rb
Labels: lang/ruby, release notes: no

#25385 [C#] Add buildTransitive directory to NuGet package
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/buildTransitive/net45/Grpc.Core.targets
Labels: lang/C#, release notes: yes

#25433 Backport #25420 into v1.36.x
  tools/dockerfile/distribtest/csharp_dotnet5_x64/Dockerfile
Labels: lang/C#, release notes: no

#25410 Reintroduce xDS Creds
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/_simple_stubs.py
  src/python/grpcio/grpc/experimental/__init__.py
  src/python/grpcio_tests/tests/tests.json
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests/unit/_api_test.py
  src/python/grpcio_tests/tests/unit/_cython/_cancel_many_calls_test.py
  src/python/grpcio_tests/tests/unit/_cython/_common.py
  src/python/grpcio_tests/tests/unit/_cython/_read_some_but_not_all_responses_test.py
  src/python/grpcio_tests/tests/unit/_cython/_server_test.py
  src/python/grpcio_tests/tests/unit/_cython/cygrpc_test.py
  src/python/grpcio_tests/tests/unit/_xds_credentials_test.py
Labels: lang/Python, release notes: no

#25409 xds-k8s driver: switch Backend Health Check from TCP to GRPC
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/security_test.py
Labels: release notes: no

#25416 Teach the release notes script to find GitHub Squash and Merge PRs
  tools/release/release_notes.py
Labels: area/packaging & distribution, release notes: no

#25387 Made grpc::internal::Mutex compatible to absl::Mutex
  include/grpcpp/impl/codegen/sync.h
  src/cpp/server/server_cc.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
Labels: kind/internal cleanup, lang/c++, release notes: no

#25438 Fix unused variable error from PR #25401
  src/cpp/server/server_cc.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: no

#25442 Fix child process port allocation in ruby end-to-end tests
  src/ruby/end2end/channel_closing_client.rb
  src/ruby/end2end/channel_closing_test.rb
  src/ruby/end2end/channel_state_client.rb
  src/ruby/end2end/channel_state_test.rb
  src/ruby/end2end/client_memory_usage_client.rb
  src/ruby/end2end/client_memory_usage_test.rb
  src/ruby/end2end/end2end_common.rb
  src/ruby/end2end/forking_client_client.rb
  src/ruby/end2end/forking_client_test.rb
  src/ruby/end2end/graceful_sig_handling_client.rb
  src/ruby/end2end/graceful_sig_handling_test.rb
  src/ruby/end2end/graceful_sig_stop_client.rb
  src/ruby/end2end/graceful_sig_stop_test.rb
  src/ruby/end2end/killed_client_thread_client.rb
  src/ruby/end2end/killed_client_thread_test.rb
  src/ruby/end2end/lib/client_control_pb.rb
  src/ruby/end2end/lib/client_control_services_pb.rb
  src/ruby/end2end/lib/echo_pb.rb
  src/ruby/end2end/lib/echo_services_pb.rb
  src/ruby/end2end/protos/client_control.proto
  src/ruby/end2end/sig_handling_client.rb
  src/ruby/end2end/sig_handling_test.rb
  src/ruby/end2end/sig_int_during_channel_watch_client.rb
  src/ruby/end2end/sig_int_during_channel_watch_test.rb
Labels: lang/ruby, release notes: no

#25443 Bump up minimum supported clang to 4.0
  templates/tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile.template
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/core, release notes: yes

#25054 To karthik
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/change_repo_manager.sh
  .github/pull_request_template.md
Labels: release notes: no

#25441 run_xds_tests: use frozenset for const instead of set
  tools/run_tests/run_xds_tests.py
Labels: area/test, release notes: no

#25428 Test user agent suffix for grpc-objc.
  src/objective-c/GRPCClient/GRPCCall+ChannelArg.h
  src/objective-c/GRPCClient/GRPCCall+ChannelArg.m
  src/objective-c/GRPCClient/private/GRPCCore/GRPCHost.h
  src/objective-c/GRPCClient/private/GRPCCore/GRPCHost.m
  src/objective-c/tests/UnitTests/GRPCClientTests.m
Labels: lang/ObjC, release notes: no

#25453 use boringssl asm optimizations in aarch64 wheel source build
  setup.py
Labels: lang/Python, release notes: yes

#25456 Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25473 add link to release support policy
  doc/grpc_release_schedule.md
Labels: release notes: no

#25439 Extend timeout for streaming calls
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, release notes: no

#25470 [Backport] Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25169 Implement callback CQ at C++ layer using shared thread pool if non-background iomgr
  include/grpcpp/impl/codegen/completion_queue.h
  src/cpp/client/channel_cc.cc
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/server_cc.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/context_allocator_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/message_allocator_end2end_test.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_callback_unary_ping_pong.cc
Labels: lang/c++, release notes: no

#25471 [Backport] Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25465 [Backport] Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25466 [Backport] Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25467 [Backport] Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25468 [Backport] Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25469 [Backport] Bump xDS Interop Tests to Python 3
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: area/test, kind/bug, lang/all wrapped languages, release notes: no

#25447 [Fuchsia] Disable C-ARES resolver
  include/grpc/impl/codegen/port_platform.h
Labels: area/build, lang/core, release notes: no

#25448 [Fuchsia] Fix root SSL cert path
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/security/security_connector/ssl_utils.cc
Labels: area/build, lang/core, release notes: no

#25475 Enable initiating writes for bdp pings
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: release notes: no

#25477 Reduce max size of bm_callback_streaming_ping_pong messages
  test/cpp/microbenchmarks/bm_callback_streaming_ping_pong.cc
Labels: release notes: no

#25472 Add Script to Backport PRs to Multiple Branches
  tools/release/backport_pr.sh
Labels: area/tools, lang/all wrapped languages, release notes: no

#25482 Explain include/grpc++ vs include/grpcpp
  include/grpc++/README.md
Labels: release notes: no

#25480 Reduce log severity of cq operation failure message
  src/core/lib/surface/completion_queue.cc
Labels: release notes: no

#25483 Fix unused param warning
  src/cpp/common/completion_queue_cc.cc
Labels: release notes: no

#25484 Fix a typo in xDS bootstrap parsing
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client_stats.h
  test/core/xds/xds_bootstrap_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: area/core, lang/core, release notes: no

#25492 Remove an incorrect debug assertion
  src/cpp/server/server_cc.cc
Labels: release notes: no

#25479 Set error message when a data frame with END_STREAM is received on client
  src/core/ext/transport/chttp2/transport/frame_data.cc
Labels: release notes: no

#25378 Ruby: add xds timeout test
  src/ruby/pb/test/xds_client.rb
Labels: lang/ruby, release notes: no

#25501 Fixit: Replaces disrespectful terms
  src/ruby/end2end/channel_closing_test.rb
  src/ruby/end2end/channel_state_test.rb
  src/ruby/end2end/forking_client_client.rb
  src/ruby/end2end/forking_client_test.rb
  src/ruby/end2end/grpc_class_init_test.rb
  src/ruby/end2end/killed_client_thread_test.rb
  src/ruby/end2end/sig_int_during_channel_watch_test.rb
  src/ruby/spec/generic/rpc_server_spec.rb
Labels: lang/ruby, release notes: no

#25490 C#: Use explicit native extension loading whenever possible
  src/csharp/Grpc.Core/Internal/NativeExtension.cs
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
Labels: lang/C#, release notes: yes

#25506 Backport #25490 into v1.36.x
  src/csharp/Grpc.Core/Internal/NativeExtension.cs
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: yes

#25496 [Backport] Run Ruby xDS tests on Buster instead of Jessie
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds_ruby.sh
Labels: area/test, lang/ruby, release notes: no

#25497 [Backport] Run Ruby xDS tests on Buster instead of Jessie
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds_ruby.sh
Labels: area/test, lang/ruby, release notes: no

#25498 [Backport] Run Ruby xDS tests on Buster instead of Jessie
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds_ruby.sh
Labels: area/test, lang/ruby, release notes: no

#25499 [Backport] Run Ruby xDS tests on Buster instead of Jessie
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds_ruby.sh
Labels: area/test, lang/ruby, release notes: no

#25493 Run Ruby xDS tests on Buster instead of Jessie
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds_ruby.sh
Labels: area/test, lang/ruby, release notes: no

#25491 Restore callback microbenchmarks but make them manual for now
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_callback_streaming_ping_pong.cc
  test/cpp/microbenchmarks/bm_callback_unary_ping_pong.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#25507 Relax ruby test check on protobuf error message
  src/ruby/spec/errors_spec.rb
Labels: lang/ruby, release notes: no

#25502 Enable backport of unmerged PRs
  tools/release/backport_pr.sh
Labels: area/tools, lang/all wrapped languages, release notes: no

#25394 Fix Signal Safety Issue
  src/python/grpcio/grpc/_channel.py
Labels: kind/bug, lang/Python, release notes: yes

#25510 [xDS Proto] Pin PyPI dependencies in Dockerfiles
  templates/tools/dockerfile/gcp_api_libraries.include
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/buildgen/generate_projects.sh
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/dockerfile/test/python_stretch_default_x64/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: release notes: no

#25521 Simplify build.yaml's "deps_linkage" logic
  build_autogenerated.yaml
  templates/Makefile.template
  templates/README.md
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: lang/core, release notes: no

#25460 xds-k8s driver: remove "Client subchannel must have no sockets" check
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: release notes: no

#25523 Pass repo manager to Donna
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#25529 xds-k8s: set GRPC_XDS_EXPERIMENTAL_NEW_SERVER_API
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
Labels: release notes: no

#25524 Get rid of "dll_only" in build.yaml
  build_autogenerated.yaml
  templates/CMakeLists.txt.template
  templates/README.md
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: lang/core, release notes: no

#25527 Document ownership transfer in ChannelArguments::SetPointerWithVtable
  include/grpcpp/support/channel_arguments.h
Labels: area/api, lang/c++, release notes: no

#25534 Bump version to v1.36.0
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#25481 Document reaction concurrency and reactor lifetime
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/server_callback.h
Labels: release notes: no

#25537 Revert "Made grpc_core::Mutex compatible to absl::Mutex"
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/gprpp/mpscq.cc
  src/core/lib/gprpp/sync.h
  src/core/lib/iomgr/ev_apple.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/slice/slice_intern.cc
  src/core/lib/surface/channel.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/load_reporter/load_reporter.cc
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
  src/cpp/thread_manager/thread_manager.cc
  test/core/handshake/server_ssl_common.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/iomgr/stranded_event_test.cc
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25532 Cleanup: Remove no-longer-needed expand_filegroups.py
  Makefile
  templates/README.md
  tools/buildgen/plugins/expand_filegroups.py
  tools/buildgen/plugins/make_fuzzer_tests.py
  tools/buildgen/plugins/transitive_dependencies.py
Labels: release notes: no

#25544 Update PHP's grpc_php_plugin instructions
  src/php/README.md
Labels: lang/php, release notes: no

#25494 Remove the `urgent` argument from iomgr tcp read API
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
  test/core/iomgr/tcp_posix_test.cc
  test/core/security/secure_endpoint_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/eval_args_mock_endpoint.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/trickle_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: area/core, lang/core, release notes: no

#25548 add env var protection for google-c2p resolver
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: release notes: no

#25549 Revert "Revert "Made grpc_core::Mutex compatible to absl::Mutex""
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/gprpp/mpscq.cc
  src/core/lib/gprpp/sync.h
  src/core/lib/iomgr/ev_apple.cc
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/slice/slice_intern.cc
  src/core/lib/surface/channel.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/cpp/common/completion_queue_cc.cc
  src/cpp/server/dynamic_thread_pool.cc
  src/cpp/server/load_reporter/load_reporter.cc
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
  src/cpp/thread_manager/thread_manager.cc
  test/core/handshake/server_ssl_common.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/iomgr/stranded_event_test.cc
  test/cpp/common/time_jump_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25555 Revert "xDS HTTP filter support for gRPC client"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/dynamic_filters.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/upb-generated/envoy/extensions/filters/http/router/v3/router.upb.c
  src/core/ext/upb-generated/envoy/extensions/filters/http/router/v3/router.upb.h
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.c
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.h
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/router/v3/router.upbdefs.c
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/router/v3/router.upbdefs.h
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/lame_client.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/http_connection_manager.proto
  src/proto/grpc/testing/xds/v3/route.proto
  src/proto/grpc/testing/xds/v3/router.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#25546 Grpc.Tools: fix typos in comments
  src/csharp/Grpc.Tools/ProtoCompile.cs
Labels: lang/C#, release notes: no

#25557 xds_end2end_test: improve TestType API
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25563 Update PyYAML in generate_project.sh if needed
  tools/buildgen/generate_projects.sh
Labels: release notes: no

#25561 xds_end2end_test: avoid flakes from lingering shutdown from previous test
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#22628 Grpc.Tools readme update - duplicated .proto names
  src/csharp/BUILD-INTEGRATION.md
Labels: disposition/never stale, lang/C#, release notes: no

#25569 back-port: add env var protection for google-c2p resolver
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: release notes: no

#25558 Second attempt: xDS HTTP filter support for gRPC client
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/dynamic_filters.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/upb-generated/envoy/extensions/filters/http/router/v3/router.upb.c
  src/core/ext/upb-generated/envoy/extensions/filters/http/router/v3/router.upb.h
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.c
  src/core/ext/upb-generated/udpa/type/v1/typed_struct.upb.h
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/router/v3/router.upbdefs.c
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/router/v3/router.upbdefs.h
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.c
  src/core/ext/upbdefs-generated/udpa/type/v1/typed_struct.upbdefs.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/lame_client.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/http_connection_manager.proto
  src/proto/grpc/testing/xds/v3/route.proto
  src/proto/grpc/testing/xds/v3/router.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds_end2end_test.cc
  tools/codegen/core/gen_upb_api.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#25427 Replaced slice_shard:gpr_mu with Mutex
  src/core/lib/slice/slice_intern.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#25551 Allow C2P resolver's server_uri to be overridden for testing
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core, release notes: no

#25550 Make --server_port optional in C++ interop client
  test/cpp/interop/client_helper.cc
Labels: lang/c++, release notes: no

#25566 Add gRPC Java 1.36.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#25572 Fix the generated_projects.sh again
  tools/buildgen/generate_projects.sh
Labels: release notes: no

#25576 Don't dynamically allocate default server context
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no

#25577 Disable check_call_host when server_verification_option is not GRPC_TLS_SERVER_VERIFICATION
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
Labels: lang/core, release notes: yes

#25374 Add support for additional protoc arguments in Grpc.Tools
  src/csharp/Grpc.Tools.Tests/ProtoCompileCommandLineGeneratorTest.cs
  src/csharp/Grpc.Tools/ProtoCompile.cs
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#25517 Use linkstatic for test libraries that contain main()
  bazel/grpc_build_system.bzl
  test/core/util/BUILD
  test/cpp/end2end/BUILD
Labels: lang/c++, release notes: no
