Repository grpc/grpc, pull requests merged in 2021-09, with the labels that each got.

#27207 Remove EventEngine::Shutdown
  include/grpc/event_engine/event_engine.h
  src/core/lib/iomgr/event_engine/iomgr.cc
Labels: area/core, lang/core, release notes: no

#27205 Fix retry code to hold refs to send_initial_metadata slices
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/lib/slice/slice.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/retry_send_initial_metadata_refs.cc
Labels: priority/P0/RELEASE BLOCKER, lang/core, release notes: no

#27210 Increase timeout for windows portability test (on master)
  tools/internal_ci/windows/grpc_portability.cfg
  tools/internal_ci/windows/pull_request/grpc_portability.cfg
Labels: release notes: no

#27214 Flag grpc++_test library testonly
  BUILD
Labels: lang/c++, priority/P1, release notes: yes

#27177 Only enable binder transport code when API level is high enough
  include/grpc/impl/codegen/port_platform.h
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/binder_android.h
  src/core/ext/transport/binder/wire_format/binder_constants.cc
  src/core/ext/transport/binder/wire_format/binder_constants.h
Labels: lang/core, release notes: no

#27218 xds-k8s: Fix error: serviceAccountName Invalid value: None
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
Labels: lang/all wrapped languages, area/interop, release notes: no

#27212 Back-port to 1.40: Fix retry code to hold refs to send_initial_metadata slices
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/lib/slice/slice.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/retry_send_initial_metadata_refs.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#27217 fix retry code to fail batches instead of creating attempt if previously cancelled from surface
  src/core/ext/filters/client_channel/retry_filter.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, lang/core, release notes: no

#27221 C++ opencensus filter: Fix point of creating context for overall call
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: yes

#27224 Use a smaller array for write IOVs.
  src/core/lib/iomgr/tcp_posix.cc
Labels: area/core, lang/core, release notes: no

#27222 back-port to 1.40: fix retry code to fail batches instead of creating attempt if previously cancelled from surface
  src/core/ext/filters/client_channel/retry_filter.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#27225 Add missing namespace for binder transport phony implementation
  src/core/ext/transport/binder/client/channel_create.cc
Labels: release notes: no

#27133 add file existence check
  tools/run_tests/performance/bq_upload_result.py
Labels: release notes: no

#27233 Ensure consistency of include style for <grpc.* headers
  include/grpc/event_engine/event_engine.h
  src/core/ext/transport/chttp2/transport/chttp2_slice_allocator.cc
  src/core/ext/transport/chttp2/transport/chttp2_slice_allocator.h
  src/core/ext/transport/chttp2/transport/popularity_count.h
  src/core/lib/event_engine/sockaddr.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/filters/census/server_filter.h
  test/core/event_engine/endpoint_config_test.cc
  test/core/security/fetch_oauth2.cc
  test/core/slice/b64_encode_fuzzer.cc
  test/core/transport/chttp2/hpack_encoder_index_test.cc
  test/core/transport/chttp2/popularity_count_test.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
  test/cpp/microbenchmarks/bm_opencensus_plugin.cc
  test/cpp/util/channelz_sampler.cc
  test/cpp/util/channelz_sampler_test.cc
  tools/distrib/sanitize.sh
  tools/run_tests/sanity/check_include_style.py
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/c++, lang/core, release notes: no

#27202 Add initial pipe facility for promises
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/pipe.h
  test/core/promise/BUILD
  test/core/promise/pipe_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#27196 [gRPC ObjC] Fix flaky Interop test cases with write message callback …
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#27235 Add compute_engine_channel_credentials to __all__
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio_tests/tests/unit/_api_test.py
Labels: kind/bug, lang/Python, release notes: no

#26074 Add Python 3.10 drop 3.5
  setup.py
  src/python/grpcio/README.rst
  src/python/grpcio_channelz/README.rst
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/README.rst
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/README.rst
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/README.rst
  src/python/grpcio_status/setup.py
  src/python/grpcio_testing/README.rst
  tools/distrib/python/grpcio_tools/README.rst
  tools/dockerfile/distribtest/python_buster_x64/Dockerfile
  tools/dockerfile/distribtest/python_buster_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux_2_24_aarch64/Dockerfile
  tools/internal_ci/helper_scripts/install_python_interpreters.ps1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/Python, release notes: yes, disposition/never stale

#27192 Rebuild HPACK encoder table as C++
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_constants.h
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.h
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/hpack_parser_table.cc
  src/core/ext/transport/chttp2/transport/hpack_parser_table.h
  src/core/ext/transport/chttp2/transport/hpack_utils.cc
  src/core/ext/transport/chttp2/transport/hpack_utils.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/hpack_encoder_index_test.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/transport/chttp2/hpack_parser_table_test.cc
  test/core/transport/chttp2/hpack_utils_test.cc
  test/core/transport/metadata_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#26834 Clear SSL error stacks before performing SSL I/O.
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/core, area/security, lang/core, release notes: no

#27230 Increase timeout for building mac ruby artifact
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/ruby, release notes: no

#27229 [binder] Disable header in Parcel
  src/core/ext/transport/binder/wire_format/binder_android.cc
Labels: lang/core, release notes: no

#26725 Annotate copied Content native lib items with package id to enable customization
  src/csharp/Grpc.Core/build/net45/Grpc.Core.targets
Labels: lang/C#, release notes: yes

#26762 [csharp] Fix error loading library grpc_csharp_ext.*.dll on windows with non-ASCII encoding
  src/csharp/Grpc.Core/Internal/UnmanagedLibrary.cs
Labels: lang/C#, release notes: yes

#27223 interop-testing: url_map resource leakage
  tools/run_tests/run_xds_tests.py
Labels: area/interop, lang/Python, release notes: no

#26492 Remove iterator interface from LBPolicy Metadata
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  test/core/util/test_lb_policies.cc
Labels: lang/core, release notes: no

#27247 Fix Artifact Build Extra
  tools/dockerfile/grpc_artifact_python_linux_armv7/Dockerfile
  tools/dockerfile/grpc_artifact_python_linux_armv7/install_python_for_wheel_crosscompilation.sh
Labels: kind/bug, lang/Python, area/build, release notes: no

#27238 C++ opencensus filter: Fix point of creating context for overall call…
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: yes

#27197 [gRPC ObjC] Fix setenv crash for invalid c string access
  src/objective-c/GRPCClient/private/GRPCCore/GRPCSecureChannelFactory.m
Labels: lang/ObjC, platform/iOS, release notes: no

#27036 Add binder server
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/binder/server/BUILD
  src/core/ext/transport/binder/server/binder_server.cc
  src/core/ext/transport/binder/server/binder_server.h
  src/core/ext/transport/binder/server/binder_server_credentials.cc
  src/core/ext/transport/binder/server/binder_server_credentials.h
  test/core/transport/binder/end2end/BUILD
  test/core/transport/binder/end2end/binder_server_test.cc
  test/core/transport/binder/end2end/fake_binder.h
  tools/run_tests/generated/tests.json
Labels: release notes: no

#27254 [binder] Keep pulling messages when there's more
  src/core/ext/transport/binder/transport/binder_transport.cc
Labels: lang/core, release notes: no

#27255 Custom binder channel
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/channel_create.h
Labels: lang/core, release notes: no

#27259 Enable server side implementation in example binder server app
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/BUILD
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/native.cc
Labels: release notes: no

#27245 Revert "Revert "Revert "Adding grpc_init/grpc_shutdown to subchannel ctor/dtor to solve bugs related to async destruction of subchannels"""
  src/core/ext/filters/client_channel/subchannel.cc
Labels: lang/core, release notes: no, force-merge

#27236 [gRPC ObjC] Adding strong self nullability check
  src/objective-c/GRPCClient/private/GRPCCore/GRPCWrappedCall.m
Labels: lang/ObjC, platform/iOS, release notes: no

#27258 interop-testing, staging: ignore urlmap not exist errors in existing resource setup
  tools/run_tests/run_xds_tests.py
Labels: lang/Python, area/test, release notes: no

#27250 Add sanity check preventing "DO NOT SUBMIT"s from submitting
  tools/run_tests/sanity/check_do_not_submit.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: area/build, release notes: no

#27237 [gRPC ObjC] Adding copy property attribte to response header & traile…
  src/objective-c/GRPCClient/GRPCCallLegacy.h
  src/objective-c/GRPCClient/GRPCCallLegacy.m
Labels: lang/ObjC, platform/iOS, release notes: no

#27253 Add python formatters to sanitize.sh
  .github/workflows/pr-auto-fix.yaml
  tools/distrib/sanitize.sh
Labels: release notes: no, area/infra

#27269 Remove the TaskHandle return type from EventEngine::Run
  include/grpc/event_engine/event_engine.h
  src/core/lib/iomgr/event_engine/iomgr.cc
Labels: area/core, lang/core, release notes: no

#26396 Tiny update to protocol overview doc.
  CONCEPTS.md
Labels: release notes: no

#27226 Convert HPACK encoder to C++
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/varint.cc
  src/core/ext/transport/chttp2/transport/varint.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/transport/metadata_batch.h
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/transport/chttp2/varint_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: lang/c++, lang/core, release notes: no

#27261 [binder] Implicitly initialize the binder pool
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/native.cc
  src/core/ext/transport/binder/server/binder_server.cc
  src/core/ext/transport/binder/server/binder_server.h
  test/core/transport/binder/end2end/binder_server_test.cc
Labels: lang/core, release notes: no

#27228 [binder] Handle inbound flow control
  src/core/ext/transport/binder/transport/binder_transport.h
  src/core/ext/transport/binder/wire_format/binder.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/binder_android.h
  src/core/ext/transport/binder/wire_format/transaction.cc
  src/core/ext/transport/binder/wire_format/transaction.h
  src/core/ext/transport/binder/wire_format/wire_reader.h
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.h
  src/core/ext/transport/binder/wire_format/wire_writer.cc
  src/core/ext/transport/binder/wire_format/wire_writer.h
  test/core/transport/binder/end2end/fake_binder.cc
  test/core/transport/binder/end2end/fake_binder.h
  test/core/transport/binder/mock_objects.h
  test/core/transport/binder/wire_reader_test.cc
Labels: lang/core, release notes: no

#27271 [objc] Reduce payload size for concurrent tests
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#27277 Update grpc_xds_features.md with latest features
  doc/grpc_xds_features.md
Labels: release notes: no

#27272 refactor xDS response parsing
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no

#27220 EventEngine documentation and API changes from the gRFC
  include/grpc/event_engine/endpoint_config.h
  include/grpc/event_engine/event_engine.h
Labels: area/core, lang/core, release notes: no

#27278 xds-k8s: fix typo to remove _java from the script name
  tools/internal_ci/linux/grpc_xds_k8s_xlang.cfg
Labels: release notes: no

#27270 Remove unused APIs
  src/cpp/common/channel_filter.h
Labels: lang/c++, release notes: no

#27276 implement improved xDS NACK semantics
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no

#27289 Report Python xDS Interop Client SIGINTs
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: lang/Python, area/test, release notes: no

#27195 Move handshakers to core configuration system
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/channel/handshaker_registry.cc
  src/core/lib/channel/handshaker_registry.h
  src/core/lib/config/core_configuration.cc
  src/core/lib/config/core_configuration.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/security/transport/security_handshaker.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init.h
  src/core/lib/surface/init_secure.cc
  src/core/lib/surface/init_unsecure.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_unsecure_plugin_registry.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
Labels: lang/core, release notes: no

#27241 For-each loop for promises
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/for_each.h
  test/core/promise/BUILD
  test/core/promise/for_each_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#27285 Teach the check-DNS script to ignore temporary files
  tools/run_tests/sanity/check_do_not_submit.sh
Labels: area/build, release notes: no

#27286 [objc] Unify all interop test timeout to 64s
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#26194 Python packages: moving native symbol stripping to artifact phase.
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/artifacts/build_package_python.sh
Labels: lang/Python, release notes: no, disposition/never stale

#27280 Use manylinux_2_17 instead of manylinux_2_24 tag for manylinux2014 aarch64 wheels
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, release notes: yes

#27279 Include "linux_extra" python artifacts in regular linux build
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, release notes: no

#27182 [binder] Use combiner & refs to prevent data race
  src/core/ext/transport/binder/transport/BUILD
  src/core/ext/transport/binder/transport/binder_stream.h
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/transport/binder_transport.h
  src/core/ext/transport/binder/utils/transport_stream_receiver.h
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.cc
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.h
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/binder/end2end/end2end_binder_transport_test.cc
  test/core/transport/binder/mock_objects.h
Labels: lang/core, release notes: no

#27294 Optimizations for latch
  src/core/lib/promise/latch.h
Labels: lang/core, release notes: no

#27242 xDS server serving status: Use a struct to allow more fields to be added in the future
  include/grpc/grpc.h
  include/grpcpp/xds_server_builder.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, lang/core, release notes: yes

#27264 xDS Security: Use new way to fetch certificate provider plugin instance config
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/proto/grpc/testing/xds/v3/tls.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, lang/core, release notes: yes

#27296 De-experimentalize XdsServerBuilder
  include/grpcpp/xds_server_builder.h
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/interop/xds_interop_server.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: yes

#27290 xDS: Remove environmental variable guard for security
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_bootstrap.cc
  test/core/xds/xds_bootstrap_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, lang/core, release notes: yes

#26544 De-experimentalize XdsCredentials and XdsServerCredentials API
  include/grpc/impl/codegen/port_platform.h
  include/grpcpp/security/credentials.h
  include/grpcpp/security/server_credentials.h
  src/cpp/client/xds_credentials.cc
  src/cpp/server/xds_server_credentials.cc
  test/cpp/end2end/xds_credentials_end2end_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/interop/xds_interop_server.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, lang/core, release notes: yes

#27184 [binder] Fix server-side recv_trailing_metadata
  src/core/ext/transport/binder/transport/binder_stream.h
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/utils/transport_stream_receiver.h
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.cc
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.h
  test/core/transport/binder/mock_objects.h
Labels: lang/core, release notes: no

#27298 HTTP2: Set per-stream flow control window delta limit to 1MB
  src/core/ext/transport/chttp2/transport/flow_control.h
Labels: lang/core, release notes: no

#27300 [objc] Fix firestone linux cocoapod grpc install issue
  src/objective-c/BoringSSL-GRPC.podspec
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, platform/iOS, release notes: no

#27310 add APIs for creating errors from C++ strings
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/fault_injection/service_config_parser.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/secure/server_secure_chttp2.cc
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/ext/transport/chttp2/transport/frame_goaway.cc
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/frame_window_update.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser_table.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_client.cc
  src/core/lib/address_utils/parse_address.cc
  src/core/lib/address_utils/sockaddr_utils.cc
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/iomgr/error.h
  src/core/lib/iomgr/resolve_address_custom.cc
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/tcp_server_utils_posix_ifaddrs.cc
  src/core/lib/json/json_reader.cc
  src/core/lib/json/json_util.h
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/security/util/json_util.cc
  src/core/lib/surface/call.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/security/credentials_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no

#27318 xds-k8s: increase timeout to 7 hours (6 hours plus additional 1 hour to be safe)
  tools/internal_ci/linux/grpc_xds_k8s_xlang.cfg
Labels: release notes: no

#27303 [binder] Fix WireReaderImpl bugs & races
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.h
  test/core/transport/binder/wire_reader_test.cc
Labels: lang/core, release notes: no

#27257 [binder] Use AParcel_getDataSize in flow-control
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.cc
  src/core/ext/transport/binder/wire_format/binder.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/binder_android.h
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_writer.cc
  test/core/transport/binder/end2end/end2end_binder_transport_test.cc
  test/core/transport/binder/end2end/fake_binder.cc
  test/core/transport/binder/end2end/fake_binder.h
  test/core/transport/binder/mock_objects.h
  test/core/transport/binder/wire_reader_test.cc
  test/core/transport/binder/wire_writer_test.cc
Labels: lang/core, release notes: no

#27260 Fix ReadableParcelAndroid::ReadString interface
  src/core/ext/transport/binder/wire_format/binder.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/binder_android.h
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  test/core/transport/binder/end2end/fake_binder.cc
  test/core/transport/binder/end2end/fake_binder.h
  test/core/transport/binder/end2end/fake_binder_test.cc
  test/core/transport/binder/mock_objects.h
Labels: lang/core, release notes: no

#27325 Remove obsolete comment
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
Labels: lang/core, release notes: no

#27326 [binder] Fix Android guard in binder server
  src/core/ext/transport/binder/client/channel_create.h
  src/core/ext/transport/binder/server/binder_server_credentials.cc
  test/core/transport/binder/end2end/binder_server_test.cc
Labels: lang/core, release notes: no

#27301 Repomgr Yash
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: lang/other, release notes: no, area/infra

#27215 Fix injected abort error not recorded after injected delay
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no

#27331 Fix typo BUILDING.md
  BUILDING.md
Labels: area/documentation, release notes: no

#27307 add LB policy metadata lookup API
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
Labels: lang/core, release notes: no

#27316 pass URI string to resolver impls
  src/core/ext/filters/client_channel/resolver_factory.h
  src/core/ext/filters/client_channel/resolver_registry.cc
Labels: lang/core, release notes: no

#27329 interop-testing: fix target-proxy not found
  tools/run_tests/run_xds_tests.py
Labels: area/interop, lang/Python, release notes: no

#27251 python: fix type annotation for the _metadata field
  src/python/grpcio/grpc/aio/_call.py
Labels: lang/Python, release notes: yes

#27335 Activities: allow empty wakers
  src/core/lib/promise/activity.h
  test/core/promise/activity_test.cc
Labels: lang/core, release notes: no

#27336 Activities: Add force wakeup API
  src/core/lib/promise/activity.h
  test/core/promise/activity_test.cc
Labels: lang/core, release notes: no

#27315 xDS retry policy should be considered present even if there are no supported policies in retry_on
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no

#27339 xds-k8s/xlang: increase timeout to 9 hours and misc changes
  tools/internal_ci/linux/grpc_xds_k8s_xlang.cfg
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
Labels: release notes: no

#27338 [objc] Debug logging and reduce flake in CFNetwork test
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
Labels: lang/ObjC, lang/core, platform/iOS, release notes: no

#27317 [objc] Await hook interceptor close callback before finishing RPC call
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#27322 [binder] Clean up parcel interfaces
  src/core/ext/transport/binder/server/binder_server.cc
  src/core/ext/transport/binder/wire_format/binder.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/binder_android.h
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.h
  test/core/transport/binder/end2end/fake_binder.cc
  test/core/transport/binder/end2end/fake_binder.h
  test/core/transport/binder/end2end/fake_binder_test.cc
  test/core/transport/binder/end2end/testing_channel_create.cc
  test/core/transport/binder/mock_objects.cc
  test/core/transport/binder/mock_objects.h
Labels: lang/core, release notes: no

#27262 Encapsulate metadata aggregates
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/incoming_metadata.cc
  src/core/ext/transport/chttp2/transport/incoming_metadata.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport_op_string.cc
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++, lang/core, release notes: no

#27311 Replace grpc_error* with grpc_error_handle
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/lib/iomgr/event_engine/endpoint.cc
  src/core/lib/iomgr/event_engine/iomgr.cc
  src/core/lib/iomgr/event_engine/pollset.cc
  src/core/lib/iomgr/event_engine/resolver.cc
  src/core/lib/iomgr/event_engine/tcp.cc
  src/core/lib/iomgr/pollset_custom.cc
  src/core/lib/iomgr/pollset_custom.h
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc_gevent.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
  test/core/transport/chttp2/hpack_parser_test.cc
  tools/run_tests/sanity/core_banned_functions.py
Labels: area/core, kind/internal cleanup, lang/core, release notes: no

#27052 Client fuzzer for binder transport
  test/core/transport/binder/end2end/fuzzers/BUILD
  test/core/transport/binder/end2end/fuzzers/client_fuzzer.cc
  test/core/transport/binder/end2end/fuzzers/client_fuzzer_corpus/empty
Labels: lang/core, release notes: no

#27346 stop running protobuf_async_streaming_from_server_qps_unconstrained_secure scenario on CI
  tools/run_tests/performance/scenario_config.py
Labels: release notes: no

#27330 Remove unnecessary check for channel disconnection upon LB pick failure
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
Labels: lang/core, release notes: no

#27351 Normalize load test prefixes, and update go version automatically.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#27056 Fix race between Read and ServerContext::IsCancelled in Sync API
  grpc.def
  include/grpc/grpc.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/impl/codegen/sync_stream.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/cpp/common/core_codegen.cc
  src/cpp/server/server_context.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/test_service_impl.h
Labels: lang/c++, lang/core, release notes: no

#27319 LameClient ready for absl::Status
  src/core/ext/filters/client_channel/dynamic_filters.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/lame_client.h
Labels: area/core, kind/internal cleanup, lang/core, release notes: no

#27353 Remove dead member variable
  src/core/ext/filters/http/client/http_client_filter.cc
Labels: lang/core, release notes: no

#27357 xds interop: enable retry tests for Go
  tools/run_tests/xds_k8s_test_driver/tests/url_map/retry_test.py
Labels: release notes: no

#27359 xds/interop: turn on affinity urlmap tests for go
  tools/run_tests/xds_k8s_test_driver/tests/url_map/affinity_test.py
Labels: release notes: no

#27341 Activities: Don't execute inline
  src/core/lib/promise/activity.h
  test/core/promise/activity_test.cc
  test/core/promise/observable_test.cc
Labels: lang/core, release notes: no

#27356 [objc] Switch off optimization for test and regen xbproj
  src/objective-c/tests/Podfile
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/objective-c/tests/run_one_test.sh
Labels: lang/ObjC, platform/iOS, release notes: no

#27328 Add uid to OnTransactCb argument
  src/core/ext/transport/binder/server/binder_server.cc
  src/core/ext/transport/binder/wire_format/binder.h
  src/core/ext/transport/binder/wire_format/binder_android.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.h
  test/core/transport/binder/end2end/fake_binder.h
  test/core/transport/binder/end2end/fake_binder_test.cc
  test/core/transport/binder/end2end/fuzzers/client_fuzzer.cc
  test/core/transport/binder/end2end/testing_channel_create.cc
  test/core/transport/binder/mock_objects.h
  test/core/transport/binder/wire_reader_test.cc
Labels: lang/core, release notes: no

#27321 [binder] Fix crash when missing authority
  src/core/ext/transport/binder/transport/binder_transport.cc
Labels: lang/core, release notes: no

#27355 Reduce xDS GCE interop framework to only run ping_pong
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
Labels: area/test, release notes: no

#27337 Promises: Fix composition problems of loops of seq
  build_autogenerated.yaml
  src/core/lib/promise/detail/basic_seq.h
  src/core/lib/promise/loop.h
  test/core/promise/BUILD
  test/core/promise/loop_test.cc
Labels: lang/core, release notes: no

#27371 Bump version to v1.41.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: yes

#27370 Bump version to v1.41.0
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/core, release notes: no

#27179 Migrate binder transport end-to-end tests to use the existing testing service
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/binder/transport/binder_stream.h
  src/core/ext/transport/binder/transport/binder_transport.cc
  test/core/transport/binder/end2end/BUILD
  test/core/transport/binder/end2end/binder_server_test.cc
  test/core/transport/binder/end2end/echo.proto
  test/core/transport/binder/end2end/echo_service.cc
  test/core/transport/binder/end2end/echo_service.h
  test/core/transport/binder/end2end/end2end_binder_transport_test.cc
Labels: lang/core, release notes: no

#27373 Allow more advanced test case support semantic
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/retry_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/timeout_test.py
Labels: area/test, release notes: no

#27374 Disable grpc_status_test for sync stack in Python2
  src/python/grpcio_tests/tests/status/BUILD.bazel
  src/python/grpcio_tests/tests/status/_grpc_status_test.py
Labels: lang/Python, release notes: no

#27385 [Backport #27373] add testing_version flag
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no

#27386 [Backport #27373] add testing_version flag
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no

#27369 Handle cancellation inside polling an activity
  src/core/lib/promise/activity.h
  test/core/promise/activity_test.cc
Labels: lang/core, release notes: no

#27389 Add missing quotation marks.
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
Labels: area/test, release notes: no

#27390 Bump version to v1.41.0-pre2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no

#27394 Core 19: bump core version from 18.0.0 to 19.0.0
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#27392 Major bump core major version from 18.0.0 to 19.1.0
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#27382 Fix use-after-free metadata corruption in C# when receiving response headers for streaming response calls
  src/csharp/Grpc.Core.Tests/Internal/AsyncCallTest.cs
  src/csharp/Grpc.Core/Internal/AsyncCall.cs
  src/csharp/Grpc.Core/Internal/AsyncCallBase.cs
Labels: lang/C#, priority/P1, release notes: yes

#27383 C#: metadata.Get and GetAll should accept uppercase keys
  src/csharp/Grpc.Core.Api/Metadata.cs
  src/csharp/Grpc.Core.Tests/MetadataTest.cs
Labels: lang/C#, release notes: yes

#27404 Remove seemingly dead code
  templates/tools/fuzzer/runners.template
  tools/fuzzer/build_and_run_fuzzer.sh
  tools/fuzzer/options/client_fuzzer.options
  tools/fuzzer/options/fuzzer.options
  tools/fuzzer/options/fuzzer_response.options
  tools/fuzzer/options/fuzzer_serverlist.options
  tools/fuzzer/options/hpack_parser_fuzzer_test.options
  tools/fuzzer/options/percent_decode_fuzzer.options
  tools/fuzzer/options/percent_encode_fuzzer.options
  tools/fuzzer/options/request_fuzzer.options
  tools/fuzzer/options/response_fuzzer.options
  tools/fuzzer/options/server_fuzzer.options
  tools/fuzzer/options/ssl_server_fuzzer.options
  tools/fuzzer/options/uri_fuzzer_test.options
  tools/fuzzer/runners/alts_credentials_fuzzer.sh
  tools/fuzzer/runners/client_fuzzer.sh
  tools/fuzzer/runners/hpack_parser_fuzzer_test.sh
  tools/fuzzer/runners/http_request_fuzzer_test.sh
  tools/fuzzer/runners/http_response_fuzzer_test.sh
  tools/fuzzer/runners/json_fuzzer_test.sh
  tools/fuzzer/runners/nanopb_fuzzer_response_test.sh
  tools/fuzzer/runners/nanopb_fuzzer_serverlist_test.sh
  tools/fuzzer/runners/percent_decode_fuzzer.sh
  tools/fuzzer/runners/percent_encode_fuzzer.sh
  tools/fuzzer/runners/server_fuzzer.sh
  tools/fuzzer/runners/ssl_server_fuzzer.sh
  tools/fuzzer/runners/uri_fuzzer_test.sh
Labels: release notes: no

#27403 Update fuzzer infrastructure for developers a little
  BUILD
  test/core/util/grpc_fuzzer.bzl
  tools/bazel.rc
Labels: lang/core, release notes: no

#27365 Adding a log to make logging in WaitForAllBackends and WaitForBackend
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, release notes: no

#27377 Fix bugs in error
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
Labels: kind/bug, area/core, lang/core, release notes: no

#27414 Add add_error for Substitute
  src/core/lib/transport/metadata_batch.h
Labels: kind/bug, lang/core, release notes: no

#27349 Eliminate grpc_metadata_batch_{init,destroy,move}
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/incoming_metadata.cc
  src/core/ext/transport/chttp2/transport/incoming_metadata.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport_op_string.cc
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/transport/metadata_test.cc
  test/core/util/evaluate_args_test_util.h
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++, lang/core, release notes: no

#27358 Added absl::Status support to error_utils
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/transport/error_utils.cc
  src/ruby/spec/client_server_spec.rb
  test/core/iomgr/error_test.cc
  test/core/transport/error_utils_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/microbenchmarks/bm_error.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#27314 Replace atm with grpc_error_handle in call
  src/core/lib/iomgr/error.h
  src/core/lib/surface/call.cc
Labels: area/core, kind/internal cleanup, lang/core, release notes: no

#27415 Update Alpine Test Image to Use Python 3.8
  tools/dockerfile/test/python_alpine_x64/Dockerfile
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/run_tests.py
Labels: kind/bug, lang/Python, area/test, release notes: no

#27398 Backport #27382 to v1.41.x
  src/csharp/Grpc.Core.Tests/Internal/AsyncCallTest.cs
  src/csharp/Grpc.Core/Internal/AsyncCall.cs
  src/csharp/Grpc.Core/Internal/AsyncCallBase.cs
Labels: lang/C#, release notes: yes

#27395 EventEngine::Closure
  include/grpc/event_engine/event_engine.h
  src/core/lib/iomgr/event_engine/closure.cc
  src/core/lib/iomgr/event_engine/closure.h
  src/core/lib/iomgr/event_engine/resolver.cc
  src/core/lib/iomgr/event_engine/tcp.cc
  src/core/lib/iomgr/event_engine/timer.cc
  src/core/lib/iomgr/exec_ctx.cc
Labels: area/core, lang/core, release notes: yes

#27418 Revert "Added absl::Status support to error_utils"
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/transport/error_utils.cc
  src/ruby/spec/client_server_spec.rb
  test/core/iomgr/error_test.cc
  test/core/transport/error_utils_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/microbenchmarks/bm_error.cc
Labels: release notes: no

#27429 Roll-forward "Added absl::Status support to error_utils""
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/transport/error_utils.cc
  src/ruby/spec/client_server_spec.rb
  test/core/iomgr/error_test.cc
  test/core/transport/error_utils_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/microbenchmarks/bm_error.cc
Labels: kind/enhancement, lang/c++, lang/core, release notes: no

#27419 Metadata: replace usage of grpc_metadata_batch_link_{head,tail} with Link{Head,Tail} method
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/incoming_metadata.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/surface/call.cc
  src/cpp/common/channel_filter.cc
  test/core/transport/metadata_test.cc
Labels: lang/c++, lang/core, release notes: no

#27420 Metadata: replace usage of grpc_metadata_batch_remove with Remove method
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
Labels: lang/c++, lang/core, release notes: no

#27421 Metadata: replace usage of grpc_metadata_batch_size with TransportSize method
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: lang/core, release notes: no

#27423 Metadata: replace usage of grpc_metadata_batch_clear with Clear function
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no

#26519 fix: use == instead of is when comparing with a certain types of literals
  examples/python/async_streaming/client.py
Labels: lang/Python, release notes: yes

#27431 Enable Python xDS retry tests
  tools/run_tests/xds_k8s_test_driver/tests/url_map/retry_test.py
Labels: release notes: no

#27372 Separate slices from mdelems for static data
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/binder/transport/BUILD
  src/core/ext/transport/chttp2/transport/hpack_parser_table.h
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_refcount.cc
  src/core/lib/slice/slice_refcount.h
  src/core/lib/slice/slice_refcount_base.h
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/init.cc
  src/core/lib/transport/metadata.cc
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/slice/slice_test.cc
  test/core/transport/metadata_test.cc
  test/core/transport/static_metadata_test.cc
  tools/codegen/core/gen_static_metadata.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#27432 Compile fix for Fuchsia
  src/core/lib/iomgr/error.cc
Labels: lang/core, release notes: no

#27122 Server fuzzer for binder transport
  src/core/ext/transport/binder/utils/transport_stream_receiver_impl.cc
  test/core/transport/binder/end2end/fuzzers/BUILD
  test/core/transport/binder/end2end/fuzzers/client_fuzzer.cc
  test/core/transport/binder/end2end/fuzzers/fuzzer_utils.cc
  test/core/transport/binder/end2end/fuzzers/fuzzer_utils.h
  test/core/transport/binder/end2end/fuzzers/server_fuzzer.cc
  test/core/transport/binder/end2end/fuzzers/server_fuzzer_corpus/crash-missing-authority
  test/core/transport/binder/end2end/fuzzers/server_fuzzer_corpus/empty
Labels: lang/core, release notes: no

#27422 Metadata: replace usage of grpc_metadata_batch_is_empty with Empty function
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: no

#27405 Add structurally aware fuzzing support
  CMakeLists.txt
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  test/core/promise/BUILD
  test/core/promise/promise_fuzzer.cc
  test/core/promise/promise_fuzzer.proto
  test/core/promise/promise_fuzzer_corpus/b858cb282617fb0956d960215c8e84d1ccf909c6
  test/core/util/grpc_fuzzer.bzl
  third_party/libprotobuf_mutator.BUILD
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/buildgen/plugins/make_fuzzer_tests.py
  tools/run_tests/generated/tests.json
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/core, release notes: no

#27433 absl::Status support to service_config_test
  test/core/client_channel/service_config_test.cc
Labels: area/core, kind/internal cleanup, area/test, lang/core, release notes: no

#27441 Separate common slice utilities, grpc_error into their own libraries
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/error.cc
  src/core/lib/security/authorization/rbac_translator.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice_api.cc
  src/core/lib/slice/slice_internal.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/sanity/core_banned_functions.py
Labels: lang/core, release notes: no

#27445 Remove dead code
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/executor/mpmcqueue.cc
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/executor/threadpool.cc
  src/core/lib/iomgr/executor/threadpool.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/BUILD
  test/core/iomgr/mpmcqueue_test.cc
  test/core/iomgr/threadpool_test.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_threadpool.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#27446 Split ExecCtx into its own target
  BUILD
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/iomgr_internal.cc
  src/core/lib/iomgr/iomgr_internal.h
Labels: lang/core, release notes: no

#27450 Repo Manager Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra
