Repository grpc/grpc, pull requests merged in 2021-12, with the labels that each got.

#28159 PHP: update examples
  examples/php/echo/README.md
  examples/php/echo/apache.Dockerfile
  examples/php/echo/base.Dockerfile
  examples/php/echo/cli.Dockerfile
  examples/php/echo/fpm.Dockerfile
  templates/examples/php/echo/base.Dockerfile.template
  templates/examples/php/echo/copy_from_grpc_base.include
Labels: lang/php, area/documentation, release notes: no

#27928 More upb targets on googleapis
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/upb-generated/google/api/expr/v1alpha1/eval.upb.c
  src/core/ext/upb-generated/google/api/expr/v1alpha1/eval.upb.h
  src/core/ext/upb-generated/google/api/expr/v1alpha1/explain.upb.c
  src/core/ext/upb-generated/google/api/expr/v1alpha1/explain.upb.h
  src/core/ext/upb-generated/google/api/expr/v1alpha1/value.upb.c
  src/core/ext/upb-generated/google/api/expr/v1alpha1/value.upb.h
  src/core/ext/upbdefs-generated/google/api/expr/v1alpha1/checked.upbdefs.c
  src/core/ext/upbdefs-generated/google/api/expr/v1alpha1/checked.upbdefs.h
  src/core/ext/upbdefs-generated/google/api/expr/v1alpha1/syntax.upbdefs.c
  src/core/ext/upbdefs-generated/google/api/expr/v1alpha1/syntax.upbdefs.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_from_bazel_xml.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: kind/internal cleanup, lang/core, area/build, release notes: no, bloat/medium, perf-change/none

#28227 increase parallelism in selected artifact and distribtest jobs
  tools/internal_ci/linux/grpc_build_artifacts.sh
  tools/internal_ci/linux/grpc_distribtests.sh
  tools/internal_ci/linux/grpc_distribtests_python.sh
Labels: release notes: no, bloat/none, perf-change/none

#28225 windows: speedup build of C# extension and protoc artifacts
  tools/run_tests/artifacts/build_artifact_csharp.bat
  tools/run_tests/artifacts/build_artifact_protoc.bat
  tools/run_tests/helper_scripts/pre_build_csharp.bat
Labels: lang/C#, area/protoc plugins, release notes: no, bloat/none, perf-change/none

#28143 XdsClient: First steps toward a ResourceType abstraction
  src/core/ext/xds/xds_api.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28237 Api fuzzer double free bug
  src/core/lib/slice/slice_buffer.cc
  src/core/lib/surface/call.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-5404970078044160
Labels: lang/core, release notes: no, bloat/none, perf-change/improvement

#28246 Bump core version for the release
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, area/build, release notes: no, bloat/none, perf-change/none

#28220 Roll forward "Added absl::Status support to grpc_closure.error"
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
  src/core/lib/iomgr/call_combiner.cc
  src/core/lib/iomgr/closure.h
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/executor.cc
  test/core/gprpp/status_helper_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/improvement

#28245 xds_end2end_test: remove num_balancers from test suite and remove dependence on fake resolver for xDS channel
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#28247 Promote ClientContext::set_wait_for_ready to be non-experimental
  include/grpcpp/impl/codegen/client_context.h
Labels: lang/c++, release notes: yes, bloat/none, perf-change/none

#28254 XdsClient: fix object deletion problem on import
  src/core/ext/xds/xds_api.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28252 Add test for c-ares resolver error message propogation
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  test/cpp/naming/cancel_ares_query_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/improvement

#28261 add 1.42.0 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, perf-change/none

#28263 Added virtualenv to ruby and php73 docker for psm
  templates/tools/dockerfile/test/php73_zts_stretch_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/test/php73_zts_stretch_x64/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
Labels: area/test, release notes: no, bloat/none, perf-change/none

#27193 Updated backoff to use absl::Random
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  build_handwritten.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/lib/backoff/backoff.cc
  src/core/lib/backoff/backoff.h
  src/objective-c/manual_tests/GrpcIosTest.xcodeproj/project.pbxproj
  src/objective-c/manual_tests/Podfile
  src/objective-c/tests/Connectivity/ConnectivityTestingApp.xcodeproj/project.pbxproj
  src/objective-c/tests/CoreTests/CoreTests.xcodeproj/project.pbxproj
  src/objective-c/tests/Podfile
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/python/grpcio/grpc_core_dependencies.py
  templates/Makefile.template
  test/core/backoff/backoff_test.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamTests.xcodeproj/project.pbxproj
  test/core/iomgr/ios/CFStreamTests/Podfile
  test/cpp/cocoapods/GRPCCppTests.xcodeproj/project.pbxproj
  test/cpp/cocoapods/Podfile
  test/cpp/ios/Podfile
  test/cpp/ios/Tests.xcodeproj/project.pbxproj
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28154 xDS: Add graceful shutdown for old connections on listener resource update
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/xds_server_builder.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, perf-change/none

#28255 Explicitly use python3 virtualenv in Ruby and PHP xDS interop setup scripts
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: lang/php, lang/ruby, area/test, release notes: no, bloat/none, perf-change/none

#28264 Backport: Added virtualenv to ruby and php73 docker for psm
  templates/tools/dockerfile/test/php73_zts_stretch_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_buster_x64/Dockerfile.template
  tools/dockerfile/test/php73_zts_stretch_x64/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
Labels: area/test, release notes: no, bloat/none, perf-change/none

#28198 Move some integer based metadata to the new system
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/lib/slice/slice.h
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.cc
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/lib/transport/status_metadata.cc
  src/core/lib/transport/status_metadata.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/cq_verifier.cc
  test/core/end2end/fuzzers/hpack.dictionary
  test/core/end2end/tests/retry.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout_on_last_attempt.cc
  test/core/end2end/tests/retry_send_initial_metadata_refs.cc
  test/core/end2end/tests/retry_send_op_fails.cc
  test/core/end2end/tests/retry_server_pushback_delay.cc
  test/core/end2end/tests/retry_server_pushback_disabled.cc
  test/core/transport/BUILD
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/status_metadata_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  tools/codegen/core/gen_static_metadata.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/medium, perf-change/medium

#28151 XdsClient: move resource type parsing out of XdsApi
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/upb_utils.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type.h
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_routing.cc
  src/core/ext/xds/xds_routing.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/medium, perf-change/none

#28268 Fix exposing "host" metadata
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/medium

#28175 [objc]podfile cleanup(gRPC-Core)
  gRPC-Core.podspec
  templates/gRPC-Core.podspec.template
Labels: lang/ObjC, platform/iOS, release notes: no

#28235 [C#] Add ConfigureAwait to AsyncUnaryCall and AsyncClientStreamingCall
  src/csharp/Grpc.Core.Api/AsyncClientStreamingCall.cs
  src/csharp/Grpc.Core.Api/AsyncUnaryCall.cs
  src/csharp/Grpc.Core.Tests/ClientServerTest.cs
Labels: lang/C#, release notes: yes

#28241 Print commit SHA for other langs when running interop tests
  tools/internal_ci/helper_scripts/prepare_build_interop_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_interop_rc
Labels: release notes: no, bloat/none, perf-change/none

#28127 Convenience scripts for local testing under docker (+ examples how to run GDB and use coredump under docker)
  tools/docker_runners/examples/bazel_test_in_docker.sh
  tools/docker_runners/examples/coredump_in_docker.sh
  tools/docker_runners/examples/gdb_in_docker.sh
  tools/docker_runners/examples/run_tests_c_cpp_in_docker.sh
  tools/docker_runners/examples/run_tests_csharp_in_docker.sh
  tools/docker_runners/run_in_docker.sh
Labels: release notes: no, bloat/none, perf-change/none

#28259 Avoid extremely slow kokoro job finalization by moving workspace to a non-synced directory on kokoro workers.
  tools/internal_ci/helper_scripts/delete_nonartifacts.sh
  tools/internal_ci/helper_scripts/move_src_tree_and_respawn_itself.bat
  tools/internal_ci/helper_scripts/move_src_tree_and_respawn_itself_rc
  tools/internal_ci/helper_scripts/store_artifacts_from_moved_src_tree.sh
  tools/internal_ci/linux/grpc_bazel_distribtest.cfg
  tools/internal_ci/linux/grpc_bazel_distribtest_latest.cfg
  tools/internal_ci/linux/grpc_build_artifacts.sh
  tools/internal_ci/linux/grpc_build_packages.sh
  tools/internal_ci/linux/grpc_distribtests.sh
  tools/internal_ci/linux/grpc_distribtests_php.sh
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/internal_ci/linux/grpc_distribtests_ruby.sh
  tools/internal_ci/linux/grpc_distribtests_standalone.sh
  tools/internal_ci/linux/grpc_run_interop_tests.sh
  tools/internal_ci/linux/grpc_run_tests_matrix.sh
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/internal_ci/macos/grpc_distribtests.sh
  tools/internal_ci/macos/grpc_distribtests_php.sh
  tools/internal_ci/macos/grpc_interop_toprod.sh
  tools/internal_ci/macos/grpc_ios_binary_size.sh
  tools/internal_ci/macos/grpc_run_bazel_c_cpp_tests.sh
  tools/internal_ci/macos/grpc_run_bazel_core_ios_tests.sh
  tools/internal_ci/macos/grpc_run_bazel_cpp_ios_tests.sh
  tools/internal_ci/macos/grpc_run_bazel_isolated_tests.sh
  tools/internal_ci/macos/grpc_run_tests_matrix.sh
  tools/internal_ci/windows/bazel_rbe.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/internal_ci/windows/grpc_distribtests.bat
  tools/internal_ci/windows/grpc_distribtests_standalone.bat
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
  tools/run_tests/dockerize/build_docker_and_run_tests.sh
  tools/run_tests/python_utils/report_utils.py
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no, bloat/none, perf-change/none

#28250 Add an env var to override make parallelism in ruby build
  src/ruby/ext/grpc/extconf.rb
  templates/src/ruby/ext/grpc/extconf.rb.template
Labels: lang/ruby, release notes: yes

#28230 Fix use after free bug in API fuzzer
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-5097648256581632
  test/core/util/passthru_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28278 Fix fuzzer found crash in new metadata code
  src/core/lib/transport/metadata_batch.h
  test/core/end2end/fuzzers/api_fuzzer_corpus/append
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28275 Update test creds to have 10 year expiry
  test/core/tsi/test_creds/crl_data/8e36c2fd.0
  test/core/tsi/test_creds/crl_data/README
  test/core/tsi/test_creds/crl_data/baf02741.0
  test/core/tsi/test_creds/crl_data/ca.key
  test/core/tsi/test_creds/crl_data/ca.pem
  test/core/tsi/test_creds/crl_data/current.crl
  test/core/tsi/test_creds/crl_data/demoCA/index.txt
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr.old
  test/core/tsi/test_creds/crl_data/revoked.key
  test/core/tsi/test_creds/crl_data/revoked.pem
  test/core/tsi/test_creds/crl_data/valid.key
  test/core/tsi/test_creds/crl_data/valid.pem
  test/core/tsi/test_creds/demoCA/crlnumber
  test/core/tsi/test_creds/demoCA/index.txt
  test/core/tsi/test_creds/demoCA/index.txt.attr
  test/core/tsi/test_creds/demoCA/index.txt.old
Labels: lang/c++, area/security, release notes: no, bloat/none, perf-change/none

#28274 xds: remove legacy EDS-only workflow
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, perf-change/none, bloat/improvement

#28277 Bump version to 1.42.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/all wrapped languages, release notes: no, bloat/none

#28249 Bump version to v1.43.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, area/build, release notes: no, bloat/none, perf-change/none

#28248 Bump to v1.44.0 dev
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/core, area/build, release notes: no, bloat/none, perf-change/none

#28165 XdsClient: use XdsResourceType abstraction throughout XdsClient
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/upb_utils.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_certificate_provider.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type.cc
  src/core/ext/xds/xds_resource_type.h
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_routing.h
  src/core/lib/security/credentials/xds/xds_credentials.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, perf-change/none, bloat/improvement

#28272 Prefer -pthread flag on UNIX
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: area/build, release notes: no, bloat/none, perf-change/none

#28288 Revert "Update test creds to have 10 year expiry"
  test/core/tsi/test_creds/crl_data/15e5c67a.0
  test/core/tsi/test_creds/crl_data/26fefe27.0
  test/core/tsi/test_creds/crl_data/README
  test/core/tsi/test_creds/crl_data/ca.key
  test/core/tsi/test_creds/crl_data/ca.pem
  test/core/tsi/test_creds/crl_data/current.crl
  test/core/tsi/test_creds/crl_data/demoCA/index.txt
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr.old
  test/core/tsi/test_creds/crl_data/revoked.key
  test/core/tsi/test_creds/crl_data/revoked.pem
  test/core/tsi/test_creds/crl_data/valid.key
  test/core/tsi/test_creds/crl_data/valid.pem
  test/core/tsi/test_creds/demoCA/crlnumber
  test/core/tsi/test_creds/demoCA/index.txt
  test/core/tsi/test_creds/demoCA/index.txt.attr
  test/core/tsi/test_creds/demoCA/index.txt.old
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28287 repomgr->yashykt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#28168 Revert "Revert "[BinderTransport] Send correct version to server and …
  src/core/ext/transport/binder/server/binder_server.cc
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  test/core/transport/binder/mock_objects.h
  test/core/transport/binder/wire_reader_test.cc
Labels: release notes: no, bloat/none, perf-change/none

#27180 Introduce C# single-platform nuget build (and distribtests)
  src/csharp/build_nuget.sh
  src/csharp/build_unitypackage.sh
  src/csharp/nuget_helpers/create_fake_native_artifacts.sh
  src/csharp/nuget_helpers/expand_dev_version.sh
  tools/internal_ci/linux/grpc_distribtests_csharp.cfg
  tools/internal_ci/linux/grpc_distribtests_csharp.sh
  tools/internal_ci/linux/pull_request/grpc_distribtests_csharp.cfg
  tools/run_tests/artifacts/package_targets.py
Labels: release notes: no, bloat/none, perf-change/none

#28091 improve RPC status messages when name resolution fails
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/address_filtering.cc
  src/core/ext/filters/client_channel/lb_policy/address_filtering.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver.cc
  src/core/ext/filters/client_channel/resolver.h
  src/core/ext/filters/client_channel/resolver/binder/binder_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/core/client_channel/resolvers/binder_resolver_test.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/iomgr/stranded_event_test.cc
  test/core/transport/chttp2/too_many_pings_test.cc
  test/core/util/test_lb_policies.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_test_record_groups.yaml
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/medium, perf-change/improvement

#28294 Replace C2P resolver env var with experimental scheme suffix
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28231 XdsClient: remove resource-type-specific methods from XdsClient API
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type.cc
  src/core/ext/xds/xds_resource_type.h
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, perf-change/none, bloat/improvement

#28291 Update test creds to have 10 year expiry
  test/core/tsi/test_creds/crl_data/8e36c2fd.0
  test/core/tsi/test_creds/crl_data/README
  test/core/tsi/test_creds/crl_data/baf02741.0
  test/core/tsi/test_creds/crl_data/ca.key
  test/core/tsi/test_creds/crl_data/ca.pem
  test/core/tsi/test_creds/crl_data/current.crl
  test/core/tsi/test_creds/crl_data/demoCA/crlnumber.old
  test/core/tsi/test_creds/crl_data/demoCA/index.txt
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.old
  test/core/tsi/test_creds/crl_data/revoked.key
  test/core/tsi/test_creds/crl_data/revoked.pem
  test/core/tsi/test_creds/crl_data/valid.key
  test/core/tsi/test_creds/crl_data/valid.pem
Labels: area/security, lang/core, release notes: no, bloat/none, perf-change/none

#28177 [objc]podfile cleanup and add core test to script to run
  src/objective-c/tests/CoreTests/CoreTests.xcodeproj/project.pbxproj
  src/objective-c/tests/CoreTests/Podfile
  src/objective-c/tests/CoreTests/build_and_run_tests.sh
  src/objective-c/tests/CoreTests/build_tests.sh
  src/objective-c/tests/CoreTests/verbose_time.sh
  tools/run_tests/run_tests.py
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, perf-change/none

#28301 Revert "XdsClient: remove resource-type-specific methods from XdsClient API"
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type.cc
  src/core/ext/xds/xds_resource_type.h
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, perf-change/none

#28299 Delete configuration of deleted kokoro job.
  tools/internal_ci/linux/grpc_e2e_performance_v2.cfg
Labels: release notes: no, bloat/none, perf-change/none

#28284 Fix portability
  test/core/http/test_server.py
  tools/distrib/python_wrapper.sh
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28298 Minimalist backport of #28228 (to v1.43.x)
  tools/internal_ci/linux/pull_request/grpc_build_artifacts.cfg
  tools/internal_ci/linux/pull_request/grpc_distribtests_php.cfg
  tools/internal_ci/linux/pull_request/grpc_distribtests_python.cfg
  tools/internal_ci/linux/pull_request/grpc_distribtests_ruby.cfg
  tools/internal_ci/linux/pull_request/grpc_distribtests_standalone.cfg
  tools/internal_ci/macos/pull_request/grpc_build_artifacts.cfg
  tools/internal_ci/macos/pull_request/grpc_distribtests_php.cfg
  tools/internal_ci/windows/pull_request/grpc_build_artifacts.cfg
  tools/internal_ci/windows/pull_request/grpc_distribtests_standalone.cfg
Labels: release notes: no, bloat/none, perf-change/none

#28300 Backport "Replace C2P resolver env var with experimental scheme suffix #28294" to 1.43.x
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28305 Second attempt: XdsClient: remove resource-type-specific methods from XdsClient API
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type.cc
  src/core/ext/xds/xds_resource_type.h
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, perf-change/none, bloat/improvement

#28178 [App Net] Reland unique scope
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/app_net_test.py
Labels: release notes: no, lang/all

#28310 Disable App Transport Security (ATL) for CFStream test suite
  test/core/iomgr/ios/CFStreamTests/Info.plist
Labels: lang/ObjC, lang/core, platform/iOS, release notes: no, bloat/none, perf-change/none

#27858 Replace work serializer with a mutex in c-ares resolver
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
Labels: lang/core, release notes: yes, perf-change/medium, bloat/improvement

#28314 Remove dead code
  test/core/profiling/mark_timings.stp
Labels: release notes: no, bloat/none, perf-change/none

#28312 TSI: free the fixture in destruct() instead of in tsi_test_fixture_destroy()
  test/core/tsi/fake_transport_security_test.cc
  test/core/tsi/ssl_transport_security_test.cc
  test/core/tsi/transport_security_test_lib.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28236 update third_party/xxhash
  third_party/xxhash/LICENSE
  third_party/xxhash/xxhash.h
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, perf-change/high

#28316 Remove competition benchmark
  test/core/promise/benchmark/BUILD
  test/core/promise/benchmark/competition.cc
  test/core/promise/benchmark/filter_stack.cc
  test/core/promise/benchmark/filter_stack.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28308 Improve TTY output of run_tests.py and other scripts
  tools/run_tests/python_utils/jobset.py
Labels: release notes: no, bloat/none, perf-change/none

#28258 Reland binder transport fuzzers
  test/core/transport/binder/end2end/fuzzers/BUILD
  test/core/transport/binder/end2end/fuzzers/binder_transport_client_fuzzer_corpus/empty
  test/core/transport/binder/end2end/fuzzers/binder_transport_fuzzer.proto
  test/core/transport/binder/end2end/fuzzers/binder_transport_server_fuzzer_corpus/empty
  test/core/transport/binder/end2end/fuzzers/client.proto
  test/core/transport/binder/end2end/fuzzers/client_fuzzer.cc
  test/core/transport/binder/end2end/fuzzers/fuzzer_utils.cc
  test/core/transport/binder/end2end/fuzzers/fuzzer_utils.h
  test/core/transport/binder/end2end/fuzzers/server.proto
  test/core/transport/binder/end2end/fuzzers/server_fuzzer.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28297 [BinderTransport] Remove duplicate header
  src/core/ext/transport/binder/security_policy/internal_only_security_policy.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28324 Revert "Replace work serializer with a mutex in c-ares resolver"
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
Labels: lang/core, release notes: no, bloat/low

#28318 Fix resource quota not getting passed through
  src/core/lib/resource_quota/api.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28279 XdsClient: use a templated base class for XdsResourceType implementations
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type_impl.h
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28326 resolvers: fix resolvers to return channel args even when reporting an error
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/improvement

#28313 Make promise arena part of the context
  BUILD
  src/core/lib/promise/arena_promise.h
  src/core/lib/resource_quota/arena.h
  test/core/promise/arena_promise_test.cc
Labels: release notes: no, bloat/none, perf-change/none

#28328 pin rake compiler to 1.1.1 and fix macos breakage
  grpc.gemspec
  templates/grpc.gemspec.template
Labels: lang/ruby, release notes: no

#28327 xds: fix memory leak
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/xds-client-grpc-error-leak
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28319 Promise pipe redux
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/activity.h
  src/core/lib/promise/pipe.h
  test/core/promise/BUILD
  test/core/promise/for_each_test.cc
  test/core/promise/pipe_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28124 run_tests family scripts: autodetect TTY when running docker
  tools/interop_matrix/create_matrix_images.py
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/dockerize/build_docker_and_run_tests.sh
  tools/run_tests/dockerize/build_interop_image.sh
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
  tools/run_tests/task_runner.py
Labels: release notes: no, bloat/none, perf-change/none

#28321 Pin rake-compiler at 1.1.1 to fix ruby breakages on CI (backport to v1.43.x)
  grpc.gemspec
  templates/grpc.gemspec.template
Labels: lang/ruby, release notes: no

#28315 Add the daily xDS interop GCP resource cleanup script
  tools/gcp/utils/cleanup_xds_resources.py
  tools/gcp/utils/keep_xds_interop_resources.json
  tools/internal_ci/linux/grpc_xds_resource_cleanup.cfg
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
Labels: release notes: no, bloat/none, perf-change/none

#28344 Fix python dns resolver test on kokoro MacService
  src/python/grpcio_tests/tests/unit/_dns_resolver_test.py
Labels: lang/Python, release notes: no

#28343 Skip unittest.grpc.io dualstack socket test if DNS64 servers are used
  test/core/end2end/dualstack_socket_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28040 Improve directory handling for py_proto_library
  bazel/protobuf.bzl
  bazel/test/python_test_repo/BUILD
  bazel/test/python_test_repo/helloworld.proto
  bazel/test/python_test_repo/subdir/hello_dep.proto
Labels: lang/Python, release notes: no, bloat/none, perf-change/none

#28338 ring_hash: don't recreate ring when individual subchannel states change
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28204 Move content-type, colon prefixed metadata to new system
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.h
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser_table.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/static_slice.cc
  src/core/lib/slice/static_slice.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/static_metadata.cc
  src/core/lib/transport/static_metadata.h
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/context.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/census/server_filter.cc
  src/cpp/ext/filters/census/server_filter.h
  test/core/end2end/fuzzers/hpack.dictionary
  test/core/end2end/tests/filter_status_code.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_delay.cc
  test/core/end2end/tests/retry_server_pushback_delay.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/parsed_metadata_test.cc
  test/core/util/evaluate_args_test_util.h
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/representative_server_initial_metadata.headers
  test/cpp/microbenchmarks/representative_server_trailing_metadata.headers
  tools/codegen/core/gen_static_metadata.py
Labels: lang/c++, lang/core, release notes: no, bloat/high, perf-change/medium

#28269 Fix presence match in authorization.
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/matchers_test.cc
  test/core/security/rbac_translator_test.cc
  test/cpp/end2end/sdk_authz_end2end_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28333 Cleanup of ObjC test scripts
  src/objective-c/tests/CoreTests/build_and_run_tests.sh
  src/objective-c/tests/CoreTests/build_tests.sh
  src/objective-c/tests/CoreTests/verbose_time.sh
  src/objective-c/tests/build_one_example.sh
  src/objective-c/tests/build_tests.sh
  src/objective-c/tests/run_one_test.sh
  src/objective-c/tests/verbose_time.sh
  src/objective-c/tests/xcodebuild_filter_output.sh
  test/core/iomgr/ios/CFStreamTests/build_and_run_tests.sh
  test/core/iomgr/ios/CFStreamTests/build_tests.sh
  test/cpp/ios/build_and_run_tests.sh
  test/cpp/ios/build_tests.sh
  test/cpp/ios/verbose_time.sh
Labels: lang/c++, lang/ObjC, lang/core, release notes: no, bloat/none, perf-change/none

#28332 testing: add a fake TCP and UDP server to test/core/util (extracted from #27883)
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/tsi/alts/handshaker/BUILD
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
  test/core/util/BUILD
  test/core/util/fake_udp_and_tcp_server.cc
  test/core/util/fake_udp_and_tcp_server.h
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/dns_test_util.cc
  test/cpp/naming/dns_test_util.h
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28346 Update timeout encoding algorithm
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/timeout_encoding.cc
  src/core/lib/transport/timeout_encoding.h
  test/core/transport/BUILD
  test/core/transport/timeout_encoding_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/low, perf-change/medium

#28351 Repo Manager Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#28350 To v1.43.0
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#28304 iOS ThirdPartyTest suite for libuv dns test
  bazel/grpc_deps.bzl
  src/objective-c/tests/ThirdPartyTests/Libuv/BUILD
  src/objective-c/tests/ThirdPartyTests/Libuv/LibuvGetAddrInfoTests.m
  third_party/libuv.BUILD
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, perf-change/none

#28329 Backport #28318 - Fix resource quota not getting passed through
  src/core/lib/resource_quota/api.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28347 [BinderTransport] Add missing ChannelArgsPreconditioning
  src/core/ext/transport/binder/client/channel_create_impl.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28356 Fix server auth metadata generation
  src/core/lib/security/transport/server_auth_filter.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28361 Fix unreachable code warning
  src/core/lib/transport/timeout_encoding.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28041 Fix libatomic linking on Raspberry Pi OS Bullseye
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: lang/Python, area/build, release notes: yes, bloat/none, perf-change/none

#28367 Unknown channels must report unknown
  src/core/lib/channel/channel_stack_builder.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28360 Remove extern c wrapping for openssl headers
  src/core/lib/security/credentials/jwt/json_token.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/tsi/ssl/session_cache/ssl_session.h
  src/core/tsi/ssl/session_cache/ssl_session_cache.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/end2end/h2_ssl_cert_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28369 Let encoders decide whether to encode HttpMethodMetadata or not, instead of removing it.
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28375 silence C4503 warning on MSVC (in cmake)
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: release notes: no, bloat/none, perf-change/none

#28364 Revert "Promise pipe redux"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/activity.h
  src/core/lib/promise/pipe.h
  test/core/promise/BUILD
  test/core/promise/for_each_test.cc
  test/core/promise/pipe_test.cc
Labels: release notes: no, bloat/none, perf-change/none

#28372 Run objc cfstream clients against 127.0.0.1
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, perf-change/none

#28362 Fix ruby macos artifact build
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, release notes: no, bloat/none, perf-change/none

#28374 backport #28362 to 1.43.x
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, release notes: no, bloat/none, perf-change/none

#28378 Double added reclaimers need not be called
  test/core/resource_quota/call_checker.h
  test/core/resource_quota/memory_quota_fuzzer.cc
  test/core/resource_quota/memory_quota_fuzzer_corpus/bad-reclaim
Labels: lang/core, bloat/none, perf-change/none

#27861 Re-enabling RBE ubsan
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/security/context/security_context.cc
  src/core/lib/slice/slice.cc
  test/core/transport/binder/BUILD
  test/core/util/fuzzer_corpus_test.cc
  test/core/util/ubsan_suppressions.txt
  tools/bazel.rc
  tools/remote_build/rbe_common.bazelrc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28365 Fix windows RBE results uploading to bigquery
  tools/internal_ci/windows/bazel_rbe.bat
Labels: platform/Windows, release notes: no, bloat/none, perf-change/none

#28366 Fix invocation of respawn scripts on windows
  tools/internal_ci/helper_scripts/move_src_tree_and_respawn_itself.bat
  tools/internal_ci/windows/bazel_rbe.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/internal_ci/windows/grpc_distribtests.bat
  tools/internal_ci/windows/grpc_distribtests_standalone.bat
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
Labels: platform/Windows, release notes: no, bloat/none, perf-change/none

#28353 To Donna
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#28380 Fix memory stomp error in the fallback test client
  test/cpp/interop/grpclb_fallback_test.cc
Labels: lang/c++, bloat/none, perf-change/none

#27883 API to cancel grpc_resolve_address
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/event_engine/iomgr.cc
  src/core/lib/iomgr/event_engine/resolver.cc
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/iomgr_custom.cc
  src/core/lib/iomgr/iomgr_posix.cc
  src/core/lib/iomgr/iomgr_posix_cfstream.cc
  src/core/lib/iomgr/iomgr_windows.cc
  src/core/lib/iomgr/resolve_address.cc
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_custom.cc
  src/core/lib/iomgr/resolve_address_custom.h
  src/core/lib/iomgr/resolve_address_impl.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  src/core/lib/iomgr/unix_sockets_posix.cc
  src/core/lib/iomgr/unix_sockets_posix.h
  src/core/lib/iomgr/unix_sockets_posix_noop.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/BUILD
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/surface/server_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/resolve_localhost_ip46.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: yes, bloat/medium, perf-change/high

#28371 Authorization Matchers: Fix header matcher to check for :method, :path and :authority
  src/core/lib/security/authorization/evaluate_args.cc
  test/core/security/authorization_matchers_test.cc
Labels: release notes: no, bloat/none, perf-change/none

#28393 Fix the setuptools distutils overriding issue
  setup.py
  src/python/grpcio/commands.py
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: no, bloat/none, perf-change/none

#28398 Bump Bazel Python Cython dependency to 0.29.26
  bazel/grpc_python_deps.bzl
Labels: lang/Python, release notes: yes, bloat/none, perf-change/none

#28399 Use xds-test-server-5 as the GCE interop server
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no, bloat/none, perf-change/none

#26287 Enable CRL checking in gRPC core
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.def
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/BUILD
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr.old
  test/core/tsi/test_creds/demoCA/crlnumber
  test/core/tsi/test_creds/demoCA/index.txt
  test/core/tsi/test_creds/demoCA/index.txt.attr
  test/core/tsi/test_creds/demoCA/index.txt.old
  test/core/tsi/transport_security_test_lib.cc
  tools/run_tests/generated/tests.json
Labels: area/security, lang/core, release notes: no, bloat/none, perf-change/none

#28410 Disable __wrap_memcpy hack for Python builds
  setup.py
Labels: lang/Python, release notes: yes

#28376 Fix handling of very long user-agent strings
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.h
  test/core/end2end/fuzzers/api_fuzzer_corpus/alloc-idx
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28377 Better handle invalid content-type
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/lib/transport/metadata_batch.h
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-4902018028535808
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28381 backport #28328 to 1.42.x
  grpc.gemspec
  templates/grpc.gemspec.template
Labels: lang/ruby, release notes: no

#28416 Revert "Enable CRL checking in gRPC core"
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.def
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/BUILD
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr.old
  test/core/tsi/test_creds/demoCA/crlnumber
  test/core/tsi/test_creds/demoCA/index.txt
  test/core/tsi/test_creds/demoCA/index.txt.attr
  test/core/tsi/test_creds/demoCA/index.txt.old
  test/core/tsi/transport_security_test_lib.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28373 backport #28362 to 1.42.x
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, release notes: no, bloat/none

#28385 Fix timeout bug in api fuzzer
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/timeout1
  test/core/util/passthru_endpoint.cc
  test/core/util/passthru_endpoint.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28417 Api fuzzer bug
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-4825725484269568
  test/core/util/passthru_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28428 [Backport][v1.34.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28426 [Backport][v1.36.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28427 [Backport][v1.35.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28424 [Backport][v1.38.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28425 [Backport][v1.37.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28423 [Backport][v1.39.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28421 [Backport][v1.41.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28422 [Backport][v1.40.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no

#28420 [Backport][v1.42.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no, bloat/none

#28415 Don't gem install rake-compiler on macos setup scripts
  Rakefile
  tools/distrib/build_ruby_environment_macos.sh
  tools/dockerfile/interoptest/grpc_interop_ruby/build_interop.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/build_artifact_ruby.sh
  tools/run_tests/helper_scripts/build_ruby.sh
Labels: lang/ruby, release notes: no, bloat/none, perf-change/none

#28406 Remove Python2 from python_configure.bzl
  bazel/internal_python_rules.bzl
  bazel/python_rules.bzl
  src/python/grpcio_tests/tests/unit/_cython/BUILD.bazel
  src/python/grpcio_tests/tests/unit/framework/foundation/BUILD.bazel
  third_party/py/python_configure.bzl
Labels: lang/Python, release notes: no, bloat/none, perf-change/none

#28436 Dont hpack very long paths
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/long-path
Labels: lang/core, release notes: no, bloat/none, perf-change/improvement

#28401 Clip long summaries
  tools/run_tests/python_utils/check_on_pr.py
Labels: release notes: no, bloat/none, perf-change/none

#28438 Backport "Don't gem install rake-compiler on macos setup scripts (#28415)" to 1.42.x
  Rakefile
  tools/distrib/build_ruby_environment_macos.sh
  tools/dockerfile/interoptest/grpc_interop_ruby/build_interop.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/build_artifact_ruby.sh
  tools/run_tests/helper_scripts/build_ruby.sh
Labels: lang/ruby, release notes: no, bloat/none

#28396 Cleanup of windows CI .bat scripts
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/windows/bazel_rbe.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/internal_ci/windows/grpc_build_packages.cfg
  tools/internal_ci/windows/grpc_distribtests.bat
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
Labels: release notes: no, bloat/none, perf-change/none

#28439 Backport "Don't gem install rake-compiler on macos setup scripts (#28415)" to 1.43.x
  Rakefile
  tools/distrib/build_ruby_environment_macos.sh
  tools/dockerfile/interoptest/grpc_interop_ruby/build_interop.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/run_tests/artifacts/build_artifact_ruby.sh
  tools/run_tests/helper_scripts/build_ruby.sh
Labels: lang/ruby, release notes: no, bloat/none, perf-change/none

#28445 [Backport][v1.43.x] use xds-test-server-5
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: release notes: no, bloat/none, perf-change/none

#28392 Replace distutils.sysconfig with sysconfig
  third_party/py/python_configure.bzl
Labels: lang/Python, release notes: no, bloat/none, perf-change/none

#28448 Remove python2 from third_party/py/BUILD.tpl
  third_party/py/BUILD.tpl
  third_party/py/python_configure.bzl
Labels: lang/Python, area/build, release notes: no, bloat/none, perf-change/none

#28450 change repo manager to ZhenLian
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#28453 xds_end2end_test: Set skip cancelled check
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#28419 modify call.cc to remove grpc-timeout metadata on the server side
  src/core/lib/surface/call.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-5772603843543040
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28455 Revert "modify call.cc to remove grpc-timeout metadata on the server side"
  src/core/lib/surface/call.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-5772603843543040
Labels: lang/core, release notes: no
