Repository grpc/grpc, pull requests merged in 2021-03, with the labels that each got.

#25514 Update csharp_generator.cc to be compatible with internal and public version of protobuf
  src/compiler/config_protobuf.h
  src/compiler/csharp_generator.cc
  src/compiler/csharp_generator.h
Labels: lang/C#, release notes: no

#25541 Fix race at server shutdown between actual shutdown and MatchOrQueue
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/server/server_cc.cc
Labels: release notes: no

#25589 Passing repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#25552 xds-k8s: Update local-dev.cfg.example
  tools/run_tests/xds_k8s_test_driver/config/local-dev.cfg.example
Labels: release notes: no

#25474 In Doxygen-style comments, '@c @select()' is invalid now.
  src/objective-c/GRPCClient/private/GRPCCore/ChannelArgsUtil.h
Labels: lang/ObjC, release notes: no

#25574 Bump version to 1.36.1
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#25592 Revert "Remove the `urgent` argument from iomgr tcp read API (#25494)"
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/tcp_custom.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
  test/core/iomgr/tcp_posix_test.cc
  test/core/security/secure_endpoint_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/eval_args_mock_endpoint.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/trickle_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: area/core, lang/core, release notes: no

#25418 Crosscompile python aarch64 wheels with dockcross
  setup.py
  src/python/grpcio/commands.py
  tools/distrib/python/grpcio_tools/setup.py
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, release notes: yes

#25580 Changed RPI build test to general ARM build test
  BUILDING.md
  test/distrib/cpp/run_distrib_test_cmake_aarch64_cross.sh
  tools/dockerfile/distribtest/cpp_stretch_aarch64_cross_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/build, lang/c++, release notes: no

#25591 [Backport] Relax ruby test check on protobuf error message
  src/ruby/spec/errors_spec.rb
Labels: release notes: no

#25512 [xDS Proto] Modernize buildgen scripts
  tools/buildgen/_mako_renderer.py
  tools/buildgen/_utils.py
  tools/buildgen/generate_build_additions.sh
  tools/buildgen/generate_projects.py
  tools/buildgen/generate_projects.sh
  tools/run_tests/python_utils/jobset.py
Labels: release notes: no

#25568 Make returning a local reference a compilation error
  tools/bazel.rc
Labels: release notes: no

#25530 Parse FilterChainMatch from LDS response
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: release notes: no

#25332 Remove unused parameter from UnaryDeserializeHelper
  include/grpcpp/impl/codegen/byte_buffer.h
  include/grpcpp/impl/codegen/method_handler.h
Labels: release notes: no

#25528 Update config selector for LDS update with no route config
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: area/core, release notes: no

#25599 Add virtual destructor to ClientReactor base class
  include/grpcpp/impl/codegen/client_callback.h
Labels: release notes: no

#25560 Add abseil thread annotations to grpcpp/sync
  BUILD
  BUILD.gn
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  include/grpcpp/impl/codegen/sync.h
  templates/tools/dockerfile/test/cxx_alpine_x64/Dockerfile.template
  test/distrib/cpp/run_distrib_test_cmake_module_install.sh
  test/distrib/cpp/run_distrib_test_cmake_module_install_pkgconfig.sh
  tools/dockerfile/distribtest/python_dev_alpine3.7_x64/Dockerfile
  tools/dockerfile/test/cxx_alpine_x64/Dockerfile
  tools/dockerfile/test/python_alpine_x64/Dockerfile
Labels: kind/enhancement, lang/c++, release notes: no

#25603 Double WAIT_FOR_BACKEND_SEC
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
Labels: release notes: no

#25536 replace deprecated addProtoService
  examples/node/dynamic_codegen/route_guide/route_guide_server.js
Labels: release notes: no

#25397 PHP: php server commit 2/n, add Server Call
  src/php/lib/Grpc/ServerCallReader.php
  src/php/lib/Grpc/ServerCallWriter.php
  src/php/tests/unit_tests/ServerCallTest.php
  tools/doxygen/Doxyfile.php
Labels: lang/php, release notes: no

#25395 Add GetHeaderValue to EvaluateArgs.
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  test/core/security/evaluate_args_test.cc
  test/core/transport/metadata_test.cc
Labels: release notes: no

#25595 Option to disable local_certificate check from PSM security tests
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: release notes: no

#25399 PHP: php server commit 3/n, add ServerContext and MethodDescriptor
  src/php/lib/Grpc/MethodDescriptor.php
  src/php/lib/Grpc/ServerContext.php
  tools/doxygen/Doxyfile.php
Labels: lang/php, release notes: no

#25593 Add missing security field to channelz Socket
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/security/transport/security_handshaker.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/channelz_service_test.cc
Labels: lang/core, release notes: yes

#25570 Improve Grpc.Tools documentation
  src/csharp/BUILD-INTEGRATION.md
Labels: lang/C#, release notes: no

#25542 Delete no longer needed artifact_linux dockerfiles
  tools/dockerfile/grpc_artifact_linux_x64/Dockerfile
  tools/dockerfile/grpc_artifact_linux_x86/Dockerfile
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/artifacts/package_targets.py
Labels: release notes: no

#25602 Assorted python wheel build improvements
  setup.py
  tools/dockerfile/grpc_artifact_python_manylinux2010_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, release notes: no

#25547 simplify build.yaml: get rid of the "secure" field
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  templates/BUILD.gn.template
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/README.md
  templates/grpc.gyp.template
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: lang/core, release notes: no

#25613 xDS Interop Client changes for PSM security tests
  BUILD
  test/cpp/interop/xds_interop_client.cc
Labels: release notes: no

#25615 xds-k8s Fix NameError name 'cls' is not defined
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: release notes: no

#25571 Thread annotations for C++ callback API headers
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/impl/codegen/server_callback.h
Labels: release notes: no

#25590 Upgrade clang-tidy and clang-format to 11
  .clang-format
  .clang-tidy
  src/cpp/server/health/default_health_check_service.cc
  src/objective-c/GRPCClient/private/GRPCCore/GRPCChannel.m
  templates/tools/dockerfile/grpc_clang_format/Dockerfile.template
  templates/tools/dockerfile/grpc_clang_tidy/Dockerfile.template
  templates/tools/dockerfile/python_debian10.include
  templates/tools/dockerfile/python_debian11.include
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/end2end/client_callback_end2end_test.cc
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/exception_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/interop/interop_client.cc
  test/cpp/qps/client_async.cc
  tools/distrib/run_clang_tidy.py
  tools/dockerfile/grpc_clang_format/Dockerfile
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: area/build, kind/enhancement, lang/c++, release notes: no

#25618 Added include/grpcpp/impl/codegen/method_handler_impl.h to grpc++_codegen_base
  BUILD
  BUILD.gn
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
Labels: area/build, kind/bug, lang/c++, release notes: no

#25607 [Backport] Update the way dockerfiles install pip for python 2.7 and 3.5
  src/core/lib/iomgr/exec_ctx.cc
  templates/tools/dockerfile/apt_get_python_27.include
  templates/tools/dockerfile/clang_update.include
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/bazel/Dockerfile.template
  templates/tools/dockerfile/test/fuzzer/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_default_x64/Dockerfile.template
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/fuzzer/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/dockerfile/test/python_stretch_default_x64/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: release notes: no

#25622 Fix internal build
  BUILD
Labels: release notes: no

#25625 Fix access to empty list in proto
  src/ruby/pb/test/xds_client.rb
Labels: lang/ruby, release notes: no

#25485 Remove CAS loops in global subchannel pool and simplify subchannel refcounting
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_factory.h
  src/core/ext/filters/client_channel/global_subchannel_pool.cc
  src/core/ext/filters/client_channel/global_subchannel_pool.h
  src/core/ext/filters/client_channel/local_subchannel_pool.cc
  src/core/ext/filters/client_channel/local_subchannel_pool.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_pool_interface.cc
  src/core/ext/filters/client_channel/subchannel_pool_interface.h
  src/core/ext/transport/chttp2/client/insecure/channel_create.cc
  src/core/ext/transport/chttp2/client/secure/secure_channel_create.cc
  src/core/lib/gprpp/dual_ref_counted.h
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: lang/core, release notes: yes

#25630 Revert "Adding xxhash as a subtree"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  build_handwritten.yaml
  cmake/xxhash.cmake
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  templates/CMakeLists.txt.template
  templates/config.m4.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  third_party/xxhash/BUILD
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#25361 SDK authorization policy translator.
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/xds_api.h
  src/core/lib/matchers/matchers.cc
  src/core/lib/matchers/matchers.h
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  src/core/lib/security/authorization/rbac_translator.cc
  src/core/lib/security/authorization/rbac_translator.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/matchers_test.cc
  test/core/security/rbac_translator_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#25623 Enable timeout xds test for Ruby
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
Labels: lang/ruby, release notes: no

#25638 Fix build abseil/boringssl/protobuf at head
  CMakeLists.txt
  tools/buildgen/generate_projects.py
  tools/buildgen/generate_projects.sh
Labels: release notes: no

#25621 Add max_frame_size support to fake TSI handshaker and fake HS service
  src/core/tsi/fake_transport_security.cc
  test/core/tsi/alts/fake_handshaker/fake_handshaker_server.cc
  test/core/tsi/alts/fake_handshaker/handshaker.proto
Labels: area/core, release notes: no

#25633 C++ xDS interop test server changes
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/interop/BUILD
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Labels: release notes: no

#25627 Updated clang-tidy checks
  .clang-tidy
Labels: kind/enhancement, lang/c++, release notes: no

#25637 Change repo manager to drfloob.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#25553 Add v1.36.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#25419 Ruby: Add limited Apple Silicon (arm64-darwin20) support
  src/ruby/ext/grpc/extconf.rb
Labels: kind/bug, lang/ruby, release notes: no

#25629 Format Channelz Address.TcpIpAddress.address as packed bytes
  src/core/lib/channel/channelz.cc
  src/core/lib/iomgr/sockaddr_utils.cc
  src/core/lib/iomgr/sockaddr_utils.h
  src/python/grpcio_tests/tests/channelz/_channelz_servicer_test.py
  test/cpp/end2end/channelz_service_test.cc
Labels: area/channelz, lang/all wrapped languages, release notes: yes

#25647 Fix pypa link
  templates/tools/dockerfile/apt_get_python_27.include
  templates/tools/dockerfile/python_debian11.include
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_default_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/dockerfile/test/python_stretch_default_x64/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/run_tests/helper_scripts/build_python.sh
Labels: kind/bug, lang/all wrapped languages, release notes: no

#25321 xDS status notifier
  include/grpc/grpc.h
  include/grpcpp/xds_server_builder.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/surface/server.h
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/c++, lang/core, release notes: yes

#25619 Migrate the bm_diff benchmarks to python3
  tools/gce/linux_kokoro_performance_worker_init.sh
  tools/internal_ci/helper_scripts/prepare_build_linux_perf_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/requirements.linux_perf.txt
  tools/internal_ci/helper_scripts/requirements.macos.txt
  tools/internal_ci/linux/grpc_performance_profile_daily.sh
  tools/internal_ci/linux/run_if_c_cpp_modified.sh
  tools/profiling/bloat/bloat_diff.py
  tools/profiling/microbenchmarks/bm2bq.py
  tools/profiling/microbenchmarks/bm_diff/bm_build.py
  tools/profiling/microbenchmarks/bm_diff/bm_constants.py
  tools/profiling/microbenchmarks/bm_diff/bm_diff.py
  tools/profiling/microbenchmarks/bm_diff/bm_main.py
  tools/profiling/microbenchmarks/bm_diff/bm_run.py
  tools/profiling/microbenchmarks/bm_diff/bm_speedup.py
  tools/profiling/microbenchmarks/bm_json.py
  tools/run_tests/python_utils/check_on_pr.py
  tools/run_tests/python_utils/filter_pull_request_tests.py
  tools/run_tests/python_utils/start_port_server.py
  tools/run_tests/run_microbenchmark.py
  tools/run_tests/start_port_server.py
Labels: area/performance/benchmarking, lang/Python, release notes: no

#25641 run_xds_tests: add fault_injection tests
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25656 Some environments support only IPv6 addresses - followup from #25321
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25651 xds: Fix handling of HTTP filter that does not set typed_config.
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/core, release notes: no

#25525 Enable Python Timeout xDS Interop Test
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: area/test, lang/Python, release notes: no

#25655 Change Chttp2ServerListener to share the ref of the underlying grpc_tcp_server
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/surface/server.h
Labels: release notes: no

#25628 Fix readability-const-return-type, readability-delete-null-pointer, readability-simplify-boolean-expr
  .clang-tidy
  include/grpcpp/impl/codegen/interceptor_common.h
  include/grpcpp/impl/codegen/security/auth_context.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/workarounds/workaround_cronet_compression_filter.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/gpr/sync_abseil.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/surface/server.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/transport_security_common_api.cc
  src/cpp/common/auth_property_iterator.cc
  src/cpp/common/channel_filter.h
  test/core/bad_client/bad_client.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/surface/concurrent_connectivity_test.cc
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/transport_security_test_lib.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/mock_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/interop/interop_client.cc
  test/cpp/qps/driver.cc
  test/cpp/qps/json_run_localhost.cc
  test/cpp/util/cli_credentials.cc
  test/cpp/util/cli_credentials.h
  test/cpp/util/grpc_tool_test.cc
  test/cpp/util/proto_reflection_descriptor_database.cc
  test/cpp/util/proto_reflection_descriptor_database.h
Labels: kind/enhancement, lang/c++, release notes: no

#25444 Standardize all environment variable boolean configuration in python's setup.py
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: lang/Python, release notes: yes

#25624 Channelz security changes - Follow up from #25593
  src/core/lib/channel/channelz.cc
  test/cpp/end2end/channelz_service_test.cc
Labels: release notes: no

#25605 Annotate C++ server
  include/grpcpp/server.h
  src/cpp/server/server_cc.cc
Labels: release notes: no

#25664 Backport #25647 and #25510
  templates/tools/dockerfile/apt_get_python_27.include
  templates/tools/dockerfile/gcp_api_libraries.include
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_default_x64/Dockerfile.template
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/buildgen/generate_projects.sh
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.11/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_go1.8/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/csharp_stretch_x64/Dockerfile
  tools/dockerfile/test/cxx_buster_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x64/Dockerfile
  tools/dockerfile/test/cxx_jessie_x86/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/dockerfile/test/cxx_ubuntu1804_x64/Dockerfile
  tools/dockerfile/test/node_jessie_x64/Dockerfile
  tools/dockerfile/test/php7_jessie_x64/Dockerfile
  tools/dockerfile/test/python_stretch_2.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/dockerfile/test/python_stretch_default_x64/Dockerfile
  tools/dockerfile/test/ruby_buster_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/run_tests/helper_scripts/build_python.sh
Labels: area/test, lang/all wrapped languages, release notes: no

#25673 Replace deprecated thread annotations macros.
  src/core/ext/transport/chttp2/server/chttp2_server.cc
Labels: kind/internal cleanup, lang/core, release notes: no

#25667 Fix bugprone unhandled self assignment
  .clang-tidy
  include/grpcpp/impl/codegen/call_op_set.h
  include/grpcpp/impl/codegen/string_ref.h
  src/core/ext/filters/client_channel/lb_policy.cc
  src/core/ext/filters/client_channel/resolver.cc
  src/core/ext/filters/client_channel/server_address.cc
  src/core/ext/filters/client_channel/subchannel_pool_interface.cc
  src/core/lib/gprpp/ref_counted_ptr.h
Labels: kind/internal cleanup, lang/c++, release notes: no

#25672 Fix an infinite read loop with SRV record resolution on windows
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
Labels: lang/core, release notes: yes

#24965 xDS changes for server listener resource name template
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/core/xds/xds_bootstrap_test.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25676 Disable fault injection env var in xds interop tests
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25678 Add usage note about immediately-Set alarms
  include/grpcpp/alarm.h
Labels: lang/c++, release notes: no

#25609 Filters parsing logic for servers
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/proto/grpc/testing/xds/v3/listener.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25645 Revert "Revert "Adding xxhash as a subtree""
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  PYTHON-MANIFEST.in
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  build_handwritten.yaml
  cmake/xxhash.cmake
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  setup.py
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  templates/CMakeLists.txt.template
  templates/config.m4.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  third_party/xxhash/BUILD
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#25693 Fix a typo in fault injection
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, release notes: no

#25694 xds: Ignore HTTP filters if LDS resource is v2.
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25702 Revert "xDS status notifier (#25321)"
  include/grpc/grpc.h
  include/grpcpp/xds_server_builder.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/surface/server.h
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: release notes: no

#25695 Increase build timeouts for problem targets preventing nightlies from being published
  tools/internal_ci/windows/grpc_build_artifacts.cfg
  tools/run_tests/artifacts/artifact_targets.py
Labels: area/packaging & distribution, release notes: no

#25706 Document xds v3 support
  doc/grpc_xds_features.md
Labels: release notes: no

#24187 grpc_cli: allow multiple colon-separated paths in --proto_path
  doc/command_line_tool.md
  test/cpp/util/grpc_tool.cc
  test/cpp/util/proto_file_parser.cc
  test/cpp/util/proto_file_parser.h
Labels: release notes: no

#25648 Change repo manager
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no

#25689 Document --service_config_json flag in interop test descriptions
  doc/interop-test-descriptions.md
Labels: lang/all wrapped languages, release notes: no

#25690 Backport "Fix an infinite read loop with SRV record resolution on windows" to 1.36.x
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
Labels: lang/core, release notes: yes

#25719 [Aio] Add time_remaining method to ServicerContext
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/aio/_base_server.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_common.py
  src/python/grpcio_tests/tests_aio/unit/compatibility_test.py
  src/python/grpcio_tests/tests_aio/unit/server_time_remaining_test.py
Labels: lang/Python, release notes: yes

#25710 Add google storage URLs for all mirrored bazel dependencies
  bazel/grpc_deps.bzl
Labels: area/build, release notes: no

#25714 Adding test to make sure that http2 transport gets cleaned up
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: release notes: no

#25718 Revert Revert Xds Status Notifier
  include/grpc/grpc.h
  include/grpcpp/xds_server_builder.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/insecure/channel_create_posix.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/insecure/server_chttp2_posix.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/surface/server.h
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/server.pyx.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/cpp/end2end/xds_end2end_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: release notes: no

#25683 Follow-up from #24965
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: release notes: no

#25723 Add gRPC 1.36.3 to the interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#25687 xDS LDS parsing changes: NACK on use_original_dst
  src/core/ext/xds/xds_api.cc
  src/proto/grpc/testing/xds/v3/listener.proto
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25617 cmake: Reflect minor version change in SONAME for C++ and C#
  BUILDING.md
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, release notes: yes

#25726 Don't assume that c-ares won't retry failed writes in grpc_core::GrpcPolledFdWindows::SendVUDP
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
Labels: lang/core, release notes: yes

#25739 Mark Python interceptors as stable
  src/python/grpcio/grpc/__init__.py
Labels: release notes: no

#25734 Fix python3 performance tests - incomplete migration from python2
  tools/profiling/latency_profile/profile_analyzer.py
  tools/run_tests/run_microbenchmark.py
Labels: area/build, lang/Python, release notes: no

#25415 Generating hash for ring_hash policy
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no

#25732 Add a job for end to end benchmarks V2
  tools/internal_ci/linux/grpc_e2e_performance_v2.cfg
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: release notes: no

#25717 make Grpc C# work on aarch64 linux
  src/csharp/Grpc.Core/Grpc.Core.csproj
  src/csharp/Grpc.Core/Internal/CommonPlatformDetection.cs
  src/csharp/Grpc.Core/Internal/NativeExtension.cs
  src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs
  src/csharp/Grpc.Core/Internal/PlatformApis.cs
  src/csharp/Grpc.Tools.Tests/ProtoToolsPlatformTaskTest.cs
  src/csharp/Grpc.Tools/Common.cs
  src/csharp/Grpc.Tools/Grpc.Tools.csproj
  src/csharp/Grpc.Tools/ProtoToolsPlatform.cs
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
  templates/src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs.template
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_csharp.sh
Labels: lang/C#, release notes: yes

#25731 Fix protobuf status error
  test/cpp/qps/parse_json.cc
Labels: area/build, lang/c++, release notes: no

#25704 Use crosscompilation to build python armv7 wheels
  tools/dockerfile/grpc_artifact_linux_armv6/Dockerfile
  tools/dockerfile/grpc_artifact_linux_armv7/Dockerfile
  tools/dockerfile/grpc_artifact_python_linux_armv7/Dockerfile
  tools/dockerfile/grpc_artifact_python_linux_armv7/install_python_for_wheel_crosscompilation.sh
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/dockerize/build_and_run_docker.sh
Labels: lang/Python, release notes: yes

#25736 Fix required a higher minimum deployment target of Auth Sample Test
  examples/objective-c/auth_sample/Podfile
Labels: lang/ObjC, release notes: no

#25735 xds testing: set fault injection env var, so the test can be turned on
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25743 Fix invalid use of python's traceback.print_exc
  tools/run_tests/python_utils/check_on_pr.py
Labels: area/test, lang/Python, release notes: no

#25746 xds-k8s: Update to TD bootstrap with server_listener_resource_name_template support
  tools/run_tests/xds_k8s_test_driver/config/common.cfg
Labels: release notes: no

#25744 Bump version to 1.36.4
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#25108 Convert grpc_ares_wrapper to C++
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/goaway_server_test.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: lang/core, release notes: no

#25747 Update interop client matrix for grpc-java 1.31.2 and 1.32.3 releases
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#25692 Added CMakeLists.txt to cpp/examples
  examples/cpp/compression/CMakeLists.txt
  examples/cpp/keyvaluestore/CMakeLists.txt
  examples/cpp/load_balancing/CMakeLists.txt
  examples/cpp/metadata/CMakeLists.txt
Labels: area/build, lang/c++, release notes: no

#25729 Reduce Grpc.Core nuget size by generating separate .so with/without debug symbols for grpc_csharp_ext
  src/csharp/Grpc.Core.NativeDebug/Grpc.Core.NativeDebug.csproj
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/internal_ci/linux/grpc_build_artifacts.cfg
  tools/run_tests/artifacts/build_artifact_csharp.sh
Labels: lang/C#, release notes: yes

#25758 extract_metadata_from_bazel_xml.py changes from #25272
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  grpc.gyp
  tools/buildgen/extract_metadata_from_bazel_xml.py
Labels: release notes: no

#25665 Pin xDS interop test runner dependencies
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/internal_ci/linux/xds_interop_dependencies/pip.lock
  tools/internal_ci/linux/xds_interop_dependencies/requirements.lock
Labels: area/test, lang/all, release notes: no

#25153 Include `GRPC::GenericService` from root namespace
  src/compiler/ruby_generator.cc
Labels: lang/ruby, release notes: yes

#25759 Add g_gli_initializer to server_context
  src/cpp/client/client_context.cc
  src/cpp/server/server_context.cc
Labels: kind/bug, lang/c++, release notes: no

#25761 Revert "Convert grpc_ares_wrapper to C++ (#25108)"
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_libuv.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_windows.cc
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/goaway_server_test.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: lang/core, release notes: no

#25763 Fix const-ness of callback client read RPC requests
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no

#25768 Revert "Pin xDS interop test runner dependencies (#25665)"
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_csharp_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_php_test_in_docker.sh
  tools/internal_ci/linux/grpc_xds_ruby_test_in_docker.sh
  tools/internal_ci/linux/xds_interop_dependencies/pip.lock
  tools/internal_ci/linux/xds_interop_dependencies/requirements.lock
Labels: area/test, lang/all, release notes: no

#25764 clang-format the examples/cpp directory
  examples/cpp/compression/greeter_client.cc
  examples/cpp/compression/greeter_server.cc
  examples/cpp/helloworld/cocoapods/HelloWorldCpp/AppDelegate.h
  examples/cpp/helloworld/cocoapods/HelloWorldCpp/ViewController.h
  examples/cpp/helloworld/cocoapods/HelloWorldCpp/ViewController.mm
  examples/cpp/helloworld/cocoapods/HelloWorldCpp/main.m
  examples/cpp/helloworld/greeter_async_client.cc
  examples/cpp/helloworld/greeter_async_client2.cc
  examples/cpp/helloworld/greeter_async_server.cc
  examples/cpp/helloworld/greeter_client.cc
  examples/cpp/helloworld/greeter_server.cc
  examples/cpp/load_balancing/greeter_client.cc
  examples/cpp/load_balancing/greeter_server.cc
  examples/cpp/metadata/greeter_client.cc
  examples/cpp/metadata/greeter_server.cc
  examples/cpp/route_guide/helper.h
  examples/cpp/route_guide/route_guide_client.cc
  examples/cpp/route_guide/route_guide_server.cc
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
Labels: lang/ObjC, lang/c++, release notes: no

#25779 testing: allow 10m for first xds fault_injection case
  tools/run_tests/run_xds_tests.py
Labels: release notes: no

#25661 Decrease Python xDS Interop Client Verbosity
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: area/test, kind/internal cleanup, lang/Python, release notes: no

#25785 Use URI form of address for channelz listen node
  src/core/ext/transport/chttp2/server/chttp2_server.cc
Labels: lang/core, release notes: yes

#25769 xds: enable fault_injection xds tests for C++
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no

#25753 Implement C++ Admin Interface API
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpcpp/ext/admin_services.h
  src/cpp/server/admin/admin_services.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/admin_services_end2end_test.cc
  tools/internal_ci/linux/grpc_bazel_test_in_docker.sh
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: yes

#25733 Add ExecCtx to Channelz surface APIs
  src/core/lib/channel/channelz_registry.cc
Labels: lang/c++, release notes: no

#25788 PHP: remove experimental from Interceptor API
  src/php/lib/Grpc/CallInvoker.php
  src/php/lib/Grpc/DefaultCallInvoker.php
  src/php/lib/Grpc/Interceptor.php
Labels: lang/php, release notes: no

#25777 Add lock annotations in client_channel filter.
  src/core/ext/filters/client_channel/client_channel.cc
Labels: release notes: no

#25780 Add lock annotations in subchannel code.
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
Labels: release notes: no

#25792 Remove fault injection environmental variable guard
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  test/cpp/end2end/xds_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, release notes: yes

#25793 Removing circuit_breaking and timeout environment variable guard to
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/xds/xds_api.cc
  test/cpp/end2end/xds_end2end_test.cc
Labels: priority/P0/RELEASE BLOCKER, release notes: no

#25799 Apply the xds-specific Bazel rule to admin API
  BUILD
  test/cpp/end2end/BUILD
  test/cpp/end2end/admin_services_end2end_test.cc
Labels: lang/c++, release notes: no

#25798 Mark that callback generic service is frequently-polled
  src/cpp/server/server_builder.cc
Labels: kind/bug, lang/c++, release notes: no

#25770 Added portability test with openssl 1.0.2
  templates/tools/dockerfile/test/cxx_buster_openssl102_x64/Dockerfile.template
  test/core/tsi/ssl_transport_security_test.cc
  tools/dockerfile/test/cxx_buster_openssl102_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: area/test, release notes: no

#25796 Remove unused eventmanager_libuv code
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/poller/eventmanager_interface.h
  src/core/lib/iomgr/poller/eventmanager_libuv.cc
  src/core/lib/iomgr/poller/eventmanager_libuv.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/poller/BUILD
  test/core/iomgr/poller/eventmanager_libuv_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: area/core, lang/core, release notes: no

#25797 Add more lock annotations in client channel code.
  src/core/ext/filters/client_channel/client_channel_channelz.h
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_client_stats.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
Labels: release notes: no

#25730 Update keepalive.md
  doc/keepalive.md
Labels: release notes: no

#25807 Revert "Remove unused eventmanager_libuv code (#25796)"
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/poller/eventmanager_interface.h
  src/core/lib/iomgr/poller/eventmanager_libuv.cc
  src/core/lib/iomgr/poller/eventmanager_libuv.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/poller/BUILD
  test/core/iomgr/poller/eventmanager_libuv_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: release notes: no

#25814 Remove async mark for set_trailing_metadata interface
  src/python/grpcio/grpc/aio/_base_server.py
Labels: lang/Python, release notes: yes

#25812 Revert "Added portability test with openssl 1.0.2"
  templates/tools/dockerfile/test/cxx_buster_openssl102_x64/Dockerfile.template
  test/core/tsi/ssl_transport_security_test.cc
  tools/dockerfile/test/cxx_buster_openssl102_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no

#25103 Added mock_stream_test
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpcpp/test/mock_stream.h
  test/cpp/test/BUILD
  test/cpp/test/mock_stream_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/c++, release notes: no

#25757 Implement FilterChainMatch algorithm
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/gprpp/atomic.h
  src/core/lib/iomgr/sockaddr_utils.cc
  src/core/lib/iomgr/sockaddr_utils.h
  src/core/lib/surface/server.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/address.proto
  src/proto/grpc/testing/xds/v3/listener.proto
  test/core/iomgr/BUILD
  test/core/iomgr/sockaddr_utils_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#25816 Add gRPC Java 1.35.1 and 1.36.1 to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no

#25815 Backport #25757 to v1.37.x
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/gprpp/atomic.h
  src/core/lib/iomgr/sockaddr_utils.cc
  src/core/lib/iomgr/sockaddr_utils.h
  src/core/lib/surface/server.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/address.proto
  src/proto/grpc/testing/xds/v3/listener.proto
  test/core/iomgr/BUILD
  test/core/iomgr/sockaddr_utils_test.cc
  test/cpp/end2end/xds_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: no

#25828 Add parallel compilation to php distribtest
  test/distrib/php/run_distrib_test.sh
  test/distrib/php/run_distrib_test_macos.sh
Labels: lang/php, release notes: no

#25833 Fix unused variables
  src/core/lib/iomgr/parse_address.cc
  src/core/lib/iomgr/unix_sockets_posix_noop.cc
Labels: area/core, lang/core, release notes: no

#25830 Increase the retry count for XdsServerSecurityTest
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25837 xds_end2end_test ipv6 address format fix
  test/cpp/end2end/xds_end2end_test.cc
Labels: release notes: no

#25831 grpc_string_to_sockaddr cleanup
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/channel/channelz.cc
  src/core/lib/iomgr/sockaddr_utils.cc
  src/core/lib/iomgr/sockaddr_utils.h
  src/python/grpcio/grpc/_cython/_cygrpc/iomgr.pxd.pxi
  test/core/iomgr/sockaddr_utils_test.cc
Labels: release notes: no

#25839 Bump to 1.37.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/all, release notes: no

#25804 Add description of the core_banned_functions check
  tools/run_tests/sanity/core_banned_functions.py
Labels: area/documentation, release notes: no

#25808 add lock annotations to XdsClient code
  src/core/ext/xds/certificate_provider_store.h
  src/core/ext/xds/xds_certificate_provider.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_stats.h
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: release notes: no

#25843 Fix ssl_transport_security_test.cc when built against OpenSSL 1.0.2.
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security, area/test, release notes: no

#25760 Allow the AWS_DEFAULT_REGION environment variable
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  test/core/security/credentials_test.cc
Labels: lang/core, release notes: yes

#25820 Move retry code into its own filter in the DynamicFilter stack
  BUILD
  BUILD.gn
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/retry_filter.h
  src/core/ext/filters/client_channel/retry_service_config.cc
  src/core/ext/filters/client_channel/retry_service_config.h
  src/core/ext/xds/xds_client.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/service_config_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no
