Repository grpc/grpc, pull requests merged in 2022-12, with the labels that each got.

#31780 Add empty constructor to workaround gcc/clang bug
  src/core/ext/xds/xds_listener.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31634 Second attempt: subchannel: use WorkSerializer for connectivity state notifications
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31747 Build native MacOS arm64 artifacts (universal2)
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31767 Remove functions in `class CoreCodegen`
  include/grpcpp/impl/call_op_set.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/server_callback_handlers.h
  include/grpcpp/server_context.h
  include/grpcpp/server_interface.h
  include/grpcpp/support/async_stream.h
  include/grpcpp/support/async_unary_call.h
  include/grpcpp/support/byte_buffer.h
  include/grpcpp/support/callback_common.h
  include/grpcpp/support/client_callback.h
  include/grpcpp/support/method_handler.h
  include/grpcpp/support/proto_buffer_reader.h
  include/grpcpp/support/proto_buffer_writer.h
  include/grpcpp/support/slice.h
  src/cpp/common/core_codegen.cc
  test/cpp/microbenchmarks/bm_byte_buffer.cc
Labels: lang/c++, disposition/Needs Internal Changes, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31730 Introduce the xds_override_host policy
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/core/plugin_registry/grpc_plugin_registry_extra.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/client_channel/xds_override_host_lb_config_parser_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#31790 EventEngine::RunAfter migration StateWatcher
  BUILD
  src/core/ext/filters/client_channel/channel_connectivity.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31775 Remove `include/grpc/impl/codegen/log.h`
  grpc.def
  include/grpc/impl/codegen/log.h
  include/grpc/support/log.h
  src/core/lib/iomgr/internal_errqueue.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/context_allocator_end2end_test.cc
  test/cpp/end2end/message_allocator_end2end_test.cc
Labels: lang/c++, lang/ruby, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31777 Remove `include/grpc/impl/codegen/sync.h`
  include/grpc/impl/codegen/sync.h
  include/grpc/impl/codegen/sync_abseil.h
  include/grpc/impl/codegen/sync_custom.h
  include/grpc/impl/codegen/sync_generic.h
  include/grpc/impl/codegen/sync_posix.h
  include/grpc/impl/codegen/sync_windows.h
  include/grpc/support/sync.h
  include/grpc/support/sync_abseil.h
  include/grpc/support/sync_custom.h
  include/grpc/support/sync_generic.h
  include/grpc/support/sync_posix.h
  include/grpc/support/sync_windows.h
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31758 [promises] TryConcurrently: add tests for many push/pulls
  test/core/promise/try_concurrently_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31801 Enable posix_event_engine_polling experiment
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31776 Remove static initialization of memory allocator in tests
  test/core/channel/call_finalization_test.cc
  test/core/filters/client_authority_filter_test.cc
  test/core/gprpp/chunked_vector_fuzzer.cc
  test/core/gprpp/chunked_vector_test.cc
  test/core/promise/arena_promise_test.cc
  test/core/promise/for_each_test.cc
  test/core/promise/map_pipe_test.cc
  test/core/promise/pipe_test.cc
  test/core/promise/try_seq_metadata_test.cc
  test/core/resource_quota/arena_test.cc
  test/core/security/credentials_test.cc
  test/core/security/oauth2_utils.cc
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/chaotic_good/frame_fuzzer.cc
  test/core/transport/chttp2/flow_control_test.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/metadata_map_test.cc
  test/cpp/microbenchmarks/bm_arena.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31774 Remove `include/grpc/impl/codegen/gpr_slice.h`
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/impl/codegen/gpr_slice.h
  include/grpc/impl/codegen/slice.h
  include/grpc/module.modulemap
  package.xml
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/tsi/alts/handshaker/alts_tsi_utils.cc
  test/core/security/fetch_oauth2.cc
  test/core/slice/c_slice_buffer_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/alts/handshaker/alts_handshaker_service_api_test_lib.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/util/fuzzer_corpus_test.cc
  test/core/util/passthru_endpoint.cc
  test/cpp/util/cli_call.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31805 Revert "Remove `include/grpc/impl/codegen/gpr_slice.h`"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/impl/codegen/gpr_slice.h
  include/grpc/impl/codegen/slice.h
  include/grpc/module.modulemap
  package.xml
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/tsi/alts/handshaker/alts_tsi_utils.cc
  test/core/security/fetch_oauth2.cc
  test/core/slice/c_slice_buffer_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/alts/handshaker/alts_handshaker_service_api_test_lib.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/util/fuzzer_corpus_test.cc
  test/core/util/passthru_endpoint.cc
  test/cpp/util/cli_call.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no

#31788 xDS stateful session affinity: implement C-core filter
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/server_config_selector/server_config_selector.h
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  src/core/ext/filters/stateful_session/stateful_session_service_config_parser.cc
  src/core/ext/filters/stateful_session/stateful_session_service_config_parser.h
  src/core/ext/transport/chaotic_good/frame.cc
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/event_engine/tcp_socket_utils.cc
  src/core/lib/service_config/service_config_call_data.h
  src/core/lib/transport/metadata_batch.h
  src/core/plugin_registry/grpc_plugin_registry_extra.cc
  src/cpp/common/core_codegen.cc
  src/cpp/ext/gcp/BUILD
  src/cpp/ext/gcp/observability_config.h
  src/cpp/ext/gcp/observability_logging_sink.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/event_engine/BUILD
  test/core/event_engine/posix/tcp_posix_socket_utils_test.cc
  test/core/event_engine/posix/traced_buffer_list_test.cc
  test/core/event_engine/tcp_socket_utils_test.cc
  test/core/transport/chttp2/flow_control_test.cc
  test/core/xds/xds_client_fuzzer.cc
  test/core/xds/xds_route_config_resource_type_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#31811 [experiments] Enable memory_pressure_controller for debug builds
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31786 Move `google_default` channel_credentials out of `include/grpc/grpc_security.h`
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  include/grpc/channel_credentials/google_default.h
  include/grpc/grpc_security.h
  include/grpc/module.modulemap
  package.xml
  src/core/lib/security/credentials/channel_creds_registry_init.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/cpp/client/secure_credentials.cc
  src/php/ext/grpc/channel_credentials.c
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/credentials_test.cc
  test/core/security/print_google_default_creds_token.cc
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#27669 Detect unknown fields in SDK to RBAC translator
  BUILD
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/authorization/rbac_translator.cc
  src/core/lib/security/authorization/rbac_translator.h
  test/core/security/grpc_authorization_policy_provider_test.cc
  test/core/security/rbac_translator_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral, per-channel-memory/neutral

#31806 Revert "Revert "Remove `include/grpc/impl/codegen/gpr_slice.h`""
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/impl/codegen/gpr_slice.h
  include/grpc/impl/codegen/slice.h
  include/grpc/module.modulemap
  package.xml
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/tsi/alts/handshaker/alts_tsi_utils.cc
  test/core/security/fetch_oauth2.cc
  test/core/slice/c_slice_buffer_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/alts/handshaker/alts_handshaker_service_api_test_lib.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/util/fuzzer_corpus_test.cc
  test/core/util/passthru_endpoint.cc
  test/cpp/util/cli_call.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31809 [hpack] Include context when failing due to metadata size exceeded
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#31797 Log xDS node ID with verbosity INFO
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31787 Remove posix_engine namespace
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.h
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.h
  src/core/lib/event_engine/posix_engine/event_poller.h
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.cc
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.h
  src/core/lib/event_engine/posix_engine/internal_errqueue.cc
  src/core/lib/event_engine/posix_engine/internal_errqueue.h
  src/core/lib/event_engine/posix_engine/lockfree_event.cc
  src/core/lib/event_engine/posix_engine/lockfree_event.h
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/event_engine/posix_engine/posix_engine_closure.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener.cc
  src/core/lib/event_engine/posix_engine/posix_engine_listener.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.cc
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.h
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.h
  src/core/lib/event_engine/posix_engine/timer.cc
  src/core/lib/event_engine/posix_engine/timer.h
  src/core/lib/event_engine/posix_engine/timer_heap.cc
  src/core/lib/event_engine/posix_engine/timer_heap.h
  src/core/lib/event_engine/posix_engine/timer_manager.cc
  src/core/lib/event_engine/posix_engine/timer_manager.h
  src/core/lib/event_engine/posix_engine/traced_buffer_list.cc
  src/core/lib/event_engine/posix_engine/traced_buffer_list.h
  src/core/lib/event_engine/posix_engine/wakeup_fd_eventfd.cc
  src/core/lib/event_engine/posix_engine/wakeup_fd_eventfd.h
  src/core/lib/event_engine/posix_engine/wakeup_fd_pipe.cc
  src/core/lib/event_engine/posix_engine/wakeup_fd_pipe.h
  src/core/lib/event_engine/posix_engine/wakeup_fd_posix.h
  src/core/lib/event_engine/posix_engine/wakeup_fd_posix_default.cc
  src/core/lib/event_engine/posix_engine/wakeup_fd_posix_default.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/surface/init.cc
  test/core/event_engine/posix/event_poller_posix_test.cc
  test/core/event_engine/posix/lock_free_event_test.cc
  test/core/event_engine/posix/posix_endpoint_test.cc
  test/core/event_engine/posix/posix_engine_listener_utils_test.cc
  test/core/event_engine/posix/posix_engine_test_utils.cc
  test/core/event_engine/posix/posix_engine_test_utils.h
  test/core/event_engine/posix/posix_event_engine_connect_test.cc
  test/core/event_engine/posix/tcp_posix_socket_utils_test.cc
  test/core/event_engine/posix/timer_heap_test.cc
  test/core/event_engine/posix/timer_list_test.cc
  test/core/event_engine/posix/timer_manager_test.cc
  test/core/event_engine/posix/traced_buffer_list_test.cc
  test/core/event_engine/posix/wakeup_fd_posix_test.cc
  test/core/event_engine/tcp_socket_utils_test.cc
  test/core/event_engine/test_suite/event_engine_test_utils.cc
Labels: disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31821 Revert "xDS stateful session affinity: support xDS HTTP filter config"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/upb-generated/envoy/extensions/filters/http/stateful_session/v3/stateful_session.upb.c
  src/core/ext/upb-generated/envoy/extensions/filters/http/stateful_session/v3/stateful_session.upb.h
  src/core/ext/upb-generated/envoy/extensions/http/stateful_session/cookie/v3/cookie.upb.c
  src/core/ext/upb-generated/envoy/extensions/http/stateful_session/cookie/v3/cookie.upb.h
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/stateful_session/v3/stateful_session.upbdefs.c
  src/core/ext/upbdefs-generated/envoy/extensions/filters/http/stateful_session/v3/stateful_session.upbdefs.h
  src/core/ext/upbdefs-generated/envoy/extensions/http/stateful_session/cookie/v3/cookie.upbdefs.c
  src/core/ext/upbdefs-generated/envoy/extensions/http/stateful_session/cookie/v3/cookie.upbdefs.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  src/core/ext/xds/xds_http_stateful_session_filter.h
  src/core/ext/xds/xds_lb_policy_registry.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/cookie.proto
  src/proto/grpc/testing/xds/v3/stateful_session.proto
  src/proto/grpc/testing/xds/v3/stateful_session_cookie.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/xds/BUILD
  test/core/xds/xds_http_filters_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/Python, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31824 Revert "[experiments] Enable memory_pressure_controller for debug builds"
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no

#31820 xDS cluster: use absl::variant for cluster type
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  test/core/xds/xds_cluster_resource_type_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31555 [ObjC] run cf stream ios test with bazel
  src/objective-c/tests/BUILD
  src/objective-c/tests/CFStreamTests/CFStreamClientTests.mm
  src/objective-c/tests/CFStreamTests/CFStreamEndpointTests.mm
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31814 Sends out-of-band close for streams from client side when destroying transport
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/wire_format/transaction.cc
  src/core/ext/transport/binder/wire_format/transaction.h
  test/core/transport/binder/binder_transport_test.cc
Labels: lang/c++, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31825 Change ignore http2 setting log level to DEBUG
  src/core/ext/transport/chttp2/transport/frame_settings.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31796 Remove functions in `class CoreCodegen`
  include/grpcpp/completion_queue.h
  include/grpcpp/impl/call_op_set.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/metadata_map.h
  include/grpcpp/impl/sync.h
  include/grpcpp/server_interface.h
  include/grpcpp/support/proto_buffer_writer.h
  include/grpcpp/support/slice.h
  src/cpp/client/channel_cc.cc
  src/cpp/common/core_codegen.cc
  test/cpp/microbenchmarks/bm_byte_buffer.cc
Labels: lang/c++, disposition/Needs Internal Changes, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31692 ring_hash LB: cap ring size to 4096 with channel arg to override
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31779 Update PHP docker images PHP versions
  examples/php/echo/apache.Dockerfile
  examples/php/echo/base.Dockerfile
  examples/php/echo/cli.Dockerfile
  examples/php/echo/fpm.Dockerfile
  examples/php/greeter_server.php
  src/php/bin/build_all_docker_images.sh
  src/php/bin/run_all_docker_images.sh
  src/php/docker/alpine/Dockerfile
  src/php/docker/centos7/Dockerfile
  src/php/docker/grpc-ext/Dockerfile
  src/php/docker/grpc-src/Dockerfile
  src/php/docker/i386/Dockerfile
  src/php/docker/php-future/Dockerfile
  src/php/docker/php-src/Dockerfile
  src/php/docker/php-zts/Dockerfile
  src/php/docker/php8.2/Dockerfile
  src/php/docker/php8/Dockerfile
  templates/examples/php/echo/copy_from_grpc_base.include
  templates/src/php/docker/alpine/Dockerfile.template
  templates/src/php/docker/centos7/Dockerfile.template
  templates/src/php/docker/dockerfile_cmd.include
  templates/src/php/docker/download_phpunit9.include
  templates/src/php/docker/grpc-ext/Dockerfile.template
  templates/src/php/docker/grpc-src/Dockerfile.template
  templates/src/php/docker/i386/Dockerfile.template
  templates/src/php/docker/php-src/Dockerfile.template
  templates/src/php/docker/php-zts/Dockerfile.template
  templates/src/php/docker/php8.2/Dockerfile.template
  templates/src/php/docker/php8/Dockerfile.template
  tools/buildgen/plugins/expand_version.py
Labels: lang/php, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31833 Revert "Sends out-of-band close for streams from client side when destroying transport"
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/wire_format/transaction.cc
  src/core/ext/transport/binder/wire_format/transaction.h
  test/core/transport/binder/binder_transport_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#31812 XdsClient: inject version string at construction time
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  test/core/xds/xds_client_fuzzer.cc
  test/core/xds/xds_client_test.cc
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_common_types_test.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/core/xds/xds_listener_resource_type_test.cc
  test/core/xds/xds_route_config_resource_type_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31832 Revert "Revert "[experiments] Enable memory_pressure_controller for debug builds""
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31701 Backport "Fix python tests on kokoro macos monterey (#31126)" to 1.49.x
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/helper_scripts/run_python.sh
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31702 Backport "fix PHP distribtest on monterey (#31567)" on 1.49.x
  test/distrib/php/run_distrib_test.sh
  test/distrib/php/run_distrib_test_macos.sh
Labels: lang/php, release notes: no

#30040 EventEngine::RunAfter: OutlierDetection LB Policy
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
Labels: lang/core, release notes: no, disposition/never stale, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30043 EventEngine::RunAfter: GrpcLb
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: lang/core, release notes: no, disposition/never stale, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30045 EventEngine::RunAfter: Priority LB
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
Labels: lang/core, release notes: no, disposition/never stale, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#29877 [ObjC]fix 64 to 32 bit clang conversion warning in src/core/lib
  include/grpcpp/test/channel_test_peer.h
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser_table.cc
  src/core/lib/compression/compression_internal.cc
  src/core/lib/event_engine/posix_engine/timer.cc
  src/core/lib/event_engine/posix_engine/timer_heap.cc
  src/core/lib/gpr/time_precise.cc
  src/core/lib/gprpp/bitset.h
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/security/security_connector/load_system_roots_supported.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_internal.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.h
  src/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector.cc
  src/core/tsi/fake_transport_security.cc
  src/cpp/client/channel_test_peer.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31817 Remove `include/grpc/impl/codegen/status.h`
  include/grpc/impl/codegen/status.h
  include/grpc/status.h
  src/core/lib/iomgr/error.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31842 [debug] Make some GRPC_TRACE protected log lines INFO not DEBUG
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31846 Revert "Revert "Revert "[experiments] Enable memory_pressure_controller for debug builds"""
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core

#31844 [time] Fix multiple second stall at startup of mac/ios apps
  src/core/lib/gpr/time_posix.cc
  src/core/lib/gpr/time_windows.cc
  src/core/lib/gprpp/time.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31818 Remove `include/grpc/impl/codegen/gpr_types.h`
  include/grpc/impl/codegen/gpr_types.h
  include/grpc/support/string_util.h
  include/grpc/support/sync.h
  include/grpc/support/time.h
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/load_balancer_api.cc
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/xds/xds_api.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/event_engine/posix_engine/timer_manager.cc
  src/core/lib/event_engine/posix_engine/traced_buffer_list.h
  src/core/lib/gpr/string.h
  src/core/lib/gpr/time_precise.cc
  src/core/lib/gpr/time_precise.h
  src/core/lib/gprpp/fork.cc
  src/core/lib/gprpp/thd_posix.cc
  src/core/lib/gprpp/time.cc
  src/core/lib/gprpp/time.h
  src/core/lib/gprpp/time_util.h
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
  src/core/lib/security/credentials/jwt/json_token.h
  src/core/lib/security/credentials/jwt/jwt_credentials.h
  src/core/lib/security/credentials/jwt/jwt_verifier.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/bdp_estimator.h
  src/cpp/client/channel_cc.cc
  src/cpp/client/client_context.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/common/alarm.cc
  src/cpp/common/completion_queue_cc.cc
  src/cpp/common/core_codegen.cc
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/server/load_reporter/load_reporter_async_service_impl.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  src/cpp/util/time_cc.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31860 [resource_quota] Apply fixes for memory pressure controller
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31857 Remove compact reclamation pass
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31863 [promises] Cancellation callback
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/cancel_callback.h
  test/core/promise/BUILD
  test/core/promise/cancel_callback_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31854 [promises] Convert client load reporting to promises
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#31872 Bump v1.47.x to 1.47.3
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/neutral

#31873 Revert "xDS stateful session affinity: add config plumbing"
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_health_status.cc
  src/core/ext/xds/xds_health_status.h
  src/core/lib/json/json_object_loader.cc
  src/core/lib/json/json_object_loader.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/endpoint.proto
  src/proto/grpc/testing/xds/v3/health_check.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/json/json_object_loader_test.cc
  test/core/xds/BUILD
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31837 [cleanups] Remove functions in `class CoreCodegen`
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpcpp/client_context.h
  include/grpcpp/completion_queue.h
  include/grpcpp/impl/call_op_set.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/interceptor_common.h
  include/grpcpp/impl/proto_utils.h
  include/grpcpp/impl/rpc_service_method.h
  include/grpcpp/impl/server_callback_handlers.h
  include/grpcpp/impl/service_type.h
  include/grpcpp/server_interface.h
  include/grpcpp/support/async_stream.h
  include/grpcpp/support/async_unary_call.h
  include/grpcpp/support/byte_buffer.h
  include/grpcpp/support/callback_common.h
  include/grpcpp/support/client_callback.h
  include/grpcpp/support/client_interceptor.h
  include/grpcpp/support/method_handler.h
  include/grpcpp/support/proto_buffer_reader.h
  include/grpcpp/support/proto_buffer_writer.h
  include/grpcpp/support/server_interceptor.h
  include/grpcpp/support/sync_stream.h
  src/cpp/common/core_codegen.cc
Labels: lang/c++, disposition/Needs Internal Changes, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31852 [BinderTransport] Make `CreateBinderChannel` parameter names consistent
  include/grpcpp/create_channel_binder.h
  src/core/ext/transport/binder/client/channel_create.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31853 Work around UnaryCall hang with corrupt status detail string #29854
  src/csharp/Grpc.Core/Internal/BatchContextSafeHandle.cs
Labels: lang/C#, release notes: yes

#31865 EventEngine::RunAfter migration ConnectionAttemptInjector
  test/cpp/end2end/connection_attempt_injector.cc
  test/cpp/end2end/connection_attempt_injector.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31874 Second attempt: xDS stateful session affinity: add config plumbing
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_health_status.cc
  src/core/ext/xds/xds_health_status.h
  src/core/lib/json/json_object_loader.cc
  src/core/lib/json/json_object_loader.h
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/endpoint.proto
  src/proto/grpc/testing/xds/v3/health_check.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/core/json/json_object_loader_test.cc
  test/core/xds/BUILD
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#31778 [cleanups] Remove `include/grpc/impl/codegen/port_platform.h`
  include/grpc/compression.h
  include/grpc/event_engine/internal/memory_allocator_impl.h
  include/grpc/event_engine/memory_allocator.h
  include/grpc/impl/codegen/port_platform.h
  include/grpc/load_reporting.h
  include/grpc/support/log_windows.h
  include/grpc/support/port_platform.h
  include/grpcpp/generic/async_generic_service.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_context.h
  include/grpcpp/xds_server_builder.h
  src/cpp/server/load_reporter/constants.h
  src/cpp/server/load_reporter/get_cpu_stats.h
  src/cpp/server/load_reporter/load_data_store.cc
  src/cpp/server/load_reporter/load_reporter.cc
  src/cpp/server/load_reporter/util.cc
  test/core/compiler_bugs/miscompile_with_no_unique_address_test.cc
  test/core/end2end/fixtures/h2_full+trace.cc
  test/core/end2end/invalid_call_argument_test.cc
  test/core/gpr/useful_test.cc
  test/core/transport/chttp2/hpack_utils_test.cc
  test/cpp/end2end/exception_test.cc
  test/cpp/server/load_reporter/get_cpu_stats_test.cc
  test/cpp/server/load_reporter/load_data_store_test.cc
  test/cpp/server/load_reporter/load_reporter_test.cc
  tools/codegen/core/gen_switch.py
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31851 [BinderTransport] fix a typo 'schudule => schedule' in binder transport
  src/core/ext/transport/binder/transport/binder_transport.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31875 [cleanups] Remove `class CoreCodegen` and `g_core_codegen_interface`
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpc++/impl/codegen/core_codegen.h
  include/grpc++/impl/codegen/core_codegen_interface.h
  include/grpcpp/client_context.h
  include/grpcpp/completion_queue.h
  include/grpcpp/impl/call_op_set.h
  include/grpcpp/impl/client_unary_call.h
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/grpc_library.h
  include/grpcpp/impl/proto_utils.h
  include/grpcpp/impl/service_type.h
  include/grpcpp/impl/sync.h
  include/grpcpp/security/tls_certificate_verifier.h
  include/grpcpp/server_context.h
  include/grpcpp/server_interface.h
  include/grpcpp/support/async_stream.h
  include/grpcpp/support/async_unary_call.h
  include/grpcpp/support/byte_buffer.h
  include/grpcpp/support/callback_common.h
  include/grpcpp/support/client_callback.h
  include/grpcpp/support/interceptor.h
  include/grpcpp/support/method_handler.h
  include/grpcpp/support/proto_buffer_reader.h
  include/grpcpp/support/proto_buffer_writer.h
  include/grpcpp/support/server_callback.h
  include/grpcpp/support/slice.h
  include/grpcpp/support/sync_stream.h
  src/cpp/client/channel_cc.cc
  src/cpp/codegen/codegen_init.cc
  src/cpp/common/core_codegen.cc
  test/cpp/microbenchmarks/bm_byte_buffer.cc
  tools/distrib/fix_build_deps.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/sanity/check_deprecated_grpc++.py
Labels: lang/c++, disposition/Needs Internal Changes, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31864 [o11y] Rough transport latency metric
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/transport/transport.cc
  src/core/lib/transport/transport.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/increase, per-channel-memory/neutral

#31882 [promises] Promise based filters should close pipes
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30989 [chttp2] Enable new huffman encoder by default
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31871 [cleanups] Remove `include/grpc/impl/codegen/slice.h`
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/event_engine/slice_buffer.h
  include/grpc/impl/codegen/slice.h
  include/grpc/impl/slice_type.h
  include/grpc/module.modulemap
  include/grpc/slice.h
  package.xml
  src/core/lib/iomgr/python_util.h
  test/core/surface/public_headers_must_be_c89.c
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31804 Make tcp client posix test more robust
  test/core/iomgr/tcp_client_posix_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31891 LB policy test framework: add methods for round_robin expectations
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31897 Bump version to 1.48.3
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#31656 [promises] Implementation of deadline for server-based-calls
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31898 GCP Observability: Fix view names for started and completed rpcs
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/views.cc
  src/cpp/ext/gcp/observability.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31899 GCP Observability: Add payload metrics
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/views.cc
  src/cpp/ext/gcp/observability.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31877 [EventEngine] RunAfter migration: Chttp2Connector
  src/core/BUILD
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
Labels: release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#31901 Add method to add annotations to call tracer
  include/grpcpp/opencensus.h
  src/core/lib/channel/call_tracer.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31893 WRR: port StaticStrideScheduler to OSS
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/static_stride_scheduler.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/static_stride_scheduler.h
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/static_stride_scheduler_benchmark.cc
  test/core/client_channel/lb_policy/static_stride_scheduler_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31849 Bump v1.46.x to v1.46.6
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, bloat/none, per-call-memory/neutral

#31900 GCP Observability: Add server latency metric
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/views.cc
  src/cpp/ext/gcp/observability.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31905 LB policy config tests: move to lb_policy subdir
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/BUILD
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/outlier_detection_lb_config_parser_test.cc
  test/core/client_channel/lb_policy/rls_lb_config_parser_test.cc
  test/core/client_channel/lb_policy/xds_override_host_lb_config_parser_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30041 EventEngine::RunAfter: Rls LB Policy
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
Labels: lang/core, release notes: no, disposition/never stale, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31913 Tracing: Add annotations for when call is removed from resolver result queue and lb pick queue
  src/core/ext/filters/client_channel/client_channel.cc
  src/cpp/ext/filters/census/client_filter.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31909 Added include guard to mock headers
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_mock_golden
Labels: lang/c++, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31918 [resource_quota] Use control value for high memory pressure threshold
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31919 [resource_quota] Fix allocator experiment bug
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31922 [autofix] Get iwyu, clang-tidy working with the pr-autofixer again
  .github/workflows/pr-auto-fix.yaml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31906 Change the annotated return type of `UnaryStreamCall` and `StreamStreamCall` from `AsyncIterable` to `AsyncIterator`
  src/python/grpcio/grpc/aio/_call.py
Labels: kind/bug, lang/Python, release notes: yes

#31902 [promises] Implementation of deadline for client based calls
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31888 [promises] Move Empty to be first class
  src/core/lib/promise/poll.h
  src/core/lib/promise/try_join.h
  src/core/lib/resource_quota/memory_quota.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31910 Backport #31125 to v1.46.x
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: release notes: no, bloat/none, per-call-memory/neutral

#31848 WindowsEventEngine Client implementation
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/handle_containers.h
  src/core/lib/event_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/utils.cc
  src/core/lib/event_engine/utils.h
  src/core/lib/event_engine/windows/iocp.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/BUILD
  test/core/event_engine/BUILD
  test/core/util/BUILD
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31831 [event_engine] Add SliceCast
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/event_engine/internal/slice_cast.h
  include/grpc/event_engine/slice.h
  include/grpc/event_engine/slice_buffer.h
  include/grpc/support/port_platform.h
  package.xml
  src/core/BUILD
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_buffer.h
  test/core/slice/slice_test.cc
  tools/buildgen/plugins/list_api.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31943 Add missing included `try_seq.h` in `map_pipe.h`
  BUILD
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/lib/promise/map_pipe.h
  test/core/promise/BUILD
  test/core/promise/map_pipe_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31939 round_robin: avoid spurious updates when switching subchannel lists
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/round_robin_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#31803 Make http proxy fixture test more robust
  test/core/end2end/BUILD
  test/core/end2end/fixtures/http_proxy_fixture.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31819 xds_override_host LB: add basic support for overriding host
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_call_state_internal.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#31948 Revert "xds_override_host LB: add basic support for overriding host"
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_call_state_internal.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#31724 Add concurrency into python example in route_guide
  examples/python/route_guide/asyncio_route_guide_client.py
Labels: lang/Python, release notes: no

#31956 Update a sanity docker image to run iwyu
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/test/sanity.current_version
  tools/dockerfile/test/sanity/Dockerfile
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31957 [iwyu] Better error checking in script
  src/core/BUILD
  src/core/lib/event_engine/posix.h
  test/core/client_channel/lb_policy/round_robin_test.cc
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31784 Add internal documentation for Grpc.Tools MSBuild integration
  src/csharp/Grpc.Tools/implementation_notes.md
Labels: lang/C#, release notes: yes

#31912 Update tcp server interface to move on_accept_cb to the create method
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/iomgr/tcp_server.cc
  src/core/lib/iomgr/tcp_server.h
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/surface/concurrent_connectivity_test.cc
  test/core/util/test_tcp_server.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31965 Revert "WindowsEventEngine Client implementation"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/handle_containers.h
  src/core/lib/event_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/utils.cc
  src/core/lib/event_engine/utils.h
  src/core/lib/event_engine/windows/iocp.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/BUILD
  test/core/event_engine/BUILD
  test/core/util/BUILD
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/Python, lang/core, release notes: no

#31959 [slice] Mutable slice cast
  include/grpc/event_engine/internal/slice_cast.h
  include/grpc/event_engine/slice.h
  src/core/lib/slice/slice.h
  test/core/slice/slice_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31969 Fix hang on fork when the security context is destroyed in the Executor
  src/core/lib/security/context/security_context.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31366 Ensure Full Build is Run for each Bazel Version in Bazel Distribtest
  test/distrib/bazel/test_single_bazel_version.sh
Labels: area/test, release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31945 [BinderTransport] remove unnecessary grpc_init() in binder_server_test
  test/core/transport/binder/end2end/binder_server_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31971 tests: Validate subchannel state transitions
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31995 [ruby] TruffleRuby support: Always export _rb_tr_abi_version on truffle ruby
  src/ruby/ext/grpc/ext-export-truffleruby.clang
  src/ruby/ext/grpc/ext-export-truffleruby.gcc
  src/ruby/ext/grpc/extconf.rb
Labels: lang/ruby, release notes: no

#31996 Expand SliceCast to support casts to MutableSlice type
  include/grpc/event_engine/slice.h
  include/grpc/event_engine/slice_buffer.h
  src/core/lib/slice/slice.h
  test/core/slice/slice_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
