Repository grpc/grpc, pull requests merged in 2022-07, with the labels that each got.

#30163 Bump core version to 26.0.0 for upcoming release
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30162 Reduce keepalive time period for test
  test/core/end2end/tests/keepalive_timeout.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30149 priority LB: fix dumb reversed-conditional bug
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30128 Add std::shared_ptr support to ChannelArgs, and precondition ChannelArgs with a default EventEngine
  BUILD
  include/grpc/event_engine/event_engine.h
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/channel/channel_args.h
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/event_engine_factory.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/channel/channel_args_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30168 Third attempt: health check service: rewrite using callback API
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#30170 Revert "Add std::shared_ptr support to ChannelArgs, and precondition ChannelArgs with a default EventEngine"
  BUILD
  include/grpc/event_engine/event_engine.h
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/channel/channel_args.h
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/event_engine_factory.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  test/core/channel/channel_args_test.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30166 [build] Speed up fix_build_deps.py
  tools/distrib/fix_build_deps.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30161 Added .bazelrc for distrib tests
  test/distrib/bazel/cpp/.bazelrc
  test/distrib/bazel/python/.bazelrc
  test/distrib/bazel/python_second_test_repo/.bazelrc
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral

#30175 keepalive_timeout: Simplify test
  test/core/end2end/tests/keepalive_timeout.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29995 [build] Automate deps for grpc_base
  BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30117 Document specifying lists in MsBuild properties
  src/csharp/BUILD-INTEGRATION.md
Labels: lang/C#, release notes: no

#30177 Bump dev version 202207012203
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30194 Bump version to 1.48.0-pre1 (on v1.48.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#30152 [backport]tell MSVC to build grpc with utf-8 (#30003)
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30104 BinderTransport: Support Intent URI
  include/grpcpp/create_channel_binder.h
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/connection_id_generator.cc
  src/core/ext/transport/binder/client/connection_id_generator.h
  src/core/ext/transport/binder/client/jni_utils.cc
  src/core/ext/transport/binder/client/jni_utils.h
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/GrpcBinderConnection.java
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/NativeConnectionHelper.java
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30154 Remove ExecCtx requirements from the EventEngine conformance test suite
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30183 XdsClient: refactor transport code to make it injectable
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/ext/xds/xds_transport.h
  src/core/ext/xds/xds_transport_grpc.cc
  src/core/ext/xds/xds_transport_grpc.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30212 gtestify test/core/surface
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/surface/BUILD
  test/core/surface/byte_buffer_reader_test.cc
  test/core/surface/completion_queue_test.cc
  test/core/surface/completion_queue_threading_test.cc
  test/core/surface/concurrent_connectivity_test.cc
  test/core/surface/lame_client_test.cc
  test/core/surface/num_external_connectivity_watchers_test.cc
  test/core/surface/secure_channel_create_test.cc
  test/core/surface/sequential_connectivity_test.cc
  test/core/surface/server_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30208 Use AnyInvocable in EventEngine APIs
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/event_engine/event_engine.h
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.h
  src/core/lib/event_engine/iomgr_engine/thread_pool.cc
  src/core/lib/event_engine/iomgr_engine/thread_pool.h
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/test_suite/oracle_event_engine_posix.cc
  test/core/event_engine/test_suite/oracle_event_engine_posix.h
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30219 Revert "Use AnyInvocable in EventEngine APIs"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/event_engine/event_engine.h
  package.xml
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.h
  src/core/lib/event_engine/iomgr_engine/thread_pool.cc
  src/core/lib/event_engine/iomgr_engine/thread_pool.h
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/test_suite/oracle_event_engine_posix.cc
  test/core/event_engine/test_suite/oracle_event_engine_posix.h
  tools/distrib/fix_build_deps.py
Labels: lang/core

#30179 Bump release version to v1.46.4
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, area/build, release notes: no, bloat/none, per-call-memory/neutral

#30223 Revert "XdsClient: refactor transport code to make it injectable"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/ext/xds/xds_transport.h
  src/core/ext/xds/xds_transport_grpc.cc
  src/core/ext/xds/xds_transport_grpc.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30215 gtestify test/core/resource_quota
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/resource_quota/BUILD
  test/core/resource_quota/memory_quota_stress_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30203 gtestify test/core/client_channel/resolvers
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/resolvers/BUILD
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30226 gtestify test/core/surface (follow-up)
  test/core/surface/concurrent_connectivity_test.cc
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30222 Add is_supported function to the custom lb test
  tools/run_tests/xds_k8s_test_driver/tests/custom_lb_test.py
Labels: release notes: no, area/psm interop

#30206 Reland: Add SRV and TXT record lookup methods to the iomgr API
  BUILD
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  test/core/surface/server_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/resolve_localhost_ip46.cc
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/neutral

#30231 [gRPC/iOS] Test fix preventing dangling callback after test case done
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#30193 gtestify test/core/address_utils
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/address_utils/BUILD
  test/core/address_utils/parse_address_test.cc
  test/core/address_utils/parse_address_with_named_scope_id_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30211 gtestify test/core/tsi
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/tsi/BUILD
  test/core/tsi/alts/crypt/BUILD
  test/core/tsi/alts/crypt/aes_gcm_test.cc
  test/core/tsi/alts/frame_protector/BUILD
  test/core/tsi/alts/frame_protector/alts_counter_test.cc
  test/core/tsi/alts/frame_protector/alts_crypter_test.cc
  test/core/tsi/alts/frame_protector/alts_frame_protector_test.cc
  test/core/tsi/alts/frame_protector/frame_handler_test.cc
  test/core/tsi/alts/handshaker/BUILD
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_utils_test.cc
  test/core/tsi/alts/handshaker/transport_security_common_api_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/BUILD
  test/core/tsi/alts/zero_copy_frame_protector/alts_grpc_record_protocol_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_iovec_record_protocol_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector_test.cc
  test/core/tsi/fake_transport_security_test.cc
  test/core/tsi/ssl_transport_security_test.cc
  test/core/tsi/transport_security_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30225 Second attempt: XdsClient: refactor transport code to make it injectable
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/ext/xds/xds_transport.h
  src/core/ext/xds/xds_transport_grpc.cc
  src/core/ext/xds/xds_transport_grpc.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/low, per-call-memory/neutral

#30199 gtestify test/core/security
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/security/BUILD
  test/core/security/alts_security_connector_test.cc
  test/core/security/auth_context_test.cc
  test/core/security/check_gcp_environment_linux_test.cc
  test/core/security/check_gcp_environment_windows_test.cc
  test/core/security/grpc_alts_credentials_options_test.cc
  test/core/security/json_token_test.cc
  test/core/security/jwt_verifier_test.cc
  test/core/security/secure_endpoint_test.cc
  test/core/security/security_connector_test.cc
  test/core/security/ssl_credentials_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, area/build, release notes: no, bloat/none, per-call-memory/neutral

#30234 Revert "[build] Automate deps for grpc_base (#29995)"
  BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30229 client_lb_end2end_test: fix flake in RoundRobin.SingleReconnect test
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#30239 outlier detection: improve trace logging
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30236 Include an invalid config to custom LB test
  tools/run_tests/xds_k8s_test_driver/tests/custom_lb_test.py
Labels: release notes: no, area/psm interop

#30243 xds interop test: temporarily disable failover test
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Labels: release notes: no, area/psm interop

#30245 [iomgr] Remove executor/...
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/iomgr/executor/mpmcqueue.cc
  src/core/lib/iomgr/executor/mpmcqueue.h
  src/core/lib/iomgr/executor/threadpool.cc
  src/core/lib/iomgr/executor/threadpool.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/BUILD
  test/core/iomgr/mpmcqueue_test.cc
  test/core/iomgr/threadpool_test.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_threadpool.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30251 fix missing dep
  BUILD
Labels: release notes: no

#30241 Backport to 1.47: ring hash: fix picker propagation bug in xds_cluster_manager policy (#29959)
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#30189 XdsClient: convert timers to use EE API
  BUILD
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30174 ObjC: Optional support to skip methods with types without prefixes.
  src/compiler/objective_c_generator.cc
  src/compiler/objective_c_generator_helpers.h
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, per-call-memory/neutral

#30249 Allow Gradle to use more memory when building Java interop
  templates/tools/dockerfile/java_build_interop.sh.include
  tools/dockerfile/interoptest/grpc_interop_java/build_interop.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30220 Cherrypick: Use AnyInvocable in EventEngine APIs
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/event_engine/event_engine.h
  package.xml
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine/iomgr_engine.h
  src/core/lib/event_engine/iomgr_engine/thread_pool.cc
  src/core/lib/event_engine/iomgr_engine/thread_pool.h
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/test_suite/oracle_event_engine_posix.cc
  test/core/event_engine/test_suite/oracle_event_engine_posix.h
  tools/distrib/fix_build_deps.py
Labels: disposition/DO NOT MERGE, lang/core, release notes: yes, bloat/improvement, per-call-memory/neutral

#30254 Backport to v1.46.x: ring hash: fix picker propagation bug in xds_cluster_manager policy (#29959)
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#30248 [ios] Fix build
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30252 [chttp2] use new channel args type
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/channel/channel_args.h
  test/core/bad_client/bad_client.cc
  test/core/bad_connection/close_fd_test.cc
  test/core/end2end/fixtures/h2_sockpair+trace.cc
  test/core/end2end/fixtures/h2_sockpair.cc
  test/core/end2end/fixtures/h2_sockpair_1byte.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/transport/chttp2/context_list_test.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
  test/cpp/performance/writes_per_rpc_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30253 Backport to 1.46.x: priority and ring_hash LBs: fix interactions when using ring_hash under priority (#29332)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, release notes: yes, bloat/improvement, per-call-memory/neutral

#30262 [chttp2] Fix import related bug
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30240 Changed num_threads based on slowness factor for xSAN
  test/cpp/end2end/thread_stress_test.cc
Labels: lang/c++, area/test, release notes: no, bloat/none, per-call-memory/neutral

#30197 gtestify test/core/gprpp
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/gprpp/BUILD
  test/core/gprpp/fork_test.cc
  test/core/gprpp/host_port_test.cc
  test/core/gprpp/mpscq_test.cc
  test/core/gprpp/thd_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30201 gtestify test/core/channel
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/channel/BUILD
  test/core/channel/channel_stack_test.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30217 doc# fix: update Protocol ABNF syntax link url
  doc/PROTOCOL-HTTP2.md
Labels: area/documentation, release notes: no

#30264 Bump release version to to 1.47.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/neutral

#30195 gtestify test/core/util
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/util/BUILD
  test/core/util/cmdline_test.cc
  test/core/util/histogram_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29961 Prevent a gRPC connection from being fatally terminated due to ENOBUFS error
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30269 Fix missing file and line from minimal_stack_is_minimal_test
  test/core/channel/minimal_stack_is_minimal_test.cc
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30275 Rollback gtestified minimal_stack_is_minimal_test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/channel/BUILD
  test/core/channel/minimal_stack_is_minimal_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#28647 Fix a broken link
  doc/binary-logging.md
Labels: release notes: no

#30279 xDS k8s tests: add Node skips for unsupported tests
  tools/run_tests/xds_k8s_test_driver/tests/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/authz_test.py
  tools/run_tests/xds_k8s_test_driver/tests/security_test.py
Labels: release notes: no, area/psm interop

#30278 Clean up absl-base and time external binds.
  BUILD
  bazel/grpc_deps.bzl
  tools/distrib/fix_build_deps.py
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral

#30210 gtestify test/core/transport
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/transport/BUILD
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/alpn_test.cc
  test/core/transport/chttp2/bin_decoder_test.cc
  test/core/transport/chttp2/bin_encoder_test.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/transport/chttp2/stream_map_test.cc
  test/core/transport/chttp2/varint_test.cc
  test/core/transport/status_conversion_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30077 TSI: return handshaker error message for inclusion in RPC failure status
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.h
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker_private.h
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/transport_security.cc
  src/core/tsi/transport_security.h
  src/core/tsi/transport_security_interface.h
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30276 Changing memory benchmark driver's flags
  test/core/memory_usage/BUILD
  test/core/memory_usage/memory_usage_test.cc
  tools/profiling/memory/memory_diff.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease

#30284 Revert "TSI: return handshaker error message for inclusion in RPC failure status"
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.h
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker_private.h
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/transport_security.cc
  src/core/tsi/transport_security.h
  src/core/tsi/transport_security_interface.h
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: lang/core, release notes: no

#30255 BUILD: move work_serializer to its own build target
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/filters/client_channel/resolver/polling_resolver.cc
  src/core/ext/filters/client_channel/resolver/polling_resolver.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.h
  src/core/lib/gprpp/work_serializer.cc
  src/core/lib/gprpp/work_serializer.h
  src/core/lib/transport/connectivity_state.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/gprpp/BUILD
  test/core/gprpp/work_serializer_test.cc
  test/core/iomgr/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral

#30293 interop-test: temporarily disable cpp failover test
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Labels: area/test, release notes: no

#30204 gtestify test/core/compression
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/compression/BUILD
  test/core/compression/compression_test.cc
  test/core/compression/message_compress_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30196 gtestify test/core/gpr
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/gpr/BUILD
  test/core/gpr/alloc_test.cc
  test/core/gpr/cpu_test.cc
  test/core/gpr/env_test.cc
  test/core/gpr/murmur_hash_test.cc
  test/core/gpr/spinlock_test.cc
  test/core/gpr/string_test.cc
  test/core/gpr/sync_test.cc
  test/core/gpr/time_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30184 [build] Auto-deps for a grab bag more targets
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  grpc.gyp
  test/core/bad_client/generate_tests.bzl
  test/core/end2end/BUILD
  test/core/end2end/generate_tests.bzl
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30200 gtestify test/core/http
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/http/BUILD
  test/core/http/format_request_test.cc
  test/core/http/parser_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, area/build, release notes: no, bloat/none, per-call-memory/neutral

#30294 [windows] Fix DEBUG_LOCATION
  src/core/lib/gprpp/debug_location.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29785 Reland "[c++14] Simplify macro thats always the same now"
  src/core/lib/gprpp/bitset.h
  src/core/lib/slice/percent_encoding.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30081 Ruby: Fixes for x64-mingw-ucrt (PR to master)
  Rakefile
  src/ruby/ext/grpc/extconf.rb
  src/ruby/ext/grpc/rb_loader.c
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/neutral

#30295 [ios] Fix build
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30287 [iOS/ObjC] Adding test flake repeat run support for interop
  src/objective-c/tests/BUILD
  src/objective-c/tests/Common/TestUtils.h
  src/objective-c/tests/Common/TestUtils.m
  src/objective-c/tests/InteropTests/InteropTests.m
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, per-call-memory/neutral

#30296 [c++14] Remove C++11 compatibility macros
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/lib/surface/validate_metadata.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30298 [ios/objc] InteropTest refactoring update to support flaky repeat runs
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#30267 Removed GRPC_ERROR_IS_ABSEIL_STATUS
  BUILD
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  include/grpc/impl/codegen/port_platform.h
  package.xml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/iomgr/call_combiner.cc
  src/core/lib/iomgr/closure.h
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/iomgr/error_cfstream.cc
  src/core/lib/iomgr/error_internal.h
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/lockfree_event.cc
  src/core/lib/transport/error_utils.cc
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/core/iomgr/error_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30135 Forking the posix epoll1 poller for iomgr event engine
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/event_engine/iomgr_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/iomgr_engine/ev_epoll1_linux.h
  src/core/lib/event_engine/iomgr_engine/event_poller.h
  src/core/lib/event_engine/iomgr_engine/event_poller_posix_default.cc
  src/core/lib/event_engine/iomgr_engine/event_poller_posix_default.h
  src/core/lib/event_engine/iomgr_engine/iomgr_engine_closure.h
  src/core/lib/event_engine/iomgr_engine/lockfree_event.cc
  src/core/lib/event_engine/iomgr_engine/lockfree_event.h
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_eventfd.cc
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_eventfd.h
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_pipe.cc
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_pipe.h
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_posix.h
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_posix_default.cc
  src/core/lib/event_engine/iomgr_engine/wakeup_fd_posix_default.h
  test/core/event_engine/iomgr_event_engine/BUILD
  test/core/event_engine/iomgr_event_engine/event_poller_posix_test.cc
  test/core/event_engine/iomgr_event_engine/lock_free_event_test.cc
  test/core/event_engine/iomgr_event_engine/wakeup_fd_posix_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30308 xds interop: resume failover tests
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Labels: release notes: no, area/psm interop

#30297 [build] Make auto-deps the default
  BUILD
  tools/distrib/fix_build_deps.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30292 [build] Handle subdirectory BUILD files
  test/core/uri/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30311 [pr-fixer] Fix the pr-fixer
  .github/workflows/pr-auto-fix.yaml
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30309 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30172 client channel: add tests for authority override precedence
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  test/core/client_channel/BUILD
  test/core/client_channel/client_channel_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/low, per-call-memory/neutral

#30283 xds_cluster_resolver: pass useful resolution_note to children
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_csds_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30326 Bump version to 1.48.0 (on v1.48.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30268 [resource_quota] Periodically return memory to central quota
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  src/core/lib/resource_quota/periodic_update.cc
  src/core/lib/resource_quota/periodic_update.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30266 XdsClient: drop refs to ChannelState objects upon XdsClient shutdown
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30324 test_lb_policies: fix clang-tidy warning
  test/core/util/test_lb_policies.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30277 XdsClient: refcount tracing improvements
  BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/channel/channel_args.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30261 Add logging for invalid client PayloadConfig in QPS test
  test/cpp/qps/client.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#30314 address_utils: modernize grpc_string_to_sockaddr()
  BUILD
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/address_utils/parse_address.cc
  src/core/lib/address_utils/parse_address.h
  src/core/lib/channel/channelz.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/matchers.cc
  test/core/address_utils/sockaddr_utils_test.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30329 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.48.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30330 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.47.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30313 LB policy API: use absl::Status instead of grpc_error
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/ext/filters/client_channel/lb_policy_registry.h
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/end2end/tests/retry_lb_drop.cc
  test/core/end2end/tests/retry_lb_fail.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/core/xds/xds_lb_policy_registry_test.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30331 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.46.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30333 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.44.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30334 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.43.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30335 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.42.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30336 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.41.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30337 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.40.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30332 xds interop: choose correct cluster in grpc_xds_k8s_lb_python.sh (1.45.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30322 [channel_args] Improve comparison performance
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/avl/avl.h
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/gpr/useful.h
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_channel_args.cc
  tools/distrib/check_redundant_namespace_qualifiers.py
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30344 xds interop: resume failover tests on all branches
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Labels: release notes: no, area/psm interop

#30352 Use AnyInvocable in IomgrEngineClosure
  BUILD
  src/core/lib/event_engine/iomgr_engine/iomgr_engine_closure.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30345 [objc] Support test assert with flaky retry
  src/objective-c/tests/Common/TestUtils.h
  src/objective-c/tests/Common/TestUtils.m
  src/objective-c/tests/InteropTests/InteropTests.m
  src/objective-c/tests/InteropTests/InteropTestsRemote.m
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, per-call-memory/neutral

#30327 [build] Handle subdirectory BUILD files
  test/core/uri/BUILD
  tools/distrib/fix_build_deps.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30356 [zlib] Remove dependency on zlib version
  test/core/end2end/tests/max_message_length.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30289 [iwyu] Add test/core/util
  src/core/lib/iomgr/port.h
  test/core/tsi/ssl_transport_security_test.cc
  test/core/util/cmdline.cc
  test/core/util/cmdline_test.cc
  test/core/util/evaluate_args_test_util.h
  test/core/util/fake_udp_and_tcp_server.cc
  test/core/util/fake_udp_and_tcp_server.h
  test/core/util/fuzzer_corpus_test.cc
  test/core/util/fuzzer_util.cc
  test/core/util/histogram.cc
  test/core/util/histogram.h
  test/core/util/histogram_test.cc
  test/core/util/mock_authorization_endpoint.h
  test/core/util/mock_endpoint.cc
  test/core/util/mock_endpoint.h
  test/core/util/parse_hexstring.cc
  test/core/util/passthru_endpoint.cc
  test/core/util/passthru_endpoint.h
  test/core/util/port.cc
  test/core/util/port_isolated_runtime_environment.cc
  test/core/util/port_server_client.cc
  test/core/util/reconnect_server.cc
  test/core/util/reconnect_server.h
  test/core/util/resolve_localhost_ip46.cc
  test/core/util/slice_splitter.cc
  test/core/util/slice_splitter.h
  test/core/util/stack_tracer_test.cc
  test/core/util/subprocess_posix.cc
  test/core/util/test_config.cc
  test/core/util/test_config.h
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/core/util/test_tcp_server.cc
  test/core/util/test_tcp_server.h
  test/core/util/tls_utils.cc
  test/core/util/tls_utils.h
  test/core/util/tracer_util.cc
  test/cpp/end2end/async_end2end_test.cc
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30349 [iwyu] Better handle <type_traits>
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/resolver/binder/binder_resolver.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/fault_injection/service_config_parser.cc
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_lb_policy_registry.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/event_engine/iomgr_engine/timer.cc
  src/core/lib/gprpp/manual_constructor.h
  src/core/lib/gprpp/ref_counted_ptr.h
  src/core/lib/gprpp/table.h
  src/core/lib/promise/arena_promise.h
  src/core/lib/promise/context.h
  src/core/lib/promise/detail/basic_join.h
  src/core/lib/promise/detail/basic_seq.h
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/for_each.h
  src/core/lib/promise/map.h
  src/core/lib/promise/try_seq.h
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_translator.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/slice/percent_encoding.cc
  src/core/lib/transport/connectivity_state.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
  src/cpp/server/orca/orca_interceptor.cc
  src/cpp/server/server_cc.cc
  test/core/promise/promise_test.cc
  test/core/promise/sleep_test.cc
  tools/distrib/iwyu_mappings.imp
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30209 gtestify test/core/iomgr
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/iomgr/BUILD
  test/core/iomgr/buffer_list_test.cc
  test/core/iomgr/combiner_test.cc
  test/core/iomgr/endpoint_pair_test.cc
  test/core/iomgr/fd_conservation_posix_test.cc
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/grpc_ipv6_loopback_available_test.cc
  test/core/iomgr/load_file_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/socket_utils_test.cc
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/iomgr/timer_heap_test.cc
  test/core/iomgr/timer_list_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30362 Revert "gtestify test/core/iomgr"
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/iomgr/BUILD
  test/core/iomgr/buffer_list_test.cc
  test/core/iomgr/combiner_test.cc
  test/core/iomgr/endpoint_pair_test.cc
  test/core/iomgr/fd_conservation_posix_test.cc
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/grpc_ipv6_loopback_available_test.cc
  test/core/iomgr/load_file_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/socket_utils_test.cc
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/iomgr/timer_heap_test.cc
  test/core/iomgr/timer_list_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30366 [iwyu] Fix sanity on master
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  test/core/end2end/tests/retry_lb_drop.cc
  test/core/end2end/tests/retry_lb_fail.cc
  test/core/util/test_lb_policies.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30307 Detect invalid UTF-8 characters
  src/core/lib/json/json_reader.cc
  test/core/json/corpus/testcase-5115340413861888
  test/core/json/json_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30250 Add outlier detection xDS interop test using k8s interop framework
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/tests/outlier_detection_test.py
Labels: release notes: no, area/psm interop

#30381 [objc] Better test reporting with current test case instance
  src/objective-c/tests/Common/TestUtils.h
  src/objective-c/tests/Common/TestUtils.m
  src/objective-c/tests/InteropTests/InteropTests.m
  src/objective-c/tests/InteropTests/InteropTestsRemote.m
Labels: lang/ObjC, platform/iOS, release notes: no

#30310 [resource_quota] Flow control experiment
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  src/core/lib/resource_quota/periodic_update.cc
  src/core/lib/resource_quota/periodic_update.h
  test/core/resource_quota/memory_quota_test.cc
  test/core/resource_quota/periodic_update_test.cc
Labels: lang/Python, lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30386 Second attempt: LB policy API: use absl::Status instead of grpc_error
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/lb_policy_factory.h
  src/core/ext/filters/client_channel/lb_policy_registry.cc
  src/core/ext/filters/client_channel/lb_policy_registry.h
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/end2end/tests/retry_lb_drop.cc
  test/core/end2end/tests/retry_lb_fail.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/core/xds/xds_lb_policy_registry_test.cc
Labels: lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral

#30339 Mark the definitions of constinit variables as constinit.
  src/core/ext/transport/binder/wire_format/binder_constants.cc
  src/core/ext/transport/binder/wire_format/transaction.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30388 Added gcc12 (from 11)
  templates/tools/dockerfile/test/cxx_gcc_12_x64/Dockerfile.template
  tools/dockerfile/test/cxx_gcc_12_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral

#30338 Removed error.md
  doc/core/grpc-error.md
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: area/documentation, release notes: no, bloat/none, per-call-memory/neutral

#30286 Second attempt: TSI: return handshaker error message for inclusion in RPC failure status
  src/core/lib/security/transport/security_handshaker.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.h
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker_private.h
  src/core/tsi/fake_transport_security.cc
  src/core/tsi/local_transport_security.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/transport_security.cc
  src/core/tsi/transport_security.h
  src/core/tsi/transport_security_interface.h
  test/core/tsi/alts/handshaker/alts_handshaker_client_test.cc
  test/core/tsi/alts/handshaker/alts_tsi_handshaker_test.cc
Labels: lang/core, disposition/Needs Internal Changes, release notes: no, bloat/low, per-call-memory/neutral

#30399 Remove unused WinSocket shutdown closure
  src/core/lib/iomgr/socket_windows.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30305 Basic callback client and server for new perchannel benchmark
  test/core/memory_usage/BUILD
  test/core/memory_usage/callback_client.cc
  test/core/memory_usage/callback_server.cc
  test/core/memory_usage/memory_usage_test.cc
  tools/profiling/memory/memory_diff.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30354 build GCR image for grpc-java 1.48.0 release
  tools/interop_matrix/client_matrix.py
Labels: area/tools, release notes: no, bloat/none, per-call-memory/neutral

#30402 [api_fuzzer] Fix internal build
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30373 gtestify test/core/iomgr: partial reland
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/iomgr/BUILD
  test/core/iomgr/buffer_list_test.cc
  test/core/iomgr/combiner_test.cc
  test/core/iomgr/endpoint_pair_test.cc
  test/core/iomgr/fd_posix_test.cc
  test/core/iomgr/grpc_ipv6_loopback_available_test.cc
  test/core/iomgr/load_file_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/socket_utils_test.cc
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/iomgr/timer_heap_test.cc
  tools/run_tests/generated/tests.json
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30364 [build] Add test/core/util, test/core/event_engine to auto build deps
  CMakeLists.txt
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  test/core/avl/BUILD
  test/core/bad_ssl/generate_tests.bzl
  test/core/client_idle/BUILD
  test/core/compiler_bugs/BUILD
  test/core/compression/BUILD
  test/core/config/BUILD
  test/core/end2end/fuzzers/BUILD
  test/core/event_engine/BUILD
  test/core/event_engine/iomgr_event_engine/BUILD
  test/core/filters/BUILD
  test/core/fling/BUILD
  test/core/gpr/BUILD
  test/core/gprpp/BUILD
  test/core/http/BUILD
  test/core/iomgr/BUILD
  test/core/memory_usage/BUILD
  test/core/network_benchmarks/BUILD
  test/core/promise/BUILD
  test/core/resource_quota/BUILD
  test/core/security/BUILD
  test/core/slice/BUILD
  test/core/transport/BUILD
  test/core/transport/chttp2/BUILD
  test/core/uri/BUILD
  test/core/util/BUILD
  test/cpp/common/BUILD
  test/cpp/microbenchmarks/BUILD
  test/cpp/performance/BUILD
  test/cpp/qps/BUILD
  test/cpp/server/BUILD
  test/cpp/util/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral

#30408 [iwyu] Add test/core/memory_usage
  test/core/memory_usage/callback_client.cc
  test/core/memory_usage/callback_server.cc
  test/core/memory_usage/client.cc
  test/core/memory_usage/memory_usage_test.cc
  test/core/memory_usage/memstats.h
  test/core/memory_usage/server.cc
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30393 subchannel list: fix ubsan error
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30321 service config API: use absl::Status instead of grpc_error
  BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/retry_service_config.cc
  src/core/ext/filters/client_channel/retry_service_config.h
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/fault_injection/service_config_parser.cc
  src/core/ext/filters/fault_injection/service_config_parser.h
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/ext/filters/rbac/rbac_service_config_parser.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/service_config/service_config_impl.cc
  src/core/lib/service_config/service_config_impl.h
  src/core/lib/service_config/service_config_parser.cc
  src/core/lib/service_config/service_config_parser.h
  src/cpp/common/validate_service_config.cc
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/cpp/client/client_channel_stress_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/medium, per-call-memory/neutral

#30395 ConfigSelector: use absl::Status instead of grpc_error
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30409 [build] Auto-deps for test/core/end2end
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/end2end/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30412 Backport to 1.48: subchannel list: fix ubsan error
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30407 xds interop: Log operation id
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
Labels: release notes: no, area/psm interop

#30370 Remove empty function grpc_cq_global_init and grpc_executor_global_init
  src/core/lib/debug/stats.cc
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/executor.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/init.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30396 XdsClient: use absl::Status instead of grpc_error in validation code
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_routing.cc
  src/core/ext/xds/xds_routing.h
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/neutral

#30413 Introduce the EventEngine internal Poller interface
  BUILD
  src/core/lib/event_engine/poller.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30417 Revert "Remove empty function grpc_cq_global_init and grpc_executor_global_init"
  src/core/lib/debug/stats.cc
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/executor.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/init.cc
Labels: lang/core, release notes: no

#30420 Reland removing some global initialization functions
  src/core/lib/debug/stats.cc
  src/core/lib/debug/stats.h
  src/core/lib/iomgr/executor.cc
  src/core/lib/iomgr/executor.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/init.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30397 JSON: use absl::Status instead of grpc_error
  BUILD
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_lb_policy_registry.cc
  src/core/lib/json/json.h
  src/core/lib/json/json_reader.cc
  src/core/lib/security/authorization/rbac_translator.cc
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/file_external_account_credentials.cc
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/json_token.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/service_config/service_config_impl.cc
  src/cpp/client/secure_credentials.cc
  test/core/channel/channelz_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/json/fuzzer.cc
  test/core/json/json_test.cc
  test/core/security/credentials_test.cc
  test/core/security/json_token_test.cc
  test/core/security/jwt_verifier_test.cc
  test/core/xds/file_watcher_certificate_provider_factory_test.cc
  test/core/xds/google_mesh_ca_certificate_provider_factory_test.cc
  test/core/xds/xds_bootstrap_test.cc
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/util/channel_trace_proto_helper.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral

#30426 XdsClient: change XdsApi to use absl::Status instead of grpc_error
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30406 Fix missing detection for invalid UTF-8 characters
  src/core/lib/json/json_reader.cc
  test/core/json/corpus/testcase-4743649675313152
  test/core/json/json_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30403 Add CoreConfiguration::WithSubstituteBuilder that restores config after test
  src/core/lib/config/core_configuration.h
  test/core/client_channel/resolvers/binder_resolver_test.cc
  test/core/client_channel/service_config_test.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/security/channel_creds_registry_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30427 Time conversion utility for EventEngine::Durations
  BUILD
  src/core/lib/event_engine/time_util.cc
  src/core/lib/event_engine/time_util.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30415 Fix string_view with null_ptr
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30315 [build] Add a script to *just* generate the compilation db
  tools/distrib/gen_db.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30379 Fix long http2 header values
  src/core/ext/transport/chttp2/transport/hpack_constants.h
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.h
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-4638125285834752
  test/core/transport/chttp2/hpack_encoder_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral
