Repository grpc/grpc, pull requests merged in 2022-05, with the labels that each got.

#28180 [iwyu] Check IWYU status in presubmits
  .gitignore
  templates/tools/dockerfile/grpc_iwyu/Dockerfile.template
  tools/distrib/iwyu.sh
  tools/distrib/sanitize.sh
  tools/dockerfile/grpc_iwyu/Dockerfile
  tools/dockerfile/grpc_iwyu/iwyu.sh
  tools/run_tests/run_tests.py
  tools/run_tests/sanity/sanity_tests.yaml
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29553 Passing repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29111 Move TCP Connect into its own handshaker.
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/http_proxy.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/config/core_configuration.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.h
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/security/transport/security_handshaker.h
  src/core/lib/transport/handshaker.cc
  src/core/lib/transport/handshaker.h
  src/core/lib/transport/handshaker_factory.h
  src/core/lib/transport/handshaker_registry.cc
  src/core/lib/transport/handshaker_registry.h
  src/core/lib/transport/http_connect_handshaker.cc
  src/core/lib/transport/http_connect_handshaker.h
  src/core/lib/transport/tcp_connect_handshaker.cc
  src/core/lib/transport/tcp_connect_handshaker.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/http_proxy_mapper_test.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/util/port_server_client.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, perf-change/improvement, per-call-memory/neutral

#29544 [iwyu] config
  src/core/lib/config/core_configuration.cc
  src/core/lib/config/core_configuration.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29457 health check service: rewrite using callback API
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no, bloat/low, per-call-memory/neutral

#29526 Adding a max_frame_size argument to grpc_endpoint_write API to allow a sender to control frame sizes
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/event_engine/endpoint.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/transport/http_connect_handshaker.cc
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
  test/core/iomgr/tcp_posix_test.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/core/transport/chttp2/streams_not_seen_test.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29556 [Backport] Revert "Enable authz_test for C++ and Python (#29147)"
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29558 Revert "Move TCP Connect into its own handshaker. "
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/http_connect_handshaker.h
  src/core/ext/filters/client_channel/http_proxy.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/channel/handshaker_registry.cc
  src/core/lib/channel/handshaker_registry.h
  src/core/lib/config/core_configuration.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.h
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/security/transport/security_handshaker.h
  src/core/lib/transport/tcp_connect_handshaker.cc
  src/core/lib/transport/tcp_connect_handshaker.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/http_proxy_mapper_test.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/util/port_server_client.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29559 Revert "health check service: rewrite using callback API"
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/server_cc.cc
Labels: release notes: no

#29483 Binder transport: Fix server issue when handling many parallel RPC calls
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/transport/binder_transport.h
  test/core/transport/binder/end2end/binder_server_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29505 client_lb_end2end_test: add OrcaLoadReport into EchoRequest proto
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/proto/grpc/testing/BUILD
  src/proto/grpc/testing/echo_messages.proto
  src/proto/grpc/testing/xds/v3/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/ios/RemoteTestClientCpp/RemoteTestCpp.podspec
  test/cpp/util/BUILD
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29535 Rename LookupTaskHandle internal variable
  include/grpc/event_engine/event_engine.h
Labels: area/core, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29564 Fix internal test timeouts
  test/core/debug/BUILD
Labels: lang/core, area/build, release notes: no, bloat/none, per-call-memory/neutral

#29521 [Aio] Fix typo in async graceful shutdown example
  examples/python/helloworld/async_greeter_server_with_graceful_shutdown.py
Labels: lang/Python, release notes: no

#29476 [PSM interop] Introduce isort/pylint to the GKE framework
  .pylintrc
  .pylintrc-examples
  .pylintrc-tests
  tools/distrib/isort_code.sh
  tools/distrib/pylint_code.sh
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/framework/helpers/datetime.py
  tools/run_tests/xds_k8s_test_driver/framework/helpers/retryers.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/iam.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_security.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_csds.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/api_listener_test.py
  tools/run_tests/xds_k8s_test_driver/tests/app_net_test.py
  tools/run_tests/xds_k8s_test_driver/tests/baseline_test.py
  tools/run_tests/xds_k8s_test_driver/tests/change_backend_service_test.py
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
  tools/run_tests/xds_k8s_test_driver/tests/remove_neg_test.py
  tools/run_tests/xds_k8s_test_driver/tests/round_robin_test.py
  tools/run_tests/xds_k8s_test_driver/tests/subsetting_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/fault_injection_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/header_matching_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/metadata_filter_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/path_matching_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/retry_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/timeout_test.py
Labels: lang/Python, kind/internal cleanup, release notes: no, bloat/none, per-call-memory/neutral

#29565 Bump release version to v1.46.0
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29514 [channel-stack] Eliminate post-init in channel stack builder
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/channel_idle_filter.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/rbac/rbac_filter.cc
  src/core/ext/xds/xds_channel_stack_modifier.cc
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/channel/channel_stack_builder_impl.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/builtins.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/server.cc
  src/cpp/common/channel_filter.cc
  src/cpp/common/channel_filter.h
  test/core/channel/channel_stack_builder_test.cc
  test/core/channel/channel_stack_test.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/end2end/tests/filter_context.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/end2end/tests/filter_latency.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/end2end/tests/retry_cancel_with_multiple_send_batches.cc
  test/core/end2end/tests/retry_recv_message_replay.cc
  test/core/end2end/tests/retry_recv_trailing_metadata_error.cc
  test/core/end2end/tests/retry_send_op_fails.cc
  test/core/end2end/tests/retry_transparent_goaway.cc
  test/core/end2end/tests/retry_transparent_not_sent_on_wire.cc
  test/core/transport/chttp2/streams_not_seen_test.cc
  test/core/xds/xds_channel_stack_modifier_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/improvement, per-call-memory/neutral

#29538 [iwyu] resource quota
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/resource_quota/api.cc
  src/core/lib/resource_quota/api.h
  src/core/lib/resource_quota/arena.cc
  src/core/lib/resource_quota/arena.h
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  src/core/lib/resource_quota/resource_quota.h
  src/core/lib/resource_quota/thread_quota.cc
  src/core/lib/resource_quota/thread_quota.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29546 [iwyu] slice
  src/core/lib/slice/b64.cc
  src/core/lib/slice/b64.h
  src/core/lib/slice/percent_encoding.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_api.cc
  src/core/lib/slice/slice_buffer.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_refcount.h
  src/core/lib/slice/slice_refcount_base.h
  src/core/lib/slice/slice_split.cc
  src/core/lib/slice/slice_string_helpers.cc
  src/core/lib/slice/slice_string_helpers.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29273 [promises] Convert http server filter
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/http/server/http_server_filter.h
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/promise/arena_promise.h
  test/core/filters/filter_fuzzer.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/increase

#29523 [build] Move unnecessary absl includes from metadata_batch.h
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/security/authorization/grpc_server_authz_filter.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/transport/binder/binder_transport_test.cc
  test/core/transport/metadata_map_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29573 [iwyu] channel
  BUILD
  src/core/lib/channel/call_finalization.h
  src/core/lib/channel/call_tracer.h
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/channel_args_preconditioning.cc
  src/core/lib/channel/channel_args_preconditioning.h
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/channel/channel_stack_builder_impl.cc
  src/core/lib/channel/channel_stack_builder_impl.h
  src/core/lib/channel/channel_trace.cc
  src/core/lib/channel/channel_trace.h
  src/core/lib/channel/channelz.cc
  src/core/lib/channel/channelz.h
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/connected_channel.h
  src/core/lib/channel/handshaker.cc
  src/core/lib/channel/handshaker.h
  src/core/lib/channel/handshaker_registry.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/channel/status_util.cc
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29562 Second attempt: health check service: rewrite using callback API
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/health/default_health_check_service.h
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no, bloat/low, per-call-memory/neutral

#29569 subchannel list: pass in string instead of tracer
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29577 xds-k8s: Fix incorrect type hint in the baseline test
  tools/run_tests/xds_k8s_test_driver/tests/baseline_test.py
Labels: release notes: no

#29534 [iwyu] gprpp
  src/core/lib/gprpp/bitset.h
  src/core/lib/gprpp/capture.h
  src/core/lib/gprpp/chunked_vector.h
  src/core/lib/gprpp/construct_destruct.h
  src/core/lib/gprpp/dual_ref_counted.h
  src/core/lib/gprpp/fork.cc
  src/core/lib/gprpp/global_config_env.cc
  src/core/lib/gprpp/global_config_env.h
  src/core/lib/gprpp/host_port.cc
  src/core/lib/gprpp/match.h
  src/core/lib/gprpp/memory.h
  src/core/lib/gprpp/orphanable.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/gprpp/ref_counted_ptr.h
  src/core/lib/gprpp/stat_posix.cc
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
  src/core/lib/gprpp/sync.h
  src/core/lib/gprpp/table.h
  src/core/lib/gprpp/thd.h
  src/core/lib/gprpp/thd_posix.cc
  src/core/lib/gprpp/time.cc
  src/core/lib/gprpp/time.h
  src/core/lib/gprpp/time_util.cc
  src/core/lib/gprpp/time_util.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29578 xds-k8s readme minor fixes and improvements
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/config/local-dev.cfg.example
Labels: release notes: no

#29363 Added GRPC_MUST_USE_RESULT_WHEN_USE_STRICT_WARNING to grpc::Status
  bazel/copts.bzl
  include/grpc/impl/codegen/port_platform.h
  include/grpcpp/impl/codegen/status.h
Labels: lang/c++, kind/internal cleanup, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29513 [promises] Expand filter fuzzer to contain a channel stack.
  BUILD
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/channel_idle_filter.h
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/promise/activity.h
  test/core/filters/filter_fuzzer.cc
  test/core/filters/filter_fuzzer.proto
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29580 [iwyu] chttp2
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/server/chttp2_server.h
  src/core/ext/transport/chttp2/transport/bin_decoder.cc
  src/core/ext/transport/chttp2/transport/bin_decoder.h
  src/core/ext/transport/chttp2/transport/bin_encoder.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/context_list.cc
  src/core/ext/transport/chttp2/transport/context_list.h
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/ext/transport/chttp2/transport/frame_data.h
  src/core/ext/transport/chttp2/transport/frame_goaway.cc
  src/core/ext/transport/chttp2/transport/frame_goaway.h
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/frame_ping.h
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/frame_settings.h
  src/core/ext/transport/chttp2/transport/frame_window_update.cc
  src/core/ext/transport/chttp2/transport/frame_window_update.h
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.h
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/hpack_parser_table.cc
  src/core/ext/transport/chttp2/transport/hpack_parser_table.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/stream_lists.cc
  src/core/ext/transport/chttp2/transport/stream_map.cc
  src/core/ext/transport/chttp2/transport/stream_map.h
  src/core/ext/transport/chttp2/transport/varint.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/channel/handshaker_factory.h
  src/core/lib/channel/handshaker_registry.h
  src/core/lib/iomgr/iomgr_fwd.h
  src/core/lib/iomgr/pollset_set.h
  src/core/lib/resolver/resolver_factory.h
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_impl.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29440 [objC] remove xxhash.h patch
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: area/build, platform/iOS, release notes: no, bloat/none, per-call-memory/neutral

#29596 Downgrade io_bazel_rules_go to v0.27.0 restore Bazel 3.x support
  bazel/grpc_deps.bzl
Labels: area/build, infra/Bazel, lang/other, release notes: yes, bloat/none, per-call-memory/neutral

#29594 GCC 6 & Clang 6
  templates/tools/dockerfile/test/cxx_clang_6_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_gcc_6_x64/Dockerfile.template
  tools/dockerfile/test/cxx_clang_6_x64/Dockerfile
  tools/dockerfile/test/cxx_gcc_6_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/c++, area/test, area/build, release notes: no, bloat/none, per-call-memory/neutral

#29602 [Backport] Downgrade io_bazel_rules_go to v0.27.0 restore Bazel 3.x support
  bazel/grpc_deps.bzl
Labels: lang/other, release notes: yes, bloat/none, per-call-memory/neutral

#29606 Bump version to v1.46.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29614 [import] Fix for visibility
  BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29600 Cleanup config for existing macos kokoro jobs that run bazel
  tools/internal_ci/macos/grpc_bazel_c_cpp_dbg.cfg
  tools/internal_ci/macos/grpc_bazel_c_cpp_opt.cfg
  tools/internal_ci/macos/grpc_bazel_cpp_ios_tests.cfg
  tools/internal_ci/macos/pull_request/grpc_bazel_c_cpp_dbg.cfg
  tools/internal_ci/macos/pull_request/grpc_bazel_c_cpp_opt.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29475 xDS test server: document rpc-behavior metadata, add hostname option
  doc/xds-test-descriptions.md
Labels: release notes: no, area/psm interop

#29613 [init] Remove channelz from grpc_init path
  src/core/lib/channel/channelz_registry.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/surface/init.cc
  test/core/channel/channelz_registry_test.cc
  test/core/channel/channelz_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29595 [iwyu] Further reduce metadata_batch.h footprint by moving implementations to .cc file
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/parsed_metadata.h
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29625 [import] Build fix for import
  src/core/lib/transport/metadata_batch.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29498 [grrr] Add a test that BUILD.gn does not exist
  tools/run_tests/sanity/check_banned_filenames.py
  tools/run_tests/sanity/sanity_tests.yaml
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29588 [iwyu] surface
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/gpr/log.cc
  src/core/lib/gprpp/sync.h
  src/core/lib/surface/builtins.cc
  src/core/lib/surface/byte_buffer.cc
  src/core/lib/surface/byte_buffer_reader.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/call_details.cc
  src/core/lib/surface/call_log_batch.cc
  src/core/lib/surface/call_test_only.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/surface/channel_init.h
  src/core/lib/surface/channel_ping.cc
  src/core/lib/surface/channel_stack_type.cc
  src/core/lib/surface/channel_stack_type.h
  src/core/lib/surface/completion_queue.cc
  src/core/lib/surface/completion_queue.h
  src/core/lib/surface/completion_queue_factory.cc
  src/core/lib/surface/completion_queue_factory.h
  src/core/lib/surface/event_string.cc
  src/core/lib/surface/event_string.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init.h
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/lame_client.h
  src/core/lib/surface/metadata_array.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/surface/validate_metadata.cc
  src/core/lib/surface/validate_metadata.h
  test/core/surface/completion_queue_test.cc
  test/core/surface/completion_queue_threading_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29618 remove duplicate ./reports/ mount for xds tests
  tools/internal_ci/linux/grpc_xds.sh
  tools/internal_ci/linux/grpc_xds_php.sh
  tools/internal_ci/linux/grpc_xds_ruby.sh
  tools/internal_ci/linux/grpc_xds_v3_php.sh
  tools/internal_ci/linux/grpc_xds_v3_ruby.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29627 [PSM interop] Double the operation timeout - misc
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
Labels: release notes: no, area/psm interop

#29592 [Python] Add an UDS example
  examples/python/uds/.gitignore
  examples/python/uds/README.md
  examples/python/uds/async_greeter_client.py
  examples/python/uds/async_greeter_server.py
  examples/python/uds/greeter_client.py
  examples/python/uds/greeter_server.py
  examples/python/uds/helloworld_pb2.py
  examples/python/uds/helloworld_pb2_grpc.py
Labels: lang/Python, release notes: yes

#29587 [promises] Convert lame client
  src/core/ext/filters/client_channel/channel_connectivity.cc
  src/core/ext/filters/client_channel/dynamic_filters.cc
  src/core/ext/xds/xds_client.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/surface/builtins.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/lame_client.h
  test/core/filters/filter_fuzzer.cc
  tools/dockerfile/grpc_iwyu/iwyu.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/neutral

#29581 Change cancellation semantics in the iomgr DNSResolver
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/lib/event_engine/handle_containers.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/resolve_address.cc
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_impl.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29582 Fix #24421: UnobservedTaskException when server Unavailable (C# on v1.46.x branch)
  src/csharp/Grpc.Core/Internal/AsyncCall.cs
  src/csharp/Grpc.IntegrationTesting/UnobservedTaskExceptionTest.cs
Labels: lang/C#, release notes: yes

#29450 Event engine endpoint read and write API changes
  include/grpc/event_engine/event_engine.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29631 DNSResolver cancellation continued (followup to #29581)
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/lib/http/httpcli.cc
  test/core/iomgr/resolve_address_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29478 Fix grpc_sockaddr_to_uri to return URI encoded string. Also see #29323 which has a similar fix for unix abstract addresses.
  src/core/lib/address_utils/sockaddr_utils.cc
  test/core/address_utils/BUILD
  test/core/address_utils/sockaddr_uri_corpus/sample.dat
  test/core/address_utils/sockaddr_utils_fuzzer_test.cc
  test/core/address_utils/sockaddr_utils_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/security/evaluate_args_test.cc
  test/cpp/end2end/end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29634 Revert DNSResolver cancellation (#29581 and #29631)
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/lib/event_engine/handle_containers.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/resolve_address.cc
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_impl.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29604 XdsClient: don't start resource timer after cancelling it
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29638 [iwyu] Ignore missing files
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29623 Add xDS interop test specification for outlier detection
  doc/xds-test-descriptions.md
Labels: area/documentation, release notes: no, area/psm interop

#29619 Upload results from bazel C/C++ ARM64 tests to bigquery
  tools/internal_ci/linux/arm64/grpc_bazel.sh
  tools/internal_ci/linux/arm64/grpc_bazel_test_c_cpp.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29641 [iwyu] event_engine
  .gitignore
  BUILD
  src/core/lib/event_engine/channel_args_endpoint_config.cc
  src/core/lib/event_engine/channel_args_endpoint_config.h
  src/core/lib/event_engine/default_event_engine_factory.cc
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/event_engine_factory.h
  src/core/lib/event_engine/memory_allocator.cc
  src/core/lib/event_engine/resolved_address.cc
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29635 [slice] Introduce grpc_core::SliceBuffer
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/slice/slice_buffer.cc
  src/core/lib/slice/slice_buffer.h
  src/core/lib/slice/slice_buffer_api.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/slice/BUILD
  test/core/slice/c_slice_buffer_test.cc
  test/core/slice/slice_buffer_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
  tools/run_tests/sanity/core_banned_functions.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29304 Upgrade ruby rake-compiler-dock images
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/distrib/build_ruby_environment_macos.sh
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/internal_ci/macos/grpc_distribtests_ruby.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/ruby, release notes: yes, bloat/none, per-call-memory/neutral

#29658 [slice_buffer] Fix forward for import
  test/core/event_engine/slice_buffer_test.cc
  test/core/slice/slice_buffer_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29443 Refactor tsi_ssl_credentials target.
  BUILD
Labels: area/core, area/security, release notes: no, bloat/none, per-call-memory/neutral

#29495 Add log urls to junit report.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
Labels: bloat/none, per-call-memory/neutral

#29657 Backport "Upgrade ruby rake-compiler-dock images (#29304)"
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/distrib/build_ruby_environment_macos.sh
  tools/internal_ci/macos/grpc_build_artifacts.sh
  tools/internal_ci/macos/grpc_distribtests_ruby.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/ruby, release notes: yes, bloat/none, per-call-memory/neutral

#29359 Do not segfault when peer CN is absent
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29656 Backport "[Ruby]fix a rake compile error since rake-compiler ~> 1.1 (#28666)"
  Rakefile
  grpc.gemspec
  src/ruby/lib/grpc/grpc.rb
  templates/grpc.gemspec.template
Labels: lang/ruby, release notes: yes, bloat/none, per-call-memory/neutral

#29661 Bump version 1.46.2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/ruby, release notes: yes, bloat/none, per-call-memory/neutral

#29599 Add a job for ObjC bazel tests
  tools/internal_ci/macos/grpc_objc_bazel_test.cfg
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/internal_ci/macos/pull_request/grpc_objc_bazel_test.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29620 Make objC InteropTests and MacTests buildable with bazel
  src/objective-c/tests/BUILD
Labels: lang/ObjC, release notes: no

#29609 Added cmake abseil include guard
  cmake/abseil-cpp.cmake
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral

#29660 Make stack_tracer more broadly usable
  BUILD
  test/core/util/BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29626 Revert "Revert "Move TCP Connect into its own handshaker. (#29111)" (#…
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/http_proxy.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/client/chttp2_connector.h
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/config/core_configuration.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.h
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/security/transport/security_handshaker.h
  src/core/lib/transport/handshaker.cc
  src/core/lib/transport/handshaker.h
  src/core/lib/transport/handshaker_factory.h
  src/core/lib/transport/handshaker_registry.cc
  src/core/lib/transport/handshaker_registry.h
  src/core/lib/transport/http_connect_handshaker.cc
  src/core/lib/transport/http_connect_handshaker.h
  src/core/lib/transport/tcp_connect_handshaker.cc
  src/core/lib/transport/tcp_connect_handshaker.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/http_proxy_mapper_test.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/util/port_server_client.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29644 Make ChannelCredsRegistryTest order independent
  test/core/security/channel_creds_registry_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29589 Requiring C++14
  CMakeLists.txt
  Makefile
  Package.swift
  Rakefile
  config.m4
  examples/android/helloworld/app/CMakeLists.txt
  examples/cpp/cmake/common.cmake
  examples/cpp/compression/Makefile
  examples/cpp/helloworld/Makefile
  examples/cpp/load_balancing/Makefile
  examples/cpp/metadata/Makefile
  examples/cpp/route_guide/Makefile
  examples/objective-c/auth_sample/AuthSample.xcodeproj/project.pbxproj
  examples/objective-c/helloworld/HelloWorld.xcodeproj/project.pbxproj
  examples/objective-c/route_guide/RouteGuideClient.xcodeproj/project.pbxproj
  grpc.gyp
  setup.py
  src/android/test/interop/app/CMakeLists.txt
  src/objective-c/examples/Sample/Sample.xcodeproj/project.pbxproj
  src/objective-c/examples/SwiftSample/SwiftSample.xcodeproj/project.pbxproj
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/python/grpcio/commands.py
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/config.m4.template
  templates/grpc.gyp.template
  test/cpp/ios/Tests.xcodeproj/project.pbxproj
  tools/bazel.rc
  tools/distrib/gen_compilation_database.py
  tools/distrib/python/grpcio_tools/setup.py
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29628 [iomgr] Remove error queue query initialization
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/internal_errqueue.cc
  src/core/lib/iomgr/internal_errqueue.h
  src/core/lib/iomgr/iomgr.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29685 Remove C# from all_lang_docgen.sh
  tools/distrib/docgen/all_lang_docgen.sh
Labels: lang/C#, release notes: no, bloat/none, per-call-memory/neutral

#29681 xds: add tests for unknown authority
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29692 Revert "IomgrEventEngine"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/event_engine/event_engine.h
  package.xml
  src/core/lib/event_engine/default_event_engine_factory.cc
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/event_engine_factory.h
  src/core/lib/event_engine/handle_containers.h
  src/core/lib/event_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine.h
  src/core/lib/event_engine/trace.cc
  src/core/lib/event_engine/trace.h
  src/core/lib/surface/init.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/test_init.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/README.md
  test/core/event_engine/test_suite/iomgr_event_engine_test.cc
  test/core/event_engine/test_suite/timer_test.cc
  test/core/transport/bdp_estimator_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core

#29689 Fix gRPC C++ init bug
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/grpc_library.h
  src/cpp/client/channel_cc.cc
  src/cpp/client/credentials_cc.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/common/completion_queue_cc.cc
  src/cpp/common/resource_quota_cc.cc
  src/cpp/server/server_cc.cc
Labels: kind/bug, lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29686 Use internal release_open_source.py script to create doc update PRs
  tools/distrib/docgen/all_lang_docgen.sh
Labels: lang/all wrapped languages, release notes: no, bloat/none, per-call-memory/neutral

#29698 Backport #29686 to v1.46.x
  tools/distrib/docgen/all_lang_docgen.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29701 Revert "Fix gRPC C++ init bug"
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/impl/codegen/grpc_library.h
  src/cpp/client/channel_cc.cc
  src/cpp/client/credentials_cc.cc
  src/cpp/client/secure_credentials.cc
  src/cpp/common/completion_queue_cc.cc
  src/cpp/common/resource_quota_cc.cc
  src/cpp/server/server_cc.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29670 Reland DNSResolver cancellation (#29581 and #29631)
  BUILD
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/iomgr/event_engine/resolver.h
  src/core/lib/iomgr/resolve_address.cc
  src/core/lib/iomgr/resolve_address.h
  src/core/lib/iomgr/resolve_address_impl.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/iomgr/resolve_address_posix_test.cc
  test/core/iomgr/resolve_address_test.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29343 outlier detection: implement LB policy and xDS configuration
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/lib/json/json_util.cc
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/cluster.proto
  src/proto/grpc/testing/xds/v3/outlier_detection.proto
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_outlier_detection_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/neutral

#29705 Reorder arguments to match experimental script.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29710 Use separate language queues for feature requests
  .github/ISSUE_TEMPLATE/feature_request_core.md
  .github/ISSUE_TEMPLATE/feature_request_cpp.md
  .github/ISSUE_TEMPLATE/feature_request_csharp.md
  .github/ISSUE_TEMPLATE/feature_request_objc.md
  .github/ISSUE_TEMPLATE/feature_request_php.md
  .github/ISSUE_TEMPLATE/feature_request_python.md
  .github/ISSUE_TEMPLATE/feature_request_ruby.md
  .github/change_repo_manager.sh
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#28317 Clean up extra spaces
  tools/run_tests/sanity/check_bad_dependencies.sh
Labels: release notes: no, bloat/none, perf-change/none

#29712 Update pull request labeller
  .github/labeler.yml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29665 Improve ObjC bazel test and add TODOs.
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/run_tests/run_tests.py
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#29699 Simplify building release packages through per-language grpc_distribtests_* jobs.
  tools/internal_ci/linux/grpc_distribtests_php.sh
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/internal_ci/linux/grpc_distribtests_ruby.sh
  tools/internal_ci/linux/release/grpc_collect_all_packages.cfg
  tools/internal_ci/linux/release/grpc_collect_all_packages.sh
  tools/internal_ci/linux/release/grpc_distribtests_csharp.cfg
  tools/internal_ci/linux/release/grpc_distribtests_php.cfg
  tools/internal_ci/linux/release/grpc_distribtests_python.cfg
  tools/internal_ci/linux/release/grpc_distribtests_ruby.cfg
  tools/internal_ci/macos/release/grpc_distribtests_csharp.cfg
  tools/internal_ci/macos/release/grpc_distribtests_php.cfg
  tools/internal_ci/macos/release/grpc_distribtests_python.cfg
  tools/internal_ci/macos/release/grpc_distribtests_ruby.cfg
  tools/internal_ci/windows/release/grpc_distribtests_csharp.cfg
  tools/internal_ci/windows/release/grpc_distribtests_python.cfg
Labels: lang/all wrapped languages, release notes: no, bloat/none, per-call-memory/neutral

#29676 Convert ObjC codegen plugin tests to bazel tests.
  src/objective-c/tests/BUILD
  src/objective-c/tests/PluginTest/plugin_option_test.sh
  src/objective-c/tests/PluginTest/plugin_test.sh
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/run_tests/run_tests.py
Labels: lang/ObjC, area/protoc plugins, release notes: no, bloat/none, per-call-memory/neutral

#29722 xds_k8s_install: Allow to override PYTHON_VERSION for local testing
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
Labels: release notes: no, area/psm interop

#29678 Remove some ObjC tests already run by objc_bazel_tests from run_tests.py
  src/objective-c/tests/build_one_example_bazel.sh
  src/objective-c/tests/run_plugin_option_tests.sh
  src/objective-c/tests/run_plugin_tests.sh
  tools/run_tests/run_tests.py
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#29717 [visibility] Give grpc_cli explicit visibility
  bazel/grpc_build_system.bzl
  test/cpp/util/BUILD
Labels: lang/c++, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral

#29708 C#: Suppress CS8981 in generated source
  src/compiler/csharp_generator.cc
Labels: lang/C#, release notes: yes, bloat/none, per-call-memory/neutral

#29711 Removed c++14 option from bazel.rc
  tools/bazel.rc
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral

#29730 Run only "dbg" configuration in MacOS cmake C/C++ basic tests on PRs
  tools/internal_ci/macos/pull_request/grpc_basictests_c_cpp.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29733 Fix undefined reference errors in asylo builds
  include/grpc/impl/codegen/port_platform.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29597 [build] Automatic BUILD dependency generation
  BUILD
  tools/buildgen/generate_projects.sh
  tools/distrib/buildozer.sh
  tools/distrib/fix_build_deps.py
  tools/distrib/sanitize.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29736 Bump release version to v1.46.3
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29732 google-c2p resolver: add authority entry to bootstrap config
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29731 Enable remote cache for selected ObjC bazel tests.
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/internal_ci/macos/grpc_run_bazel_cpp_ios_tests.sh
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#29734 Removed manylinux2010 python artifacts
  tools/dockerfile/grpc_artifact_python_manylinux2010_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, area/build, release notes: yes, bloat/none, per-call-memory/neutral

#29327 [c++14] Remove Capture type
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/lib/gprpp/capture.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/transport/client_auth_filter.cc
  test/core/gprpp/BUILD
  test/core/gprpp/capture_test.cc
  test/core/promise/BUILD
  test/core/promise/promise_factory_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29654 Delete the EventEngine-driven iomgr implementation
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/port_platform.h
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_event_engine.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper_event_engine.cc
  src/core/lib/event_engine/sockaddr.cc
  src/core/lib/event_engine/sockaddr.h
  src/core/lib/iomgr/endpoint_pair_event_engine.cc
  src/core/lib/iomgr/event_engine/closure.cc
  src/core/lib/iomgr/event_engine/closure.h
  src/core/lib/iomgr/event_engine/endpoint.cc
  src/core/lib/iomgr/event_engine/endpoint.h
  src/core/lib/iomgr/event_engine/iomgr.cc
  src/core/lib/iomgr/event_engine/pollset.cc
  src/core/lib/iomgr/event_engine/pollset.h
  src/core/lib/iomgr/event_engine/promise.h
  src/core/lib/iomgr/event_engine/resolved_address_internal.cc
  src/core/lib/iomgr/event_engine/resolved_address_internal.h
  src/core/lib/iomgr/event_engine/resolver.cc
  src/core/lib/iomgr/event_engine/tcp.cc
  src/core/lib/iomgr/event_engine/timer.cc
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/sockaddr.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/iomgr/resolve_address_test.cc
  test/core/util/fake_udp_and_tcp_server.cc
  test/cpp/grpclb/grpclb_api_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29743 xds-k8s: Update README.md
  tools/run_tests/xds_k8s_test_driver/README.md
Labels: release notes: no, area/psm interop

#29742 xds: Remove aggregate and logical dns clusters env var guard
  src/core/ext/xds/xds_cluster.cc
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29748 Revert "[c++14] Remove Capture type"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/lib/gprpp/capture.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/transport/client_auth_filter.cc
  test/core/gprpp/BUILD
  test/core/gprpp/capture_test.cc
  test/core/promise/BUILD
  test/core/promise/promise_factory_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no

#29668 xds: don't start resource timer after ADS stream restart if resource is already cached
  BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29687 Changed C99 to C11
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  examples/objective-c/auth_sample/AuthSample.xcodeproj/project.pbxproj
  examples/objective-c/helloworld/HelloWorld.xcodeproj/project.pbxproj
  examples/objective-c/route_guide/RouteGuideClient.xcodeproj/project.pbxproj
  grpc.gyp
  setup.py
  src/objective-c/examples/Sample/Sample.xcodeproj/project.pbxproj
  src/objective-c/examples/SwiftSample/SwiftSample.xcodeproj/project.pbxproj
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/ruby/ext/grpc/extconf.rb
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/grpc.gyp.template
  templates/src/ruby/ext/grpc/extconf.rb.template
  test/cpp/ios/Tests.xcodeproj/project.pbxproj
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/c++, lang/ruby, lang/ObjC, priority/P0/RELEASE BLOCKER, release notes: no, bloat/none, per-call-memory/neutral

#29741 Add v1.46.x to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral

#29750 Revert "Removed c++14 option from bazel.rc"
  tools/bazel.rc
Labels: lang/core, area/build, release notes: no, bloat/none, per-call-memory/neutral

#29739 [build] Opt-in more targets to auto-dependency-checking
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/slice/BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29621 server: per-rpc backend metric reporting
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/server_builder.h
  package.xml
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/filters/client_channel/backend_metric.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy.h
  src/core/ext/filters/client_channel/lb_policy/backend_metric_data.h
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.cc
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.h
  src/core/lib/transport/metadata_batch.h
  src/cpp/server/orca/call_metric_recorder.cc
  src/cpp/server/orca/orca_interceptor.cc
  src/cpp/server/orca/orca_interceptor.h
  src/cpp/server/server_builder.cc
  src/cpp/server/server_context.cc
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: yes, bloat/low, per-call-memory/neutral

#29752 Updated the compiler support table
  src/cpp/README.md
Labels: lang/c++, area/documentation, release notes: no, bloat/none, per-call-memory/neutral

#29749 Revert "Revert "[c++14] Remove Capture type""
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/lib/gprpp/capture.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/transport/client_auth_filter.cc
  test/core/gprpp/BUILD
  test/core/gprpp/capture_test.cc
  test/core/promise/BUILD
  test/core/promise/promise_factory_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29709 security and subchannel: implement UniqueTypeName and use it in these interfaces
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/certificate_provider_store.cc
  src/core/ext/xds/certificate_provider_store.h
  src/core/ext/xds/xds_certificate_provider.cc
  src/core/ext/xds/xds_certificate_provider.h
  src/core/lib/gprpp/unique_type_name.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/credentials/alts/alts_credentials.cc
  src/core/lib/security/credentials/alts/alts_credentials.h
  src/core/lib/security/credentials/composite/composite_credentials.cc
  src/core/lib/security/credentials/composite/composite_credentials.h
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/fake/fake_credentials.cc
  src/core/lib/security/credentials/fake/fake_credentials.h
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.h
  src/core/lib/security/credentials/iam/iam_credentials.cc
  src/core/lib/security/credentials/iam/iam_credentials.h
  src/core/lib/security/credentials/insecure/insecure_credentials.cc
  src/core/lib/security/credentials/insecure/insecure_credentials.h
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.h
  src/core/lib/security/credentials/local/local_credentials.cc
  src/core/lib/security/credentials/local/local_credentials.h
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
  src/core/lib/security/credentials/plugin/plugin_credentials.h
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/credentials/tls/tls_credentials.h
  src/core/lib/security/credentials/xds/xds_credentials.cc
  src/core/lib/security/credentials/xds/xds_credentials.h
  test/core/gprpp/BUILD
  test/core/gprpp/unique_type_name_test.cc
  test/core/security/credentials_test.cc
  test/core/security/tls_security_connector_test.cc
  test/core/xds/certificate_provider_store_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/medium, per-call-memory/neutral

#29763 doc/interop-test-descriptions.md: Fix organization
  doc/interop-test-descriptions.md
Labels: release notes: no

#29649 [compression] Optimize compression type list generation
  src/core/lib/compression/compression_internal.cc
  src/core/lib/compression/compression_internal.h
  src/core/lib/surface/call.cc
  src/core/lib/transport/metadata_batch.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29755 Temporarily require ExecCtx to be on the thread's stack for EventEngine
  src/core/lib/event_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine.h
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/client_test.cc
  test/core/event_engine/test_suite/dns_test.cc
  test/core/event_engine/test_suite/server_test.cc
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29542 Add NetBSD support (Community-supported)
  include/grpc/event_engine/port.h
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/iomgr/port.h
  src/cpp/README.md
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#29694 Remove support for csharp(core) and ruby PSM tests.
  tools/run_tests/performance/loadtest_examples.sh
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/performance/templates/loadtest_template_psm_proxied_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_psm_proxied_prebuilt_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_psm_proxyless_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_psm_proxyless_prebuilt_all_languages.yaml
Labels: bloat/none, per-call-memory/neutral

#29760 Fix pull request template
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29764 GoogleDefaultCreds: support new-style xDS cluster names
  BUILD
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#27793 Initial support for Haiku
  CMakeLists.txt
  include/grpc/impl/codegen/port_platform.h
  src/core/lib/iomgr/port.h
  templates/CMakeLists.txt.template
Labels: area/core, lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#29762 [build] Further expand automatic build dependencies
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/gpr/tls.h
  src/core/lib/service_config/service_config.h
  src/core/lib/service_config/service_config_call_data.h
  src/core/lib/service_config/service_config_impl.cc
  src/core/lib/service_config/service_config_impl.h
  src/core/lib/service_config/service_config_parser.cc
  src/core/lib/service_config/service_config_parser.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29770 Revert "Temporarily require ExecCtx to be on the thread's stack for EventEngine"
  src/core/lib/event_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine.h
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/client_test.cc
  test/core/event_engine/test_suite/dns_test.cc
  test/core/event_engine/test_suite/server_test.cc
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core, release notes: no

#29632 doc: add interop-test description for orca
  doc/interop-test-descriptions.md
Labels: area/documentation, release notes: no

#29771 Make ExecCtx::Set private
  src/core/lib/iomgr/exec_ctx.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29772 increase orca oob test verification timeout
  doc/interop-test-descriptions.md
Labels: area/documentation, area/test, release notes: no

#29754 MSVC 2015 -> 2017
  BUILDING.md
  tools/run_tests/helper_scripts/build_cxx.bat
  tools/run_tests/run_tests.py
Labels: platform/Windows, release notes: no, bloat/none, per-call-memory/neutral

#29776 [build] Better dependency fixer
  tools/distrib/fix_build_deps.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29777 Reland: Temporarily require ExecCtx to be on the thread's stack for EventEngine
  src/core/lib/event_engine/iomgr_engine.cc
  src/core/lib/event_engine/iomgr_engine.h
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/client_test.cc
  test/core/event_engine/test_suite/dns_test.cc
  test/core/event_engine/test_suite/server_test.cc
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29780 [build] Increase timeout multipliers for MSAN, UBSAN
  test/core/util/test_config.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29601 [c++14] Simplify macro thats always the same now
  src/core/lib/gprpp/bitset.h
  src/core/lib/slice/percent_encoding.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29783 [slice] Move percent_encoding to its own target
  BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29784 Revert "[c++14] Simplify macro thats always the same now"
  src/core/lib/gprpp/bitset.h
  src/core/lib/slice/percent_encoding.cc
Labels: lang/core, per-call-memory/neutral

#29781 test: increase test slowdown factor on MacOS
  test/core/util/test_config.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29786 xds_cluster_type_end2end_test: fix flake in AggregateClusterTest.FallBackWithConnectivityChurn test
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29516 [xDS Proto] Remove Python's usage of copied proto files
  requirements.bazel.txt
  src/python/grpcio_csds/grpc_csds/BUILD.bazel
  src/python/grpcio_csds/grpc_csds/__init__.py
  src/python/grpcio_tests/tests/csds/test_csds.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral

#29774 [gRPC/iOS] Introduce common test util
  src/objective-c/tests/BUILD
  src/objective-c/tests/Common/Common.podspec
  src/objective-c/tests/Common/TestBase.h
  src/objective-c/tests/Common/TestBase.m
  src/objective-c/tests/Common/TestUtils.h
  src/objective-c/tests/Common/TestUtils.m
  src/objective-c/tests/InteropTests/InteropTests.h
  src/objective-c/tests/MacTests/StressTests.h
  src/objective-c/tests/PerfTests/PerfTests.h
  src/objective-c/tests/Podfile
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/objective-c/tests/Tests.xcodeproj/xcshareddata/xcschemes/UnitTests.xcscheme
  src/objective-c/tests/UnitTests/APIv2Tests.m
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, per-call-memory/neutral

#29794 Revert "test: increase test slowdown factor on MacOS"
  test/core/util/test_config.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29779 grpc_authz test: longer wait for authz policy reload
  test/core/end2end/tests/grpc_authz.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29792 subchannel: fix reset backoff when connection attempt is in flight
  src/core/ext/filters/client_channel/subchannel.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29789 xds_core_end2end_test: fix federation test timeouts
  test/cpp/end2end/xds/xds_core_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29768 server: add method to expose authority seen by server
  include/grpcpp/impl/codegen/server_context.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/server.cc
  src/cpp/server/server_context.cc
  src/proto/grpc/testing/echo_messages.proto
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
  test/cpp/end2end/test_service_impl.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/increase

#29801 retry tests: improve logging to help debug flakes
  test/core/end2end/tests/retry_cancel_during_delay.cc
  test/core/end2end/tests/retry_server_pushback_delay.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29806 Revert "server: add method to expose authority seen by server"
  include/grpcpp/impl/codegen/server_context.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/server.cc
  src/cpp/server/server_context.cc
  src/proto/grpc/testing/echo_messages.proto
  test/cpp/end2end/end2end_test.cc
  test/cpp/end2end/test_service_impl.cc
  test/cpp/end2end/test_service_impl.h
Labels: lang/c++, lang/core, release notes: no

#29805 client_lb_end2end_test: increase timeouts in RoundRobinTest.UpdateInError
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29719 EventEngine::RunAt - grpclb load report timer
  BUILD
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral
