Repository grpc/grpc, pull requests merged in 2022-01, with the labels that each got.

#28457 Reintroduce #28396 (Cleanup of windows CI .bat scripts)
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/windows/bazel_rbe.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_build_packages.bat
  tools/internal_ci/windows/grpc_build_packages.cfg
  tools/internal_ci/windows/grpc_distribtests.bat
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
Labels: platform/Windows, release notes: no, bloat/none, perf-change/none

#28451 change repo manager to nicolasnoble
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: disposition/DO NOT MERGE, area/infra, bloat/none, perf-change/none

#28388 Allow optional building in of objc prefix validation.
  src/compiler/objective_c_plugin.cc
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, perf-change/none

#28465 Delete no-longer-used kokoro jobs .cfg files.
  tools/internal_ci/linux/grpc_basictests_multilang.cfg
  tools/internal_ci/linux/grpc_basictests_node.cfg
  tools/internal_ci/linux/grpc_build_artifacts_extra.cfg
  tools/internal_ci/linux/grpc_build_artifacts_extra.sh
  tools/internal_ci/linux/grpc_build_artifacts_extra_release.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_c_dbg.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_c_opt.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_cpp_dbg.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_cpp_opt.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_multilang.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_node.cfg
  tools/internal_ci/macos/grpc_basictests_node.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_dbg.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_node.cfg
  tools/internal_ci/macos/pull_request/grpc_basictests_opt.cfg
  tools/internal_ci/windows/grpc_basictests.cfg
  tools/internal_ci/windows/grpc_basictests_dbg.cfg
  tools/internal_ci/windows/grpc_basictests_opt.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_dbg.cfg
  tools/internal_ci/windows/pull_request/grpc_basictests_opt.cfg
Labels: release notes: no, bloat/none, perf-change/none

#28469 Fix for master/linux/grpc_bazel_distribtest CBF
  src/proto/grpc/testing/xds/v3/BUILD
Labels: release notes: no, bloat/none, perf-change/none

#28458 Remove python2 from bazel docker images
  templates/tools/dockerfile/oss_fuzz_base.include
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/binder_transport_apk/Dockerfile
Labels: infra/Bazel, release notes: no, bloat/none, perf-change/none

#27938 xDS Federation: bootstrap and xds_resolver changes
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client.cc
  src/core/lib/uri/uri_parser.cc
  src/core/lib/uri/uri_parser.h
  test/core/uri/uri_parser_test.cc
  test/core/xds/xds_bootstrap_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/medium, perf-change/none

#28400 Revert "Revert "Promise pipe redux (#28319)" (#28364)"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/activity.h
  src/core/lib/promise/pipe.h
  test/core/promise/BUILD
  test/core/promise/for_each_test.cc
  test/core/promise/pipe_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28418 Add CRL checking to gRPC Core
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.def
  include/grpc/grpc_security.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/core/tsi/BUILD
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/test_creds/crl_data/current.crl
  test/core/tsi/test_creds/crl_data/demoCA/index.txt
  test/core/tsi/test_creds/crl_data/demoCA/index.txt.attr.old
  test/core/tsi/test_creds/demoCA/crlnumber
  test/core/tsi/test_creds/demoCA/index.txt
  test/core/tsi/test_creds/demoCA/index.txt.attr
  test/core/tsi/test_creds/demoCA/index.txt.old
  test/core/tsi/transport_security_test_lib.cc
  tools/run_tests/generated/tests.json
Labels: area/security, release notes: no, bloat/none, perf-change/none

#27593 Fix typo. tranasction -> transaction
  test/core/transport/binder/end2end/fuzzers/fuzzer_utils.cc
  test/core/transport/binder/end2end/fuzzers/fuzzer_utils.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#27343 Add python async example for hellostreamingworld using generator
  examples/python/hellostreamingworld/async_greeter_client.py
  examples/python/hellostreamingworld/async_greeter_server.py
  examples/python/hellostreamingworld/hellostreamingworld_pb2.py
  examples/python/hellostreamingworld/hellostreamingworld_pb2_grpc.py
Labels: lang/Python, release notes: yes

#28348 [BinderTransport] Allow finding Java class using custom class finder
  include/grpcpp/create_channel_binder.h
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/jni_utils.cc
  src/core/ext/transport/binder/client/jni_utils.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28496 Revert "[BinderTransport] Allow finding Java class using custom class finder"
  include/grpcpp/create_channel_binder.h
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/jni_utils.cc
  src/core/ext/transport/binder/client/jni_utils.h
Labels: release notes: no

#28370 xds/interop: add gke TD resource cleanup to daily cleanup script
  tools/gcp/utils/cleanup_xds_resources.py
  tools/gcp/utils/keep_xds_interop_resources.json
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/README.md
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/keep_xds_interop_resources.json
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: release notes: no, bloat/none, perf-change/none

#28484 Added CSDS in Node to xDS features list
  doc/grpc_xds_features.md
Labels: lang/node, area/documentation, release notes: no

#28408 Reland empty target introduction to ease the internal merge of #25586
  BUILD
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/security_connector/security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/transport/auth_filters.h
  src/core/lib/security/transport/client_auth_filter.cc
  test/core/security/insecure_security_connector_test.cc
  test/core/security/security_connector_test.cc
  test/core/security/ssl_credentials_test.cc
  test/core/tsi/alts/crypt/BUILD
  test/core/tsi/alts/frame_protector/BUILD
  test/core/tsi/alts/handshaker/BUILD
  test/core/tsi/alts/zero_copy_frame_protector/BUILD
Labels: lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, perf-change/none

#28499 Fix OpenSSL portability test
  test/core/tsi/crl_ssl_transport_security_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28508 Revert "Revert "[BinderTransport] Allow finding Java class using custom class finder (#28348)" (#28496)"
  include/grpcpp/create_channel_binder.h
  src/core/ext/transport/binder/client/channel_create.cc
  src/core/ext/transport/binder/client/jni_utils.cc
  src/core/ext/transport/binder/client/jni_utils.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28485 URI parser: fix percent-encoding and add ToString() method
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/uri/uri_parser.cc
  src/core/lib/uri/uri_parser.h
  test/core/uri/uri_parser_test.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28238 iomgr: fix wrong glibc version check
  src/core/lib/iomgr/port.h
Labels: area/core, lang/core, release notes: no, bloat/none, perf-change/none

#28520 Repomgr = aj
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#27754 RBAC Authorization Engine updates based on A41 proposal
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/lib/matchers/matchers.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/authorization/matchers.h
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  src/core/lib/security/authorization/rbac_translator.cc
  test/core/security/authorization_matchers_test.cc
  test/core/security/evaluate_args_test.cc
  test/core/security/grpc_authorization_engine_test.cc
  test/core/security/matchers_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28492 Avoid sync_test timeouts on arm64
  test/core/gpr/sync_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28480 task_runner.py improvements (foundations for future speedup)
  src/csharp/experimental/build_native_ext_for_android.sh
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_csharp.sh
  tools/run_tests/artifacts/build_artifact_protoc.sh
  tools/run_tests/artifacts/distribtest_targets.py
  tools/run_tests/artifacts/package_targets.py
  tools/run_tests/task_runner.py
Labels: release notes: no, bloat/none, perf-change/none

#28494 Fix objc build broken by "Move resolver code around a little"
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
Labels: priority/P0/RELEASE BLOCKER, lang/core, release notes: no, bloat/none, perf-change/none

#28522 Remove ruby 2.4 support
  Rakefile
  grpc.gemspec
  templates/grpc.gemspec.template
  tools/dockerfile/distribtest/ruby_centos7_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_fedora23_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_jessie_x64_ruby_3_0/Dockerfile
  tools/dockerfile/distribtest/ruby_jessie_x86/Dockerfile
  tools/dockerfile/distribtest/ruby_opensuse_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_2_5/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_2_6/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_2_7/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_3_0/Dockerfile
  tools/dockerfile/distribtest/ruby_ubuntu1604_x64/Dockerfile
  tools/internal_ci/linux/grpc_build_artifacts.sh
  tools/internal_ci/linux/grpc_build_packages.sh
  tools/internal_ci/linux/grpc_distribtests.sh
  tools/internal_ci/linux/grpc_distribtests_ruby.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/ruby, release notes: yes, bloat/none, perf-change/none

#28514 xds_e2e_test: clean up WaitForAllBackends() and add timeout
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#27867 Remove grpc_httpcli_context
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.h
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  test/core/http/httpcli_test.cc
  test/core/http/httpscli_test.cc
  test/core/util/port_server_client.cc
Labels: lang/core, disposition/Needs Internal Changes, release notes: yes, bloat/none, perf-change/none

#28490 Allow MetadataMap to be a status in TrySeq
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/detail/status.h
  src/core/lib/promise/try_seq.h
  src/core/lib/transport/metadata_batch.h
  test/core/promise/BUILD
  test/core/promise/try_seq_metadata_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28530 Add a trace to list which filters are contained in a channel stack
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/surface/channel.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/xds/xds_channel_stack_modifier_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: lang/c++, lang/core, bloat/none, perf-change/low

#28534 add missing doc
  doc/environment_variables.md
Labels: release notes: no

#28467 XdsEnd2EndTest : Use a queue to save resource updates
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#28500 Merge the 3 repeating Python binary compilations
  .gitignore
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/helper_scripts/run_python.sh
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/Python, release notes: no, bloat/none, perf-change/none

#28461 Speedup linux portability build_only tests
  templates/tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile.template
  tools/dockerfile/test/cxx_ubuntu1604_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no, bloat/none, perf-change/none

#28532 Add a test for includes without paths
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_parser_table.cc
  test/core/util/fake_udp_and_tcp_server.cc
  test/cpp/qps/qps_server_builder.cc
  tools/distrib/check_naked_includes.py
  tools/distrib/sanitize.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: release notes: no, bloat/none, perf-change/none

#28540 Another fixup for #27846
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
Labels: release notes: no, bloat/none, perf-change/none

#28539 Revert "Merge the 3 repeating Python binary compilations"
  .gitignore
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/helper_scripts/run_python.sh
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: priority/P0/RELEASE BLOCKER, bloat/none, perf-change/none

#28515 xds: handle percent-encoding in new-style resource names
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, perf-change/none

#28521 Fix xDS client for multiple watchers
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, perf-change/none

#28541 Fix Cronet tests
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: lang/core, bloat/none, perf-change/none

#27074 Update to rbac policy struct and end2end authz test.
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/authorization/matchers.h
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  test/core/security/authorization_matchers_test.cc
  test/core/security/rbac_translator_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/sdk_authz_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28537 Fix tautological unsigned comparison
  bazel/copts.bzl
  src/core/ext/filters/fault_injection/service_config_parser.cc
Labels: lang/core, area/build, release notes: no, bloat/none, perf-change/none

#28542 Ruby artifact speedup
  Rakefile
  src/ruby/ext/grpc/extconf.rb
  templates/src/ruby/ext/grpc/extconf.rb.template
  tools/internal_ci/linux/grpc_distribtests_ruby.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/ruby, release notes: no, bloat/none, perf-change/none

#28546 transport: add error attributes indicating stream network state
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/transport/error_utils.h
Labels: lang/core, release notes: no, bloat/none, perf-change/improvement

#28535 Removed meshca.proto
  BUILD
  src/core/ext/upb-generated/third_party/istio/security/proto/providers/google/meshca.upb.c
  src/core/ext/upb-generated/third_party/istio/security/proto/providers/google/meshca.upb.h
  src/core/ext/upbdefs-generated/third_party/istio/security/proto/providers/google/meshca.upbdefs.c
  src/core/ext/upbdefs-generated/third_party/istio/security/proto/providers/google/meshca.upbdefs.h
  third_party/istio/security/proto/providers/google/meshca.proto
  tools/codegen/core/gen_upb_api.sh
Labels: kind/internal cleanup, lang/core, release notes: no, bloat/none, perf-change/none

#28556 xds-k8s: Fix ModuleNotFoundError: No module named 'packaging'
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: area/test, release notes: no

#28531 Buildify upb targets for validate & udpa
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_deps.bzl
  build_autogenerated.yaml
  grpc.gyp
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/codegen/core/gen_upb_api.sh
  tools/codegen/core/gen_upb_api_from_bazel_xml.py
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: kind/internal cleanup, lang/core, area/build, release notes: no, bloat/none, perf-change/none

#28502 Stop N**2 symbol name lengths
  src/core/lib/transport/metadata_batch.h
  test/core/promise/try_seq_metadata_test.cc
  test/core/transport/metadata_map_test.cc
Labels: lang/core, release notes: no, perf-change/medium, bloat/improvement

#28486 Support custom xDS channel creds
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_channel_creds.cc
  src/core/ext/xds/xds_channel_creds.h
  src/core/ext/xds/xds_client.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/xds/BUILD
  test/core/xds/xds_channel_creds_registry_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28462 [BinderTransport] Remove some logs
  src/core/ext/transport/binder/transport/binder_transport.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28552 Revert "Update to rbac policy struct and end2end authz test."
  src/core/lib/security/authorization/matchers.cc
  src/core/lib/security/authorization/matchers.h
  src/core/lib/security/authorization/rbac_policy.cc
  src/core/lib/security/authorization/rbac_policy.h
  test/core/security/authorization_matchers_test.cc
  test/core/security/rbac_translator_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/sdk_authz_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, lang/core, release notes: no, bloat/none, perf-change/none

#28477 rls: fix various bugs in adaptive throttling code
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28543 Merge the 3 repeating Python binary compilations (Attempt 2)
  .gitignore
  tools/distrib/docgen/_generate_python_doc.sh
  tools/interop_matrix/client_matrix.py
  tools/interop_matrix/testcases/python__master
  tools/interop_matrix/testcases/python__v1.41.1
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/helper_scripts/run_python.sh
  tools/run_tests/run_interop_tests.py
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/Python, area/build, release notes: no, bloat/none, perf-change/none

#28566 Log errors for unsupported fork scenarios in Python
  src/core/lib/iomgr/fork_posix.cc
Labels: lang/Python, lang/core, release notes: no, bloat/none, perf-change/none

#28498 Shrink parsed metadata bloat a little
  src/core/lib/transport/parsed_metadata.h
Labels: lang/core, release notes: no, perf-change/none, bloat/improvement

#28454 Add bundle destination for cmake install commands
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: area/build, release notes: no, bloat/none, perf-change/none

#28567 Update the fork-support doc
  doc/fork_support.md
Labels: area/documentation, lang/Python, release notes: no

#28569 Remove the explicit IO platform setting
  tools/internal_ci/linux/aws/grpc_run_basictests_python_aarch64.sh
Labels: lang/Python, area/build, release notes: no, bloat/none, perf-change/none

#28580 tools: set psm-security test timeout to 3h
  tools/internal_ci/linux/psm-security.cfg
Labels: area/test, release notes: no, bloat/none

#28579 tools: set psm-security test timeout to 3h
  tools/internal_ci/linux/psm-security.cfg
Labels: area/test, release notes: no

#28572 Backport "Remove ruby 2.4 support (#28522)" to 1.43.x
  Rakefile
  grpc.gemspec
  templates/grpc.gemspec.template
  tools/dockerfile/distribtest/ruby_centos7_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_fedora23_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_jessie_x64_ruby_3_0/Dockerfile
  tools/dockerfile/distribtest/ruby_jessie_x86/Dockerfile
  tools/dockerfile/distribtest/ruby_opensuse_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_2_5/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_2_6/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_2_7/Dockerfile
  tools/dockerfile/distribtest/ruby_stretch_x64_ruby_3_0/Dockerfile
  tools/dockerfile/distribtest/ruby_ubuntu1604_x64/Dockerfile
  tools/internal_ci/linux/grpc_build_artifacts.sh
  tools/internal_ci/linux/grpc_build_packages.sh
  tools/internal_ci/linux/grpc_distribtests.sh
  tools/internal_ci/linux/grpc_distribtests_ruby.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/ruby, release notes: yes, bloat/none, perf-change/none

#28363 Eliminate slice interning
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/slice.h
  include/grpc/slice.h
  package.xml
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/compression/compression.cc
  src/core/lib/compression/compression_internal.cc
  src/core/lib/event_engine/memory_allocator.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/credentials/external/file_external_account_credentials.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_refcount.cc
  src/core/lib/slice/slice_refcount.h
  src/core/lib/slice/slice_refcount_base.h
  src/core/lib/slice/slice_utils.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/slice/BUILD
  test/core/slice/slice_intern_test.cc
  test/core/slice/slice_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/util/evaluate_args_test_util.h
  test/cpp/end2end/channelz_service_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, perf-change/medium, bloat/improvement

#27816 Add SameSignatureSecurityPolicy for binder transport
  examples/android/binder/java/io/grpc/binder/cpp/exampleclient/native.cc
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/ExportedEndpointService.java
  examples/android/binder/java/io/grpc/binder/cpp/exampleserver/native.cc
  include/grpcpp/security/binder_security_policy.h
  src/core/ext/transport/binder/client/jni_utils.cc
  src/core/ext/transport/binder/client/jni_utils.h
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/NativeConnectionHelper.java
  src/core/ext/transport/binder/security_policy/binder_security_policy.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28568 xDS: Rbac filter updates
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/proto/grpc/testing/xds/v3/metadata.proto
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, perf-change/none

#28598 Revert "Eliminate slice interning"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/slice.h
  include/grpc/slice.h
  package.xml
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/compression/compression.cc
  src/core/lib/compression/compression_internal.cc
  src/core/lib/event_engine/memory_allocator.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/credentials/external/file_external_account_credentials.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_refcount.cc
  src/core/lib/slice/slice_refcount.h
  src/core/lib/slice/slice_refcount_base.h
  src/core/lib/slice/slice_utils.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/slice/BUILD
  test/core/slice/slice_intern_test.cc
  test/core/slice/slice_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/util/evaluate_args_test_util.h
  test/cpp/end2end/channelz_service_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/low, perf-change/high

#27457 Memory leak fix on windows in grpc_tcp_create()
  src/core/lib/iomgr/tcp_windows.cc
Labels: lang/core, release notes: yes, disposition/never stale, bloat/none, perf-change/none

#28594 add task_runner.py --inner_jobs support for C++ distribtests
  test/distrib/cpp/run_distrib_test_cmake.bat
  test/distrib/cpp/run_distrib_test_cmake.sh
  test/distrib/cpp/run_distrib_test_cmake_aarch64_cross.sh
  test/distrib/cpp/run_distrib_test_cmake_as_externalproject.bat
  test/distrib/cpp/run_distrib_test_cmake_as_externalproject.sh
  test/distrib/cpp/run_distrib_test_cmake_as_submodule.sh
  test/distrib/cpp/run_distrib_test_cmake_fetchcontent.sh
  test/distrib/cpp/run_distrib_test_cmake_module_install.sh
  test/distrib/cpp/run_distrib_test_cmake_module_install_pkgconfig.sh
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
  tools/internal_ci/linux/grpc_distribtests.sh
  tools/internal_ci/linux/grpc_distribtests_standalone.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: release notes: no, bloat/none, perf-change/none

#28574 tools: set psm-security-python timeout to 3h
  tools/internal_ci/linux/psm-security-python.cfg
Labels: release notes: no, bloat/none, perf-change/none

#28578 tools: set psm-security test timeout to 3h
  tools/internal_ci/linux/psm-security.cfg
Labels: area/test, release notes: no

#28560 Speedup grpc_distribtests_csharp
  tools/internal_ci/linux/grpc_distribtests_csharp.sh
Labels: lang/C#, release notes: no, bloat/none, perf-change/none

#28602 repomgr->yashykt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: lang/other, release notes: no, bloat/none, perf-change/none

#28576 tools: set psm-security test timeout to 3h
  tools/internal_ci/linux/psm-security.cfg
Labels: area/test, release notes: no

#28575 tools: set psm-security test timeout to 3h
  tools/internal_ci/linux/psm-security.cfg
Labels: area/test, release notes: no

#28577 tools: set psm-security test timeout to 3h
  tools/internal_ci/linux/psm-security.cfg
Labels: area/test, release notes: no

#28585 tools: set psm-security-python timeout to 3h
  tools/internal_ci/linux/psm-security-python.cfg
Labels: area/test, release notes: no, bloat/none, perf-change/none

#28584 tools: set psm-security-python timeout to 3h
  tools/internal_ci/linux/psm-security-python.cfg
Labels: area/test, release notes: no, bloat/none

#28583 tools: set psm-security-python timeout to 3h
  tools/internal_ci/linux/psm-security-python.cfg
Labels: area/test, release notes: no

#28587 speedup C# basictests: only build C# once for coreclr and mono tests
  tools/internal_ci/linux/grpc_basictests_csharp.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_csharp.cfg
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/C#, release notes: no, bloat/none, perf-change/none

#28581 tools: set psm-security-python timeout to 3h
  tools/internal_ci/linux/psm-security-python.cfg
Labels: area/test, release notes: no

#28571 pick_first: make TRANSIENT_FAILURE sticky
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/high

#28604 Increase the Python protobuf requirement to >=3.12.0
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_csds/setup.py
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/setup.py
  src/python/grpcio_testing/setup.py
  src/python/grpcio_tests/setup.py
Labels: lang/Python, release notes: yes

#26812 TLS Session Keys export for GRPC C++
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_credentials_options.h
  package.xml
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  src/core/tsi/ssl/key_logging/ssl_key_logging.cc
  src/core/tsi/ssl/key_logging/ssl_key_logging.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/cpp/common/tls_credentials_options.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/surface/public_headers_must_be_c89.c
  test/cpp/end2end/BUILD
  test/cpp/end2end/tls_key_export_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/medium, perf-change/none

#28609 core: fix grpc_transport_stream_op_batch_string() to handle binary metadata
  src/core/lib/transport/transport_op_string.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28612 allow running instances of DepFileUtilTest in parallel
  src/csharp/Grpc.Tools.Tests/DepFileUtilTest.cs
Labels: lang/C#, release notes: no

#28243 Build ruby artifacts in parallel
  Rakefile
  tools/internal_ci/helper_scripts/prepare_build_linux_ruby_artifact_rc
  tools/internal_ci/linux/grpc_build_artifacts.sh
  tools/internal_ci/linux/grpc_build_packages.sh
  tools/internal_ci/linux/grpc_distribtests.sh
  tools/internal_ci/linux/grpc_distribtests_ruby.sh
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_ruby.sh
  tools/run_tests/helper_scripts/bundle_install_wrapper.sh
Labels: lang/ruby, release notes: no, bloat/none, perf-change/none

#28615 Revert "Reland slice changes"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/slice.h
  include/grpc/slice.h
  package.xml
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/compression/compression.cc
  src/core/lib/compression/compression_internal.cc
  src/core/lib/event_engine/memory_allocator.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/credentials/external/file_external_account_credentials.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_refcount.cc
  src/core/lib/slice/slice_refcount.h
  src/core/lib/slice/slice_refcount_base.h
  src/core/lib/slice/slice_utils.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/slice/BUILD
  test/core/slice/slice_intern_test.cc
  test/core/slice/slice_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/util/evaluate_args_test_util.h
  test/cpp/end2end/channelz_service_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no

#28608 xDS: Rbac filter updates (#28568)
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/proto/grpc/testing/xds/v3/metadata.proto
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, perf-change/none

#28606 Add test expr.proto file comment
  src/proto/grpc/testing/xds/v3/expr.proto
Labels: release notes: no, bloat/none, perf-change/none

#28618 xds: accept SelfConfigSource for RDS and EDS ConfigSources
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_listener.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28623 Leak static table
  src/core/ext/transport/chttp2/transport/hpack_parser_table.cc
Labels: priority/P1, lang/core, release notes: no, bloat/none, perf-change/none

#28553 Bump version to 1.45.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28593 Bump version to v1.44.0-pre1 (on the release branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#28616 [C#] Grpc.Core.Api nullable fixes
  src/csharp/Grpc.Core.Api/AuthContext.cs
  src/csharp/Grpc.Core.Api/CallCredentials.cs
  src/csharp/Grpc.Core.Api/CallCredentialsConfiguratorBase.cs
  src/csharp/Grpc.Core.Api/IAsyncStreamWriter.cs
  src/csharp/Grpc.Core.Api/ServerCallContext.cs
Labels: lang/C#, release notes: yes

#28610 Format top-level README.
  README.md
Labels: release notes: no

#28634 core: improve documentation for GRPC_ARG_DNS_ENABLE_SRV_QUERIES
  include/grpc/impl/codegen/grpc_types.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28629 Remove openssl extern c wrapping
  src/core/tsi/ssl/key_logging/ssl_key_logging.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28636 [Backport][v1.43.x] Fix the setuptools distutils overriding issue (#28393)
  setup.py
  src/python/grpcio/commands.py
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: no, bloat/none, perf-change/none

#28624 Revert "Revert "Reland slice changes (#28601)" (#28615)"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.def
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/codegen/slice.h
  include/grpc/slice.h
  package.xml
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/core/lib/compression/compression.cc
  src/core/lib/compression/compression_internal.cc
  src/core/lib/event_engine/memory_allocator.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/credentials/external/file_external_account_credentials.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_intern.cc
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_refcount.cc
  src/core/lib/slice/slice_refcount.h
  src/core/lib/slice/slice_refcount_base.h
  src/core/lib/slice/slice_utils.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/init.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_filter.cc
  src/python/grpcio/grpc_core_dependencies.py
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer.proto
  test/core/slice/BUILD
  test/core/slice/slice_intern_test.cc
  test/core/slice/slice_test.cc
  test/core/surface/public_headers_must_be_c89.c
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/util/evaluate_args_test_util.h
  test/cpp/end2end/channelz_service_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, perf-change/high, bloat/improvement

#28637 optimize RNG usage in RLS code
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28563 priority LB: fix priority policy to cancel failover timer on IDLE
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#28622 Add tests for parsed metadata
  test/core/transport/parsed_metadata_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28517 s/TOOD/TODO/
  src/core/lib/iomgr/event_engine/resolver.cc
Labels: area/core, lang/core, release notes: no, bloat/none, perf-change/none

#28504 LRS changes for federation
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/upb_utils.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_stats.cc
  src/core/ext/xds/xds_client_stats.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  test/core/xds/xds_bootstrap_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, release notes: no, bloat/medium, perf-change/none

#28641 xds: percent-encode authority name in default client listener template
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/uri/uri_parser.cc
  src/core/lib/uri/uri_parser.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28503 Share the log encoder between metadata maps
  src/core/lib/transport/metadata_batch.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28639 Bump clang 12 to 13
  templates/tools/dockerfile/test/cxx_clang_13_x64/Dockerfile.template
  tools/dockerfile/test/cxx_clang_13_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: area/test, area/build, release notes: no, bloat/none, perf-change/none

#28565 Convert client_authority_filter to a promise.
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/client_authority_filter.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport_op_string.cc
  test/core/end2end/goaway_server_test.cc
  test/core/filters/BUILD
  test/core/filters/client_authority_filter_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/medium, perf-change/medium

#27534 cont. Add api listener test for k8s
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/api_listener_test.py
Labels: lang/Python, area/test, release notes: no

#28655 Public APIs need ExecCtx
  src/core/lib/surface/call.cc
Labels: priority/P1, lang/core, release notes: no, bloat/none, perf-change/none

#28611 [BinderTransport] Suppress internal Java checkSignatures warning
  src/core/ext/transport/binder/java/io/grpc/binder/cpp/NativeConnectionHelper.java
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28650 Non-encodable attributes for metadata map
  src/core/lib/transport/metadata_batch.h
  test/core/transport/metadata_map_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28658 Expose promise-ness to filter proper
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/client_load_reporting_filter.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/client_idle/client_idle_filter.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/http/message_compress/message_decompress_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/rbac/rbac_filter.cc
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/security/authorization/sdk_server_authz_filter.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/surface/server.cc
  src/core/lib/transport/transport.h
  src/core/lib/transport/transport_impl.h
  src/cpp/common/channel_filter.h
  test/core/channel/channel_stack_builder_test.cc
  test/core/channel/channel_stack_test.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/end2end/tests/filter_context.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/end2end/tests/filter_latency.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/end2end/tests/retry_cancel_with_multiple_send_batches.cc
  test/core/end2end/tests/retry_recv_trailing_metadata_error.cc
  test/core/end2end/tests/retry_send_op_fails.cc
  test/core/xds/xds_channel_stack_modifier_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, perf-change/high

#28654 xds/cleanup: update build in cleanup kokoro script
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
Labels: release notes: no, bloat/none, perf-change/none

#28660 c++-ize channel stack builder
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_idle/client_idle_filter.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/xds/xds_channel_stack_modifier.cc
  src/core/ext/xds/xds_channel_stack_modifier.h
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/connected_channel.h
  src/core/lib/surface/builtins.cc
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel.h
  src/core/lib/surface/channel_init.cc
  src/core/lib/surface/channel_init.h
  src/core/lib/surface/init_secure.cc
  src/cpp/common/channel_filter.cc
  test/core/channel/channel_stack_builder_test.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/end2end/tests/filter_context.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/end2end/tests/filter_latency.cc
  test/core/end2end/tests/filter_status_code.cc
  test/core/end2end/tests/retry_cancel_with_multiple_send_batches.cc
  test/core/end2end/tests/retry_recv_trailing_metadata_error.cc
  test/core/end2end/tests/retry_send_op_fails.cc
  test/core/xds/xds_channel_stack_modifier_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, perf-change/none

#28664 Upgrade C++ and Python docker images to debian stable (debian 11)
  templates/tools/dockerfile/ccache.include
  templates/tools/dockerfile/cmake_from_install_script.include
  templates/tools/dockerfile/compile_python_310.include
  templates/tools/dockerfile/compile_python_36.include
  templates/tools/dockerfile/compile_python_37.include
  templates/tools/dockerfile/compile_python_38.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_debian11_base.include
  templates/tools/dockerfile/python_stretch_base.include
  templates/tools/dockerfile/test/cxx_alpine_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_clang_13_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_clang_4_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_debian10_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_debian11_openssl102_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_debian11_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_debian11_x86/Dockerfile.template
  templates/tools/dockerfile/test/cxx_debian9_x86/Dockerfile.template
  templates/tools/dockerfile/test/cxx_gcc_11_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_alpine_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_stretch_default_x64/Dockerfile.template
  tools/dockerfile/grpc_artifact_python_manylinux2010_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2010_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/binder_transport_apk/Dockerfile
  tools/dockerfile/test/cxx_alpine_x64/Dockerfile
  tools/dockerfile/test/cxx_clang_13_x64/Dockerfile
  tools/dockerfile/test/cxx_clang_4_x64/Dockerfile
  tools/dockerfile/test/cxx_debian10_openssl102_x64/Dockerfile
  tools/dockerfile/test/cxx_debian11_openssl102_x64/Dockerfile
  tools/dockerfile/test/cxx_debian11_x64/Dockerfile
  tools/dockerfile/test/cxx_debian11_x86/Dockerfile
  tools/dockerfile/test/cxx_gcc_11_x64/Dockerfile
  tools/dockerfile/test/python_alpine_x64/Dockerfile
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.5_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.6_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.7_x64/Dockerfile
  tools/dockerfile/test/python_stretch_3.8_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/c++, lang/Python, release notes: no, bloat/none, perf-change/none

#28673 Repo manager - Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#28678 Fix bugprone-stringview-nullptr
  src/core/lib/iomgr/resolve_address_custom.cc
  src/core/lib/iomgr/resolve_address_posix.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28635 Update link to performance benchmarks dashboard.
  README.md
Labels: release notes: no

#28659 Remove direct reference to absl::Status in Activity
  src/core/lib/promise/activity.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28354 Add http cancel api
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/lib/http/format_request.cc
  src/core/lib/http/format_request.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/http/httpcli_ssl_credentials.h
  src/core/lib/http/parser.h
  src/core/lib/security/credentials/credentials.cc
  src/core/lib/security/credentials/credentials.h
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/aws_external_account_credentials.h
  src/core/lib/security/credentials/external/external_account_credentials.cc
  src/core/lib/security/credentials/external/external_account_credentials.h
  src/core/lib/security/credentials/external/url_external_account_credentials.cc
  src/core/lib/security/credentials/external/url_external_account_credentials.h
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.cc
  src/core/lib/security/credentials/oauth2/oauth2_credentials.h
  src/core/lib/surface/init.cc
  src/cpp/client/secure_credentials.h
  test/core/http/BUILD
  test/core/http/format_request_test.cc
  test/core/http/httpcli_test.cc
  test/core/http/httpcli_test_util.cc
  test/core/http/httpcli_test_util.h
  test/core/http/httpscli_test.cc
  test/core/security/credentials_test.cc
  test/core/security/jwt_verifier_test.cc
  test/core/util/evaluate_args_test_util.h
  test/core/util/fake_udp_and_tcp_server.cc
  test/core/util/port_server_client.cc
  test/cpp/ext/filters/census/BUILD
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: yes, bloat/medium, perf-change/high

#28672 Cleanup
  src/core/lib/security/security_connector/security_connector.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28665 Enable ccache in more builds
  Rakefile
  templates/tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile.template
  templates/tools/dockerfile/test/csharp_debian11_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_debian11_x64/Dockerfile.template
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/dockerfile/grpc_artifact_python_linux_armv7/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/csharp_debian11_x64/Dockerfile
  tools/dockerfile/test/ruby_debian11_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
  tools/internal_ci/helper_scripts/prepare_ccache_symlinks_rc
  tools/internal_ci/linux/grpc_run_interop_tests.sh
  tools/run_tests/artifacts/package_targets.py
  tools/run_tests/run_tests.py
Labels: release notes: no, bloat/none, perf-change/none

#28684 Fix dyld errors on macos
  tools/bazel.rc
  tools/internal_ci/macos/grpc_cfstream.cfg
Labels: platform/macOS, release notes: no, bloat/none, perf-change/none

#28680 Revert "transport: add error attributes indicating stream network state"
  src/core/lib/gprpp/status_helper.cc
  src/core/lib/gprpp/status_helper.h
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  src/core/lib/transport/error_utils.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28690 Using tsan_macos config for cfstream_tsan test
  tools/internal_ci/macos/grpc_cfstream_tsan.cfg
Labels: platform/macOS, release notes: no, bloat/none

#28679 Fix some clang-tidy issue
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/xds/xds_routing.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  test/core/util/BUILD
  tools/run_tests/generated/tests.json
Labels: kind/internal cleanup, lang/core, release notes: no, bloat/none, perf-change/none

#28692 Fix google-c2p-experimental issue
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
Labels: kind/bug, lang/core, release notes: no, bloat/none, perf-change/none

#28689 Adding missing data argument to ios_unit_test
  bazel/grpc_build_system.bzl
Labels: area/core, platform/iOS, release notes: no, bloat/none, perf-change/none

#28677 Only apply "singleplatform" nuget suffix when actually needed
  tools/run_tests/artifacts/package_targets.py
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: yes, bloat/none, perf-change/none

#28681 Bump version to 1.44.0-pre2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#28699 Revert "Fix some clang-tidy issue"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/xds/xds_routing.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  test/core/util/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28700 Upmerge 1.44.x branch into master
  tools/run_tests/artifacts/package_targets.py
Labels: release notes: no, bloat/none, perf-change/none

#28694 [xDS GKE] use randomized local forwarding port for parallism
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
Labels: area/test, release notes: no

#28702 Cleanup (followup for ccache addition)
  templates/tools/dockerfile/grpc_clang_format/Dockerfile.template
  templates/tools/dockerfile/grpc_clang_tidy/Dockerfile.template
  templates/tools/dockerfile/grpc_iwyu/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/python_debian11_base.include
  tools/dockerfile/grpc_clang_format/Dockerfile
  tools/dockerfile/grpc_clang_tidy/Dockerfile
  tools/dockerfile/grpc_iwyu/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/internal_ci/helper_scripts/prepare_ccache_symlinks_rc
  tools/internal_ci/linux/grpc_distribtests_csharp.sh
  tools/internal_ci/linux/grpc_distribtests_ruby.sh
Labels: release notes: no, bloat/none, perf-change/none

#28703 Add back pip virtualenv back to ruby image for XDS tests
  templates/tools/dockerfile/test/ruby_debian11_x64/Dockerfile.template
  tools/dockerfile/test/ruby_debian11_x64/Dockerfile
Labels: lang/ruby, release notes: no, bloat/none, perf-change/none

#28706 Bump version to 1.43.2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#28705 Fix unknown target behavior, add a test
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  test/core/channel/channel_stack_builder_test.cc
Labels: priority/P1, lang/core, release notes: no, bloat/none, perf-change/improvement

#28711 Channel stack builder name needs to be static
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  test/core/end2end/fuzzers/api_fuzzer_corpus/clusterfuzz-testcase-minimized-api_fuzzer-5180720131997696
Labels: lang/core, release notes: no, perf-change/medium, bloat/improvement

#28712 WorkSerializer:s/uint32_t/uint64_t
  src/core/lib/iomgr/work_serializer.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28695 sockaddr resolver: skip empty addresses in target URI
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/testcase-5560572032974848
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28696 Patch GRPCCallOptions for missing property copy
  src/objective-c/GRPCClient/GRPCCallOptions.h
  src/objective-c/GRPCClient/GRPCCallOptions.m
  src/objective-c/tests/BUILD
  src/objective-c/tests/Tests.xcodeproj/project.pbxproj
  src/objective-c/tests/UnitTests/GRPCCallOptionsTests.m
Labels: lang/ObjC, platform/iOS, release notes: no

#28719 Revert "cont. Add api listener test for k8s"
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/api_listener_test.py
Labels: release notes: no

#28709 xds/cleanup: make resource prefixes configurable via flags
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
Labels: release notes: no

#28708 Ensure conformance tests are always linked
  test/core/event_engine/BUILD
Labels: lang/core, area/build, release notes: no, bloat/none, perf-change/none

#28547 Cleanup host getter
  src/core/lib/security/authorization/cel_authorization_engine.cc
  src/core/lib/security/authorization/evaluate_args.cc
  src/core/lib/security/authorization/evaluate_args.h
  test/core/security/evaluate_args_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28407 Add experimental API for CRL checking support to gRPC C++ TlsCredentials
  include/grpcpp/security/tls_credentials_options.h
  src/cpp/common/tls_credentials_options.cc
  test/cpp/client/credentials_test.cc
  test/cpp/server/credentials_test.cc
Labels: lang/c++, area/security, release notes: yes, bloat/low, perf-change/none

#28290 Update docs for ServerAsyncResponseWriter::Finish object lifetimes
  include/grpcpp/impl/codegen/async_unary_call.h
Labels: lang/c++, area/documentation, release notes: no, bloat/none, perf-change/none

#28701 Upgrade PHP docker images to debian11
  templates/tools/dockerfile/interoptest/grpc_interop_php7/Dockerfile.template
  templates/tools/dockerfile/test/php73_zts_debian11_x64/Dockerfile.template
  templates/tools/dockerfile/test/php7_debian11_x64/Dockerfile.template
  tools/dockerfile/interoptest/grpc_interop_php7/Dockerfile
  tools/dockerfile/test/php73_zts_debian11_x64/Dockerfile
  tools/dockerfile/test/php7_debian11_x64/Dockerfile
  tools/internal_ci/linux/grpc_xds_php.sh
  tools/internal_ci/linux/grpc_xds_v3_php.sh
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/run_tests.py
Labels: lang/php, release notes: no, bloat/none, perf-change/none

#28726 run_tests.py print useful info for reproducing issues as epilogue.
  tools/run_tests/run_tests.py
Labels: release notes: no, bloat/none, perf-change/none

#28720 xds/cleanup: list leaked gcloud resources using API instead of gcloud command
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
Labels: release notes: no
