Repository grpc/grpc, pull requests merged in 2022-03, with the labels that each got.

#28980 Bloat fix for promise code
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, perf-change/improvement

#28988 Remove retry throttle data from global init
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/retry_throttle.cc
  src/core/ext/filters/client_channel/retry_throttle.h
  test/core/client_channel/retry_throttle_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28987 Remove subchannel pool from global init
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/global_subchannel_pool.cc
  src/core/ext/filters/client_channel/global_subchannel_pool.h
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28971 Fix memory leak in HTTP request security handshake cancellation
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  test/core/http/httpcli_test.cc
Labels: lang/core, release notes: yes, bloat/none, perf-change/none

#28991 Pin twine to 3.8.0 for Windows
  tools/run_tests/artifacts/build_artifact_python.bat
Labels: release notes: no, bloat/none

#28994 Delete dns resolver connectivity test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/resolvers/BUILD
  test/core/client_channel/resolvers/dns_resolver_connectivity_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28997 Fix cancellation on async server filters
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core, release notes: no, bloat/none

#28995 Fix iOS build
  src/core/lib/gprpp/time.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29001 Fix for cfstreams
  src/core/lib/gpr/sync_posix.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28986 A workaround for ring hash on channel id to randomize the channel id
  BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28978 [PSM interop] Expand the support of test config validation
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
  tools/run_tests/xds_k8s_test_driver/framework/helpers/skips.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/authz_test.py
  tools/run_tests/xds_k8s_test_driver/tests/security_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/retry_test.py
  tools/run_tests/xds_k8s_test_driver/tests/url_map/timeout_test.py
Labels: area/test, release notes: no, bloat/none, perf-change/none

#28998 Fix cancellation for promise based server filters
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#28969 [Backport][v1.44.x] Support musllinux binary wheels on x64 and x86
  test/distrib/python/test_packages.sh
  tools/distrib/python/grpcio_tools/README.rst
  tools/dockerfile/distribtest/python_alpine_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x86/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/Python, release notes: yes, bloat/none, perf-change/none

#28879 Revert "Revert "Add Python Reflection Client""
  doc/python/server_reflection.md
  doc/python/sphinx/grpc_reflection.rst
  doc/server_reflection_tutorial.md
  src/python/grpcio_reflection/grpc_reflection/v1alpha/proto_reflection_descriptor_database.py
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/_reflection_client_test.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
  src/python/grpcio_tests/tests/tests.json
Labels: lang/Python, release notes: no

#29003 retry: update comment to indicate transparent retries are implemented
  include/grpc/impl/codegen/grpc_types.h
Labels: lang/core, release notes: no, bloat/none

#29006 credentials_test: Add namespace
  test/core/security/credentials_test.cc
Labels: lang/core, release notes: no, bloat/none

#28973 Credentials: Use QsortCompare instead of strcmp for type comparison
  src/core/lib/security/credentials/credentials.h
Labels: lang/core, release notes: no, bloat/none, perf-change/medium

#29009 Fix for promise based helper
  src/core/lib/channel/promise_based_filter.cc
Labels: priority/P0/RELEASE BLOCKER, lang/core, release notes: no, bloat/none

#28924 Fix C# single-job distribtests jobs when version has no suffix (on master branch)
  src/csharp/build_nuget.sh
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: no

#27886 [C#] Add cancellation token overloads to streaming interfaces
  src/csharp/Grpc.Core.Api/Grpc.Core.Api.csproj
  src/csharp/Grpc.Core.Api/IAsyncStreamWriter.cs
Labels: lang/C#, priority/P0/RELEASE BLOCKER, release notes: yes, bloat/none

#29010 Respect the application returned status code and propagate that
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
Labels: lang/core, release notes: no, bloat/none

#29017 Revert "Respect the application returned status code and propagate that"
  src/core/lib/security/credentials/plugin/plugin_credentials.cc
Labels: lang/core, release notes: no, bloat/none

#29023 Revert "Revert "Revert "Add Python Reflection Client"""
  doc/python/server_reflection.md
  doc/python/sphinx/grpc_reflection.rst
  doc/server_reflection_tutorial.md
  src/python/grpcio_reflection/grpc_reflection/v1alpha/proto_reflection_descriptor_database.py
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/_reflection_client_test.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
  src/python/grpcio_tests/tests/tests.json
Labels: lang/Python, priority/P0, priority/P0/RELEASE BLOCKER, release notes: no

#29026 Bump core version to 23.0.0 for upcoming release
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: yes, bloat/none

#29004 [PSM interop] Double the operation timeout
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
Labels: release notes: no, area/psm interop

#28922 Remove idempotent/cacheable requests
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/impl/codegen/client_context.h
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client/http_client_filter.h
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/metadata_batch.h
  src/cpp/client/client_context.cc
  src/objective-c/GRPCClient/GRPCCall.m
  src/objective-c/GRPCClient/GRPCCallLegacy.m
  src/objective-c/GRPCClient/GRPCTypes.h
  src/objective-c/GRPCClient/private/GRPCCore/GRPCCallInternal.m
  src/objective-c/ProtoRPC/ProtoRPC.m
  src/objective-c/examples/InterceptorSample/InterceptorSample/CacheInterceptor.h
  src/objective-c/examples/InterceptorSample/InterceptorSample/CacheInterceptor.m
  src/objective-c/examples/InterceptorSample/InterceptorSample/ViewController.m
  src/objective-c/tests/UnitTests/APIv2Tests.m
  src/objective-c/tests/UnitTests/GRPCClientTests.m
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/idempotent_request.cc
  test/core/end2end/tests/simple_cacheable_request.cc
  test/core/surface/server_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: yes, perf-change/none, bloat/improvement

#29015 Reset shutdown_error at ByteStream.Orphan
  src/core/lib/transport/byte_stream.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28872 Print debug info about prepare_build_windows.bat timing
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
Labels: release notes: no, bloat/none, perf-change/none

#28946 Delete end2end nosec tests
  .gitattributes
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  templates/test/core/end2end/end2end_nosec_tests.cc.template
  test/core/end2end/BUILD
  test/core/end2end/end2end_nosec_tests.cc
  test/core/end2end/gen_build_yaml.py
  test/core/end2end/generate_tests.bzl
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29007 Fixed use-of-uninitialized-value with msan
  src/core/lib/gprpp/status_helper.cc
Labels: kind/bug, lang/core, release notes: no, bloat/none, perf-change/none

#29039 Exclude noisy benchmarks from labelling computations
  tools/profiling/microbenchmarks/bm_diff/bm_diff.py
Labels: release notes: no, bloat/none, perf-change/none

#29038 Repo Manager - Esun
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#29013 Enable ipv4 end2end tests inside Google
  test/core/end2end/generate_tests.bzl
Labels: area/test, lang/core, release notes: no, bloat/none, perf-change/none

#29029 Removed jessie-based distribtest
  tools/dockerfile/distribtest/cpp_jessie_x64/Dockerfile
  tools/dockerfile/distribtest/csharp_jessie_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: area/test, area/build, release notes: no, bloat/none, perf-change/none

#29051 Docker image cleanup (prepare for ARM64 tests)
  templates/tools/dockerfile/apt_get_basic.include
  templates/tools/dockerfile/interoptest/grpc_interop_python/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile.template
  templates/tools/dockerfile/python_debian11_base.include
  templates/tools/dockerfile/test/cxx_debian11_openssl102_x64/Dockerfile.template
  templates/tools/dockerfile/test/cxx_debian11_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.template
  tools/dockerfile/grpc_artifact_android_ndk/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharp/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_csharpcoreclr/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_cxx/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_nodepurejs/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_php7/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_python/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_pythonasyncio/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/csharp_debian11_x64/Dockerfile
  tools/dockerfile/test/cxx_debian11_openssl102_x64/Dockerfile
  tools/dockerfile/test/cxx_debian11_x64/Dockerfile
  tools/dockerfile/test/cxx_debian11_x86/Dockerfile
  tools/dockerfile/test/php7_debian11_x64/Dockerfile
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/dockerfile/test/ruby_debian11_x64/Dockerfile
  tools/dockerfile/test/sanity/Dockerfile
Labels: release notes: no, bloat/none, perf-change/none

#28873 Fix fetching CXX variable in setup.py
  setup.py
Labels: lang/Python, release notes: yes

#28962 Fix grpc_binder_transport::registered_stream data race
  src/core/ext/transport/binder/transport/binder_stream.h
  src/core/ext/transport/binder/transport/binder_transport.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#28970 Add resource quota for secure endpoint
  BUILD
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/secure_endpoint.h
  src/core/lib/security/transport/security_handshaker.cc
  test/core/security/secure_endpoint_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/improvement

#29035 [BinderTransport] add authority to initial metadata if missing
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  test/core/transport/binder/wire_reader_test.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none

#29065 Bump version to 1.45.0-pre1 (on v1.45.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none

#29054 Prepare async_end2end_test for graceful goaway
  test/cpp/end2end/async_end2end_test.cc
Labels: release notes: no, bloat/none, perf-change/none

#29064 Bump version to 1.46.0-dev (on master branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#29068 Channelz Service Test Shutdown
  test/cpp/end2end/channelz_service_test.cc
Labels: lang/c++, release notes: no, bloat/none

#29053 HTTP2: Don't throttle pings from the server
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: yes, bloat/none, perf-change/none

#29067 HTTP2: No need to run cancelling logic on servers when receiving GOAWAY
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29070 ObjC: End2EndTests fix
  src/objective-c/tests/CronetTests/CoreCronetEnd2EndTests.mm
Labels: release notes: no

#28979 resolver: refactor common code for polling-based resolvers
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/polling_resolver.cc
  src/core/ext/filters/client_channel/resolver/polling_resolver.h
  src/python/grpcio/grpc_core_dependencies.py
  src/python/grpcio_tests/tests/unit/_dns_resolver_test.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, perf-change/medium

#28735 Enable ccache for selected windows builds
  cmake/ccache.cmake
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
  tools/internal_ci/helper_scripts/prepare_ccache.bat
  tools/internal_ci/windows/grpc_build_artifacts.bat
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
Labels: release notes: no, bloat/none, perf-change/none

#28912 Fix C# single-job distribtests jobs when version has no suffix (on v1.44.x branch)
  src/csharp/build_nuget.sh
Labels: lang/C#, release notes: no

#29076 More tests prep for graceful goaway
  test/cpp/end2end/client_interceptors_end2end_test.cc
  test/cpp/end2end/server_interceptors_end2end_test.cc
  test/cpp/microbenchmarks/fullstack_fixtures.h
Labels: lang/c++, release notes: no, bloat/none, perf-change/improvement

#29077 Release notes generator script: add retries with exponential backoff
  tools/release/release_notes.py
Labels: area/documentation, release notes: no, lang/all, bloat/none, perf-change/none

#29037 Add per-call memory bloat report to CI
  tools/internal_ci/linux/grpc_memory_diff.sh
  tools/internal_ci/linux/grpc_memory_diff_in_docker.sh
  tools/profiling/memory/memory_diff.py
  tools/run_tests/python_utils/check_on_pr.py
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29083 Remove decompression from the minimal http stack
  src/core/ext/filters/http/http_filters_plugin.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29081 Add kokoro job cfg for grpc_memory_diff
  tools/internal_ci/linux/pull_request/grpc_memory_diff.cfg
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#28963 Switch .py shebang to python3
  tools/distrib/c-ish/check_documentation.py
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/distribtest_targets.py
  tools/run_tests/artifacts/package_targets.py
  tools/run_tests/performance/bq_upload_result.py
  tools/run_tests/performance/patch_scenario_results_schema.py
  tools/run_tests/python_utils/antagonist.py
  tools/run_tests/python_utils/upload_rbe_results.py
  tools/run_tests/python_utils/upload_test_results.py
  tools/run_tests/run_grpclb_interop_tests.py
  tools/run_tests/run_performance_tests.py
  tools/run_tests/run_tests_matrix.py
  tools/run_tests/task_runner.py
Labels: release notes: no, bloat/none, perf-change/none

#29075 To donnadionne
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none

#29091 GracefulGoaway: Fix shutdown_finishes_tags test
  test/core/end2end/tests/shutdown_finishes_tags.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29025 retry: fix bug where we incorrectly replayed a completed send_message op
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/ext/filters/client_channel/retry_filter.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/retry_send_recv_batch.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high

#29024 refactor health check client to allow reuse for OOB backend metric reporting
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/health/health_check_client.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, perf-change/improvement

#28958 Revert "Revert "Convert max_age filter to promises (#28904)" (#28957)"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/idle_filter_state.cc
  src/core/ext/filters/channel_idle/idle_filter_state.h
  src/core/ext/filters/client_idle/client_idle_filter.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/max_age/max_age_filter.h
  src/core/lib/promise/try_seq.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_idle/idle_filter_state_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: release notes: no, bloat/low, perf-change/medium, per-call-memory/neutral

#29047 Update target frameworks in C# examples
  examples/csharp/Helloworld/Greeter/Greeter.csproj
  examples/csharp/Helloworld/GreeterClient/GreeterClient.csproj
  examples/csharp/Helloworld/GreeterServer/GreeterServer.csproj
  examples/csharp/RouteGuide/RouteGuide/RouteGuide.csproj
  examples/csharp/RouteGuide/RouteGuideClient/RouteGuideClient.csproj
  examples/csharp/RouteGuide/RouteGuideServer/RouteGuideServer.csproj
  examples/csharp/Xds/Greeter/Greeter.csproj
  examples/csharp/Xds/GreeterClient/GreeterClient.csproj
  examples/csharp/Xds/GreeterServer/GreeterServer.csproj
Labels: lang/C#, release notes: no

#28860 Introduce ChannelArgs C++ type
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/avl/avl.h
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/channel_args_preconditioning.cc
  src/core/lib/channel/channel_args_preconditioning.h
  src/core/lib/resource_quota/api.cc
  src/core/lib/resource_quota/resource_quota.h
  test/core/avl/avl_fuzzer.cc
  test/core/avl/avl_fuzzer.proto
  test/core/avl/avl_fuzzer_corpus/crash-060a9a897130ba7bb2f4313daa604c47f7c7c907
  test/core/avl/avl_fuzzer_corpus/crash-1fbe8edb82f9a7aa4c2dffe4a6eaa40c34b1e360
  test/core/channel/BUILD
  test/core/channel/channel_args_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/medium, perf-change/none

#29105 Revert "Revert "Revert "Convert max_age filter to promises (#28904)" (#28957)""
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/client_idle/client_idle_filter.cc
  src/core/ext/filters/client_idle/idle_filter_state.cc
  src/core/ext/filters/client_idle/idle_filter_state.h
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/max_age/max_age_filter.h
  src/core/lib/promise/try_seq.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_idle/idle_filter_state_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no

#29103 Fix prefork handler register's default behavior
  setup.py
Labels: lang/Python, release notes: yes, bloat/none, perf-change/none, per-call-memory/neutral

#29062 Use a non-root user in Node interop docker images
  templates/tools/dockerfile/interoptest/grpc_interop_node/Dockerfile.template
  templates/tools/dockerfile/interoptest/grpc_interop_nodepurejs/Dockerfile.template
  templates/tools/dockerfile/node_deps.include
  tools/dockerfile/interoptest/grpc_interop_node/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_node/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_nodepurejs/Dockerfile
  tools/dockerfile/interoptest/grpc_interop_nodepurejs/build_interop.sh
  tools/run_tests/run_interop_tests.py
Labels: lang/node, area/interop, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29088 Expose channel stack type to builder
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/lib/channel/channel_stack_builder.cc
  src/core/lib/channel/channel_stack_builder.h
  src/core/lib/channel/channel_stack_builder_impl.cc
  src/core/lib/channel/channel_stack_builder_impl.h
  src/core/lib/channel/connected_channel.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/channel_init.cc
  src/core/lib/surface/channel_init.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/channel/channel_stack_builder_test.cc
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/end2end/tests/filter_causes_close.cc
  test/core/end2end/tests/filter_context.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/end2end/tests/filter_latency.cc
  test/core/xds/xds_channel_stack_modifier_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/medium, per-call-memory/neutral

#29034 Update the scenario results to include start and end time for a test scenario.
  src/proto/grpc/testing/BUILD
  src/proto/grpc/testing/control.proto
  test/cpp/qps/driver.cc
Labels: lang/c++, release notes: no, bloat/none, perf-change/medium, per-call-memory/neutral

#29102 Remove C# Legacy (a.k.a. "Classic") csproj example
  examples/csharp/HelloworldLegacyCsproj/Greeter.sln
  examples/csharp/HelloworldLegacyCsproj/Greeter/.gitignore
  examples/csharp/HelloworldLegacyCsproj/Greeter/Greeter.csproj
  examples/csharp/HelloworldLegacyCsproj/Greeter/Properties/AssemblyInfo.cs
  examples/csharp/HelloworldLegacyCsproj/Greeter/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/.gitignore
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/GreeterClient.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/Program.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/Properties/AssemblyInfo.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterClient/packages.config
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/.gitignore
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/GreeterServer.csproj
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/Program.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/Properties/AssemblyInfo.cs
  examples/csharp/HelloworldLegacyCsproj/GreeterServer/packages.config
  examples/csharp/HelloworldLegacyCsproj/README.md
  src/csharp/BUILD-INTEGRATION.md
Labels: lang/C#, release notes: yes

#29120 [Backport] Remove GRPC_ENABLE_FORK_SUPPORT from setup.py (#29103)
  setup.py
Labels: lang/Python, release notes: no

#29122 Revert "Update the scenario results to include start and end time for a test scenario."
  src/proto/grpc/testing/BUILD
  src/proto/grpc/testing/control.proto
  test/cpp/qps/driver.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29112 TrySeq fix
  src/core/lib/promise/try_seq.h
Labels: priority/P0/RELEASE BLOCKER, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/low, perf-change/improvement, per-call-memory/neutral

#28570 [Objc] add ios libuv timer test
  bazel/grpc_deps.bzl
  src/objective-c/tests/ThirdPartyTests/Libuv/BUILD
  src/objective-c/tests/ThirdPartyTests/Libuv/LibuvTimerTests.m
  third_party/libuv.BUILD
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/ObjC, platform/iOS, release notes: no, bloat/none, perf-change/none

#29119 Backport "decrease verbosity of alts handshaker logs which can happen during cancellation (#29058)" to 1.45.x
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29121 Backport "Include ADS stream error in XDS error updates (#29014)" to 1.45.x
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/xds/xds_client.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++, lang/core, release notes: yes, bloat/none, perf-change/improvement

#29113 Reland channel args C++ type
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/avl/avl.h
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/channel_args_preconditioning.cc
  src/core/lib/channel/channel_args_preconditioning.h
  src/core/lib/resource_quota/api.cc
  src/core/lib/resource_quota/resource_quota.h
  test/core/avl/avl_fuzzer.cc
  test/core/avl/avl_fuzzer.proto
  test/core/avl/avl_fuzzer_corpus/crash-060a9a897130ba7bb2f4313daa604c47f7c7c907
  test/core/avl/avl_fuzzer_corpus/crash-1fbe8edb82f9a7aa4c2dffe4a6eaa40c34b1e360
  test/core/channel/BUILD
  test/core/channel/channel_args_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/medium, perf-change/improvement, per-call-memory/neutral

#29114 Single set pointer
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/gprpp/single_set_ptr.h
  test/core/gprpp/BUILD
  test/core/gprpp/single_set_ptr_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29125 Small C++ warning cleanup
  examples/cpp/route_guide/route_guide_callback_client.cc
  test/cpp/end2end/channelz_service_test.cc
Labels: area/core, lang/c++, area/test, lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29139 Backport #29112 into v1.45 release
  src/core/lib/promise/try_seq.h
Labels: lang/core, release notes: no, bloat/none

#29131 exclude arm64 tests from build_submodule_at_head
  tools/internal_ci/linux/grpc_build_submodule_at_head.sh
Labels: release notes: no, lang/all, bloat/none, perf-change/none, per-call-memory/neutral

#29140 Remove deprecated use_cfstream arg from gRPC build system
  bazel/grpc_build_system.bzl
Labels: area/build, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29144 xds: optimize ADS requests after stream reconnection
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29143 xds: change XdsClient watcher API to use absl::Status
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_server_config_fetcher.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29145 We must always post a recv initial metadata
  include/grpcpp/impl/codegen/sync_stream.h
Labels: lang/c++, release notes: no, bloat/none, perf-change/improvement, per-call-memory/neutral

#29095 Convert grpc_call to C++
  src/core/lib/gprpp/cpp_impl_of.h
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/high, per-call-memory/neutral

#28614 C# macos single-job distribtest
  src/csharp/build_nuget.sh
  tools/internal_ci/macos/grpc_distribtests_csharp.cfg
  tools/internal_ci/macos/grpc_distribtests_csharp.sh
  tools/internal_ci/macos/pull_request/grpc_distribtests_csharp.cfg
  tools/run_tests/artifacts/package_targets.py
Labels: lang/C#, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29152 C# windows single-job distribtest
  src/csharp/build_nuget.sh
  tools/internal_ci/windows/grpc_distribtests_csharp.bat
  tools/internal_ci/windows/grpc_distribtests_csharp.cfg
  tools/internal_ci/windows/pull_request/grpc_distribtests_csharp.cfg
  tools/run_tests/artifacts/package_targets.py
Labels: lang/C#, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29154 Bump version to 1.45.0 (on v1.45.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none

#29146 ServerConfigSelector filter: Always return UNAVAILABLE status on errors
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29153 Add grpc_distribtests_python for windows
  tools/internal_ci/windows/grpc_distribtests_python.bat
  tools/internal_ci/windows/grpc_distribtests_python.cfg
  tools/internal_ci/windows/pull_request/grpc_distribtests_python.cfg
Labels: lang/Python, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29150 Use separate issue queues for each wrapped language
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/bug_report_csharp.md
  .github/ISSUE_TEMPLATE/bug_report_objc.md
  .github/ISSUE_TEMPLATE/bug_report_php.md
  .github/ISSUE_TEMPLATE/bug_report_python.md
  .github/ISSUE_TEMPLATE/bug_report_ruby.md
  .github/change_repo_manager.sh
Labels: release notes: no, area/infra, bloat/none, perf-change/none, per-call-memory/neutral

#29090 xds: accept resources wrapped in a Resource message
  src/core/ext/xds/xds_api.cc
  src/proto/grpc/testing/xds/v3/discovery.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29159 remove build.gn... again
  BUILD.gn
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29126 Simplify fallback test client and parameterize fallback deadline
  test/cpp/interop/BUILD
  test/cpp/interop/grpclb_fallback_test.cc
Labels: lang/c++, area/test, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29158 Add special logging for infinite times
  src/core/lib/gprpp/time.cc
  test/core/gprpp/time_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29155 Make sure to always receive initial metadata in ruby
  src/ruby/lib/grpc/generic/active_call.rb
Labels: lang/ruby, release notes: yes

#29156 Try fix csharp macos distribtests
  tools/run_tests/artifacts/package_targets.py
Labels: lang/C#, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29170 Fix C# "dotnet restore" on grpc-win2016 kokoro workers.
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: lang/C#, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29171 Avoid collision with pre-installed protoc on grpc-win2016 workers
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29160 Remove epollex poller
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  build_handwritten.yaml
  config.m4
  config.w32
  doc/core/grpc-polling-engines.md
  doc/environment_variables.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/debug/stats_data.cc
  src/core/lib/debug/stats_data.h
  src/core/lib/debug/stats_data.yaml
  src/core/lib/debug/stats_data_bq_schema.sql
  src/core/lib/iomgr/ev_epollex_linux.cc
  src/core/lib/iomgr/ev_epollex_linux.h
  src/core/lib/iomgr/ev_posix.cc
  src/core/lib/iomgr/is_epollexclusive_available.cc
  src/core/lib/iomgr/is_epollexclusive_available.h
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/sys_epoll_wrapper.h
  src/python/grpcio/grpc_core_dependencies.py
  test/build/check_epollexclusive.c
  test/core/end2end/generate_tests.bzl
  test/core/iomgr/BUILD
  test/core/iomgr/ev_epollex_linux_test.cc
  tools/dockerfile/grpc_clang_tidy/clang_tidy_all_the_things.sh
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
  tools/run_tests/helper_scripts/build_cxx.sh
  tools/run_tests/performance/massage_qps_stats.py
  tools/run_tests/performance/scenario_result_schema.json
  tools/run_tests/run_tests.py
Labels: lang/core, release notes: yes, perf-change/none, bloat/improvement, per-call-memory/neutral

#29162 passing repo manager to markdroth
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none, per-call-memory/neutral

#29031 HTTP Client Filter --> promises
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client/http_client_filter.h
  src/core/ext/filters/http/http_filters_plugin.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/promise/call_push_pull.h
  src/core/lib/promise/detail/status.h
  src/core/lib/transport/transport.h
  test/cpp/microbenchmarks/bm_call_create.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/medium, perf-change/high, per-call-memory/increase

#29173 Add missing include
  src/core/lib/gpr/tls.h
Labels: area/core, lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29050 HTTP2: Add graceful goaway
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/surface/server.cc
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/core/transport/chttp2/simple_request.headers
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes, bloat/none, perf-change/high, per-call-memory/neutral

#29060 Add Java 1.45.0 to the interop client matrix.
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, perf-change/none

#28697 adding a GCR image for java 1.44.0 for compatibility test
  tools/interop_matrix/client_matrix.py
Labels: area/interop, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29179 Backport #29170 into v1.45.x
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: release notes: no, bloat/none, perf-change/none

#29180 Backport #29171 to v1.45.x: avoid collision with pre-installed protoc on grpc-win2016 workers
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: release notes: no, bloat/none, perf-change/none

#28750 Initial structure for RLS
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls_config.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls_config.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls_config.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls_config.upbdefs.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/lib/json/json_util.h
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/route.proto
  src/python/grpcio/grpc_core_dependencies.py
  src/upb/gen_build_yaml.py
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/core/xds/google_mesh_ca_certificate_provider_factory_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/rls_server.cc
  test/cpp/end2end/rls_server.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/medium, perf-change/high, per-call-memory/neutral

#29183 Fix csharp single-job distribtest on grpc-win2016
  tools/internal_ci/windows/grpc_distribtests_csharp.bat
Labels: lang/C#, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29187 Revert "HTTP2: Add graceful goaway"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/surface/server.cc
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/core/transport/chttp2/simple_request.headers
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29189 Revert "Initial structure for RLS"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls_config.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls_config.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls_config.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls_config.upbdefs.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/lib/json/json_util.h
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/route.proto
  src/python/grpcio/grpc_core_dependencies.py
  src/upb/gen_build_yaml.py
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/core/xds/google_mesh_ca_certificate_provider_factory_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/rls_server.cc
  test/cpp/end2end/rls_server.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29138 health checking: cancel stream if response message fails to parse
  src/core/ext/filters/client_channel/health/health_check_client.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.h
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29190 Revert "Revert "HTTP2: Add graceful goaway (#29050)" (#29187)"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/surface/server.cc
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/core/transport/chttp2/simple_request.headers
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/low, perf-change/high, per-call-memory/neutral

#29195 fix path to xds_end2end_test
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29204 Start all Core/C++ bugs as untriaged
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29200 xDS RLS implementation
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls_config.upb.c
  src/core/ext/upb-generated/src/proto/grpc/lookup/v1/rls_config.upb.h
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls_config.upbdefs.c
  src/core/ext/upbdefs-generated/src/proto/grpc/lookup/v1/rls_config.upbdefs.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/lib/json/json_util.h
  src/proto/grpc/lookup/v1/BUILD
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/route.proto
  src/python/grpcio/grpc_core_dependencies.py
  src/upb/gen_build_yaml.py
  test/core/client_channel/rls_lb_config_parser_test.cc
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/core/xds/google_mesh_ca_certificate_provider_factory_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/rls_server.cc
  test/cpp/end2end/rls_server.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/medium, perf-change/none, per-call-memory/neutral

#29209 TCP Async Connect: Fix Heap use-after-free
  src/core/lib/iomgr/tcp_client_posix.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#29210 Delete unnecessary space
  src/core/ext/transport/binder/client/endpoint_binder_pool.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29212 Make sure the thread is attached to JVM before AIBinder_transact
  src/core/ext/transport/binder/utils/ndk_binder.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29198 client channel: record call completion even if recv_trailing_metadata was not started
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/lib/channel/call_tracer.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/ext/filters/census/BUILD
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, perf-change/high, bloat/improvement, per-call-memory/neutral

#29174 xds_cluster_resolver: fix bug that caused us to incorrectly reuse priority child names
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29213 Fix for cancelled calls
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29194 client channel: improve trace logging
  doc/environment_variables.md
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: release notes: no, bloat/low, perf-change/none, per-call-memory/neutral

#29124 Softfail when receiving a X509_V_ERR_UNABLE_TO_GET_CRL error
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/crl_ssl_transport_security_test.cc
Labels: area/security, lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29188 priority LB: avoid possibility of rescheduling a timer before it fires
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/improvement, per-call-memory/neutral

#29203 weighted_target_lb: avoid possibility of rescheduling a timer before it fires
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/high, per-call-memory/neutral

#29191 Add Documentation for Supported Bazel Versions
  bazel/supported_versions.txt
  doc/bazel_support.md
  templates/doc/bazel_support.md.template
  test/distrib/bazel/run_bazel_distrib_test.sh
  tools/buildgen/plugins/supported_bazel_versions.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
  tools/release/update_supported_bazel_versions.sh
Labels: area/documentation, area/build, release notes: yes, lang/all, bloat/none, perf-change/none, per-call-memory/neutral

#29184 Upgrade Python versions in Windows CI
  tools/internal_ci/helper_scripts/install_python_interpreters.ps1
Labels: lang/Python, platform/Windows, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29186 Upgrade Python versions for CI Dockerfiles
  templates/tools/dockerfile/compile_python_310.include
  templates/tools/dockerfile/compile_python_36.include
  templates/tools/dockerfile/compile_python_37.include
  templates/tools/dockerfile/compile_python_38.include
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
Labels: lang/Python, release notes: no, bloat/none, perf-change/improvement, per-call-memory/neutral

#29149 Make grpc_core::Call an interface type
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
Labels: lang/core, release notes: no, bloat/none, perf-change/improvement, per-call-memory/neutral

#29234 change repo manager to nicolasnoble
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, perf-change/none, per-call-memory/neutral

#29127 Reland max_age filter -> promises
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/idle_filter_state.cc
  src/core/ext/filters/channel_idle/idle_filter_state.h
  src/core/ext/filters/client_idle/client_idle_filter.cc
  src/core/ext/filters/max_age/max_age_filter.cc
  src/core/ext/filters/max_age/max_age_filter.h
  src/core/lib/gprpp/single_set_ptr.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_idle/idle_filter_state_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/medium, perf-change/medium, per-call-memory/neutral

#29147 Enable authz_test for C++ and Python
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29028 interop-test: port metadata_filter_test case to x8s
  tools/run_tests/xds_k8s_test_driver/tests/url_map/metadata_filter_test.py
Labels: area/test, release notes: no

#29239 Backport #29160 to v1.45.x: Switched to epoll1 as a default polling engine for Linux
  src/core/lib/iomgr/ev_posix.cc
Labels: lang/core, release notes: yes, bloat/none, perf-change/none

#29236 [PSM interop] Change restart policy to Never
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
Labels: release notes: no

#29229 Revert "Fix prefork handler register's default behavior"
  setup.py
Labels: lang/Python, release notes: yes

#29230 Revert "[Backport] Remove GRPC_ENABLE_FORK_SUPPORT from setup.py (#29103)"
  setup.py
Labels: release notes: no

#29241 Backport #29188 to v1.45.x: priority LB: avoid possibility of rescheduling a timer before it fires
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/medium

#29242 Backport #29198 to v1.45.x: client channel: record call completion even if recv_trailing_metadata was not started
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/lib/channel/call_tracer.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/ext/filters/census/BUILD
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, perf-change/medium

#29243 Backport #29198 to v1.45.x: weighted_target_lb: avoid possibility of rescheduling a timer before it fires
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/medium

#29224 Fix double-space in xmldoc generation.
  src/compiler/csharp_generator.cc
  src/csharp/Grpc.Examples/MathGrpc.cs
  src/csharp/Grpc.HealthCheck/HealthGrpc.cs
  src/csharp/Grpc.IntegrationTesting/BenchmarkServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/EmptyServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/MetricsGrpc.cs
  src/csharp/Grpc.IntegrationTesting/ReportQpsScenarioServiceGrpc.cs
  src/csharp/Grpc.IntegrationTesting/TestGrpc.cs
  src/csharp/Grpc.IntegrationTesting/WorkerServiceGrpc.cs
  src/csharp/Grpc.Reflection/ReflectionGrpc.cs
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29240 Backport #29213 to v1.45.x: Fix for cancelled calls
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/medium

#29231 xds: NACK EDS resources with duplicate localities in the same priority
  src/core/ext/xds/xds_endpoint.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, perf-change/none, bloat/improvement, per-call-memory/neutral

#29244 backport to 1.45: xds_cluster_resolver: fix bug that caused us to incorrectly reuse priority child names
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, perf-change/none

#29176 Handle SSL_ERROR_WANT_WRITE error
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/core/tsi/transport_security_interface.h
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core, release notes: yes, bloat/none, perf-change/none, per-call-memory/neutral

#29232 Change the unsupported polling strategy log for forking to GPR_INFO
  src/core/lib/iomgr/fork_posix.cc
Labels: lang/core, release notes: yes, bloat/none, perf-change/none, per-call-memory/neutral

#29252 priority LB: don't update picker while update is in flight
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/medium, per-call-memory/neutral

#29251 xds: apply initial backoff even if we got a response on the previous call
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29085 Add Python Reflection Client
  doc/python/server_reflection.md
  doc/python/sphinx/grpc_reflection.rst
  doc/server_reflection_tutorial.md
  src/python/grpcio_reflection/grpc_reflection/v1alpha/proto_reflection_descriptor_database.py
  src/python/grpcio_tests/tests/reflection/BUILD.bazel
  src/python/grpcio_tests/tests/reflection/_reflection_client_test.py
  src/python/grpcio_tests/tests/reflection/_reflection_servicer_test.py
  src/python/grpcio_tests/tests/tests.json
Labels: lang/Python, release notes: yes
