Repository grpc/grpc, pull requests merged in 2022-10, with the labels that each got.

#31194 Remove GRPC_ERROR related macro usage
  src/core/ext/filters/http/message_compress/message_compress_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/iomgr/error.h
  src/core/lib/security/transport/security_handshaker.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/transport/transport.cc
  src/cpp/ext/filters/census/client_filter.cc
  test/core/end2end/fixtures/h2_sockpair_with_minstack.cc
  test/core/http/request_fuzzer.cc
  test/core/http/response_fuzzer.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/cpp/microbenchmarks/bm_call_create.cc
  test/cpp/microbenchmarks/bm_exec_ctx.cc
  test/cpp/microbenchmarks/bm_pollset.cc
Labels: lang/c++, kind/internal cleanup, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31190 xds_k8s_test_driver: Allow racy Python in authz test
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/authz_test.py
Labels: release notes: no

#31118 [slice] Remove murmur implementation
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/lib/event_engine/memory_allocator.cc
  src/core/lib/event_engine/slice.cc
  src/core/lib/gpr/murmur_hash.cc
  src/core/lib/gpr/murmur_hash.h
  src/core/lib/iomgr/ev_poll_posix.cc
  src/core/lib/slice/slice.cc
  src/core/lib/slice/slice.h
  src/core/lib/slice/slice_internal.h
  src/core/lib/slice/slice_refcount.cc
  src/core/lib/slice/slice_refcount.h
  src/core/lib/slice/slice_refcount_base.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/compression/message_compress_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
  test/core/filters/filter_fuzzer.cc
  test/core/gpr/BUILD
  test/core/gpr/murmur_hash_test.cc
  test/core/transport/binder/end2end/fuzzers/client_fuzzer.cc
  test/core/transport/binder/end2end/fuzzers/server_fuzzer.cc
  test/core/transport/chttp2/hpack_encoder_test.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31207 [experiments] Extend some expiry dates
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31196 xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.50.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#31197 xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.49.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#31198 xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.48.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#31200 xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.46.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_python_test_in_docker.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#31210 [flaky] Reduce test size
  test/core/event_engine/thread_pool_test.cc
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31211 Fix bug in epoll1 poller to ensure it can track errors only if the kernel supports error-queue.
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31214 [CPP] xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#31218 [CPP] xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.48.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no, area/psm interop

#31219 [CPP] xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.47.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no, area/psm interop

#31220 [CPP] xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.46.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no, area/psm interop

#31221 [CPP] xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.45.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no, area/psm interop

#31212 [experiments] Dont check expiry dates in sanity
  tools/codegen/core/gen_experiments.py
  tools/distrib/gen_experiments_and_format.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31180 [chttp2] Fix performance regression for small stream sends
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  test/core/transport/chttp2/flow_control_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31217 [CPP] xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.49.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#31216 [CPP] xDS interop GCE framework: pin grpcio-tools to use protobuf 3.x (v1.50.x backport)
  tools/internal_ci/linux/grpc_xds_bazel_test_in_docker.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#31006 Remove `include/grpcpp/impl/codegen/client_context.h`
  doc/cpp/pending_api_cleanups.md
  include/grpcpp/client_context.h
  include/grpcpp/impl/codegen/client_context.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/ios/CronetTests/CppCronetEnd2EndTests.mm
Labels: lang/c++, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30622 [sleep] Add a test for robustness with errant event engines
  build_autogenerated.yaml
  src/core/lib/promise/sleep.cc
  test/core/event_engine/BUILD
  test/core/event_engine/mock_event_engine.h
  test/core/promise/BUILD
  test/core/promise/sleep_test.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31226 [promises] Fix cronet tests
  src/core/lib/channel/promise_based_filter.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31235 Add testonly attribute to mock_event_engine
  test/core/event_engine/BUILD
Labels: lang/core, release notes: no

#31224 XdsClient: avoid nesting result in XdsResourceTypeImpl
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type_impl.h
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  test/core/xds/xds_client_test.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31139 Python virtualenv dockerfile cleanup
  templates/tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile.template
  templates/tools/dockerfile/python_deps.include
  templates/tools/dockerfile/test/php73_zts_debian11_x64/Dockerfile.template
  templates/tools/dockerfile/test/python_alpine_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_debian11_arm64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_debian11_x64/Dockerfile.template
  templates/tools/dockerfile/xds_interop_deps.include
  tools/dockerfile/interoptest/grpc_interop_http2/Dockerfile
  tools/dockerfile/test/php73_zts_debian11_x64/Dockerfile
  tools/dockerfile/test/python_alpine_x64/Dockerfile
  tools/dockerfile/test/ruby_debian11_arm64/Dockerfile
  tools/dockerfile/test/ruby_debian11_x64/Dockerfile
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31087 Revert "Revert "Remove `include/grpcpp/impl/codegen/client_callback.h`""
  include/grpcpp/impl/codegen/client_callback.h
  include/grpcpp/support/client_callback.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31236 Release secure channel credentials in Python AioChannel
  src/python/grpcio/grpc/_cython/_cygrpc/aio/channel.pyx.pxi
Labels: kind/bug, lang/Python, release notes: no

#31208 [exec-ctx] Keep grpc alive if an exec ctx is on the stack
  src/core/lib/surface/init.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31209 [promises] Reduce bloat for promise_based_filter
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31223 Move PSM benchmarks to a separated cluster.
  tools/internal_ci/linux/grpc_psm_performance_gke_experiment.sh
Labels: bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31234 [event_engine] Improve scaling in threadpool
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/event_engine/executor/threaded_executor.cc
  src/core/lib/event_engine/executor/threaded_executor.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/event_engine/thread_pool.cc
  src/core/lib/event_engine/thread_pool.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/tests/hpack_size.cc
  test/core/event_engine/thread_pool_test.cc
  test/core/event_engine/windows/iocp_test.cc
  test/core/event_engine/windows/win_socket_test.cc
  test/cpp/microbenchmarks/BUILD
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#31225 Removed no_error_on_hotpath
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/error.h
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/no_error_on_hotpath.cc
Labels: kind/internal cleanup, area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31242 client_lb_end2end_test: update failure regex to include "Socket closed"
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31025 xDS cluster resource type: use ValidationErrors and add unit test
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/lib/json/json_object_loader.cc
  test/core/client_channel/BUILD
  test/core/client_channel/outlier_detection_lb_config_parser_test.cc
  test/core/json/json_object_loader_test.cc
  test/core/util/BUILD
  test/core/util/scoped_env_var.h
  test/core/xds/BUILD
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_common_types_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_csds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_outlier_detection_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  test/cpp/end2end/xds/xds_rls_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31252 OpenCensus: Ability to globally disable stats and tracing
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/filters/census/server_filter.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31250 Update stream leak test to use transport counter instead of iomgr object counter
  test/core/transport/chttp2/stream_leak_with_queued_flow_control_update_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31253 GCP Observability: Disable OpenCensus Stats/Tracing if the config doesn't enable them
  src/cpp/ext/gcp/observability.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31231 [event_engine] Move security executor usage to event engine
  BUILD
  src/cpp/client/secure_credentials.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31061 Remove `include/grpcpp/impl/codegen/config.h`
  include/grpcpp/channel.h
  include/grpcpp/ext/server_load_reporting.h
  include/grpcpp/impl/codegen/config.h
  include/grpcpp/resource_quota.h
  include/grpcpp/support/config.h
  test/cpp/grpclb/grpclb_api_test.cc
  test/cpp/ios/CronetTests/CppCronetEnd2EndTests.mm
  test/cpp/ios/CronetTests/TestHelper.h
  test/cpp/ios/CronetTests/TestHelper.mm
  test/cpp/server/server_builder_test.cc
  test/cpp/server/server_builder_with_socket_mutator_test.cc
  test/cpp/server/server_request_call_test.cc
  test/cpp/util/channel_trace_proto_helper.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31245 Remove `include/grpcpp/impl/codegen/interceptor.h`
  include/grpcpp/impl/codegen/interceptor.h
  include/grpcpp/support/interceptor.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31246 Remove `include/grpcpp/impl/codegen/message_allocator.h`
  include/grpcpp/impl/codegen/message_allocator.h
  include/grpcpp/support/message_allocator.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31259 [hpack_size] Un-parallelize tests
  test/core/end2end/tests/hpack_size.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31251 outlier detection: remove env var protection
  BUILD
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_cluster.cc
  test/core/client_channel/outlier_detection_lb_config_parser_test.cc
  test/core/xds/BUILD
  test/core/xds/xds_cluster_resource_type_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_outlier_detection_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31243 xds_client_test: increase WaitForRequest() timeout
  test/core/xds/xds_client_test.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31249 Remove `include/grpcpp/impl/codegen/method_handler.h`
  include/grpcpp/impl/codegen/method_handler.h
  include/grpcpp/impl/method_handler_impl.h
  include/grpcpp/support/method_handler.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31260 Increase timeout in xds_cluster_end2end_test
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31266 Bump timeouts in ruby end2end tests
  src/ruby/end2end/channel_closing_test.rb
  src/ruby/end2end/channel_state_test.rb
  src/ruby/end2end/end2end_common.rb
  src/ruby/end2end/forking_client_client.rb
  src/ruby/end2end/forking_client_test.rb
  src/ruby/end2end/grpc_class_init_test.rb
  src/ruby/end2end/killed_client_thread_test.rb
  src/ruby/end2end/sig_int_during_channel_watch_test.rb
Labels: lang/ruby, release notes: no

#31248 Removed legacy macros completely
  src/core/lib/iomgr/error.h
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_common_types_test.cc
Labels: kind/internal cleanup, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31270 [dns] Fix test race
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31273 Add grpc-java 1.44.2 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31272 xDS: NACK EDS if sum of locality weights in a priority exceeds uint32 max
  src/core/ext/xds/xds_endpoint.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#30516 Allow storing security context extension in grpc_auth_context
  src/core/lib/security/context/security_context.h
  test/core/security/auth_context_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31265 [event_engine] Fix for the EE/iomgr shutdown ordering problem
  BUILD
  src/core/lib/event_engine/default_event_engine.cc
  src/core/lib/event_engine/default_event_engine.h
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  src/core/lib/surface/init.cc
  src/core/lib/surface/init_internally.h
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/event_engine/posix/event_poller_posix_test.cc
  test/core/event_engine/posix/lock_free_event_test.cc
  test/core/event_engine/posix/posix_endpoint_test.cc
  test/core/event_engine/test_suite/posix_event_engine_test.cc
  test/cpp/microbenchmarks/bm_event_engine_run.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31057 GitHub Workflows security hardening
  .github/workflows/pr-auto-fix.yaml
  .github/workflows/pr-auto-tag.yaml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31229 [event_engine] Move chttp2 executor usage to event engine
  src/core/lib/transport/transport.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31230 [event_engine] Move DNS resolution executor usage to event engine
  src/core/lib/iomgr/resolve_address_posix.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#31301 Fix build
  src/proto/grpc/testing/BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31058 Remove `include/grpcpp/impl/codegen/client_unary_call.h`
  include/grpcpp/impl/client_unary_call.h
  include/grpcpp/impl/codegen/client_unary_call.h
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31059 Remove `include/grpcpp/impl/codegen/completion_queue.h`
  BUILD
  include/grpcpp/alarm.h
  include/grpcpp/channel.h
  include/grpcpp/completion_queue.h
  include/grpcpp/impl/codegen/completion_queue.h
  include/grpcpp/server.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31261 Remove `include/grpcpp/impl/codegen/proto_buffer_reader.h`
  include/grpcpp/impl/codegen/proto_buffer_reader.h
  include/grpcpp/support/proto_buffer_reader.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31126 Fix python tests on kokoro macos monterey
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/helper_scripts/run_python.sh
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31291 interop_matrix: Bump 9 Java versions
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31264 [Python] Remove Six dependency
  .gitignore
  src/python/grpcio/grpc/_common.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/_utilities.py
  src/python/grpcio_tests/tests/unit/_api_test.py
  src/python/grpcio_tests/tests/unit/_auth_context_test.py
  src/python/grpcio_tests/tests/unit/_dns_resolver_test.py
  src/python/grpcio_tests/tests/unit/_exit_test.py
  src/python/grpcio_tests/tests/unit/_server_wait_for_termination_test.py
  src/python/grpcio_tests/tests/unit/test_common.py
  src/python/grpcio_tests/tests_aio/unit/auth_context_test.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, python, per-channel-memory/neutral

#31244 weighted_target LB: use uint64_t for aggregate weights to avoid overflow
  BUILD
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31232 Handle server Shutdown when no Start called
  src/csharp/Grpc.Core.Tests/ServerTest.cs
  src/csharp/Grpc.Core/Server.cs
Labels: lang/C#, release notes: yes

#31016 LB policy: add LB policy unit test framework and simple pick_first test
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/lib/load_balancing/subchannel_interface.h
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31304 fix broken objc test jobs
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31300 [promises] ForEach fixes
  build_autogenerated.yaml
  src/core/lib/promise/for_each.h
  test/core/promise/BUILD
  test/core/promise/for_each_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31288 [Python]Replace Six with_metaclass method
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/beta/interfaces.py
  src/python/grpcio/grpc/framework/foundation/callable_util.py
  src/python/grpcio/grpc/framework/foundation/future.py
  src/python/grpcio/grpc/framework/foundation/stream.py
  src/python/grpcio/grpc/framework/interfaces/base/base.py
  src/python/grpcio/grpc/framework/interfaces/face/face.py
  src/python/grpcio_testing/grpc_testing/__init__.py
  src/python/grpcio_testing/grpc_testing/_common.py
  src/python/grpcio_tests/tests/protoc_plugin/_split_definitions_test.py
  src/python/grpcio_tests/tests/unit/_server_ssl_cert_config_test.py
  src/python/grpcio_tests/tests/unit/framework/common/test_control.py
  src/python/grpcio_tests/tests/unit/framework/common/test_coverage.py
Labels: lang/Python, release notes: no, python

#31307 Revert "[event_engine] Move DNS resolution executor usage to event engine"
  src/core/lib/iomgr/resolve_address_posix.cc
Labels: lang/core, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31268 Remove `include/grpcpp/impl/codegen/proto_buffer_writer.h`
  include/grpcpp/impl/codegen/proto_buffer_writer.h
  include/grpcpp/support/proto_buffer_writer.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31269 Remove `include/grpcpp/impl/codegen/rpc_method.h`
  include/grpcpp/impl/codegen/rpc_method.h
  include/grpcpp/impl/rpc_method.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31314 Bump release version 202210110923
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#31237 Use 64bit linker on windows even when creating 32bit targets
  tools/run_tests/helper_scripts/build_cxx.bat
  tools/run_tests/run_tests.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31315 Branch 1.50.x: Cherrypick "Fix python tests on kokoro macos monterey #31126"
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/helper_scripts/run_python.sh
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31317 Revert "Remove `include/grpcpp/impl/codegen/rpc_service_method.h`"
  include/grpcpp/impl/codegen/rpc_service_method.h
  include/grpcpp/impl/rpc_service_method.h
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: no

#31318 client_lb_e2e_test: add another error case to the regex
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31319 [chttp2] Fix race of iomgr shutdown and chttp2 lifetime
  BUILD
  src/core/ext/transport/chttp2/transport/internal.h
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31278 Remove `include/grpcpp/impl/codegen/serialization_traits.h`
  include/grpcpp/impl/codegen/serialization_traits.h
  include/grpcpp/impl/serialization_traits.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31280 Remove `include/grpcpp/impl/codegen/server_context.h`
  include/grpcpp/ext/server_load_reporting.h
  include/grpcpp/impl/codegen/server_context.h
  include/grpcpp/server_context.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31321 xDS: NACK EDS resources with duplicate addresses
  src/core/ext/xds/xds_endpoint.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#31323 xDS Interop: require Python 3.7
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: release notes: no, area/psm interop

#31325 xDS Interop: update default prefix in the cleanup script
  tools/internal_ci/linux/grpc_xds_resource_cleanup.cfg
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#31279 Remove `include/grpcpp/impl/codegen/server_callback.h`
  include/grpcpp/ext/orca_service.h
  include/grpcpp/impl/codegen/server_callback.h
  include/grpcpp/support/server_callback.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31309 [Python][Remove Six] Remove Six dependency part II
  src/python/grpcio/commands.py
  src/python/grpcio_tests/tests/_result.py
  src/python/grpcio_tests/tests/_runner.py
  src/python/grpcio_tests/tests/_sanity/_sanity_test.py
  src/python/grpcio_tests/tests/csds/test_csds.py
  src/python/grpcio_tests/tests/fork/_fork_interop_test.py
  src/python/grpcio_tests/tests/fork/methods.py
  src/python/grpcio_tests/tests/health_check/_health_servicer_test.py
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
  src/python/grpcio_tests/tests/protoc_plugin/_split_definitions_test.py
  src/python/grpcio_tests/tests/protoc_plugin/beta_python_plugin_test.py
  src/python/grpcio_tests/tests/qps/benchmark_client.py
  src/python/grpcio_tests/tests/stress/client.py
  src/python/grpcio_tests/tests/unit/_contextvars_propagation_test.py
  src/python/grpcio_tests/tests/unit/_credentials_test.py
  src/python/grpcio_tests/tests/unit/_logging_test.py
  src/python/grpcio_tests/tests/unit/_metadata_flags_test.py
  src/python/grpcio_tests/tests/unit/_server_shutdown_scenarios.py
  src/python/grpcio_tests/tests/unit/framework/common/test_control.py
Labels: lang/Python, release notes: no, python

#31326 [resource_quota] Flag flip periodic reclamation
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31345 [flaky] Reduce test size
  test/cpp/microbenchmarks/BUILD
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31349 OpenCensusTest: Fix flakiness
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#31364 Revert "upgrade rules_apple and apple_support bazel deps (#30896)"
  bazel/grpc_deps.bzl
Labels: area/build, release notes: no

#31365 Bump the version to v1.50.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31373 [flaky] Platform specific hack time?
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31330 [build] Add exec_ctx visibility
  BUILD
  bazel/grpc_build_system.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31346 outlier detection: add basic unit test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31348 xDS RBAC: remove env var protection
  build_autogenerated.yaml
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  src/core/ext/xds/xds_server_config_fetcher.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31306 Fix thread safety analysis warning from new Clang version
  src/core/tsi/ssl/key_logging/ssl_key_logging.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31332 Document outlier detection feature support
  doc/grpc_xds_features.md
Labels: area/documentation, release notes: no

#31340 [Remove Six] Remove dependency on six
  bazel/grpc_python_deps.bzl
  examples/python/cancellation/BUILD.bazel
  requirements.bazel.txt
  requirements.txt
  setup.py
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/csds/BUILD.bazel
  src/python/grpcio_tests/tests/unit/BUILD.bazel
  src/python/grpcio_tests/tests_aio/unit/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/unit/BUILD.bazel
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: lang/Python, infra/Bazel, release notes: yes, dependencies, bloat/none, per-call-memory/neutral, python, per-channel-memory/neutral

#31379 Remove installation of go 1.17 in CIs
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
  tools/internal_ci/linux/grpc_psm_performance_gke_experiment.sh
Labels: bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31283 Remove `include/grpcpp/impl/codegen/slice.h`
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/impl/codegen/slice.h
  include/grpcpp/support/slice.h
  test/cpp/util/cli_credentials.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31353 ruby: remove tests that try to assert a certain behavior after forking incorrectly
  src/ruby/spec/channel_spec.rb
Labels: lang/ruby, release notes: no

#31046 Move objc TvTests to bazel (and make it "build-only")
  src/objective-c/tests/BUILD
  src/objective-c/tests/tvtests_build_test.sh
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/run_tests/run_tests.py
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31358 Cleanup grpc_sample_fuzzers job
  tools/internal_ci/linux/pull_request/grpc_sample_fuzzers.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31363 SerializationTraits: Remove unnecessary 2nd template parameter
  include/grpcpp/impl/codegen/call_op_set.h
  test/cpp/util/byte_buffer_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31294 Add a BUILD file in src/core
  BUILD
  src/core/BUILD
  test/core/event_engine/BUILD
  test/core/event_engine/posix/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31284 Remove `include/grpcpp/impl/codegen/status_code_enum.h`
  include/grpcpp/impl/codegen/status_code_enum.h
  include/grpcpp/support/status_code_enum.h
  src/cpp/client/secure_credentials.cc
  src/cpp/common/alts_util.cc
  src/cpp/common/tls_certificate_verifier.cc
  src/cpp/ext/proto_server_reflection.cc
  src/cpp/server/authorization_policy_provider.cc
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/csds/csds.cc
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/orca/orca_service.cc
  src/cpp/server/server_cc.cc
  src/cpp/util/byte_buffer_cc.cc
  src/cpp/util/status.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30416 Document thread-saftey of ClientContext::TryCancel
  include/grpcpp/client_context.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31387 Revert "Remove `include/grpcpp/impl/codegen/status_code_enum.h`"
  include/grpcpp/impl/codegen/status_code_enum.h
  include/grpcpp/support/status_code_enum.h
  src/cpp/client/secure_credentials.cc
  src/cpp/common/alts_util.cc
  src/cpp/common/tls_certificate_verifier.cc
  src/cpp/ext/proto_server_reflection.cc
  src/cpp/server/authorization_policy_provider.cc
  src/cpp/server/channelz/channelz_service.cc
  src/cpp/server/csds/csds.cc
  src/cpp/server/health/default_health_check_service.cc
  src/cpp/server/orca/orca_service.cc
  src/cpp/server/server_cc.cc
  src/cpp/util/byte_buffer_cc.cc
  src/cpp/util/status.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31350 Xds Features Doc: Add version for RBAC support for C++ and Python
  doc/grpc_xds_features.md
Labels: release notes: no

#31380 Add a quiesce to threadpool
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/thread_pool.cc
  src/core/lib/event_engine/thread_pool.h
  src/core/lib/event_engine/windows/windows_engine.cc
  test/core/event_engine/thread_pool_test.cc
  test/core/event_engine/windows/iocp_test.cc
  test/core/event_engine/windows/win_socket_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31390 Add back Six for internal_ci scripts
  tools/internal_ci/helper_scripts/prepare_build_linux_rc
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/prepare_build_windows.bat
Labels: lang/Python, release notes: no, dependencies, bloat/none, per-call-memory/neutral, python, per-channel-memory/neutral

#31381 Remove enum and future
  bazel/grpc_python_deps.bzl
  examples/python/cancellation/BUILD.bazel
  examples/python/errors/BUILD.bazel
  examples/python/multiprocessing/BUILD
  requirements.bazel.txt
  setup.py
  src/python/grpcio/grpc/BUILD.bazel
  src/python/grpcio/grpc/framework/common/BUILD.bazel
  src/python/grpcio/grpc/framework/foundation/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/base/BUILD.bazel
  src/python/grpcio/grpc/framework/interfaces/face/BUILD.bazel
  src/python/grpcio_tests/setup.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  tools/distrib/format_bazel.sh
Labels: lang/Python, infra/Bazel, release notes: yes, bloat/none, per-call-memory/neutral, python, per-channel-memory/neutral

#31391 Revert "Revert "Remove `include/grpcpp/impl/codegen/status_code_enum.h`""
  include/grpcpp/impl/codegen/status_code_enum.h
  include/grpcpp/support/status_code_enum.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31374 [experiments] Enable tcp_read_chunks for debug builds
  bazel/experiments.bzl
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31342 [error] remove unnecessary conversion
  src/core/lib/iomgr/error.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31205 [promises] Always assert that contexts are non-null
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/promise/context.h
  src/core/lib/transport/call_fragments.h
  test/core/promise/context_test.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#31396 Revert "Revert "Revert "Remove `include/grpcpp/impl/codegen/status_code_enum.h`"""
  include/grpcpp/impl/codegen/status_code_enum.h
  include/grpcpp/support/status_code_enum.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31108 Correct the domain-socket client address read out from the ServerContext
  src/core/lib/iomgr/tcp_server_posix.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31394 Add grpc-java 1.50.1 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31397 [promises] Cleanup: Always assert that contexts are non-null
  src/core/lib/promise/context.h
  test/core/promise/context_test.cc
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31286 Remove `include/grpcpp/impl/codegen/string_ref.h`
  include/grpcpp/impl/codegen/string_ref.h
  include/grpcpp/support/string_ref.h
  test/cpp/ios/CronetTests/TestHelper.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31096 Build with System OpenSSL on Mac OS arm64
  setup.py
Labels: lang/Python, area/build, release notes: yes

#31405 [event_engine/promises] Eliminate lock contention on call path for GetDefaultEventEngine
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  test/core/filters/client_authority_filter_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31128 Invoking Poller::Work in posix event engine constructor
  BUILD
  CMakeLists.txt
  Makefile
  bazel/experiments.bzl
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.h
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.h
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.cc
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.h
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/posix/event_poller_posix_test.cc
  test/core/event_engine/posix/posix_endpoint_test.cc
  test/core/event_engine/posix/posix_engine_test_utils.h
  test/core/event_engine/test_suite/BUILD
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_event_engine_run.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#31385 Document DNS resolvers and NetBIOS support
  doc/environment_variables.md
Labels: lang/all wrapped languages, release notes: no

#31399 Add back C# distribtests for Grpc.Tools
  test/distrib/csharp/.gitignore
  test/distrib/csharp/DistribTest/.gitignore
  test/distrib/csharp/DistribTest/DistribTestDotNet.csproj
  test/distrib/csharp/DistribTest/Program.cs
  test/distrib/csharp/DistribTest/duplicate_proto/testcodegen.proto
  test/distrib/csharp/DistribTest/testcodegen.proto
  test/distrib/csharp/NuGet.Config
  test/distrib/csharp/run_distrib_test_dotnetcli.sh
  test/distrib/csharp/update_version.sh
  tools/internal_ci/linux/grpc_distribtests_csharp.sh
  tools/internal_ci/macos/grpc_distribtests_csharp.sh
  tools/internal_ci/windows/grpc_distribtests_csharp.bat
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_csharp.bat
  tools/run_tests/artifacts/build_artifact_csharp.sh
  tools/run_tests/artifacts/build_artifact_csharp_android.sh
  tools/run_tests/artifacts/build_artifact_csharp_ios.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31407 Partially revert "upgrade rules_apple and apple_support bazel deps"
  bazel/grpc_deps.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31406 tools/interop_matric: add 1.50.2 for Java
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30599 Upgrade Java interop to Bullseye and Java 11
  templates/tools/dockerfile/interoptest/grpc_interop_java/Dockerfile.include
  tools/dockerfile/interoptest/grpc_interop_java/Dockerfile
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31417 Revert "[experiments] Enable tcp_read_chunks for debug builds (#31374)"
  bazel/experiments.bzl
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31341 OpenCensus: Move measures, views and CensusContext to include file
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/context.cc
  src/cpp/ext/filters/census/context.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/filters/census/measures.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/census/server_filter.cc
  src/cpp/ext/filters/census/server_filter.h
  src/cpp/ext/filters/census/views.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31402 Move some targets from //: to //src/core:
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  grpc.gyp
  src/core/BUILD
  src/cpp/ext/gcp/BUILD
  test/core/avl/BUILD
  test/core/backoff/BUILD
  test/core/client_channel/BUILD
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/resolvers/BUILD
  test/core/client_idle/BUILD
  test/core/end2end/BUILD
  test/core/end2end/generate_tests.bzl
  test/core/event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/BUILD
  test/core/event_engine/posix/BUILD
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/windows/BUILD
  test/core/event_engine/work_queue/BUILD
  test/core/ext/filters/rbac/BUILD
  test/core/filters/BUILD
  test/core/gpr/BUILD
  test/core/gprpp/BUILD
  test/core/json/BUILD
  test/core/promise/BUILD
  test/core/resource_quota/BUILD
  test/core/security/BUILD
  test/core/server_config_selector/BUILD
  test/core/slice/BUILD
  test/core/transport/chttp2/BUILD
  test/core/uri/BUILD
  test/core/util/BUILD
  test/core/xds/BUILD
  test/cpp/microbenchmarks/BUILD
  test/cpp/server/load_reporter/BUILD
  tools/codegen/core/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31410 Fix objc bazel tests on python3.9 (backport #31407 to v1.50.x)
  bazel/grpc_deps.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31420 [experiments] Reland enabling tcp_read_chunks for debug builds
  bazel/experiments.bzl
  src/core/BUILD
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
  src/core/lib/iomgr/tcp_posix.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31419 ThreadPool benchmarks
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_thread_pool.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31370 [cleanup] Remove unused end2end feature flags
  test/core/end2end/end2end_tests.h
  test/core/end2end/tests/resource_quota_server.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31422 [notification] sloppier tests
  test/core/gprpp/notification_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31423 [tests] Remove interop tests from PR flows
  tools/internal_ci/linux/pull_request/grpc_interop_alts.cfg
  tools/internal_ci/linux/pull_request/grpc_interop_matrix_adhoc.cfg
  tools/internal_ci/linux/pull_request/grpc_interop_tocloud.cfg
  tools/internal_ci/linux/pull_request/grpc_interop_toprod.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31411 fix gprc_cli segfault when using binary in and out
  test/cpp/util/grpc_tool.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31425 Revert "[EventEngine] Refactor ThreadManager to leverage a shared ThreadPool (#31392)"
  src/core/BUILD
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/event_engine/posix_engine/timer_manager.cc
  src/core/lib/event_engine/posix_engine/timer_manager.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  test/core/event_engine/posix/timer_manager_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31287 Remove `include/grpcpp/impl/codegen/stub_options.h`
  include/grpcpp/generic/generic_stub.h
  include/grpcpp/impl/codegen/stub_options.h
  include/grpcpp/support/stub_options.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31133 Fix msbuild failing when '@' is present in path
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#31440 Use minimal benchmark time for bm_event_engine_run in CI
  test/cpp/microbenchmarks/BUILD
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31376 [C#] Move insecure compose validation into Channel
  src/csharp/Grpc.Core.Api/ChannelCredentials.cs
  src/csharp/Grpc.Core.Tests/ChannelCredentialsTest.cs
  src/csharp/Grpc.Core.Tests/ChannelTest.cs
  src/csharp/Grpc.Core/Channel.cs
  src/csharp/Grpc.Core/Internal/DefaultChannelCredentialsConfigurator.cs
Labels: lang/C#, release notes: yes

#31433 [test] Add some debugability affordances to async_end2end_test
  test/cpp/end2end/async_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31074 Posix event engine tcp client
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/poller.h
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.h
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/posix/BUILD
  test/core/event_engine/posix/posix_event_engine_connect_test.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/event_engine_test.cc
  test/core/event_engine/test_suite/event_engine_test.h
  test/core/event_engine/test_suite/posix_event_engine_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#31439 XdsClient: add test for fix in #29604
  src/core/ext/xds/xds_client.cc
  test/core/xds/xds_client_test.cc
  test/core/xds/xds_transport_fake.cc
  test/core/xds/xds_transport_fake.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31289 Remove `include/grpcpp/impl/codegen/sync_stream.h`
  include/grpcpp/impl/codegen/sync_stream.h
  include/grpcpp/support/sync_stream.h
  src/compiler/cpp_generator.cc
  test/cpp/codegen/compiler_test_golden
  test/cpp/codegen/compiler_test_mock_golden
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31426 c-ares DNS resolver: remove unnecessary code in SRV callback
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31019 [ObjC] Run ios perf test from bazel
  src/objective-c/tests/BUILD
  src/objective-c/tests/PerfTests/PerfTests.m
  src/objective-c/tests/run_one_test.sh
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/run_tests/run_tests.py
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31351 xDS Listener: use ValidationErrors and add unit test
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.h
  src/core/ext/filters/fault_injection/service_config_parser.cc
  src/core/ext/filters/fault_injection/service_config_parser.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.cc
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_server_config_fetcher.cc
  src/proto/grpc/testing/xds/v3/address.proto
  src/proto/grpc/testing/xds/v3/route.proto
  test/core/xds/BUILD
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_http_filters_test.cc
  test/core/xds/xds_listener_resource_type_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/no_op_http_filter.h
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_outlier_detection_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral
