Repository grpc/grpc, pull requests merged in 2022-08, with the labels that each got.

#30451 xDS interop: set default socket timeout to 60
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/namespace.py
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
Labels: release notes: no, area/psm interop

#30453 Create directory tree before generating load test examples.
  tools/run_tests/performance/loadtest_examples.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30455 xDS interop: update td bootstrap from v0.12.0-rc1 to v0.14.0
  tools/run_tests/xds_k8s_test_driver/config/common.cfg
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
Labels: release notes: no, area/psm interop

#30418 outlier_detection LB: reset state when OD is disabled
  BUILD
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/xds/xds_cluster.h
  test/cpp/end2end/xds/xds_outlier_detection_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30443 [core] Remove GRPC_INITIAL_METADATA_CORKED flag
  include/grpc/impl/codegen/grpc_types.h
  include/grpcpp/impl/codegen/client_context.h
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#30421 Fixing poll poller POLLHUP bug
  src/core/lib/iomgr/ev_poll_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30452 Add enablePrometheus annotation.
  tools/internal_ci/linux/grpc_psm_performance_gke_experiment.sh
  tools/run_tests/performance/loadtest_examples.sh
Labels: bloat/none, per-call-memory/neutral

#30404 Fix possible integer overflow in `to_seconds_from_sub_second_time()`
  src/core/lib/gpr/time.cc
  test/core/filters/filter_fuzzer_corpus/testcase-6025775649521664
  test/core/gpr/time_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30270 Adding lock and reset call_ in ~ClientContext to avoid race condition
  src/cpp/client/client_context.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#30471 [sleep] Rewrite to avoid bug
  BUILD
  src/core/lib/promise/sleep.cc
  src/core/lib/promise/sleep.h
  test/core/promise/sleep_test.cc
Labels: priority/P1, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30444 [filter-stack] Eliminate flags on initial metadata
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  test/core/end2end/fixtures/proxy.cc
  test/core/end2end/inproc_callback_test.cc
  test/core/end2end/tests/channelz.cc
  test/core/end2end/tests/max_connection_idle.cc
  test/core/end2end/tests/no_error_on_hotpath.cc
  test/core/end2end/tests/no_logging.cc
  test/core/end2end/tests/proxy_auth.cc
  test/core/end2end/tests/retry.cc
  test/core/end2end/tests/retry_disabled.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_delay.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_initial_batch.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_subsequent_batch.cc
  test/core/end2end/tests/retry_non_retriable_status.cc
  test/core/end2end/tests/retry_non_retriable_status_before_recv_trailing_metadata_started.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout_on_last_attempt.cc
  test/core/end2end/tests/retry_recv_initial_metadata.cc
  test/core/end2end/tests/retry_recv_message.cc
  test/core/end2end/tests/retry_recv_message_replay.cc
  test/core/end2end/tests/retry_recv_trailing_metadata_error.cc
  test/core/end2end/tests/retry_send_initial_metadata_refs.cc
  test/core/end2end/tests/retry_send_op_fails.cc
  test/core/end2end/tests/retry_send_recv_batch.cc
  test/core/end2end/tests/retry_server_pushback_delay.cc
  test/core/end2end/tests/retry_server_pushback_disabled.cc
  test/core/end2end/tests/retry_streaming.cc
  test/core/end2end/tests/retry_streaming_after_commit.cc
  test/core/end2end/tests/retry_streaming_succeeds_before_replay_finished.cc
  test/core/end2end/tests/retry_throttled.cc
  test/core/end2end/tests/retry_too_many_attempts.cc
  test/core/end2end/tests/retry_transparent_goaway.cc
  test/core/end2end/tests/retry_transparent_max_concurrent_streams.cc
  test/core/end2end/tests/retry_transparent_not_sent_on_wire.cc
  test/core/end2end/tests/retry_unref_before_finish.cc
  test/core/end2end/tests/retry_unref_before_recv.cc
  test/core/end2end/tests/simple_request.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/increase

#30441 Create multiple channels in per channel memory benchmark
  test/core/memory_usage/BUILD
  test/core/memory_usage/callback_client.cc
  test/core/memory_usage/callback_server.cc
  test/core/memory_usage/memory_usage_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30477 Istio Echo: Add version string
  test/cpp/interop/istio_echo_server.cc
  test/cpp/interop/istio_echo_server_lib.cc
  test/cpp/interop/istio_echo_server_lib.h
  test/cpp/interop/istio_echo_server_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#30476 Reland [filter-stack] Eliminate flags on initial metadata
  include/grpc/impl/codegen/grpc_types.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  test/core/end2end/fixtures/proxy.cc
  test/core/end2end/inproc_callback_test.cc
  test/core/end2end/tests/channelz.cc
  test/core/end2end/tests/max_connection_idle.cc
  test/core/end2end/tests/no_error_on_hotpath.cc
  test/core/end2end/tests/no_logging.cc
  test/core/end2end/tests/proxy_auth.cc
  test/core/end2end/tests/retry.cc
  test/core/end2end/tests/retry_disabled.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_delay.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_initial_batch.cc
  test/core/end2end/tests/retry_exceeds_buffer_size_in_subsequent_batch.cc
  test/core/end2end/tests/retry_non_retriable_status.cc
  test/core/end2end/tests/retry_non_retriable_status_before_recv_trailing_metadata_started.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout.cc
  test/core/end2end/tests/retry_per_attempt_recv_timeout_on_last_attempt.cc
  test/core/end2end/tests/retry_recv_initial_metadata.cc
  test/core/end2end/tests/retry_recv_message.cc
  test/core/end2end/tests/retry_recv_message_replay.cc
  test/core/end2end/tests/retry_recv_trailing_metadata_error.cc
  test/core/end2end/tests/retry_send_initial_metadata_refs.cc
  test/core/end2end/tests/retry_send_op_fails.cc
  test/core/end2end/tests/retry_send_recv_batch.cc
  test/core/end2end/tests/retry_server_pushback_delay.cc
  test/core/end2end/tests/retry_server_pushback_disabled.cc
  test/core/end2end/tests/retry_streaming.cc
  test/core/end2end/tests/retry_streaming_after_commit.cc
  test/core/end2end/tests/retry_streaming_succeeds_before_replay_finished.cc
  test/core/end2end/tests/retry_throttled.cc
  test/core/end2end/tests/retry_too_many_attempts.cc
  test/core/end2end/tests/retry_transparent_goaway.cc
  test/core/end2end/tests/retry_transparent_max_concurrent_streams.cc
  test/core/end2end/tests/retry_transparent_not_sent_on_wire.cc
  test/core/end2end/tests/retry_unref_before_finish.cc
  test/core/end2end/tests/retry_unref_before_recv.cc
  test/core/end2end/tests/simple_request.cc
Labels: lang/c++, lang/core, bloat/low, per-call-memory/increase

#30028 Modifying iomgr tcp code to use event engine EndpointConfig instead of channel_args
  BUILD
  include/grpc/event_engine/endpoint_config.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/event_engine/channel_args_endpoint_config.cc
  src/core/lib/event_engine/channel_args_endpoint_config.h
  src/core/lib/iomgr/endpoint_pair_posix.cc
  src/core/lib/iomgr/endpoint_pair_windows.cc
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/core/lib/iomgr/tcp_client.cc
  src/core/lib/iomgr/tcp_client.h
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_client_posix.h
  src/core/lib/iomgr/tcp_client_windows.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_posix.h
  src/core/lib/iomgr/tcp_server.cc
  src/core/lib/iomgr/tcp_server.h
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix.h
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/iomgr/tcp_windows.h
  src/core/lib/resource_quota/api.cc
  src/core/lib/resource_quota/api.h
  src/core/lib/transport/tcp_connect_handshaker.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/event_engine/endpoint_config_test.cc
  test/core/event_engine/test_suite/client_test.cc
  test/core/event_engine/test_suite/event_engine_test_utils.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/surface/concurrent_connectivity_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/test_tcp_server.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30465 [load_balancing] Move interfaces to src/core/lib/load_balancing
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_plugin.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.h
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.cc
  src/core/ext/filters/client_channel/resolver_result_parsing.h
  src/core/ext/filters/client_channel/subchannel_interface_internal.h
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_lb_policy_registry.cc
  src/core/lib/load_balancing/lb_policy.cc
  src/core/lib/load_balancing/lb_policy.h
  src/core/lib/load_balancing/lb_policy_factory.h
  src/core/lib/load_balancing/lb_policy_registry.cc
  src/core/lib/load_balancing/lb_policy_registry.h
  src/core/lib/load_balancing/subchannel_interface.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/end2end/tests/retry_lb_drop.cc
  test/core/end2end/tests/retry_lb_fail.cc
  test/core/util/BUILD
  test/core/util/test_lb_policies.cc
  test/core/xds/xds_lb_policy_registry_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30482 Fix unused parameter error
  test/core/promise/sleep_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30442 Declarative JSON parser
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/json/json_args.h
  src/core/lib/json/json_channel_args.h
  src/core/lib/json/json_object_loader.cc
  src/core/lib/json/json_object_loader.h
  src/core/lib/json/json_util.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/json/BUILD
  test/core/json/json_object_loader_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral

#30469 grpc-java 1.48.1 release
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30491 [c++] Add a non-destructed type
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/gprpp/no_destruct.h
  src/core/lib/json/json_object_loader.h
  test/core/gprpp/BUILD
  test/core/gprpp/no_destruct_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30487 [json] Attempt to alleviate some bloat on the object loader
  src/core/lib/json/json_object_loader.cc
  src/core/lib/json/json_object_loader.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30470 [Binder Transport] Lower log level
  src/core/ext/transport/binder/wire_format/wire_reader_impl.cc
  src/core/ext/transport/binder/wire_format/wire_writer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30495 Revert "Modifying iomgr tcp code to use event engine EndpointConfig instead of channel_args"
  BUILD
  include/grpc/event_engine/endpoint_config.h
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/event_engine/channel_args_endpoint_config.cc
  src/core/lib/event_engine/channel_args_endpoint_config.h
  src/core/lib/iomgr/endpoint_pair_posix.cc
  src/core/lib/iomgr/endpoint_pair_windows.cc
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/socket_utils_posix.cc
  src/core/lib/iomgr/socket_utils_posix.h
  src/core/lib/iomgr/tcp_client.cc
  src/core/lib/iomgr/tcp_client.h
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_client_posix.h
  src/core/lib/iomgr/tcp_client_windows.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_posix.h
  src/core/lib/iomgr/tcp_server.cc
  src/core/lib/iomgr/tcp_server.h
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix.h
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/iomgr/tcp_windows.h
  src/core/lib/resource_quota/api.cc
  src/core/lib/resource_quota/api.h
  src/core/lib/transport/tcp_connect_handshaker.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/event_engine/endpoint_config_test.cc
  test/core/event_engine/test_suite/client_test.cc
  test/core/event_engine/test_suite/event_engine_test_utils.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamClientTests.mm
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
  test/core/iomgr/tcp_client_posix_test.cc
  test/core/iomgr/tcp_posix_test.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/surface/concurrent_connectivity_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/util/test_tcp_server.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30497 [gprpp] Add more tests for NoDestruct
  test/core/gprpp/no_destruct_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30489 [build] Shard tests a little more
  test/core/transport/chttp2/BUILD
  test/cpp/end2end/xds/BUILD
Labels: lang/c++, lang/core, bloat/none, per-call-memory/neutral

#30481 Also allow passing in channel args as part of the check_peer call.
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/insecure/insecure_security_connector.cc
  src/core/lib/security/security_connector/insecure/insecure_security_connector.h
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.h
  src/core/lib/security/transport/security_handshaker.cc
  test/core/filters/filter_fuzzer.cc
  test/core/security/credentials_test.cc
  test/core/security/tls_security_connector_test.cc
Labels: lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral

#30500 Update python version for AWS tests
  tools/internal_ci/linux/aws/grpc_run_basictests_python_aarch64.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30501 [json] Try to not generate AutoLoader destructors
  BUILD
  src/core/lib/json/json_object_loader.h
  src/core/lib/json/json_util.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#30498 Add type stub generation support to grpcio-tools
  tools/distrib/python/grpcio_tools/grpc_tools/command.py
  tools/distrib/python/grpcio_tools/grpc_tools/main.cc
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral

#30503 Fix missing destructors on JSON Object Loader
  src/core/lib/json/json_object_loader.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#30505 xDS Interop: C++ xDS Authz supported after 1.47
  tools/run_tests/xds_k8s_test_driver/tests/authz_test.py
Labels: release notes: no, area/psm interop

#30317 [promises] Eliminate switch.h
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/lib/promise/detail/basic_seq.h
  src/core/lib/promise/detail/switch.h
  tools/codegen/core/gen_switch.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30464 [resource_quota] Refine pressure api
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  test/core/resource_quota/memory_quota_test.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30507 Add channel memory benchmark into memory_diff.py
  test/core/memory_usage/callback_client.cc
  test/core/memory_usage/callback_server.cc
  test/core/memory_usage/memstats.cc
  tools/profiling/memory/memory_diff.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30506 XdsClient: access certificate provider data via dependency injection
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/xds/upb_utils.h
  src/core/ext/xds/xds_api.cc
  src/core/ext/xds/xds_api.h
  src/core/ext/xds/xds_bootstrap.cc
  src/core/ext/xds/xds_bootstrap.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_common_types.cc
  src/core/ext/xds/xds_common_types.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/ext/xds/xds_lb_policy_registry.cc
  src/core/ext/xds/xds_lb_policy_registry.h
  src/core/ext/xds/xds_listener.cc
  src/core/ext/xds/xds_listener.h
  src/core/ext/xds/xds_resource_type.h
  src/core/ext/xds/xds_route_config.cc
  src/core/ext/xds/xds_route_config.h
  test/core/xds/xds_bootstrap_test.cc
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#30515 Fix per-call-memory label
  tools/profiling/memory/memory_diff.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30517 xDS interop: log the subTest start and beginning
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: release notes: no, area/psm interop

#30520 xDS interop: add missing image tagging to the buildscripts
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#30457 [resource_quota] Custom controller
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  src/core/lib/resource_quota/periodic_update.h
  test/core/resource_quota/memory_quota_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#30430 [build] Auto-deps for test/core/resource_quota
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/end2end/BUILD
  test/core/event_engine/BUILD
  test/core/resource_quota/BUILD
  test/core/util/BUILD
  test/core/util/grpc_fuzzer.bzl
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30519 xDS interop: add support for the reference xds test server
  tools/run_tests/xds_k8s_test_driver/config/common.cfg
  tools/run_tests/xds_k8s_test_driver/config/url-map.cfg
  tools/run_tests/xds_k8s_test_driver/framework/helpers/skips.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/outlier_detection_test.py
Labels: release notes: no, area/psm interop

#30528 Rename the default EventEngine headers
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/xds/xds_client.cc
  src/core/lib/event_engine/default_event_engine.cc
  src/core/lib/event_engine/default_event_engine.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/promise/sleep.cc
  src/cpp/server/orca/orca_service.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/BUILD
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/event_engine/posix/lock_free_event_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30529 xDS interop: add missing image tagging to the buildscripts (1.48.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#30530 xDS interop: add missing image tagging to the buildscripts (1.47.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#30531 xDS interop: add missing image tagging to the buildscripts (1.46.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#30532 xDS interop: add missing image tagging to the buildscripts (1.45.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, perf-change/none, area/psm interop

#30533 xDS interop: add missing image tagging to the buildscripts (1.44.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, perf-change/none, area/psm interop

#30534 xDS interop: add missing image tagging to the buildscripts (1.43.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, perf-change/none, area/psm interop

#30535 xDS interop: add missing image tagging to the buildscripts (1.42.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop

#30536 xDS interop: add missing image tagging to the buildscripts (1.41.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, area/psm interop

#30537 xDS interop: add missing image tagging to the buildscripts (1.40.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, area/psm interop

#30540 xDS interop: override retriable cleanup instead of tearDown
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/change_backend_service_test.py
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
  tools/run_tests/xds_k8s_test_driver/tests/remove_neg_test.py
Labels: release notes: no, area/psm interop

#30542 [sleep] Fix use after free discovered by fuzzer
  test/core/end2end/fuzzers/api_fuzzer_corpus/sleep-crash
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30494 [promises] Use new NoDestruct type in Wakeup
  BUILD
  build_autogenerated.yaml
  src/core/lib/promise/activity.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#30552 [test] Fix too many pings test
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30546 Remove unused file
  src/core/lib/event_engine/posix_engine/thread_pool.cc
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30522 Update setup.py
  setup.py
Labels: release notes: no

#30280 Make GetDefaultEventEngine return a shared_ptr
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpc/event_engine/event_engine.h
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/channel_idle_filter.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/event_engine/default_event_engine.cc
  src/core/lib/event_engine/default_event_engine.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  src/core/lib/promise/activity.h
  src/core/lib/promise/sleep.cc
  src/core/lib/promise/sleep.h
  src/cpp/server/orca/orca_service.cc
  src/php/bin/run_tests.sh
  src/php/tests/MemoryLeakTest/ignore_leaks.supp
  test/core/channel/channel_args_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/event_engine/BUILD
  test/core/event_engine/default_engine_methods_test.cc
  test/core/event_engine/factory_test.cc
  test/core/event_engine/fuzzing_event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/posix/lock_free_event_test.cc
  test/core/event_engine/smoke_test.cc
  test/core/filters/filter_fuzzer.cc
  test/core/promise/sleep_test.cc
  test/core/transport/bdp_estimator_test.cc
  tools/run_tests/generated/tests.json
Labels: release notes: yes, bloat/medium, per-call-memory/increase, per-channel-memory/neutral

#30555 Labeler: Add quotes around lang/C#
  .github/labeler.yml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#29745 OpenCensus: fixes broken traces exporting caused by a missing EndSpan
  src/cpp/ext/filters/census/client_filter.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#30459 Fix compatibility for MSVC 19.32. (`fatal error C1001: Internal compiler error`)
  BUILD
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/promise/detail/basic_seq.h
  src/core/lib/promise/seq.h
  src/core/lib/promise/try_seq.h
  src/core/lib/security/credentials/composite/composite_credentials.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30551 [resource_quota] Fix small mistake in tuning
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30518 Build Target Reorganization Part 1
  BUILD
  CMakeLists.txt
  Makefile
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  test/core/end2end/BUILD
  test/core/event_engine/BUILD
  test/core/gprpp/BUILD
  test/core/promise/BUILD
  test/core/resource_quota/BUILD
  test/core/security/BUILD
  test/core/transport/binder/end2end/BUILD
  test/core/transport/binder/end2end/fuzzers/BUILD
  test/core/tsi/alts/frame_protector/BUILD
  test/core/tsi/alts/handshaker/BUILD
  test/core/uri/BUILD
  test/core/util/BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30564 [no_destruct] Improve ergonomics
  src/core/lib/gprpp/no_destruct.h
  test/core/gprpp/no_destruct_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30566 Ignore isort_virtual_environment
  .gitignore
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30563 Reland: Make GetDefaultEventEngine return a shared_ptr
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpc/event_engine/event_engine.h
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/channel_idle_filter.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/event_engine/default_event_engine.cc
  src/core/lib/event_engine/default_event_engine.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  src/core/lib/promise/activity.h
  src/core/lib/promise/sleep.cc
  src/core/lib/promise/sleep.h
  src/cpp/server/orca/orca_service.cc
  src/php/bin/run_tests.sh
  src/php/tests/MemoryLeakTest/ignore_leaks.supp
  test/core/channel/channel_args_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/event_engine/BUILD
  test/core/event_engine/default_engine_methods_test.cc
  test/core/event_engine/factory_test.cc
  test/core/event_engine/fuzzing_event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/posix/lock_free_event_test.cc
  test/core/event_engine/smoke_test.cc
  test/core/filters/filter_fuzzer.cc
  test/core/promise/sleep_test.cc
  test/core/transport/bdp_estimator_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/php, lang/core, release notes: no, bloat/medium, per-call-memory/increase, per-channel-memory/neutral

#30561 [promises] Add AtomicWaker type
  src/core/lib/promise/activity.h
  test/core/promise/activity_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30567 Update OpenCensus to HEAD
  bazel/grpc_deps.bzl
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/cpp/ext/filters/census/views.cc
  src/cpp/server/load_reporter/load_reporter.cc
  src/cpp/server/load_reporter/load_reporter.h
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#29835 [promise] Add an optimization for promises of size <= sizeof(void*)
  BUILD
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  src/core/lib/channel/channel_stack.cc
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/promise/arena_promise.h
  src/core/lib/security/authorization/grpc_server_authz_filter.cc
  src/core/lib/security/credentials/composite/composite_credentials.cc
  src/core/lib/security/credentials/fake/fake_credentials.cc
  src/core/lib/security/credentials/iam/iam_credentials.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/security_connector/alts/alts_security_connector.cc
  src/core/lib/security/security_connector/fake/fake_security_connector.cc
  src/core/lib/security/security_connector/insecure/insecure_security_connector.cc
  src/core/lib/security/security_connector/local/local_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/surface/lame_client.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/decrease, per-channel-memory/neutral

#30539 Fork iomgr traced buffer list implementation for posix event engine
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/event_engine/posix_engine/internal_errqueue.cc
  src/core/lib/event_engine/posix_engine/internal_errqueue.h
  src/core/lib/event_engine/posix_engine/traced_buffer_list.cc
  src/core/lib/event_engine/posix_engine/traced_buffer_list.h
  test/core/event_engine/posix/BUILD
  test/core/event_engine/posix/traced_buffer_list_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30573 Revert "Reland: Make GetDefaultEventEngine return a shared_ptr"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpc/event_engine/event_engine.h
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/channel_idle_filter.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/xds/xds_client.cc
  src/core/ext/xds/xds_client.h
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/event_engine/default_event_engine.cc
  src/core/lib/event_engine/default_event_engine.h
  src/core/lib/iomgr/resolve_address_posix.cc
  src/core/lib/iomgr/resolve_address_posix.h
  src/core/lib/iomgr/resolve_address_windows.cc
  src/core/lib/iomgr/resolve_address_windows.h
  src/core/lib/promise/activity.h
  src/core/lib/promise/sleep.cc
  src/core/lib/promise/sleep.h
  src/cpp/server/orca/orca_service.cc
  src/php/bin/run_tests.sh
  src/php/tests/MemoryLeakTest/ignore_leaks.supp
  test/core/channel/channel_args_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/goaway_server_test.cc
  test/core/event_engine/BUILD
  test/core/event_engine/default_engine_methods_test.cc
  test/core/event_engine/factory_test.cc
  test/core/event_engine/fuzzing_event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/posix/lock_free_event_test.cc
  test/core/event_engine/smoke_test.cc
  test/core/filters/filter_fuzzer.cc
  test/core/promise/sleep_test.cc
  test/core/transport/bdp_estimator_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/php, lang/core, release notes: no, bloat/improvement, per-call-memory/decrease, per-channel-memory/neutral

#30562 Drop Python 3.6 From Distribtests
  tools/dockerfile/distribtest/python_dev_ubuntu2004_x64/Dockerfile
  tools/dockerfile/distribtest/python_ubuntu2004_x64/Dockerfile
  tools/dockerfile/push_testing_images.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30569 [end2end] Split up h2_tls fixture
  test/core/end2end/fixtures/h2_tls_certwatch_async_tls1_3.cc
  test/core/end2end/fixtures/h2_tls_certwatch_sync_tls1_2.cc
  test/core/end2end/fixtures/h2_tls_common.h
  test/core/end2end/fixtures/h2_tls_simple.cc
  test/core/end2end/fixtures/h2_tls_static_async_tls1_3.cc
  test/core/end2end/generate_tests.bzl
  test/core/util/tls_utils.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30572 Ensure iomgr does not track Forkable threads
  src/core/lib/event_engine/posix_engine/timer_manager.cc
  src/core/lib/event_engine/thread_pool.cc
Labels: priority/P0/RELEASE BLOCKER, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30577 [fixit] Fix bad_client duplicate_header test
  test/core/bad_client/tests/duplicate_header.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30587 TooManyPingsTest: Remove unnecessary assert
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30579 [fixit] Fix too many pings test
  src/core/ext/filters/client_channel/client_channel.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#30585 [fixit] Make test more robust
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30281 Add v1.48.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30578 [fixit] Fix timeout case
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/timeout-36dbe33cfc4d07ab5c01f283c901ee35bc6de2fd
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30575 [fixit] Make activity_test lighter weight
  test/core/promise/activity_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30588 Bump core version
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30340 interop: Add v1.48.0 to interop testing for C++, php, ruby and python
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#30595 [fixit] Fix timeout on h2_tls*@retry_cancellation
  test/core/end2end/tests/retry_cancellation.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30593 [fixit] Increase timeout value for XDS Core End2End Test
  test/cpp/end2end/xds/xds_core_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30591 xDS interop: Move k8s-specific logic out of the test app
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
  tools/run_tests/xds_k8s_test_driver/bin/run_td_setup.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
  tools/run_tests/xds_k8s_test_driver/framework/bootstrap_generator_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_client_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_server_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_test_resources.py
  tools/run_tests/xds_k8s_test_driver/tests/bootstrap_generator_test.py
  tools/run_tests/xds_k8s_test_driver/tests/change_backend_service_test.py
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
  tools/run_tests/xds_k8s_test_driver/tests/remove_neg_test.py
Labels: release notes: no, area/psm interop

#30590 [fixit] Core End2End Tests: Increase the connect timeout
  test/core/end2end/goaway_server_test.cc
  test/core/end2end/tests/connectivity.cc
  test/core/end2end/tests/max_connection_idle.cc
  test/core/end2end/tests/simple_delayed_request.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30601 Fix flake in client_lb_end2end_test
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30600 [fixit] Reduce size of work_serializer_test
  test/core/gprpp/BUILD
  test/core/gprpp/work_serializer_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30609 XdsEnd2EndTest: Increase default RPC timeout
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30608 Fix forkable globals
  BUILD
  src/core/lib/event_engine/forkable.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30606 Fix flakiness in //test/cpp/common:timer_test
  test/cpp/common/timer_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30410 Fix OutputOptions and GrpcOutputOptions (issue #25950)
  src/csharp/Grpc.Tools/build/_protobuf/Google.Protobuf.Tools.targets
Labels: lang/C#, release notes: yes

#30612 [fixit] Loosen bounds on periodic update test
  test/core/resource_quota/periodic_update_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30302 [bazel] fix python detection on windows
  third_party/py/python_configure.bzl
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral

#30603 Make ruby unit tests work on ruby 3
  src/ruby/spec/generic/server_interceptors_spec.rb
  src/ruby/spec/user_agent_spec.rb
Labels: lang/ruby, release notes: no

#30604 Add logs to a ruby test that's flaky on master
  src/ruby/spec/channel_spec.rb
Labels: lang/ruby, release notes: no

#30616 [fixit] Update `tools/distrib/buildozer.sh` to make its downloading process more robust
  tools/distrib/buildozer.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30596 xDS interop: Generate deployment_id match label
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_base_runner.py
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
Labels: release notes: no, area/psm interop

#30618 [fixit] PeriodicUpdate test - accounting for missing time
  test/core/resource_quota/periodic_update_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30605 Backport EventEngine Forkables
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/lib/event_engine/forkable.cc
  src/core/lib/event_engine/forkable.h
  src/core/lib/event_engine/iomgr_engine/thread_pool.cc
  src/core/lib/event_engine/iomgr_engine/thread_pool.h
  src/core/lib/event_engine/iomgr_engine/timer_manager.cc
  src/core/lib/event_engine/iomgr_engine/timer_manager.h
  src/core/lib/gprpp/no_destruct.h
  src/core/lib/surface/init.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/BUILD
  test/core/event_engine/forkable_test.cc
  test/core/gprpp/BUILD
  test/core/gprpp/no_destruct_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/Python, lang/core, release notes: yes, bloat/low, per-call-memory/neutral

#30620 [fixit] Fix flakiness for test case ChannelzSamplerTest.SimpleTest by reducing the chance of port conflict
  test/cpp/util/BUILD
  test/cpp/util/channelz_sampler_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30602 Disable end2end_binder_transport_test on some platforms
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/transport/binder/end2end/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30621 XdsSecurityTest: Use a timeout of 5000ms for RPCs
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30614 Bump version on master branch to 1.50.0.dev
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/all wrapped languages, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30615 Bump 1.49.x branch to 1.49.0.pre1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/all wrapped languages, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30598 Add interop matrix 1.47.1 for C++, Python, Ruby and PHP
  tools/interop_matrix/README.md
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30557 Start to buildfix OpenBSD.
  src/core/lib/iomgr/sockaddr_utils_posix.cc
  third_party/cares/cares.BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30628 [fixit] Remove absl::Now() from sensitive EventEngine timer_test
  test/core/event_engine/test_suite/timer_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30627 Bump version to 1.48.1-pre1 (on v1.48.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#30617 [sleep] Make this robust against poorly implemented event engines
  BUILD
  src/core/lib/promise/sleep.cc
  src/core/lib/promise/sleep.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30623 FaultInjection: Fix random number generation
  BUILD
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.h
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_fault_injection_end2end_test.cc
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#30631 [fixit] Increase sleep time for test `ProxyEnd2endTest.RpcDeadlineExpires` to reduce flakiness
  test/cpp/end2end/end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30632 [fixit] MaxConnectionIdle: Increase idleness period to 2sec
  test/core/end2end/tests/max_connection_idle.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30636 xDS interop: Use ref server in py tests when set_not_serving needed
  tools/run_tests/xds_k8s_test_driver/tests/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Labels: release notes: no, area/psm interop

#30545 Backport to v1.40.x: remove RDS and EDS resource deletion inside of XdsClient (#28128)
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: yes

#30544 Backport to v1.41.x: remove RDS and EDS resource deletion inside of XdsClient (#28128)
  src/core/ext/xds/xds_client.cc
Labels: lang/core, release notes: yes

#30521 Backport to v1.42.x: remove RDS and EDS resource deletion inside of XdsClient (#28128)
  src/core/ext/xds/xds_client.cc
Labels: lang/core

#30637 xDS interop: Python LB tests build and use the python server
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30642 Fix forkable repeated registration
  src/core/lib/event_engine/forkable.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30629 Fix StatusCancelledWithoutStartingRecvTrailingMetadata flake in client_lb_end2end_test
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30646 [backport][v1.49.x] forkable fixes
  BUILD
  src/core/lib/event_engine/forkable.cc
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30639 [fixit] More max_connection_idle fixes
  test/core/end2end/tests/max_connection_idle.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30647 client_lb_end2end_test: fix flake caused by not doing graceful server shutdown
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30643 xDS interop: Replace pod_name with hostname
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_channelz.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_csds.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_testing.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_client_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_server_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/affinity_test.py
  tools/run_tests/xds_k8s_test_driver/tests/outlier_detection_test.py
  tools/run_tests/xds_k8s_test_driver/tests/round_robin_test.py
Labels: release notes: no, area/psm interop

#30648 Reduce amount of data exchanged and increase timeout of each data transfer operation to fix msan deadline exceeded errors in secure_endpoint_test
  test/core/iomgr/endpoint_tests.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30656 xDS interop: Python LB tests build and use the python server (1.47.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30657 xDS interop: Python LB tests build and use the python server (1.46.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30658 xDS interop: Python LB tests build and use the python server (1.45.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30659 xDS interop: Python LB tests build and use the python server (1.44.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30660 xDS interop: Python LB tests build and use the python server (1.43.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30661 xDS interop: Python LB tests build and use the python server (1.42.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30662 xDS interop: Python LB tests build and use the python server (1.41.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30663 xDS interop: Python LB tests build and use the python server (1.40.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30655 xDS interop: Python LB tests build and use the python server (1.48.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#30649 xds_routing_e2e_test: fix XdsRetryPolicyMaxBackOff flake
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30638 [test] Semi-automatic flaky test tracking
  build_autogenerated.yaml
  test/core/client_channel/resolvers/BUILD
  test/core/end2end/flaky.bzl
  test/core/end2end/generate_tests.bzl
  test/core/event_engine/posix/BUILD
  test/core/fling/BUILD
  test/core/gprpp/BUILD
  test/core/handshake/BUILD
  test/core/http/BUILD
  test/core/iomgr/BUILD
  test/core/memory_usage/BUILD
  test/core/promise/BUILD
  test/core/resource_quota/BUILD
  test/core/security/BUILD
  test/core/surface/BUILD
  test/core/transport/binder/end2end/BUILD
  test/core/transport/chttp2/BUILD
  test/core/tsi/alts/handshaker/BUILD
  test/cpp/common/BUILD
  test/cpp/end2end/BUILD
  test/cpp/end2end/xds/BUILD
  test/cpp/ext/filters/census/BUILD
  test/cpp/microbenchmarks/BUILD
  test/cpp/server/load_reporter/BUILD
  test/cpp/util/BUILD
  tools/distrib/fix_build_deps.py
  tools/distrib/run_buildozer.py
  tools/distrib/update_flakes.py
  tools/distrib/update_flakes_query.py
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30666 Fix CBF on mac by switching to grpc_core::Mutex and grpc_core::CondVar
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30652 rls_e2e_test: check authority on server side instead of using death test
  test/cpp/end2end/rls_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30665 Revert "Enable outlier detection k8s interop test for Java."
  tools/run_tests/xds_k8s_test_driver/tests/outlier_detection_test.py
Labels: release notes: no, area/psm interop

#30670 Fix CQ verifier
  test/core/end2end/cq_verifier.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30678 [fixit] Scale down large tests
  test/core/transport/binder/end2end/binder_server_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30672 [fixit] Increase timeout to start connection
  test/core/end2end/tests/retry_server_pushback_delay.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30677 [fixit] Scale down large tests
  test/cpp/client/client_channel_stress_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30689 [flaky] Update flakiness of tests
  build_autogenerated.yaml
  test/core/client_channel/resolvers/BUILD
  test/core/end2end/flaky.bzl
  test/core/security/BUILD
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30691 fixit: Avoid flake in C# Grpc.Tools tests by running tests sequentially
  tools/internal_ci/windows/grpc_basictests_csharp.cfg
Labels: lang/C#, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30681 [fixit] Scale down large tests
  test/core/iomgr/BUILD
  test/core/iomgr/stranded_event_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30687 [fixit] Scale down large tests
  test/core/client_idle/idle_filter_state_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30675 [fixit] Fix reservation
  test/core/promise/activity_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#30674 [fixit] Scale down large tests
  test/core/event_engine/windows/iocp_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
