Repository grpc/grpc, pull requests merged in 2022-04, with the labels that each got.

#29217 HTTP Proxy: Ignore empty entry in no_proxy list
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/http_proxy.cc
  src/core/ext/filters/client_channel/http_proxy.h
  test/core/client_channel/BUILD
  test/core/client_channel/http_proxy_mapper_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes, bloat/none, perf-change/none, per-call-memory/neutral

#29245 RetryFilter: Cleanup pending byte stream
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: lang/core, release notes: yes, bloat/none, perf-change/improvement, per-call-memory/neutral

#29057 Python script to query prometheus for CPU and memory data
  tools/run_tests/performance/prometheus.py
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29197 Big query upload
  tools/run_tests/performance/bq_upload_result.py
  tools/run_tests/performance/scenario_result_schema.json
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29196 Refactor tcp_read
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29272 Enable bazel remote cache for macos C/C++ CI tests
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/grpc_run_bazel_c_cpp_tests.sh
  tools/remote_build/mac.bazelrc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29259 Adding is_optional case to RLS
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_route_config.cc
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29280 Backport "Decrease verbosity of log messages that can happen during ALTS handshake cancellation (#29255)"
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29278 Bump the version to v1.45.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#29275 Rehome python bazel distribtest
  .bazelignore
  bazel/test/python_test_repo/tools/bazel
  test/distrib/bazel/python/.gitignore
  test/distrib/bazel/python/BUILD
  test/distrib/bazel/python/README.md
  test/distrib/bazel/python/WORKSPACE
  test/distrib/bazel/python/helloworld.proto
  test/distrib/bazel/python/helloworld.py
  test/distrib/bazel/python/helloworld_moved.py
  test/distrib/bazel/python/import_from_proto_library_package.py
  test/distrib/bazel/python/import_from_this_package.py
  test/distrib/bazel/python/in_subpackage/BUILD
  test/distrib/bazel/python/in_subpackage/subpackage.proto
  test/distrib/bazel/python/namespaced/upper/example/BUILD
  test/distrib/bazel/python/namespaced/upper/example/import_no_strip_test.py
  test/distrib/bazel/python/namespaced/upper/example/import_strip_test.py
  test/distrib/bazel/python/namespaced/upper/example/namespaced_dependency.proto
  test/distrib/bazel/python/namespaced/upper/example/namespaced_example.proto
  test/distrib/bazel/python/namespaced/upper/example/no_import_no_strip_test.py
  test/distrib/bazel/python/namespaced/upper/example/no_import_strip_test.py
  test/distrib/bazel/python/subdir/hello_dep.proto
  test/distrib/bazel/python/tools/bazel
  test/distrib/bazel/python/transitive_proto_dep.py
  test/distrib/bazel/python_second_test_repo/WORKSPACE
  test/distrib/bazel/python_second_test_repo/proto/BUILD
  test/distrib/bazel/test_single_bazel_version.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: infra/Bazel, release notes: no, lang/all, bloat/none, per-call-memory/neutral

#29286 Do not set custom bio size in ssl_transport_security_test when openssl version < 1.1.0
  test/core/tsi/ssl_transport_security_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29246 Add int conversions to bitset
  src/core/lib/compression/compression_internal.cc
  src/core/lib/gprpp/bitset.h
  test/core/gprpp/bitset_test.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#28877 Convert server config selector filter
  BUILD
  src/core/ext/filters/server_config_selector/server_config_selector.cc
  src/core/ext/filters/server_config_selector/server_config_selector.h
  src/core/ext/filters/server_config_selector/server_config_selector_filter.cc
  test/core/server_config_selector/server_config_selector_test.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/none, per-call-memory/neutral

#29270 Add detail to error message
  src/core/ext/transport/chttp2/server/chttp2_server.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29289 [PSM interop] Set hostname in initial metdata for Python server
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_server.py
Labels: lang/Python, area/test, release notes: no, bloat/none, per-call-memory/neutral

#29271 xds_end2end_test: make each individual test start the number of backends it needs
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29299 Revert "Adding is_optional case to RLS (#29259)"
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_route_config.cc
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29281 Cleanup bazel RBE configs
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/remote_build/README.md
  tools/remote_build/include/rbe_base_config.bazelrc
  tools/remote_build/include/rbe_remote_execution.bazelrc
  tools/remote_build/include/test_config_common.bazelrc
  tools/remote_build/linux.bazelrc
  tools/remote_build/linux_kokoro.bazelrc
  tools/remote_build/mac.bazelrc
  tools/remote_build/windows.bazelrc
Labels: release notes: no, bloat/none, per-call-memory/neutral

#24413 C# add RetryTest with service config to reproduce #23618
  src/csharp/Grpc.Core.Tests/RetryTest.cs
  src/csharp/tests.json
Labels: lang/C#, release notes: no, disposition/never stale

#29305 To myself
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29177 Filter fuzzer
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/ext/filters/channel_idle/channel_idle_filter.h
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client_authority_filter.cc
  src/core/ext/filters/http/client_authority_filter.h
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.h
  src/core/lib/channel/channel_args.h
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/gprpp/ref_counted.h
  src/core/lib/resource_quota/resource_quota.h
  src/core/lib/security/authorization/authorization_policy_provider.h
  src/core/lib/security/context/security_context.h
  src/core/lib/security/security_connector/security_connector.h
  src/core/lib/security/transport/auth_filters.h
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/surface/init.cc
  src/core/lib/transport/transport_impl.h
  test/core/channel/channel_args_test.cc
  test/core/end2end/fuzzers/api_fuzzer.dictionary
  test/core/filters/BUILD
  test/core/filters/filter_fuzzer.cc
  test/core/filters/filter_fuzzer.proto
  test/core/filters/filter_fuzzer_corpus/client-auth-filter-call
  test/core/filters/filter_fuzzer_corpus/client-authority-filter-call
  test/core/filters/filter_fuzzer_corpus/crash-3b926a43409173e3819890729338013654901164
  test/core/filters/filter_fuzzer_corpus/crash-cf405a018eb66cb2bdd506cb810c9c8cb0f5dd79
  test/core/filters/filter_fuzzer_corpus/empty
  test/core/filters/filter_fuzzer_corpus/grpc-server-authz-call
  test/core/filters/filter_fuzzer_corpus/http-client-filter-call
  test/core/util/channel_args_fuzzer.proto
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, perf-change/high, per-call-memory/neutral

#29291 xds_end2end_test: fix env var name in RLS tests
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29306 Remove unavailable-everywhere filter from fuzzer
  test/core/filters/BUILD
  test/core/filters/filter_fuzzer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29295 Filter `content-length` metadata from the application
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-Core.podspec
  grpc.gyp
  src/core/lib/surface/call.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/generate_tests.bzl
  test/core/end2end/tests/filtered_metadata.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#29314 Backport #29252 to v1.45.x: priority LB: don't update picker while update is in flight
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
Labels: lang/core, release notes: no, bloat/none

#29302 Run tests using the correct runtime for C# (.NET Framework vs .NET Core)
  tools/run_tests/run_tests.py
Labels: lang/C#, release notes: no, bloat/none, per-call-memory/neutral

#29000 Support pre-built binaries for Ruby 3.1
  Rakefile
  grpc.gemspec
  templates/grpc.gemspec.template
  tools/distrib/build_ruby_environment_macos.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: lang/ruby, release notes: yes, bloat/none, per-call-memory/neutral

#29321 ring_hash: don't unconditionally report READY upon update
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29319 Use "main" as the protobuf head branch name
  tools/internal_ci/linux/grpc_build_protobuf_at_head.cfg
Labels: priority/P0/RELEASE BLOCKER, release notes: no, bloat/none, per-call-memory/neutral

#29313 weighted_target and xds_cluster_manager: don't update picker while update is in flight
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29292 Add resource quota reclamation to tcp endpoint
  BUILD
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29320 client_lb_end2end_test: refactor connection delay injection into its own library
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/gprpp/time.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29330 unbreak proto regenerate scripts for C#, ruby, php by allowing protobuf well known types
  src/csharp/Grpc.IntegrationTesting/Control.cs
  src/csharp/generate_proto_csharp.sh
  src/php/bin/generate_proto_php.sh
  src/ruby/pb/generate_proto_ruby.sh
  src/ruby/qps/src/proto/grpc/testing/control_pb.rb
Labels: release notes: no

#28975 Add support for grpc-dotnet in GKE benchmarks
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
  tools/run_tests/performance/loadtest_examples.sh
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/performance/templates/loadtest_template_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_prebuilt_all_languages.yaml
Labels: lang/C#, release notes: yes, bloat/none, perf-change/none, per-call-memory/neutral

#29215 ORCA: implement ORCA RPC service for OOB backend metric reporting
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/ext/orca_service.h
  src/core/ext/upb-generated/xds/service/orca/v3/orca.upb.c
  src/core/ext/upb-generated/xds/service/orca/v3/orca.upb.h
  src/cpp/server/orca/orca_service.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/orca_service.proto
  test/cpp/end2end/BUILD
  test/cpp/end2end/orca_service_end2end_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/medium, perf-change/none, per-call-memory/neutral

#29340 Backport #29316 to v1.45.x: xds_cluster_resolver LB: don't reuse child numbers that might still be deactivated
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29339 Backport #29313 to v1.45.x: weighted_target and xds_cluster_manager: don't update picker while update is in flight
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
Labels: lang/core, release notes: no, bloat/none, perf-change/none

#29303 Add Python GCF Distribtest
  test/distrib/gcf/python/.gcloudignore
  test/distrib/gcf/python/.gitignore
  test/distrib/gcf/python/README.md
  test/distrib/gcf/python/cleanup.sh
  test/distrib/gcf/python/common.sh
  test/distrib/gcf/python/main.py
  test/distrib/gcf/python/requirements.txt.base
  test/distrib/gcf/python/run.sh
  test/distrib/gcf/python/run_single.sh
  tools/internal_ci/linux/grpc_distribtests_gcp_python.cfg
  tools/internal_ci/linux/grpc_distribtests_gcp_python.sh
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, area/test, release notes: yes, bloat/none, per-call-memory/neutral

#29349 connection delay injector: cap delay by deadline
  test/cpp/end2end/connection_delay_injector.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29307 HTTP2: Should not run cancelling logic on servers when receiving GOAWAY (#29067)
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: yes, bloat/none, perf-change/none

#29351 Revert "ORCA: implement ORCA RPC service for OOB backend metric reporting (#29215)"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/ext/orca_service.h
  src/core/ext/upb-generated/xds/service/orca/v3/orca.upb.c
  src/core/ext/upb-generated/xds/service/orca/v3/orca.upb.h
  src/cpp/server/orca/orca_service.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/orca_service.proto
  test/cpp/end2end/BUILD
  test/cpp/end2end/orca_service_end2end_test.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29346 Fix bugprone-stringview-nullptr
  src/core/lib/http/httpcli_security_connector.cc
  src/core/lib/security/security_connector/local/local_security_connector.cc
Labels: kind/internal cleanup, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29352 Second attempt: implement ORCA RPC service for OOB backend metric reporting
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  include/grpcpp/ext/orca_service.h
  src/core/ext/upb-generated/xds/service/orca/v3/orca.upb.c
  src/core/ext/upb-generated/xds/service/orca/v3/orca.upb.h
  src/cpp/server/orca/orca_service.cc
  src/proto/grpc/testing/xds/v3/BUILD
  src/proto/grpc/testing/xds/v3/orca_service.proto
  test/cpp/end2end/BUILD
  test/cpp/end2end/orca_service_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29358 Fixing unused return value error in orca service
  src/cpp/server/orca/orca_service.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29348 Bump the version to 1.45.2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, perf-change/none

#29360 Fix "twine"'s dependency "packaging" missing issue
  tools/run_tests/artifacts/build_artifact_python.bat
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral

#29357 Improve logging in interop soak test and add a flag to limit QPS
  doc/interop-test-descriptions.md
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29362 Bump core version 202204081538
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29364 Remove Windows Python27 build support
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.bat
Labels: lang/Python, platform/Windows, release notes: no, bloat/none, per-call-memory/neutral

#29334 Adjusting tcp min read chunk size growth to reduce wastage of incoming buffer size
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29318 Ignore Connection Aborted errors on accept
  src/core/lib/iomgr/tcp_server_posix.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral

#29353 Simplify running bazel with structured test results on CI
  .gitignore
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/internal_ci/macos/grpc_run_bazel_c_cpp_tests.sh
  tools/internal_ci/windows/bazel_rbe.bat
  tools/run_tests/python_utils/bazel_report_helper.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29354 Better bazel C++ iOS tests (with structured test results)
  tools/internal_ci/macos/grpc_bazel_core_ios_tests.cfg
  tools/internal_ci/macos/grpc_bazel_cpp_ios_tests.cfg
  tools/internal_ci/macos/grpc_run_bazel_core_ios_tests.sh
  tools/internal_ci/macos/grpc_run_bazel_cpp_ios_tests.sh
  tools/remote_build/include/test_locally_with_resultstore_results.bazelrc
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#29374 To Yash
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29378 Second attempt: Adding is_optional case to RLS
  src/core/ext/xds/xds_cluster_specifier_plugin.cc
  src/core/ext/xds/xds_cluster_specifier_plugin.h
  src/core/ext/xds/xds_route_config.cc
  src/proto/grpc/testing/xds/v3/route.proto
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29279 xds_end2end_test: move test framework to its own library
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29382 cds LB: handle loops in aggregate cluster graph
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29369 Add grpc-dotnet to stable GKE benchmarks
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: lang/C#, release notes: no, bloat/none, per-call-memory/neutral

#29301 Cleanup configuration of bazel RBE jobs
  tools/internal_ci/linux/grpc_asan_on_foundry.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_base.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_dbg.sh
  tools/internal_ci/linux/grpc_bazel_on_foundry_opt.sh
  tools/internal_ci/linux/grpc_bazel_rbe.sh
  tools/internal_ci/linux/grpc_bazel_rbe_asan.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_incompatible_changes.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_incompatible_changes.sh
  tools/internal_ci/linux/grpc_bazel_rbe_msan.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_opt.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_tsan.cfg
  tools/internal_ci/linux/grpc_bazel_rbe_ubsan.cfg
  tools/internal_ci/linux/grpc_msan_on_foundry.sh
  tools/internal_ci/linux/grpc_python_bazel_test.cfg
  tools/internal_ci/linux/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/grpc_ubsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_bazel_on_foundry_dbg.sh
  tools/internal_ci/linux/pull_request/grpc_bazel_on_foundry_opt.sh
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_asan.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_msan.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_opt.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_tsan.cfg
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_ubsan.cfg
  tools/internal_ci/linux/pull_request/grpc_msan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_tsan_on_foundry.sh
  tools/internal_ci/linux/pull_request/grpc_ubsan_on_foundry.sh
  tools/internal_ci/windows/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/windows/grpc_bazel_rbe_opt.cfg
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_dbg.cfg
  tools/internal_ci/windows/pull_request/grpc_bazel_rbe_opt.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29350 rls: don't update picker while update is in flight
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29335 Resource quota changes to give memory back sooner to total quota
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29384 cds LB: fix diamond dependency handling
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29285 xds_end2end_test: Move CSDS tests to their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_csds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29254 [xDS Proto] Enhence gRPC buildgen for 3rd party proto compilation
  CMakeLists.txt
  build_autogenerated.yaml
  cmake/download_archive.cmake
  templates/CMakeLists.txt.template
  test/distrib/cpp/run_distrib_test_cmake.bat
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/buildgen/plugins/check_attrs.py
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29395 Revert "Fault injection filter -> promises"
  BUILD
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.h
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: priority/P0/RELEASE BLOCKER, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29399 Fixing the build breakage from #29285
  test/cpp/end2end/xds/xds_csds_end2end_test.cc
Labels: lang/c++

#29397 HTTP: Conditionally allow PUT requests
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/client/http_client_filter.h
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/http/server/http_server_filter.h
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/cronet/transport/cronet_transport.cc
  src/core/lib/transport/metadata_batch.h
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29377 iOS binary size script cleanup
  tools/internal_ci/macos/grpc_ios_binary_size.cfg
  tools/internal_ci/macos/grpc_ios_binary_size.sh
  tools/profiling/ios_bin/binary_size.py
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral

#29355 Simplify ARM64 bazel invocation (and produce resultstore bazel results).
  tools/internal_ci/linux/arm64/grpc_bazel_test_c_cpp_in_docker.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29392 secure endpoint: Don't allocate slice buffers when using the zero copy protector, as they are entirely unused.
  src/core/lib/security/transport/secure_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29283 xds_end2end_test: Move fault injection tests into their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_fault_injection_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29383 Fixes a flake with the LoadReporter end2end test.
  test/cpp/end2end/server_load_reporting_end2end_test.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29290 xds_end2end_test: Move RLS tests to their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_rls_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29398 RouteGuide example: Abort if database file not found
  examples/cpp/route_guide/helper.cc
Labels: lang/c++, release notes: yes

#29296 Add Session Token to AWS IMDSv2 Metadata requests
  src/core/lib/http/format_request.cc
  src/core/lib/http/format_request.h
  src/core/lib/http/httpcli.cc
  src/core/lib/http/httpcli.h
  src/core/lib/security/credentials/external/aws_external_account_credentials.cc
  src/core/lib/security/credentials/external/aws_external_account_credentials.h
  test/core/security/credentials_test.cc
  test/core/security/jwt_verifier_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29406 Clarify that only Bazel LTS releases count in support policy
  doc/bazel_support.md
  templates/doc/bazel_support.md.template
Labels: area/documentation, infra/Bazel, release notes: no, lang/all

#29332 priority and ring_hash LBs: fix interactions when using ring_hash under priority
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29405 orca_service_end2end_test: increase flake timing tolerance
  test/cpp/end2end/orca_service_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29403 xds_end2end_test: move core XdsClient tests to their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29414 Bump dev version to v1.47.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/core/lib/surface/version.cc
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29407 Improve the MaxFault test case
  test/cpp/end2end/xds/xds_fault_injection_end2end_test.cc
Labels: lang/c++, area/test, release notes: no, bloat/none, per-call-memory/neutral

#29415 Bump release version to v1.46.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29169 Support unix socket in grpc_sockaddr_to_string
  BUILD
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel_pool_interface.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/xds/xds_listener.cc
  src/core/lib/address_utils/sockaddr_utils.cc
  src/core/lib/address_utils/sockaddr_utils.h
  src/core/lib/http/httpcli.cc
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/event_engine/endpoint.cc
  src/core/lib/iomgr/event_engine/resolved_address_internal.cc
  src/core/lib/iomgr/event_engine/resolved_address_internal.h
  src/core/lib/iomgr/event_engine/tcp.cc
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/iomgr/tcp_client_cfstream.cc
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_client_windows.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/tcp_server_utils_posix_ifaddrs.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/resolver/server_address.cc
  test/core/address_utils/sockaddr_utils_test.cc
  test/core/end2end/dualstack_socket_test.cc
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/iomgr/tcp_server_posix_test.cc
  test/core/security/evaluate_args_test.cc
  test/core/util/fake_udp_and_tcp_server.cc
  test/cpp/naming/address_sorting_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: lang/core, release notes: no, bloat/low, perf-change/improvement, per-call-memory/neutral

#29420 PSM Security: Increase test timeout to 240mins for C++ and Python
  tools/internal_ci/linux/psm-security-python.cfg
  tools/internal_ci/linux/psm-security.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29408 xds_end2end_test: Fix race in security tests
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29421 PSM Security: Increase test timeout to 240 for C++ and Python (#29420)
  tools/internal_ci/linux/psm-security-python.cfg
  tools/internal_ci/linux/psm-security.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29409 xds_end2end_test: move routing tests to their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/no_op_http_filter.h
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29287 xds_end2end_test: Move ring_hash tests to their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29298 xds_end2end_test: Move aggregate and logical_dns cluster tests to their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29426 Revert "Adjusting tcp min read chunk size growth to reduce wastage of incoming buffer size"
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29424 Prevent direct usage of absl::Mutex
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/lib/iomgr/event_engine/promise.h
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/promise/observable.h
  src/core/lib/security/transport/secure_endpoint.cc
  test/core/promise/activity_test.cc
  test/core/promise/observable_test.cc
  test/core/transport/chttp2/flow_control_test.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/core/transport/chttp2/streams_not_seen_test.cc
  test/core/transport/chttp2/too_many_pings_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/run_tests/sanity/check_absl_mutex.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29422 ring_hash: trigger internal connection attemps on only one subchannel at a time
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29431 xds_ring_hash_end2end_test: increase RPC timeout to avoid failures on ARM
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#28928 interop_matrix: add java 1.44.1 to the interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, perf-change/none, per-call-memory/neutral

#29323 Fix grpc_sockaddr_to_uri to handle embedded nulls for unix_abstract resolved addresses
  BUILD
  src/core/lib/address_utils/sockaddr_utils.cc
  test/core/address_utils/sockaddr_utils_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29435 Repo manager - AJ
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29430 xds_end2end_test: Move CDS and EDS tests to their own file
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29432 Add a raise for generate_projects if Python is too old
  tools/buildgen/generate_projects.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral

#29434 Remove unmatched grpc_init from *ChannelFromFd methods
  src/cpp/client/create_channel_posix.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29437 Fix msan/ubsan failure in #29411
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29438 HTTP: Rename PUT allowing channel arg
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/filters/http/server/http_server_filter.h
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29375 Disable layering check for Objective-C
  src/objective-c/BUILD
Labels: release notes: no

#29423 Fix Python xDS Interop Client Time Slicing
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client_test.py
Labels: kind/bug, lang/Python, area/test, release notes: no, bloat/none

#29445 connection delay injector: fix tsan problems
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29444 xds_end2end_test_lib: use DEBUG_LOCATION to log where failures originate
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_csds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_fault_injection_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  test/cpp/end2end/xds/xds_rls_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29449 Fix TSAN race
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29452 Roll forward fault injection --> promises
  BUILD
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
  src/core/ext/filters/fault_injection/fault_injection_filter.h
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/neutral

#29336 Add scenario generation for PSM tests.
  tools/run_tests/performance/loadtest_config.py
  tools/run_tests/performance/scenario_config.py
Labels: area/performance/benchmarking, release notes: no, bloat/none, per-call-memory/neutral

#29012 LB policy API: add OOB backend metric API
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/backend_metric.cc
  src/core/ext/filters/client_channel/backend_metric.h
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.cc
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_interface.h
  src/core/ext/filters/client_channel/subchannel_interface_internal.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/util/test_lb_policies.cc
  test/core/util/test_lb_policies.h
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/medium, perf-change/none, per-call-memory/neutral

#29458 Revert "Fix Python xDS Interop Client Time Slicing"
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client_test.py
Labels: release notes: no

#29460 Revert "Revert "Fix Python xDS Interop Client Time Slicing""
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client_test.py
Labels: lang/Python, area/test, release notes: no

#29464 Fix typo in scenario names when generated by loadtest_config.py
  tools/run_tests/performance/loadtest_config.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29465 Update java psm base scenario to have 15 warm up seconds
  tools/run_tests/performance/scenario_config.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29456 Add templates for PSM test.
  tools/run_tests/performance/loadtest_examples.sh
  tools/run_tests/performance/templates/loadtest_template_psm_proxied_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_psm_proxied_prebuilt_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_psm_proxyless_basic_all_languages.yaml
  tools/run_tests/performance/templates/loadtest_template_psm_proxyless_prebuilt_all_languages.yaml
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29393 Replace grpc_chttp2_stream::included with a grpc_core::BitSet.
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/stream_lists.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29461 xds_ring_hash_end2end_test: fix flake in ContinuesConnectingWithoutPicks
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29404 Fixing RouteGuide's C++ Reactor example.
  examples/cpp/route_guide/route_guide_callback_server.cc
  tools/run_tests/sanity/check_absl_mutex.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29467 [1.46][fault-injection] Backport fix for fault injection filter
  BUILD
  src/core/ext/filters/fault_injection/fault_injection_filter.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29471 Bump release version to v1.46.0-pre2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29463 Remove var type annotations in extract_metadata_from_bazel_xml
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/buildgen/generate_projects.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral

#29473 Fix typo in psm proxyless template for prebuilt workers.
  tools/run_tests/performance/templates/loadtest_template_psm_proxyless_prebuilt_all_languages.yaml
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29470 Reduce spam log messages at server under high memory pressure
  src/core/lib/iomgr/tcp_server_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29468 build_and_run_docker.sh cleanup and simplification
  tools/internal_ci/linux/grpc_bloat_diff.sh
  tools/internal_ci/linux/grpc_memory_diff.sh
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/dockerize/build_and_run_docker.sh
  tools/run_tests/dockerize/build_interop_image.sh
  tools/run_tests/dockerize/docker_run.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29402 Cleanup & improve bazel-based test jobs running under docker.
  tools/internal_ci/linux/arm64/grpc_bazel.sh
  tools/internal_ci/linux/arm64/grpc_bazel_test_c_cpp.cfg
  tools/internal_ci/linux/arm64/grpc_bazel_test_c_cpp_in_docker.sh
  tools/internal_ci/linux/grpc_bazel.sh
  tools/internal_ci/linux/grpc_bazel_build.cfg
  tools/internal_ci/linux/grpc_bazel_build_in_docker.sh
  tools/internal_ci/linux/grpc_binder_transport_apk.cfg
  tools/internal_ci/linux/grpc_binder_transport_apk.sh
  tools/internal_ci/linux/grpc_binder_transport_apk_build_in_docker.sh
  tools/internal_ci/linux/grpc_feature_example_tests.cfg
  tools/internal_ci/linux/grpc_feature_example_tests_in_docker.sh
  tools/internal_ci/linux/grpc_flaky_network.cfg
  tools/internal_ci/linux/grpc_flaky_network.sh
  tools/internal_ci/linux/grpc_flaky_network_in_docker.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
  tools/internal_ci/linux/pull_request/grpc_feature_example_tests.cfg
  tools/run_tests/dockerize/docker_propagate_env.list
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29469 Cleanup run_in_docker.sh and corresponding examples.
  tools/docker_runners/examples/bazel_test_in_docker.sh
  tools/docker_runners/examples/coredump_in_docker.sh
  tools/docker_runners/examples/gdb_in_docker.sh
  tools/docker_runners/examples/run_tests_c_in_docker.sh
  tools/docker_runners/examples/run_tests_csharp_in_docker.sh
  tools/docker_runners/run_in_docker.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29466 Modifying slice buffer add to merge two contiguous slices sharing the same refcount object
  include/grpcpp/impl/codegen/core_codegen.h
  include/grpcpp/impl/codegen/core_codegen_interface.h
  include/grpcpp/impl/codegen/proto_buffer_writer.h
  src/core/lib/slice/slice_buffer.cc
  src/cpp/common/core_codegen.cc
  test/core/slice/slice_buffer_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#28212 Fix deprecated inheritance of std::iterator
  include/grpcpp/impl/codegen/security/auth_context.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral

#29488 [flake] mark test nomsan
  test/cpp/client/BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29472 Update appnet interop
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/tests/app_net_test.py
Labels: area/test, release notes: no, lang/all

#29485 Add DNS Server address override to the EventEngine API
  doc/naming.md
  include/grpc/event_engine/event_engine.h
Labels: area/core, lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29482 Fix crash when sockaddr cannot be converted to string
  src/core/ext/filters/client_channel/subchannel.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29446 Disable layering check for Objective-C
  src/objective-c/BUILD
Labels: lang/ObjC, platform/iOS, release notes: no

#29484 Add v1.44.0, v1.45.0, and v1.46.0 releases of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29491 RepoMgr: @donnadionne
  .github/ISSUE_TEMPLATE/bug_report_core.md
  .github/ISSUE_TEMPLATE/bug_report_cpp.md
  .github/ISSUE_TEMPLATE/cleanup_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29462 HTTP: Send GOAWAY frame with last stream ID on immediate disconnect
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29492 Revert "Add DNS Server address override to the EventEngine API"
  doc/naming.md
  include/grpc/event_engine/event_engine.h
Labels: lang/core, release notes: no, per-call-memory/neutral

#29400 Remove long-disabled grpc_coverage kokoro job
  tools/internal_ci/linux/grpc_coverage.cfg
  tools/internal_ci/linux/grpc_coverage.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29493 Reland: Add DNS Server address override to the EventEngine API
  doc/naming.md
  include/grpc/event_engine/event_engine.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29344 [promises] Add abstractions for capturing batches
  src/core/ext/filters/client_channel/dynamic_filters.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/transport/transport.cc
  src/core/lib/transport/transport.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral

#29428 subchannel: report IDLE upon existing connection failure and after backoff interval
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/filters/client_channel/subchannel_interface.h
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/connection_delay_injector.cc
  test/cpp/end2end/connection_delay_injector.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#28985 Update Documentation for AuthMetadataProcessor
  doc/server_side_auth.md
  include/grpcpp/security/auth_metadata_processor.h
  src/core/lib/security/transport/server_auth_filter.cc
Labels: lang/c++, lang/core, bloat/none, perf-change/none, per-call-memory/neutral

#29322 Expose NoOpCertificateVerifier to C++
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_certificate_verifier.h
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/cpp/common/tls_certificate_verifier.cc
  test/core/security/grpc_tls_certificate_verifier_test.cc
  test/cpp/security/tls_certificate_verifier_test.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/neutral

#29394 Restructure HPackParserTable to not use an inline table, and use a std::vector for its ring buffer instead.
  src/core/ext/transport/chttp2/transport/hpack_parser_table.cc
  src/core/ext/transport/chttp2/transport/hpack_parser_table.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral

#29503 Adding a min progress size argument to grpc_endpoint_read to allow gRPC to use TCP optimizations on the read path
  src/core/ext/filters/client_channel/http_connect_handshaker.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/http/httpcli.h
  src/core/lib/iomgr/endpoint.cc
  src/core/lib/iomgr/endpoint.h
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/event_engine/endpoint.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/security/transport/security_handshaker.cc
  test/core/bad_client/bad_client.cc
  test/core/end2end/bad_server_response_test.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/handshake/readahead_handshaker_server_ssl.cc
  test/core/iomgr/endpoint_tests.cc
  test/core/iomgr/ios/CFStreamTests/CFStreamEndpointTests.mm
  test/core/iomgr/tcp_posix_test.cc
  test/core/security/secure_endpoint_test.cc
  test/core/transport/chttp2/graceful_shutdown_test.cc
  test/core/transport/chttp2/settings_timeout_test.cc
  test/core/transport/chttp2/streams_not_seen_test.cc
  test/core/util/mock_endpoint.cc
  test/core/util/passthru_endpoint.cc
  test/cpp/microbenchmarks/bm_chttp2_transport.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral

#29524 [build] Remove str_format.h from server_address.h
  BUILD
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/lib/resolver/server_address.cc
  src/core/lib/resolver/server_address.h
  test/core/http/httpcli_test.cc
  test/core/http/httpscli_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#29529 Remove myself from all owners files
  .github/CODEOWNERS
  OWNERS
  bazel/OWNERS
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29528 resolver: cc me on all PRs
  .github/CODEOWNERS
  src/core/lib/resolver/OWNERS
  src/core/lib/service_config/OWNERS
Labels: lang/core, release notes: no, area/infra, bloat/none, per-call-memory/neutral

#29522 [build] Move PID controller to its own build target
  BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral

#29527 [iwyu] Enable --no_fwd_decls on iwyu script
  src/core/lib/promise/activity.cc
  src/core/lib/promise/arena_promise.h
  src/core/lib/promise/call_push_pull.h
  src/core/lib/promise/detail/basic_seq.h
  src/core/lib/promise/loop.h
  src/core/lib/promise/observable.h
  src/core/lib/promise/pipe.h
  src/core/lib/promise/sleep.cc
  src/core/lib/promise/sleep.h
  src/core/lib/promise/try_seq.h
  src/core/lib/promise/wait_set.h
  tools/dockerfile/grpc_iwyu/iwyu.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral
