Repository grpc/grpc, pull requests merged in 2023-10, with the labels that each got.

#34571 [test] Extend cancellation deadline (that should not be reached)
  test/core/end2end/tests/cancel_after_invoke.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34573 [test] Extend deadline to resolve fuzzer bug
  test/core/end2end/tests/retry_streaming_after_commit.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34572 [client_lb_e2e_test] fix flake in RR HealthChecking test
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34564 [test] Move random number generation before main test
  test/core/end2end/tests/invoke_large_request.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34575 [tests] fix flakes caused by dualstack changes
  test/core/transport/chttp2/too_many_pings_test.cc
  test/cpp/end2end/channelz_service_test.cc
  test/cpp/end2end/tls_key_export_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34579 [server_fuzzer] Fix call details and metadata destruction point
  test/core/end2end/fuzzers/server_fuzzer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34567 [filter-test] Allow running grpc_init safely
  src/core/lib/iomgr/timer_manager.cc
  src/core/lib/iomgr/timer_manager.h
  test/core/filters/client_auth_filter_test.cc
  test/core/filters/client_authority_filter_test.cc
  test/core/filters/filter_test.cc
  test/core/filters/filter_test.h
  test/core/filters/filter_test_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34462 [bazelified tests] First attempt at bazelified rules for building artifacts/packages
  tools/bazelify_tests/BUILD
  tools/bazelify_tests/build_defs.bzl
  tools/bazelify_tests/grpc_build_artifact_task.sh
  tools/bazelify_tests/grpc_build_artifact_task_build_test.sh
  tools/bazelify_tests/grpc_run_distribtest_test.sh
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/build_artifact_php_linux.sh
  tools/bazelify_tests/test/build_artifact_protoc_linux.sh
  tools/bazelify_tests/test/build_artifact_python_linux_x64_cp311.sh
  tools/bazelify_tests/test/build_artifact_python_linux_x64_cp37.sh
  tools/bazelify_tests/test/build_package_csharp_linux.sh
  tools/bazelify_tests/test/build_package_python_linux.sh
  tools/bazelify_tests/test/run_distribtest_csharp_linux.sh
  tools/bazelify_tests/test/run_distribtest_php_linux.sh
  tools/bazelify_tests/test/run_distribtest_python_linux.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34535 [reflection] Add v1 reflection
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  include/grpcpp/ext/proto_server_reflection_plugin.h
  src/cpp/ext/proto_server_reflection.cc
  src/cpp/ext/proto_server_reflection.h
  src/cpp/ext/proto_server_reflection_plugin.cc
  test/cpp/end2end/proto_server_reflection_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34485 [EventEngine] Extend the `event_engine_dns` experiment
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34533 [owners] Remove the mkowners tool
  bazel/OWNERS
  cmake/OWNERS
  src/core/ext/filters/client_channel/OWNERS
  src/core/ext/transport/chttp2/transport/OWNERS
  src/core/ext/xds/OWNERS
  src/core/lib/resolver/OWNERS
  src/core/lib/service_config/OWNERS
  tools/dockerfile/OWNERS
  tools/mkowners/mkowners.py
  tools/run_tests/sanity/check_owners.sh
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34524 [work-serializer] Flush time cache in legacy impl per iteration
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/gprpp/work_serializer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34560 [PSM Interop] Fix the 10-minute-teardown issue in GAMMA tests
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/gamma_server_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_gamma_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/gamma/affinity_test.py
Labels: release notes: no, area/psm interop

#34554 [distribtest] Use the blessed method to get GCF support Python runtimes
  test/distrib/gcf/python/run.sh
Labels: lang/Python, area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34539 [ssl] Do not crash if ssl session cache capacity is zero.
  src/core/tsi/ssl/session_cache/ssl_session_cache.cc
  test/core/tsi/ssl_session_cache_test.cc
  test/cpp/end2end/ssl_credentials_test.cc
Labels: lang/c++, area/security, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34516 [PSM Interop] Resume app_net_ssa_test
  tools/internal_ci/linux/psm-csm.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#34583 [chttp2] Dont send ping-acks with large data frames
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34532 [chttp2] Document some policies
  src/core/ext/transport/chttp2/transport/ping_callbacks.h
  src/core/ext/transport/chttp2/transport/ping_rate_policy.cc
  src/core/ext/transport/chttp2/transport/ping_rate_policy.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34526 [outlier detection] support multiple addresses per endpoint
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/lib/resolver/endpoint_addresses.cc
  src/core/lib/resolver/endpoint_addresses.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/resolver/BUILD
  test/core/resolver/endpoint_addresses_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34594 Revert "[reflection] Add v1 reflection"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  include/grpcpp/ext/proto_server_reflection_plugin.h
  src/cpp/ext/proto_server_reflection.cc
  src/cpp/ext/proto_server_reflection.h
  src/cpp/ext/proto_server_reflection_plugin.cc
  test/cpp/end2end/proto_server_reflection_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: lang/c++, release notes: no

#34589 [chttp2] Delay starting ping timeout timer until writes complete
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/ping_callbacks.cc
  src/core/ext/transport/chttp2/transport/ping_callbacks.h
  src/core/ext/transport/chttp2/transport/writing.cc
  test/core/transport/chttp2/ping_callbacks_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34604 [api-fuzzer] fix flipped conditional
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34593 Revert "[Dependencies] Bump gevent from 22.08.0 to 23.9.1"
  requirements.bazel.txt
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34497 [EventEngine] Fix WinSocket/IOCP notification race
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/win_socket.h
  src/core/lib/surface/completion_queue.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34601 [Test] Removed flaky android testing devices
  tools/internal_ci/linux/grpc_android_in_docker.sh
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34602 [fuzzing] Fix payload_fuzzer timeout
  test/core/end2end/end2end_test_corpus/payload/5933711775301632
  test/core/end2end/end2end_test_fuzzer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34600 [Test] Bump the timeout for bazelify distribtest_php_linux_x64_debian10
  tools/bazelify_tests/test/BUILD
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34605 [api-fuzzer] Move most of the functionality down into BasicFuzzer
  test/core/end2end/fuzzers/BUILD
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/fuzzing_common.cc
  test/core/end2end/fuzzers/fuzzing_common.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34568 [bazelify tests] Add "concurrent_bazel.sh" wrapper to enable parallel invocations of bazel
  templates/tools/dockerfile/git_avoid_dubious_ownership_error_allusers.include
  templates/tools/dockerfile/test/bazel/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/docker_runners/examples/concurrent_bazel.sh
  tools/dockerfile/test/bazel.current_version
  tools/dockerfile/test/bazel/Dockerfile
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34613 [build] Fix compile error
  test/core/end2end/fuzzers/api_fuzzer.cc
Labels: lang/core, release notes: no

#34588 [status-doc] clarify status code behavior outside the defined range of codes
  doc/statuscodes.md
Labels: area/documentation, release notes: no

#34599 [reflection] Add v1 reflection
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  include/grpcpp/ext/proto_server_reflection_plugin.h
  src/cpp/ext/proto_server_reflection.cc
  src/cpp/ext/proto_server_reflection.h
  src/cpp/ext/proto_server_reflection_plugin.cc
  test/cpp/end2end/proto_server_reflection_test.cc
  test/cpp/util/grpc_tool_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34472 [SSA] support multiple addresses per endpoint
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34553 [Cord] Backport-1.58: Fix MakeCordFromSlice memory bug
  include/grpcpp/support/proto_buffer_reader.h
Labels: kind/bug, lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34557 [Cord] Backport-1.57: Fix MakeCordFromSlice memory bug
  include/grpcpp/support/proto_buffer_reader.h
Labels: kind/bug, lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34558 [Cord] Backport-1.56: Fix MakeCordFromSlice memory bug
  include/grpcpp/support/proto_buffer_reader.h
Labels: kind/bug, lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34559 [Cord] Backport-1.55: Fix MakeCordFromSlice memory bug
  include/grpcpp/support/proto_buffer_reader.h
Labels: kind/bug, lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34620 [Release] Bump version to 1.59.1 (on v1.59.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, per-call-memory/neutral, per-channel-memory/neutral

#34621 [Release] Bump version to 1.55.4 (on v1.55.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34622 [Release] Bump version to 1.56.3 (on v1.56.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34623 [Release] Bump version to 1.57.1 (on v1.57.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34624 [Release] Bump version to 1.58.2 (on v1.58.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34610 [ring_hash] add test and make some minor fixes and improvements
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/ring_hash_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34630 [fuzzers] Fix warnings
  test/core/end2end/fuzzers/fuzzing_common.cc
  test/core/end2end/fuzzers/server_fuzzer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34550 [test infra] Bump Python Windows distribtest timeout
  tools/internal_ci/windows/grpc_distribtests_python.cfg
Labels: lang/Python, area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34191 [chaotic-good] Initial change of chaotic-good client-read path.
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/ext/transport/chaotic_good/frame.cc
  src/core/ext/transport/chaotic_good/frame.h
  src/core/ext/transport/chaotic_good/frame_header.h
  src/core/lib/transport/promise_endpoint.cc
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/client_transport_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34637 [chttp2] Randomly ping on RST_STREAM
  BUILD
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_rst_stream.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34638 [chttp2] Limit request count before receiving settings ack
  bazel/experiments.bzl
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/bad_client/bad_client.cc
  test/core/bad_client/bad_client.h
  test/core/bad_client/generate_tests.bzl
  test/core/bad_client/tests/initial_settings_frame.cc
Labels: lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34639 [chttp2] Limit work per read cycle
  BUILD
  bazel/experiments.bzl
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/iomgr/combiner.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34635 [C++] Use GOOGLE_PROTOBUF_VERSION instead of PROTOBUF_VERSION.
  include/grpcpp/support/proto_buffer_reader.h
  include/grpcpp/support/proto_buffer_writer.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34640 [chttp2] Enforce settings acks
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34641 [chttp2] Tarpit invalid requests
  bazel/experiments.bzl
  src/core/ext/filters/http/server/http_server_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
Labels: lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34642 [chttp2] Experiments for rst_stream pushback
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  bazel/experiments.bzl
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/max_concurrent_streams_policy.cc
  src/core/ext/transport/chttp2/transport/max_concurrent_streams_policy.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/python/grpcio/grpc_core_dependencies.py
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/max_concurrent_streams_policy_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34633 [FuzzingEventEngine] fix TickForDuration() bug and add test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/event_engine/fuzzing_event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine_unittest.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34627 [fuzzing] Fix timeout in retry_exceeds_buffer_size_in_delay
  doc/environment_variables.md
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/ping_callbacks.cc
  src/core/ext/transport/chttp2/transport/ping_callbacks.h
  src/core/ext/transport/chttp2/transport/writing.cc
  test/core/end2end/end2end_test_corpus/retry_exceeds_buffer_size_in_delay/4539040427737088
  test/core/end2end/end2end_test_fuzzer.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/transport/chttp2/ping_callbacks_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34643 [idle] De-experimentalize max_idle jitter
  src/core/BUILD
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34402 [Python Documentation] fix a typo
  src/python/grpcio/README.rst
Labels: lang/Python, disposition/requires reporter action, release notes: no

#34603 [Test] Bazel distrib test
  test/distrib/bazel/run_bazel_distrib_test.sh
  tools/internal_ci/linux/grpc_bazel_distribtest.cfg
  tools/internal_ci/linux/grpc_bazel_distribtest.sh
  tools/internal_ci/linux/grpc_bazel_distribtest_latest.cfg
  tools/internal_ci/linux/grpc_bazel_distribtest_latest.sh
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34664 [CSM] Google Cloud C++ libraries now allow bazel layering checks
  src/cpp/ext/csm/BUILD
  test/cpp/ext/csm/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34598 [cpp] Reland removal of channel_filter code
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  src/cpp/common/channel_filter.cc
  src/cpp/common/channel_filter.h
  test/cpp/common/BUILD
  test/cpp/common/channel_filter_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/filter_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34650 [interop] Add v1.58.3 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34647 [chttp2] Add an experiment to separate liveness checks from ping timeouts
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/end2end/tests/keepalive_timeout.cc
Labels: lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34615 [pick_first] implement address interleaving for Happy Eyeballs
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34653 [client idleness] enable via experiment
  src/core/BUILD
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/channel/minimal_stack_is_minimal_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34658 [xxhash] add a wrapper header to avoid clang-format breakage
  Package.swift
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/gprpp/xxhash_inline.h
  test/core/client_channel/lb_policy/ring_hash_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34673 [iwyu] fix
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
Labels: lang/core

#34675 Revert "[client idleness] enable via experiment"
  src/core/BUILD
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/channel/minimal_stack_is_minimal_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34676 [inproc] fix fuzzing
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34665 [chttp2] Bound write sizes based on observed write performance
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  bazel/experiments.bzl
  build_autogenerated.yaml
  config.m4
  config.w32
  fuzztest/core/transport/chttp2/BUILD
  fuzztest/core/transport/chttp2/write_size_policy_test.cc
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/write_size_policy.cc
  src/core/ext/transport/chttp2/transport/write_size_policy.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/python/grpcio/grpc_core_dependencies.py
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/write_size_policy_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34655 [fuzzing] Fix api-fuzzer found bug in ClientPromiseBasedCall
  src/core/lib/promise/pipe.h
  src/core/lib/surface/call.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/5782679267115008
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34678 [xds_override_host] fix vector initialization bug
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34677 [client idleness] reland: enable with experiment
  src/core/BUILD
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/channel/minimal_stack_is_minimal_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34679 [testing] Add a test of server handling of calls that expired in the request matcher
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/end2end/BUILD
  test/core/end2end/end2end_test_corpus/timeout_before_request_call/empty
  test/core/end2end/end2end_test_suites.cc
  test/core/end2end/end2end_tests.cc
  test/core/end2end/end2end_tests.h
  test/core/end2end/fixtures/inproc_fixture.h
  test/core/end2end/fixtures/local_util.cc
  test/core/end2end/fixtures/local_util.h
  test/core/end2end/fixtures/secure_fixture.h
  test/core/end2end/fixtures/sockpair_fixture.h
  test/core/end2end/h2_ssl_cert_test.cc
  test/core/end2end/tests/timeout_before_request_call.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34612 [server] Add new flat_hash_map structure for per-channel registered methods
  BUILD
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34577 [EventEngine] Lock-free fix for WinSocket/IOCP notification race
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/win_socket.h
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_endpoint.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/event_engine/windows/windows_listener.cc
  test/core/event_engine/windows/iocp_test.cc
  test/core/event_engine/windows/win_socket_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34700 [EventEngine] Re-enable skipped core/end2end tests
  test/core/end2end/end2end_tests.h
  test/core/end2end/tests/cancel_after_accept.cc
  test/core/end2end/tests/cancel_after_invoke.cc
  test/core/end2end/tests/cancel_with_status.cc
  test/core/end2end/tests/simple_request.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34687 [PSM Interop] Log Google Cloud API debug header part 2
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
Labels: release notes: no

#33460 [PSM Interop] New cleanup script
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/namespace.py
  tools/run_tests/xds_k8s_test_driver/framework/helpers/datetime.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#34692 [CSM C++] Fix behavior when peer does not send metadata
  src/cpp/ext/csm/metadata_exchange.cc
  src/cpp/ext/csm/metadata_exchange.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33786 [TLS - Revocation] Crl Provider
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_crl_provider.h
  include/grpc/module.modulemap
  include/grpcpp/security/tls_credentials_options.h
  include/grpcpp/security/tls_crl_provider.h
  package.xml
  src/core/BUILD
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/cpp/common/tls_credentials_options.cc
  src/cpp/server/secure_server_credentials.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/grpc_tls_credentials_options_comparator_test.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/grpc_tls_crl_provider_test.cc
  test/core/tsi/BUILD
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/test_creds/crl_data/crls/BUILD
  test/core/util/tls_utils.cc
  test/cpp/client/BUILD
  test/cpp/client/credentials_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/crl_provider_test.cc
  test/cpp/server/BUILD
  test/cpp/server/credentials_test.cc
  tools/codegen/core/gen_grpc_tls_credentials_options.py
  tools/distrib/fix_build_deps.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/ruby, area/security, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#34632 [ruby] create debug symbol packages
  Rakefile
  src/ruby/ext/grpc/extconf.rb
  src/ruby/nativedebug/README.md
  src/ruby/nativedebug/build_package.sh
  src/ruby/nativedebug/grpc-native-debug.gemspec
  src/ruby/nativedebug/platform.rb
  src/ruby/nativedebug/version.rb
  templates/src/ruby/nativedebug/version.rb.template
  third_party/rake-compiler-dock/rake_aarch64-linux.current_version
  third_party/rake-compiler-dock/rake_aarch64-linux/Dockerfile
  third_party/rake-compiler-dock/rake_arm64-darwin.current_version
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt.current_version
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32.current_version
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux.current_version
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32.current_version
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin.current_version
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux.current_version
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/bazelify_tests/dockerimage_current_versions.bzl
Labels: lang/ruby, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34578 [maintainers] Update MAINTAINERS.md
  MAINTAINERS.md
Labels: area/documentation, release notes: no, imported, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34713 Revert "[TLS - Revocation] Crl Provider (#33786)"
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_crl_provider.h
  include/grpc/module.modulemap
  include/grpcpp/security/tls_credentials_options.h
  include/grpcpp/security/tls_crl_provider.h
  package.xml
  src/core/BUILD
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/cpp/common/tls_credentials_options.cc
  src/cpp/server/secure_server_credentials.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/grpc_tls_credentials_options_comparator_test.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/grpc_tls_crl_provider_test.cc
  test/core/tsi/BUILD
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/test_creds/crl_data/crls/BUILD
  test/core/util/tls_utils.cc
  test/cpp/client/BUILD
  test/cpp/client/credentials_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/crl_provider_test.cc
  test/cpp/server/BUILD
  test/cpp/server/credentials_test.cc
  tools/codegen/core/gen_grpc_tls_credentials_options.py
  tools/distrib/fix_build_deps.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core

#34662 [Bazel] Fix some build deps
  BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34652 [interop] Update go version v1.56.x and v1.57.x interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34680 [promises] Handle double scheduling of GRPC_OP_RECV_STATUS_ON_CLIENT
  src/core/lib/surface/call.cc
  test/core/end2end/fuzzers/client_fuzzer_corpus/5760937752592384
  test/core/end2end/fuzzers/fuzzing_common.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34719 [Test] Fix typo
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_build.cfg
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34521 [csharp] Grpc.Tools documentation for sharing proto files between projects and nuget packages
  src/csharp/BUILD-INTEGRATION.md
Labels: lang/C#, release notes: yes

#34717 [pick_first] don't finish Happy Eyeballs pass until all subchannels fail at least once
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34720 [Test] RBE back to Ubuntu 20.04
  templates/tools/dockerfile/test/rbe_ubuntu2004/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/test/rbe_ubuntu2004.current_version
  tools/dockerfile/test/rbe_ubuntu2004/Dockerfile
  tools/dockerfile/test/rbe_ubuntu2204.current_version
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34479 [server] Remove name parameter from CreateMemoryOwner
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/iomgr/event_engine_shims/tcp_client.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/resource_quota/memory_quota.h
  src/core/lib/security/transport/secure_endpoint.cc
  src/core/lib/surface/channel.cc
  test/core/resource_quota/memory_quota_fuzzer.cc
  test/core/resource_quota/memory_quota_stress_test.cc
  test/core/resource_quota/memory_quota_test.cc
  test/core/transport/chttp2/flow_control_fuzzer.cc
  test/core/transport/chttp2/flow_control_test.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34727 [cleanup] Re-delete accidentally re-added file
  src/cpp/common/channel_filter.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34725 [Fix Python Deadlock] Guard grpc_ssl_credentials_create with nogil (v1.59.x backport)
  src/python/grpcio/grpc/_cython/_cygrpc/credentials.pyx.pxi
  src/python/grpcio_tests/tests/unit/_api_test.py
Labels: lang/Python, release notes: no

#34619 [PSM Interop] Support --noenable_workload_identity in helper scripts
  tools/run_tests/xds_k8s_test_driver/bin/lib/common.py
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_ping_pong.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
Labels: release notes: no, area/psm interop

#34729 [build] Remove linkage of logging_filter -> otel
  BUILD
  src/core/BUILD
  src/core/ext/filters/logging/logging_filter.cc
  src/core/ext/filters/logging/logging_filter.h
  src/cpp/ext/filters/census/grpc_plugin.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34576 [PSM Interop] README.md typo fix
  tools/run_tests/xds_k8s_test_driver/README.md
Labels: release notes: no, area/psm interop

#34726 [Security] Reapply Move ownership of tsi_ssl_client_handshaker_factory
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/tsi/ssl_transport_security_test.cc
  test/cpp/end2end/ssl_credentials_test.cc
Labels: lang/c++, area/security, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34617 [Proxy] Support for setting proxy for addresses
  build_autogenerated.yaml
  include/grpc/impl/channel_arg_names.h
  src/core/ext/filters/client_channel/http_proxy_mapper.cc
  src/core/ext/filters/client_channel/http_proxy_mapper.h
  test/core/client_channel/BUILD
  test/core/client_channel/http_proxy_mapper_test.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34735 [Lint] Fixed clang-tidy error
  src/core/ext/transport/cronet/transport/cronet_transport.cc
Labels: kind/internal cleanup, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34737 [experiments] Extend promise based call experiment expiry
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34654 [chttp2] Fix behavior on max concurrent streams exceeded
  bazel/experiments.bzl
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34685 [test infra] Bump Python Windows distribtest timeout part 2
  tools/internal_ci/windows/pull_request/grpc_distribtests_python.cfg
  tools/internal_ci/windows/release/grpc_distribtests_python.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34736 [build] fix unused arg
  src/core/ext/transport/binder/transport/binder_transport.h
  test/core/channel/minimal_stack_is_minimal_test.cc
  test/core/xds/xds_channel_stack_modifier_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34395 [Python dist] Explicitly link Core Foundation framework for MacOS
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34724 [fuzzing] Fix fuzzer found bugs in client promise call
  src/core/lib/surface/call.cc
  test/core/end2end/fuzzers/client_fuzzer_corpus/5694930614812672
  test/core/end2end/fuzzers/client_fuzzer_corpus/6195677899063296
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34723 [fuzzing] Fix fuzzer found bugs in promise based filter
  src/core/lib/channel/promise_based_filter.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/5471117104971776
  test/core/end2end/fuzzers/api_fuzzer_corpus/6120490134470656
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34715 [TLS - Revocation] Crl Provider
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_crl_provider.h
  include/grpc/module.modulemap
  include/grpcpp/security/tls_credentials_options.h
  include/grpcpp/security/tls_crl_provider.h
  package.xml
  src/core/BUILD
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/cpp/common/tls_credentials_options.cc
  src/cpp/server/secure_server_credentials.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/security/BUILD
  test/core/security/grpc_tls_credentials_options_comparator_test.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/grpc_tls_crl_provider_test.cc
  test/core/tsi/BUILD
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/test_creds/crl_data/crls/BUILD
  test/core/util/tls_utils.cc
  test/cpp/client/BUILD
  test/cpp/client/credentials_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/crl_provider_test.cc
  test/cpp/server/BUILD
  test/cpp/server/credentials_test.cc
  tools/codegen/core/gen_grpc_tls_credentials_options.py
  tools/distrib/fix_build_deps.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, area/security, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#34697 [chttp2] Alternative protection for too many streams in the system
  bazel/experiments.bzl
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34711 [chaotic-good] Fix frame serialization
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/ext/transport/chaotic_good/frame.cc
  src/core/ext/transport/chaotic_good/frame.h
  src/core/ext/transport/chaotic_good/frame_header.h
  test/core/transport/chaotic_good/client_transport_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34750 [doc] Add address proxy documentation.
  doc/core/default_http_proxy_mapper.md
Labels: release notes: no

#34666 [interop] Add absl dependency to interop clients
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/interop/BUILD.bazel
  src/python/grpcio_tests/tests/interop/client.py
  src/python/grpcio_tests/tests/stress/client.py
  src/python/grpcio_tests/tests_aio/interop/client.py
Labels: lang/Python, release notes: no

#34747 [Doc] Updated gRPC C++ supported platform
  src/cpp/README.md
Labels: lang/c++, area/documentation, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34347 [Python Aio] Convert metadata to aio.Metadata when necessary
  src/python/grpcio/grpc/aio/_channel.py
  src/python/grpcio_tests/tests_aio/tests.json
  src/python/grpcio_tests/tests_aio/unit/_metadata_test.py
Labels: lang/Python, release notes: no

#34657 [chaotic-good] Add chaotic good client transport read (roll-forward)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/ext/transport/chaotic_good/frame.cc
  src/core/ext/transport/chaotic_good/frame.h
  src/core/lib/transport/promise_endpoint.cc
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/client_transport_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34761 Revert "[chaotic-good] Add chaotic good client transport read (roll-forward)"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/ext/transport/chaotic_good/frame.cc
  src/core/ext/transport/chaotic_good/frame.h
  src/core/lib/transport/promise_endpoint.cc
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/client_transport_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34745 [Python Example] Fix compression example
  examples/python/Makefile
  examples/python/compression/README.md
  examples/python/compression/client.py
  examples/python/compression/helloworld_pb2.py
  examples/python/compression/helloworld_pb2.pyi
  examples/python/compression/helloworld_pb2_grpc.py
  examples/python/compression/server.py
  examples/python/compression/test/compression_example_test.py
Labels: lang/Python, release notes: no

#34746 [Lint] Fixed missing deps
  BUILD
  tools/distrib/fix_build_deps.py
Labels: kind/internal cleanup, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34436 [EventEngine] Enable Windows EventEngine Listener on all builds
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34757 [TCP_USER_TIMEOUT] Add comment
  src/core/lib/iomgr/socket_utils_common_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34767 [chttp2] Disable overload_protection experiment
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34592 [tracing] Add TcpTracer and HttpAnnotation
  BUILD
  Package.swift
  bazel/grpc_build_system.bzl
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
  src/core/ext/transport/chttp2/transport/context_list_entry.h
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/channel/call_tracer.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/channel/tcp_tracer.h
  src/core/lib/transport/bdp_estimator.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/census/server_call_tracer.cc
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/otel_call_tracer.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_server_call_tracer.cc
  src/python/grpcio_observability/grpc_observability/client_call_tracer.cc
  src/python/grpcio_observability/grpc_observability/client_call_tracer.h
  src/python/grpcio_observability/grpc_observability/server_call_tracer.cc
  test/core/channel/call_tracer_test.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34770 [chttp2] Re-enable overload protection experiment
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
  test/core/end2end/tests/max_concurrent_streams.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34748 [EventEngine] Enable Posix EventEngine Listener on all builds
  bazel/experiments.bzl
  src/core/lib/event_engine/shim.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34702 [EventEngine] Re-enable skipped core/end2end EventEngine client tests
  test/core/end2end/end2end_tests.h
  test/core/end2end/tests/binary_metadata.cc
  test/core/end2end/tests/call_creds.cc
  test/core/end2end/tests/cancel_after_accept.cc
  test/core/end2end/tests/cancel_after_invoke.cc
  test/core/end2end/tests/cancel_with_status.cc
  test/core/end2end/tests/filtered_metadata.cc
  test/core/end2end/tests/retry_recv_initial_metadata.cc
  test/core/end2end/tests/simple_request.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34607 [flakiness] Fix regex comparison which causes client_lb test to flake at a high rate internally when event engine is enabled.
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34631 [PSM Interop] Add a step to wait for active XDS channel when start test client.
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_ping_pong.py
  tools/run_tests/xds_k8s_test_driver/framework/bootstrap_generator_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_channelz.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/security_test.py
Labels: release notes: no, area/psm interop

#34756 [IWYU] Add gcp directory to IWYU
  tools/distrib/iwyu.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34774 [chttp2] Fix flaky max_concurrent_streams test
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/end2end/tests/max_concurrent_streams.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34777 [chttp2] Fix flaky retry_transparent_max_concurrent_streams test
  test/core/end2end/tests/retry_transparent_max_concurrent_streams.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34776 [test] Extend deadline to resolve flakiness
  test/core/end2end/tests/cancel_with_status.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34693 [chttp2] Fix outgoing data stats
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/frame_data.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/end2end/BUILD
  test/core/end2end/end2end_test_corpus/http2_stats/empty
  test/core/end2end/end2end_test_suites.cc
  test/core/end2end/end2end_tests.h
  test/core/end2end/tests/http2_stats.cc
  test/cpp/ext/otel/BUILD
  test/cpp/ext/otel/otel_plugin_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34779 [http2] Fix merge fiasco from #34693
  test/core/end2end/tests/http2_stats.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34783 [fuzzing] Fix msan error in fuzzer
  test/core/end2end/fuzzers/api_fuzzer.cc
  test/core/end2end/fuzzers/api_fuzzer_corpus/5092827311702016
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34784 [test] Delete stranded event test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/iomgr/BUILD
  test/core/iomgr/stranded_event_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34773 [xDS e2e tests] move xDS bootstrap and resource helpers into their own library
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_csds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
  test/cpp/end2end/xds/xds_utils.cc
  test/cpp/end2end/xds/xds_utils.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34787 [http2] Fix framing_bytes stat
  src/core/ext/transport/chttp2/transport/frame_window_update.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  test/core/end2end/tests/http2_stats.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34716 [interop] Add v1.59.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34786 [EventEngine] Fix local work queueing logic with multiple pools
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/work_queue/basic_work_queue.cc
  src/core/lib/event_engine/work_queue/basic_work_queue.h
  src/core/lib/event_engine/work_queue/work_queue.h
  test/core/event_engine/thread_pool_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34793 [EventEngine] Disable Posix EventEngine Listener experiment
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no

#34790 [xds] C++ XdsServerBuilder Remove src/... header dependency from public header
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  grpc.gyp
  include/grpcpp/xds_server_builder.h
  src/cpp/server/xds_server_builder.cc
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34789 [doc] update xDS feature matrix
  doc/grpc_xds_features.md
Labels: release notes: no

#34291 [Python] Use same contextvars.Context for interceptors and RPC handler
  src/python/grpcio/grpc/__init__.py
  src/python/grpcio/grpc/_server.py
  src/python/grpcio/grpc/aio/_interceptor.py
  src/python/grpcio_tests/tests/unit/_interceptor_test.py
  src/python/grpcio_tests/tests_aio/unit/_test_server.py
  src/python/grpcio_tests/tests_aio/unit/server_interceptor_test.py
Labels: lang/Python, release notes: no

#34796 [ssl] Remove unnecessary log in SSL security connector.
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
Labels: area/core, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34782 [server] Cap size of pending request queue with RealRequestMatcher
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  test/core/end2end/tests/filter_context.cc
Labels: lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34797 [http2] Fix http2_stats test for promises experiment
  test/core/end2end/tests/http2_stats.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34799 [http2] Fix calculation of framing_bytes for http2_stats_test
  test/core/end2end/tests/http2_stats.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34803 Revert "[server] Cap size of pending request queue with RealRequestMatcher"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  test/core/end2end/tests/filter_context.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34804 [pick_first] fix happy eyeballs address interleaving bug
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34755 [PSM Interop] Log Google Cloud API debug header part 3
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
Labels: release notes: no, area/psm interop

#34751 [chttp2] Fix bug in timeout encoding
  fuzztest/core/transport/chttp2/BUILD
  fuzztest/core/transport/chttp2/hpack_encoder_timeout_test.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.h
  src/core/lib/transport/timeout_encoding.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
