Repository grpc/grpc, pull requests merged in 2023-02, with the labels that each got.

#32253 [experiments] Reduce experiment bloat on mobile platforms
  BUILD
  src/core/BUILD
  src/core/lib/channel/connected_channel.cc
  src/core/lib/experiments/config.cc
  src/core/lib/experiments/config.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/surface/call.cc
  tools/codegen/core/gen_experiments.py
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32263 [thread_stress_test] reduce thread count to a reasonable number
  test/cpp/end2end/thread_stress_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32262 Revert "EventEngine::RunAfter: GrpcLb"
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32106 server: introduce ServerMetricRecorder API and move per-call reporting from a C++ interceptor to a C-core filter
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/grpc_types.h
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/orca_service.h
  include/grpcpp/ext/server_metric_recorder.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_context.h
  include/grpcpp/server_interface.h
  package.xml
  src/core/BUILD
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_filter.h
  src/core/ext/filters/backend_metrics/backend_metric_provider.h
  src/core/lib/channel/context.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/cpp/server/backend_metric_recorder.cc
  src/cpp/server/backend_metric_recorder.h
  src/cpp/server/orca/call_metric_recorder.cc
  src/cpp/server/orca/orca_interceptor.cc
  src/cpp/server/orca/orca_interceptor.h
  src/cpp/server/orca/orca_service.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral, disposition/not grpc python reviews

#32229 [EventEngine] Skip legacy fork handling for ExecCtx when in an EventEngine thread
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/thread_local.cc
  src/core/lib/event_engine/thread_local.h
  src/core/lib/event_engine/thread_pool.cc
  src/core/lib/event_engine/thread_pool.h
  src/core/lib/gprpp/fork.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32267 [c-core test] Remove arbitrary overall deadlines in ALTS concurrent connectivity test
  test/core/tsi/alts/handshaker/alts_concurrent_connectivity_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32272 Revert "server: introduce ServerMetricRecorder API and move per-call reporting from a C++ interceptor to a C-core filter"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/grpc_types.h
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/orca_service.h
  include/grpcpp/ext/server_metric_recorder.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_context.h
  include/grpcpp/server_interface.h
  package.xml
  src/core/BUILD
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_filter.h
  src/core/ext/filters/backend_metrics/backend_metric_provider.h
  src/core/lib/channel/context.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/cpp/server/backend_metric_recorder.cc
  src/cpp/server/backend_metric_recorder.h
  src/cpp/server/orca/call_metric_recorder.cc
  src/cpp/server/orca/orca_interceptor.cc
  src/cpp/server/orca/orca_interceptor.h
  src/cpp/server/orca/orca_service.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#32265 deadline filter: deadline_state no longer needs to be the first field in call data
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/deadline/deadline_filter.cc
  src/core/ext/filters/deadline/deadline_filter.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32269 Reland "EventEngine::RunAfter: GrpcLb" (#32262)"
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32273 Add enforcement for cpp-style comment license in check_copyright.py
  include/grpcpp/security/cronet_credentials.h
  src/core/lib/debug/stats_data.cc
  src/core/lib/debug/stats_data.h
  src/core/lib/iomgr/systemd_utils.cc
  src/core/lib/iomgr/systemd_utils.h
  src/cpp/client/cronet_credentials.cc
  test/core/bad_client/tests/bad_streaming_id.cc
  test/core/bad_client/tests/duplicate_header.cc
  test/core/bad_client/tests/simple_request.cc
  test/core/bad_client/tests/window_overflow.cc
  test/core/end2end/engine_passthrough.cc
  test/core/end2end/h2_ssl_cert_test.cc
  test/core/end2end/tests/load_reporting_hook.cc
  test/core/gprpp/time_averaged_stats_test.cc
  test/core/handshake/verify_peer_options.cc
  test/core/security/print_google_default_creds_token.cc
  test/core/util/one_corpus_entry_fuzzer.cc
  test/cpp/ios/CronetTests/TestHelper.h
  tools/codegen/core/gen_stats_data.py
  tools/distrib/check_copyright.py
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32268 Include .pyi file
  src/python/grpcio_channelz/MANIFEST.in
  src/python/grpcio_health_checking/MANIFEST.in
  src/python/grpcio_reflection/MANIFEST.in
Labels: lang/Python, release notes: yes, python

#32248 stateful session affinity: add e2e test for draining state
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32276 Filter out tags when getting remote head commit.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
  tools/internal_ci/linux/grpc_psm_performance_gke_experiment.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32280 PSM Interop: Switch to the new GKE clusters (except the URL map)
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/run_tests/xds_k8s_test_driver/bin/cleanup/cleanup.py
Labels: release notes: no, area/psm interop

#32275 [EventEngine] Add SourceLocation tracing to GetDefaultEventEngine
  src/core/BUILD
  src/core/lib/event_engine/default_event_engine.cc
  src/core/lib/event_engine/default_event_engine.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32277 [EventEngine] Remove SocketNotifier interface
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/socket_notifier.h
  src/core/lib/event_engine/windows/win_socket.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32288 Increased timeout for sanity test variants
  tools/internal_ci/linux/grpc_clang_tidy.cfg
  tools/internal_ci/linux/grpc_iwyu.cfg
  tools/internal_ci/linux/grpc_sanity.cfg
  tools/internal_ci/linux/pull_request/grpc_clang_tidy.cfg
  tools/internal_ci/linux/pull_request/grpc_iwyu.cfg
  tools/internal_ci/linux/pull_request/grpc_sanity.cfg
  tools/run_tests/run_tests.py
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32256 Add lb policy example
  examples/python/Makefile
  examples/python/lb_policies/greeter_client.py
  examples/python/lb_policies/greeter_server.py
  examples/python/lb_policies/helloworld_pb2.py
  examples/python/lb_policies/helloworld_pb2.pyi
  examples/python/lb_policies/helloworld_pb2_grpc.py
Labels: area/documentation, lang/Python, release notes: no

#32290 Excluding more tests from build_submodule_at_head
  tools/internal_ci/linux/grpc_build_submodule_at_head.sh
  tools/run_tests/run_tests_matrix.py
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32279 Revert "Revert "server: introduce ServerMetricRecorder API and move per-call reporting from a C++ interceptor to a C-core filter (#32106)" (#32272)"
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/grpc_types.h
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/orca_service.h
  include/grpcpp/ext/server_metric_recorder.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_context.h
  include/grpcpp/server_interface.h
  package.xml
  src/core/BUILD
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_filter.h
  src/core/ext/filters/backend_metrics/backend_metric_provider.h
  src/core/lib/channel/context.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/cpp/server/backend_metric_recorder.cc
  src/cpp/server/backend_metric_recorder.h
  src/cpp/server/orca/call_metric_recorder.cc
  src/cpp/server/orca/orca_interceptor.cc
  src/cpp/server/orca/orca_interceptor.h
  src/cpp/server/orca/orca_service.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#32282 [promises] Account for another edge case in promise based filter
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#32187 Bump version to 1.52.0 (on v1.52.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32293 Revert "Revert "Revert "server: introduce ServerMetricRecorder API and move per-call reporting from a C++ interceptor to a C-core filter (#32106)" (#32272)""
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/grpc_types.h
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/orca_service.h
  include/grpcpp/ext/server_metric_recorder.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_context.h
  include/grpcpp/server_interface.h
  package.xml
  src/core/BUILD
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_filter.h
  src/core/ext/filters/backend_metrics/backend_metric_provider.h
  src/core/lib/channel/context.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/cpp/server/backend_metric_recorder.cc
  src/cpp/server/backend_metric_recorder.h
  src/cpp/server/orca/call_metric_recorder.cc
  src/cpp/server/orca/orca_interceptor.cc
  src/cpp/server/orca/orca_interceptor.h
  src/cpp/server/orca/orca_service.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core

#32243 Add examples for timeout, kepp_alive, reflection and health_checking
  examples/python/Makefile
  examples/python/health_checking/greeter_client.py
  examples/python/health_checking/greeter_server.py
  examples/python/health_checking/helloworld_pb2.py
  examples/python/health_checking/helloworld_pb2.pyi
  examples/python/health_checking/helloworld_pb2_grpc.py
  examples/python/helloworld/greeter_client_reflection.py
  examples/python/keep_alive/greeter_client.py
  examples/python/keep_alive/greeter_server.py
  examples/python/keep_alive/helloworld_pb2.py
  examples/python/keep_alive/helloworld_pb2.pyi
  examples/python/keep_alive/helloworld_pb2_grpc.py
  examples/python/timeout/greeter_client.py
  examples/python/timeout/greeter_server.py
  examples/python/timeout/helloworld_pb2.py
  examples/python/timeout/helloworld_pb2.pyi
  examples/python/timeout/helloworld_pb2_grpc.py
Labels: area/documentation, lang/Python, release notes: no, python

#32281 [promises] Void specialization for latch
  src/core/lib/promise/latch.h
  test/core/promise/latch_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32230 GCP Observability header: Add missing port_platform include
  src/cpp/ext/gcp/observability_config.h
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32238 xDS: reject aggregate cluster with empty cluster list
  src/core/ext/xds/xds_cluster.cc
  test/core/xds/xds_cluster_resource_type_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32300 [channel_args] Use c++ channel args during channel init
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/rbac/rbac_filter.cc
  src/core/lib/channel/channel_stack.cc
  src/core/lib/channel/channel_stack.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/promise_based_filter.h
  src/cpp/common/channel_filter.cc
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/client_filter.cc
  test/core/channel/channel_stack_test.cc
Labels: release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32302 Logging filter: Remove unused vestige
  src/cpp/ext/filters/logging/logging_filter.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32298 [promises] Remove TryConcurrently - it was the wrong idea
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/try_concurrently.h
  test/core/promise/BUILD
  test/core/promise/try_concurrently_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32301 Revert "Revert "Revert "Revert "server: introduce ServerMetricRecorde…
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/impl/grpc_types.h
  include/grpcpp/ext/call_metric_recorder.h
  include/grpcpp/ext/orca_service.h
  include/grpcpp/ext/server_metric_recorder.h
  include/grpcpp/server.h
  include/grpcpp/server_builder.h
  include/grpcpp/server_context.h
  include/grpcpp/server_interface.h
  package.xml
  src/core/BUILD
  src/core/ext/filters/backend_metrics/backend_metric_filter.cc
  src/core/ext/filters/backend_metrics/backend_metric_filter.h
  src/core/ext/filters/backend_metrics/backend_metric_provider.h
  src/core/lib/channel/context.h
  src/core/plugin_registry/grpc_plugin_registry.cc
  src/cpp/server/backend_metric_recorder.cc
  src/cpp/server/backend_metric_recorder.h
  src/cpp/server/orca/call_metric_recorder.cc
  src/cpp/server/orca/orca_interceptor.cc
  src/cpp/server/orca/orca_interceptor.h
  src/cpp/server/orca/orca_service.cc
  src/cpp/server/server_builder.cc
  src/cpp/server/server_cc.cc
  src/cpp/server/server_context.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/orca_service_end2end_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#32270 Support python 3.11 on aarch64
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, area/packaging & distribution, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32251 Updating bazel deps when running submodule_at_head tests
  tools/internal_ci/linux/grpc_build_submodule_at_head.sh
Labels: area/test, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32309 [http2] Dont drop connections on metadata limit exceeded
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/bad_client/generate_tests.bzl
  test/core/bad_client/tests/large_metadata.cc
  test/core/bad_client/tests/large_metadata.headers
  test/core/end2end/tests/large_metadata.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32283 [flake] Remove inproc thread stress tests
  test/cpp/end2end/thread_stress_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32303 OpenCensus: Convert client filter to promises
  BUILD
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/client_filter.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/open_census_call_tracer.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32313 [promises] Fix another edge case in promise based filter
  src/core/lib/channel/promise_based_filter.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32307 [ruby testing]: simplify grpc_class_init_test.rb
  src/ruby/end2end/grpc_class_init_client.rb
Labels: lang/ruby, release notes: no

#32315 Labeler: Update rules
  .github/labeler.yml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32215 Add info about ca cert used to verify chain.
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/core/tsi/test_creds/BUILD
  src/core/tsi/test_creds/README
  src/core/tsi/test_creds/intermediate.cnf
  src/core/tsi/test_creds/intermediate_ca.key
  src/core/tsi/test_creds/intermediate_ca.pem
  src/core/tsi/test_creds/leaf_and_intermediate_chain.pem
  src/core/tsi/test_creds/leaf_signed_by_intermediate.cnf
  src/core/tsi/test_creds/leaf_signed_by_intermediate.key
  src/core/tsi/test_creds/leaf_signed_by_intermediate.pem
  test/core/tsi/BUILD
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31973 client channel: don't hold mutexes while calling the ConfigSelector or the LB picker
  BUILD
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/lib/load_balancing/lb_policy.cc
  src/core/lib/load_balancing/lb_policy.h
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#31859 Freeze xDS interop test runner dependencies
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/bin/freeze.sh
  tools/run_tests/xds_k8s_test_driver/requirements-dev.txt
  tools/run_tests/xds_k8s_test_driver/requirements.lock
Labels: release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32284 [flake] Reduce test size for too_many_pings_test
  test/core/transport/chttp2/too_many_pings_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32289 [chttp2] Eliminate legacy huffman decoder
  BUILD
  bazel/experiments.bzl
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  test/cpp/microbenchmarks/bm_huffman_decode.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#32324 Revert "client channel: don't hold mutexes while calling the ConfigSelector or the LB picker"
  BUILD
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/lib/load_balancing/lb_policy.cc
  src/core/lib/load_balancing/lb_policy.h
Labels: lang/core, release notes: no

#32327 [flake] Fix max connection age
  test/core/end2end/tests/max_connection_age.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32325 e2e tests: update regex used for connection failure messages
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/xds/xds_cluster_end2end_test.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32328 [EventEngine] Fix IOCP test under load
  test/core/event_engine/windows/iocp_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32240 [EventEngine] RunAfter migration: grpc_chttp2_transport
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32330 Interop: Update images for v1.48.3
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32331 [codehealth] Remove a duplicate GRPC_CLOSURE_INIT
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32329 [EventEngine] ThreadPool: manage fork and shutdown bits separately
  src/core/lib/event_engine/thread_pool.cc
  src/core/lib/event_engine/thread_pool.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32339 Revert "[EventEngine] RunAfter migration: grpc_chttp2_transport"
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#32252 remove go version v1.52.0 and keep only v1.52.3
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32336 [arena] Fix ABA problem in pooled allocation
  src/core/lib/resource_quota/arena.cc
  test/core/resource_quota/arena_test.cc
  test/cpp/microbenchmarks/bm_arena.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32158 [promises] Finishing off the server stack
  BUILD
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/iomgr/call_combiner.h
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/interceptor_list.h
  src/core/lib/promise/latch.h
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/slice/slice.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  test/core/end2end/fixtures/h2_oauth2_tls12.cc
  test/core/end2end/fixtures/h2_oauth2_tls13.cc
  test/core/end2end/fixtures/proxy.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/end2end/tests/max_message_length.cc
  test/core/end2end/tests/streaming_error_response.cc
  test/core/filters/client_auth_filter_test.cc
  test/core/filters/client_authority_filter_test.cc
  test/core/filters/filter_fuzzer.cc
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/medium, per-call-memory/increase, per-channel-memory/neutral, disposition/not grpc python reviews

#32338 Add gRPC-core v1.52.0 to the interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32342 [codehealth] Teach core_banned_functions.py to check headers as well
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/activity.h
  src/core/lib/promise/pipe.h
  src/core/lib/slice/slice_buffer.h
  tools/run_tests/sanity/core_banned_functions.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32274 Use WaitWithTimeout for gpr_cv_wait
  src/core/lib/gpr/sync_abseil.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32305 grpcio: fix `AioRpcError` self recursion
  src/python/grpcio/grpc/aio/_call.py
Labels: kind/bug, lang/Python, release notes: no

#32347 [promises] Rollforward: Finish of server side calls
  BUILD
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/iomgr/call_combiner.h
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/interceptor_list.h
  src/core/lib/promise/latch.h
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/slice/slice.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  test/core/end2end/fixtures/h2_oauth2_tls12.cc
  test/core/end2end/fixtures/h2_oauth2_tls13.cc
  test/core/end2end/fixtures/proxy.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/end2end/tests/max_message_length.cc
  test/core/end2end/tests/streaming_error_response.cc
  test/core/filters/client_auth_filter_test.cc
  test/core/filters/client_authority_filter_test.cc
  test/core/filters/filter_fuzzer.cc
Labels: release notes: no, bloat/medium, per-call-memory/increase, per-channel-memory/neutral

#32348 resolver registry: require URI schemes to be lower-case
  src/core/lib/resolver/resolver_factory.h
  src/core/lib/resolver/resolver_registry.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32350 Disable testKeepaliveWithV2API test case for objc interop test
  src/objective-c/tests/InteropTests/InteropTests.m
Labels: lang/ObjC, release notes: no

#32352 xDS Interop: Update tracers
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.istio_echo_server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32318 OpenCensus server filter: Convert to promises
  BUILD
  src/cpp/ext/filters/census/channel_filter.cc
  src/cpp/ext/filters/census/channel_filter.h
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/server_filter.cc
  src/cpp/ext/filters/census/server_filter.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32308 [promises] Party: an activity with many participant promises
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/promise/activity.cc
  src/core/lib/promise/activity.h
  src/core/lib/promise/party.cc
  src/core/lib/promise/party.h
  src/core/lib/resource_quota/arena.cc
  src/core/lib/resource_quota/arena.h
  src/core/lib/surface/call.cc
  test/core/filters/filter_fuzzer.cc
  test/core/promise/BUILD
  test/core/promise/activity_test.cc
  test/core/promise/mpsc_test.cc
  test/core/promise/party_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#32358 [EventEngine] Elaborate on GetDefaultEventEngine intended usage
  src/core/lib/event_engine/default_event_engine.h
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32317 Updated clang 15 images
  templates/tools/dockerfile/git-jenkins.include
  templates/tools/dockerfile/test/bazel/Dockerfile.template
  templates/tools/dockerfile/test/cxx_clang_15_x64/Dockerfile.template
  templates/tools/dockerfile/test/sanity/Dockerfile.template
  tools/dockerfile/test/bazel.current_version
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/cxx_clang_15_x64.current_version
  tools/dockerfile/test/cxx_clang_15_x64/Dockerfile
  tools/dockerfile/test/sanity.current_version
  tools/dockerfile/test/sanity/Dockerfile
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32362 [backport] Backport #32282 and #32313
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32351 xds_wrr_locality: add trace log for generated child config
  src/core/ext/filters/client_channel/lb_policy/xds/xds_wrr_locality.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32363 [EventEngine] Fix the shims for iOS
  src/core/lib/event_engine/shim.cc
  src/core/lib/event_engine/shim.h
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
  src/core/lib/transport/tcp_connect_handshaker.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31808 [ObjC] run cpp ios cronet test with bazel
  BUILD
  src/cpp/client/cronet_credentials.cc
  src/objective-c/tests/BUILD
  src/objective-c/tests/CppCronetTests/CppCronetEnd2EndTests.mm
  src/objective-c/tests/CppCronetTests/TestHelper.h
  src/objective-c/tests/CppCronetTests/TestHelper.mm
  test/cpp/ios/Info.plist
  test/cpp/ios/Podfile
  test/cpp/ios/RemoteTestClientCpp/RemoteTestCpp.podspec
  test/cpp/ios/Tests.xcodeproj/project.pbxproj
  test/cpp/ios/Tests.xcodeproj/xcshareddata/xcschemes/CronetTests.xcscheme
  test/cpp/ios/build_and_run_tests.sh
  test/cpp/ios/build_tests.sh
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/run_tests/run_tests.py
Labels: lang/c++, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32371 PSM interop: bump minor pip dependencies
  tools/run_tests/xds_k8s_test_driver/requirements.lock
Labels: release notes: no, area/psm interop

#32376 [EventEngine] Add more granular trace flags
  src/core/lib/event_engine/trace.cc
  src/core/lib/event_engine/trace.h
  src/core/lib/event_engine/windows/iocp.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/iomgr/tcp_server_windows.cc
Labels: lang/core, release notes: no, per-call-memory/neutral, per-channel-memory/neutral

#32366 [backport] xDS Interop: Update tracers (#32352)
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.istio_echo_server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32361 [backport] xDS Interop: Update tracers (#32352)
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.istio_echo_server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32337 [ruby testing]: experimental change to grpc_class_init_test
  src/ruby/end2end/grpc_class_init_client.rb
  src/ruby/end2end/grpc_class_init_test.rb
Labels: lang/ruby, release notes: no

#32394 Revert "[promises] Rollforward: Finish of server side calls (#32347)"
  BUILD
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/http/client/http_client_filter.cc
  src/core/ext/filters/http/message_compress/compression_filter.cc
  src/core/ext/filters/message_size/message_size_filter.cc
  src/core/ext/filters/message_size/message_size_filter.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/channel/promise_based_filter.h
  src/core/lib/iomgr/call_combiner.h
  src/core/lib/promise/detail/promise_factory.h
  src/core/lib/promise/interceptor_list.h
  src/core/lib/promise/latch.h
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/slice/slice.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/lame_client.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  test/core/end2end/fixtures/h2_oauth2_tls12.cc
  test/core/end2end/fixtures/h2_oauth2_tls13.cc
  test/core/end2end/fixtures/proxy.cc
  test/core/end2end/tests/filter_init_fails.cc
  test/core/end2end/tests/max_message_length.cc
  test/core/end2end/tests/streaming_error_response.cc
  test/core/filters/client_auth_filter_test.cc
  test/core/filters/client_authority_filter_test.cc
  test/core/filters/filter_fuzzer.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/decrease, per-channel-memory/neutral

#32392 Version bump to v1.51.2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32391 Version bump to v1.50.2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32390 Version bump to v1.49.3
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32389 Version bump to v1.48.4
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/neutral

#32388 Version bump to v1.47.4
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/neutral

#32387 Version bump to v1.46.7
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, area/build, release notes: no, bloat/none, per-call-memory/neutral

#32386 Version bump to v1.45.3
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/Grpc.Core.Api/VersionInfo.cs
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, area/build, release notes: no

#32396 Version bump to v1.52.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32360 Remove returning struct in cc_grpc_library
  bazel/generate_cc.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32341 Revert "Revert "[EventEngine] RunAfter migration: grpc_chttp2_transport""
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32397 [EventEngine] Add advice against blocking work in callbacks
  include/grpc/event_engine/event_engine.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32340 Add missing dependency for tsi_alts_credentials.
  BUILD
Labels: area/core, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32385 [EventEngine] WindowsEventEngine Endpoint and Socket fixes
  src/core/BUILD
  src/core/lib/event_engine/shim.cc
  src/core/lib/event_engine/windows/iocp.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/win_socket.h
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_endpoint.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/iomgr/tcp_client_windows.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/tests/client_test.cc
  test/core/event_engine/windows/iocp_test.cc
  test/core/event_engine/windows/win_socket_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32406 doc: Document when xds v2 support removed in grpc_xds_features.md
  doc/grpc_xds_features.md
Labels: area/documentation, release notes: no

#32372 PSM interop: update python kubernetes client from 12.0.1 to 25.3.0
  tools/run_tests/xds_k8s_test_driver/requirements.lock
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: release notes: no, area/psm interop

#31933 filter stack: pass peer name up via recv_initial_metadata batch
  BUILD
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/surface/call.cc
  src/core/lib/transport/bdp_estimator.cc
  src/core/lib/transport/bdp_estimator.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/logging/logging_filter.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/medium, per-call-memory/increase, per-channel-memory/neutral

#32405 xds-interop-testing: move TESTING_VERSION check to after calling kokoro_setup_test_driver func and fix script_dir
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
Labels: release notes: no

#32233 Remove unused references to absl::Status (aka grpc_error_handle) and absl::StatusOr<>
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/xds/xds_client_grpc.cc
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/lib/surface/server.cc
  src/core/lib/uri/uri_parser.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32411 [codegen] Escape '$' delimiter in proto comments
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/compiler/BUILD
  src/compiler/cpp_generator.cc
  src/compiler/generator_helpers.h
  src/compiler/proto_parser_helper.cc
  src/compiler/proto_parser_helper.h
  tools/distrib/python/grpcio_tools/setup.py
Labels: release notes: yes, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32415 Revert "filter stack: pass peer name up via recv_initial_metadata batch"
  BUILD
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/surface/call.cc
  src/core/lib/transport/bdp_estimator.cc
  src/core/lib/transport/bdp_estimator.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/logging/logging_filter.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/decrease, per-channel-memory/neutral

#32354 [backoff] Add random early detection classifier
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/backoff/random_early_detection.cc
  src/core/lib/backoff/random_early_detection.h
  test/core/backoff/BUILD
  test/core/backoff/random_early_detection_test.cc
  tools/distrib/fix_build_deps.py
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32416 Bump core version 202302161703
  BUILD
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32326 Second attempt: client channel: don't hold mutexes while calling the ConfigSelector or the LB picker
  BUILD
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_endpoint.h
  src/core/lib/load_balancing/lb_policy.cc
  src/core/lib/load_balancing/lb_policy.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32419 Revert "[EventEngine] WindowsEventEngine Endpoint and Socket fixes"
  src/core/BUILD
  src/core/lib/event_engine/shim.cc
  src/core/lib/event_engine/windows/iocp.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/win_socket.h
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_endpoint.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/iomgr/tcp_client_windows.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/tests/client_test.cc
  test/core/event_engine/windows/iocp_test.cc
  test/core/event_engine/windows/win_socket_test.cc
Labels: lang/core

#32410 grpc: replace has_ methods for upb map fields with _size methods
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/cpp/common/alts_context.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32223 client channel: refactor call objects in preparation for promise conversion
  BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/config_selector.h
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/retry_filter.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32294 GCP Observability : Framework for detecting the environment
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/gcp/metadata_query.cc
  src/core/ext/gcp/metadata_query.h
  src/cpp/ext/gcp/BUILD
  src/cpp/ext/gcp/environment_autodetect.cc
  src/cpp/ext/gcp/environment_autodetect.h
  src/python/grpcio/grpc_core_dependencies.py
  test/cpp/ext/gcp/BUILD
  test/cpp/ext/gcp/environment_autodetect_test.cc
  tools/distrib/fix_build_deps.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32424 Backport of #31747 to v1.51.x (Build native MacOS arm64 artifacts (universal2))
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, area/packaging & distribution, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32425 Bump from v1.51.2 to v1.51.3
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32420 Exclude php7 from OSS benchmarks CI.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32429 xDS fault injection e2e test: fix flakes caused by processing queued calls in parallel
  test/cpp/end2end/xds/xds_fault_injection_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32431 GCP Observability: Plumb environment autodetection for OpenCensus stats and tracing
  BUILD
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/census/promise_notification.h
  src/cpp/ext/filters/census/server_filter.cc
  src/cpp/ext/filters/census/views.cc
  src/cpp/ext/gcp/BUILD
  src/cpp/ext/gcp/environment_autodetect.cc
  src/cpp/ext/gcp/environment_autodetect.h
  src/cpp/ext/gcp/observability.cc
  test/cpp/ext/filters/census/BUILD
  test/cpp/ext/filters/census/constant_labels_wait_test.cc
  tools/distrib/fix_build_deps.py
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32437 Stop php7 image build in OSS benchmarks CI.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32426 Bump dev version to 1.54.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/core/lib/surface/version.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32428 Bump release version to 1.53.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32423 client channel: create a header file for internal interfaces
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/client_channel_internal.h
  src/core/ext/filters/client_channel/lb_call_state_internal.h
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/ext/filters/client_channel/retry_filter.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32439 [build] Enable -Wunused-but-set-variable
  bazel/copts.bzl
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_manager.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32440 Reland "[EventEngine] WindowsEventEngine Endpoint and Socket fixes"
  src/core/BUILD
  src/core/lib/event_engine/resolved_address.cc
  src/core/lib/event_engine/shim.cc
  src/core/lib/event_engine/windows/iocp.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/win_socket.h
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_endpoint.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/iomgr/tcp_client_windows.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/tests/client_test.cc
  test/core/event_engine/windows/iocp_test.cc
  test/core/event_engine/windows/win_socket_test.cc
  test/core/event_engine/windows/windows_endpoint_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32417 Second attempt: filter stack: pass peer name up via recv_initial_metadata batch
  BUILD
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/client_channel.h
  src/core/ext/filters/client_channel/retry_filter.cc
  src/core/ext/filters/client_channel/subchannel_stream_client.cc
  src/core/ext/filters/load_reporting/server_load_reporting_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/frame_settings.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/channel/connected_channel.cc
  src/core/lib/surface/call.cc
  src/core/lib/transport/bdp_estimator.cc
  src/core/lib/transport/bdp_estimator.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  src/cpp/common/channel_filter.h
  src/cpp/ext/filters/census/open_census_call_tracer.h
  src/cpp/ext/filters/logging/logging_filter.cc
Labels: lang/c++, lang/core, disposition/Needs Internal Changes, release notes: no, bloat/medium, per-call-memory/increase, per-channel-memory/neutral

#32446 Backport of #31747 to v1.47.x (Build native MacOS arm64 artifacts (universal2))
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral

#32445 Bump v1.47.x to 1.47.5
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/ext/grpc/extconf.rb
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no, lang/all, bloat/none, per-call-memory/neutral

#32449 [fix] Remove unnecessary gpr_atm dependency in grpc_opencensus_plugin
  BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32442 Remove protobuf 4.22.0 from testing
  src/python/grpcio_tests/setup.py
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, kind/internal cleanup, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32365 Minimum time file watcher
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.h
  test/core/security/grpc_tls_certificate_provider_test.cc
Labels: area/security, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32455 Add schedule over write experiment
  BUILD
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32451 GCP Observability: Fix constant labels support for stats when tracing is disabled
  include/grpcpp/opencensus.h
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/context.cc
  src/cpp/ext/filters/census/server_filter.cc
  test/cpp/ext/filters/census/constant_labels_wait_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31098 Core; fix avoidable work (allocs+CPU) when logs enabled but trace level means work will not be used
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/lib/iomgr/endpoint_cfstream.cc
  src/core/lib/iomgr/tcp_windows.cc
  src/core/lib/security/transport/secure_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32436 Gcp Observability Logging: Batching and Graceful close
  include/grpcpp/ext/gcp_observability.h
  src/cpp/ext/filters/logging/BUILD
  src/cpp/ext/filters/logging/logging_filter.cc
  src/cpp/ext/filters/logging/logging_sink.h
  src/cpp/ext/gcp/BUILD
  src/cpp/ext/gcp/observability.cc
  src/cpp/ext/gcp/observability_logging_sink.cc
  src/cpp/ext/gcp/observability_logging_sink.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32460 Gcp Observability: Fix resource labels for stats and tracing
  src/cpp/ext/filters/census/grpc_plugin.cc
  src/cpp/ext/filters/census/grpc_plugin.h
  src/cpp/ext/gcp/BUILD
  src/cpp/ext/gcp/observability.cc
  test/cpp/ext/filters/census/constant_labels_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32370 [EventEngine] Update Endpoint API to return true if read/write succeeds immediately
  BUILD
  include/grpc/event_engine/event_engine.h
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_endpoint.h
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
  test/core/event_engine/event_engine_test_utils.cc
  test/core/event_engine/test_suite/posix/oracle_event_engine_posix.cc
  test/core/event_engine/test_suite/posix/oracle_event_engine_posix.h
  test/core/event_engine/test_suite/posix_event_engine_test.cc
  test/core/event_engine/windows/windows_endpoint_test.cc
Labels: lang/core, disposition/Needs Internal Changes, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32461 [EventEngine] Revert "Revert "EventEngine::RunAt: C++ Alarm (#30024)" (#30147)"
  BUILD
  include/grpcpp/alarm.h
  src/cpp/common/alarm.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32457 [build] Require Windows-specific code to be cherrypicked
  .github/labeler.yml
  .github/mergeable.yml
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/gpr/android/log.cc
  src/core/lib/gpr/iphone/cpu.cc
  src/core/lib/gpr/linux/cpu.cc
  src/core/lib/gpr/linux/log.cc
  src/core/lib/gpr/msys/tmpfile.cc
  src/core/lib/gpr/posix/cpu.cc
  src/core/lib/gpr/posix/log.cc
  src/core/lib/gpr/posix/string.cc
  src/core/lib/gpr/posix/sync.cc
  src/core/lib/gpr/posix/time.cc
  src/core/lib/gpr/posix/tmpfile.cc
  src/core/lib/gpr/windows/cpu.cc
  src/core/lib/gpr/windows/log.cc
  src/core/lib/gpr/windows/string.cc
  src/core/lib/gpr/windows/string_util.cc
  src/core/lib/gpr/windows/sync.cc
  src/core/lib/gpr/windows/time.cc
  src/core/lib/gpr/windows/tmpfile.cc
  src/core/lib/gprpp/linux/env.cc
  src/core/lib/gprpp/posix/env.cc
  src/core/lib/gprpp/posix/stat.cc
  src/core/lib/gprpp/posix/thd.cc
  src/core/lib/gprpp/windows/env.cc
  src/core/lib/gprpp/windows/stat.cc
  src/core/lib/gprpp/windows/thd.cc
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/Python, lang/core, release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32462 [promises] Improve seq test
  src/core/lib/promise/detail/basic_seq.h
  test/core/promise/seq_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32465 [build] Require cherrypick for WindowsEventEngine tests
  .github/labeler.yml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32459 [build] Use platform-specific -std=c++14 compile flags
  tools/bazel.rc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32448 [build] Fix clang warnings in Windows code
  include/grpc/support/port_platform.h
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_windows.cc
  src/core/lib/gprpp/windows/thd.cc
  src/core/lib/iomgr/endpoint_pair_windows.cc
  src/core/lib/iomgr/iomgr_windows.cc
  src/core/lib/iomgr/pollset_set_windows.cc
  src/core/lib/iomgr/pollset_windows.cc
  src/core/lib/iomgr/tcp_client_windows.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/iomgr/tcp_windows.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32464 Logging: Fill status code, status message and status details
  src/cpp/ext/filters/logging/BUILD
  src/cpp/ext/filters/logging/logging_filter.cc
  test/cpp/ext/filters/logging/logging_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32458 Add project urls to setup.py
  setup.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32468 [EventEngine] PosixEventEngine: Replace on_shutdown InternalError with more appropriate type
  src/core/lib/event_engine/posix_engine/posix_engine_listener.cc
  test/core/event_engine/test_suite/tests/client_test.cc
  test/core/event_engine/test_suite/tests/server_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32430 PollingResolver: clean up the way that ChannelArgs are passed in
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/native/dns_resolver.cc
  src/core/ext/filters/client_channel/resolver/polling_resolver.cc
  src/core/ext/filters/client_channel/resolver/polling_resolver.h
Labels: lang/core, disposition/Needs Internal Changes, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32444 h2_ssl_cert_test: re-add to build files and fix so that it builds
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/end2end/BUILD
  test/core/end2end/h2_ssl_cert_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32467 Logging: Move filter to Core
  src/core/BUILD
  src/core/ext/filters/logging/logging_filter.cc
  src/core/ext/filters/logging/logging_filter.h
  src/core/ext/filters/logging/logging_sink.h
  src/cpp/ext/filters/logging/BUILD
  src/cpp/ext/gcp/BUILD
  src/cpp/ext/gcp/observability.cc
  src/cpp/ext/gcp/observability_logging_sink.cc
  src/cpp/ext/gcp/observability_logging_sink.h
  test/cpp/ext/filters/logging/BUILD
  test/cpp/ext/filters/logging/logging_test.cc
  test/cpp/ext/gcp/observability_logging_sink_test.cc
  tools/distrib/fix_build_deps.py
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32316 Add v1.53.0 release of grpc-go to interop matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32084 Update boringssl-with-bazel readme
  third_party/README.md
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32456 Examples: unify command line flags
  examples/cpp/helloworld/BUILD
  examples/cpp/helloworld/CMakeLists.txt
  examples/cpp/helloworld/Makefile
  examples/cpp/helloworld/greeter_async_client.cc
  examples/cpp/helloworld/greeter_async_client2.cc
  examples/cpp/helloworld/greeter_async_server.cc
  examples/cpp/helloworld/greeter_callback_client.cc
  examples/cpp/helloworld/greeter_callback_server.cc
  examples/cpp/helloworld/greeter_client.cc
  examples/cpp/helloworld/greeter_server.cc
Labels: lang/c++, release notes: no

#32490 [Backport][1.47] Fix python tests on kokoro macos monterey (#31126)
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
  tools/run_tests/helper_scripts/run_python.sh
Labels: release notes: no, lang/all, bloat/none, per-call-memory/neutral

#32484 Fix nits in boringssl and protobuf update instructions
  third_party/README.md
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32495 core_banned_functions: use internal version of grpc_channel_destroy() inside C-core
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/ext/xds/xds_transport_grpc.cc
  tools/run_tests/sanity/core_banned_functions.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32491 client channel: fix TSAN flake in FilterBasedLoadBalancedCall
  src/core/ext/filters/client_channel/client_channel.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#32496 MetadataQuery: make metadata server hostname overrideable
  src/core/ext/filters/client_channel/resolver/google_c2p/google_c2p_resolver.cc
  src/core/ext/gcp/metadata_query.cc
  src/core/ext/gcp/metadata_query.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
