Repository grpc/grpc, pull requests merged in 2023-08, with the labels that each got.

#33931 [python][interop] Use python:3.9-slim as a baseimage
  .dockerignore
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33934 Revert "[c-ares DNS resolver] Fix file descriptor use-after-close bug when c-ares writes succeed but subsequent read fails"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/util/BUILD
  test/core/util/socket_use_after_close_detector.cc
  test/core/util/socket_use_after_close_detector.h
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33233 [ObjC] dns service resolver for cf event engine
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/cf_engine/cf_engine.cc
  src/core/lib/event_engine/cf_engine/dns_service_resolver.cc
  src/core/lib/event_engine/cf_engine/dns_service_resolver.h
  src/objective-c/tests/BUILD
  src/objective-c/tests/EventEngineTests/CFEventEngineTests.mm
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/cf/cf_engine_test.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/cf_event_engine_test.cc
  test/core/event_engine/test_suite/tests/dns_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33910 [tracing] Add annotation with metadata sizes and limits
  src/core/ext/transport/chaotic_good/frame.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/parsing.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/channel/promise_based_filter.cc
  src/cpp/ext/filters/census/client_filter.cc
  src/cpp/ext/filters/census/server_call_tracer.cc
  src/python/grpcio_observability/grpc_observability/client_call_tracer.cc
  src/python/grpcio_observability/grpc_observability/server_call_tracer.cc
  test/core/transport/chttp2/hpack_parser_fuzzer_test.cc
  test/core/transport/chttp2/hpack_parser_input_size_fuzzer.cc
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
  test/cpp/microbenchmarks/bm_chttp2_hpack.cc
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33941 [benchmark] Increase the C++ benchmarks' warmup times
  tools/run_tests/performance/scenario_config.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33942 [c-ares DNS resolver] Revert "Revert "[c-ares DNS resolver] Fix file descriptor use-after-close bug when c-ares writes succeed but subsequent read fails" (#33934)"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_ev_driver_posix.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.cc
  src/core/ext/filters/client_channel/resolver/dns/c_ares/grpc_ares_wrapper.h
  test/core/util/BUILD
  test/core/util/socket_use_after_close_detector.cc
  test/core/util/socket_use_after_close_detector.h
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33943 [promises] Correct use after free
  src/core/lib/surface/server.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33944 [Test] Added a new portability test with OpenSSL 3.0.9
  templates/tools/dockerfile/test/cxx_debian12_openssl309_x64/Dockerfile.template
  tools/dockerfile/test/cxx_debian12_openssl309_x64.current_version
  tools/dockerfile/test/cxx_debian12_openssl309_x64/Dockerfile
  tools/run_tests/run_tests.py
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33932 [Deps] Update pyyaml to 6.0.1 for bazel build system
  bazel/grpc_deps.bzl
  test/cpp/naming/utils/BUILD
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33948 [benchmark] Write to master tables only for CI runs.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33946 [OTel] Add target on client-rpc metrics, and authority on server-rpc metrics
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/otel_call_tracer.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_client_filter.h
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/otel/otel_plugin_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33947 [promises] Fix obscure validation bug
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33700 [boringssl] Simplify BoringSSL assembly build
  setup.py
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/run_tests.py
Labels: lang/Python, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33927 [arena] Use malloc for pooled allocations
  src/core/BUILD
  src/core/lib/resource_quota/arena.cc
  src/core/lib/resource_quota/arena.h
  src/core/lib/security/transport/client_auth_filter.cc
  test/core/resource_quota/arena_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/decrease, per-channel-memory/neutral

#33960 Revert "[arena] Use malloc for pooled allocations"
  src/core/BUILD
  src/core/lib/resource_quota/arena.cc
  src/core/lib/resource_quota/arena.h
  src/core/lib/security/transport/client_auth_filter.cc
  test/core/resource_quota/arena_test.cc
Labels: lang/core

#33953 [server] Remove `Notification` from shutdown path
  BUILD
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/server/server_cc.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33964 Revert "[ObjC] dns service resolver for cf event engine"
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/cf_engine/cf_engine.cc
  src/core/lib/event_engine/cf_engine/dns_service_resolver.cc
  src/core/lib/event_engine/cf_engine/dns_service_resolver.h
  src/objective-c/tests/BUILD
  src/objective-c/tests/EventEngineTests/CFEventEngineTests.mm
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/cf/cf_engine_test.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/cf_event_engine_test.cc
  test/core/event_engine/test_suite/tests/dns_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/ObjC, lang/core, release notes: no

#33963 [benchmark] Add node benchmarks to experimental job.
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33961 [arena] Reland using malloc for pooled allocations
  src/core/BUILD
  src/core/lib/resource_quota/arena.cc
  src/core/lib/resource_quota/arena.h
  src/core/lib/security/transport/client_auth_filter.cc
  test/core/resource_quota/arena_test.cc
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/decrease, per-channel-memory/neutral

#33870 [core/gpr] move subprocess to gpr
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/core/lib/gpr/subprocess.h
  src/core/lib/gpr/subprocess_posix.cc
  src/core/lib/gpr/subprocess_windows.cc
  test/core/bad_ssl/bad_ssl_test.cc
  test/core/bad_ssl/generate_tests.bzl
  test/core/event_engine/test_suite/tests/BUILD
  test/core/http/BUILD
  test/core/http/httpcli_test.cc
  test/core/http/httpcli_test_util.cc
  test/core/http/httpcli_test_util.h
  test/core/http/httpscli_test.cc
  test/core/memory_usage/BUILD
  test/core/memory_usage/memory_usage_test.cc
  test/core/util/BUILD
  test/core/util/subprocess_posix.cc
  test/cpp/util/BUILD
  test/cpp/util/subprocess.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33966 [binder] Ensure flags are filled in by transport
  src/core/ext/transport/binder/transport/binder_transport.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33952 [GSM] Some initial structure
  src/cpp/ext/gsm/BUILD
  src/cpp/ext/gsm/gsm_observability.cc
  src/cpp/ext/gsm/gsm_observability.h
  test/cpp/ext/gsm/BUILD
  test/cpp/ext/gsm/gsm_observability_test.cc
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/distrib/fix_build_deps.py
  tools/distrib/iwyu.sh
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33972 Revert "[core/gpr] move subprocess to gpr"
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/core/lib/gpr/subprocess_posix.cc
  test/core/bad_ssl/bad_ssl_test.cc
  test/core/bad_ssl/generate_tests.bzl
  test/core/event_engine/test_suite/tests/BUILD
  test/core/http/BUILD
  test/core/http/httpcli_test.cc
  test/core/http/httpcli_test_util.cc
  test/core/http/httpcli_test_util.h
  test/core/http/httpscli_test.cc
  test/core/memory_usage/BUILD
  test/core/memory_usage/memory_usage_test.cc
  test/core/util/BUILD
  test/core/util/subprocess.h
  test/core/util/subprocess_posix.cc
  test/core/util/subprocess_windows.cc
  test/cpp/util/BUILD
  test/cpp/util/subprocess.cc
Labels: lang/c++, lang/core, release notes: no

#33973 [bug] Fix race in EventEngine shim logging
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33975 [EventEngine][Windows] Fix trace log use-after-free
  src/core/lib/event_engine/windows/windows_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33978 [bazel] Disable flaky bazelified run_tests.py tests
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/portability_tests.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33945 [promises] Enable promise-based calls on server side for OSS build
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#33979 [Interop Test] Rollback image changes
  .dockerignore
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33981 [xds] Regex fix in test
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33982 [Interop test] Install curl
  .dockerignore
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33967 [interop] Add grpc-java 1.57.1 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33916 [Fork] Kick the EE PollPoller in prefork
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/event_engine/forkable.cc
  src/core/lib/event_engine/forkable.h
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.h
Labels: lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33984 [end2end] Ensure deterministic ordering of tests
  test/core/end2end/end2end_tests.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33928 [CallTracer] Allow registering multiple call tracers on a call context
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/channel/call_tracer.cc
  src/core/lib/channel/call_tracer.h
  test/core/channel/BUILD
  test/core/channel/call_tracer_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#33877 [fuzzing] Increase deadline, fix b/292258333
  test/core/end2end/end2end_test_corpus/retry_send_recv_batch/clusterfuzz-testcase-minimized-retry_send_recv_batch_fuzzer-5154706632540160
  test/core/end2end/tests/retry_send_recv_batch.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33989 Revert "[promises] Enable promise-based calls on server side for OSS build"
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core

#33971 [ObjC] dns service resolver for cf event engine
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/cf_engine/cf_engine.cc
  src/core/lib/event_engine/cf_engine/dns_service_resolver.cc
  src/core/lib/event_engine/cf_engine/dns_service_resolver.h
  src/objective-c/tests/BUILD
  src/objective-c/tests/EventEngineTests/CFEventEngineClientTests.mm
  src/objective-c/tests/EventEngineTests/CFEventEngineUnitTests.mm
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/cf/BUILD
  test/core/event_engine/cf/cf_engine_test.cc
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/cf_event_engine_test.cc
  test/core/event_engine/test_suite/tests/dns_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33988 [event-engine] remove locking from address cache
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33959 [bazel] Add bazelified run_tests.py tests for ruby and python
  templates/tools/dockerfile/passwordless_sudo.include
  templates/tools/dockerfile/ruby_deps.include
  templates/tools/dockerfile/test/python_debian11_default_arm64/Dockerfile.template
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_debian11_x64/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/portability_tests.bzl
  tools/bazelify_tests/test/prepare_ruby.sh
  tools/dockerfile/interoptest/grpc_interop_ruby.current_version
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/python_debian11_default_arm64.current_version
  tools/dockerfile/test/python_debian11_default_arm64/Dockerfile
  tools/dockerfile/test/python_debian11_default_x64.current_version
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/dockerfile/test/ruby_debian11_arm64.current_version
  tools/dockerfile/test/ruby_debian11_arm64/Dockerfile
  tools/dockerfile/test/ruby_debian11_x64.current_version
  tools/dockerfile/test/ruby_debian11_x64/Dockerfile
  tools/run_tests/helper_scripts/build_ruby.sh
Labels: lang/ruby, lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33833 [PSM Interop] Add bootstrap generator test
  tools/internal_ci/linux/grpc_xds_k8s_lb.cfg
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
Labels: release notes: no

#33999 Revert "[bazel] Add bazelified run_tests.py tests for ruby and python"
  templates/tools/dockerfile/passwordless_sudo.include
  templates/tools/dockerfile/ruby_deps.include
  templates/tools/dockerfile/test/python_debian11_default_arm64/Dockerfile.template
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_debian11_x64/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/portability_tests.bzl
  tools/bazelify_tests/test/prepare_ruby.sh
  tools/dockerfile/interoptest/grpc_interop_ruby.current_version
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/python_debian11_default_arm64.current_version
  tools/dockerfile/test/python_debian11_default_arm64/Dockerfile
  tools/dockerfile/test/python_debian11_default_x64.current_version
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/dockerfile/test/ruby_debian11_arm64.current_version
  tools/dockerfile/test/ruby_debian11_arm64/Dockerfile
  tools/dockerfile/test/ruby_debian11_x64.current_version
  tools/dockerfile/test/ruby_debian11_x64/Dockerfile
  tools/run_tests/helper_scripts/build_ruby.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33983 [core/gpr] Move subprocess to gpr and add subprocess creation using execve
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  grpc.gyp
  src/core/lib/gpr/subprocess.h
  src/core/lib/gpr/subprocess_posix.cc
  src/core/lib/gpr/subprocess_windows.cc
  test/core/bad_ssl/bad_ssl_test.cc
  test/core/bad_ssl/generate_tests.bzl
  test/core/event_engine/test_suite/tests/BUILD
  test/core/http/BUILD
  test/core/http/httpcli_test.cc
  test/core/http/httpcli_test_util.cc
  test/core/http/httpcli_test_util.h
  test/core/http/httpscli_test.cc
  test/core/memory_usage/BUILD
  test/core/memory_usage/memory_usage_test.cc
  test/core/util/BUILD
  test/core/util/subprocess_posix.cc
  test/cpp/util/BUILD
  test/cpp/util/subprocess.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34002 xDS interop: Python LB tests build and use the python server (v1.49.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, area/psm interop

#33898 [PSM Interop] Print the hint for the triager on blanket errors
  tools/run_tests/xds_k8s_test_driver/framework/errors.py
  tools/run_tests/xds_k8s_test_driver/framework/helpers/retryers.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
Labels: release notes: no, area/psm interop

#34000 [XDS Interop] Move XdsStatsWatcher to a separate file.
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/interop/BUILD
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_stats_watcher.cc
  test/cpp/interop/xds_stats_watcher.h
  test/cpp/interop/xds_stats_watcher_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34003 [tcp] Add some safety conditions for memory allocation
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33997 [promises] Make Sleep promise movable
  src/core/lib/promise/sleep.h
  test/core/promise/BUILD
  test/core/promise/sleep_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34008 [Release] Bump version to 1.57.0 (on v1.57.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33915 [xDS] Remove filter name from GenerateServiceConfig
  src/core/ext/filters/rbac/rbac_service_config_parser.cc
  src/core/ext/xds/xds_http_fault_filter.cc
  src/core/ext/xds/xds_http_fault_filter.h
  src/core/ext/xds/xds_http_filters.h
  src/core/ext/xds/xds_http_rbac_filter.cc
  src/core/ext/xds/xds_http_rbac_filter.h
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  src/core/ext/xds/xds_http_stateful_session_filter.h
  src/core/ext/xds/xds_routing.cc
  src/core/lib/security/authorization/rbac_policy.h
  test/core/ext/filters/rbac/rbac_service_config_parser_test.cc
  test/core/xds/xds_http_filters_test.cc
  test/cpp/end2end/xds/xds_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34004 [end2end] Fix fuzzer found crash
  test/core/end2end/end2end_test_corpus/keepalive_timeout/clusterfuzz-testcase-minimized-keepalive_timeout_fuzzer-6432818156601344.test
  test/core/end2end/tests/keepalive_timeout.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34014 [fuzzer] Fix another deadline exceeded case
  test/core/end2end/end2end_test_corpus/call_creds/clusterfuzz-testcase-minimized-call_creds_fuzzer-4602121020309504.test
  test/core/end2end/tests/call_creds.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33970 [benchmark] Delete references to `node_purejs`.
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
  tools/run_tests/performance/README.md
  tools/run_tests/performance/build_performance.sh
  tools/run_tests/performance/loadtest_config.py
  tools/run_tests/performance/loadtest_examples.sh
  tools/run_tests/performance/scenario_config.py
  tools/run_tests/run_performance_tests.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33976 [benchmark] Add node benchmarks to main job.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34017 [PSM Interop] Bump pip kubernetes to 27.2
  tools/run_tests/xds_k8s_test_driver/requirements.lock
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: release notes: no, area/psm interop

#34015 [fuzzer] Fix another deadline exceeded case
  test/core/end2end/end2end_test_corpus/retry_recv_message/clusterfuzz-testcase-minimized-retry_recv_message_fuzzer-5727190958276608.test
  test/core/end2end/tests/retry_recv_message.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33939 [PSM Interop] Report per-RPC metadata if requested.
  .clang-format
  src/proto/grpc/testing/messages.proto
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_stats_watcher.cc
  test/cpp/interop/xds_stats_watcher.h
  test/cpp/interop/xds_stats_watcher_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33951 [Aio] use timeout instead of deadline for intercepted call creation
  src/python/grpcio/grpc/aio/_channel.py
Labels: lang/Python, release notes: no

#34028 [PSM Interop] Revert "Report per-RPC metadata if requested. (#33939)"
  .clang-format
  src/proto/grpc/testing/messages.proto
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_stats_watcher.cc
  test/cpp/interop/xds_stats_watcher.h
  test/cpp/interop/xds_stats_watcher_test.cc
Labels: lang/c++, lang/core, release notes: no

#33990 [Ruby] add special status msg interop test
  src/ruby/pb/test/client.rb
  tools/run_tests/run_interop_tests.py
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33998 [Ruby] set metadata_sent after call success
  src/ruby/lib/grpc/generic/active_call.rb
Labels: lang/ruby, release notes: yes

#34005 [bazel] Add more bazelified tests
  tools/bazelify_tests/BUILD
  tools/bazelify_tests/build_defs.bzl
  tools/bazelify_tests/grpc_run_bazel_distribtest_test.sh
  tools/bazelify_tests/grpc_run_cpp_distribtest_test.sh
  tools/bazelify_tests/grpc_run_tests_harness_test.sh
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/portability_tests.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34029 [PSM Interop] Change the log message from Client pods to Client container
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: release notes: no, area/psm interop

#34010 [test] Allow set request/response size in interop soak test
  test/cpp/interop/client.cc
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_client.h
  test/cpp/interop/observability_client.cc
  test/cpp/interop/xds_federation_client.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33991 [promises] New `Seq`, `TrySeq` implementation
  BUILD
  CMakeLists.txt
  Package.swift
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/lib/channel/connected_channel.cc
  src/core/lib/channel/promise_based_filter.cc
  src/core/lib/promise/detail/basic_seq.h
  src/core/lib/promise/detail/seq_state.h
  src/core/lib/promise/seq.h
  src/core/lib/promise/try_seq.h
  src/core/lib/resource_quota/memory_quota.cc
  src/core/lib/security/transport/client_auth_filter.cc
  src/core/lib/security/transport/server_auth_filter.cc
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  test/core/filters/filter_test.cc
  test/core/promise/BUILD
  test/core/promise/for_each_test.cc
  test/core/promise/loop_test.cc
  test/core/promise/map_pipe_test.cc
  test/core/promise/promise_fuzzer.cc
  test/core/promise/seq_test.cc
  test/core/promise/try_seq_metadata_test.cc
  test/core/promise/try_seq_test.cc
  tools/codegen/core/gen_seq.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34030 [PSM Interop] Fixes the triager hint - add missing date, turn off the highlighter
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/api.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/compute.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
Labels: release notes: no, area/psm interop

#34016 [ruby] improve handling for recv_message op failures
  src/ruby/lib/grpc/generic/active_call.rb
  src/ruby/spec/generic/rpc_server_spec.rb
Labels: lang/ruby, release notes: no

#28770 [Type hints] Fix type hints in aio._interceptors.py
  src/python/grpcio/grpc/aio/_interceptor.py
Labels: lang/Python, release notes: no

#34037 [PSM Interop] Restore "Report per-RPC metadata if requested. (#33939)"
  .clang-format
  src/proto/grpc/testing/messages.proto
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_stats_watcher.cc
  test/cpp/interop/xds_stats_watcher.h
  test/cpp/interop/xds_stats_watcher_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34026 [GCP Observability] Add missing link
  examples/cpp/gcp_observability/helloworld/README.md
Labels: lang/c++, release notes: no

#34041 [EventEngine] Temporarily disable EventEngine experiments in end2end tests
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34039 [experiments] Default unique metadata strings to on in OSS, disable tests
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34038 [promises] Fix flake noticed internally
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34018 [PSM Interop] Ignore DeprecationWarning: HTTPResponse.getheaders()
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
Labels: release notes: no, area/psm interop

#34047 [EventEngine] fix boundary conditions in memory allocation
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34042 [xds] Apply the slowdown factor only once to LRS load reporting period
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34025 [EventEngine] Port GrpcPolledFdFactoryPosix fix to EE
  src/core/lib/event_engine/ares_resolver.cc
  src/core/lib/event_engine/ares_resolver.h
  src/core/lib/event_engine/posix_engine/grpc_polled_fd_posix.h
  test/cpp/naming/BUILD
  test/cpp/naming/cancel_ares_query_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34058 [EventEngine] Enable core end2end tests for the event_engine_listener experiment
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34059 [interop] Add grpc-core 1.57.0 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34060 [EventEngine] Enable core end2end tests for the event_engine_client experiment
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34063 [promises] Fix accounting error preventing stats from showing up
  src/core/lib/surface/call.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34066 [absl] Swisstables dont allow calling begin/extract after move
  src/core/lib/promise/wait_set.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34069 Revert "[GSM Observability] Add bazel dependency on Google Cloud C++ OTel library"
  bazel/googleapis.BUILD
  bazel/grpc_build_system.bzl
  bazel/grpc_deps.bzl
  bazel/grpc_extra_deps.bzl
  test/cpp/ext/gsm/BUILD
  test/cpp/ext/gsm/gsm_observability_test.cc
  tools/distrib/fix_build_deps.py
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/c++, per-call-memory/neutral, per-channel-memory/neutral

#34072 Revert "[absl] Swisstables dont allow calling begin/extract after move"
  src/core/lib/promise/wait_set.h
Labels: lang/core, release notes: no

#34062 [CEL] Fix dependency issue
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/upb-generated/google/type/expr.upb.c
  src/core/ext/upb-generated/google/type/expr.upb.h
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33753 [pick_first] fix sticky-TF and handling of subchannels in TRANSIENT_FAILURE
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/end2end/tests/connectivity.cc
  test/core/end2end/tests/simple_delayed_request.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34064 [fix] don't leak when a range times out unacked
  src/core/lib/event_engine/posix_engine/traced_buffer_list.cc
  src/core/lib/iomgr/buffer_list.cc
  test/core/event_engine/posix/traced_buffer_list_test.cc
  test/core/iomgr/buffer_list_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34074 Revert "Revert "[absl] Swisstables dont allow calling begin/extract after move""
  src/core/lib/promise/wait_set.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33995 [promises] New `Join`, `TryJoin` implementation
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/detail/basic_join.h
  src/core/lib/promise/detail/join_state.h
  src/core/lib/promise/join.h
  src/core/lib/promise/try_join.h
  test/core/promise/BUILD
  test/core/promise/for_each_test.cc
  test/core/promise/join_test.cc
  test/core/promise/latch_test.cc
  test/core/promise/map_pipe_test.cc
  test/core/promise/pipe_test.cc
  test/core/promise/promise_fuzzer.cc
  test/core/promise/try_join_test.cc
  test/core/transport/promise_endpoint_test.cc
  tools/codegen/core/gen_join.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34033 [bazel] Reintroduce bazelified ruby and python tests
  templates/tools/dockerfile/passwordless_sudo.include
  templates/tools/dockerfile/ruby_deps.include
  templates/tools/dockerfile/test/python_debian11_default_arm64/Dockerfile.template
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.template
  templates/tools/dockerfile/test/ruby_debian11_x64/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/portability_tests.bzl
  tools/bazelify_tests/test/prepare_ruby.sh
  tools/dockerfile/interoptest/grpc_interop_ruby.current_version
  tools/dockerfile/interoptest/grpc_interop_ruby/Dockerfile
  tools/dockerfile/test/python_debian11_default_arm64.current_version
  tools/dockerfile/test/python_debian11_default_arm64/Dockerfile
  tools/dockerfile/test/python_debian11_default_x64.current_version
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/dockerfile/test/ruby_debian11_arm64.current_version
  tools/dockerfile/test/ruby_debian11_arm64/Dockerfile
  tools/dockerfile/test/ruby_debian11_x64.current_version
  tools/dockerfile/test/ruby_debian11_x64/Dockerfile
  tools/run_tests/helper_scripts/build_ruby.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33803 [build metadata] Bazel to "other build systems" improvements
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/python/grpcio/grpc_core_dependencies.py
  src/re2/gen_build_yaml.py
  src/upb/gen_build_yaml.py
  src/zlib/gen_build_yaml.py
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/config.m4.template
  templates/config.w32.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  templates/grpc.gemspec.template
  templates/package.xml.template
  third_party/README.md
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/buildgen/generate_build_additions.sh
  tools/buildgen/plugins/transitive_dependencies.py
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34056 [EventEngine] C++ Alarm migration and PosixEventEngine performance enhancements
  BUILD
  include/grpcpp/alarm.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/cpp/common/alarm.cc
  test/cpp/common/alarm_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34068 [interop] Add grpc-java 1.57.2 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33792 [promises] Add a bridge between callbacks and promises
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/wait_for_callback.h
  test/core/promise/BUILD
  test/core/promise/wait_for_callback_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31013 [Bazel] Enable grpcio-reflection to be used via Bazel
  bazel/python_rules.bzl
  test/distrib/bazel/python/BUILD
  test/distrib/bazel/python/import_from_grpcio_reflection.py
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34082 [PSM Interop] Extend headers matching.
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/interop/xds_stats_watcher.cc
  test/cpp/interop/xds_stats_watcher.h
  test/cpp/interop/xds_stats_watcher_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34031 [bazel] enable more bazelified C++ distribtests
  test/distrib/cpp/run_distrib_test_cmake.sh
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
  tools/bazelify_tests/test/BUILD
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34078 [bazelified tests] Reenable gcc_12 bazelified portability test
  tools/bazelify_tests/test/portability_tests.bzl
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34054 [pick_first] de-experiment pick first
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.h
  src/core/ext/xds/xds_lb_policy_registry.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/xds/xds_lb_policy_registry_test.cc
  test/cpp/end2end/xds/xds_pick_first_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34089 [experiments] Extend expiry of unconstrained_max_quota_buffer_size experiment
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34092 [docs] Document Alarm thread-safety guarantees
  include/grpcpp/alarm.h
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34087 [cmake] Cleanup and simplify the cmake build.
  CMakeLists.txt
  Makefile
  build_handwritten.yaml
  src/c-ares/gen_build_yaml.py
  templates/CMakeLists.txt.template
  templates/Makefile.template
  templates/config.m4.template
  templates/config.w32.template
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  templates/grpc.gyp.template
  templates/package.xml.template
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34036 [bazel rbe] Remove the need to mirror RBE linux docker image in gcr.io
  third_party/toolchains/generate_linux_rbe_configs.sh
  third_party/toolchains/rbe_ubuntu2004/cc/BUILD
  third_party/toolchains/rbe_ubuntu2004/cc/armeabi_cc_toolchain_config.bzl
  third_party/toolchains/rbe_ubuntu2004/cc/cc_toolchain_config.bzl
  third_party/toolchains/rbe_ubuntu2004/config/BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34081 [Observability] Fix CPP observability test docker build
  tools/dockerfile/observability-test/cpp/Dockerfile
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34023 [PSM Interop] Print stacktrace before test case teardown
  tools/run_tests/xds_k8s_test_driver/framework/test_cases/__init__.py
  tools/run_tests/xds_k8s_test_driver/framework/test_cases/base_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: release notes: no, area/psm interop

#34095 [wrr] Add metrics to help debug high WRR cost
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/lib/debug/stats_data.cc
  src/core/lib/debug/stats_data.h
  src/core/lib/debug/stats_data.yaml
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  tools/codegen/core/gen_stats_data.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34094 [gke benchmarks] Reenable dotnet GKE benchmarks
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
Labels: lang/C#, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34098 [pick_first] fix test flake
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34101 [bazel RBE] add direct link to Fusion UI in bazel rbe invocations
  tools/remote_build/workspace_status_kokoro.bat
  tools/remote_build/workspace_status_kokoro.sh
  tools/run_tests/python_utils/bazel_report_helper.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34106 [xDS] avoid creating duplicate hierarchical path attribute values
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/address_filtering.cc
  src/core/ext/filters/client_channel/lb_policy/address_filtering.h
  src/core/ext/filters/client_channel/lb_policy/priority/priority.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_target/weighted_target.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/compression/compression_internal.cc
  src/core/lib/gprpp/ref_counted_string.cc
  src/core/lib/gprpp/ref_counted_string.h
  src/python/grpcio/grpc_core_dependencies.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31256 [OpenSSL] Support for OpenSSL 3
  src/core/lib/security/credentials/external/aws_request_signer.cc
  src/core/lib/security/credentials/jwt/json_token.cc
  src/core/lib/security/credentials/jwt/json_token.h
  src/core/lib/security/credentials/jwt/jwt_verifier.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/tsi/alts/crypt/aes_gcm.cc
  src/core/tsi/ssl_transport_security.cc
  test/core/end2end/BUILD
  test/core/end2end/h2_ssl_cert_test.cc
  test/core/security/credentials_test.cc
  test/core/security/json_token_test.cc
  test/core/tsi/ssl_transport_security_test.cc
  test/core/tsi/ssl_transport_security_utils_test.cc
  test/core/tsi/transport_security_test_lib.cc
  test/cpp/end2end/tls_key_export_test.cc
  tools/distrib/fix_build_deps.py
  tools/run_tests/run_tests_matrix.py
Labels: lang/c++, area/security, priority/P0/RELEASE BLOCKER, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34109 [ObjC] Enable DNS resolver with `GRPC_IOS_EVENT_ENGINE_CLIENT`
  src/core/ext/filters/client_channel/resolver/dns/dns_resolver_plugin.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34107 [Windows] Make resolver_component_tests_runner_invoker run with Bazel on Windows
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/cpp/naming/BUILD
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/util/windows/BUILD
  test/cpp/util/windows/manifest_file.cc
  test/cpp/util/windows/manifest_file.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34027 [PSM Interop] Add "hook service"
  CMakeLists.txt
  build_autogenerated.yaml
  src/proto/grpc/testing/messages.proto
  src/proto/grpc/testing/test.proto
  test/cpp/interop/BUILD
  test/cpp/interop/pre_stop_hook_server.cc
  test/cpp/interop/pre_stop_hook_server.h
  test/cpp/interop/pre_stop_hook_server_test.cc
  test/cpp/interop/xds_interop_server_lib.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/ruby, lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral, disposition/not grpc python reviews

#34097 [PSM Interop] Cover TestConfig version parsing with unit tests
  tools/run_tests/xds_k8s_test_driver/framework/helpers/skips.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/unit/__init__.py
  tools/run_tests/xds_k8s_test_driver/tests/unit/helpers/__init__.py
  tools/run_tests/xds_k8s_test_driver/tests/unit/helpers/skips_test.py
Labels: release notes: no, area/psm interop

#32159 [Build] tests: fix compilation on older macOS: add port_platform.h (to pull in __STDC_FORMAT_MACROS define)
  CMakeLists.txt
  templates/CMakeLists.txt.template
Labels: lang/c++, lang/php, lang/core, kokoro:run, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34116 [Python example] Add example for TLS
  examples/python/auth/tls_client.py
  examples/python/auth/tls_server.py
Labels: lang/Python, release notes: no

#34129 Revert "[Windows] Make resolver_component_tests_runner_invoker run wi…
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/cpp/naming/BUILD
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/util/windows/BUILD
  test/cpp/util/windows/manifest_file.cc
  test/cpp/util/windows/manifest_file.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34127 [PSM Interop] Fixes server language check with urlmap.timeout_test
  tools/run_tests/xds_k8s_test_driver/tests/url_map/timeout_test.py
Labels: release notes: no, area/psm interop

#34133 [Import] Revert #34027 and #34129
  CMakeLists.txt
  build_autogenerated.yaml
  src/proto/grpc/testing/messages.proto
  src/proto/grpc/testing/test.proto
  templates/test/cpp/naming/resolver_component_tests_defs.include
  test/cpp/interop/BUILD
  test/cpp/interop/pre_stop_hook_server.cc
  test/cpp/interop/pre_stop_hook_server.h
  test/cpp/interop/pre_stop_hook_server_test.cc
  test/cpp/interop/xds_interop_server_lib.cc
  test/cpp/naming/BUILD
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_tests_runner.py
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/util/windows/BUILD
  test/cpp/util/windows/manifest_file.cc
  test/cpp/util/windows/manifest_file.h
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34125 [PSM Interop] Add unittests CI with github actions
  .github/workflows/psm-interop.yaml
  tools/run_tests/xds_k8s_test_driver/run.sh
  tools/run_tests/xds_k8s_test_driver/tests/unit/__main__.py
  tools/run_tests/xds_k8s_test_driver/tests/unit/test_app/__init__.py
  tools/run_tests/xds_k8s_test_driver/tests/unit/test_app/client_app_test.py
  tools/run_tests/xds_k8s_test_driver/tests/unit/test_app/server_app_test.py
Labels: release notes: no, area/infra, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#34013 [ruby] update google auth to ~> 1.0
  grpc.gemspec
  templates/grpc.gemspec.template
Labels: lang/ruby, release notes: yes

#34131 [Testing] Disable failing OpenSSL Test
  test/core/handshake/client_ssl.cc
Labels: area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34140 [EventEngine] Wake thread pool workers on locally queued work
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34130 [PSM Interop] Don't initialize the secondary context when not needed
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_flags.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/tests/failover_test.py
Labels: release notes: no, area/psm interop

#34141 [Release] Bump core version 202308231310
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34145 [Release] Bump version to 1.58.0-pre1 (on v1.58.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#34144 [Release] Bump version to 1.59.0-dev (on master branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/core/lib/surface/version.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no, per-call-memory/neutral, per-channel-memory/neutral

#34143 [benchmark] Remove work_stealing experiment benchmark
  tools/internal_ci/linux/grpc_e2e_performance_gke_cxx_experiments_framework.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34142 [PSM Interop] Update packaging to fix requirements-dev.txt
  tools/run_tests/xds_k8s_test_driver/requirements-dev.txt
  tools/run_tests/xds_k8s_test_driver/requirements.lock
  tools/run_tests/xds_k8s_test_driver/requirements.txt
Labels: release notes: no, area/psm interop

#34117 [benchmark] Local loadtest scenario runner
  test/cpp/qps/BUILD
  test/cpp/qps/scenario_runner.cc
  test/cpp/qps/scenario_runner.py
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34149 [PSM Interop] Add a stub for GAMMA kokoro job
  tools/internal_ci/linux/psm-gamma.cfg
  tools/internal_ci/linux/psm-gamma.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#34150 [PSM Interop] Add GKE_CLUSTER_PSM_GAMMA option to the list of clusters
  tools/internal_ci/linux/grpc_xds_k8s_install_test_driver.sh
Labels: release notes: no, area/psm interop

#34158 Revert "[benchmark] Local loadtest scenario runner (#34117)"
  test/cpp/qps/BUILD
  test/cpp/qps/scenario_runner.cc
  test/cpp/qps/scenario_runner.py
Labels: lang/c++, release notes: no

#34122 [Windows] Make resolver_component_tests_runner_invoker run with Bazel on RBE
  test/cpp/naming/generate_resolver_component_tests.bzl
  test/cpp/naming/resolver_component_tests_runner_invoker.cc
  test/cpp/util/windows/manifest_file.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34159 [benchmark][reland] Local loadtest scenario runner
  test/cpp/qps/BUILD
  test/cpp/qps/scenario_runner.cc
  test/cpp/qps/scenario_runner.py
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34157 [pick_first] adjust threshold on e2e test to address flake
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34148 [Python fix-it] Manually set status in case of cygrpc.InternalError
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/aio/_call.py
Labels: lang/Python, release notes: no

#34155 [EventEngine] Use new thread pool for all builds
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34164 [PSM Interop] Maintain RPC behaviors order
  test/cpp/interop/xds_interop_server_lib.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34151 [PSM Interop] Initial support for GAMMA tests
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/bin/cleanup.sh
  tools/run_tests/xds_k8s_test_driver/bin/lib/common.py
  tools/run_tests/xds_k8s_test_driver/bin/run_channelz.py
  tools/run_tests/xds_k8s_test_driver/bin/run_ping_pong.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_client.py
  tools/run_tests/xds_k8s_test_driver/bin/run_test_server.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director_gamma.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/gamma_server_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_server_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_gamma_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/route_grpc.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/service.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/tdmesh.yaml
  tools/run_tests/xds_k8s_test_driver/tests/gamma/__init__.py
  tools/run_tests/xds_k8s_test_driver/tests/gamma/gamma_baseline_test.py
Labels: release notes: no, area/psm interop

#34163 [logging-filter] Work around bug in promise_based_filter destruction
  src/core/ext/filters/logging/logging_filter.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34161 [promises] Fix LoopCtl<StatusOr<unique_ptr<T>>>
  src/core/lib/promise/loop.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34162 [promises] Fix handling of `absl::Status` by `TrySeq`
  src/core/lib/promise/poll.h
  src/core/lib/promise/try_join.h
  test/core/promise/try_join_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34090 [experiments] Remove unused experiment
  BUILD
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/cpp/ext/filters/census/client_filter.cc
  src/python/grpcio_observability/grpc_observability/client_call_tracer.cc
  test/cpp/ext/filters/census/stats_plugin_end2end_test.cc
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34118 [tx0cp] Fix initialization issue
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34156 [LB policy API] update some TODOs and comments
  src/core/lib/load_balancing/lb_policy.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33876 [chaotic-good] Client transport write path
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/ext/transport/chaotic_good/frame.h
  src/core/lib/transport/promise_endpoint.h
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/client_transport_test.cc
  tools/run_tests/generated/tests.json
Labels: area/core, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34166 [benchmark] Add event_engine_client continuous benchmarks
  tools/internal_ci/linux/grpc_e2e_performance_gke_cxx_experiments_framework.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34167 [EventEngine] Update Cancel contract on closure deletion timeline
  include/grpc/event_engine/event_engine.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34096 [PSM Interop] Return trailing metadata.
  src/proto/grpc/testing/messages.proto
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_stats_watcher.cc
  test/cpp/interop/xds_stats_watcher.h
  test/cpp/interop/xds_stats_watcher_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
