Repository grpc/grpc, pull requests merged in 2023-11, with the labels that each got.

#34837 Revert "[PSM Interop] Add flag to enable CSM Observability in c++ image"
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/interop/BUILD
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34836 [PSM Interop] Exclude PSM interop test target from being built by cmake
  CMakeLists.txt
  build_autogenerated.yaml
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34839 [build] Speed up clang_format
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34841 [build] Speed up the strict_build CI job
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/bazel_build_with_strict_warnings_linux.sh
  tools/bazelify_tests/test/strict_tests.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34846 [experiments] extend expiration for dualstack experiments
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34838 [test] Fix http_proxy end2end test fixture
  test/core/end2end/fixtures/http_proxy_fixture.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34850 [build] Exclude end2end experiment variations from distribtests
  bazel/grpc_build_system.bzl
  test/distrib/bazel/test_single_bazel_version.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34852 [build] Exclude experiments from RBE Build Tests PR job
  tools/internal_ci/linux/pull_request/grpc_bazel_rbe_build.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34851 [EventEngine] Enable EventEngine Listener experiment for Posix builds
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/increase

#34840 [PSM Interop] Add flag to enable CSM Observability in c++ image
  test/cpp/interop/BUILD
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34857 [Python] Do not call PyEval_InitThreads
  src/python/grpcio/grpc/_cython/cygrpc.pyx
Labels: lang/Python, release notes: no

#34858 Revert "[PSM Interop] Add flag to enable CSM Observability in c++ image"
  test/cpp/interop/BUILD
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34866 [PSM Interop] Add flag to enable CSM Observability in c++ image
  test/cpp/interop/BUILD
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34865 [build] Decrease clang_format CI verbosity
  tools/distrib/clang_format_code.sh
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34863 [metadata] Don't ref entire read for unknown metadata added to hpack table
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/transport/metadata_batch.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34860 [Security] Fix bug for layered composite creds
  src/core/lib/security/credentials/composite/composite_credentials.h
  test/core/security/credentials_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34859 [tls] Allow skipping server cert verification when no default roots are present.
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/ssl_transport_security_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/tls_credentials_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34854 [csharp] Attempt to fix download flakes in C# distrib tests
  test/distrib/csharp/run_distrib_test_dotnetcli.sh
Labels: lang/C#, release notes: no

#34749 [Security - Revocation] Crl Directory Watcher Implementation
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_crl_provider.h
  package.xml
  src/core/BUILD
  src/core/lib/gprpp/directory_reader.h
  src/core/lib/gprpp/posix/directory_reader.cc
  src/core/lib/gprpp/windows/directory_reader.cc
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/gprpp/BUILD
  test/core/gprpp/directory_reader_test.cc
  test/core/security/BUILD
  test/core/security/grpc_tls_crl_provider_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, area/security, lang/core, disposition/ready to merge, release notes: yes, bloat/medium, per-call-memory/decrease, per-channel-memory/neutral

#34867 [security] Support a list of SSL ECs
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/test_creds/BUILD
  src/core/tsi/test_creds/README
  src/core/tsi/test_creds/ca_p256.key
  src/core/tsi/test_creds/ca_p256.pem
  src/core/tsi/test_creds/ca_p384.key
  src/core/tsi/test_creds/ca_p384.pem
  src/core/tsi/test_creds/ca_p521.key
  src/core/tsi/test_creds/ca_p521.pem
  src/core/tsi/test_creds/client_p256.key
  src/core/tsi/test_creds/client_p256.pem
  src/core/tsi/test_creds/client_p384.key
  src/core/tsi/test_creds/client_p384.pem
  src/core/tsi/test_creds/client_p521.key
  src/core/tsi/test_creds/client_p521.pem
  src/core/tsi/test_creds/server1_p256.key
  src/core/tsi/test_creds/server1_p256.pem
  src/core/tsi/test_creds/server1_p384.key
  src/core/tsi/test_creds/server1_p384.pem
  src/core/tsi/test_creds/server1_p521.key
  src/core/tsi/test_creds/server1_p521.pem
  test/core/end2end/BUILD
  test/core/end2end/h2_ssl_certs_curves_test.cc
  tools/run_tests/generated/tests.json
Labels: area/security, lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34881 [clang-format] spam cleanup
  tools/dockerfile/grpc_clang_format/clang_format_all_the_things.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34885 [pick_first] fix race condition for detecting idleness
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34878 [TSI] not configure SNI if it looks like an IP address
  src/core/tsi/ssl_transport_security.cc
  test/core/tsi/ssl_transport_security_test.cc
Labels: area/security, lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34806 [chaotic-good] Add chaotic good client transport read (roll-forward)
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/ext/transport/chaotic_good/frame.cc
  src/core/ext/transport/chaotic_good/frame.h
  src/core/lib/transport/promise_endpoint.cc
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/client_transport_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34887 [grpclb and fake resolver] clean up e2e tests and simplify fake resolver
  BUILD
  src/core/ext/filters/client_channel/lb_policy/child_policy_handler.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/end2end/BUILD
  test/core/end2end/no_server_test.cc
  test/core/transport/chttp2/too_many_pings_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34813 [Build] Dropped Bazel 5.x and Upgraded Bazel 6.4.0
  .bazelversion
  bazel/supported_versions.txt
  bazel/update_mirror.sh
  doc/bazel_support.md
  templates/doc/bazel_support.md.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/bazelify_tests/test/supported_bazel_versions.bzl
  tools/dockerfile/test/bazel.current_version
  tools/dockerfile/test/bazel/Dockerfile
  tools/dockerfile/test/bazel_arm64.current_version
  tools/dockerfile/test/bazel_arm64/Dockerfile
  tools/dockerfile/test/binder_transport_apk.current_version
  tools/dockerfile/test/binder_transport_apk/Dockerfile
  tools/dockerfile/test/sanity.current_version
  tools/dockerfile/test/sanity/Dockerfile
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34870 [tracing] Only set tracers to stream when sampled.
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34895 [PMS Interop] ADS detection: minor wording change
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
Labels: release notes: no, area/psm interop

#34829 [observability] Switch from datetime.utcnow to time.perf_counter
  src/python/grpcio/grpc/_channel.py
  src/python/grpcio/grpc/_observability.py
Labels: lang/Python, release notes: no

#34896 [grpclb_e2e_test] more test improvements and flake fixes
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34764 [interop] Add grpc-java 1.59.0 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34893 [chttp2] Cache-align BDP estimator
  src/core/lib/transport/bdp_estimator.cc
  src/core/lib/transport/bdp_estimator.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34890 [hpack] Do not inline elements for encoder hpack table
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33733 [Fork] Add ObjectGroupForkHandler fork-handling system
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/event_engine/forkable.cc
  src/core/lib/event_engine/forkable.h
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.h
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.h
  src/core/lib/event_engine/posix_engine/event_poller.h
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.cc
  src/core/lib/event_engine/posix_engine/event_poller_posix_default.h
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/event_engine/thread_pool/thread_pool_factory.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/surface/init.cc
  test/core/event_engine/BUILD
  test/core/event_engine/forkable_test.cc
  test/core/event_engine/posix/event_poller_posix_test.cc
  test/core/event_engine/posix/posix_endpoint_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_fork_test.cc
  tools/internal_ci/linux/pull_request/grpc_fork_asan.cfg
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/decrease, per-channel-memory/neutral

#34889 [hpack] Dynamically allocate error for hpack parser
  BUILD
  src/core/ext/transport/chttp2/transport/hpack_parse_result.cc
  src/core/ext/transport/chttp2/transport/hpack_parse_result.h
  src/core/ext/transport/chttp2/transport/hpack_parser.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/increase, per-channel-memory/neutral

#34900 Revert "[security] Support a list of SSL ECs"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/test_creds/BUILD
  src/core/tsi/test_creds/README
  src/core/tsi/test_creds/ca_p256.key
  src/core/tsi/test_creds/ca_p256.pem
  src/core/tsi/test_creds/ca_p384.key
  src/core/tsi/test_creds/ca_p384.pem
  src/core/tsi/test_creds/ca_p521.key
  src/core/tsi/test_creds/ca_p521.pem
  src/core/tsi/test_creds/client_p256.key
  src/core/tsi/test_creds/client_p256.pem
  src/core/tsi/test_creds/client_p384.key
  src/core/tsi/test_creds/client_p384.pem
  src/core/tsi/test_creds/client_p521.key
  src/core/tsi/test_creds/client_p521.pem
  src/core/tsi/test_creds/server1_p256.key
  src/core/tsi/test_creds/server1_p256.pem
  src/core/tsi/test_creds/server1_p384.key
  src/core/tsi/test_creds/server1_p384.pem
  src/core/tsi/test_creds/server1_p521.key
  src/core/tsi/test_creds/server1_p521.pem
  test/core/end2end/BUILD
  test/core/end2end/h2_ssl_certs_curves_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34812 [chttp2] Reland: Fix bug in timeout encoding
  fuzztest/core/transport/chttp2/BUILD
  fuzztest/core/transport/chttp2/hpack_encoder_timeout_test.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.cc
  src/core/ext/transport/chttp2/transport/hpack_encoder.h
  src/core/ext/transport/chttp2/transport/hpack_encoder_table.h
  src/core/lib/transport/timeout_encoding.h
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34611 [chaotic-good] Add client transport error handling.
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/transport/chaotic_good/client_transport.cc
  src/core/ext/transport/chaotic_good/client_transport.h
  src/core/lib/promise/inter_activity_pipe.h
  src/core/lib/promise/mpsc.h
  test/core/transport/chaotic_good/BUILD
  test/core/transport/chaotic_good/client_transport_error_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34880 [experiments] Explicit requirement check
  bazel/experiments.bzl
  bazel/grpc_build_system.bzl
  bazel/test_experiments.bzl
  src/core/lib/experiments/config.cc
  src/core/lib/experiments/config.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/experiments/fixtures/experiments.cc
  tools/codegen/core/experiments_compiler.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34824 [promises] Add an intra-activity mutex type
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/promise_mutex.h
  test/core/promise/BUILD
  test/core/promise/promise_mutex_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34904 [EventEngine] Respect requested thread pool size
  src/core/BUILD
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/core/lib/event_engine/thread_pool/thread_pool_factory.cc
  src/core/lib/event_engine/windows/windows_engine.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34902 [memory test] add benchmark for xDS channel with multiple addresses
  test/core/memory_usage/callback_client.cc
  test/core/memory_usage/memory_usage_test.cc
  tools/profiling/memory/memory_diff.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34908 [server] Fix fuzzing detected memory leak
  src/core/lib/surface/server.cc
  test/core/end2end/fuzzers/server_fuzzer_corpus/5250991764078592
Labels: lang/core, release notes: no, per-call-memory/increase, per-channel-memory/neutral

#34891 [chttp2] Remove unused fields from chttp2_transport
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34911 Revert "[experiments] Explicit requirement check"
  bazel/experiments.bzl
  bazel/grpc_build_system.bzl
  bazel/test_experiments.bzl
  src/core/lib/experiments/config.cc
  src/core/lib/experiments/config.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/experiments/fixtures/experiments.cc
  tools/codegen/core/experiments_compiler.py
Labels: lang/core, release notes: no

#34400 [EventEngine] WindowsDNSResolver Implementation
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/ares_resolver.cc
  src/core/lib/event_engine/ares_resolver.h
  src/core/lib/event_engine/grpc_polled_fd.h
  src/core/lib/event_engine/posix_engine/grpc_polled_fd_posix.h
  src/core/lib/event_engine/windows/grpc_polled_fd_windows.cc
  src/core/lib/event_engine/windows/grpc_polled_fd_windows.h
  src/core/lib/event_engine/windows/windows_engine.cc
  src/core/lib/event_engine/windows/windows_engine.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/test_suite/BUILD
  test/core/event_engine/test_suite/tests/BUILD
  test/core/event_engine/test_suite/tests/dns_test.cc
  test/cpp/naming/utils/health_check.py
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34892 [chttp2] Remove absl::optional for TaskHandle
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/chttp2/transport/writing.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34905 [tracing] Add member getters to HttpAnnotation (#34592)
  src/core/ext/transport/chttp2/transport/chttp2_transport.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#33992 [python] Add observability instrumentation to asyncio stack
  src/python/grpcio/grpc/_cython/_cygrpc/_hooks.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/call.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/server.pyx.pxi
  src/python/grpcio/grpc/aio/_call.py
Labels: lang/Python, release notes: no

#34913 [Build] Shortened python_build to pyb
  .gitignore
  setup.cfg
  src/python/grpcio/commands.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34914 [Python Test] Increase Python Windows build artifact timeout
  tools/run_tests/artifacts/artifact_targets.py
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#34906 [promises] Add some status-like types for TrySeq
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/status_flag.h
  test/core/promise/BUILD
  test/core/promise/status_flag_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34916 [release] Bump core version 202311101839
  BUILD
  CMakeLists.txt
  Makefile
  build_config.rb
  build_handwritten.yaml
  src/core/lib/surface/version.cc
  src/objective-c/tests/version.h
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
Labels: lang/ObjC, lang/core, release notes: no

#34920 [release] disable the call_status_override_on_cancellation experiment on 1.60.x
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34923 [release] Bump version on master to 1.61.0-dev
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/core/lib/surface/version.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: release notes: no

#34924 [release] bump version to 1.60.0-pre1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34932 [pr] Disable title check for now
  .github/workflows/pr-auto-tag.yaml
Labels: area/infra

#34926 [Security - Revocation] Crl backport to 1.59
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  include/grpc/grpc_crl_provider.h
  include/grpc/module.modulemap
  include/grpcpp/security/tls_credentials_options.h
  include/grpcpp/security/tls_crl_provider.h
  package.xml
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/ping_rate_policy.cc
  src/core/lib/gprpp/directory_reader.h
  src/core/lib/gprpp/posix/directory_reader.cc
  src/core/lib/gprpp/windows/directory_reader.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_crl_provider.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/lib/security/security_connector/ssl_utils.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  src/cpp/common/tls_credentials_options.cc
  src/cpp/server/secure_server_credentials.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/gprpp/BUILD
  test/core/gprpp/directory_reader_test.cc
  test/core/security/BUILD
  test/core/security/grpc_tls_credentials_options_comparator_test.cc
  test/core/security/grpc_tls_credentials_options_test.cc
  test/core/security/grpc_tls_crl_provider_test.cc
  test/core/transport/chttp2/write_size_policy_test.cc
  test/core/tsi/BUILD
  test/core/tsi/crl_ssl_transport_security_test.cc
  test/core/tsi/test_creds/crl_data/crls/BUILD
  test/core/util/tls_utils.cc
  test/cpp/client/BUILD
  test/cpp/client/credentials_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/crl_provider_test.cc
  test/cpp/server/BUILD
  test/cpp/server/credentials_test.cc
  tools/codegen/core/gen_grpc_tls_credentials_options.py
  tools/distrib/fix_build_deps.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core
  tools/doxygen/Doxyfile.core.internal
  tools/run_tests/generated/tests.json
Labels: lang/c++, area/security, lang/core, disposition/ready to merge, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#35001 [SoT] Remove import hurdle for Windows code
  .github/labeler.yml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35003 [Release] Bump v1.59.x to v1.59.3
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35119 [release] Bump release version to 1.60.0
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral, PR title format

#35141 [copybara] omit bot from autofix
  .github/workflows/pr-auto-fix.yaml
Labels: release notes: no, area/infra, bloat/none

#35182 [autofix] attempt to log actor string
  .github/workflows/pr-auto-fix.yaml
Labels: release notes: no, area/infra
