Repository grpc/grpc, pull requests merged in 2023-12, with the labels that each got.

#35222 [example] C++ Debugging
  examples/cpp/debugging/BUILD
  examples/cpp/debugging/README.md
  examples/cpp/debugging/crashing_greeter_client.cc
  examples/cpp/debugging/greeter_callback_server_admin.cc
Labels: lang/c++, release notes: yes

#35218 [examples] Implement custom metrics reporting from server
  examples/cpp/cmake/common.cmake
  examples/cpp/orca/BUILD
  examples/cpp/orca/README.md
  examples/cpp/orca/orca_server.cc
Labels: lang/c++, release notes: no

#35219 [example] Add WAIT_FOR_READY example
  examples/cpp/wait_for_ready/BUILD
  examples/cpp/wait_for_ready/CMakeLists.txt
  examples/cpp/wait_for_ready/README.md
  examples/cpp/wait_for_ready/greeter_callback_client.cc
Labels: lang/c++, release notes: no

#35254 [PSM Interop] Configure CODEOWNERS
  .github/CODEOWNERS
Labels: release notes: no, area/infra, bloat/none, area/psm interop, per-call-memory/decrease, per-channel-memory/neutral

#35340 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.55.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#34930 [ci/cd] Hash-pin GitHub Actions, set up dependabot to keep them updated
  .github/dependabot.yml
  .github/workflows/pr-auto-fix.yaml
  .github/workflows/pr-auto-tag.yaml
  .github/workflows/psm-interop.yaml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35335 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.60.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-csm.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35336 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.59.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-csm.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35337 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.58.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35338 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.57.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35339 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.56.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35342 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.53.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xbranch.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35343 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.52.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35344 [PSM Interop] Use the Kokoro shared install lib from the new repo (v1.51.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/grpc_xds_resource_cleanup.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#35392 Fix Bazel 7 build (more)
  tools/bazelify_tests/build_defs.bzl
  tools/bazelify_tests/test/bazel_distribtests.bzl
Labels: area/build, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral
