Repository grpc/grpc, pull requests merged in 2023-09, with the labels that each got.

#34051 [GSM Observability] Metadata Exchange Implementation
  src/core/lib/transport/metadata_batch.h
  src/cpp/ext/gsm/BUILD
  src/cpp/ext/gsm/metadata_exchange.cc
  src/cpp/ext/gsm/metadata_exchange.h
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/key_value_iterable.h
  src/cpp/ext/otel/otel_call_tracer.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_client_filter.h
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/gsm/BUILD
  test/cpp/ext/gsm/gsm_observability_test.cc
  test/cpp/ext/gsm/metadata_exchange_test.cc
  test/cpp/ext/otel/BUILD
  test/cpp/ext/otel/otel_plugin_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/ext/otel/otel_test_library.h
  tools/distrib/fix_build_deps.py
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/increase, per-channel-memory/neutral

#34216 [RBE windows] Use bazel 6.3.2 on windows RBE (after regenerating toolchain)
  test/distrib/bazel/test_single_bazel_version.sh
  third_party/toolchains/BUILD
  third_party/toolchains/README.md
  third_party/toolchains/generate_windows_rbe_configs.sh
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/LICENSE
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/BUILD
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/WORKSPACE
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/armeabi_cc_toolchain_config.bzl
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/builtin_include_directory_paths_clangcl
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/builtin_include_directory_paths_mingw
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/builtin_include_directory_paths_msvc
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/clang_installation_error.bat
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/get_env.bat
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/msys_gcc_installation_error.bat
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/vc_installation_error_arm.bat
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/vc_installation_error_arm64.bat
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/windows_cc_toolchain_config.bzl
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/config/BUILD
  tools/internal_ci/windows/bazel_rbe.bat
  tools/remote_build/windows.bazelrc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34223 [xds_override_host] improve logging for debuggability
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34233 [GSM Observability] "Revert Metadata Exchange Implementation"
  src/core/lib/transport/metadata_batch.h
  src/cpp/ext/gsm/BUILD
  src/cpp/ext/gsm/metadata_exchange.cc
  src/cpp/ext/gsm/metadata_exchange.h
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/key_value_iterable.h
  src/cpp/ext/otel/otel_call_tracer.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_client_filter.h
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/gsm/BUILD
  test/cpp/ext/gsm/gsm_observability_test.cc
  test/cpp/ext/gsm/metadata_exchange_test.cc
  test/cpp/ext/otel/BUILD
  test/cpp/ext/otel/otel_plugin_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/ext/otel/otel_test_library.h
  tools/distrib/fix_build_deps.py
Labels: lang/c++, lang/core, release notes: no

#34229 [bazel rbe] Update RBE windows docker image (and move it to GAR)
  third_party/toolchains/README.md
  third_party/toolchains/dockerfile/rbe_windows2019/Dockerfile
  third_party/toolchains/generate_windows_rbe_configs.sh
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/cc/BUILD
  third_party/toolchains/rbe_windows_bazel_6.3.2_vs2019/config/BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34205 [PSM Interop] Enable GRPC_EXPERIMENTAL_XDS_ENABLE_OVERRIDE_HOST
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
Labels: release notes: no, area/psm interop

#34234 Revert "[GSM Observability] "Revert Metadata Exchange Implementation""
  src/core/lib/transport/metadata_batch.h
  src/cpp/ext/gsm/BUILD
  src/cpp/ext/gsm/metadata_exchange.cc
  src/cpp/ext/gsm/metadata_exchange.h
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/key_value_iterable.h
  src/cpp/ext/otel/otel_call_tracer.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_client_filter.h
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/gsm/BUILD
  test/cpp/ext/gsm/gsm_observability_test.cc
  test/cpp/ext/gsm/metadata_exchange_test.cc
  test/cpp/ext/otel/BUILD
  test/cpp/ext/otel/otel_plugin_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/ext/otel/otel_test_library.h
  tools/distrib/fix_build_deps.py
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/increase, per-channel-memory/neutral

#34202 Revert previous change to PluginMain
  src/compiler/config.h
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34179 [chttp2] Review feedback for new framing layer
  src/core/ext/transport/chttp2/transport/frame.cc
  test/core/transport/chttp2/frame_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34252 [protobuf dependency] Remove dangling protobuf2.patch file
  third_party/protobuf2.patch
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34222 [health checking] move to generic health watch for dualstack design
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/health_check_client.cc
  src/core/ext/filters/client_channel/lb_policy/health_check_client_internal.h
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/subchannel.h
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33361 [Build] fix `gRPCConfig.cmake`
  cmake/protobuf.cmake
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34261 [Release] Bump version to 1.58.0 (on v1.58.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#34238 [Interop Tests][v1.51] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34243 [Interop Tests][v1.53] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34235 [Interop Tests][v1.49] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34221 [HTTP Proxy] Rename source/header and move test
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/http_proxy_mapper.cc
  src/core/ext/filters/client_channel/http_proxy_mapper.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/BUILD
  test/core/ext/filters/client_channel/BUILD
  test/core/ext/filters/client_channel/http_proxy_mapper_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34257 [PHP tests] Remove non-standard PHP memory leak test
  src/php/bin/run_tests.sh
  src/php/tests/MemoryLeakTest/MemoryLeakTest.php
Labels: lang/php, release notes: no

#34239 [Example] Added gRPC C++ cancellation example
  examples/cpp/cancellation/BUILD
  examples/cpp/cancellation/CMakeLists.txt
  examples/cpp/cancellation/README.md
  examples/cpp/cancellation/client.cc
  examples/cpp/cancellation/server.cc
  examples/protos/helloworld.proto
Labels: lang/c++, area/documentation, release notes: no

#34258 [XdsClient] replace e2e test with unit test
  test/core/xds/xds_client_test.cc
  test/cpp/end2end/xds/xds_core_end2end_test.cc
  test/cpp/end2end/xds/xds_server.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34259 [experiments] Sort initial printout
  src/core/lib/experiments/config.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34225 [max-age] Add jitter to max idle, use absl bitgen for rng
  src/core/BUILD
  src/core/ext/filters/channel_idle/channel_idle_filter.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/xds/xds_channel_stack_modifier_test.cc
  test/cpp/microbenchmarks/BUILD
  test/cpp/microbenchmarks/bm_rng.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33506 [Test] Do not use importlib find_module API, removed in Python 3.12
  bazel/_gevent_test_main.py
  src/python/grpcio_tests/tests/_loader.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34186 [Python 3.12] Deprecate distutil
  setup.py
  src/python/grpcio/_parallel_compile_patch.py
  src/python/grpcio/commands.py
  src/python/grpcio/support.py
  src/python/grpcio_channelz/channelz_commands.py
  src/python/grpcio_health_checking/health_commands.py
  src/python/grpcio_reflection/reflection_commands.py
  src/python/grpcio_status/status_commands.py
  src/python/grpcio_testing/testing_commands.py
  src/python/grpcio_tests/commands.py
  src/python/grpcio_tests/tests/protoc_plugin/_python_plugin_test.py
  test/distrib/python/test_packages.sh
  tools/distrib/python/grpcio_tools/README.rst
  tools/distrib/python/grpcio_tools/_parallel_compile_patch.py
  tools/distrib/python/grpcio_tools/setup.py
  tools/run_tests/artifacts/build_artifact_python.bat
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34268 [Tests] Move the http_proxy_mapper_test.cc back
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/client_channel/BUILD
  test/core/client_channel/http_proxy_mapper_test.cc
  test/core/ext/filters/client_channel/BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34244 [ring_hash] delegate to pick_first as per dualstack design
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/lib/resolver/server_address.h
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34270 [Python Misc] Remove fetch_build_eggs & Fix run_test
  src/python/grpcio/commands.py
  src/python/grpcio_tests/commands.py
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34280 [HTTP2 keepalive] Push back expiry for keepalive_fix and keepalive_server_fix experiments
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34281 [Python Relase] Add xds-protos to release verification script
  tools/release/verify_python_release.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34247 [GSM Observability] Add mesh_id support in injected labels
  src/cpp/ext/gsm/BUILD
  src/cpp/ext/gsm/metadata_exchange.cc
  src/cpp/ext/gsm/metadata_exchange.h
  src/cpp/ext/otel/key_value_iterable.h
  src/cpp/ext/otel/otel_call_tracer.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/gsm/BUILD
  test/cpp/ext/gsm/mesh_id_test.cc
  test/cpp/ext/gsm/metadata_exchange_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34279 [PSM Interop] Update transitive dependencies
  tools/run_tests/xds_k8s_test_driver/requirements.lock
Labels: release notes: no, area/psm interop

#34265 [chttp2] Fix inefficiency in flow control
  bazel/experiments.bzl
  src/core/ext/transport/chttp2/transport/flow_control.cc
  src/core/ext/transport/chttp2/transport/flow_control.h
  src/core/ext/transport/chttp2/transport/writing.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/transport/chttp2/flow_control_fuzzer.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34282 [Core Config] Use absl::Invocable instead of std::function
  BUILD
  src/core/BUILD
  src/core/lib/config/core_configuration.cc
  src/core/lib/config/core_configuration.h
  src/core/lib/surface/channel_init.h
  test/core/config/core_configuration_test.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34273 [OTel C++] Add ability to select channels for stats based on the target
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  test/cpp/ext/otel/otel_plugin_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/ext/otel/otel_test_library.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34277 [Session Affinity] Update validation and add a test case
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  test/core/xds/xds_http_filters_test.cc
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34285 [OTel] Add API to allow filtering target attribute on client side call/attempt metrics
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  test/cpp/ext/otel/otel_plugin_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/ext/otel/otel_test_library.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34271 [interop] Add grpc-go 1.58.0 to client_matrix
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34301 [fuzzing] Extend deadline to fix fuzzer failure
  test/core/end2end/end2end_test_corpus/server_streaming/clusterfuzz-testcase-minimized-server_streaming_fuzzer-5517193846521856
  test/core/end2end/tests/server_streaming.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34230 [lang/c++] Make new LLVM version compile with unused variable
  src/core/lib/channel/connected_channel.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34241 [round_robin] delegate to pick_first as per dualstack design
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.cc
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.h
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34307 [client_channel] SubchannelWrapper hops into WorkSerializer before destruction
  BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34294 [OTel and Csm] Cosmetic API changes
  src/cpp/ext/csm/BUILD
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/csm/csm_observability.h
  src/cpp/ext/csm/metadata_exchange.cc
  src/cpp/ext/csm/metadata_exchange.h
  src/cpp/ext/gsm/gsm_observability.cc
  src/cpp/ext/gsm/gsm_observability.h
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  test/cpp/ext/csm/BUILD
  test/cpp/ext/csm/csm_observability_test.cc
  test/cpp/ext/csm/mesh_id_test.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/distrib/fix_build_deps.py
  tools/distrib/iwyu.sh
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34308 [fuzzing] Add TickUntil variants to FuzzingEventEngine
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34310 [experiments] Bump expirations for some EE experiments
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34317 Revert "[round_robin] delegate to pick_first as per dualstack design"
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.cc
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.h
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34318 Revert "[client_channel] SubchannelWrapper hops into WorkSerializer before destruction"
  BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34103 [Build] Shared builds on windows
  CMakeLists.txt
  include/grpc/event_engine/event_engine.h
  include/grpc/support/port_platform.h
  include/grpcpp/impl/status.h
  include/grpcpp/security/tls_certificate_provider.h
  src/core/lib/config/config_vars.h
  src/core/lib/config/core_configuration.h
  src/core/lib/gprpp/fork.h
  src/core/lib/iomgr/exec_ctx.cc
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/slice/slice_refcount.h
  templates/CMakeLists.txt.template
  tools/codegen/core/gen_config_vars.py
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral, disposition/not grpc python reviews

#34290 [GSM Observability] Update opentelemetry cpp bazel deps
  WORKSPACE
  bazel/grpc_deps.bzl
  test/cpp/ext/otel/otel_test_library.cc
Labels: lang/c++, infra/Bazel, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34314 [EventEngine] Make `AresResolver` build compatible with older c-ares versions
  Package.swift
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/ares_resolver.cc
  src/core/lib/event_engine/nameser.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34289 [interop] Add grpc-java 1.58.0 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: area/tools, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34110 [C++] Stop using std::aligned_storage.
  include/grpcpp/server_context.h
  src/core/lib/gprpp/manual_constructor.h
  src/core/lib/gprpp/no_destruct.h
  src/core/lib/iomgr/event_engine_shims/endpoint.cc
  src/core/lib/promise/arena_promise.h
  test/core/gprpp/ref_counted_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33646 [C++] Fix clang's -Winconsistent-missing-override in proto reader/writer.
  include/grpcpp/support/proto_buffer_reader.h
  include/grpcpp/support/proto_buffer_writer.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34325 Revert "[EventEngine] Make `AresResolver` build compatible with older…
  Package.swift
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/ares_resolver.cc
  src/core/lib/event_engine/nameser.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34296 [fuzzing] Make it easier for fuzzers to find experiments
  src/core/lib/config/config_vars.yaml
  test/core/end2end/end2end_test_fuzzer.cc
  test/core/util/fuzz_config_vars.proto
  test/core/util/fuzz_config_vars_helpers.cc
  test/core/util/fuzz_config_vars_helpers.h
  tools/codegen/core/gen_config_vars.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34323 [Release] Added 1.58 to interop
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34324 [EventEngine] Backport "[EventEngine] Make AresResolver build compatible with older c-ares versions" to v1.58.x
  Package.swift
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/ares_resolver.cc
  src/core/lib/event_engine/nameser.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  test/core/experiments/experiments_test.cc
  test/core/experiments/fixtures/experiments.cc
  test/core/experiments/fixtures/experiments.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34320 [round_robin] third attempt: delegate to pick_first as per dualstack design
  CMakeLists.txt
  Makefile
  Package.swift
  bazel/experiments.bzl
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.cc
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.h
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#34328 Revert "Revert "[EventEngine] Make `AresResolver` build compatible with older…"
  Package.swift
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/ares_resolver.cc
  src/core/lib/event_engine/nameser.h
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34311 [CSM] Add target selector for csm channels
  src/cpp/ext/csm/BUILD
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/csm/csm_observability.h
  test/cpp/ext/csm/csm_observability_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34313 [ssa test] Add test for per-route SSA configuration
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34316 [Python distribtests] Fix version issue for readme_renderer
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34335 Revert "[round_robin] third attempt: delegate to pick_first as per dualstack design"
  CMakeLists.txt
  Makefile
  Package.swift
  bazel/experiments.bzl
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.cc
  src/core/ext/filters/client_channel/lb_policy/endpoint_list.h
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/python/grpcio/grpc_core_dependencies.py
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no

#34336 [Release] Bump version to 1.58.1 (on v1.58.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34339 [Fix] Added missing #include
  test/core/tsi/ssl_transport_security_utils_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34326 [ssa test] Test TTL attribute on cookie
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34327 [Build] re-enable grpc++_unsecure library without ssl dependencies
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/security/credentials/tls/grpc_tls_certificate_match.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/python/grpcio/grpc_core_dependencies.py
  templates/CMakeLists.txt.template
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34293 [Test] Add concurrent test for session reuse
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/end2end/BUILD
  test/cpp/end2end/ssl_credentials_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, area/test, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34341 [test] Update NDK image with newer CMake
  templates/tools/dockerfile/test/android_ndk/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/test/android_ndk.current_version
  tools/dockerfile/test/android_ndk/Dockerfile
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34344 [PSM Interop] Enable GRPC_EXPERIMENTAL_XDS_ENABLE_OVERRIDE_HOST
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
Labels: release notes: no

#34180 [Security] Move ownership of tsi_ssl_client_handshaker_factory to grpc_ssl_credentials.
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/tsi/ssl_transport_security_test.cc
  test/cpp/end2end/ssl_credentials_test.cc
Labels: lang/c++, area/security, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34348 [Session Affinity] Update validation and add a test case
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  test/core/xds/xds_http_filters_test.cc
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34355 Revert "[Security] Move ownership of tsi_ssl_client_handshaker_factory to grpc_ssl_credentials."
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/tsi/ssl_transport_security_test.cc
  test/cpp/end2end/ssl_credentials_test.cc
Labels: lang/c++, lang/core

#34354 [SpellCheck] s/heding/hedging
  src/core/lib/channel/call_tracer.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34357 [code-review] Fix paths for code generated stuff
  .gitattributes
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34352 [CSM] Remaining cleanup from GSM to CSM renaming
  src/cpp/ext/csm/metadata_exchange.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34359 [Fix] Added missing #include
  test/core/tsi/crl_ssl_transport_security_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34274 [work-serializer] Dispatch on run experiment
  BUILD
  CMakeLists.txt
  bazel/experiments.bzl
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/health_check_client_internal.h
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/xds/xds_client.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/gprpp/work_serializer.cc
  src/core/lib/gprpp/work_serializer.h
  test/core/channel/BUILD
  test/core/channel/channelz_test.cc
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/end2end/no_server_test.cc
  test/core/event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
  test/core/gprpp/BUILD
  test/core/gprpp/work_serializer_test.cc
  test/core/iomgr/stranded_event_test.cc
  test/core/transport/chttp2/too_many_pings_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#34371 Revert "[work-serializer] Dispatch on run experiment"
  BUILD
  CMakeLists.txt
  bazel/experiments.bzl
  build_autogenerated.yaml
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/health_check_client_internal.h
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/xds/xds_client.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/gprpp/work_serializer.cc
  src/core/lib/gprpp/work_serializer.h
  test/core/channel/BUILD
  test/core/channel/channelz_test.cc
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/end2end/no_server_test.cc
  test/core/event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
  test/core/gprpp/BUILD
  test/core/gprpp/work_serializer_test.cc
  test/core/iomgr/stranded_event_test.cc
  test/core/transport/chttp2/too_many_pings_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: lang/c++, lang/core

#34358 [Interop Tests][v1.57] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34349 [Interop Tests][v1.55] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34360 [ssa test] Add test for per-route SSA configuration
  src/core/ext/xds/xds_http_stateful_session_filter.cc
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34312 [CSM] Add a server selector based on channel args
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/xds_server_builder.h
  src/core/BUILD
  src/core/ext/xds/xds_enabled_server.h
  src/core/lib/channel/call_tracer.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/ext/csm/BUILD
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  src/cpp/ext/otel/otel_server_call_tracer.h
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34236 [Interop Tests][v1.50] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34240 [Interop Tests][v1.52] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34342 [Interop Tests][v1.54] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34351 [Interop Tests][v1.56] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34315 [EventEngine] Delete OriginalThreadPool, remove work_stealing experiment
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/lib/event_engine/thread_pool/original_thread_pool.cc
  src/core/lib/event_engine/thread_pool/original_thread_pool.h
  src/core/lib/event_engine/thread_pool/thread_pool_factory.cc
  src/python/grpcio/grpc_core_dependencies.py
  test/core/event_engine/thread_pool_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#34368 [benchmark] Add golang tests back to experimental CI job.
  tools/internal_ci/linux/grpc_e2e_performance_gke_experiment.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34373 [Interop Tests][v1.58] Update Docker images
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34375 Revert "[CSM] Add a server selector based on channel args"
  BUILD
  build_autogenerated.yaml
  gRPC-C++.podspec
  include/grpcpp/xds_server_builder.h
  src/core/BUILD
  src/core/ext/xds/xds_enabled_server.h
  src/core/lib/channel/call_tracer.cc
  src/core/lib/channel/call_tracer.h
  src/core/lib/surface/call.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/cpp/ext/csm/BUILD
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  src/cpp/ext/otel/otel_server_call_tracer.h
  tools/doxygen/Doxyfile.c++.internal
Labels: lang/c++, lang/core

#34321 [client_channel] second attempt: SubchannelWrapper hops into WorkSerializer before destruction
  BUILD
  bazel/experiments.bzl
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34374 [pick_first] ignore duplicate calls to ExitIdleLocked()
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34372 [work-serializer] Dispatch on run experiment (relanding)
  BUILD
  CMakeLists.txt
  bazel/experiments.bzl
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/health_check_client_internal.h
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.cc
  src/core/ext/filters/client_channel/resolver/fake/fake_resolver.h
  src/core/ext/filters/client_channel/subchannel.cc
  src/core/ext/filters/client_channel/subchannel.h
  src/core/ext/xds/xds_client.cc
  src/core/lib/channel/channelz_registry.h
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/gprpp/work_serializer.cc
  src/core/lib/gprpp/work_serializer.h
  test/core/channel/BUILD
  test/core/channel/channelz_test.cc
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/client_channel/resolvers/dns_resolver_cooldown_test.cc
  test/core/client_channel/resolvers/dns_resolver_test.cc
  test/core/client_channel/resolvers/fake_resolver_test.cc
  test/core/client_channel/resolvers/sockaddr_resolver_test.cc
  test/core/end2end/no_server_test.cc
  test/core/event_engine/BUILD
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
  test/core/gprpp/BUILD
  test/core/gprpp/work_serializer_test.cc
  test/core/iomgr/stranded_event_test.cc
  test/core/transport/chttp2/too_many_pings_test.cc
  test/cpp/client/destroy_grpclb_channel_with_active_connect_stress_test.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/client_lb_end2end_test.cc
  test/cpp/end2end/grpclb_end2end_test.cc
  test/cpp/end2end/rls_end2end_test.cc
  test/cpp/end2end/service_config_end2end_test.cc
  test/cpp/end2end/xds/xds_cluster_type_end2end_test.cc
  test/cpp/end2end/xds/xds_ring_hash_end2end_test.cc
  test/cpp/naming/cancel_ares_query_test.cc
  test/cpp/naming/resolver_component_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#34288 [PSM Interop] Enable xDS affinity test for Node
  tools/run_tests/xds_k8s_test_driver/tests/affinity_test.py
Labels: lang/node, release notes: no, area/psm interop

#34378 [build] Fix merge problem
  src/core/lib/experiments/experiments.h
Labels: lang/core, release notes: no

#34381 [CSM] Create an experimental target
  BUILD
  include/grpcpp/ext/csm_observability.h
  src/cpp/ext/csm/BUILD
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/csm/csm_observability.h
  test/cpp/ext/csm/csm_observability_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34377 [combiner] Add a force-offload mechanism
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/combiner.h
  src/core/lib/iomgr/exec_ctx.h
  test/core/iomgr/combiner_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34370 [benchmark] Add golang tests back to main CI job.
  tools/internal_ci/linux/grpc_e2e_performance_gke.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34266 [bazelified tests] Reenable runtests_php_linux_dbg after #34257
  tools/bazelify_tests/test/BUILD
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34245 [WRR] delegate to pick_first as per dualstack design
  bazel/experiments.bzl
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  test/core/client_channel/lb_policy/weighted_round_robin_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#34392 [work-serializer] Fix synchronous test assumption
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34390 [experiments] Extend expiry of memory_pressure_controller
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34232 [dns] unskip c-ares tests on arm
  test/cpp/naming/generate_resolver_component_tests.bzl
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34394 [LB policies] hop into WorkSerializer in subchannel wrappers' Orphan()
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34369 [work-serializer] Add some basic process-wide monitoring
  BUILD
  src/core/lib/debug/stats_data.cc
  src/core/lib/debug/stats_data.h
  src/core/lib/debug/stats_data.yaml
  src/core/lib/gprpp/work_serializer.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/gprpp/work_serializer_test.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34393 [experiments] Make codegen more merge friendly
  src/core/lib/experiments/experiments.h
  test/core/experiments/fixtures/experiments.h
  tools/codegen/core/experiments_compiler.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34389 [fuzzing] Extend deadline to fix fuzzer failure
  test/core/end2end/tests/write_buffering.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34303 [experiments] Remove unique_metadata_strings experiment
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/transport/parsed_metadata.h
  src/core/lib/transport/simple_slice_based_metadata.h
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33933 [python][interop] Add bootstrap generator test to nightly cron job against python master
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
Labels: release notes: no, lang/all

#34387 [Interop] Tests for SSA and GAMMA
  tools/run_tests/xds_k8s_test_driver/README.md
  tools/run_tests/xds_k8s_test_driver/framework/helpers/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/gcp/network_services.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/k8s.py
  tools/run_tests/xds_k8s_test_driver/framework/infrastructure/traffic_director.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_testing.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/client_app.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/gamma_server_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_base_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/runners/k8s/k8s_xds_client_runner.py
  tools/run_tests/xds_k8s_test_driver/framework/test_cases/session_affinity_util.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_gamma_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/backend_policy.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/frontend_service.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/route_http.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/route_http_ssafilter.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/session_affinity_filter.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/session_affinity_policy_route.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/session_affinity_policy_service.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/gamma/tdmesh.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/tests/app_net_ssa_test.py
  tools/run_tests/xds_k8s_test_driver/tests/gamma/affinity_test.py
Labels: area/test, release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34404 [build] Exclude some e2e suites from experiments tests
  bazel/grpc_build_system.bzl
  test/core/end2end/BUILD
  test/core/end2end/end2end_test_suites.cc
  test/core/end2end/end2end_tests.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34388 [bazelified tests] Add more bazelified portability tests (and make them SOT for presubmit)
  templates/tools/dockerfile/test/cxx_alpine_x64/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/bazelify_tests/test/portability_tests.bzl
  tools/dockerfile/test/cxx_alpine_x64.current_version
  tools/dockerfile/test/cxx_alpine_x64/Dockerfile
  tools/internal_ci/linux/grpc_portability_build_only.cfg
  tools/internal_ci/linux/grpc_portability_build_only.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34391 [bazelify tests] make grpc_distribtests_standalone and grpc_bazel_distribtest presubmit jobs a noop
  test/distrib/cpp/run_distrib_test_dummy.sh
  tools/internal_ci/linux/grpc_bazel_distribtest.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34403 [grpclb e2e test] increase RPC deadlines to fix flakes
  test/cpp/end2end/grpclb_end2end_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34401 [promises] Add tracing to seq, join variants
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/promise/detail/join_state.h
  src/core/lib/promise/detail/seq_state.h
  test/core/promise/seq_test.cc
  tools/codegen/core/gen_join.py
  tools/codegen/core/gen_seq.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34177 [Ruby] replace strdup with gpr_strdup
  src/ruby/ext/grpc/rb_channel_args.c
Labels: lang/ruby, release notes: yes

#34406 [PSM Interop] Collect metadata in appnet ssa tests
  tools/run_tests/xds_k8s_test_driver/tests/app_net_ssa_test.py
Labels: release notes: no, lang/all

#34407 [client_channel] don't unref picker while holding the LB mutex
  src/core/ext/filters/client_channel/client_channel.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34396 [reland][EventEngine] Move combiner executor usage to EventEngine
  BUILD
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/wire_format/wire_writer.cc
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/iomgr/combiner.cc
  src/core/lib/iomgr/combiner.h
  test/core/end2end/BUILD
  test/core/end2end/fixtures/http_proxy_fixture.cc
  test/core/end2end/fuzzers/client_fuzzer.cc
  test/core/iomgr/combiner_test.cc
  test/core/transport/binder/wire_reader_test.cc
  test/cpp/microbenchmarks/bm_closure.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34380 [Observability Testing] register prometheus exporter
  bazel/grpc_deps.bzl
  test/cpp/interop/BUILD
  test/cpp/interop/observability_client.cc
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34413 [test interop] Add HookService to the maintenence server
  src/proto/grpc/testing/messages.proto
  src/proto/grpc/testing/test.proto
  test/cpp/interop/pre_stop_hook_server.cc
  test/cpp/interop/pre_stop_hook_server.h
  test/cpp/interop/pre_stop_hook_server_test.cc
  test/cpp/interop/xds_interop_server.cc
  test/cpp/interop/xds_interop_server_lib.cc
  test/cpp/interop/xds_interop_server_lib.h
  test/cpp/interop/xds_interop_server_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34399 [client_channel] don't hop into WorkSerializer to unref ConfigSelector per-call
  bazel/experiments.bzl
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34418 [support] Add detection of QNX platform
  include/grpc/support/port_platform.h
  src/core/lib/iomgr/port.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34424 [interop test] Fix the test
  test/cpp/interop/pre_stop_hook_server_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34414 [pings] Trace abuse counters
  src/core/BUILD
  src/core/ext/transport/chttp2/transport/frame_ping.cc
  src/core/ext/transport/chttp2/transport/ping_abuse_policy.cc
  src/core/ext/transport/chttp2/transport/ping_abuse_policy.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34353 [OTel] Minor test cleanup
  test/cpp/ext/otel/otel_plugin_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34408 [Security] Move ownership of tsi_ssl_client_handshaker_factory to grpc_ssl_credentials, version 2.
  src/core/lib/security/credentials/ssl/ssl_credentials.cc
  src/core/lib/security/credentials/ssl/ssl_credentials.h
  src/core/lib/security/security_connector/ssl/ssl_security_connector.cc
  src/core/lib/security/security_connector/ssl/ssl_security_connector.h
  src/core/tsi/ssl_transport_security.cc
  src/core/tsi/ssl_transport_security.h
  test/core/tsi/ssl_transport_security_test.cc
  test/cpp/end2end/ssl_credentials_test.cc
Labels: lang/c++, area/security, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34428 [bazelified tests] Make bazelified C basictests build only
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/portability_tests.bzl
  tools/internal_ci/linux/pull_request/grpc_basictests_c_cpp_build_only.cfg
  tools/internal_ci/linux/pull_request/grpc_basictests_c_cpp_build_only.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34412 [CSM] Update labels
  src/cpp/ext/csm/metadata_exchange.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34061 [ObjC] require osx version > 10.12 for cf event engine
  src/core/lib/event_engine/cf_engine/cf_engine.cc
  src/core/lib/event_engine/cf_engine/cf_engine.h
  src/core/lib/event_engine/cf_engine/cfstream_endpoint.cc
  src/core/lib/event_engine/cf_engine/cfstream_endpoint.h
  src/core/lib/event_engine/cf_engine/cftype_unique_ref.h
  src/core/lib/event_engine/cf_engine/dns_service_resolver.cc
  src/core/lib/event_engine/cf_engine/dns_service_resolver.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34361 [ObjC] Remove grpc core podspec module map
  gRPC-Core.podspec
  templates/gRPC-Core.podspec.template
Labels: release notes: no

#34134 [ruby] Fix linking errors on x86-darwin
  src/ruby/ext/grpc/extconf.rb
Labels: lang/ruby, release notes: yes

#34385 [ObjC] cf event engine supports resolve recursively from on_resolve callback
  src/core/lib/event_engine/cf_engine/dns_service_resolver.cc
  test/core/event_engine/cf/cf_engine_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34433 [test scripts] fix GRPC_VERBOSITY setting for run_tests jobs on CI
  tools/run_tests/run_tests.py
Labels: lang/all wrapped languages, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34434 [TLS creds] fix cancel_check_peer() to actually work
  src/core/lib/security/credentials/tls/grpc_tls_certificate_verifier.h
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34398 [Python 3.12] Support Python 3.12
  setup.py
  src/python/grpcio/_spawn_patch.py
  src/python/grpcio/support.py
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/setup.py
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/README.md
  tools/dockerfile/grpc_artifact_python_linux_armv7.current_version
  tools/dockerfile/grpc_artifact_python_linux_armv7/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x64.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x86.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x86/Dockerfile
  tools/dockerfile/push_testing_images.sh
  tools/internal_ci/helper_scripts/install_python_interpreters.ps1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.bat
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34421 [per-cpu] Change up the cpu caching mechanism
  src/core/BUILD
  src/core/lib/gprpp/per_cpu.cc
  src/core/lib/gprpp/per_cpu.h
  src/core/lib/iomgr/exec_ctx.h
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer_corpus/clusterfuzz-testcase-minimized-resolver_fuzzer-5091818350903296.test
  test/cpp/microbenchmarks/bm_cq.cc
  test/cpp/microbenchmarks/bm_event_engine_run.cc
  test/cpp/microbenchmarks/bm_exec_ctx.cc
  test/cpp/microbenchmarks/bm_thread_pool.cc
  test/cpp/microbenchmarks/helpers.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#34445 [Test] Fix build error
  tools/internal_ci/windows/grpc_distribtests_cpp_dll.bat
  tools/internal_ci/windows/grpc_distribtests_standalone.bat
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34441 [OTel C++] OTel plugin improvements
  src/cpp/ext/otel/BUILD
  src/cpp/ext/otel/otel_plugin.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34440 [CSM] Plumbing fixes
  include/grpcpp/ext/csm_observability.h
  src/cpp/ext/csm/BUILD
  src/cpp/ext/csm/csm_observability.cc
  tools/distrib/fix_build_deps.py
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34446 [per-cpu] Review feedback for PR #34421
  src/core/lib/gprpp/per_cpu.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34444 [Test] Changed gcc-7 to gcc-8
  templates/tools/dockerfile/test/cxx_gcc_8_x64/Dockerfile.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/test/cxx_gcc_7_x64.current_version
  tools/dockerfile/test/cxx_gcc_8_x64.current_version
  tools/dockerfile/test/cxx_gcc_8_x64/Dockerfile
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34435 [xds ssa] Remove environment variable protection for stateful affinity
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/xds/xds_cluster.cc
  src/core/ext/xds/xds_cluster.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_http_filters.cc
  test/core/xds/BUILD
  test/core/xds/xds_cluster_resource_type_test.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/core/xds/xds_http_filters_test.cc
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/client.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server-secure.deployment.yaml
  tools/run_tests/xds_k8s_test_driver/kubernetes-manifests/server.deployment.yaml
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34432 [RegisteredMethod] Set information on initial metadata about whether method is registered or not
  bazel/experiments.bzl
  src/core/ext/transport/binder/transport/binder_transport.cc
  src/core/ext/transport/binder/transport/binder_transport.h
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/experiments.yaml
  src/core/lib/experiments/rollouts.yaml
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/core/lib/surface/channel.cc
  src/core/lib/surface/server.cc
  src/core/lib/surface/server.h
  src/core/lib/transport/metadata_batch.cc
  src/core/lib/transport/metadata_batch.h
  src/core/lib/transport/transport.h
  test/cpp/end2end/BUILD
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/increase, per-channel-memory/neutral

#34439 Revert "[ObjC] Remove grpc core podspec module map"
  gRPC-Core.podspec
  templates/gRPC-Core.podspec.template
Labels: release notes: no

#34453 [CSM] Remove enable/disable metrics API
  include/grpcpp/ext/csm_observability.h
  src/cpp/ext/csm/csm_observability.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34350 [OTel C++] Method attribute filtering
  include/grpcpp/ext/csm_observability.h
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/otel/otel_call_tracer.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/otel/otel_plugin_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/ext/otel/otel_test_library.h
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34457 [PSM Interop] Use newer bootstrap in CSM tests
  tools/internal_ci/linux/psm-csm.cfg
  tools/internal_ci/linux/psm-csm.sh
  tools/run_tests/xds_k8s_test_driver/config/common-csm.cfg
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#34454 [Python 3.12] Increase test timeout
  tools/run_tests/artifacts/distribtest_targets.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#34447 [CSM] Add CSM Example client and server images
  examples/cpp/csm/BUILD
  examples/cpp/csm/Dockerfile.client
  examples/cpp/csm/Dockerfile.server
  examples/cpp/csm/README.md
  examples/cpp/csm/csm_greeter_client.cc
  examples/cpp/csm/csm_greeter_server.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
