Repository grpc/grpc, pull requests merged in 2023-06, with the labels that each got.

#33304 [PSM interop] Don't fail target if sub-target already failed (#33222)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33278 [interop] fix C++ server to add mutex for orca_oob test
  test/cpp/interop/interop_client.cc
  test/cpp/interop/interop_server.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33294 [whitespace] If you see it, you must skip it
  src/core/lib/debug/trace.cc
  src/core/lib/experiments/config.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33293 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.46.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#33297 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.48.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#33298 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.49.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33299 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.50.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33300 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.51.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33301 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.52.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33302 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.53.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33295 [PSM interop] Don't fail target if sub-target already failed (#33222) (v1.47.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_xlang.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#33307 [experiments] Add a grpc_generate_one_off_internal_targets hook in the BUILD file
  bazel/grpc_build_system.bzl
  src/core/BUILD
  tools/distrib/fix_build_deps.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33311 [Release] Bump version to 1.57.0-dev (on master branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/core/lib/surface/version.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33312 [Release] Bump version to 1.56.0-pre1 (on v1.56.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33316 Revert "[EventEngine] Make the thread pool quiesce 10x faster, and add a small stress test"
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
  src/core/lib/gprpp/time.h
  test/core/event_engine/thread_pool_test.cc
Labels: lang/core

#33317 [Reland][EventEngine] Make the thread pool quiesce 10x faster, and add a small stress test" (#33316)
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
  src/core/lib/gprpp/time.h
  test/core/event_engine/thread_pool_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33318 [Bazel Python3.11] Update Bazel dependencies for Python 3.11
  bazel/grpc_python_deps.bzl
  requirements.bazel.txt
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33320 [EventEngine] Disable EventEngine polling in gRPC Python (#33279)
  bazel/cython_library.bzl
  setup.py
  src/core/lib/event_engine/posix_engine/posix_engine.cc
  src/python/grpcio/grpc/_cython/BUILD.bazel
Labels: lang/Python, lang/core, release notes: yes, per-call-memory/neutral, per-channel-memory/neutral

#33319 [Bazel Python3.11] Update Bazel dependencies for Python 3.11 (#33318)
  bazel/grpc_python_deps.bzl
  requirements.bazel.txt
Labels: lang/Python, release notes: yes, per-channel-memory/neutral

#33321 [release] Bump release version to 1.55.1
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33325 [experiments] Fix experiment expiry and avoid failing BUILDS on expired experiments.
  src/core/lib/experiments/experiments.yaml
  tools/codegen/core/experiments_compiler.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33290 [Rls] de-experimentalize RLS in XDS
  src/core/ext/xds/xds_route_config.cc
  test/core/xds/xds_route_config_resource_type_test.cc
  test/cpp/end2end/xds/xds_rls_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33327 [channelz] Make the cacheline stuff work properly for C++14
  src/core/lib/channel/channelz.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33329 [Bazel Python3.11] Update Bazel dependencies for Python 3.11 (v1.56.x backport)
  bazel/grpc_python_deps.bzl
  requirements.bazel.txt
Labels: lang/Python, priority/P0/RELEASE BLOCKER, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33326 [iOS] Disable posix polling on iOS (#33094)
  src/core/lib/event_engine/posix_engine/posix_engine.cc
Labels: lang/Python, lang/ObjC, lang/core, platform/iOS, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33328 [xDS] make transport factory injectable in GrpcXdsClient
  src/core/ext/xds/xds_client_grpc.cc
  src/core/ext/xds/xds_client_grpc.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33261 [PSM Interop] Prettify LB stats output
  tools/run_tests/xds_k8s_test_driver/bin/run_ping_pong.py
  tools/run_tests/xds_k8s_test_driver/framework/helpers/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc.py
  tools/run_tests/xds_k8s_test_driver/framework/rpc/grpc_testing.py
  tools/run_tests/xds_k8s_test_driver/framework/test_app/server_app.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
  tools/run_tests/xds_k8s_test_driver/framework/xds_url_map_testcase.py
Labels: release notes: no, area/psm interop

#33330 [Rls] Backport "[Rls] de-experimentalize RLS in XDS (#33290)" to v1.56.x
  src/core/ext/xds/xds_route_config.cc
  test/core/xds/xds_route_config_resource_type_test.cc
  test/cpp/end2end/xds/xds_rls_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33331 [channelz] Backport "[channelz] Make the cacheline stuff work properly for C++14 (#33327)" to v1.56.x
  src/core/lib/channel/channelz.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33336 [outlier detection] hack to prevent OD from working with pick_first
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33347 [outlier detection] backport to 1.56: hack to prevent OD from working with pick_first
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/outlier_detection_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
Labels: lang/c++, priority/P0/RELEASE BLOCKER, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33350 [Release] Bump version to 1.56.0-pre2 (on v1.56.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#33337 [EventEngine] Fix use-after-free in WindowsEventEngine endpoint shutdown
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_endpoint.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33349 [resolver] change ServerAddress::ToString() to sort attributes
  src/core/lib/resolver/server_address.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33335 Bump v1.55.x to v1.55.2
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/neutral, per-channel-memory/neutral, PR title format

#33358 [experiments] Fix debug behavior
  tools/codegen/core/experiments_compiler.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33333 [EventEngine] Enable work stealing thread pool in debug builds
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33362 [logging] fix spelling
  src/core/ext/filters/logging/logging_sink.h
  src/cpp/ext/gcp/observability_logging_sink.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33365 [Python o11y] Fix python distribtests
  setup.py
Labels: release notes: no

#33309 [core] Add support for vsock transport
  BUILD
  CMakeLists.txt
  Makefile
  build_autogenerated.yaml
  config.m4
  config.w32
  doc/naming.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/ext/filters/client_channel/http_proxy.cc
  src/core/ext/filters/client_channel/resolver/sockaddr/README.md
  src/core/ext/filters/client_channel/resolver/sockaddr/sockaddr_resolver.cc
  src/core/ext/transport/chttp2/server/chttp2_server.cc
  src/core/lib/address_utils/parse_address.cc
  src/core/lib/address_utils/parse_address.h
  src/core/lib/address_utils/sockaddr_utils.cc
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.cc
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/tcp_socket_utils.h
  src/core/lib/iomgr/port.h
  src/core/lib/iomgr/sockaddr_posix.h
  src/core/lib/iomgr/tcp_client_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
  src/core/lib/iomgr/vsock.cc
  src/core/lib/iomgr/vsock.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/address_utils/parse_address_test.cc
  test/core/address_utils/sockaddr_utils_test.cc
  test/core/event_engine/tcp_socket_utils_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33370 [backport][v1.48] ring_hash: fix subchannel list to not shutdown until picker is destro…
  BUILD
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral

#33369 [cherrypick][v1.49] ring_hash: fix subchannel list to not shutdown until picker is destro…
  BUILD
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32973 [xDS LB] Override cluster with value from cookie
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  src/core/lib/service_config/service_config_call_data.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33379 Revert "[xDS LB] Override cluster with value from cookie (#32973)"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  src/core/lib/service_config/service_config_call_data.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33360 [PSM Interop] Improve assertRpcStatusCodes before/after stats logging
  tools/run_tests/xds_k8s_test_driver/framework/xds_k8s_testcase.py
Labels: release notes: no, area/psm interop

#33387 [end2end] Shard some longer running tests a little more to reduce timeout risk
  test/core/end2end/BUILD
  test/core/end2end/grpc_core_end2end_test.bzl
  test/core/end2end/tests/cancel_after_invoke.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33389 [EventEngine] Return work stealing experiment to CI-only
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33391 [ios] damage control
  bazel/grpc_build_system.bzl
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33385 [Test] Dedup vs2019 test in the Windows test
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
  tools/run_tests/run_tests_matrix.py
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33371 [Ruby] Fix memory leak in grpc_rb_server_request_call
  src/ruby/ext/grpc/rb_server.c
Labels: lang/ruby, release notes: yes

#33368 [Ruby] Fix memory leak in grpc_rb_call_run_batch
  src/ruby/ext/grpc/rb_call.c
Labels: lang/ruby, release notes: yes

#33393 Revert "[Test] Dedup vs2019 test in the Windows test"
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
  tools/run_tests/run_tests_matrix.py
Labels: release notes: no

#33373 [xds] Fix test compilation
  test/core/xds/xds_client_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33394 Revert "Revert "[Test] Dedup vs2019 test in the Windows test" (#33393)"
  tools/internal_ci/windows/grpc_run_tests_matrix.bat
  tools/run_tests/run_tests_matrix.py
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33396 [git] Ignore python style LSC #33138 in git blame
  .git-blame-ignore-revs
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33397 [EventEngine] Correct the TimerList documentation
  src/core/lib/event_engine/posix_engine/timer.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33405 [fuzzing] Remove ambiguity in test case, make fuzzer pass
  test/core/end2end/end2end_test_corpus/retry_transparent_max_concurrent_streams/clusterfuzz-testcase-minimized-retry_transparent_max_concurrent_streams_fuzzer-5252699478097920.test
  test/core/end2end/end2end_test_corpus/retry_transparent_max_concurrent_streams/clusterfuzz-testcase-minimized-retry_transparent_max_concurrent_streams_fuzzer-6459052896878592.test
  test/core/end2end/tests/retry_transparent_max_concurrent_streams.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33407 [fuzzing] Increase timeout to accomodate slow internal callbacks
  test/core/end2end/tests/client_streaming.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33074 [Governance] Update maintainers list
  MAINTAINERS.md
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33399 [backport][1.51] ring_hash: fix cast in WorkSerializerRunner (#32012)
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#32872 [bazel] Auto-generate .pyi files in py_proto_library rule
  bazel/grpc_deps.bzl
  bazel/python_rules.bzl
  src/python/.gitignore
  test/distrib/bazel/python/BUILD
  test/distrib/bazel/python/WORKSPACE
  test/distrib/bazel/python/python_rules_test.bzl
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33410 [end2end] Reduce likelihood of two tests opening the same UDS socket
  test/core/end2end/end2end_test_suites.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33359 [subchannel interface] add method for cancelling data watches
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/lib/load_balancing/subchannel_interface.h
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33388 Revert "Revert "[xDS LB] Override cluster with value from cookie"" (#33379)
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  src/core/lib/service_config/service_config_call_data.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33375 [resource quota] Fix bugs in iomgr and event engine endpoint interactions with resource quota
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener.cc
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/tcp_posix.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/resource_quota_end2end_stress_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33390 [Release] Bump version to 1.56.0-pre3 (on v1.56.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33403 [logging] Peer should be set before common entries are filled in
  src/core/ext/filters/logging/logging_filter.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33418 [windows] Add a check for too long path names
  test/core/end2end/end2end_test_corpus/retry_transparent_max_concurrent_streams/5252699478097920
  test/core/end2end/end2end_test_corpus/retry_transparent_max_concurrent_streams/6459052896878592
  tools/distrib/check_path_length.py
  tools/run_tests/sanity/sanity_tests.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33417 Revert "[resource quota] Fix bugs in iomgr and event engine endpoint interactions with resource quota"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener.cc
  src/core/lib/iomgr/exec_ctx.h
  src/core/lib/iomgr/tcp_posix.cc
  test/cpp/end2end/BUILD
  test/cpp/end2end/resource_quota_end2end_stress_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33439 [end2end] Shard some longer running tests a little more to reduce timeout risk
  test/core/end2end/BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33409 [xDS e2e tests] add 1K RPCs to try to work around statistical problem
  test/cpp/end2end/xds/xds_end2end_test_lib.h
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33429 [testing] Adjust port selection algorithm on RBE
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/util/BUILD
  test/core/util/port_isolated_runtime_environment.cc
  test/core/util/test_config.cc
  test/core/util/test_config.h
  test/core/util/test_config_sharded_test.cc
  test/core/util/test_config_unsharded_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33406 [fuzzing] Fix bug on endpoint shutdown whereby we leave read requests dangling
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  test/core/end2end/end2end_test_corpus/bad_ping/clusterfuzz-testcase-minimized-bad_ping_fuzzer-4826792586182656.test
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.cc
  test/core/event_engine/fuzzing_event_engine/fuzzing_event_engine.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33441 [maintainers] Update MAINTAINERS.md
  MAINTAINERS.md
Labels: area/documentation, release notes: no, bloat/none

#33338 [requirements.bazel.txt] updating wheel package to 0.38.1 to fix the vulnerability
  requirements.bazel.txt
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33426 [PSM Interop] Pip freeze breaks down into requirements and their deps
  tools/run_tests/xds_k8s_test_driver/bin/freeze.sh
  tools/run_tests/xds_k8s_test_driver/requirements.lock
Labels: release notes: no, area/psm interop

#33440 [Release] Bump version to 1.56.0 (on v1.56.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral, disposition/not grpc python reviews

#33434 [promises] run finalizers in destruction path
  src/core/lib/surface/call.cc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33381 [experiments] Log constraints when they are used
  src/core/lib/experiments/config.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33424 Revert "Revert "Revert "Revert "[xDS LB] Override cluster with value …
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.cc
  src/core/ext/filters/client_channel/resolver/xds/xds_resolver.h
  src/core/ext/filters/stateful_session/stateful_session_filter.cc
  src/core/ext/filters/stateful_session/stateful_session_filter.h
  src/core/lib/service_config/service_config_call_data.h
  test/cpp/end2end/xds/BUILD
  test/cpp/end2end/xds/xds_end2end_test_lib.cc
  test/cpp/end2end/xds/xds_end2end_test_lib.h
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
  test/cpp/end2end/xds/xds_routing_end2end_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33425 [xDS] require EDS resource name in CDS resources with xdstp names
  src/core/ext/xds/xds_cluster.cc
  test/core/xds/xds_cluster_resource_type_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33448 Revert "[testing] Adjust port selection algorithm on RBE"
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/util/BUILD
  test/core/util/port_isolated_runtime_environment.cc
  test/core/util/test_config.cc
  test/core/util/test_config.h
  test/core/util/test_config_sharded_test.cc
  test/core/util/test_config_unsharded_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core

#33433 [Release] Add grpc-java 1.56.0 to client_matrix.py
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33454 [fuzzer] Fix event ordering in retry_max_concurrent_streams
  test/core/end2end/end2end_test_corpus/retry_transparent_max_concurrent_streams/6659836913713152
  test/core/end2end/tests/retry_transparent_max_concurrent_streams.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33447 [EventEngine] Fix use-after-free in the IOCP read callback
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/event_engine/windows/windows_endpoint.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33450 [end2end] Fix simple delayed request
  test/core/end2end/BUILD
  test/core/end2end/tests/simple_delayed_request.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33395 [Test] Bump the android test devices
  tools/internal_ci/linux/grpc_android_in_docker.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33451 [LB policy API] add helper methods for getting channel creds
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/rls/rls.cc
  src/core/lib/load_balancing/delegating_helper.h
  src/core/lib/load_balancing/lb_policy.h
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33457 [xDS] change CDS policy to get channel creds via the helper
  src/core/ext/filters/client_channel/lb_policy/xds/cds.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33456 [core e2e tests] increase RPC deadline in a couple of tests to avoid flakes
  test/core/end2end/tests/retry_non_retriable_status.cc
  test/core/end2end/tests/retry_throttled.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33234 [xDS] support "tls" channel creds in bootstrap file
  doc/grpc_xds_features.md
  src/core/BUILD
  src/core/ext/xds/xds_bootstrap_grpc.cc
  src/core/ext/xds/xds_bootstrap_grpc.h
  src/core/ext/xds/xds_transport_grpc.cc
  src/core/lib/security/credentials/channel_creds_registry.h
  src/core/lib/security/credentials/channel_creds_registry_init.cc
  src/core/lib/security/credentials/composite/composite_credentials.cc
  src/core/lib/security/credentials/composite/composite_credentials.h
  src/core/lib/security/credentials/fake/fake_credentials.cc
  src/core/lib/security/credentials/fake/fake_credentials.h
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/credentials/tls/tls_credentials.h
  test/core/security/channel_creds_registry_test.cc
  test/core/xds/xds_bootstrap_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/medium, per-call-memory/neutral, per-channel-memory/neutral

#33466 [end2end] Increase deadline on filtered_metadata test after observed failure
  test/core/end2end/tests/filtered_metadata.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33467 [test] Disable cq verifier logs for stress test
  test/core/end2end/cq_verifier.cc
  test/core/end2end/cq_verifier.h
  test/core/iomgr/stranded_event_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33458 [PollingResolver] Allow subclasses to utilize the work serializer
  src/core/ext/filters/client_channel/resolver/polling_resolver.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33446 [interop] Implement "hostname" for RPC behavior
  CMakeLists.txt
  build_autogenerated.yaml
  test/cpp/interop/BUILD
  test/cpp/interop/xds_interop_server.cc
  test/cpp/interop/xds_interop_server_lib.cc
  test/cpp/interop/xds_interop_server_lib.h
  test/cpp/interop/xds_interop_server_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33461 [logging] Handle trailers-only responses
  src/core/ext/filters/logging/logging_filter.cc
  src/core/ext/filters/logging/logging_sink.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33468 [no_logging] Restrict regexes by module name
  test/core/end2end/tests/no_logging.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33470 [fuzzing] Allow naming owners for fuzzers
  test/core/transport/binder/end2end/fuzzers/BUILD
  test/core/util/grpc_fuzzer.bzl
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33471 [fuzzing] Fix fuzzer found test bug
  test/core/end2end/end2end_test_corpus/keepalive_timeout/clusterfuzz-testcase-minimized-keepalive_timeout_fuzzer-5247506459983872
  test/core/end2end/end2end_test_fuzzer.cc
  test/core/end2end/tests/keepalive_timeout.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33474 [BinderTransport] Disable flaky end2end tests
  test/core/transport/binder/end2end/end2end_binder_transport_test.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33428 [HTTP2] Fix inconsistencies in keepalive configuration
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/configuration_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33475 [logging] Fix for ubsan error
  src/core/ext/filters/logging/logging_sink.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33485 Revert "[logging] Handle trailers-only responses (#33461)"
  src/core/ext/filters/logging/logging_filter.cc
  src/core/ext/filters/logging/logging_sink.h
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#31517 [obj-c] Drop remaining usages of 'using std::string'
  src/compiler/objective_c_generator.h
  src/compiler/objective_c_generator_helpers.h
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral, PR title format

#33254 [lb pick_first] Enable random shuffling of address list
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gyp
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/util/test_lb_policies.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33481 [fuzzing] Increase deadline to accommodate fuzzing injected delays
  test/core/end2end/end2end_test_corpus/simple_delayed_request/clusterfuzz-testcase-minimized-simple_delayed_request_fuzzer-6273086416551936.test
  test/core/end2end/tests/simple_delayed_request.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33488 [flake] Raise deadline to eliminate flake in request_with_payload
  test/core/end2end/tests/request_with_payload.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33473 [svc-cfg] Move ServiceConfigChannelArgFilter to promises
  BUILD
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33480 [fuzzing] Increase deadline to accommodate fuzzing injected delays
  test/core/end2end/end2end_test_corpus/call_host_override/clusterfuzz-testcase-minimized-call_host_override_fuzzer-5068463731179520.test
  test/core/end2end/tests/call_host_override.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33487 [fuzzing] Fix failures found by max_connection_idle_fuzzer
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/parsing.cc
  test/core/end2end/end2end_test_corpus/max_connection_idle/clusterfuzz-testcase-minimized-max_connection_idle_fuzzer-5373851475181568
  test/core/end2end/tests/max_connection_idle.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33472 [rbac] Convert to promises
  src/core/BUILD
  src/core/ext/filters/rbac/rbac_filter.cc
  src/core/ext/filters/rbac/rbac_filter.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33484 [cleanups] Silence a -Wformat compiler warning
  src/core/lib/security/authorization/grpc_authorization_policy_provider.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33496 Revert "[lb pick_first] Enable random shuffling of address list (#33254)"
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gyp
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/util/test_lb_policies.cc
Labels: lang/core, release notes: no

#33135 [PSM Interop] Outlier detection: use native cpp server since v1.57.x
  tools/run_tests/xds_k8s_test_driver/tests/outlier_detection_test.py
Labels: release notes: no, area/psm interop

#33500 [http2] Rename configuration_test to ping_configuration_test
  CMakeLists.txt
  build_autogenerated.yaml
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/ping_configuration_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33497 Revert "Revert "[lb pick_first] Enable random shuffling of address list (#33496)"
  CMakeLists.txt
  build_autogenerated.yaml
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gyp
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  test/core/client_channel/lb_policy/BUILD
  test/core/client_channel/lb_policy/lb_policy_test_lib.h
  test/core/client_channel/lb_policy/pick_first_test.cc
  test/core/client_channel/lb_policy/round_robin_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/util/test_lb_policies.cc
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33498 [tools] Switch to Dart stable
  tools/dockerfile/interoptest/grpc_interop_dart.current_version
  tools/dockerfile/interoptest/grpc_interop_dart/Dockerfile
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33495 [fork] simplify Fork::SetResetChildPollingEngineFunc to fix nested forking
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/posix_engine/ev_poll_posix.cc
  src/core/lib/gprpp/fork.cc
  src/core/lib/gprpp/fork.h
  src/core/lib/iomgr/ev_epoll1_linux.cc
  src/core/lib/iomgr/ev_poll_posix.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33492 [Test] Use `ssl.SSLContext.wrap_socket`, not `ssl.wrap_socket`
  test/core/http/test_server.py
Labels: lang/Python, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33508 Revert "[svc-cfg] Move ServiceConfigChannelArgFilter to promises"
  BUILD
  src/core/ext/filters/client_channel/service_config_channel_arg_filter.cc
Labels: lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33505 [ObjC] generate Package.swift from template
  Package.swift
  build_handwritten.yaml
  templates/Package.swift.template
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33486 [logging] Add tests for cases where we don't send any metadata and improve debuggability
  test/cpp/ext/filters/logging/library.h
  test/cpp/ext/filters/logging/logging_census_integration_test.cc
  test/cpp/ext/filters/logging/logging_test.cc
Labels: lang/c++, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33512 Revert "[HTTP2] Fix inconsistencies in keepalive configuration (#33428)"
  CMakeLists.txt
  build_autogenerated.yaml
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/ext/transport/chttp2/transport/internal.h
  test/core/transport/chttp2/BUILD
  test/core/transport/chttp2/ping_configuration_test.cc
  tools/run_tests/generated/tests.json
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33413 [client_channel] fix dumb bug in data watcher comparator
  src/core/ext/filters/client_channel/client_channel.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33502 [iomgr][Windows] Return proper error code to client when connection is reset
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/lib/iomgr/error.cc
  src/core/lib/iomgr/tcp_windows.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33459 [EventEngine] Simplify `EventEngine::DNSResolver` API
  BUILD
  include/grpc/event_engine/event_engine.h
  src/core/BUILD
  src/core/ext/filters/client_channel/resolver/dns/c_ares/dns_resolver_ares.cc
  src/core/ext/filters/client_channel/resolver/dns/event_engine/event_engine_client_channel_resolver.cc
  src/core/lib/event_engine/event_engine.cc
  src/core/lib/event_engine/handle_containers.h
  src/core/lib/event_engine/posix_engine/posix_engine.h
  src/core/lib/event_engine/thready_event_engine/thready_event_engine.cc
  src/core/lib/event_engine/thready_event_engine/thready_event_engine.h
  src/core/lib/event_engine/windows/windows_engine.h
  src/core/lib/iomgr/resolve_address.cc
  src/core/lib/iomgr/resolve_address.h
  test/core/event_engine/handle_tests.cc
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
Labels: lang/core, release notes: yes, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33465 [grpclb] Use a separate channel arg to enable load reporting filter
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33520 [PSM interop] Don't fail url_map target if sub-target already failed
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33519 [interop] Fix crash in pick_first LB policy
  test/cpp/interop/rpc_behavior_lb_policy.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33523 [PSM interop] Don't fail url_map target if sub-target already failed (v1.56.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33524 [PSM interop] Don't fail url_map target if sub-target already failed (v1.55.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33522 [examples] Replace Node example files with references to the new location
  examples/node/README.md
  examples/node/dynamic_codegen/README.md
  examples/node/dynamic_codegen/greeter_client.js
  examples/node/dynamic_codegen/greeter_server.js
  examples/node/dynamic_codegen/route_guide/README.md
  examples/node/dynamic_codegen/route_guide/route_guide_client.js
  examples/node/dynamic_codegen/route_guide/route_guide_db.json
  examples/node/dynamic_codegen/route_guide/route_guide_server.js
  examples/node/package.json
  examples/node/static_codegen/README.md
  examples/node/static_codegen/greeter_client.js
  examples/node/static_codegen/greeter_server.js
  examples/node/static_codegen/helloworld_grpc_pb.js
  examples/node/static_codegen/helloworld_pb.js
  examples/node/static_codegen/route_guide/README.md
  examples/node/static_codegen/route_guide/route_guide_client.js
  examples/node/static_codegen/route_guide/route_guide_db.json
  examples/node/static_codegen/route_guide/route_guide_grpc_pb.js
  examples/node/static_codegen/route_guide/route_guide_pb.js
  examples/node/static_codegen/route_guide/route_guide_server.js
  examples/node/xds/greeter_client.js
  examples/node/xds/package.json
Labels: lang/node, area/documentation, release notes: no

#33531 [PSM interop] Don't fail url_map target if sub-target already failed (v1.48.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#33525 [PSM interop] Don't fail url_map target if sub-target already failed (v1.54.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: lang/Python, release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33526 [PSM interop] Don't fail url_map target if sub-target already failed (v1.53.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33527 [PSM interop] Don't fail url_map target if sub-target already failed (v1.52.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33528 [PSM interop] Don't fail url_map target if sub-target already failed (v1.51.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33529 [PSM interop] Don't fail url_map target if sub-target already failed (v1.50.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33530 [PSM interop] Don't fail url_map target if sub-target already failed (v1.49.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#33532 [PSM interop] Don't fail url_map target if sub-target already failed (v1.47.x backport)
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral

#33538 [ruby] Add `-weak_framework CoreFoundation` to link line
  src/ruby/ext/grpc/extconf.rb
Labels: lang/ruby, release notes: yes

#33079 [Ruby] add aarch64 linux build
  Rakefile
  third_party/rake-compiler-dock/rake_aarch64-linux.current_version
  third_party/rake-compiler-dock/rake_aarch64-linux/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33534 [ObjC] run cf event engine test suit on ios
  src/objective-c/tests/BUILD
  src/objective-c/tests/EventEngineTests/CFEventEngineTests.mm
  test/core/event_engine/test_suite/posix/BUILD
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33535 [csharp] reintroduce base_namespace experimental option to C# (with a patch)
  src/compiler/config_protobuf.h
  src/compiler/csharp_generator_helpers.h
  src/compiler/csharp_plugin.cc
  src/csharp/BUILD-INTEGRATION.md
  test/csharp/codegen/BUILD
  test/csharp/codegen/basenamespace/proto/namespacetest.proto
  test/csharp/codegen/csharp_codegen_base_namespace_test.sh
Labels: lang/C#, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33541 [Release] Add 1.56.0 to interop matric for C++, ruby, php, python
  tools/interop_matrix/client_matrix.py
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33514 [resolver API] remove address attribute interface
  BUILD
  CMakeLists.txt
  Makefile
  Package.swift
  build_autogenerated.yaml
  config.m4
  config.w32
  gRPC-C++.podspec
  gRPC-Core.podspec
  grpc.gemspec
  grpc.gyp
  package.xml
  src/core/BUILD
  src/core/ext/filters/client_channel/client_channel.cc
  src/core/ext/filters/client_channel/lb_policy/address_filtering.cc
  src/core/ext/filters/client_channel/lb_policy/address_filtering.h
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb.cc
  src/core/ext/filters/client_channel/lb_policy/grpclb/grpclb_balancer_addresses.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.h
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_attributes.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_attributes.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_channel_args.h
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_impl.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_cluster_resolver.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_override_host.cc
  src/core/ext/filters/client_channel/lb_policy/xds/xds_wrr_locality.cc
  src/core/ext/xds/xds_client_grpc.h
  src/core/ext/xds/xds_client_stats.h
  src/core/ext/xds/xds_endpoint.cc
  src/core/ext/xds/xds_health_status.cc
  src/core/ext/xds/xds_health_status.h
  src/core/lib/channel/channel_args.cc
  src/core/lib/channel/channel_args.h
  src/core/lib/resolver/server_address.cc
  src/core/lib/resolver/server_address.h
  src/python/grpcio/grpc_core_dependencies.py
  test/core/channel/channel_args_test.cc
  test/core/client_channel/client_channel_test.cc
  test/core/client_channel/lb_policy/xds_override_host_test.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/cpp/end2end/client_lb_end2end_test.cc
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.core.internal
Labels: lang/c++, lang/core, release notes: no, bloat/improvement, per-call-memory/neutral, per-channel-memory/neutral

#33340 [health checking] prep for outlier detection ejecting via health watch
  src/core/BUILD
  src/core/ext/filters/client_channel/lb_policy/health_check_client.cc
  src/core/ext/filters/client_channel/lb_policy/health_check_client.h
  src/core/ext/filters/client_channel/lb_policy/health_check_client_internal.h
  src/core/ext/filters/client_channel/lb_policy/oob_backend_metric_internal.h
  src/core/ext/filters/client_channel/lb_policy/outlier_detection/outlier_detection.cc
  src/core/ext/filters/client_channel/lb_policy/pick_first/pick_first.cc
  src/core/ext/filters/client_channel/lb_policy/ring_hash/ring_hash.cc
  src/core/ext/filters/client_channel/lb_policy/round_robin/round_robin.cc
  src/core/ext/filters/client_channel/lb_policy/subchannel_list.h
  src/core/ext/filters/client_channel/lb_policy/weighted_round_robin/weighted_round_robin.cc
  src/core/ext/filters/client_channel/subchannel_interface_internal.h
Labels: lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#33542 [PSM Interop] Bump the canonical server from v1.48.1 to v1.56.0
  tools/run_tests/xds_k8s_test_driver/config/common.cfg
Labels: release notes: no, area/psm interop

#33494 [alts] Remove ExecCtx check from alts_zero_copy_grpc_protector_create function.
  src/core/tsi/alts/zero_copy_frame_protector/alts_grpc_record_protocol_common.cc
  src/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_grpc_record_protocol_test.cc
  test/core/tsi/alts/zero_copy_frame_protector/alts_zero_copy_grpc_protector_test.cc
Labels: area/security, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#33553 [Fuzzing] Fix use-after-free in resolver_fuzzer
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer.cc
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer_corpus/testcase-5295287010656256
  test/core/ext/filters/event_engine_client_channel_resolver/resolver_fuzzer_corpus/testcase-5570512809951232
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
