Repository grpc/grpc, pull requests merged in 2024-02, with the labels that each got.

#35801 [tls] Backport of #34861 to v1.59.x.
  grpc.def
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/cpp/common/tls_credentials_options.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/grpc_tls_credentials_options_test.cc
  test/cpp/client/credentials_test.cc
  test/cpp/server/credentials_test.cc
Labels: lang/c++, lang/ruby, area/security, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35795 [tls] Backport of #34861 to v1.56.x.
  grpc.def
  include/grpc/grpc_security.h
  include/grpcpp/security/tls_credentials_options.h
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/cpp/common/tls_credentials_options.cc
  src/cpp/server/secure_server_credentials.cc
  src/ruby/ext/grpc/rb_grpc_imports.generated.c
  src/ruby/ext/grpc/rb_grpc_imports.generated.h
  test/core/security/grpc_tls_credentials_options_test.cc
  test/cpp/client/credentials_test.cc
  test/cpp/server/credentials_test.cc
Labels: lang/c++, lang/ruby, area/security, lang/core, release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#35814 [Release] Bump version to 1.49.4 (on v1.49.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  package.xml
  src/cpp/common/version_cc.cc
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35815 [Release] Bump version to 1.56.4 (on v1.56.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35816 [Release] Bump version to 1.59.4 (on v1.59.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35876 [Build] Backport #35832 to v1.61 (Strip armv7 artifacts)
  tools/run_tests/artifacts/artifact_targets.py
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35878 [Python Distribution] Add a check for file size (v1.61.x backport)
  tools/internal_ci/helper_scripts/check_python_artifacts_size.sh
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/internal_ci/windows/grpc_distribtests_python.bat
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35883 [Backport] Fix Abseil-usage (#35590)
  src/core/lib/event_engine/cf_engine/cfstream_endpoint.cc
  src/core/lib/event_engine/windows/native_windows_dns_resolver.cc
  src/core/lib/gprpp/windows/directory_reader.cc
  test/cpp/util/channelz_sampler.cc
Labels: lang/c++, lang/core, area/build, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35888 [Release] Bump version to 1.61.1 (on v1.61.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, area/build, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35894 [experiments] Set call_status_override_on_cancellation default to `false` from `debug`
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35901 [Release] Bump version to 1.62.0-pre1 (on v1.62.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35902 [experiments] Disable chaotic good test in 1.62 branch
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35909 [ObjC] Backport #35893 1.62.x, upgrade abseil to 1.20240116.1
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35910 [ObjC] Upgrade abseil 1.20230802.2 to 1.61.x
  gRPC-C++.podspec
  gRPC-Core.podspec
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35929 [Python Otel] Fix packaging issue
  src/python/grpcio_observability/README.rst
  src/python/grpcio_observability/setup.py
Labels: lang/Python, release notes: no

#35936 [Python Otel] Fix packaging issue (v1.62.x backport)
  src/python/grpcio_observability/README.rst
  src/python/grpcio_observability/setup.py
Labels: lang/Python, release notes: no

#35951 Bump release version 202402201104
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35978 [Documentation] Backport #35973: Make Bazel requirements installable directly via pip
  requirements.bazel.txt
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35993 [Python o11y] Fix readme (v1.62.x backport)
  doc/python/sphinx/grpc_observability.rst
  doc/python/sphinx/index.rst
  src/python/grpcio/grpc/_observability.py
  src/python/grpcio_observability/README.rst
Labels: lang/Python, release notes: no

#36008 [Interop] Make C++ xDS Interop Client and Server Responsive to SIGTERM (v1.62.x backport)
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_client
  tools/dockerfile/interoptest/grpc_interop_cxx_xds/Dockerfile.xds_server
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/increase, per-channel-memory/neutral

#35687 [Build Reproducibility] Sort input file list
  setup.py
Labels: lang/Python, area/build, release notes: yes
