Repository grpc/grpc, pull requests merged in 2024-09, with the labels that each got.

#37672 [release] Bump release version on v1.67.x
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37634 [ruby] reduce log spam - backport #37426 to v1.65.x
  src/ruby/ext/grpc/rb_call.c
  src/ruby/ext/grpc/rb_call_credentials.c
  src/ruby/ext/grpc/rb_grpc.c
  src/ruby/ext/grpc/rb_server.c
Labels: lang/ruby, release notes: yes

#37686 [ruby] reduce an INFO log to DEBUG (backport https://github.com/grpc/grpc/pull/37633)
  src/core/server/server.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37712 [objc] backport https://github.com/grpc/grpc/pull/37690 to v1.67.x
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/tests/Podfile
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no

#37665 [Python example] Fix version in generated code in example folder
  examples/python/helloworld/helloworld_pb2_grpc.py
Labels: lang/Python, release notes: no

#37809 [Backport 1.66.x] increased timeout for armv7 artifact build to 2 hours (#37807)
  tools/run_tests/artifacts/artifact_targets.py
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37812 [Release] Bump version to 1.66.2 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC
