Repository grpc/grpc, pull requests merged in 2024-07, with the labels that each got.

#37131 [iomgr] remove spammy log message accidentally added in #36195 (#37017)
  src/core/lib/iomgr/tcp_posix.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37129 [grpc_trace] protect some log statements behind trace flags (#36956)
  src/core/lib/event_engine/posix_engine/ev_epoll1_linux.cc
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/iomgr/ev_epoll1_linux.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37044 Added Python Example for Flow Control
  examples/python/Makefile
  examples/python/flow_control/README.md
  examples/python/flow_control/flow_control_client.py
  examples/python/flow_control/flow_control_server.py
  examples/python/flow_control/helloworld_pb2.py
  examples/python/flow_control/helloworld_pb2.pyi
  examples/python/flow_control/helloworld_pb2_grpc.py
  examples/python/flow_control/helpers.py
Labels: lang/Python, kokoro:run, release notes: no

#36865 route_guide_client.py minor changes
  examples/python/route_guide/route_guide_client.py
Labels: lang/Python, release notes: no

#37157 [CSM] Increase CPP PSM CSM timeout to 180min (v1.65.x backport)
  tools/internal_ci/linux/psm-csm.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37197 [experiment] Disable work_serializer_dispatch
  bazel/experiments.bzl
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/decrease

#37217 [Gpr_To_Absl_Logging] Removing log noise
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37219 [Gpr_To_Absl_Logging] Fixing other log noise
  src/core/ext/transport/chaotic_good/server/chaotic_good_server.cc
  src/core/ext/transport/inproc/inproc_transport.cc
  src/core/handshaker/http_connect/http_connect_handshaker.cc
  src/core/lib/gprpp/dual_ref_counted.h
  src/core/lib/iomgr/socket_utils_common_posix.cc
  src/core/lib/security/security_connector/tls/tls_security_connector.cc
  src/core/server/server.cc
  src/core/util/log.cc
  test/core/end2end/fixtures/http_proxy_fixture.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37231 [Python] Update generated code warning version (v1.65.x backport)
  examples/python/helloworld/helloworld_pb2.py
  examples/python/helloworld/helloworld_pb2_grpc.py
  src/compiler/python_generator.cc
Labels: lang/Python, release notes: no

#37232 [Release] Bump version to 1.65.1 (on v1.65.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#37193 [Release] Fix opentelemetry deps version conflict (v1.65.x backport)
  requirements.bazel.txt
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37233 [sot] Experimental workflow to update a branch with auto-generated code
  .github/workflows/update-artifacts-branch.yaml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37248 [Python Interop] Add signal handler to python interop client and server (v1.65.x backport)
  src/python/grpcio_tests/tests/fork/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/BUILD.bazel
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_client.py
  src/python/grpcio_tests/tests_py3_only/interop/xds_interop_server.py
Labels: lang/Python, release notes: no

#37278 [Backport] 1.65.x: Cherry-pick
  src/core/util/log.cc
Labels: lang/core, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37280 [Release] Bump version to 1.66.0-pre1 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37192 [Python] Add Sourabh and Sreenithi to Python triage
  .github/ISSUE_TEMPLATE/bug_report_python.md
  .github/ISSUE_TEMPLATE/feature_request_python.md
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37294 [log][Backport] Reducing log spam (#37253)
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/handshaker/http_connect/http_proxy_mapper.cc
  src/core/lib/compression/message_compress.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.cc
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/iomgr/endpoint_pair_windows.cc
  src/core/lib/iomgr/socket_windows.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/promise/party.cc
  src/core/load_balancing/grpclb/grpclb.cc
  src/core/util/subprocess_windows.cc
  src/cpp/server/server_builder.cc
Labels: release notes: no, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#37295 [log][Backport] Reducing log spam (#37253)
  src/core/ext/transport/chttp2/transport/chttp2_transport.cc
  src/core/handshaker/http_connect/http_proxy_mapper.cc
  src/core/lib/compression/message_compress.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.cc
  src/core/lib/event_engine/posix_engine/posix_endpoint.h
  src/core/lib/event_engine/posix_engine/posix_engine_listener_utils.cc
  src/core/lib/event_engine/posix_engine/tcp_socket_utils.cc
  src/core/lib/event_engine/windows/win_socket.cc
  src/core/lib/event_engine/windows/windows_endpoint.cc
  src/core/lib/iomgr/endpoint_pair_windows.cc
  src/core/lib/iomgr/socket_windows.cc
  src/core/lib/iomgr/tcp_posix.cc
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_windows.cc
  src/core/lib/promise/party.cc
  src/core/load_balancing/grpclb/grpclb.cc
  src/core/util/subprocess_windows.cc
  src/cpp/server/server_builder.cc
Labels: lang/c++, lang/core, release notes: no, bloat/low, per-call-memory/decrease, per-channel-memory/neutral

#37293 [Gpr_To_Absl_Logging] Fixing unit test that flags log noise (#37177)
  src/core/lib/iomgr/ev_posix.cc
  src/core/util/log.cc
  test/core/end2end/tests/no_logging.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37288 [Gpr_To_Absl_Logging] Reducing log spam (#37106)
  src/core/client_channel/subchannel.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37308 [Gpr_To_Absl_Logging] Removing gRPC experiments log noise (#37303)
  src/core/lib/experiments/config.cc
Labels: release notes: no

#37309 [Gpr_To_Absl_Logging] Removing gRPC experiments log noise (#37303)
  src/core/lib/experiments/config.cc
  test/core/end2end/tests/no_logging.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37289 [Gpr_To_Absl_Logging][Noise_Reduction]
  src/core/BUILD
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/util/subprocess_windows.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37315 [Backport] Ensure the Chttp2Connector is deleted under an ExecCtx.
  src/core/ext/transport/chttp2/client/chttp2_connector.cc
Labels: lang/core, release notes: yes

#37319 [Release] Bump version to 1.65.2 (on v1.65.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37333 [Python Otel] Fix Segfault caused by CallTracer method lifetime issue (v1.65.x backport)
  src/python/grpcio_observability/grpc_observability/client_call_tracer.cc
  src/python/grpcio_observability/grpc_observability/client_call_tracer.h
  src/python/grpcio_observability/grpc_observability/python_observability_context.h
Labels: lang/Python, release notes: no

#37334 [Python Otel] Fix Segfault caused by CallTracer method lifetime issue (v1.66.x backport)
  src/python/grpcio_observability/grpc_observability/client_call_tracer.cc
  src/python/grpcio_observability/grpc_observability/client_call_tracer.h
  src/python/grpcio_observability/grpc_observability/python_observability_context.h
Labels: lang/Python, release notes: no
