Repository grpc/grpc, pull requests merged in 2024-04, with the labels that each got.

#36307 [PSM Interop] Enable More CSM test for Python and add tini to Python interop client image (v1.62.x backport)
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/internal_ci/linux/psm-csm-python.sh
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#36292 [Python test] Fix a typo in bazelify_tests target
  tools/bazelify_tests/test/BUILD
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#36310 [PSM Interop] Migrate to Artifact Registry (v1.62.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-csm-python.sh
  tools/internal_ci/linux/psm-csm.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop

#36312 [PSM Interop] Migrate to Artifact Registry (v1.61.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-csm.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#36313 [PSM Interop] Migrate to Artifact Registry (v1.60.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-csm.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/increase, per-channel-memory/neutral

#36314 [PSM Interop] Migrate to Artifact Registry (v1.59.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-csm.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#36315 [PSM Interop] Migrate to Artifact Registry (v1.58.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#36316 [PSM Interop] Migrate to Artifact Registry (v1.57.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#36317 [PSM Interop] Migrate to Artifact Registry (v1.56.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#36318 [PSM Interop] Migrate to Artifact Registry (v1.55.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#36319 [PSM Interop] Migrate to Artifact Registry (v1.54.x backport)
  tools/internal_ci/linux/grpc_xds_k8s_lb.sh
  tools/internal_ci/linux/grpc_xds_k8s_lb_python.sh
  tools/internal_ci/linux/grpc_xds_k8s_run_xtest.sh
  tools/internal_ci/linux/grpc_xds_url_map.sh
  tools/internal_ci/linux/grpc_xds_url_map_python.sh
  tools/internal_ci/linux/psm-security-python.sh
  tools/internal_ci/linux/psm-security.sh
Labels: lang/Python, release notes: no, bloat/none, area/psm interop, per-call-memory/neutral, per-channel-memory/neutral

#36325 [experiments] Set `call_status_override_on_cancellation` default to `false` from `debug`
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#36338 [Release] Bump version to 1.63.0-pre1 (on v1.63.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#36363 [Python Dist] Fix grpc_distribtests_python (v1.63.x backport)
  test/distrib/python/test_packages.sh
Labels: release notes: no

#36378 [Gpr_To_Absl_Logging] Disable absl logging
  src/core/lib/config/config_vars.cc
  src/core/lib/config/config_vars.yaml
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#36377 [Release] Bump version to 1.63.0-pre2 (on v1.63.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#36385 [Release] Bump version to 1.62.2 (on v1.62.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#36456 [Release] Bump version to 1.63.0 (on v1.63.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#36037 [python/systemd] allow compiling systemd support into python builds
  setup.py
  src/python/grpcio/README.rst
Labels: lang/Python, release notes: yes

#36489 [backport][iomgr][EventEngine] Improve server handling of file descri…
  src/core/lib/gprpp/time.h
  src/core/lib/iomgr/tcp_server_posix.cc
  src/core/lib/iomgr/tcp_server_utils_posix.h
  src/core/lib/iomgr/tcp_server_utils_posix_common.cc
Labels: lang/core, kokoro:run, bloat/none, per-call-memory/neutral
