Repository grpc/grpc, pull requests merged in 2024-08, with the labels that each got.

#37357 [Release] Bump version to 1.65.3 (on v1.65.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#37368 [v1.58] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37367 [v1.59] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37361 [v1.60] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37362 [v1.61] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37363 [v1.62] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37364 [v1.63] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37365 [v1.64] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37366 [v1.65] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37373 [v1.66] [chttp2] Fix a bug in hpack error handling
  src/core/ext/transport/chttp2/transport/hpack_parser.cc
  src/core/ext/transport/chttp2/transport/hpack_parser.h
  test/core/transport/chttp2/hpack_parser_test.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.cc
  test/core/transport/chttp2/hpack_sync_fuzzer.proto
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37376 [Release] Bump version to 1.58.3 (on v1.58.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37377 [Release] Bump version to 1.59.5 (on v1.59.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37379 [Release] Bump version to 1.60.2 (on v1.60.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37383 [Release] Bump version to 1.61.3 (on v1.61.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37380 [Release] Bump version to 1.62.3 (on v1.62.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37381 [Release] Bump version to 1.63.2 (on v1.63.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37382 [Release] Bump version to 1.64.3 (on v1.64.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37378 [Release] Bump version to 1.65.4 (on v1.65.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37390 [Backport / Python distribtests] Fix version issue for readme_renderer (#34316)
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: lang/Python, area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37393 [Release] Bump version to 1.66.0-pre2 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37407 [Backport][logspam] Remove unguarded INFO logging of xds node ID
  src/core/xds/xds_client/xds_client.cc
Labels: lang/core, release notes: no, bloat/none

#37406 [log] Reduce log spam from security (#37296)
  src/core/lib/security/credentials/alts/check_gcp_environment.cc
  src/core/lib/security/credentials/alts/check_gcp_environment_no_op.cc
  src/core/lib/security/credentials/jwt/json_token.cc
  src/core/lib/security/credentials/jwt/jwt_credentials.cc
  src/core/lib/security/credentials/tls/grpc_tls_certificate_provider.cc
  src/core/lib/security/credentials/tls/grpc_tls_credentials_options.cc
  src/core/lib/security/credentials/tls/tls_credentials.cc
  src/core/lib/security/security_connector/ssl_utils.cc
  src/core/tsi/alts/handshaker/alts_handshaker_client.cc
  src/core/tsi/alts/handshaker/alts_tsi_handshaker.cc
  src/core/tsi/ssl_transport_security.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37414 [Release] Bump version to 1.66.0-pre3 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none

#37438 [ruby] backport "reduce ruby gpr_log invocations from INFO to DEBUG" #37426 to v1.66.x
  src/ruby/ext/grpc/rb_call.c
  src/ruby/ext/grpc/rb_call_credentials.c
  src/ruby/ext/grpc/rb_grpc.c
  src/ruby/ext/grpc/rb_server.c
Labels: lang/ruby, release notes: no

#37445 [ruby] backport "Remove ruby centos7 distrib test" (#37401) to v1.66.x
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/distribtest/ruby_centos7_x64.current_version
  tools/dockerfile/distribtest/ruby_centos7_x64/Dockerfile
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37437 [ruby] backport "drop ruby 2.7 support" #37430 to v1.66.x
  Rakefile
  grpc.gemspec
  templates/grpc.gemspec.template
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/distribtest/ruby_ubuntu2004_x64.current_version
  tools/dockerfile/distribtest/ruby_ubuntu2004_x64/Dockerfile
  tools/dockerfile/distribtest/ruby_ubuntu2204_x64.current_version
  tools/dockerfile/distribtest/ruby_ubuntu2204_x64/Dockerfile
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37446 Add psm-dualstack.cfg for cpp and python (v1.66.x backport)
  tools/internal_ci/linux/psm-dualstack-python.cfg
  tools/internal_ci/linux/psm-dualstack.cfg
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37475 [backport] fix memory leak in secure endpoint
  src/core/handshaker/security/secure_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37477 [Python Distrib] Change warning to RuntimeError for version incompatibility (v1.66.x backport)
  examples/python/helloworld/helloworld_pb2_grpc.py
  src/compiler/python_generator.cc
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37479 [Python Otel] Manage call tracer life cycle use call arena. (v1.66.x backport)
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/observability.pyx.pxi
  src/python/grpcio/grpc/_observability.py
  src/python/grpcio_observability/grpc_observability/_cyobservability.pyx
  src/python/grpcio_observability/grpc_observability/_open_telemetry_observability.py
Labels: lang/Python, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37474 [backport] fix memory leak in secure endpoint
  src/core/handshaker/security/secure_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37478 [Python Otel] Manage call tracer life cycle use call arena. (v1.65.x backport)
  src/core/lib/surface/call.cc
  src/core/lib/surface/call.h
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/channel.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/grpc.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/observability.pyx.pxi
  src/python/grpcio/grpc/_observability.py
  src/python/grpcio_observability/grpc_observability/_cyobservability.pyx
  src/python/grpcio_observability/grpc_observability/_open_telemetry_observability.py
Labels: lang/Python, lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37500 [secure endpoint] backport fix from #37482 to 1.66.x
  src/core/handshaker/security/secure_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37499 [secure endpoint] backport fix from #37482 to 1.65.x
  src/core/handshaker/security/secure_endpoint.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37501 [Release] Bump version to 1.66.0-pre4 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37502 [RlsLB] Fix Deadlock (#37459)
  src/core/load_balancing/rls/rls.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#37503 [RlsLB] Fix Deadlock (#37459)
  src/core/load_balancing/rls/rls.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/low, per-call-memory/decrease, per-channel-memory/neutral

#37504 [RlsLB] Fix Deadlock (#37459)
  src/core/load_balancing/rls/rls.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/low, per-call-memory/increase, per-channel-memory/neutral

#37505 [RlsLB] Fix Deadlock (#37459)
  src/core/load_balancing/rls/rls.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/low, per-call-memory/neutral, per-channel-memory/neutral

#37509 [OTel C++] Fix race when adding and removing callbacks (#37485)
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  test/cpp/ext/otel/otel_plugin_test.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37508 [OTel C++] Fix race when adding and removing callbacks (#37485)
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  test/cpp/ext/otel/otel_plugin_test.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37517 [Release] Bump version to 1.66.0-pre5 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37522 [Release] Bump version to 1.65.5 (on v1.65.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#37554 [Release] Bump version to 1.66.0 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#37551 [dualstack] enable EDS dualstack support by default (backport to 1.66.x)
  src/core/xds/grpc/xds_endpoint_parser.cc
  test/core/xds/xds_endpoint_resource_type_test.cc
  test/cpp/end2end/xds/xds_override_host_end2end_test.cc
Labels: lang/c++, lang/core, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37555 [ci] Fix tools/run_tests/sanity/check_testing_docker_images.sh
  tools/bazelify_tests/dockerimage_current_versions.bzl
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#37570 [Release] Bump version to 1.66.1 (on v1.66.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC

#37534 Fix some label references for Bzlmod support
  bazel/cc_grpc_library.bzl
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral
