Repository grpc/grpc, pull requests merged in 2024-01, with the labels that each got.

#35441 [repo] Remove Jan from default reviewer assignment
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report_csharp.md
  .github/ISSUE_TEMPLATE/feature_request_csharp.md
Labels: release notes: no, area/infra, bloat/none

#35442 [owners] Remove outdated comment, make experiments.yaml unowned
  .github/CODEOWNERS
Labels: release notes: no, area/infra

#35477 [Python Example] Add token based authentication example
  examples/python/auth/README.md
  examples/python/auth/token_based_auth_client.py
  examples/python/auth/token_based_auth_server.py
Labels: lang/Python, release notes: no

#35462 [Python Misc] Revert change to print backtrace in server (v1.60.x backport)
  src/python/grpcio/grpc/_server.py
Labels: lang/Python, release notes: yes

#35507 [PSM Interop] Remove PSM interop github workflow
  .github/workflows/psm-interop.yaml
Labels: release notes: no, area/infra, bloat/none, area/psm interop, per-call-memory/decrease, per-channel-memory/neutral

#35558 Fix sync-labels
  .github/workflows/pr-auto-tag.yaml
Labels: kind/internal cleanup, release notes: no

#35560 [CI] Fix labeler 5.0
  .github/labeler.yml
Labels: release notes: no

#35563 [CI] Fix labeler.yml 2
  .github/labeler.yml
Labels: lang/Python, release notes: no, area/infra

#35569 Set experiments to false in v1.61.x branch
  src/core/lib/experiments/experiments.cc
  src/core/lib/experiments/experiments.h
  src/core/lib/experiments/rollouts.yaml
Labels: lang/core, release notes: no, lang/all, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35582 [Release] Bump version to 1.61.0-pre1 (on v1.61.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35561 [Python setuptools] Import error from distutils for lower version of setuptools
  src/python/grpcio/support.py
Labels: lang/Python, release notes: yes

#35613 [ruby] backport "Fix use-after-free for post-fork channel recreation (#35488)"
  src/ruby/end2end/fork_test_repro_35489.rb
  src/ruby/ext/grpc/rb_channel_args.c
  tools/run_tests/run_tests.py
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35614 [ruby] backport "Build/test ruby 3.3 and build native gems with Ruby 3.3 support (#35399)"
  Rakefile
  grpc.gemspec
  templates/grpc.gemspec.template
  third_party/rake-compiler-dock/rake_aarch64-linux.current_version
  third_party/rake-compiler-dock/rake_aarch64-linux/Dockerfile
  third_party/rake-compiler-dock/rake_arm64-darwin.current_version
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt.current_version
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32.current_version
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux.current_version
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32.current_version
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin.current_version
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux.current_version
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/internal_ci/helper_scripts/prepare_build_linux_ruby_artifact_rc
Labels: lang/ruby, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#34411 [Doc] Update README.md to address upb issue
  third_party/README.md
Labels: area/documentation, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral, PR title format

#35626 [Release] Bump version to 1.61.0-pre2 (on v1.61.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35639 [third_party] Update README.md
  third_party/README.md
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35646 [CSM O11Y] Backport "[CSM O11Y] Fix issue when CSM optional labels are present in server metrics" to v1.61.x
  src/cpp/ext/csm/metadata_exchange.cc
  src/cpp/ext/csm/metadata_exchange.h
  src/cpp/ext/otel/key_value_iterable.h
  src/cpp/ext/otel/otel_client_filter.cc
  src/cpp/ext/otel/otel_plugin.h
  src/cpp/ext/otel/otel_server_call_tracer.cc
  test/cpp/ext/csm/metadata_exchange_test.cc
  test/cpp/ext/otel/otel_plugin_test.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35636 [Release] Bump version to 1.60.1 (on v1.60.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35637 [Python O11Y] Add observability example
  examples/python/Makefile
  examples/python/observability/README.md
  examples/python/observability/helloworld_pb2.py
  examples/python/observability/helloworld_pb2.pyi
  examples/python/observability/helloworld_pb2_grpc.py
  examples/python/observability/observability_greeter_client.py
  examples/python/observability/observability_greeter_server.py
  examples/python/observability/open_telemetry_exporter.py
  examples/python/observability/requirements.txt
Labels: lang/Python, release notes: no

#35670 [CSM o11y] Backport: Re-experimentalize CSM OTel Plugin Option (#35660)
  include/grpcpp/ext/csm_observability.h
  src/cpp/ext/csm/csm_observability.cc
  test/cpp/ext/csm/csm_observability_test.cc
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#35672 [otel] Backport: Return absl::Status as a return from BuildAndRegisterGlobal (#35659)
  include/grpcpp/ext/otel_plugin.h
  src/cpp/ext/csm/csm_observability.cc
  src/cpp/ext/otel/otel_plugin.cc
  src/cpp/ext/otel/otel_plugin.h
  test/cpp/ext/csm/csm_observability_test.cc
  test/cpp/ext/otel/otel_test_library.cc
  test/cpp/interop/observability_client.cc
  test/cpp/interop/xds_interop_client.cc
  test/cpp/interop/xds_interop_server.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35677 [Release] Bump version to 1.61.0-pre3 (on v1.61.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35690 [ObjC] Update swift package for 1.61.x release
  Package.swift
  build_handwritten.yaml
  templates/Package.swift.template
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35760 [Release] Bump version to 1.61.0 (on v1.61.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#35668 [Github Labeler] Avoid add Python label for observability_lib_deps.py changes
  .github/labeler.yml
Labels: release notes: no, area/infra, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#35771 [ObjC] Backport Privacy manifests 1.61.x
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC.podspec
  src/objective-c/BoringSSL-GRPC.podspec
  src/objective-c/PrivacyInfo.xcprivacy
  templates/gRPC-C++.podspec.template
  templates/gRPC-Core.podspec.template
  templates/gRPC.podspec.template
  templates/src/objective-c/BoringSSL-GRPC.podspec.template
Labels: lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
