Repository grpc/grpc, pull requests merged in 2025-01, with the labels that each got.

#38407 [Release] Bump version to 1.70.0-pre1 (on v1.70.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38412 [c++17] Cleanup some dangling references to `//fuzztest`
  test/distrib/bazel/test_single_bazel_version.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38425 [Backport-to-1.70.x] Fix python build script to handle C and C++ std options properly for MSVC (Backport of #38410)
  setup.py
  src/python/grpcio/_spawn_patch.py
  src/python/grpcio/commands.py
  tools/distrib/gen_compilation_database.py
  tools/distrib/python/grpcio_tools/_spawn_patch.py
  tools/distrib/python/grpcio_tools/setup.py
Labels: lang/Python, area/build, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#38478 [CI] Excluded non C++ example tests from strict Bazel test
  tools/bazelify_tests/test/strict_tests.bzl
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38477 [CI] Disabled bazel distribtest_python
  tools/bazelify_tests/test/bazel_distribtests.bzl
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38458 [ruby] [backport-1.70.x] Build/test ruby 3.4 and build native gems with Ruby 3.4 support
  Rakefile
  grpc.gemspec
  src/ruby/ext/grpc/extconf.rb
  templates/grpc.gemspec.template
  templates/tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4/Dockerfile.template
  templates/tools/dockerfile/ruby_3_4_deps.include
  third_party/rake-compiler-dock/rake_aarch64-linux.current_version
  third_party/rake-compiler-dock/rake_aarch64-linux/Dockerfile
  third_party/rake-compiler-dock/rake_arm64-darwin.current_version
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt.current_version
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32.current_version
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux.current_version
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32.current_version
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin.current_version
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux.current_version
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4.current_version
  tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_linux_ruby_artifact_rc
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/ruby, release notes: yes

#38507 [Backport] Php & Dart interop test fixes (#38463)
  templates/tools/dockerfile/interoptest/grpc_interop_dart/build_interop.sh.template
  templates/tools/dockerfile/php7_deps.include
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/interoptest/grpc_interop_dart/build_interop.sh
  tools/dockerfile/interoptest/grpc_interop_php7.current_version
  tools/dockerfile/interoptest/grpc_interop_php7/Dockerfile
Labels: lang/php, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#38509 [Release] Bump version to 1.70.0 (on v1.70.x branch)
  BUILD
  CMakeLists.txt
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, lang/all, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#38515 [Revert] "[ruby] [backport-1.70.x] Build/test ruby 3.4 and build native gems with Ruby 3.4 support"
  Rakefile
  grpc.gemspec
  src/ruby/ext/grpc/extconf.rb
  templates/grpc.gemspec.template
  templates/tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4/Dockerfile.template
  templates/tools/dockerfile/ruby_3_4_deps.include
  third_party/rake-compiler-dock/rake_aarch64-linux.current_version
  third_party/rake-compiler-dock/rake_aarch64-linux/Dockerfile
  third_party/rake-compiler-dock/rake_arm64-darwin.current_version
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt.current_version
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32.current_version
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux.current_version
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32.current_version
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin.current_version
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux.current_version
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4.current_version
  tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_linux_ruby_artifact_rc
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#38524 [Backport to 1.70.x] Updated python requirements
  requirements.bazel.txt
Labels: area/documentation, lang/Python, area/build, release notes: no

#38568 [Backport-v1.70.x] Minimal bzlmod support
  .gitignore
  MODULE.bazel
  bazel/grpc_deps.bzl
  templates/MODULE.bazel.template
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/bazel_build_with_bzlmod_linux.sh
  tools/distrib/buildifier_format_code.sh
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38586 [Backport-to-1.70.x] Added missing absl/status to BUILD
  src/core/BUILD
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38615 [ruby] [backport-1.70.x] Build/test ruby 3.4 and build native gems with Ruby 3.4 support (REDUX)
  Rakefile
  grpc.gemspec
  src/ruby/ext/grpc/extconf.rb
  templates/grpc.gemspec.template
  templates/tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4/Dockerfile.template
  templates/tools/dockerfile/ruby_3_4_deps.include
  third_party/rake-compiler-dock/rake_aarch64-linux.current_version
  third_party/rake-compiler-dock/rake_aarch64-linux/Dockerfile
  third_party/rake-compiler-dock/rake_arm64-darwin.current_version
  third_party/rake-compiler-dock/rake_arm64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt.current_version
  third_party/rake-compiler-dock/rake_x64-mingw-ucrt/Dockerfile
  third_party/rake-compiler-dock/rake_x64-mingw32.current_version
  third_party/rake-compiler-dock/rake_x64-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86-linux.current_version
  third_party/rake-compiler-dock/rake_x86-linux/Dockerfile
  third_party/rake-compiler-dock/rake_x86-mingw32.current_version
  third_party/rake-compiler-dock/rake_x86-mingw32/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-darwin.current_version
  third_party/rake-compiler-dock/rake_x86_64-darwin/Dockerfile
  third_party/rake-compiler-dock/rake_x86_64-linux.current_version
  third_party/rake-compiler-dock/rake_x86_64-linux/Dockerfile
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4.current_version
  tools/dockerfile/distribtest/ruby_debian11_x64_ruby_3_4/Dockerfile
  tools/internal_ci/helper_scripts/prepare_build_linux_ruby_artifact_rc
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/ruby, release notes: no

#38627 [Backport-1.70.x] Clean-up bzlmod deps
  MODULE.bazel
  templates/MODULE.bazel.template
  tools/bazelify_tests/test/bazel_build_with_bzlmod_linux.sh
Labels: area/build, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#38624 [release] bump 1.70.0 to 1.70.1
  BUILD
  CMakeLists.txt
  MODULE.bazel
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/all wrapped languages, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#38628 [XdsInteropClient] Remove incorrect behavior around keep-open (#38613)
  test/cpp/interop/xds_interop_client.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38629 [XdsInteropClient] Remove incorrect behavior around keep-open (#38613)
  test/cpp/interop/xds_interop_client.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#38630 [XdsInteropClient] Remove incorrect behavior around keep-open (#38613)
  test/cpp/interop/xds_interop_client.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#38631 [XdsInteropClient] Remove incorrect behavior around keep-open (#38613)
  test/cpp/interop/xds_interop_client.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#38632 [XdsInteropClient] Remove incorrect behavior around keep-open (#38613)
  test/cpp/interop/xds_interop_client.cc
Labels: lang/c++, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#38657 [Backport-v1.70.x] Added ws2_32 to address_sorting
  third_party/address_sorting/BUILD
  third_party/address_sorting/address_sorting.bzl
Labels: area/build, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
