Repository grpc/grpc, pull requests merged in 2025-05, with the labels that each got.

#39447 [Fix][v1.70.x] Add no-op build configs for grpc_distribtests_python_arm64
  tools/internal_ci/linux/arm64/grpc_distribtests_python_arm64.cfg
  tools/internal_ci/linux/grpc_distribtests_python_arm64.sh
  tools/internal_ci/linux/pull_request/grpc_distribtests_python_arm64.cfg
  tools/internal_ci/linux/release/grpc_distribtests_python_arm64.cfg
Labels: bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39444 [Backport][v1.70.x][CI] Python migrate MacOS Sonoma (#39117)
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: bloat/none, per-call-memory/increase, per-channel-memory/neutral

#39462 [Release] Bump version to 1.70.2 (on v1.70.x branch)
  BUILD
  CMakeLists.txt
  MODULE.bazel
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/composer.json
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#39484 [Backport][v1.71.x] Protect grpc generated sources from unwanted system macros (#39266)
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39483 [Backport][v1.72.x] Protect grpc generated sources from unwanted system macros (#39266)
  src/compiler/cpp_generator.cc
Labels: lang/c++, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39504 [Backport][v1.72.x] Fix Python 3.12 MacOS release artifact (#39418)
  requirements.txt
  src/python/grpcio_channelz/setup.py
  src/python/grpcio_csds/setup.py
  src/python/grpcio_csm_observability/setup.py
  src/python/grpcio_health_checking/setup.py
  src/python/grpcio_reflection/setup.py
  src/python/grpcio_status/setup.py
  src/python/grpcio_testing/setup.py
  src/python/grpcio_tests/setup.py
  tools/distrib/docgen/requirements.docs.lock
  tools/distrib/python/grpcio_tools/setup.py
  tools/distrib/python/xds_protos/setup.py
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/internal_ci/macos/grpc_run_tests_matrix.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39511 [github] mark config_vars.{h,cc} as auto-generated
  .gitattributes
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39346 Add new Python specific Bazel compiler option to include GRPC_DO_NOT_INSTANTIATE_POSIX_POLLER build define in Bazel tests
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.client
  src/python/grpcio_tests/tests_py3_only/interop/Dockerfile.server
  tools/bazel.rc
  tools/internal_ci/linux/grpc_python_bazel_test_fork_in_docker.sh
  tools/internal_ci/linux/grpc_python_bazel_test_in_docker.sh
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39564 [Backport][v1.71.x][PSM interop] adds kokoro config files for cloud run csm inbound tests #38958
  tools/internal_ci/linux/psm-cloud-run-python.cfg
  tools/internal_ci/linux/psm-cloud-run.cfg
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39566 [Backport][v1.69.x][PSM interop] adds kokoro config files for cloud run csm inbound tests (#38958)
  tools/internal_ci/linux/psm-cloud-run-python.cfg
  tools/internal_ci/linux/psm-cloud-run.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39565 [Backport][v1.70.x][PSM interop] adds kokoro config files for cloud run csm inbound tests (#38958)
  tools/internal_ci/linux/psm-cloud-run-python.cfg
  tools/internal_ci/linux/psm-cloud-run.cfg
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39548 [CI] Timeout=90min for linux/grpc_basictests_ruby
  tools/internal_ci/linux/grpc_basictests_ruby.cfg
Labels: lang/ruby, area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39560 [Python] GitHub templates: assign python team instead of individuals
  .github/ISSUE_TEMPLATE/bug_report_python.md
  .github/ISSUE_TEMPLATE/feature_request_python.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#37779 [Documentation] Create docker file for xds example server and client for Python
  examples/python/xds/BUILD.bazel
  examples/python/xds/Dockerfile.client
  examples/python/xds/Dockerfile.server
  examples/python/xds/README.md
Labels: area/documentation, lang/Python, release notes: no

#39417 Update Github Issue assignees for Python team
  .github/ISSUE_TEMPLATE/bug_report_python.md
  .github/ISSUE_TEMPLATE/feature_request_python.md
Labels: release notes: no, area/infra, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39635 [Backport][v1.73.x][Python] Fix Python Linux distribtests copy conflicts (#39558)
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/artifacts/package_targets.py
  tools/run_tests/task_runner.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39632 [Backport][v1.72.x][Python] Pin Cython to 3.1.1 (#39609)
  requirements.txt
  setup.py
  templates/tools/dockerfile/python_pip_builds.include
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/distrib/docgen/requirements.docs.lock
  tools/distrib/install_all_python_modules.sh
  tools/dockerfile/grpc_artifact_python_linux_armv7/install_python_for_wheel_crosscompilation.sh
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x64.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x86.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x86/Dockerfile
  tools/internal_ci/helper_scripts/requirements.macos.txt
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_artifact_python.bat
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39634 [Backport][v1.72.x][Python] Fix Python Linux distribtests copy conflicts (#39558)
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/artifacts/package_targets.py
  tools/run_tests/task_runner.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39637 [Backport][v1.71.x][Python] Fix Python Linux distribtests copy conflicts (#39558)
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_package_python.sh
  tools/run_tests/artifacts/package_targets.py
  tools/run_tests/task_runner.py
Labels: lang/Python, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39643 [Release] Bump version to 1.73.0-pre1 (on v1.73.x branch)
  BUILD
  CMakeLists.txt
  MODULE.bazel
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39655 Fix Python linux distribtest for aarch64_alpine target and enable for presubmit test (v1.73.x backport)
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/Python, area/packaging & distribution, release notes: no

#39636 [Backport][v1.71.x][Python] Pin Cython to 3.1.1 (#39609)
  requirements.txt
  setup.py
  templates/tools/dockerfile/python_pip_builds.include
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/distrib/docgen/requirements.docs.lock
  tools/distrib/install_all_python_modules.sh
  tools/dockerfile/grpc_artifact_python_linux_armv7/install_python_for_wheel_crosscompilation.sh
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x64.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x86.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_1_x86/Dockerfile
  tools/internal_ci/helper_scripts/requirements.macos.txt
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/run_tests/artifacts/build_artifact_python.bat
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_python.sh
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39687 [ruby] update image tags
  tools/bazelify_tests/dockerimage_current_versions.bzl
Labels: lang/ruby, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39689 Fix Python linux distribtest for aarch64_alpine target and enable for presubmit test (v1.71.x backport)
  tools/internal_ci/linux/grpc_distribtests_python.sh
  tools/run_tests/artifacts/distribtest_targets.py
Labels: lang/Python, area/packaging & distribution, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39715 [Backport][v1.72]Added #defined to force disable secure_getenv (#39343)
  src/core/BUILD
  src/core/util/linux/env.cc
  tools/internal_ci/linux/grpc_env_check.sh
  tools/internal_ci/linux/grpc_examples_tests_cpp.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39716 [Backport][v1.71]Added #defined to force disable secure_getenv (#39343)
  src/core/BUILD
  src/core/util/linux/env.cc
  tools/internal_ci/linux/grpc_env_check.sh
  tools/internal_ci/linux/grpc_examples_tests_cpp.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39721 [Release] Bump version to 1.73.0-pre2 (on v1.73.x branch)
  BUILD
  CMakeLists.txt
  MODULE.bazel
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
