Repository grpc/grpc, pull requests merged in 2025-04, with the labels that each got.

#39193 [Cherry-pick to 1.72.x] Added protobuf_allow_msvc=true for BCR presubmit
  .bcr/presubmit.yml
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39192 [CI] Added protobuf_allow_msvc=true for BCR presubmit
  .bcr/presubmit.yml
Labels: area/test, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39228 [Backport-v1.72.x] Added a flag to build with openssl instead of boringssl.
  .bcr/presubmit.yml
  MODULE.bazel
  bazel/grpc_deps.bzl
  templates/MODULE.bazel.template
  third_party/BUILD
  tools/bazelify_tests/test/bazel_build_with_bzlmod_linux.sh
  tools/buildgen/extract_metadata_from_bazel_xml.py
  tools/run_tests/sanity/check_bazel_workspace.py
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39270 [Release] Bump version to 1.72.0 (on v1.72.x branch)
  BUILD
  CMakeLists.txt
  MODULE.bazel
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no

#39296 [Backport][1.72.x][EventEngine] Fix busy loop in thread pool when shutting down (#39258)
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39301 [CI] PHP build setup changes for MacOs Sonoma (v1.72.x backport)
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39302 [CI] Python migrate MacOS Sonoma (v1.72.x backport)
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39319 [Backport][1.68.x][EventEngine] Fix busy loop in thread pool when shutting down (#39258)
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39315 [Backport][1.71.x][EventEngine] Fix busy loop in thread pool when shutting down (#39258)
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#39314 [backport][v1.71.x][RLS] fix use-after-free from accessing config after LB policy shutdown (#39303)
  src/core/load_balancing/rls/rls.cc
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39316 [RLS] fix use-after-free from accessing config after LB policy shutdown (v1.72.x backport)
  src/core/load_balancing/rls/rls.cc
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39318 [Backport][1.69.x][EventEngine] Fix busy loop in thread pool when shutting down (#39258)
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39320 [Backport][v1.67.x][EventEngine] Fix busy loop in thread pool when shutting down (#39258)
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
Labels: lang/core, release notes: yes, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39323 [backport][v1.71.x][CI] Migration of Macos CI to sonoma-apple-silicon vm - 1 (#38967)
  .gitignore
  src/core/lib/address_utils/sockaddr_utils.cc
  test/distrib/cpp/run_distrib_test_cmake_pkgconfig.sh
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/requirements.macos.txt
  tools/internal_ci/macos/grpc_distribtests_python.sh
  tools/internal_ci/macos/grpc_interop_toprod.sh
  tools/internal_ci/macos/grpc_objc_bazel_test.sh
  tools/internal_ci/macos/grpc_run_bazel_c_cpp_tests.sh
  tools/internal_ci/macos/grpc_run_bazel_isolated_tests.sh
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/artifacts/build_artifact_python.sh
  tools/run_tests/helper_scripts/build_cxx.sh
  tools/run_tests/helper_scripts/build_ruby.sh
Labels: lang/core, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39330 Increase timeout for dualstack test to 240 minutes (v1.71.x backport)
  tools/internal_ci/linux/psm-dualstack.cfg
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#39335 Increase timeout for dualstack test to 240 minutes (v1.66.x backport)
  tools/internal_ci/linux/psm-dualstack.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39334 Increase timeout for dualstack test to 240 minutes (v1.67.x backport)
  tools/internal_ci/linux/psm-dualstack.cfg
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39333 Increase timeout for dualstack test to 240 minutes (v1.68.x backport)
  tools/internal_ci/linux/psm-dualstack.cfg
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#39332 Increase timeout for dualstack test to 240 minutes (v1.69.x backport)
  tools/internal_ci/linux/psm-dualstack.cfg
Labels: release notes: no, bloat/none, per-call-memory/increase, per-channel-memory/neutral

#39331 Increase timeout for dualstack test to 240 minutes (v1.70.x backport)
  tools/internal_ci/linux/psm-dualstack.cfg
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39387 [Backport][v1.66.x][CI] Migration of Macos CI to sonoma-apple-silicon vm - 1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/requirements.macos.txt
Labels: release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39386 [Backport][v1.67.x][CI] Migration of Macos CI to sonoma-apple-silicon vm - 1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/requirements.macos.txt
Labels: lang/core, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39383 [Backport][v1.69.x][CI] Migration of Macos CI to sonoma-apple-silicon vm - 1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/requirements.macos.txt
Labels: bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39382 [Backport][v1.70.x][CI] Migration of Macos CI to sonoma-apple-silicon vm - 1
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.cc
  src/core/lib/event_engine/thread_pool/work_stealing_thread_pool.h
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/helper_scripts/requirements.macos.txt
Labels: lang/core, release notes: no, bloat/none, per-call-memory/decrease, per-channel-memory/neutral

#39436 [Backport][v1.70.x][CI] Used VS2022 for Windows/build_artifact_protoc
  tools/run_tests/artifacts/build_artifact_protoc.bat
Labels: bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#39437 [Backport][v1.70.x][CI] PHP build setup changes for MacOs Sonoma
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
Labels: bloat/none, per-call-memory/decrease, per-channel-memory/neutral
