Repository grpc/grpc, pull requests merged in 2025-09, with the labels that each got.

#40637 [Backport][v1.75.x][Python][Support 3.14] Enable Python 3.14 interpreters for distribtests
  templates/tools/dockerfile/ccache_crosscompile.include
  templates/tools/dockerfile/compile_python_314.include
  templates/tools/dockerfile/grpc_artifact_python_linux_armv7/Dockerfile.inja
  templates/tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile.inja
  templates/tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile.inja
  templates/tools/dockerfile/python_pip_builds.include
  templates/tools/dockerfile/test/python_debian11_default_x64/Dockerfile.inja
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/dockerfile/grpc_artifact_python_linux_armv7.current_version
  tools/dockerfile/grpc_artifact_python_linux_armv7/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86.current_version
  tools/dockerfile/grpc_artifact_python_manylinux2014_x86/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_2_aarch64.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_2_aarch64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_2_x64.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_2_x64/Dockerfile
  tools/dockerfile/grpc_artifact_python_musllinux_1_2_x86.current_version
  tools/dockerfile/grpc_artifact_python_musllinux_1_2_x86/Dockerfile
  tools/dockerfile/test/python_debian11_default_x64.current_version
  tools/dockerfile/test/python_debian11_default_x64/Dockerfile
  tools/internal_ci/helper_scripts/install_python_interpreters.ps1
  tools/internal_ci/helper_scripts/prepare_build_macos_rc
  tools/internal_ci/macos/grpc_distribtests_python.sh
Labels: release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#40726 [Backport][v1.75.x][Python][Support 3.14] Enable 3.14 supported wheels
  MODULE.bazel
  build_handwritten.yaml
  src/python/grpcio/python_version.py
  src/python/grpcio_admin/python_version.py
  src/python/grpcio_channelz/python_version.py
  src/python/grpcio_csds/python_version.py
  src/python/grpcio_csm_observability/python_version.py
  src/python/grpcio_health_checking/python_version.py
  src/python/grpcio_observability/python_version.py
  src/python/grpcio_reflection/python_version.py
  src/python/grpcio_status/python_version.py
  src/python/grpcio_tests/tests/unit/_dynamic_stubs_test.py
  src/python/grpcio_tests/tests_aio/unit/init_test.py
  src/python/grpcio_tests/tests_aio/unit/outside_init_test.py
  templates/MODULE.bazel.inja
  tools/bazelify_tests/dockerimage_current_versions.bzl
  tools/bazelify_tests/test/BUILD
  tools/bazelify_tests/test/build_artifact_python_linux_x64_cp314.sh
  tools/distrib/python/grpcio_tools/grpc_tools/python_version.py
  tools/distrib/python/grpcio_tools/python_version.py
  tools/distrib/python/xds_protos/python_version.py
  tools/dockerfile/distribtest/python_alpine_aarch64.current_version
  tools/dockerfile/distribtest/python_alpine_aarch64/Dockerfile
  tools/run_tests/artifacts/artifact_targets.py
  tools/run_tests/run_tests.py
Labels: lang/Python, release notes: yes, bloat/none, per-call-memory/neutral, per-channel-memory/neutral

#40798 [Release] Bump version to 1.76.0-pre1 (on v1.76.x branch)
  BUILD
  CMakeLists.txt
  MODULE.bazel
  Makefile
  _metadata.py
  build_handwritten.yaml
  config.m4
  doc/g_stands_for.md
  gRPC-C++.podspec
  gRPC-Core.podspec
  gRPC-ProtoRPC.podspec
  gRPC-RxLibrary.podspec
  gRPC.podspec
  include/grpcpp/version_info.h
  package.xml
  src/csharp/build/dependencies.props
  src/objective-c/!ProtoCompiler-gRPCCppPlugin.podspec
  src/objective-c/!ProtoCompiler-gRPCPlugin.podspec
  src/objective-c/GRPCClient/version.h
  src/objective-c/tests/version.h
  src/php/ext/grpc/version.h
  src/python/grpcio/grpc/_grpcio_metadata.py
  src/python/grpcio/grpc_version.py
  src/python/grpcio_admin/grpc_version.py
  src/python/grpcio_channelz/grpc_version.py
  src/python/grpcio_csds/grpc_version.py
  src/python/grpcio_csm_observability/grpc_version.py
  src/python/grpcio_health_checking/grpc_version.py
  src/python/grpcio_observability/grpc_version.py
  src/python/grpcio_reflection/grpc_version.py
  src/python/grpcio_status/grpc_version.py
  src/python/grpcio_testing/grpc_version.py
  src/python/grpcio_tests/grpc_version.py
  src/ruby/lib/grpc/version.rb
  src/ruby/nativedebug/version.rb
  src/ruby/tools/version.rb
  tools/distrib/python/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_tools/grpc_version.py
  tools/distrib/python/grpcio_tools/grpc_version.py
  tools/distrib/python/xds_protos/grpc_version.py
  tools/doxygen/Doxyfile.c++
  tools/doxygen/Doxyfile.c++.internal
  tools/doxygen/Doxyfile.objc
  tools/doxygen/Doxyfile.objc.internal
  tools/doxygen/Doxyfile.php
Labels: lang/c++, lang/php, lang/ruby, lang/Python, lang/C#, lang/ObjC, release notes: no, bloat/none, per-call-memory/neutral, per-channel-memory/neutral
